{
    "openapi": "3.0.1",
    "info": {
        "title": "Url Redirects",
        "description": "URL redirect operations",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "PROFESSIONAL",
            "cms": "STARTER"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "Redirect one page to another, or redirect an entire blog with one URL using flexible pattern variables.",
        "x-hubspot-related-documentation": [
            {
                "name": "URL Redirects Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/cms/url-redirects"
            }
        ],
        "x-hubspot-introduction": "Use the URL redirects API to redirect traffic from a HubSpot-hosted page or blog post to any URL. You can redirect pages to specific URLs or use flexible pattern redirects to redirect multiple pages using variables. Learn more about managing redirects in HubSpot."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Redirects"
        }
    ],
    "paths": {
        "/cms/v3/url-redirects/": {
            "get": {
                "tags": ["Redirects"],
                "summary": "Get current redirects",
                "description": "Returns all existing URL redirects. Results can be limited and filtered by creation or updated date.",
                "operationId": "get-/cms/v3/url-redirects/_getPage",
                "parameters": [
                    {
                        "name": "createdAt",
                        "in": "query",
                        "description": "Only return redirects created on exactly this date.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "Only return redirects created after this date.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Only return redirects created before this date.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAt",
                        "in": "query",
                        "description": "Only return redirects last updated on exactly this date.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAfter",
                        "in": "query",
                        "description": "Only return redirects last updated after this date.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedBefore",
                        "in": "query",
                        "description": "Only return redirects last updated before this date.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of result per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalUrlMappingForwardPaging"
                                },
                                "example": {
                                    "total": 2,
                                    "results": [
                                        {
                                            "id": "3212223134",
                                            "createdAt": "2017-07-24T17:24:09.141Z",
                                            "updatedAt": "2017-07-24T17:24:09.141Z",
                                            "routePrefix": "http://test.hs-sites.com/(?P<page_slug>.*)",
                                            "destination": "http://www.example.online/{page_slug}",
                                            "redirectStyle": 301,
                                            "isOnlyAfterNotFound": true,
                                            "isMatchFullUrl": true,
                                            "isMatchQueryString": false,
                                            "isPattern": false,
                                            "isTrailingSlashOptional": true,
                                            "isProtocolAgnostic": true,
                                            "precedence": 3
                                        },
                                        {
                                            "id": "3212242073",
                                            "createdAt": "2017-07-25T15:42:06.410Z",
                                            "updatedAt": "2017-07-25T15:42:06.410Z",
                                            "routePrefix": "/mytest/(?P<page_slug>.*)",
                                            "destination": "/newtest/{page_slug}",
                                            "redirectStyle": 301,
                                            "isOnlyAfterNotFound": true,
                                            "isMatchFullUrl": true,
                                            "isMatchQueryString": false,
                                            "isPattern": false,
                                            "isTrailingSlashOptional": true,
                                            "isProtocolAgnostic": true,
                                            "precedence": 999999993
                                        }
                                    ],
                                    "paging": {
                                        "next": {
                                            "after": "Mg%3D%3D",
                                            "link": "https://api.hubspot.com/cms/v3/url-redirects?after=Mg%3D%3D"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "post": {
                "tags": ["Redirects"],
                "summary": "Create a redirect",
                "description": "Creates and configures a new URL redirect.",
                "operationId": "post-/cms/v3/url-redirects/_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UrlMappingCreateRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlMapping"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/url-redirects/{urlRedirectId}": {
            "get": {
                "tags": ["Redirects"],
                "summary": "Get details for a redirect",
                "description": "Returns the details for a single existing URL redirect by ID.",
                "operationId": "get-/cms/v3/url-redirects/{urlRedirectId}_getById",
                "parameters": [
                    {
                        "name": "urlRedirectId",
                        "in": "path",
                        "description": "The ID of the target redirect.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlMapping"
                                },
                                "example": {
                                    "id": "3212223134",
                                    "createdAt": "2017-07-24T17:24:09.141Z",
                                    "updatedAt": "2017-07-24T17:24:09.141Z",
                                    "routePrefix": "http://test.hs-sites.com/(?P<page_slug>.*)",
                                    "destination": "http://www.example.online/{page_slug}",
                                    "isOnlyAfterNotFound": true,
                                    "isMatchFullUrl": true,
                                    "isMatchQueryString": false,
                                    "isPattern": false,
                                    "isTrailingSlashOptional": true,
                                    "isProtocolAgnostic": true
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "delete": {
                "tags": ["Redirects"],
                "summary": "Delete a redirect",
                "description": "Delete one existing redirect, so it is no longer mapped.",
                "operationId": "delete-/cms/v3/url-redirects/{urlRedirectId}_archive",
                "parameters": [
                    {
                        "name": "urlRedirectId",
                        "in": "path",
                        "description": "The ID of the target redirect.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Delete succeeded",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "patch": {
                "tags": ["Redirects"],
                "summary": "Update a redirect",
                "description": "Updates the settings for an existing URL redirect.",
                "operationId": "patch-/cms/v3/url-redirects/{urlRedirectId}_update",
                "parameters": [
                    {
                        "name": "urlRedirectId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UrlMapping"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlMapping"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorDetail": {
                "required": ["message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                }
            },
            "UrlMapping": {
                "required": [
                    "destination",
                    "id",
                    "isMatchFullUrl",
                    "isMatchQueryString",
                    "isOnlyAfterNotFound",
                    "isPattern",
                    "isProtocolAgnostic",
                    "isTrailingSlashOptional",
                    "precedence",
                    "redirectStyle",
                    "routePrefix"
                ],
                "type": "object",
                "properties": {
                    "isTrailingSlashOptional": {
                        "type": "boolean",
                        "description": "Whether a trailing slash will be ignored."
                    },
                    "redirectStyle": {
                        "type": "integer",
                        "description": "The type of redirect to create. Options include: 301 (permanent), 302 (temporary), or 305 (proxy). Find more details [here](https://knowledge.hubspot.com/cos-general/how-to-redirect-a-hubspot-page).",
                        "format": "int32"
                    },
                    "isMatchQueryString": {
                        "type": "boolean",
                        "description": "Whether the `routePrefix` should match on the entire URL path, including the query string."
                    },
                    "created": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "isMatchFullUrl": {
                        "type": "boolean",
                        "description": "Whether the `routePrefix` should match on the entire URL, including the domain."
                    },
                    "destination": {
                        "type": "string",
                        "description": "The destination URL, where the target URL should be redirected if it matches the `routePrefix`."
                    },
                    "isOnlyAfterNotFound": {
                        "type": "boolean",
                        "description": "Whether the URL redirect mapping should apply only if a live page on the URL isn't found. If False, the URL redirect mapping will take precedence over any existing page."
                    },
                    "isPattern": {
                        "type": "boolean",
                        "description": "Whether the `routePrefix` should match based on pattern."
                    },
                    "precedence": {
                        "type": "integer",
                        "description": "Used to prioritize URL redirection. If a given URL matches more than one redirect, the one with the **lower** precedence will be used.",
                        "format": "int32"
                    },
                    "routePrefix": {
                        "type": "string",
                        "description": "The target incoming URL, path, or pattern to match for redirection."
                    },
                    "isProtocolAgnostic": {
                        "type": "boolean",
                        "description": "Whether the `routePrefix` should match both HTTP and HTTPS protocols."
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique ID of this URL redirect."
                    },
                    "updated": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage"
                    }
                }
            },
            "UrlMappingCreateRequestBody": {
                "required": ["destination", "redirectStyle", "routePrefix"],
                "type": "object",
                "properties": {
                    "isTrailingSlashOptional": {
                        "type": "boolean"
                    },
                    "isMatchQueryString": {
                        "type": "boolean"
                    },
                    "redirectStyle": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "routePrefix": {
                        "type": "string"
                    },
                    "isMatchFullUrl": {
                        "type": "boolean"
                    },
                    "isProtocolAgnostic": {
                        "type": "boolean"
                    },
                    "destination": {
                        "type": "string"
                    },
                    "isOnlyAfterNotFound": {
                        "type": "boolean"
                    },
                    "isPattern": {
                        "type": "boolean"
                    },
                    "precedence": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "Error": {
                "required": ["category", "correlationId", "message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"],
                            "invalidPropertyName": ["propertyValue"]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": {
                            "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "Invalid input (details will vary based on the error)"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": "VALIDATION_ERROR"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                }
            },
            "NextPage": {
                "required": ["after"],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string"
                    },
                    "after": {
                        "type": "string"
                    }
                }
            },
            "CollectionResponseWithTotalUrlMappingForwardPaging": {
                "required": ["results", "total"],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/UrlMapping"
                        }
                    }
                }
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth2_legacy": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "content": "Read from and write to my Content"
                        }
                    }
                }
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header"
            }
        }
    },
    "x-hubspot-available-client-libraries": ["PHP", "Node", "Ruby", "Python"],
    "x-hubspot-product-tier-requirements": {
        "marketing": "PROFESSIONAL",
        "cms": "STARTER"
    },
    "x-hubspot-documentation-banner": "NONE"
}
