openapi: 3.0.0
info:
  title: Impala Hotel Booking API
  description: |
    This is [Impala API v1.0.0](https://docs.impala.travel/docs/booking-api/branches/v1.003/YXBpOjQwMDYwNDY-impala-hotel-booking-api) OpenAPI specification.  
    The Impala API provides the capability to search, book or sell hotels rooms.
    Add room selling to your app with ease, or expand your existing hotel
    portfolio. Access all the marketing material you need to sell a room, from
    hotel amenities to images. Constantly updated, ever expanding and always
    correct. Impala allows you to start selling hotel rooms and earn a
    commission with every booking in hours.
  x-ballerina-init-description: |
    Create an [Impala](https://impala.travel/signup/) account and obtain tokens using [this guide](https://docs.impala.travel/docs/booking-api/ZG9jOjEwMjE0Mg-book-a-hotel-through-the-api-in-just-5-minutes).
  version: 1.0.0
  x-ballerina-display:
      label: Impala
      iconPath: "icon.png"
servers:
  - url: https://sandbox.impala.travel/v1/
security:
- apiToken: []
components:
  securitySchemes:
    # bearerAuth:
    #   type: http
    #   scheme: bearer
    apiToken:
      type: apiKey
      in: header
      name: x-api-key
      description: "Provide your API Key as Api-Token. Eg: {x-api-key : <Your API Key>}
        Your API key can be found in your account"
  schemas:
    Hotel: 
      title: Hotel
      type: object
      required:
        - hotelId
        - name
        - currency
        - starRating
        - phoneNumbers
        - emails
        - websiteUrl
        - externalUrls
        - images
        - amenities
        - roomTypes
        - roomCount
        - checkIn
        - checkOut
        - contractable
        - termsAndConditions
      properties:
        hotelId:
          type: string
        name:
          type: string
        currency:
          type: string
        starRating:
          type: number
          format: double
        description:
          type: object
          properties:
            short:
              type: string
        contractable:
          type: boolean
        emails:
          type: array
          items:
            type: string
        websiteUrl:
          type: string
          nullable: true
        externalUrls:
          type: array
          items:
            type: object
            properties: 
              name:
                type: string
              url: 
                type: string
        phoneNumbers:
          type: array
          items:
            type: string
        images:
          type: array
          items:
            $ref: "#/components/schemas/Image"
        address:
          type: object
          $ref: "#/components/schemas/Address"
        location:
          type: object
          $ref: "#/components/schemas/Location"
        timezone:
          type: string
        amenities:
          type: array
          items:
            $ref: "#/components/schemas/Amenity"
        roomTypes:
          type: array
          items:
            $ref: "#/components/schemas/RoomTypes"
        roomCount:
          type: number
        termsAndConditions: 
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        checkIn:
          type: object
          properties: 
            from:
              type: string
            to: 
              type: string
        checkOut:
          type: object
          properties: 
            from:
              type: string
            to: 
              type: string
    Image:
      title: Image
      type: object
      required:
        - height
        - width
        - url
      properties:
        altText:
          type: string
          nullable: true
        height:
          type: number
        width:  
          type: number
        url:
          type: string
    Address:
      title: Address
      type: object
      required:
        - line1
        - city
        - country
        - countryName
        - postalCode
      properties: 
        line1:
          type: string
          nullable: true
        line2:
          type: string
          nullable: true
        city:
          type: string
        region: 
          type: string
          nullable: true
        country:
          type: string
        countryName:
          type: string
        postalCode:
          type: string
    Location:
      title: Location
      type: object
      required: 
        - latitude
        - longitude
      properties:
        latitude:
          type: integer
        longitude:
          type: integer
    Amenity:
      title: Amenity
      type: object
      required: 
        - code
        - formatted
      properties:
        code:
          type: number
        formatted:
          type: string
    RoomTypes:
      title: RoomTypes
      type: object
      required:
        - roomTypeId
        - name
        - description
        - maxOccupancy
        - images
        - amenities
      properties:
        roomTypeId:
          type: string
        name: 
          type: string
        description:
          type: string
        maxOccupancy:
          type: integer
        rates: 
          type: array
          items:
            $ref: "#/components/schemas/RoomRate"
        images:
          type: array
          items:
            $ref: "#/components/schemas/Image"
        amenities:
          type: array
          items:
            $ref: "#/components/schemas/Amenity"
    RoomRate:
      title: RoomRate
      type: object
      required: 
        - rateId
        - start
        - end
        - maxOccupancy
        - hotelAgreement
        - retailRate
        - sellerCommissionPercentage
        - components
        - cancellationPolicies
      properties:
        rateId:
          type: string
        start:  
          type: string
        end:
          type: string
        maxOccupancy:
          type: integer
        retailRate:
          type: object
          properties: 
            total: 
              type: object
              $ref: "#/components/schemas/Money"
            taxesAndFees:
              type: object
              nullable: true
              properties:
                payAtHotel:
                  type: array
                  items:
                    properties:
                      formatted:  
                        type: string
                      category: 
                        type: string
                      charge:
                        type: object
                        $ref: "#/components/schemas/Money"
                includedInRate:
                  type: array
                  items:
                    properties:
                        formatted:  
                          type: string
                        category: 
                          type: string
                        charge:
                          type: object
                          $ref: "#/components/schemas/Money"
        sellerToImpalaPayment:
          type: obejct
          $ref: "#/components/schemas/Money"
        sellerCommissionPercentage:
          type: number
        components: 
          type: array
          items:
            type: object
            properties:
              formatted:
                type: string
              type:
                type: string
              includedInRate:
                type: boolean
        hotelAgreement:
          type: object
          nullable: true
          required:
            - hotelAgreementId
            - dealId
            - specialInstructions
          properties: 
            hotelAgreementId:
              type: string
            dealId: 
              type: string
            conditions:
              type: array
              items:
                type: string
            discount: 
              type: object
              properties: 
                count: 
                  type: number
                type: 
                  type: string
            specialInstructions:
              type: string
            dealsSellable:
              type: object
              properties:
                remaining:
                  type: number
            href:
              type: string
    Booking:
      title: Booking
      type: object
      required:
        - bookingId
        - status
        - start
        - end 
        - hotel 
        - bookedRooms
        - contact 
        - notes 
        - createdAt 
        - updatedAt 
      properties:
        bookingId:
          type: string
        status:
          type: string
        hotelConfirmationCode:
          type: string
          nullable: true
        start:
          type: string
        end: 
          type: string
        hotel:
          type: object
          required:
            - hotelId
            - name
            - starRating 
            - images 
            - address
            - location
          properties:
            hotelId:
              type: string
            name:
              type: string
            currency:
              type: string
            starRating:
              type: number
              format: double
            emails:
              type: array
              items:
                type: string
            phoneNumbers:
              type: array
              items:
                type: string
            images:
              type: array
              items:
                $ref: "#/components/schemas/Image"
            address:
              type: object
              $ref: "#/components/schemas/Address"
            location:
              type: object
              $ref: "#/components/schemas/Location"
            timezone:
              type: string
        bookedRooms:
          type: array
          items: 
            $ref: "#/components/schemas/BookedRooms"
        contact:
          type: object
          $ref: "#/components/schemas/Person"
        notes:
          type: object
          properties:
            fromGuest:
              type: string
              nullable: true 
            fromSeller: 
              type: string
              nullable: true 
        createdAt:
          type: string 
        updatedAt: 
          type: string
        cancellation: 
          type: object
          nullable: true 
          properties: 
            fee: 
              type: object 
              properties: 
                type: 
                  type: string
                count: 
                  type: string
                price: 
                  type: object
                  $ref: "#/components/schemas/Money"
        paymentBearerToken:
          type: string
          nullable: true
        paymentClientSecret:
          type: string
          nullable: true
    BookedRooms:
      title: BookedRooms
      type: object
      required:
        - roomType
        - rate
        - notes
      properties: 
        roomType:
          type: object
          required:
            - roomTypeId
            - name
          properties:
            roomTypeId:
              type: string
            name: 
              type: string
        adults:
          type: integer
        rate: 
          type: object
          required:
            - start
            - end
            - retailRate
            - sellerCommissionPercentage
            - components
            - cancellationPolicies
          properties: 
            start: 
              type: string
            end: 
              type: string
            hotelAgreement: 
              type: object
              $ref: "#/components/schemas/HotelAgreement"
            retailRate:
              type: object
              properties:
                total:
                  type: object
                  $ref: "#/components/schemas/Money"
                taxesAndFees:
                  type: object
                  properties: 
                    payAtHotel:
                      type: array
                      items:
                        properties:
                          formatted:  
                            type: string
                          category: 
                            type: string
                          charge:
                            type: object
                            $ref: "#/components/schemas/Money"
                    includedInRate:
                      type: array
                      items:
                        properties:
                            formatted:  
                              type: string
                            category: 
                              type: string
                            charge:
                              type: object
                              $ref: "#/components/schemas/Money"
            sellerCommissionPercentage:
              type: number
              format: float
            components:
              type: array
              items: 
                properties:
                  formatted: 
                    type: string
                  type:       
                    type: string 
                  includedInRate: 
                    type: boolean
            cancellationPolicies:
              type: array
              items:
                type: object
                properties: 
                  start:
                    type: string
                  end:  
                    type: string
                  formatted:
                    type: string
                  fee: 
                    type: object
                    properties:
                      type: 
                        type: string
                      count:  
                        type: number
                      price: 
                        type: object
                        $ref: "#/components/schemas/Money"
            maxOccupancy:
              type: number
        sellerToImpalaPayment:
          type: object
          $ref: "#/components/schemas/Money"
        notes: 
          type: obejct
          properties:
            fromGuest:
              type: string
              nullable: true
            fromSeller:
              type: string
              nullable: true
    Person:
      type: object
      required: 
        - firstName
        - lastName 
        - email 
        - contanctId 
      properties: 
        firstName:
          type: string
        lastName: 
          type: string
        email: 
          type: string
        contactId: 
          type: string
    Money:
      type: object
      title: Money
      required: 
         - amount
         - currency
      properties: 
        amount:   
          type: integer
        currency:
          type: object
          required:
            - code
          properties: 
            code: 
              type: string
    HotelAgreement: 
      type: object
      title: HotelAgreement
      nullable: true
      required: 
        - hotelAgreementId
        - dealId
        - conditions 
        - specialInstructions 
      properties: 
        hotelAgreementId:
          type: string 
        hotelId:
          type: string 
        hotelAgreementStatus:
          type: string 
        stayDateRanges:
          type: object
          properties:
            start: 
              type: string
            end: 
              type: string
        sellableInDateRanges:
          type: object
          properties:
            start: 
              type: string
            end: 
              type: string
        commission:
          type: string
          nullable: true 
          properties: 
            count: 
              type: number
            type: 
              type: string
        dealId: 
          type: string 
        conditions: 
          type: array
          items:
            type: string
        discount:
          type: object
          properties:
            count:
              type: integer
            type:
              type: string
        specialInstructions: 
          type: string
          nullable: true
        dealsSellable:
          type: object
          properties:
            remaining:
              type: integer
            max: 
              type: number
        href:
          type: string
        lengthOfStay:
          type: object
          title: LengthOfStay
          properties: 
            min: 
              type: integer
            max:  
              type: integer
        cancellationPolicy:
          type: object
          title: CancellationPolicy
          nullable: true
          properties: 
            count: 
              type: number
            type: 
              type: string
        createdAt: 
          type: string 
        updatedAt:  
          type: string        
    Condition: 
      type: object
      required:
        - cancellationDeadline
        - cancellationPolicy
      properties:
        cancellationPolicy:
          type: string
          nullable: true 
        cancellationDeadline:
          type: string
    Adjustment: 
      type: object
      required: 
        - amount
        - type
      properties:
        adjustmentId:
          type: string
        amount:
          type: number
        type: 
          type: string
        conditions: 
          type: object
          properties:
            type: 
              type: string
            rules: 
              type: object
              properties:
                bookableDataRange: 
                  type: object
                  properties:
                    start:  
                      type: string
                    end: 
                      type: string
                nightsRange:
                  type: object
                  properties:
                    min: 
                      type: number
                    max: 
                      type: number
    Restriction:
      type: obejct
      properties: 
        lengthOfStay:
          type: object
          properties:
            min:
              type: number
            max: 
              type: number
    DealRequest:
      type: object
      properties:
        dealRequestId:
          type: string
        dealRequestStatus:
          type: string
        stayDateRanges:
          type: array
          items:
            type: object
            properties: 
              start: 
                type: string
              end: 
                type: string
        sellableInDateRanges:
          type: array
          items: 
            type: object
            properties:
              start: 
                type: string
              end: 
                type: string
        commission:
          type: object
          nullable: true
        discount:
          type: object
        specialInstructions:
          type: string
          nullable: true
        lengthOfStay:
          type: object
          properties: 
            min: 
              type: string
            max:
              type: string
              nullable: true
        cancellationPolicy:
          type: object
          nullable: true
        createdAt:  
          type: string
        updatedAt:  
          type: string
        bookingWindowRestriction:
          type: object
          nullable: true
          properties: 
            minDaysBeforeCheckIn:
              type: number
            maxDaysBeforeCheckIn:
              type: number
        dealType:
          type: string
tags:
  - name: hotels
  - name: hotels > {hotel Id}
  - name: bookings
  - name: bookings > {booking Id}
  - name: deal-requests
  - name: deal-requests > {deal Request Id}
  - name: deal-requests > {deal Request Id} > agreements
paths:
  /hotels/{hotelId}:
    get:
      tags:
        - hotels > {hotel Id}
      summary: Retrieve a hotel
      operationId: getHotel
      description: >-
        Returns the full content, room types and rates for the specified hotel.


        When querying the hotels API you can query with or without dates. Where
        querying with dates requires providing valid values for the `start` and
        `end` parameters. Requests without these values will be considered a
        query without dates.


        **Querying without dates:**


        When you query without dates, the search result will include all
        properties that match your request. Including all content that is
        associated with those properties. However you will find that the `rates`
        attribute for each room will always be empty.


        **Querying with dates:**


        When you query with dates, the search result will include all properties
        that match your request, including all content that is associated with
        those properties. However, hotels with no available rooms will be
        filtered out of the result. For the remaining hotels all rooms will be
        represented within the result regardless of whether they are available.
        Rooms which do not have available prices for the provided dates will
        appear with an empty `rates` array.


        For rooms where there are available prices the `rates` array will
        include both the public rates of the hotel, along with prices that come
        from deals in which you are participating. This would include private
        deals which you have negotiated with a hotel, along with Impala deals
        which you have been verified for.


        Using the `rateId` of any of those rates, you can use the [Create a
        booking](https://docs.impala.travel/docs/booking-api/spec/openapi.seller.yaml/paths/~1bookings/post)
        endpoint to make a booking.
      parameters:
        - name: start
          in: query
          schema:
            type: string
          description: >-
            The arrival day of the desired stay range in ISO 8601 format
            (`YYYY-MM-DD`).
          example: '2021-05-20'
        - name: end
          in: query
          schema:
            type: string
          description: >-
            The departure day of the desired stay range in ISO 8601 format
            (`YYYY-MM-DD`).
          example: '2021-05-22'
        - name: hotelId
          in: path
          schema:
            type: string
          required: true
          description: >-
            (Required) The unique identifier of this hotel on the Impala
            platform.
          example: d3a39e9c-14fe-b399-cacf-f1284a817237
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Hotel"
              example:
                hotelId: 0e25533a-2db2-4894-9db1-4c1ff92d798c
                name: Impala All-Inclusive Always Available Resort (Example Hotel)
                starRating: 5
                description:
                  short: >-
                    This fictional example hotel allows you to experience all
                    the content, rates and features the Impala platform
                    (https://impala.travel) has to offer. Testing with this
                    hotel allows you to experience the full breadth of
                    functionality and rate options hotels might offer on Impala
                    – and to ensure your app displays everything correctly.
                currency: GBP
                websiteUrl: https://impala-all-avaialable-resort.hotel/
                phoneNumbers:
                  - '+48789789789'
                emails:
                  - mail@impala-all-avaialable-resort.hotel
                externalUrls:
                  - name: BOOKING.COM
                    url: https://www.booking.com/hotel/im/impala
                  - name: HOTELS.COM
                    url: https://uk.hotels.com/imp123456/
                images:
                  - altText: null
                    height: 1536
                    width: 2884
                    url: >-
                      https://cdn.impala.travel/properties/ckiuattho00013e6ar0tiilgt.jpg
                    isHeroImage: true
                  - altText: null
                    height: 2461
                    width: 3072
                    url: >-
                      https://cdn.impala.travel/properties/ckiuavcvm00023e6aordygdiy.jpg
                    isHeroImage: false
                  - altText: null
                    height: 3640
                    width: 2912
                    url: >-
                      https://cdn.impala.travel/properties/ckiuavvr100033e6ajep6w5dl.jpg
                    isHeroImage: false
                  - altText: null
                    height: 2848
                    width: 4288
                    url: >-
                      https://cdn.impala.travel/properties/ckiuawdeo00043e6ajyqc70nm.jpg
                    isHeroImage: false
                  - altText: null
                    height: 3072
                    width: 4608
                    url: >-
                      https://cdn.impala.travel/properties/ckiuawt9y00053e6a76l0qgqe.jpg
                    isHeroImage: false
                address:
                  line1: 456 Impala Street
                  line2: null
                  city: Impalaland
                  postalCode: 0987-654
                  region: Impalaland Beach
                  country: GBR
                  countryName: United Kingdom of Great Britain and Northern Ireland
                location:
                  longitude: -9.952549
                  latitude: 58.386186
                amenities:
                  - code: 5
                    formatted: Air conditioning
                  - code: 7
                    formatted: ATM/Cash machine
                  - code: 8
                    formatted: Baby sitting
                  - code: 9
                    formatted: BBQ/Picnic area
                  - code: 14
                    formatted: Business library
                  - code: 16
                    formatted: Casino
                  - code: 22
                    formatted: Concierge desk
                roomTypes:
                  - roomTypeId: 7b4e914f-0551-4fdc-b349-db3c32c5afed
                    name: Single Room
                    description: >-
                      This is a fictional example room type that you can use to
                      test all the features you might encounter on any hotel
                      available on the Impala platform on the Impala platform
                      (https://impala.travel). Testing with this room type means
                      your app or site will be able to handle any values that
                      you might find on Impala.
                    maxOccupancy: 1
                    rates:
                      - rateId: >-
                          b0e2ec0fa2ae1b3697f467393558a69a:474f39c17490c46b4e622da1bffbd5c1
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 10500
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Non-refundable after March 11, 2021 00:23
                            start: '2021-03-11 00:23:35.718'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 10500
                                currency:
                                  code: EUR
                        notes:
                          fromGuest: ''
                          fromSeller: ''
                      - rateId: >-
                          17b005e4c35575b654171d4589191b5d:bd277330e925805cad8686093554efe5
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 12600
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.718'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 12600
                                currency:
                                  code: EUR
                      - rateId: >-
                          058e478777fe3b4248670c6d6be3722c:06bbe6754161b5991e02e51849c6ae83
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 9975
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Non-refundable after March 11, 2021 00:23
                            start: '2021-03-11 00:23:35.718'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 9975
                                currency:
                                  code: EUR
                      - rateId: >-
                          38143de2077774891c4f136d86ce817a:7fa93ac18e3851dec34dead83648148f
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 11970
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.718'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 11970
                                currency:
                                  code: EUR
                    amenities:
                      - code: 11
                        formatted: Bathroom amenities (free toiletries)
                      - code: 15
                        formatted: Bath or Shower
                      - code: 28
                        formatted: Desk
                      - code: 50
                        formatted: Hairdryer
                      - code: 69
                        formatted: Minibar
                      - code: 85
                        formatted: Private bathroom
                      - code: 123
                        formatted: Wireless internet connection
                      - code: 144
                        formatted: Soundproofed room
                      - code: 210
                        formatted: Satellite television
                      - code: 228
                        formatted: Slippers
                    images:
                      - altText: null
                        height: 3255
                        width: 4890
                        url: >-
                          https://cdn.impala.travel/area-types/ckiub6h8c00093e6ag7kufw24.jpg
                  - roomTypeId: 280b6f5a-c645-44c0-a63d-03f1d7bc3d55
                    name: Junior Suite
                    description: >-
                      This is a fictional example room type that you can use to
                      test all the features you might encounter on any hotel
                      available on the Impala platform on the Impala platform
                      (https://impala.travel). Testing with this room type means
                      your app or site will be able to handle any values that
                      you might find on Impala.
                    maxOccupancy: 2
                    rates:
                      - rateId: >-
                          b815b95a5b6a847b7b0c09c1a9ea5827:77a228b50273fad2c224468c91739c3c
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 2
                        retailRate:
                          total:
                            amount: 31500
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.719'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 31500
                                currency:
                                  code: EUR
                      - rateId: >-
                          bcd9e5f11c6e747374d63d635b6f2d07:f5d244b004c18e3fef40606f83b72e76
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 28875
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.719'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 28875
                                currency:
                                  code: EUR
                      - rateId: >-
                          e3d5af44011974bf705e792735778b44:88853f3b36a97a6adf8009d97102ad79
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 2
                        retailRate:
                          total:
                            amount: 29925
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.719'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 29925
                                currency:
                                  code: EUR
                      - rateId: >-
                          5c0db8cb17c9e5316b2a62bda48f1dd4:39b27339fc838dfbfc48216e22a8ce44
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 27431.25
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.719'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 27431.25
                                currency:
                                  code: EUR
                    amenities:
                      - code: 228
                        formatted: Slippers
                      - code: 144
                        formatted: Soundproofed room
                      - code: 210
                        formatted: Satellite television
                      - code: 11
                        formatted: Bathroom amenities (free toiletries)
                      - code: 15
                        formatted: Bath or Shower
                      - code: 28
                        formatted: Desk
                      - code: 50
                        formatted: Hairdryer
                      - code: 69
                        formatted: Minibar
                      - code: 85
                        formatted: Private bathroom
                      - code: 123
                        formatted: Wireless internet connection
                    images:
                      - altText: null
                        height: 3024
                        width: 4032
                        url: >-
                          https://cdn.impala.travel/area-types/ckiub0igb00063e6am6q2b0w3.jpg
                  - roomTypeId: 8cb8ce9e-221a-4220-a358-35b6852fb359
                    name: Double Room
                    description: >-
                      This is a fictional example room type that you can use to
                      test all the features you might encounter on any hotel
                      available on the Impala platform on the Impala platform
                      (https://impala.travel). Testing with this room type means
                      your app or site will be able to handle any values that
                      you might find on Impala.
                    maxOccupancy: 2
                    rates:
                      - rateId: >-
                          470a4b225742d213e9182a8ca650fe61:7b5f9d774a96e402438537b1e73fcfe5
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 2
                        retailRate:
                          total:
                            amount: 14700
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Non-refundable after March 11, 2021 00:23
                            start: '2021-03-11 00:23:35.719'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 14700
                                currency:
                                  code: EUR
                      - rateId: >-
                          19ba73ba97cda6d3febfe533acc25ba1:338e5ff8073767a23fdf0edc4cec1892
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 15750
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.719'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 15750
                                currency:
                                  code: EUR
                      - rateId: >-
                          e7df0bcb2d335124b609ad188b1c364d:7bee69f1eafb714cadcbd90bd06cf66d
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 2
                        retailRate:
                          total:
                            amount: 16800
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.719'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 16800
                                currency:
                                  code: EUR
                      - rateId: >-
                          2463f0474c058652951adbefd3bc8ff2:f2873919bedce820524ded4e2947e9b5
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 13650
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Non-refundable after March 11, 2021 00:23
                            start: '2021-03-11 00:23:35.719'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 13650
                                currency:
                                  code: EUR
                      - rateId: >-
                          022166b0c439dc27b83a96be5e561d97:fc7b648edf136c63b7114a2d13bfc02d
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 2
                        retailRate:
                          total:
                            amount: 13965
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Non-refundable after March 11, 2021 00:23
                            start: '2021-03-11 00:23:35.719'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 13965
                                currency:
                                  code: EUR
                      - rateId: >-
                          35a9baa5068ba59163e930b14af4949b:bf061e368daac6ac9d57172d91f01f1b
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 14962.5
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.720'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 14962.5
                                currency:
                                  code: EUR
                      - rateId: >-
                          caf9b66563911b0e1525debcd9cf0ada:6fa29977e8403d97cfca5f6dcd6da6eb
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 2
                        retailRate:
                          total:
                            amount: 15960
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.720'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 15960
                                currency:
                                  code: EUR
                      - rateId: >-
                          891394f48e8ab2f406f4a9087c840768:933a218d184e74c5a67a59a649f4285f
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 12967.5
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Non-refundable after March 11, 2021 00:23
                            start: '2021-03-11 00:23:35.720'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 12967.5
                                currency:
                                  code: EUR
                    amenities:
                      - code: 2
                        formatted: Air conditioning
                      - code: 228
                        formatted: Slippers
                      - code: 210
                        formatted: Satellite television
                      - code: 144
                        formatted: Soundproofed room
                      - code: 123
                        formatted: Wireless internet connection
                      - code: 85
                        formatted: Private bathroom
                      - code: 69
                        formatted: Minibar
                      - code: 50
                        formatted: Hairdryer
                      - code: 28
                        formatted: Desk
                      - code: 15
                        formatted: Bath or Shower
                      - code: 11
                        formatted: Bathroom amenities (free toiletries)
                    images:
                      - altText: null
                        height: 6000
                        width: 4000
                        url: >-
                          https://cdn.impala.travel/area-types/ckiub4vym00083e6amqnt3a6u.jpg
                  - roomTypeId: 1bd16eed-e10f-47f6-8f28-67c40deb4f3b
                    name: Presidential Suite
                    description: >-
                      This is a fictional example room type that you can use to
                      test all the features you might encounter on any hotel
                      available on the Impala platform on the Impala platform
                      (https://impala.travel). Testing with this room type means
                      your app or site will be able to handle any values that
                      you might find on Impala.
                    maxOccupancy: 4
                    rates:
                      - rateId: >-
                          42efaad56d0f614f5cc65e0c5c30669f:1866b6b4e0b2ca054a68ee58565fc6e9
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 2
                        retailRate:
                          total:
                            amount: 47250
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.720'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 47250
                                currency:
                                  code: EUR
                      - rateId: >-
                          2fb14f477f41541d5598b61aab21f1b4:afc6e4cfb689d05fd17e9780be16af9d
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 2
                        retailRate:
                          total:
                            amount: 42000
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Non-refundable after March 11, 2021 00:23
                            start: '2021-03-11 00:23:35.720'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 42000
                                currency:
                                  code: EUR
                      - rateId: >-
                          896624e8d1733cf9f533d58080b0f217:f77b2b8805413ec948c3f609eb241c33
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 44625
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.720'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 44625
                                currency:
                                  code: EUR
                      - rateId: >-
                          0fc4232f1726473c3f12c99849262e84:3fca5c554e779783c73a5ea293da831f
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 39900
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 10
                        components: []
                        cancellationPolicies:
                          - formatted: Non-refundable after March 11, 2021 00:23
                            start: '2021-03-11 00:23:35.720'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 39900
                                currency:
                                  code: EUR
                      - rateId: >-
                          1471020e7f634138b7088a081e45231a:15006e156c471ef4a22d38fee7f84c68
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 2
                        retailRate:
                          total:
                            amount: 44887.5
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.720'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 44887.5
                                currency:
                                  code: EUR
                      - rateId: >-
                          23888f2637881fed0fb1253d2ebeace6:a844bb82cab7f71f0514a7d458dfec99
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 2
                        retailRate:
                          total:
                            amount: 39900
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Non-refundable after March 11, 2021 00:23
                            start: '2021-03-11 00:23:35.720'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 39900
                                currency:
                                  code: EUR
                      - rateId: >-
                          bacf1877347d8936da6ea4b9609f2e06:3b8938ba186b5788dae45a868d1a5228
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 42393.75
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                          deal:
                            dealId: D3
                            conditions: []
                            discount:
                              type: PERCENTAGE
                              count: 5
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Fully refundable until June 28, 2021 23:59
                            start: '2021-03-11 00:23:35.720'
                            end: '2021-06-28 23:59:59.999'
                            fee:
                              type: NONE
                              price:
                                amount: 0
                                currency:
                                  code: EUR
                          - formatted: Non-refundable after June 29, 2021 00:00
                            start: '2021-06-29 00:00:00.000'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 42393.75
                                currency:
                                  code: EUR
                      - rateId: >-
                          7f1f053b76157a70e19cade3e38fd763:8f82c19071c9f4d12f5bdf92e181c140
                        start: '2021-07-01'
                        end: '2021-07-02'
                        maxOccupancy: 1
                        retailRate:
                          total:
                            amount: 37905
                            currency:
                              code: EUR
                          taxesAndFees:
                            includedInRate: []
                            payAtHotel: []
                        sellerCommissionPercentage: 15
                        components: []
                        cancellationPolicies:
                          - formatted: Non-refundable after March 11, 2021 00:23
                            start: '2021-03-11 00:23:35.720'
                            fee:
                              type: PERCENTAGE
                              count: 100
                              price:
                                amount: 37905
                                currency:
                                  code: EUR
                    amenities:
                      - code: 228
                        formatted: Slippers
                      - code: 144
                        formatted: Soundproofed room
                      - code: 123
                        formatted: Wireless internet connection
                      - code: 85
                        formatted: Private bathroom
                      - code: 69
                        formatted: Minibar
                      - code: 50
                        formatted: Hairdryer
                      - code: 28
                        formatted: Desk
                      - code: 15
                        formatted: Bath or Shower
                      - code: 11
                        formatted: Bathroom amenities (free toiletries)
                    images:
                      - altText: null
                        height: 4480
                        width: 6720
                        url: >-
                          https://cdn.impala.travel/area-types/ckiub3dw100073e6alkifv3ok.jpg
                roomCount: 200
                checkIn:
                  from: '15:00'
                checkOut:
                  to: '12:00'
                termsAndConditions: ''
                createdAt: '2020-12-18T13:29:22.865Z'
                updatedAt: '2021-02-17T09:07:41.615Z'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                code: VALIDATION_ERROR
                message: >-
                  "start" must be in YYYY-MM-DD format. "foo" is not allowed.
                  "lorem" missing required peer "ipsum"
                validations:
                  - message: '"start" must be in YYYY-MM-DD format'
                    code: DATE_FORMAT
                    property: start
                  - message: '"foo" is not allowed'
                    code: OBJECT_UNKNOWN
                    property: foo
                  - message: '"lorem" missing required peer "ipsum"'
                    code: OBJECT_WITH
                    property: lorem
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                message: No API key found in request
        '403':
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                message: Forbidden resource
        '500':
          description: Internal Server Error
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                message: Internal Server Error
  /hotels/{hotelId}/rate-plans:
    get:
      tags:
        - hotels > {hotel Id}
      summary: List all rate plans (rate calendar) for a hotel (Beta endpoint)
      operationId: listRatePlans
      description: >-
        Returns a list of all rate plans available for you for a hotel.


        Rate plans are products the hotel is offering. They typically consist of
        a combination of restrictiveness in case of cancellations or changes,
        the time they're bookable, minimum or maximum length of stay
        restrictions (e.g. week-long bookings), included components like
        breakfast or dinner and/or the conditions under which the room can be
        sold (e.g. private rates that can only be offered and sold to a closed
        user group behind login).


        Examples of rate plans:


        * Non-refundable room rate that includes breakfast

        * Room-only rate with free cancellation up to 14 days before arrival


        For each such rate plan this endpoint returns the room types it's
        available for, alongside prices for each date and occupancy that can be
        sold – or the information that the room isn't available (closed) for a
        certain date.


        For the vast majority of our customers, availability searches using the
        [List all
        hotels](https://docs.impala.travel/docs/booking-api/spec/openapi.seller.yaml/paths/~1hotels/get)
        endpoint are the best choice. It accepts the dates your guest is looking
        for and provides the rates to display.


        This endpoint can help augment this for two additional use cases:


        This endpoint allows you to query rate prices for all future dates in
        one go, making it a great choice to feed availability information and
        prices into your own system or displaying a rate calender to guide your
        guests to gain an overview of future availability and prices.
      parameters:
        - name: updatedAt[lt]
          in: query
          schema:
            type: number
          description: Returns rate plans changed after the supplied date.
          example: '2022-11-04T15:56:37.000Z'
        - name: updatedAt[lte]
          in: query
          schema:
            type: number
          description: Returns rate plans changed after the supplied date.
          example: '2022-11-04T15:56:37.000Z'
        - name: updatedAt[eq]
          in: query
          schema:
            type: number
          description: Returns rate plans changed after the supplied date.
          example: '2022-11-04T15:56:37.000Z'
        - name: updatedAt[gt]
          in: query
          schema:
            type: number
          description: Returns rate plans changed after the supplied date.
          example: '2022-11-04T15:56:37.000Z'
        - name: updatedAt[gte]
          in: query
          schema:
            type: number
          description: Returns rate plans changed after the supplied date.
          example: '2022-11-04T15:56:37.000Z'
        - name: size
          in: query
          schema:
            type: integer
          description: Number of hotels returned on a given page (pagination).
          example: '40'
        - name: offset
          in: query
          schema:
            type: integer
          description: Offset from the first hotel in the result (for pagination).
          example: '25'
        - name: hotelId
          in: path
          schema:
            type: string
          required: true
          description: (Required) The uuid of hotel for which rate plans are being fetched.
          example: 40c0b330-186a-40bf-ae36-2c61fb322db0
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                title: RatePlanInfo
                properties:
                  data:
                    type: object
                    required:
                      - ratePlanId 
                      - hotelId
                      - description
                      - conditions
                      - restrictions
                      - roomTypes
                      - adjustments
                    properties: 
                      ratePlanId:
                        type: number
                      hotelId:
                        type: string
                      description:
                        type: string
                      components:
                        type: array
                        items: 
                          properties:
                            formatted: 
                              type: string
                            type:       
                              type: string 
                            includedInRate: 
                              type: boolean
                      conditions:
                        type: object
                        $ref: "#/components/schemas/Condition"
                      restrictions: 
                        type: object
                        $ref: "#/components/schemas/Restriction"
                      roomTypes:  
                        type: array
                        items:
                          $ref: "#/components/schemas/RoomTypes"
                      adjustments:
                        type: array
                        items:
                          $ref: "#/components/schemas/Adjustment"
                  pagination:
                    type: object
                    title: Pagination
                    properties: 
                      count:
                        type: integer
                      total:  
                        type: integer
                      next: 
                        type: string
                        nullable: true
                      prev:
                        type: string
                        nullable: true
              example:
                data:
                  - ratePlanId: 6
                    hotelId: 55b6ae0d-2de3-4ec4-b8b5-042a7003cd87
                    description: BREAKFAST,NON_REFUNDABLE
                    restrictions:
                      lengthOfStay:
                        min: 1
                    components:
                      - formatted: breakfast
                        type: BREAKFAST
                        includedInRate: true
                      - formatted: lunch
                        type: LUNCH
                        includedInRate: false
                      - formatted: dinner
                        type: DINNER
                        includedInRate: false
                      - formatted: allInclusive
                        type: ALL_INCLUSIVE
                        includedInRate: false
                    conditions:
                      cancellationPolicy: NON_REFUNDABLE
                      cancellationDeadline: null
                    roomTypes:
                      - roomTypeId: b301f494-d11d-4f9e-9425-c3883f082078
                        name: Double Room
                        maxOccupancy: 2
                        dates:
                          - date: '2021-05-21'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-05-22'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-05-23'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-05-24'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-05-25'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-05-26'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-05-27'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-05-28'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-05-29'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-05-30'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-05-31'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-01'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-02'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-03'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-04'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-05'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-06'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-07'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-08'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-09'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-10'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-11'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-12'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-13'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-14'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-15'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-16'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-17'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-18'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-19'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-20'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-21'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-22'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-23'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-24'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-25'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-26'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-27'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-28'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-29'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-06-30'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-01'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-02'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-03'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-04'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-05'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-06'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-07'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-08'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-09'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-10'
                            closed: false
                            rates:
                              - adults: 1
                                roomsSellable: 100
                                retailRate:
                                  amount: 70000
                                  currency:
                                    code: EUR
                          - date: '2021-07-11'
                            closed: false
[...]
