{
    "openapi": "3.0.1",
    "info": {
        "title": "Pages",
        "description": "Use these endpoints for interacting with Landing Pages and Site Pages",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "After noticing that a website page was updated incorrectly, use the API to view revisions of that page, then restore the page to a previous version.",
        "x-hubspot-related-documentation": [
            {
                "name": "Pages Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/cms/pages"
            }
        ],
        "x-hubspot-introduction": "Use the pages API to create and manage website pages."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Site Pages"
        },
        {
            "name": "Landing Pages"
        }
    ],
    "paths": {
        "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}": {
            "get": {
                "tags": ["Site Pages"],
                "summary": "Retrieves a previous version of a Site Page",
                "description": "Retrieves a previous version of a Site Page",
                "operationId": "get-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}_getPreviousVersion",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Site Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "revisionId",
                        "in": "path",
                        "description": "The Site Page version id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VersionPage"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/{objectId}/revisions": {
            "get": {
                "tags": ["Landing Pages"],
                "summary": "Retrieves all the previous versions of a Landing Page",
                "description": "Retrieves all the previous versions of a Landing Page.",
                "operationId": "get-/cms/v3/pages/landing-pages/{objectId}/revisions_getPreviousVersions",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Landing Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 100.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalVersionPage"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/batch/update": {
            "post": {
                "tags": ["Site Pages"],
                "summary": "Update a batch of Site Pages",
                "description": "Update the Site Page objects identified in the request body.",
                "operationId": "post-/cms/v3/pages/site-pages/batch/update_updateBatch",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to update deleted Site Pages. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON representation of the updated Site Pages.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputJsonNode"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePage"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePageWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/folders/{objectId}/revisions": {
            "get": {
                "tags": ["Landing Pages"],
                "summary": "Retrieves all the previous versions of a Folder",
                "description": "Retrieves all the previous versions of a Folder.",
                "operationId": "get-/cms/v3/pages/landing-pages/folders/{objectId}/revisions_getFolderPreviousVersions",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Folder id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 100.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalVersionContentFolder"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore": {
            "post": {
                "tags": ["Site Pages"],
                "summary": "Restore a previous version of a Site Page",
                "description": "Takes a specified version of a Site Page and restores it.",
                "operationId": "post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Site Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "revisionId",
                        "in": "path",
                        "description": "The Site Page version id to restore.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/folders": {
            "get": {
                "tags": ["Landing Pages"],
                "summary": "Get all Landing Page Folders",
                "description": "Get the list of Landing Page Folders. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.\n",
                "operationId": "get-/cms/v3/pages/landing-pages/folders_getFoldersPage",
                "parameters": [
                    {
                        "name": "createdAt",
                        "in": "query",
                        "description": "Only return Folders created at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "Only return Folders created after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Only return Folders created before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAt",
                        "in": "query",
                        "description": "Only return Folders last updated at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAfter",
                        "in": "query",
                        "description": "Only return Folders last updated after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedBefore",
                        "in": "query",
                        "description": "Only return Folders last updated before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 100.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted Folders. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "property",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalContentFolderForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Create a new Folder",
                "description": "Create a new Folder",
                "operationId": "post-/cms/v3/pages/landing-pages/folders_createFolder",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of a new Folder.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentFolder"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentFolder"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/multi-language/attach-to-lang-group": {
            "post": {
                "tags": ["Site Pages"],
                "summary": "Attach a site page to a multi-language group",
                "description": "Attach a site page to a multi-language group.",
                "operationId": "post-/cms/v3/pages/site-pages/multi-language/attach-to-lang-group_attachToLangGroup",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the AttachToLangPrimaryRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AttachToLangPrimaryRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    },
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/schedule": {
            "post": {
                "tags": ["Site Pages"],
                "summary": "Schedule a Site Page to be Published",
                "description": "Schedule a Site Page to be Published",
                "operationId": "post-/cms/v3/pages/site-pages/schedule_schedule",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the ContentScheduleRequestVNext object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentScheduleRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/multi-language/detach-from-lang-group": {
            "post": {
                "tags": ["Site Pages"],
                "summary": "Detach a site page from a multi-language group",
                "description": "Detach a site page from a multi-language group.",
                "operationId": "post-/cms/v3/pages/site-pages/multi-language/detach-from-lang-group_detachFromLangGroup",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the DetachFromLangGroupRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DetachFromLangGroupRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    },
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/folders/batch/create": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Create a batch of Folders",
                "description": "Create the Folder objects detailed in the request body.",
                "operationId": "post-/cms/v3/pages/landing-pages/folders/batch/create_createFolders",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON array of new Folders to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputContentFolder"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseContentFolder"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseContentFolderWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/{objectId}/revisions": {
            "get": {
                "tags": ["Site Pages"],
                "summary": "Retrieves all the previous versions of a Site Page",
                "description": "Retrieves all the previous versions of a Site Page.",
                "operationId": "get-/cms/v3/pages/site-pages/{objectId}/revisions_getPreviousVersions",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Site Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 100.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalVersionPage"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/{objectId}/draft": {
            "get": {
                "tags": ["Landing Pages"],
                "summary": "Retrieve the full draft version of the Landing Page",
                "description": "Retrieve the full draft version of the Landing Page.",
                "operationId": "get-/cms/v3/pages/landing-pages/{objectId}/draft_getDraftById",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Landing Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "patch": {
                "tags": ["Landing Pages"],
                "summary": "Update a Landing Page draft",
                "description": "Sparse updates the draft version of a single Landing Page object identified by the id in the path.\nYou only need to specify the column values that you are modifying.\n",
                "operationId": "patch-/cms/v3/pages/landing-pages/{objectId}/draft_updateDraft",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Landing Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON representation of the updated Landing Page to be applied to the draft.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Page"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages": {
            "get": {
                "tags": ["Landing Pages"],
                "summary": "Get all Landing Pages",
                "description": "Get the list of landing pages. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.\n",
                "operationId": "get-/cms/v3/pages/landing-pages_getPage",
                "parameters": [
                    {
                        "name": "createdAt",
                        "in": "query",
                        "description": "Only return Landing Pages created at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "Only return Landing Pages created after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Only return Landing Pages created before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAt",
                        "in": "query",
                        "description": "Only return Landing Pages last updated at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAfter",
                        "in": "query",
                        "description": "Only return Landing Pages last updated after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedBefore",
                        "in": "query",
                        "description": "Only return Landing Pages last updated before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 100.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted Landing Pages. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "property",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalPageForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Create a new Landing Page",
                "description": "Create a new Landing Page",
                "operationId": "post-/cms/v3/pages/landing-pages_create",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of a new Landing Page.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Page"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/ab-test/end": {
            "post": {
                "tags": ["Site Pages"],
                "summary": "End an active A/B test",
                "description": "End an active A/B test and designate a winner.",
                "operationId": "post-/cms/v3/pages/site-pages/ab-test/end_endActiveABTest",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the AbTestEndRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AbTestEndRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft": {
            "post": {
                "tags": ["Site Pages"],
                "summary": "Restore a previous version of a Site Page, to the draft version of the Site Page",
                "description": "Takes a specified version of a Site Page, sets it as the new draft version of the Site Page.",
                "operationId": "post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Site Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "revisionId",
                        "in": "path",
                        "description": "The Site Page version id to restore.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/batch/create": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Create a batch of Landing Pages",
                "description": "Create the Landing Page objects detailed in the request body.",
                "operationId": "post-/cms/v3/pages/landing-pages/batch/create_createBatch",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON array of new Landing Pages to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePage"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePageWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/batch/update": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Update a batch of Landing Pages",
                "description": "Update the Landing Page objects identified in the request body.",
                "operationId": "post-/cms/v3/pages/landing-pages/batch/update_updateBatch",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to update deleted Landing Pages. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON representation of the updated Landing Pages.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputJsonNode"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePage"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePageWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/batch/read": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Retrieve a batch of Landing Pages",
                "description": "Retrieve the Landing Page objects identified in the request body.",
                "operationId": "post-/cms/v3/pages/landing-pages/batch/read_readBatch",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted Landing Pages. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON array of Landing Page ids.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePage"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePageWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/clone": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Clone a Landing Page",
                "description": "Clone a Landing Page",
                "operationId": "post-/cms/v3/pages/landing-pages/clone_clone",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the ContentCloneRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentCloneRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Restore a previous version of a Folder",
                "description": "Takes a specified version of a Folder and restores it.",
                "operationId": "post-/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore_restoreFolderPreviousVersion",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Folder id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "revisionId",
                        "in": "path",
                        "description": "The Folder version id to restore.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentFolder"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary": {
            "put": {
                "tags": ["Landing Pages"],
                "summary": "Set a new primary language",
                "description": "Set a landing page as the primary language of a multi-language group.",
                "operationId": "put-/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary_setLangPrimary",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the SetNewLanguagePrimaryRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetNewLanguagePrimaryRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Restore a previous version of a Landing Page",
                "description": "Takes a specified version of a Landing Page and restores it.",
                "operationId": "post-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Landing Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "revisionId",
                        "in": "path",
                        "description": "The Landing Page version id to restore.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/{objectId}/draft": {
            "get": {
                "tags": ["Site Pages"],
                "summary": "Retrieve the full draft version of the Site Page",
                "description": "Retrieve the full draft version of the Site Page.",
                "operationId": "get-/cms/v3/pages/site-pages/{objectId}/draft_getDraftById",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Site Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "patch": {
                "tags": ["Site Pages"],
                "summary": "Update a Site Page draft",
                "description": "Sparse updates the draft version of a single Site Page object identified by the id in the path.\nYou only need to specify the column values that you are modifying.\n",
                "operationId": "patch-/cms/v3/pages/site-pages/{objectId}/draft_updateDraft",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Site Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON representation of the updated Site Page to be applied to the draft.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Page"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/folders/{objectId}": {
            "get": {
                "tags": ["Landing Pages"],
                "summary": "Retrieve a Folder",
                "description": "Retrieve the Folder object identified by the id in the path.",
                "operationId": "get-/cms/v3/pages/landing-pages/folders/{objectId}_getFolderById",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Folder id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted Folders. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "property",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentFolder"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "delete": {
                "tags": ["Landing Pages"],
                "summary": "Delete a Folder",
                "description": "Delete the Folder object identified by the id in the path.",
                "operationId": "delete-/cms/v3/pages/landing-pages/folders/{objectId}_archiveFolder",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Folder id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "patch": {
                "tags": ["Landing Pages"],
                "summary": "Update a Folder",
                "description": "Sparse updates a single Folder object identified by the id in the path.\nYou only need to specify the column values that you are modifying.\n",
                "operationId": "patch-/cms/v3/pages/landing-pages/folders/{objectId}_updateFolder",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Folder id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to update deleted Folders. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON representation of the updated Folder.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentFolder"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentFolder"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/batch/read": {
            "post": {
                "tags": ["Site Pages"],
                "summary": "Retrieve a batch of Site Pages",
                "description": "Retrieve the Site Page objects identified in the request body.",
                "operationId": "post-/cms/v3/pages/site-pages/batch/read_readBatch",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted Site Pages. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON array of Site Page ids.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePage"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePageWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/ab-test/create-variation": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Create a new A/B test variation",
                "description": "Create a new A/B test variation based on the information provided in the request body.\n",
                "operationId": "post-/cms/v3/pages/landing-pages/ab-test/create-variation_createABTestVariation",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the AbTestCreateRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AbTestCreateRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/multi-language/attach-to-lang-group": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Attach a landing page to a multi-language group",
                "description": "Attach a landing page to a multi-language group.",
                "operationId": "post-/cms/v3/pages/landing-pages/multi-language/attach-to-lang-group_attachToLangGroup",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the AttachToLangPrimaryRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AttachToLangPrimaryRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    },
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages": {
            "get": {
                "tags": ["Site Pages"],
                "summary": "Get all Site Pages",
                "description": "Get the list of site pages. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.\n",
                "operationId": "get-/cms/v3/pages/site-pages_getPage",
                "parameters": [
                    {
                        "name": "createdAt",
                        "in": "query",
                        "description": "Only return Site Pages created at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "Only return Site Pages created after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Only return Site Pages created before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAt",
                        "in": "query",
                        "description": "Only return Site Pages last updated at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAfter",
                        "in": "query",
                        "description": "Only return Site Pages last updated after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedBefore",
                        "in": "query",
                        "description": "Only return Site Pages last updated before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 100.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted Site Pages. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "property",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalPageForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "post": {
                "tags": ["Site Pages"],
                "summary": "Create a new Site Page",
                "description": "Create a new Site Page",
                "operationId": "post-/cms/v3/pages/site-pages_create",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of a new Site Page.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Page"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}": {
            "get": {
                "tags": ["Landing Pages"],
                "summary": "Retrieves a previous version of a Landing Page",
                "description": "Retrieves a previous version of a Landing Page",
                "operationId": "get-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}_getPreviousVersion",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Landing Page id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "revisionId",
                        "in": "path",
                        "description": "The Landing Page version id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VersionPage"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/site-pages/multi-language/create-language-variation": {
            "post": {
                "tags": ["Site Pages"],
                "summary": "Create a new language variation",
                "description": "Create a new language variation from an existing site page",
                "operationId": "post-/cms/v3/pages/site-pages/multi-language/create-language-variation_createLangVariation",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the ContentLanguageCloneRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentLanguageCloneRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/ab-test/end": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "End an active A/B test",
                "description": "End an active A/B test and designate a winner.",
                "operationId": "post-/cms/v3/pages/landing-pages/ab-test/end_endActiveABTest",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the AbTestEndRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AbTestEndRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/{objectId}/draft/push-live": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Push Landing Page draft edits live",
                "description": "Take any changes from the draft version of the Landing Page and apply them to the live version.",
                "operationId": "post-/cms/v3/pages/landing-pages/{objectId}/draft/push-live_pushLive",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The id of the Landing Page for which it's draft will be pushed live.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/multi-language/detach-from-lang-group": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Detach a landing page from a multi-language group",
                "description": "Detach a landing page from a multi-language group.",
                "operationId": "post-/cms/v3/pages/landing-pages/multi-language/detach-from-lang-group_detachFromLangGroup",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the DetachFromLangGroupRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DetachFromLangGroupRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    },
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/pages/landing-pages/multi-language/update-languages": {
            "post": {
                "tags": ["Landing Pages"],
                "summary": "Update languages of multi-language group",
                "description": "Explicitly set new languages for each landing page in a multi-language group.",
                "operationId": "post-/cms/v3/pages/landing-pages/multi-language/update-languages_updateLangs",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the UpdateLanguagesRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateLanguagesRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    },
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
[...]
