{
    "openapi": "3.0.1",
    "info": {
        "title": "Properties",
        "description": "All HubSpot objects store data in default and custom properties. These endpoints provide access to read and modify object properties in HubSpot.",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "STARTER"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "Create a set of new custom multi-select properties for storing contract data on company records.",
        "x-hubspot-related-documentation": [
            {
                "name": "Properties Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/properties"
            }
        ],
        "x-hubspot-introduction": "Use the properties API to store information in fields on individual contact records. You can use this API to manage existing default and custom properties, create new custom properties, and more."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Batch"
        },
        {
            "name": "Groups"
        },
        {
            "name": "Core"
        }
    ],
    "paths": {
        "/crm/v3/properties/{objectType}/batch/archive": {
            "post": {
                "tags": ["Batch"],
                "summary": "Archive a batch of properties",
                "description": "Archive a provided list of properties. This method will return a 204 No Content response on success regardless of the initial state of the property (e.g. active, already archived, non-existent).",
                "operationId": "post-/crm/v3/properties/{objectType}/batch/archive_archive",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPropertyName"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            }
        },
        "/crm/v3/properties/{objectType}/groups/{groupName}": {
            "get": {
                "tags": ["Groups"],
                "summary": "Read a property group",
                "description": "Read a property group identified by {groupName}.",
                "operationId": "get-/crm/v3/properties/{objectType}/groups/{groupName}_getByName",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupName",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PropertyGroup"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.listings.write"]
                    },
                    {
                        "oauth2_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.read"]
                    },
                    {
                        "private_apps_legacy": ["timeline"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "oauth2_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.objects.users.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.users.read"]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.write"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.write"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.write"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.write"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.read"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.write"]
                    },
                    {
                        "private_apps": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.objects.owners.read"]
                    },
                    {
                        "oauth2": ["crm.objects.owners.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.read"]
                    },
                    {
                        "oauth2_legacy": ["timeline"]
                    },
                    {
                        "private_apps_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.services.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.write"]
                    },
                    {
                        "oauth2": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.write"]
                    },
                    {
                        "private_apps": ["crm.objects.listings.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.services.read"]
                    }
                ]
            },
            "delete": {
                "tags": ["Groups"],
                "summary": "Archive a property group",
                "description": "Move a property group identified by {groupName} to the recycling bin.",
                "operationId": "delete-/crm/v3/properties/{objectType}/groups/{groupName}_archive",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupName",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            },
            "patch": {
                "tags": ["Groups"],
                "summary": "Update a property group",
                "description": "Perform a partial update of a property group identified by {groupName}. Provided fields will be overwritten.",
                "operationId": "patch-/crm/v3/properties/{objectType}/groups/{groupName}_update",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupName",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PropertyGroupUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PropertyGroup"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            }
        },
        "/crm/v3/properties/{objectType}/{propertyName}": {
            "get": {
                "tags": ["Core"],
                "summary": "Read a property",
                "description": "Read a property identified by {propertyName}.",
                "operationId": "get-/crm/v3/properties/{objectType}/{propertyName}_getByName",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyName",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Property"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.listings.write"]
                    },
                    {
                        "oauth2_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.read"]
                    },
                    {
                        "private_apps_legacy": ["timeline"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "oauth2_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.objects.users.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.users.read"]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.write"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.write"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.write"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.write"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.read"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.write"]
                    },
                    {
                        "private_apps": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.objects.owners.read"]
                    },
                    {
                        "oauth2": ["crm.objects.owners.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.read"]
                    },
                    {
                        "oauth2_legacy": ["timeline"]
                    },
                    {
                        "private_apps_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.services.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.write"]
                    },
                    {
                        "oauth2": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.write"]
                    },
                    {
                        "private_apps": ["crm.objects.listings.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.services.read"]
                    }
                ]
            },
            "delete": {
                "tags": ["Core"],
                "summary": "Archive a property",
                "description": "Move a property identified by {propertyName} to the recycling bin.",
                "operationId": "delete-/crm/v3/properties/{objectType}/{propertyName}_archive",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyName",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            },
            "patch": {
                "tags": ["Core"],
                "summary": "Update a property",
                "description": "Perform a partial update of a property identified by {propertyName}. Provided fields will be overwritten.",
                "operationId": "patch-/crm/v3/properties/{objectType}/{propertyName}_update",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyName",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PropertyUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Property"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            }
        },
        "/crm/v3/properties/{objectType}/batch/read": {
            "post": {
                "tags": ["Batch"],
                "summary": "Read a batch of properties",
                "description": "Read a provided list of properties.",
                "operationId": "post-/crm/v3/properties/{objectType}/batch/read_read",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchReadInputPropertyName"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseProperty"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePropertyWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.listings.write"]
                    },
                    {
                        "oauth2_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.read"]
                    },
                    {
                        "private_apps_legacy": ["timeline"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "oauth2_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.objects.users.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.users.read"]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.write"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.write"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.write"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.write"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.read"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.write"]
                    },
                    {
                        "private_apps": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.objects.owners.read"]
                    },
                    {
                        "oauth2": ["crm.objects.owners.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.read"]
                    },
                    {
                        "oauth2_legacy": ["timeline"]
                    },
                    {
                        "private_apps_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.services.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.write"]
                    },
                    {
                        "oauth2": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.write"]
                    },
                    {
                        "private_apps": ["crm.objects.listings.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.services.read"]
                    }
                ]
            }
        },
        "/crm/v3/properties/{objectType}/batch/create": {
            "post": {
                "tags": ["Batch"],
                "summary": "Create a batch of properties",
                "description": "Create a batch of properties using the same rules as when creating an individual property.",
                "operationId": "post-/crm/v3/properties/{objectType}/batch/create_create",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPropertyCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseProperty"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePropertyWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            }
        },
        "/crm/v3/properties/{objectType}": {
            "get": {
                "tags": ["Core"],
                "summary": "Read all properties",
                "description": "Read all existing properties for the specified object type and HubSpot account.",
                "operationId": "get-/crm/v3/properties/{objectType}_getAll",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePropertyNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.listings.write"]
                    },
                    {
                        "oauth2_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.read"]
                    },
                    {
                        "private_apps_legacy": ["timeline"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "oauth2_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.objects.users.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.users.read"]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.write"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.write"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.write"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.write"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.read"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.write"]
                    },
                    {
                        "private_apps": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.objects.owners.read"]
                    },
                    {
                        "oauth2": ["crm.objects.owners.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.read"]
                    },
                    {
                        "oauth2_legacy": ["timeline"]
                    },
                    {
                        "private_apps_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.services.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.write"]
                    },
                    {
                        "oauth2": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.write"]
                    },
                    {
                        "private_apps": ["crm.objects.listings.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.services.read"]
                    }
                ]
            },
            "post": {
                "tags": ["Core"],
                "summary": "Create a property",
                "description": "Create and return a copy of a new property for the specified object type.",
                "operationId": "post-/crm/v3/properties/{objectType}_create",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PropertyCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Property"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            }
        },
        "/crm/v3/properties/{objectType}/groups": {
            "get": {
                "tags": ["Groups"],
                "summary": "Read all property groups",
                "description": "Read all existing property groups for the specified object type and HubSpot account.",
                "operationId": "get-/crm/v3/properties/{objectType}/groups_getAll",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePropertyGroupNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.listings.write"]
                    },
                    {
                        "oauth2_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.read"]
                    },
                    {
                        "private_apps_legacy": ["timeline"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "oauth2_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
[...]
