openapi: 3.0.1
info:
  x-ballerina-display:
    label: Hubspot Events
    iconPath: "resources/hubspot.events.svg"
  title: HubSpot Events API
  description: This is a generated connector from [HubSpot](https://www.hubspot.com/) OpenAPI specification.

    These APIs allow accessing CRM object events.
  x-ballerina-init-description: "This is a generated connector from [HubSpot](https://www.hubspot.com/) OpenAPI specification. The connector initialization requires setting the API credentials.

  Create a [HubSpot account](https://www.hubspot.com/) and obtain OAuth tokens following [this guide](https://developers.hubspot.com/docs/api/working-with-oauth4).
  
  During initialization you can pass either http:BearerTokenConfig if you have a bearer token or http:OAuth2RefreshTokenGrantConfig if you have Oauth tokens."
  version: v3
servers:
  - url: 'https://api.hubapi.com'
tags:
  - name: Events
paths:
  /events/v3/events:
    get:
      tags:
        - Events
      summary: Returns a collection of events matching a query.
      operationId: listEvents
      parameters:
        - name: occurredAfter
          in: query
          description: The starting time as an ISO 8601 timestamp.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: occurredBefore
          in: query
          description: The ending time as an ISO 8601 timestamp.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: objectType
          in: query
          description: The type of object being selected. Valid values are hubspot named object types (e.g. `contact`).
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: objectId
          in: query
          description: 'The id of the selected object. If not present, then the `objectProperty` parameter is required.'
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
        - name: eventType
          in: query
          description: Limits the response to the specified event type.  For example `&eventType=e_visited_page` returns only `e_visited_page` events.  If not present all event types are returned.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: after
          in: query
          description: An additional parameter that may be used to get the next `limit` set of results.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: before
          in: query
          required: false
          description: An additional parameter that may be used to get the next `limit` set of results.
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'The maximum number of events to return, defaults to 20.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Selects the sort field and order. Defaults to ascending, prefix with `-` for descending order. `occurredAt` is the only field supported for sorting.'
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseExternalUnifiedEvent'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - business-intelligence
        - hapikey: []
components:
  schemas:
    CollectionResponseExternalUnifiedEvent:
      description: A collection of Events
      required:
        - results
      type: object
      properties:
        results:
          type: array
          description: Array of results
          items:
            $ref: '#/components/schemas/ExternalUnifiedEvent'
        paging:
          description: Page info
          $ref: '#/components/schemas/Paging'
    Error:
      required:
        - category
        - correlationId
        - message
      type: object
      properties:
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category:
          type: string
          description: The error category
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            invalidPropertyName:
              - propertyValue
            missingScopes:
              - scope1
              - scope2
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: 'https://www.hubspot.com/products/service/knowledge-base'
    ErrorDetail:
      required:
        - message
      type: object
      properties:
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        code:
          type: string
          description: The status code associated with the error detail
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            missingScopes:
              - scope1
              - scope2
    ExternalUnifiedEvent:
      required:
        - eventType
        - id
        - objectId
        - objectType
        - occurredAt
        - properties
      type: object
      properties:
        objectType:
          type: string
          description: The objectType for the object which did the event.
        objectId:
          type: string
          description: The objectId of the object which did the event.
        eventType:
          type: string
          description: 'The format of the `eventType` string is `ae{appId}_{eventTypeLabel}`, `pe{portalId}_{eventTypeLabel}`, or just `e_{eventTypeLabel}` for HubSpot events.'
        occurredAt:
          type: string
          description: An ISO 8601 timestamp when the event occurred.
          format: date-time
        id:
          type: string
          description: A unique identifier for the event.
        properties:
          type: object
          additionalProperties:
            type: string
      description: |-
        Used to represent any event. With this format, the `objectType` and `eventType` values are stringified CRM types. Example object:
        <br/>
        ```
         {
              "objectType": "CONTACT",
              "objectId": 208451632,
              "eventType": "e_visited_page",
              "occurredAt": 1567377501421,
              "id": "leviathan-be3335d3-46f1-3985-988e-ff38e6e7b9d8",
              "properties": {
                  "hs_url": "https://some-website.com/",
                  "hs_title": "Home",
                  "hs_referrer": "https://some-other-website.com/blog/why-we-love-big-data-and-you-should-too",
                  "hs_userAgent": "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.80 Safari/537.36",
                  "hs_city": "lund",
                  "hs_region": "m",
                  "hs_country": "se",
                  "hs_session_id" : "leviathan-be3335d3-46f1-3985-988e-ff38e6e7b9d8",
                  "hs_session_source" : "DIRECT"
              }
          }      
        ```
    NextPage:
      required:
        - after
      type: object
      properties:
        after:
          type: string
        link:
          type: string
    Paging:
      type: object
      properties:
        next:
          description: Next Page info
          $ref: '#/components/schemas/NextPage'
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    # hapikey:
    #   type: apiKey
    #   name: hapikey
    #   in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://app.hubspot.com/oauth/authorize'
          tokenUrl: 'https://api.hubapi.com/oauth/v1/token'
          scopes:
            business-intelligence: Read from Business Intelligence API
