{
    "openapi": "3.0.1",
    "info": {
        "title": "Authors",
        "description": "Use these endpoints for interacting with Blog Posts, Blog Authors, and Blog Tags",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "PROFESSIONAL",
            "cms": "STARTER"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "After hiring a new blog writer, you need to create a new blog author profile for them so that readers can learn more about the author on each of their posts.",
        "x-hubspot-related-documentation": [
            {
                "name": "Blog Authors Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/cms/blogs/blog-authors"
            }
        ],
        "x-hubspot-introduction": "Use the blog authors API to manage information about blog post authors."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Blog Authors"
        }
    ],
    "paths": {
        "/cms/v3/blogs/authors/{objectId}": {
            "get": {
                "tags": ["Blog Authors"],
                "summary": "Retrieve a Blog Author",
                "description": "Retrieve the Blog Author object identified by the id in the path.",
                "operationId": "get-/cms/v3/blogs/authors/{objectId}_getById",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Blog Author id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted Blog Authors. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "property",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogAuthor"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "delete": {
                "tags": ["Blog Authors"],
                "summary": "Delete a Blog Author",
                "description": "Delete the Blog Author object identified by the id in the path.",
                "operationId": "delete-/cms/v3/blogs/authors/{objectId}_archive",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Blog Author id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "patch": {
                "tags": ["Blog Authors"],
                "summary": "Update a Blog Author",
                "description": "Sparse updates a single Blog Author object identified by the id in the path.\nAll the column values need not be specified. Only the that need to be modified can be specified.\n",
                "operationId": "patch-/cms/v3/blogs/authors/{objectId}_update",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The Blog Author id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to update deleted Blog Authors. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON representation of the updated Blog Author.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogAuthor"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogAuthor"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/authors/batch/update": {
            "post": {
                "tags": ["Blog Authors"],
                "summary": "Update a batch of Blog Authors",
                "description": "Update the Blog Author objects identified in the request body.",
                "operationId": "post-/cms/v3/blogs/authors/batch/update_updateBatch",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to update deleted Blog Authors. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "A JSON array of the JSON representations of the updated Blog Authors.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputJsonNode"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogAuthor"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogAuthorWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/authors/multi-language/detach-from-lang-group": {
            "post": {
                "tags": ["Blog Authors"],
                "summary": "Detach a Blog Author from a multi-language group",
                "description": "Detach a Blog Author from a multi-language group.",
                "operationId": "post-/cms/v3/blogs/authors/multi-language/detach-from-lang-group_detachFromLangGroup",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the DetachFromLangGroupRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DetachFromLangGroupRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    },
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/authors/multi-language/set-new-lang-primary": {
            "put": {
                "tags": ["Blog Authors"],
                "summary": "Set a new primary language",
                "description": "Set a Blog Author as the primary language of a multi-language group.",
                "operationId": "put-/cms/v3/blogs/authors/multi-language/set-new-lang-primary_setLangPrimary",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the SetNewLanguagePrimaryRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetNewLanguagePrimaryRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/authors/batch/archive": {
            "post": {
                "tags": ["Blog Authors"],
                "summary": "Delete a batch of Blog Authors",
                "description": "Delete the Blog Author objects identified in the request body.",
                "operationId": "post-/cms/v3/blogs/authors/batch/archive_archiveBatch",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON array of Blog Author ids.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/authors/batch/create": {
            "post": {
                "tags": ["Blog Authors"],
                "summary": "Create a batch of Blog Authors",
                "description": "Create the Blog Author objects detailed in the request body.",
                "operationId": "post-/cms/v3/blogs/authors/batch/create_createBatch",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON array of new Blog Authors to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputBlogAuthor"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogAuthor"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogAuthorWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/authors/batch/read": {
            "post": {
                "tags": ["Blog Authors"],
                "summary": "Retrieve a batch of Blog Authors",
                "description": "Retrieve the Blog Author objects identified in the request body.",
                "operationId": "post-/cms/v3/blogs/authors/batch/read_readBatch",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted Blog Authors. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON array of Blog Author ids.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogAuthor"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogAuthorWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/authors": {
            "get": {
                "tags": ["Blog Authors"],
                "summary": "Get all Blog Authors",
                "description": "Get the list of blog authors. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.\n",
                "operationId": "get-/cms/v3/blogs/authors_getPage",
                "parameters": [
                    {
                        "name": "createdAt",
                        "in": "query",
                        "description": "Only return Blog Authors created at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "Only return Blog Authors created after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Only return Blog Authors created before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAt",
                        "in": "query",
                        "description": "Only return Blog Authors last updated at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAfter",
                        "in": "query",
                        "description": "Only return Blog Authors last updated after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedBefore",
                        "in": "query",
                        "description": "Only return Blog Authors last updated before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 100.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted Blog Authors. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "property",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalBlogAuthorForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "post": {
                "tags": ["Blog Authors"],
                "summary": "Create a new Blog Author",
                "description": "Create a new Blog Author.",
                "operationId": "post-/cms/v3/blogs/authors_create",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of a new Blog Author.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogAuthor"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogAuthor"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/authors/multi-language/attach-to-lang-group": {
            "post": {
                "tags": ["Blog Authors"],
                "summary": "Attach a Blog Author to a multi-language group",
                "description": "Attach a Blog Author to a multi-language group.",
                "operationId": "post-/cms/v3/blogs/authors/multi-language/attach-to-lang-group_attachToLangGroup",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the AttachToLangPrimaryRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AttachToLangPrimaryRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    },
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/authors/multi-language/create-language-variation": {
            "post": {
                "tags": ["Blog Authors"],
                "summary": "Create a new language variation",
                "description": "Create a new language variation from an existing Blog Author.",
                "operationId": "post-/cms/v3/blogs/authors/multi-language/create-language-variation_createLangVariation",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the ContentLanguageCloneRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogAuthorCloneRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogAuthor"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/authors/multi-language/update-languages": {
            "post": {
                "tags": ["Blog Authors"],
                "summary": "Update languages of multi-language group",
                "description": "Explicitly set new languages for each Blog Author in a multi-language group.",
                "operationId": "post-/cms/v3/blogs/authors/multi-language/update-languages_updateLangs",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the UpdateLanguagesRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateLanguagesRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    },
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "BatchInputString": {
                "required": ["inputs"],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "description": "Strings to input.",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "description": "Wrapper for providing an array of strings as inputs."
            },
            "BatchInputBlogAuthor": {
                "required": ["inputs"],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "description": "Blog authors to input.",
                        "items": {
                            "$ref": "#/components/schemas/BlogAuthor"
                        }
                    }
                },
                "description": "Wrapper for providing an array of blog authors as inputs."
            },
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "Error subcategory."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Error context."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Error links."
                    },
                    "id": {
                        "type": "string",
                        "description": "Error ID."
                    },
                    "category": {
                        "type": "string",
                        "description": "Error category."
                    },
                    "message": {
                        "type": "string",
                        "description": "Error message."
                    },
                    "errors": {
                        "type": "array",
                        "description": "List of error details.",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    },
                    "status": {
                        "type": "string",
                        "description": "Error status."
                    }
                },
                "description": "Model definition for a standard error."
            },
            "BatchInputJsonNode": {
                "required": ["inputs"],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "description": "JSON nodes to input.",
                        "items": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "description": "Wrapper for providing an array of JSON nodes as inputs."
            },
            "UpdateLanguagesRequestVNext": {
                "required": ["languages", "primaryId"],
                "type": "object",
                "properties": {
                    "languages": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of object IDs to associated languages of object in the multi-language group."
                    },
                    "primaryId": {
                        "type": "string",
                        "description": "ID of the primary object in the multi-language group."
                    }
                },
                "description": "Request object for updating languages within a multi-language group."
            },
            "SetNewLanguagePrimaryRequestVNext": {
                "required": ["id"],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "ID of object to set as primary in multi-language group."
                    }
                },
                "description": "Request body object for setting a new primary language."
            },
            "BlogAuthorCloneRequestVNext": {
                "required": ["blogAuthor", "id"],
                "type": "object",
                "properties": {
                    "language": {
                        "type": "string",
                        "description": "Language of newly cloned object."
                    },
                    "id": {
                        "type": "string",
                        "description": "ID of the object to be cloned."
                    },
                    "primaryLanguage": {
                        "type": "string",
                        "description": "Primary language in multi-language group."
                    },
                    "blogAuthor": {
                        "$ref": "#/components/schemas/BlogAuthor"
                    }
                },
                "description": "Request body object for cloning blog authors."
            },
            "DetachFromLangGroupRequestVNext": {
                "required": ["id"],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "ID of the object to remove from a multi-language group."
                    }
                },
                "description": "Request body object for detaching objects from multi-language groups."
            },
            "BlogAuthor": {
                "required": [
                    "avatar",
                    "bio",
                    "created",
                    "deletedAt",
                    "displayName",
                    "email",
                    "facebook",
                    "fullName",
                    "id",
                    "language",
                    "linkedin",
                    "name",
                    "slug",
                    "translatedFromId",
                    "twitter",
                    "updated",
                    "website"
                ],
                "type": "object",
                "properties": {
                    "website": {
                        "type": "string",
                        "description": "URL to the website of the Blog Author."
                    },
                    "displayName": {
                        "type": "string",
                        "description": "The full name of the Blog Author to be displayed."
                    },
                    "created": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "facebook": {
                        "type": "string",
                        "description": "URL to the Blog Author's Facebook page."
                    },
                    "fullName": {
                        "type": "string"
                    },
                    "bio": {
                        "type": "string",
                        "description": "A short biography of the blog author."
                    },
                    "language": {
                        "type": "string",
                        "description": "The explicitly defined ISO 639 language code of the blog author.",
                        "enum": [
                            "af",
                            "af-na",
                            "af-za",
                            "agq",
                            "agq-cm",
                            "ak",
                            "ak-gh",
                            "am",
                            "am-et",
                            "ar",
                            "ar-001",
                            "ar-ae",
                            "ar-bh",
                            "ar-dj",
                            "ar-dz",
                            "ar-eg",
                            "ar-eh",
                            "ar-er",
                            "ar-il",
                            "ar-iq",
                            "ar-jo",
                            "ar-km",
                            "ar-kw",
                            "ar-lb",
                            "ar-ly",
                            "ar-ma",
                            "ar-mr",
                            "ar-om",
                            "ar-ps",
                            "ar-qa",
                            "ar-sa",
                            "ar-sd",
                            "ar-so",
                            "ar-ss",
                            "ar-sy",
                            "ar-td",
                            "ar-tn",
                            "ar-ye",
                            "as",
                            "as-in",
                            "asa",
                            "asa-tz",
                            "ast",
                            "ast-es",
                            "az",
                            "az-az",
                            "bas",
                            "bas-cm",
                            "be",
                            "be-by",
                            "bem",
                            "bem-zm",
                            "bez",
                            "bez-tz",
                            "bg",
                            "bg-bg",
                            "bm",
                            "bm-ml",
                            "bn",
                            "bn-bd",
                            "bn-in",
                            "bo",
                            "bo-cn",
                            "bo-in",
                            "br",
                            "br-fr",
                            "brx",
                            "brx-in",
                            "bs",
                            "bs-ba",
                            "ca",
                            "ca-ad",
                            "ca-es",
                            "ca-fr",
                            "ca-it",
                            "ccp",
                            "ccp-bd",
                            "ccp-in",
                            "ce",
                            "ce-ru",
                            "ceb",
                            "ceb-ph",
                            "cgg",
                            "cgg-ug",
                            "chr",
                            "chr-us",
                            "ckb",
                            "ckb-iq",
                            "ckb-ir",
                            "cs",
                            "cs-cz",
                            "cu",
                            "cu-ru",
                            "cy",
                            "cy-gb",
                            "da",
                            "da-dk",
                            "da-gl",
                            "dav",
                            "dav-ke",
                            "de",
                            "de-at",
                            "de-be",
                            "de-ch",
                            "de-de",
                            "de-gr",
                            "de-it",
                            "de-li",
                            "de-lu",
                            "dje",
                            "dje-ne",
                            "doi",
                            "doi-in",
                            "dsb",
                            "dsb-de",
                            "dua",
                            "dua-cm",
                            "dyo",
                            "dyo-sn",
                            "dz",
                            "dz-bt",
                            "ebu",
                            "ebu-ke",
                            "ee",
                            "ee-gh",
                            "ee-tg",
                            "el",
                            "el-cy",
                            "el-gr",
                            "en",
                            "en-001",
                            "en-150",
                            "en-ae",
                            "en-ag",
                            "en-ai",
                            "en-as",
                            "en-at",
                            "en-au",
                            "en-bb",
                            "en-be",
                            "en-bi",
                            "en-bm",
                            "en-bs",
                            "en-bw",
                            "en-bz",
                            "en-ca",
                            "en-cc",
                            "en-ch",
                            "en-ck",
                            "en-cm",
                            "en-cn",
                            "en-cx",
                            "en-cy",
                            "en-de",
                            "en-dg",
                            "en-dk",
                            "en-dm",
                            "en-er",
                            "en-fi",
                            "en-fj",
                            "en-fk",
                            "en-fm",
                            "en-gb",
                            "en-gd",
                            "en-gg",
                            "en-gh",
                            "en-gi",
                            "en-gm",
                            "en-gu",
                            "en-gy",
                            "en-hk",
                            "en-ie",
                            "en-il",
                            "en-im",
                            "en-in",
                            "en-io",
                            "en-je",
                            "en-jm",
                            "en-ke",
                            "en-ki",
                            "en-kn",
                            "en-ky",
                            "en-lc",
                            "en-lr",
                            "en-ls",
                            "en-lu",
                            "en-mg",
                            "en-mh",
                            "en-mo",
                            "en-mp",
                            "en-ms",
                            "en-mt",
                            "en-mu",
                            "en-mw",
                            "en-mx",
                            "en-my",
                            "en-na",
                            "en-nf",
                            "en-ng",
                            "en-nl",
                            "en-nr",
                            "en-nu",
                            "en-nz",
                            "en-pg",
                            "en-ph",
                            "en-pk",
                            "en-pn",
                            "en-pr",
                            "en-pw",
                            "en-rw",
                            "en-sb",
                            "en-sc",
                            "en-sd",
                            "en-se",
                            "en-sg",
                            "en-sh",
                            "en-si",
                            "en-sl",
                            "en-ss",
                            "en-sx",
                            "en-sz",
                            "en-tc",
                            "en-tk",
                            "en-to",
                            "en-tt",
                            "en-tv",
                            "en-tz",
                            "en-ug",
                            "en-um",
                            "en-us",
                            "en-vc",
                            "en-vg",
                            "en-vi",
                            "en-vu",
                            "en-ws",
                            "en-za",
                            "en-zm",
                            "en-zw",
                            "eo",
                            "eo-001",
                            "es",
                            "es-419",
                            "es-ar",
                            "es-bo",
                            "es-br",
                            "es-bz",
                            "es-cl",
                            "es-co",
                            "es-cr",
                            "es-cu",
                            "es-do",
                            "es-ea",
                            "es-ec",
                            "es-es",
                            "es-gq",
                            "es-gt",
                            "es-hn",
                            "es-ic",
                            "es-mx",
                            "es-ni",
                            "es-pa",
                            "es-pe",
                            "es-ph",
                            "es-pr",
                            "es-py",
                            "es-sv",
                            "es-us",
                            "es-uy",
                            "es-ve",
                            "et",
                            "et-ee",
                            "eu",
                            "eu-es",
                            "ewo",
                            "ewo-cm",
                            "fa",
                            "fa-af",
                            "fa-ir",
                            "ff",
                            "ff-bf",
                            "ff-cm",
                            "ff-gh",
                            "ff-gm",
                            "ff-gn",
                            "ff-gw",
                            "ff-lr",
                            "ff-mr",
                            "ff-ne",
                            "ff-ng",
                            "ff-sl",
                            "ff-sn",
                            "fi",
                            "fi-fi",
                            "fil",
                            "fil-ph",
                            "fo",
                            "fo-dk",
                            "fo-fo",
                            "fr",
                            "fr-be",
                            "fr-bf",
                            "fr-bi",
                            "fr-bj",
                            "fr-bl",
                            "fr-ca",
                            "fr-cd",
                            "fr-cf",
                            "fr-cg",
                            "fr-ch",
                            "fr-ci",
                            "fr-cm",
                            "fr-dj",
                            "fr-dz",
                            "fr-fr",
                            "fr-ga",
                            "fr-gf",
                            "fr-gn",
                            "fr-gp",
                            "fr-gq",
                            "fr-ht",
                            "fr-km",
                            "fr-lu",
                            "fr-ma",
                            "fr-mc",
                            "fr-mf",
                            "fr-mg",
                            "fr-ml",
                            "fr-mq",
                            "fr-mr",
                            "fr-mu",
                            "fr-nc",
                            "fr-ne",
                            "fr-pf",
                            "fr-pm",
                            "fr-re",
                            "fr-rw",
                            "fr-sc",
                            "fr-sn",
                            "fr-sy",
                            "fr-td",
                            "fr-tg",
                            "fr-tn",
                            "fr-vu",
                            "fr-wf",
                            "fr-yt",
                            "fur",
                            "fur-it",
                            "fy",
                            "fy-nl",
                            "ga",
                            "ga-gb",
                            "ga-ie",
                            "gd",
                            "gd-gb",
                            "gl",
                            "gl-es",
                            "gsw",
                            "gsw-ch",
                            "gsw-fr",
                            "gsw-li",
                            "gu",
                            "gu-in",
                            "guz",
                            "guz-ke",
                            "gv",
                            "gv-im",
                            "ha",
                            "ha-gh",
                            "ha-ne",
                            "ha-ng",
                            "haw",
                            "haw-us",
                            "he",
                            "hi",
                            "hi-in",
                            "hr",
                            "hr-ba",
                            "hr-hr",
                            "hsb",
                            "hsb-de",
                            "hu",
                            "hu-hu",
                            "hy",
                            "hy-am",
                            "ia",
                            "ia-001",
                            "id",
                            "ig",
                            "ig-ng",
                            "ii",
                            "ii-cn",
                            "id-id",
                            "is",
                            "is-is",
                            "it",
                            "it-ch",
                            "it-it",
                            "it-sm",
                            "it-va",
                            "he-il",
                            "ja",
                            "ja-jp",
                            "jgo",
                            "jgo-cm",
                            "yi",
                            "yi-001",
                            "jmc",
                            "jmc-tz",
                            "jv",
                            "jv-id",
                            "ka",
                            "ka-ge",
                            "kab",
                            "kab-dz",
                            "kam",
                            "kam-ke",
                            "kde",
                            "kde-tz",
                            "kea",
                            "kea-cv",
                            "khq",
                            "khq-ml",
                            "ki",
                            "ki-ke",
                            "kk",
                            "kk-kz",
                            "kkj",
                            "kkj-cm",
                            "kl",
                            "kl-gl",
                            "kln",
                            "kln-ke",
                            "km",
                            "km-kh",
                            "kn",
                            "kn-in",
                            "ko",
                            "ko-kp",
                            "ko-kr",
                            "kok",
                            "kok-in",
                            "ks",
                            "ks-in",
                            "ksb",
                            "ksb-tz",
                            "ksf",
                            "ksf-cm",
                            "ksh",
                            "ksh-de",
                            "kw",
                            "kw-gb",
                            "ku",
                            "ku-tr",
                            "ky",
                            "ky-kg",
                            "lag",
                            "lag-tz",
                            "lb",
                            "lb-lu",
                            "lg",
                            "lg-ug",
                            "lkt",
                            "lkt-us",
                            "ln",
                            "ln-ao",
                            "ln-cd",
                            "ln-cf",
                            "ln-cg",
                            "lo",
                            "lo-la",
                            "lrc",
                            "lrc-iq",
                            "lrc-ir",
                            "lt",
                            "lt-lt",
                            "lu",
                            "lu-cd",
                            "luo",
                            "luo-ke",
                            "luy",
                            "luy-ke",
                            "lv",
                            "lv-lv",
                            "mai",
                            "mai-in",
                            "mas",
                            "mas-ke",
                            "mas-tz",
                            "mer",
                            "mer-ke",
                            "mfe",
                            "mfe-mu",
                            "mg",
                            "mg-mg",
                            "mgh",
                            "mgh-mz",
                            "mgo",
                            "mgo-cm",
                            "mi",
                            "mi-nz",
                            "mk",
                            "mk-mk",
                            "ml",
                            "ml-in",
                            "mn",
                            "mn-mn",
                            "mni",
                            "mni-in",
                            "mr",
                            "mr-in",
                            "ms",
                            "ms-bn",
                            "ms-id",
                            "ms-my",
                            "ms-sg",
                            "mt",
                            "mt-mt",
                            "mua",
                            "mua-cm",
                            "my",
                            "my-mm",
                            "mzn",
                            "mzn-ir",
                            "naq",
                            "naq-na",
                            "nb",
                            "nb-no",
                            "nb-sj",
                            "nd",
                            "nd-zw",
                            "nds",
                            "nds-de",
                            "nds-nl",
                            "ne",
                            "ne-in",
                            "ne-np",
                            "nl",
                            "nl-aw",
                            "nl-be",
                            "nl-ch",
                            "nl-bq",
                            "nl-cw",
                            "nl-lu",
                            "nl-nl",
                            "nl-sr",
                            "nl-sx",
                            "nmg",
                            "nmg-cm",
                            "nn",
                            "nn-no",
                            "nnh",
                            "nnh-cm",
                            "no",
                            "no-no",
                            "nus",
                            "nus-ss",
                            "nyn",
                            "nyn-ug",
                            "om",
                            "om-et",
                            "om-ke",
                            "or",
                            "or-in",
                            "os",
                            "os-ge",
                            "os-ru",
                            "pa",
                            "pa-in",
                            "pa-pk",
                            "pcm",
                            "pcm-ng",
                            "pl",
                            "pl-pl",
                            "prg",
                            "prg-001",
                            "ps",
                            "ps-af",
                            "ps-pk",
                            "pt",
                            "pt-ao",
                            "pt-br",
                            "pt-ch",
                            "pt-cv",
                            "pt-gq",
                            "pt-gw",
                            "pt-lu",
                            "pt-mo",
                            "pt-mz",
                            "pt-pt",
                            "pt-st",
                            "pt-tl",
                            "qu",
                            "qu-bo",
                            "qu-ec",
                            "qu-pe",
                            "rm",
                            "rm-ch",
                            "rn",
                            "rn-bi",
                            "ro",
                            "ro-md",
                            "ro-ro",
                            "rof",
                            "rof-tz",
                            "ru",
                            "ru-by",
                            "ru-kg",
                            "ru-kz",
                            "ru-md",
                            "ru-ru",
                            "ru-ua",
                            "rw",
                            "rw-rw",
                            "rwk",
                            "rwk-tz",
                            "sa",
                            "sa-in",
                            "sah",
                            "sah-ru",
                            "saq",
                            "saq-ke",
                            "sat",
                            "sat-in",
                            "sbp",
                            "sbp-tz",
                            "sd",
                            "sd-in",
                            "sd-pk",
                            "se",
                            "se-fi",
                            "se-no",
                            "se-se",
                            "seh",
                            "seh-mz",
                            "ses",
                            "ses-ml",
                            "sg",
                            "sg-cf",
                            "shi",
                            "shi-ma",
                            "si",
                            "si-lk",
                            "sk",
                            "sk-sk",
                            "sl",
                            "sl-si",
                            "smn",
                            "smn-fi",
                            "sn",
                            "sn-zw",
                            "so",
                            "so-dj",
                            "so-et",
                            "so-ke",
                            "so-so",
                            "sq",
                            "sq-al",
                            "sq-mk",
                            "sq-xk",
                            "sr",
                            "sr-ba",
                            "sr-cs",
                            "sr-me",
                            "sr-rs",
                            "sr-xk",
                            "su",
                            "su-id",
                            "sv",
                            "sv-ax",
                            "sv-fi",
                            "sv-se",
                            "sw",
                            "sw-cd",
                            "sw-ke",
                            "sw-tz",
                            "sw-ug",
                            "sy",
                            "ta",
                            "ta-in",
                            "ta-lk",
                            "ta-my",
                            "ta-sg",
                            "te",
                            "te-in",
                            "teo",
                            "teo-ke",
                            "teo-ug",
                            "tg",
                            "tg-tj",
                            "th",
                            "th-th",
                            "ti",
                            "ti-er",
                            "ti-et",
                            "tk",
                            "tk-tm",
                            "tl",
                            "to",
                            "to-to",
                            "tr",
                            "tr-cy",
                            "tr-tr",
                            "tt",
                            "tt-ru",
                            "twq",
                            "twq-ne",
                            "tzm",
                            "tzm-ma",
                            "ug",
                            "ug-cn",
                            "uk",
                            "uk-ua",
                            "ur",
                            "ur-in",
                            "ur-pk",
                            "uz",
                            "uz-af",
                            "uz-uz",
                            "vai",
                            "vai-lr",
                            "vi",
                            "vi-vn",
                            "vo",
                            "vo-001",
                            "vun",
                            "vun-tz",
                            "wae",
                            "wae-ch",
                            "wo",
                            "wo-sn",
                            "xh",
                            "xh-za",
                            "xog",
                            "xog-ug",
                            "yav",
                            "yav-cm",
                            "yo",
                            "yo-bj",
                            "yo-ng",
                            "yue",
                            "yue-cn",
                            "yue-hk",
                            "zgh",
                            "zgh-ma",
                            "zh",
                            "zh-cn",
                            "zh-hk",
                            "zh-mo",
                            "zh-sg",
                            "zh-tw",
                            "zh-hans",
                            "zh-hant",
                            "zu",
                            "zu-za"
                        ]
                    },
                    "linkedin": {
                        "type": "string",
                        "description": "URL to the blog author's LinkedIn page."
                    },
                    "avatar": {
                        "type": "string",
                        "description": "URL to the blog author's avatar, if supplying a custom one."
                    },
                    "translatedFromId": {
                        "type": "integer",
                        "description": "ID of the primary blog author this object was translated from.",
                        "format": "int64"
                    },
                    "twitter": {
                        "type": "string",
                        "description": "URL or username of the Twitter account associated with the Blog Author. This will be normalized into the Twitter url for said user."
                    },
                    "deletedAt": {
                        "type": "string",
                        "description": "The timestamp (ISO8601 format) when this Blog Author was deleted.",
                        "format": "date-time"
                    },
                    "name": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique ID of the Blog Author."
                    },
                    "updated": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "email": {
                        "type": "string",
                        "description": "Email address of the Blog Author."
                    },
                    "slug": {
                        "type": "string"
                    }
                },
                "description": "Model definition for a Blog Author."
            },
            "Error": {
                "required": ["category", "correlationId", "message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"],
                            "invalidPropertyName": ["propertyValue"]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": {
                            "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "Invalid input (details will vary based on the error)"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": "VALIDATION_ERROR"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                }
            },
            "AttachToLangPrimaryRequestVNext": {
                "required": ["id", "language", "primaryId"],
                "type": "object",
                "properties": {
                    "language": {
                        "type": "string",
                        "description": "Designated language of the object to add to a multi-language group."
                    },
                    "id": {
                        "type": "string",
                        "description": "ID of the object to add to a multi-language group."
                    },
                    "primaryId": {
                        "type": "string",
                        "description": "ID of primary language object in multi-language group."
                    },
                    "primaryLanguage": {
                        "type": "string",
                        "description": "Primary language of the multi-language group."
                    }
                },
                "description": "Request body object for attaching objects to multi-language groups."
            },
            "ErrorDetail": {
                "required": ["message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                }
            },
            "BatchResponseBlogAuthor": {
                "required": ["completedAt", "results", "startedAt", "status"],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "Time of batch operation completion.",
                        "format": "date-time"
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "Time of batch operation request.",
                        "format": "date-time"
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "Time of batch operation start.",
                        "format": "date-time"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Links associated with batch operation."
                    },
                    "results": {
                        "type": "array",
                        "description": "Results of batch operation.",
                        "items": {
                            "$ref": "#/components/schemas/BlogAuthor"
                        }
                    },
                    "status": {
                        "type": "string",
                        "description": "Status of batch operation.",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ]
                    }
                },
                "description": "Response object for batch operations on blog authors."
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage"
                    }
                },
                "description": "Model definition for forward paging."
            },
            "BatchResponseBlogAuthorWithErrors": {
                "required": ["completedAt", "results", "startedAt", "status"],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "Time of batch operation completion.",
                        "format": "date-time"
                    },
                    "numErrors": {
                        "type": "integer",
                        "description": "Number of errors.",
                        "format": "int32"
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "Time of batch operation request.",
                        "format": "date-time"
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "Time of batch operation start.",
                        "format": "date-time"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Links associated with batch operation."
                    },
                    "results": {
                        "type": "array",
                        "description": "Results of batch operation.",
                        "items": {
                            "$ref": "#/components/schemas/BlogAuthor"
                        }
                    },
                    "errors": {
                        "type": "array",
                        "description": "Errors in batch operation.",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        }
                    },
                    "status": {
                        "type": "string",
                        "description": "Status of batch operation.",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ]
                    }
                },
                "description": "Response object for batch operations on blog authors with errors."
            },
            "NextPage": {
                "required": ["after"],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string",
                        "description": ""
                    },
                    "after": {
                        "type": "string",
                        "description": ""
                    }
                },
                "description": "Model definition for a next page."
            },
            "CollectionResponseWithTotalBlogAuthorForwardPaging": {
                "required": ["results", "total"],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "description": "Total number of blog authors.",
                        "format": "int32"
                    },
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging"
                    },
                    "results": {
                        "type": "array",
                        "description": "Collection of blog authors.",
                        "items": {
                            "$ref": "#/components/schemas/BlogAuthor"
                        }
                    }
                },
                "description": "Response object for collections of blog authors with pagination information."
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth2_legacy": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "content": "Read from and write to my Content"
                        }
                    }
                }
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header"
            }
        }
    },
    "x-hubspot-available-client-libraries": ["PHP", "Node", "Ruby", "Python"],
    "x-hubspot-product-tier-requirements": {
        "marketing": "PROFESSIONAL",
        "cms": "STARTER"
    },
    "x-hubspot-documentation-banner": "NONE"
}
