openapi: 3.0.1
info:
  x-ballerina-display:
    label: Constant Contact
    iconPath: "icon.png"
  title: AppConnect V3
  description: |
    This is a generated connector for [Constant Contact API v3](https://v3.developer.constantcontact.com/api_guide/index.html) OpenAPI specification.
    The Constant Contact, Inc. V3 public API, for building integrations with Constant Contact, the leading small-business email marketing platform.
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials. 
  
    Create a [Constant Contact account](https://v3.developer.constantcontact.com/login/index.html) and obtain tokens by following [this guide](https://v3.developer.constantcontact.com/api_guide/getting_started.html).
  contact:
    name: webservices@constantcontact.com
  license:
    name: Private
  version: 3.0.0
servers:
- url: https://api.cc.email/v3
tags:
- name: Account Services
  description: Use the account endpoints and methods to get account information.
- name: Access Token Information
  description: Get authentication information about your access token.
- name: Bulk Activities
  description: Bulk activities endpoints are used to manage large numbers of contacts,
    lists, and tags.
- name: Contacts
  description: Endpoints and methods to get, create, delete, and update one or more
    contacts.
- name: Contact Lists
  description: Endpoints and methods to get, create, delete, and update one or more
    contact lists.
- name: Contact Tags
  description: Endpoints and methods to get, create, delete, and update one or more
    contact tags.
- name: Contacts Reporting
  description: Contact reporting endpoints are used to gather activity reports for
    campaigns sent to a contact.
- name: Contacts Custom Fields
  description: Endpoints and methods to get, create, delete, and update on one or
    more custom fields.
- name: Email Campaigns
  description: Use email campaign endpoints and methods to get, create, and update
    email campaigns.
- name: Email Reporting
  description: Use the email reporting endpoints and methods to get reporting data
    for email campaigns you sent to contacts.
- name: Email Scheduling
  description: Use email scheduling endpoints and methods to schedule an email campaign
    activity, unschedule an email campaign activity, and GET schedule information.
- name: Segments
  description: Use segments to target a subset of your contacts that are most likely
    to engage with a particular campaign.
- name: Technology Partners
  description: Use partner endpoints to manage client Constant Contact accounts under
    your partner account.
paths:
  /account/user/privileges:
    get:
      tags:
      - Account Services
      summary: GET User Privileges
      description: Use this method to return the user privileges associated with your
        access token as an array of objects. This method returns all user privileges,
        including privileges the V3 API does not currently use. Constant Contact requires
        specific user privileges to make requests using the V3 API. For more information,
        see the [User Privileges and Roles Overview](/api_guide/user_privileges.html).
      operationId: getUserPrivileges
      responses:
        200:
          description: Request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPrivilegesResource'
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. Your application is deactivated.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit: []
      - oauth2_access_code: []
      - api_key: []
  /account/summary:
    get:
      tags:
      - Account Services
      summary: GET a Summary of Account Details
      description: Get account related details for a Constant Contact user account.
        Use the `extra_fields` query parameter to include the `company_logo` and/or
        `physical_address` details in the response body. For more details, see [Get
        Account Summary Details](/api_guide/account_details_get.html).
      operationId: getAccountById
      parameters:
      - name: extra_fields
        in: query
        description: Use the `extra_fields` query parameter to include the `physical_address`
          and/or `company_logo` details in the response body. Use a comma separated
          list to include both (physical_address, company logo).
        schema:
          type: string
          format: csv
          enum:
          - physical_address
          - company_logo
        example: company_logo
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - account_read
      - oauth2_access_code:
        - account_read
      - api_key: []
      x-authorization-privileges:
      - account:read
    put:
      tags:
      - Account Services
      summary: PUT (update) Account Details
      description: Use this method to update account details for a Constant Contact
        account, such as the email address or phone number. This PUT method provides
        a partial update where only valid properties that you include in the request
        body are updated and excluded properties are not overwritten. For more details,
        see [Put (update) Account Summary Details](/api_guide/account_details_put.html).
      operationId: putCustomerById
      requestBody:
        description: In the request body, specify changes to account details by including
          and modifying all or select `CustomerPut` properties. Changes to read-only
          fields (`encoded_account_id`) are ignored.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPut'
        required: true
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPut'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - account_update
      - oauth2_access_code:
        - account_update
      - api_key: []
      x-authorization-privileges:
      - account:update
      x-codegen-request-body-name: body
  /account/summary/physical_address:
    get:
      tags:
      - Account Services
      summary: GET the Physical Address for the Account
      description: Use this method to get the address where the account's organization
        physically resides. The physical address is required to send emails and displays
        on the footer of every email that is sent from the account.
      operationId: getPhysicalAddress
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPhysicalAddress'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - account_read
      - oauth2_access_code:
        - account_read
      - api_key: []
      x-authorization-privileges:
      - account:read
    put:
      tags:
      - Account Services
      summary: PUT (update) the Physical Address for an Account
      description: 'Use this method to update the organization''s physical address
        for the Constant Contact user account. The physical address is required to
        send emails and displays on the footer of every email that is sent from the
        account. To get the current physical address, make a GET call to `/account/summary/physical_address`.
        The country (<code>country_code</code>) where the account organization resides
        determines whether you use the <code>state_code</code> to specify United States
        (<code>US</code>) and Canada (<code>CA</code>) addresses, or use the <code>state_name</code>
        to specify all other countries. For more details, see [Put (update) the Physical
        Address for the Account](/api_guide/account_address_put.html). You must have
        the role of Account Owner assigned to update account level details. '
      operationId: putPhysicalAddress
      requestBody:
        description: Include all `AccountPhysicalAddress` properties required for
          the specified `country_code` and then update only those properties that
          you want to change. Excluding a non-read only field from the request body
          removes it from the physical address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPhysicalAddress'
        required: true
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPhysicalAddress'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - account_update
      - oauth2_access_code:
        - account_update
      - api_key: []
      x-authorization-privileges:
      - account:update
      x-codegen-request-body-name: body
  /account/emails:
    get:
      tags:
      - Account Services
      summary: GET a Collection of Account Email Addresses
      description: "Use this method to return a collection of email addresses for\
        \ the account associated with your access token. When you <a href=\"https://v3.developer.constantcontact.com/api_reference/index.html#!/Email_Campaigns/createEmailCampaignUsingPOST\"\
        \ target=\"_blank\">Create an Email Campaign<a/>, you must use an account\
        \ email address with a `CONFIRMED` status in the email campaign `from_email`\
        \ and `reply_to_email` headers.\n      \n\nUse the query parameters to filter\
        \ results. You can filter using `confirm_status`, `role_code`, or `email_address`.\
        \ For example, searching with `confirm_status=CONFIRMED` returns all confirmed\
        \ email addresses in the account. This method only supports one query parameter\
        \ at a time.\n"
      operationId: retrieveEmailAddresses
      parameters:
      - name: confirm_status
        in: query
        description: |
          Use the `confirm_status` query parameter to search for account emails using the email status. Possible values are `CONFIRMED` or `UNCONFIRMED`. You can also abbreviate the values of this query parameter and use `C` or `U`.
        schema:
          type: string
          enum:
          - CONFIRMED
          - C
          - UNCONFIRMED
          - U
      - name: role_code
        in: query
        description: Use the `role_code` query parameter to search for account emails
          that have a specific role. Each each email address in an account can have
          multiple roles or no role. Possible values are `CONTACT`, `BILLING`, `REPLY_TO`,
          `JOURNALING`, or `OTHER`. You can also abbreviate the value of this query
          parameter and use `C`,`B`,`R`,`J`, or `O`.
        schema:
          type: string
          enum:
          - CONTACT
          - C
          - BILLING
          - B
          - JOURNALING
          - J
          - REPLY_TO
          - R
          - OTHER
          - O
      - name: email_address
        in: query
        description: Use the `email_address` query parameter to search for a specific
          account email address.
        schema:
          type: string
      responses:
        200:
          description: Request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEmails'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - account_read
      - oauth2_access_code:
        - account_read
      - api_key: []
      x-authorization-privileges:
      - account:read
    post:
      tags:
      - Account Services
      summary: POST Add an Account Email Address
      description: "Use this method to add a new email address to a Constant Contact\
        \ account. If the email address you are adding already exists in the account\
        \ the API will return a 409 conflict error. \n\nWhen you add a new email address\
        \ to an account, Constant Contact automatically sends an email to that address\
        \ with a link to confirm it. After a user clicks that link, the account email\
        \ status changes from `UNCONFIRMED` to `CONFIRMED`. You can use confirmed\
        \ account email addresses in the email campaign `from_email` and `reply_to_email`\
        \ headers. For more use case information, see [Add an Account Email Address](/api_guide/account_post_emails.html)\
        \ in the API guide. \n"
      operationId: addAccountEmailAddress
      requestBody:
        description: A JSON request payload containing the new email address you want
          to add to the Constant Contact account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEmailInput'
        required: true
      responses:
        201:
          description: Request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEmailCreateResponse'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        409:
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - account_update
      - oauth2_access_code:
        - account_update
      - api_key: []
      x-authorization-privileges:
      - account:update
      x-codegen-request-body-name: body
  /activities:
    get:
      tags:
      - Bulk Activities
      summary: GET Activity Status Collection
      description: This endpoint returns a collection of activities. Use the state
        query parameter to include only activities with a specific status (processing,
        completed, cancelled, failed, or time_out). Use the limit query parameter
        to define the number of activities returned per page. Learn [more](/api_guide/activity_status.html).
      operationId: getActivityStatusCollection
      parameters:
      - name: limit
        in: query
        description: Specifies the number of results displayed per page of output,
          from 1 - 500, default = 50.
        schema:
          maximum: 500
          minimum: 1
          type: integer
          default: 50
        example: 25
      - name: state
        in: query
        description: 'Use this parameter to filter the response to include only activities
          in one of the following states: cancelled, completed, failed, processing,
          or timed_out.'
        schema:
          type: string
          enum:
          - processing
          - completed
          - cancelled
          - failed
          - timed_out
        example: processing
      responses:
        200:
          description: Request Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activities'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
  /activities/{activity_id}:
    get:
      tags:
      - Bulk Activities
      summary: GET an Activity Status
      description: This endpoint returns an activity status report.
      operationId: getActivity
      parameters:
      - name: activity_id
        in: path
        description: The unique ID of the activity to GET
        required: true
        schema:
          type: string
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
      responses:
        200:
          description: Request Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: Resource not found for the activity_id provided
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
  /activities/contact_exports:
    post:
      tags:
      - Bulk Activities
      summary: Export Contacts to a File
      description: Use this method to create an activity that exports contacts to
        a CSV file. After Constant Contact finishes processing the activity, use the
        `results` link in the response body to retrieve the CSV file.
      operationId: postContactsExport
      requestBody:
        description: A JSON payload that specifies the contacts (rows in the CSV file)
          and contact properties (columns in the CSV file) you want to export.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactsExport'
        required: true
      responses:
        201:
          description: Request successful, queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityExportStatus'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        429:
          description: Too many requests. You exceeded 1,000 queued activities for
            this user account.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /activities/contact_delete:
    post:
      tags:
      - Bulk Activities
      summary: Delete Contacts in Bulk
      description: Use this endpoint to bulk delete contacts in an account. Contacts
        to delete are specified by contact_id (up to 500), or by list_id (up to 50
        lists); all contacts that are members of the list_ids are deleted. Deleted
        contacts won’t receive email from you, and they don’t count as active contacts.
        Unlike unsubscribed contacts, deleted contacts can be added back to an account.
        [Learn how to revive deleted contacts](/api_guide/contacts_delete.html#revive).
      operationId: postContactDelete
      requestBody:
        description: The request body contains an array of contact_ids <em>or</em>
          list_ids. All contact_ids provided are deleted, or all members of each specified
          list_id are deleted.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDelete'
        required: true
      responses:
        201:
          description: Request successful. Activity queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityDeleteStatus'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        429:
          description: Too many requests. You exceeded 1,000 queued activities for
            this user account.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /activities/contacts_file_import:
    post:
      tags:
      - Bulk Activities
      summary: Import Contacts using a CSV File
      description: |-
        This multipart method creates an asynchronous background job that adds or updates contacts by importing a CSV file containing contact information. Do not use a Content-Type header value with this method.

        Importing a new contact automatically sets the contact's `permission_to_send` property as `implicit` and the `opt_in_source` property as `Account`. Importing an existing contact only updates the contact properties you include in the request.

        The CSV file has a maximum of 40,000 lines including the header row (39,999 contacts) and a maximum file size of 4 megabytes (MB).  Lines above the 40,000 line maximum are not processed. If the request body exceeds 4 MB, only the contacts contained in the first 4 MB are imported and the remaining data is dropped.
      operationId: contactsCSVImport
      requestBody:
        description: ContactsCSVImport request
        content:
          multipart/form-data:
            schema:
              required:
              - file
              - list_ids
              properties:
                file:
                  type: string
                  description: |
                    The CSV file you are importing. The column headings that you can use in the file are: `first_name`,
                    `last_name`, `email`, `phone`, `job_title`, `anniversary`, `birthday_day`, `birthday_month`, `company_name`, `street`, `street2`, `city`, `state`, `zip`, and `country`. The only required column heading is `email`.


                    You can also use custom fields as column headings. Enter the custom field name prefixed with `cf:` as the column heading. For example, use `cf:first_name` as the header name if you have a custom field named "first_name". The custom field must already exist in the Constant Contact account you are using. Depending on the custom field data type, you can enter dates or strings as the value of the custom field. Each contact can contain up to 25 different custom fields.
                  format: binary
                  example: new_contacts_import.csv
                list_ids:
                  maxItems: 50
                  type: array
                  description: Specify which contact lists you are adding all imported
                    contacts to as an array of up to 50 contact `list_id` values.
                  example: 8c077f20-1586-11e4-bcb3-00163e56be7c
                  items:
                    type: string
        required: true
      responses:
        201:
          description: Request successful. Activity queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityImport'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        415:
          description: 1. This endpoint requires that Content-Type be unspecified
            2. Wrong file format, upload file must be of type .csv
          content: {}
        429:
          description: Too many requests. You exceeded 1,000 queued activities for
            this user account.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
  /activities/contacts_json_import:
    post:
      tags:
      - Bulk Activities
      summary: Import Contacts using a JSON Payload
      description: |-
        Use this method to create an asynchronous background job that adds new contacts or updates existing contacts by importing a JSON payload. This method requires a request body that contains the contact data you are importing and the contact lists you are adding all imported contacts to.

        Importing a new contact automatically sets the contact's `permission_to_send` property as `implicit` and the `opt_in_source` property as `Account`. Importing an existing contact only updates the contact properties you include in the request.

        You can import custom fields by prefixing a custom field name with `cf:` and adding it as a contact property. For example, use the property name `cf:first_name` if you have a custom field named first_name. The custom field must already exist in the Constant Contact account you are using. Each contact can contain up to 25 custom fields.

        The request body payload has a maximum size of 4 megabytes (MB). If the request body exceeds 4 MB, this method only imports the first 4 MB and drops the remaining data.
      operationId: bulkImportContactsJSON
      requestBody:
        description: The JSON request payload that contains the contact data and contact
          lists for the import.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactsJsonImport'
        required: true
      responses:
        201:
          description: Request successful. Activity queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityImport'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        429:
          description: Too many requests. You exceeded 1,000 queued activities for
            this user account.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /activities/remove_list_memberships:
    post:
      tags:
      - Bulk Activities
      summary: Remove Contacts from Lists
      description: |
        Use this method to create an activity that removes contacts from one or more lists. Use the properties in the `source` object to remove specific contacts from your targeted lists. Use the `list_ids` array to specify the lists from which you want to remove the source contacts.
      operationId: postListRemoveContact
      requestBody:
        description: The JSON payload used to create the 'remove contacts from lists'
          activity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListActivityRemoveContacts'
        required: true
      responses:
        201:
          description: Request successful. Activity queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityListsMembership'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        429:
          description: Too many requests. You exceeded 1,000 queued activities for
            this user account.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /activities/add_list_memberships:
    post:
      tags:
      - Bulk Activities
      summary: Add Contacts to Lists
      description: Use this method to create an activity that adds contacts to one
        or more lists. Each contact can be a member of up to 50 lists. Use the properties
        in the `source` object to specify the contacts you want to add to lists. Use
        the `list_ids` array to specify which lists you want to add your source contacts
        to.
      operationId: postListAddContact
      requestBody:
        description: The JSON payload used to create the 'add contacts to lists' activity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListActivityAddContacts'
        required: true
      responses:
        201:
          description: Request successful. Activity queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityListsMembership'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        429:
          description: Too many requests. You exceeded 1,000 queued activities for
            this user account.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /activities/contacts_taggings_remove:
    post:
      tags:
      - Bulk Activities
      summary: Remove Tags from Contacts
      description: |
        Use this method to create an asynchronous activity that removes one or more tags from all contacts meeting your contact filtering criteria. Filtering criteria must include the `source` type used to identify contacts from which the specified tags (`tag_id`) are removed.

        Source types are mutually exclusive. If the specified source is either `all_active_contacts` or `list_ids`, you can optionally choose to `exclude` specified contacts by `contact_id`. Use the activity link in the results to check the status of your request."

        For more use case information, see "[Remove Tags from Contacts](/api_guide/remove_tagging_activity.html)"
      operationId: postTagRemoveContact
      requestBody:
        description: The JSON payload used to create an asynchronous activity that
          removes tags from contacts meeting your specified contact filtering criteria.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagAddRemoveContacts'
        required: true
      responses:
        201:
          description: Request successful. Activity queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTagging'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        429:
          description: Too many requests. You exceeded 1,000 queued activities for
            this user account.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /activities/contacts_taggings_add:
    post:
      tags:
      - Bulk Activities
      summary: Add Tags to Contacts
      description: |
        Use this method to create an asynchronous activity that adds one or more tags to all contacts meeting your contact filtering criteria. Use the `source` type to identify contacts from which the specified tags (`tag_id`) are added.

        Source criteria are mutually exclusive. If the source is `all_active_contacts` or `list_ids`, you can optionally choose to `exclude` contacts by `contact_id`. Use the activity link in the results to check the status of your request.

        For more use case information, see "[Add Tags to Contacts](/api_guide/add_tagging_activity.html)"
      operationId: postTagAddContact
      requestBody:
        description: The JSON payload used to create an asynchronous activity that
          adds tags to contacts that meet your specified contact filtering criteria.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagAddRemoveContacts'
        required: true
      responses:
        201:
          description: Request successful. Activity queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTagging'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        429:
          description: Too many requests. You exceeded 1,000 queued activities for
            this user account.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /activities/contacts_tags_delete:
    post:
      tags:
      - Bulk Activities
      summary: Delete Tags
      description: Use this method to create an asynchronous activity that deletes
        up to 500 tags. Deleted tags are automatically removed from tagged contacts.
        Use the `tag_ids` array of string values in the request body to specify which
        tags to delete.
      operationId: postTagDelete
      requestBody:
        description: An array of string values (`tag_id`s) to delete.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagIdList500Limit'
        required: true
      responses:
        201:
          description: Request successful. Activity queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTagging'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        429:
          description: Too many requests. You exceeded 1,000 queued activities for
            this user account.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /segments:
    get:
      tags:
      - Segments
      summary: GET all Segments
      description: Use this method to get a list of all segments associated with the
        account. You can sort segment results and limit the number of segments that
        display per page. Deleted segments are excluded from the results. For more
        use case information, see [Get All Segments](/api_guide/segment_get_all.html)
        in the API guide.
      operationId: getAccountSegments
      parameters:
      - name: limit
        in: query
        description: The number of segments to return on a page.
        schema:
          type: string
          default: "1000"
        example: "1000"
      - name: sort_by
        in: query
        description: Specify the segment sort order to use. Sort by name (`sort_by=name`)
          in ascending order, or sort by date (`sort_by=date`) in descending order
          with the most recently updated segments listed first.
        schema:
          type: string
          default: date
        example: sort_by=date
      responses:
        200:
          description: Request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentsDTO'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        429:
          description: Too many requests. You exceeded the request rate limit.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:read
    post:
      tags:
      - Segments
      summary: POST (create) a Segment
      description: |-
        Use this method to create a new segment. You create segments to target a subset of your contacts that meet your specific criteria for a marketing campaign. The segment `name` must be unique. The `segment_criteria` requires single-string escaped JSON. Constant Contact uses the contact data that you specify in the `segment_criteria` to evaluate and identify the contacts you want to target. Contact data can be grouped from different data sources, including:

          -  **`tracking`**: Supports **or** and **and** groups.


          -  **`contact`**: Supports **or** and **and** groups.


          -  **`list_membership`**: Supports **or** groups.

          -  **`tags`**: Supports **or** groups.

        If you do not specify `list_membership` as criteria, Constant Contact evaluates all contacts in your account. To avoid returning a 400 error response, when specifying the `segment_criteria` do not request more than 500 email campaigns or a date range greater than 1825 days (5 years) be evaluated.

        For more use case information, see the [Segments Overview](/api_guide/segments_overview.html) in the API guide.
      operationId: createSegment
      requestBody:
        description: The segment `name` and `segment_criteria` (requires single-string
          escaped JSON).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentData'
        required: true
      responses:
        201:
          description: Segment successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentDetail'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        409:
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:write
      x-codegen-request-body-name: body
  /segments/{segment_id}:
    get:
      tags:
      - Segments
      summary: GET a Segment's Details
      description: Use this method to get details about a segment, including the segment
        criteria. If you know the `segment_id` You can also use this method to get
        details about a deleted segment. For more use case information, see [Get a
        Segment's Details](/api_guide/segment_get.html) in the API guide.
      operationId: getSegmentDetail
      parameters:
      - name: segment_id
        in: path
        description: The system-generated unique ID that identifies a segment.
        required: true
        schema:
          type: integer
          format: int32
        example: 14
      responses:
        200:
          description: The segment was successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentDetail'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:read
    put:
      tags:
      - Segments
      summary: PUT (update) a Segment
      description: Use this method to update an existing segment's name (`name`) and/or
        contact selection criteria (`segment_criteria`). You must specify both the
        `name` and the `segment_criteria` in the request body, even if you don't plan
        to update both. The segment's name must be unique and the JSON must be valid
        (requires single-string escaped JSON). To avoid returning a 400 error response,
        when specifying the `segment_criteria` do not request more than 500 email
        campaigns or a date range greater than 1825 days (5 years) be evaluated. For
        more use case information, see [Update Segment Details](/api_guide/segment_update.html)
        in the API guide.
      operationId: updateSegment
      parameters:
      - name: segment_id
        in: path
        description: The system generated ID that uniquely identifies the segment
          that you want to modify.
        required: true
        schema:
          type: integer
          format: int32
        example: 14
      requestBody:
        description: Include both the `name` and `segment_criteria` (single-string
          escaped JSON) in the body request, then make updates to either or both.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentData'
        required: true
      responses:
        200:
          description: The segment was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentDetail'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        409:
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:write
      x-codegen-request-body-name: body
    delete:
      tags:
      - Segments
      summary: DELETE a Segment
      description: |-
        Use this method to delete a segment from your account. Before deleting a segment, verify that the segment is not associated with a scheduled campaign.

        Deleted segments do not display in the results when using the `GET /segments` endpoint. If you know the `segment_id`, you can use the `GET /segments/{segment_id}` endpoint to view the deleted segment's details. A segment's details are preserved for external reference purposes, such as displaying the segment name in a campaign's history. For more use case information, see [Delete a Segment](/api_guide/segment_delete.html) in the API guide.
      operationId: deleteSegment
      parameters:
      - name: segment_id
        in: path
        description: The system generated ID that uniquely identifies the segment.
        required: true
        schema:
          type: integer
          format: int32
        example: 14
      responses:
        204:
          description: The segment was successfully deleted.
          content: {}
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:write
  /segments/{segment_id}/name:
    patch:
      tags:
      - Segments
      summary: PATCH (rename) a Segment
      description: Use this method to update an existing segment `name` with a new
        unique name in the request body. For more use case information, see [Rename
        a Segment](/api_guide/segment_rename.html) in the API guide.
      operationId: updateSegmentName
      parameters:
      - name: segment_id
        in: path
        description: The system generated ID that uniquely identifies the segment
          that you want to modify.
        required: true
        schema:
          type: integer
          format: int32
        example: 14
      requestBody:
        description: Include the existing segment `name` in the body request, then
          rename the segment using a unique new name.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentName'
        required: true
      responses:
        200:
          description: The segment name was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentDetail'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        409:
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:write
      x-codegen-request-body-name: body
  /contacts/{contact_id}:
    get:
      tags:
      - Contacts
      summary: GET a Contact
      description: This endpoint GETs a specific contact resource (contact_id). Use
        the `include` query parameter to add any of the available contact sub-resources
        to the response payload.
      operationId: getContact
      parameters:
      - name: contact_id
        in: path
        description: Unique ID of contact to GET
        required: true
        schema:
          type: string
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
      - name: include
        in: query
        description: 'Use `include` to specify which contact sub-resources to include
          in the response. Use a comma to separate multiple sub-resources. Valid values:
          `custom_fields`, `list_memberships`, `phone_numbers`, `street_addresses`,
          `notes`, and `taggings`.'
        schema:
          type: string
          format: csv
          enum:
          - custom_fields
          - list_memberships
          - phone_numbers
          - street_addresses
          - taggings
          - notes
        example: custom_fields,list_memberships
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResource'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:read
    put:
      tags:
      - Contacts
      summary: PUT (update) a Contact
      description: The PUT method updates an existing contact. You must include the
        `update_source` property in the PUT request payload. To restore  a deleted
        contact you must specify the `update_source` as `Account`. When updating any
        resource using PUT, all properties are updated, overwriting all previous values.
        Any properties left blank or not included in the request are overwritten with
        null value - however this does not apply to contact subresources. Add or change
        any of the subresources by including them in the PUT request payload. Omitted
        subresources are not overwritten with null. If the contact being updated is
        deleted, the contact will be revived.
      operationId: putContact
      parameters:
      - name: contact_id
        in: path
        description: Unique ID of contact to update
        required: true
        schema:
          type: string
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
      requestBody:
        description: JSON payload defining the contact object, with updates. Any properties
          left blank or not included in the PUT payload are overwritten with null
          value - does not apply to contact subresources.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactPutRequest'
        required: true
      responses:
        200:
          description: Contact resource has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResource'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        409:
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
    delete:
      tags:
      - Contacts
      summary: DELETE a Contact
      description: Deletes the contact identified by the contact_id path parameter.
        Deleted contacts won't receive email from you, and they don't count as active
        contacts. Unlike unsubscribed contacts, deleted contacts can be revived, or
        added back to an account. Learn how to [revive deleted contacts](/api_guide/contacts_delete.html#revive).
      operationId: deleteContact
      parameters:
      - name: contact_id
        in: path
        description: Unique ID of contact to DELETE
        required: true
        schema:
          type: string
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
      responses:
        204:
          description: Request successful; No content returned
          content: {}
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
  /contacts:
    get:
      tags:
      - Contacts
      summary: GET Contacts Collection
      description: |-
        Use this method to return a collection of contacts. Use the query parameters to search for contacts that match specific criteria. For example, you can search by the contact's `email` address, `status`, `lists` memberships, `segment_id`, `tags`, `notes` and `updated_after` date. Use the `limit` query parameter to limit the number of results returned per page. Use the `include` query parameter to include contact sub-resources in the response and `include_count` to include the total number of contacts that meet your specified search criteria.

        By default, this method returns all contacts that are not deleted. Use the `status` query parameter with the value `all` to return all contacts including deleted contacts.
      operationId: getContacts
      parameters:
      - name: status
        in: query
        description: 'Use the `status` query parameter to search for contacts by status.
          This parameter accepts one or more comma separated values: `all`, `active`,
          `deleted`, `not_set`, `pending_confirmation`, `temp_hold`, and `unsubscribed`.'
        schema:
          type: string
          format: csv
          enum:
          - all
          - active
          - deleted
          - not_set
          - pending_confirmation
          - temp_hold
          - unsubscribed
      - name: email
        in: query
        description: Use the `email` query parameter to search for a contact using
          a specific email address.
        schema:
          type: string
        example: xyz@example.com
      - name: lists
        in: query
        description: Use the `lists` query parameter to search for contacts that are
          members of one or more specified lists. Use a comma to separate multiple
          `list_id` values, up to a maximum of 25.
        schema:
          maximum: 25
          type: string
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a,04fe9a-a579-43c5-bb1a-58ed29bf0a6a,04fe9a-a579-43c5-bb1a-58ed29bf0a6a
      - name: segment_id
        in: query
        description: Use to get contacts that meet the segment criteria for a single
          specified `segment_id`. This query parameter can only be combined with the
          limit query parameter. When using the `segment_id` query parameter, the
          V3 API may return a 202 response code instead of a 200 response. The 202
          response code indicates that your request has been accepted, but not fully
          completed. Retry sending your API request to return the completed results
          and a 200 response code.
        schema:
          maximum: 1
          type: string
        example: "14"
      - name: tags
        in: query
        description: Use to get contact details for up to 50 specified tags. Use a
          comma to separate each `tag_id`.
        schema:
          maximum: 50
          type: string
          format: uuid
        example: fa85f64-5717-4562-b3fc-2c963f66afa6
      - name: updated_after
        in: query
        description: Use `updated_after` to search for contacts that have been updated
          after the date you specify; accepts ISO-8601 formatted dates.
        schema:
          type: string
          format: date
        example: 2016-07-16
      - name: include
        in: query
        description: 'Use `include` to specify which contact sub-resources to include
          in the response. Use a comma to separate multiple sub-resources. Valid values:
          `custom_fields`, `list_memberships`, `taggings`, `notes`,`phone_numbers`,
          `street_addresses`. '
        schema:
          type: string
          format: csv
          enum:
          - custom_fields
          - list_memberships
          - phone_numbers
          - street_addresses
          - taggings
          - notes
        example: custom_fields,list_memberships
      - name: include_count
        in: query
        description: Set `include_count=true` to include the total number of contacts
          (`contacts_count`) that meet all search criteria in the response body.
        schema:
          type: boolean
        example: true
      - name: limit
        in: query
        description: Specifies the number of results displayed per page of output
          in the response, from 1 - 500, default = 50.
        schema:
          maximum: 500
          minimum: 1
          type: integer
          default: 50
        example: 25
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contacts'
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contacts'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:read
    post:
      tags:
      - Contacts
      summary: POST (create) a Contact
      description: 'Creates a new contact resource; you must include the `create_source`
        property and at least one of the following properties when creating a new
        contact: `first_name`, `last_name`, or `email_address` (`email_address` must
        be unique for each contact).'
      operationId: createContact
      requestBody:
        description: The JSON payload defining the contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactPostRequest'
        required: true
      responses:
        201:
          description: New contact successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResource'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        409:
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
          content: {}
        415:
          description: Unsupported Media Type; the payload must be in JSON format,
            and Content-Type must be application/json
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /contacts/sign_up_form:
    post:
      tags:
      - Contacts
      summary: Create or Update a Contact
      description: "Use this method to create a new contact or update an existing\
        \ contact. This method uses the `email_address` string value you include in\
        \ the request body to determine if it should create an new contact or update\
        \ an existing contact.\n\nUpdates to existing contacts are partial updates.\
        \ This method only updates the contact properties you include in the request\
        \ body. Updates append new contact lists or custom fields to the existing\
        \ `list_memberships` or `custom_fields` arrays.\n<div class=\"Msg\"><p class=\"\
        note-text\">Only use this method when a contact gives you their explicit permission\
        \ to send them emails. It is a violation of US and Canadian anti-spam laws,\
        \ as well as a serious violation of the Constant Contact Terms of Service\
        \ to use the Opt-in features of the API to opt a contact back in without his\
        \ or her own action and consent.</p></div>\n\nWhen this method creates a new\
        \ contact, it returns a 201 response code.\n\nWhen this method updates an\
        \ existing contact, it returns a 200 response code. Updating a deleted contact\
        \ restores the contact.\n\nThe method automatically modifies the contact's\
        \ `permission_to_send` and `opt_in_source` properties depending on the [Confirmed\
        \ Opt-In](https://knowledgebase.constantcontact.com/articles/KnowledgeBase/5533-obtain-permission-to-send-email-campaigns-to-your-contacts-by-using-confirmed-opt-in)\
        \ Constant Contact account setting:\n\nIf Confirmed Opt-in is _enabled_, this\
        \ method automatically sets the `permission_to_send` property as pending\\\
        _confirmation for new contacts. \n\nIf Confirmed Opt-in is _disabled_, this\
        \ method automatically sets the `permission_to_send` property as explicit\
        \ and the `opt_in_source` property as `Contact` for new contacts. Updated\
        \ contacts have their `permission_to_send` property set as explicit.\n   \
        \   \n"
      operationId: createOrUpdateContact
      requestBody:
        description: A JSON request body payload that contains the contact resource
          you are creating or updating. The request body must contain the `email_address`
          property and the `list_memberships` array.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateOrUpdateInput'
        required: true
      responses:
        200:
          description: Contact successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateOrUpdateResponse'
        201:
          description: Contact successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateOrUpdateResponse'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        409:
          description: Conflict. You sent simultaneous requests that are attempting
            to modify the same contact.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /contacts/contact_id_xrefs:
    get:
      tags:
      - Contacts
      summary: GET a collection of V2 and V3 API contact IDs
      description: |
        <div class="Msg Msg--warning"><p class="note-text">Use this endpoint to migrate your locally stored V2 contact ids to the new V3 format. Developers are expected to use this endpoint sparingly. This endpoint is NOT intended for regular or repeated use. Constant Contact will eventually deprecate and remove this endpoint.</p></div>

        This GET call retrieves a collection of cross-referenced contact sequence IDs (`id` used in the V2 API) and UUIDs (`contact_id` used in the V3 API). This endpoint is intended for developers who have an existing V2 API integration, and are migrating their users to a new V3 API integration. The V2 and V3 APIs use different resource ID formats. Use the `sequence_ids` query parameter to specify a set of comma delimited V2 contacts ids to cross-referenced with their V3 `contact_ids`. See [Migrating to V3](/api_guide/migration_overview.html) to learn more.
      operationId: getContactIdXrefs
      parameters:
      - name: sequence_ids
        in: query
        description: Comma delimited list of V2 API contact `ids` to cross-reference
          with the V3 API `contact_id` value. Endpoint accepts a maximum of 500 ids
          at a time.
        required: true
        schema:
          type: string
          format: csv
        example: 1995998026,1882999944,1775099999
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactXrefs'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:read
  /contact_custom_fields/{custom_field_id}:
    get:
      tags:
      - Contacts Custom Fields
      summary: GET a custom_field
      description: This GET call retrieves a `custom_field` resource, specified by
        `custom_field_id`.
      operationId: getCustomField
      parameters:
      - name: custom_field_id
        in: path
        description: Unique ID of the `custom_field` on which to operate.
        required: true
        schema:
          type: string
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldResource'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:read
    put:
      tags:
      - Contacts Custom Fields
      summary: PUT (update) a custom_field
      description: This PUT request updates an existing `custom_field` object.
      operationId: putCustomField
      parameters:
      - name: custom_field_id
        in: path
        description: Unique ID of the `custom_field` on which to operate.
        required: true
        schema:
          type: string
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
      requestBody:
        description: The JSON payload used to update an existing custom field. Any
          properties omitted in the PUT request are overwritten with a null value.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldInput'
        required: true
      responses:
        200:
          description: Success - custom_field updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldResource'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
    delete:
      tags:
      - Contacts Custom Fields
      summary: DELETE a custom_field
      description: This DELETE request deletes a custom_field from the user's account
      operationId: deleteCustomField
      parameters:
      - name: custom_field_id
        in: path
        description: Unique ID of the custom_field on which to operate.
        required: true
        schema:
          type: string
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
      responses:
        204:
          description: Request successful; No content returned
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
  /contact_custom_fields:
    get:
      tags:
      - Contacts Custom Fields
      summary: GET custom_fields Collection
      description: |
        This GET request returns all `custom_fields` defined in the user's account.
        <div class="Msg"><p class="note-text">This method does not currently support filtering results using the custom field update date.</p></div>
      operationId: getCustomFields
      parameters:
      - name: limit
        in: query
        description: Specifies the number of results displayed per page of output,
          from 1 - 100, default = 50.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 50
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFields'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:read
    post:
      tags:
      - Contacts Custom Fields
      summary: POST (create) a custom_field
      description: This POST request adds a new `custom_field` to the user's account.
        A user can configure up to 100 `custom_fields` in their account.
      operationId: postCustomFields
      requestBody:
        description: The JSON payload required to create a new `custom_field`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldInput'
        required: true
      responses:
        201:
          description: New custom_field successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldResource'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        409:
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
          content: {}
        415:
          description: Unsupported Media Type; the payload must be in JSON format,
            and Content-Type must be application/json.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:write
      x-codegen-request-body-name: body
  /contact_lists/{list_id}:
    get:
      tags:
      - Contact Lists
      summary: GET a List
      description: Use this method to get details about a specific contact list (`list_id`).
      operationId: getList
      parameters:
      - name: list_id
        in: path
        description: The system generated ID that uniquely identifies a contact list.
        required: true
        schema:
          type: string
          format: uuid
        example: cbc05bac-6a41-46fa-a063-79961763bf4b
      - name: include_membership_count
        in: query
        description: Use to include the number of contact members per list by setting
          the `include_membership_count` to either `active`, to count only active
          contacts, or `all` to include all contacts in the count.
        schema:
          type: string
          enum:
          - all
          - active
        example: all
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:read
    put:
      tags:
      - Contact Lists
      summary: PUT (update) a List
      description: Updates an existing contact list resource, specified by `list_id`
      operationId: putList
      parameters:
      - name: list_id
        in: path
        description: Unique ID of the contact list to update
        required: true
        schema:
          type: string
          format: uuid
        example: cbc05bac-6a41-46fa-a063-79961763bf4b
      requestBody:
        description: JSON payload containing updates to the specified contact list
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListInput'
        required: true
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:write
      x-codegen-request-body-name: JSON PUT body
    delete:
      tags:
      - Contact Lists
      summary: DELETE a List
      description: Deletes the specified contact list and its membership. DELETE List
        requests are processed asynchronously, and you can track the status of the
        request by making a GET call to the URI shown in the `_links` property in
        the response.
      operationId: deleteListActivity
      parameters:
      - name: list_id
        in: path
        description: Unique ID of the list to delete
        required: true
        schema:
          type: string
          format: uuid
        example: cbc05bac-6a41-46fa-a063-79961763bf4b
      responses:
        202:
          description: Accepted
          headers:
            Location:
              description: URL to retrieve the delete activity status
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityDeleteListResponse'
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        404:
          description: The requested resource was not found.
          content: {}
        415:
          description: Unsupported Media Type.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:write
  /contact_lists:
    get:
      tags:
      - Contact Lists
      summary: GET Lists Collection
      description: |
        Use this method to return details about all contact lists for the account.
        <div class="Msg"><p class="note-text">This method does not currently support filtering results using the contact list update date.</p></div>
      operationId: getLists
      parameters:
      - name: limit
        in: query
        description: Use to specify the number of results displayed per page of output,
          from 1 - 500, default = 50.
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 50
      - name: include_count
        in: query
        description: Set `include_count` to `true` to return the total number of contact
          lists that meet your selection criteria.
        schema:
          type: boolean
          default: false
        example: true
      - name: include_membership_count
        in: query
        description: Use to include the number of contact members per list by setting
          the `include_membership_count` to either `active`, to count only active
          contacts, or `all` to include all contacts in the count.
        schema:
          type: string
          enum:
          - all
          - active
        example: all
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListArray'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:read
    post:
      tags:
      - Contact Lists
      summary: POST (create) a List
      description: Create a new contact list resource
      operationId: createList
      requestBody:
        description: JSON payload defining the new contact list
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListInput'
        required: true
      responses:
        201:
          description: New list successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        400:
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
          content: {}
        401:
          description: The Access Token used is invalid.
          content: {}
        403:
          description: Forbidden request. You lack the necessary scopes, you lack
            the necessary user privileges, or the application is deactivated.
          content: {}
        409:
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
          content: {}
        500:
          description: There was a problem with our internal service.
          content: {}
        503:
          description: Our internal service is temporarily unavailable.
          content: {}
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      - api_key: []
      x-authorization-privileges:
      - contacts:lists:write
      x-codegen-request-body-name: body
  /contact_lists/list_id_xrefs:
    get:
      tags:
      - Contact Lists
      summary: GET a collection of V2 and V3 API List IDs
      description: "<div class=\"Msg Msg--warning\"><p class=\"note-text\">Use this\
        \ endpoint to migrate your locally stored V2 contact list data to the new\
        \ V3 format. Developers are expected to use this endpoint sparingly. This\
        \ endpoint is NOT intended for regular or repeated use. Constant Contact will\
        \ eventually deprecate and remove this endpoint.</p></div>\n\nThis GET call\
        \ retrieves a collection of cross-referenced list sequence IDs (`id` used\
        \ in the V2 API) and UUIDs (`list_id` used in the V3 API). This endpoint is\
        \ intended for developers who have an existing V2 API integration, and are\
        \ migrating their users to a new V3 API integration. The V2 and V3 APIs use\
        \ different resource ID formats. Use the `sequence_ids` query parameter to\
        \ specify a set of comma delimited V2 list ids to cross-reference. See [Migrating\
        \ Apps and Data to V3](/api_guide/migration_overview.html) to learn more.\"\
        \ \n"
      operationId: getListIdXrefs
      parameters:
      - name: sequence_ids
        in: query
[...]
