{
    "openapi": "3.0.1",
    "info": {
        "title": "CRM Pipelines",
        "description": "Pipelines represent distinct stages in a workflow, like closing a deal or servicing a support ticket. These endpoints provide access to read and modify pipelines in HubSpot. Pipelines support `deals` and `tickets` object types.\n\n## Pipeline ID validation\n\nWhen calling endpoints that take pipelineId as a parameter, that ID must correspond to an existing, un-archived pipeline. Otherwise the request will fail with a `404 Not Found` response.",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "STARTER"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "To streamline customer support processes, use this API to retrieve your existing ticket pipelines and add new stages based on your business needs. Support reps can then assign tickets to those pipeline stages to track progress on customer issues.",
        "x-hubspot-related-documentation": [
            {
                "name": "Pipelines Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/pipelines"
            }
        ],
        "x-hubspot-introduction": "Use the pipelines API to create and manage deal and ticket pipelines. Pipelines enable you to track the status or progress of deals and tickets, such as closing deals and opening support tickets."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Pipeline Stage Audits"
        },
        {
            "name": "Pipelines"
        },
        {
            "name": "Pipeline Audits"
        },
        {
            "name": "Pipeline Stages"
        }
    ],
    "paths": {
        "/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}/audit": {
            "get": {
                "tags": ["Pipeline Stage Audits"],
                "summary": "Return an audit of all changes to the pipeline stage",
                "description": "Return a reverse chronological list of all mutations that have occurred on the pipeline stage identified by `{stageId}`.",
                "operationId": "get-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}/audit_getAudit",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pipelineId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": ".+",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicAuditInfoNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.listings.write"]
                    },
                    {
                        "oauth2_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.read"]
                    },
                    {
                        "private_apps_legacy": ["timeline"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "oauth2_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.objects.users.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.users.read"]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.write"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.write"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.write"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.write"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.read"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.write"]
                    },
                    {
                        "private_apps": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.objects.owners.read"]
                    },
                    {
                        "oauth2": ["crm.objects.owners.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.read"]
                    },
                    {
                        "oauth2_legacy": ["timeline"]
                    },
                    {
                        "private_apps_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.services.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.write"]
                    },
                    {
                        "oauth2": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.write"]
                    },
                    {
                        "private_apps": ["crm.objects.listings.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.services.read"]
                    }
                ]
            }
        },
        "/crm/v3/pipelines/{objectType}/{pipelineId}": {
            "get": {
                "tags": ["Pipelines"],
                "summary": "Return a pipeline by ID",
                "description": "Return a single pipeline object identified by its unique `{pipelineId}`.",
                "operationId": "get-/crm/v3/pipelines/{objectType}/{pipelineId}_getById",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pipelineId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pipeline"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.listings.write"]
                    },
                    {
                        "oauth2_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.read"]
                    },
                    {
                        "private_apps_legacy": ["timeline"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "oauth2_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.objects.users.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.users.read"]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.write"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.write"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.write"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.write"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.read"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.write"]
                    },
                    {
                        "private_apps": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.objects.owners.read"]
                    },
                    {
                        "oauth2": ["crm.objects.owners.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.read"]
                    },
                    {
                        "oauth2_legacy": ["timeline"]
                    },
                    {
                        "private_apps_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.services.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.write"]
                    },
                    {
                        "oauth2": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.write"]
                    },
                    {
                        "private_apps": ["crm.objects.listings.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.services.read"]
                    }
                ]
            },
            "put": {
                "tags": ["Pipelines"],
                "summary": "Replace a pipeline",
                "description": "Replace all the properties of an existing pipeline with the values provided. This will overwrite any existing pipeline stages. The updated pipeline will be returned in the response.",
                "operationId": "put-/crm/v3/pipelines/{objectType}/{pipelineId}_replace",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pipelineId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "validateReferencesBeforeDelete",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "validateDealStageUsagesBeforeDelete",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PipelineInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pipeline"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            },
            "delete": {
                "tags": ["Pipelines"],
                "summary": "Delete a pipeline",
                "description": "Delete the pipeline identified by `{pipelineId}`.",
                "operationId": "delete-/crm/v3/pipelines/{objectType}/{pipelineId}_archive",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pipelineId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "validateReferencesBeforeDelete",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "validateDealStageUsagesBeforeDelete",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            },
            "patch": {
                "tags": ["Pipelines"],
                "summary": "Update a pipeline",
                "description": "Perform a partial update of the pipeline identified by `{pipelineId}`. The updated pipeline will be returned in the response.",
                "operationId": "patch-/crm/v3/pipelines/{objectType}/{pipelineId}_update",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pipelineId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "validateReferencesBeforeDelete",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "validateDealStageUsagesBeforeDelete",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PipelinePatchInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pipeline"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            }
        },
        "/crm/v3/pipelines/{objectType}/{pipelineId}/audit": {
            "get": {
                "tags": ["Pipeline Audits"],
                "summary": "Return an audit of all changes to the pipeline",
                "description": "Return a reverse chronological list of all mutations that have occurred on the pipeline identified by `{pipelineId}`.",
                "operationId": "get-/crm/v3/pipelines/{objectType}/{pipelineId}/audit_getAudit",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pipelineId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicAuditInfoNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.listings.write"]
                    },
                    {
                        "oauth2_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.read"]
                    },
                    {
                        "private_apps_legacy": ["timeline"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "oauth2_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.objects.users.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.users.read"]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.write"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.write"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.write"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.write"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.read"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.write"]
                    },
                    {
                        "private_apps": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.objects.owners.read"]
                    },
                    {
                        "oauth2": ["crm.objects.owners.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.read"]
                    },
                    {
                        "oauth2_legacy": ["timeline"]
                    },
                    {
                        "private_apps_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.services.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.write"]
                    },
                    {
                        "oauth2": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.write"]
                    },
                    {
                        "private_apps": ["crm.objects.listings.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.services.read"]
                    }
                ]
            }
        },
        "/crm/v3/pipelines/{objectType}/{pipelineId}/stages": {
            "get": {
                "tags": ["Pipeline Stages"],
                "summary": "Return all stages of a pipeline",
                "description": "Return all the stages associated with the pipeline identified by `{pipelineId}`.",
                "operationId": "get-/crm/v3/pipelines/{objectType}/{pipelineId}/stages_getAll",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pipelineId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePipelineStageNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.listings.write"]
                    },
                    {
                        "oauth2_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.read"]
                    },
                    {
                        "private_apps_legacy": ["timeline"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "oauth2_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.objects.users.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.users.read"]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.write"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.write"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.write"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.write"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.read"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.write"]
                    },
                    {
                        "private_apps": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.objects.owners.read"]
                    },
                    {
                        "oauth2": ["crm.objects.owners.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.read"]
                    },
                    {
                        "oauth2_legacy": ["timeline"]
                    },
                    {
                        "private_apps_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.services.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.write"]
                    },
                    {
                        "oauth2": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.write"]
                    },
                    {
                        "private_apps": ["crm.objects.listings.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.services.read"]
                    }
                ]
            },
            "post": {
                "tags": ["Pipeline Stages"],
                "summary": "Create a pipeline stage",
                "description": "Create a new stage associated with the pipeline identified by `{pipelineId}`. The entire stage object, including its unique ID, will be returned in the response.",
                "operationId": "post-/crm/v3/pipelines/{objectType}/{pipelineId}/stages_create",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pipelineId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PipelineStageInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PipelineStage"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.write"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.write"]
                    }
                ]
            }
        },
        "/crm/v3/pipelines/{objectType}": {
            "get": {
                "tags": ["Pipelines"],
                "summary": "Retrieve all pipelines",
                "description": "Return all pipelines for the object type specified by `{objectType}`.",
                "operationId": "get-/crm/v3/pipelines/{objectType}_getAll",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePipelineNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.listings.write"]
                    },
                    {
                        "oauth2_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.read"]
                    },
                    {
                        "private_apps_legacy": ["timeline"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "oauth2_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.listings.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.listings.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.write"]
                    },
                    {
                        "oauth2_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.objects.users.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.users.read"]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "private_apps_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.companies.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.feedback_submissions.read"
                        ]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.goals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.read"]
                    },
                    {
                        "private_apps": ["crm.objects.deals.write"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.objects.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.write"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.write"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.commercepayments.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.read"]
                    },
                    {
                        "private_apps": ["crm.objects.line_items.write"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.read"]
                    },
                    {
                        "private_apps": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.write"]
                    },
                    {
                        "oauth2": ["crm.objects.carts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.read"]
                    },
                    {
                        "oauth2": ["crm.objects.listings.write"]
                    },
                    {
                        "private_apps": ["crm.objects.orders.read"]
                    },
                    {
                        "private_apps": ["crm.objects.appointments.write"]
                    },
                    {
                        "private_apps": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.read"]
                    },
                    {
                        "oauth2": ["crm.objects.subscriptions.read"]
                    },
                    {
                        "private_apps": ["crm.objects.owners.read"]
                    },
                    {
                        "oauth2": ["crm.objects.owners.read"]
                    },
                    {
                        "private_apps": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.quotes.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["crm.objects.marketing_events.read"]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.carts.read"]
                    },
                    {
                        "oauth2_legacy": ["timeline"]
                    },
                    {
                        "private_apps_legacy": ["media_bridge.read"]
                    },
                    {
                        "private_apps_legacy": ["crm.objects.custom.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.services.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.subscriptions.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.companies.read"]
                    },
                    {
                        "oauth2_legacy": ["e-commerce"]
                    },
                    {
                        "private_apps_legacy": ["tickets"]
                    },
                    {
                        "private_apps": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.line_items.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.read"]
                    },
                    {
                        "private_apps": ["crm.objects.services.write"]
                    },
                    {
                        "oauth2": ["crm.objects.services.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.deals.write"]
                    },
                    {
                        "oauth2": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.objects.invoices.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.deals.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.read"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.write"]
                    },
                    {
                        "oauth2": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.contacts.write"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.read"]
                    },
                    {
                        "private_apps": ["crm.objects.leads.read"]
                    },
                    {
                        "oauth2": ["crm.objects.line_items.write"]
                    },
                    {
                        "private_apps": ["crm.objects.listings.read"]
                    },
                    {
                        "oauth2": ["crm.objects.courses.read"]
                    },
                    {
                        "private_apps": ["crm.objects.courses.read"]
                    },
                    {
                        "oauth2": ["crm.schemas.invoices.read"]
                    },
                    {
                        "oauth2": ["crm.objects.quotes.read"]
                    },
                    {
                        "oauth2": ["crm.objects.services.read"]
                    }
                ]
            },
            "post": {
                "tags": ["Pipelines"],
                "summary": "Create a pipeline",
                "description": "Create a new pipeline with the provided property values. The entire pipeline object, including its unique ID, will be returned in the response.",
                "operationId": "post-/crm/v3/pipelines/{objectType}_create",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PipelineInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pipeline"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.orders.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.orders.write"]
                    },
                    {
                        "oauth2": ["crm.objects.orders.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.contacts.write"]
                    },
                    {
                        "oauth2_legacy": ["crm.pipelines.orders.write"]
                    },
                    {
                        "private_apps_legacy": ["contacts"]
                    },
                    {
                        "private_apps": ["crm.schemas.contacts.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.appointments.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.courses.write"]
                    },
                    {
                        "private_apps": ["crm.schemas.courses.write"]
                    },
                    {
                        "oauth2": ["crm.schemas.carts.write"]
                    },
                    {
                        "private_apps": ["crm.objects.users.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.schemas.custom.write"]
                    },
                    {
                        "private_apps_legacy": ["crm.pipelines.orders.write"]
                    },
[...]
