openapi: 3.0.0
servers:
  - url: 'https://api.interzoid.com'
info:
  version: 1.0.0
  title: Interzoid Get Currency Rate API
  description: 'This API retrieves the latest currency exchange rate, against the US Dollar, for the given three-letter international currency code. These currency rates are compiled from many global sources and are updated several times per day.'
  contact:
    name: API Support
    email: support@interzoid.com
    url: 'https://www.interzoid.com'
  termsOfService: 'https://www.interzoid.com/terms'
  license:
    name: Interzoid license
    url: 'https://www.interzoid.com/license'
externalDocs:
  description: API home page and documentation
  url: 'https://www.interzoid.com/services/getcurrencyrate'
paths:
  /getcurrencyrate:
    get:
      description: Use a currency symbol (EUR, GBP, INR, JPY, AUD, etc.) to obtain a live currency foreign exchange rate for one US Dollar. See the API home page for list of all supported currencies.
      operationId: getCurrencyRate
      parameters:
        - description: Currency symbol to retrieve current rate for
          in: query
          name: symbol
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRate'
          description: Currency rate data to one US Dollar
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "404":
          description: currency symbol not found
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets a foreign currency rate for one US Dollar
      tags:
        - Currency Rates
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: license
  schemas:
    ExchangeRate:
      description: Contains details about exchange rate of the currency
      properties:
        Code:
          description: Status of the response
          type: string
        Country:
          description: Country where this currency is in use
          type: string
        Credits:
          description: Credits remaining for usage of API
          type: string
        Name:
          description: Name of currency
          type: string
        Rate:
          description: Current rate equal to one US dollar
          type: string
        Symbol:
          description: Symbol of currency
          type: string
      type: object