openapi: 3.0.1
info:
  x-ballerina-display:
    label: Avaza
    iconPath: "icon.png"
  title: Avaza API Documentation
  description:
    This is [Avaza API v1](https://api.avaza.com/swagger/ui/index) OpenAPI specification. 
    Avaza API allows to collaborate on projects, chat, schedule resources, track time, manage expenses & invoice customers.
  x-ballerina-init-description: >
    Create a [Avaza account](https://signup.avaza.com/account/signup) and obtain tokens by following [this guide](https://www.avaza.com/avaza-api-oauth2-authentication/).  
  version: v1
servers:
- url: https://api.avaza.com/
paths:
  /api/Account:
    get:
      tags:
      - Account
      summary: Account Details
      operationId: Account_Get
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/AccountDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/AccountDetails'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_account
  /api/Company/Lookup:
    get:
      tags:
      - Company
      summary: Gets minimal list of Companies.
      description: Certain roles see a restricted set of companies based on their
        project memberships
      operationId: CompanyLookup
      parameters:
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: search
        in: query
        description: Search string to match against Company title
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyDropdownList'
      security:
      - oauth2:
        - read_contacts
  /api/Company:
    get:
      tags:
      - Company
      summary: Gets list of Companies
      operationId: Company_Get
      parameters:
      - name: UpdatedAfter
        description: Limit results to records updated after the specified date
        in: query
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        description: Number of results per page
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: 1 based page number to retrieve
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        description: '(optional) Supply one of: "DateUpdated", "DateCreated", "CompanyName","DateUpdated
          desc","DateCreated desc", "CompanyName desc"'
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_contacts
    put:
      tags:
      - Company
      summary: Update a Company record.
      description: Requires CompanyID and a list of field names to update. The FieldsToUpdate
        field accepts a string array containing field names that should be updated.
      operationId: Company_Put
      requestBody:
        description: A record of type `UpdateCompany` which contains the necessary data to update company
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
            text/json:
              schema:
                $ref: '#/components/schemas/Company'
            application/xml:
              schema:
                $ref: '#/components/schemas/Company'
            text/xml:
              schema:
                $ref: '#/components/schemas/Company'
      security:
      - oauth2:
        - write_contacts
      x-codegen-request-body-name: model
    post:
      tags:
      - Company
      summary: Create a Company
      operationId: Company_Post
      requestBody:
        description: A record of type `NewCompany` which contains the necessary data to create company
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCompany'
          text/json:
            schema:
              $ref: '#/components/schemas/NewCompany'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewCompany'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewCompany'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewCompany'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
            text/json:
              schema:
                $ref: '#/components/schemas/Company'
            application/xml:
              schema:
                $ref: '#/components/schemas/Company'
            text/xml:
              schema:
                $ref: '#/components/schemas/Company'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - write_contacts
      x-codegen-request-body-name: model
  /api/Company/{id}:
    get:
      tags:
      - Company
      summary: Gets Company by Company ID
      operationId: Company_GetByID
      parameters:
      - name: id
        in: path
        description: Company ID Number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
            text/json:
              schema:
                $ref: '#/components/schemas/Company'
            application/xml:
              schema:
                $ref: '#/components/schemas/Company'
            text/xml:
              schema:
                $ref: '#/components/schemas/Company'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_contacts
  /api/Contact:
    get:
      tags:
      - Contact
      summary: Gets list of Contacts
      operationId: Contact_Get
      parameters:
      - name: UpdatedAfter
        description: Limit results to records updated after the specified date
        in: query
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: Sort
        description: Sort method
        in: query
        schema:
          type: string
      - name: CompanyIDFK
        description: Company related to contacts
        in: query
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
            text/json:
              schema:
                $ref: '#/components/schemas/ContactList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ContactList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ContactList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_contacts
    post:
      tags:
      - Contact
      summary: Create a Contact
      operationId: Contact_Post
      requestBody:
        description: A record of type `NewCompanyContact` which contains the necessary data to create contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
          text/json:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyContact'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - write_contacts
      x-codegen-request-body-name: model
  /api/Contact/{id}:
    get:
      tags:
      - Contact
      summary: Gets Contact by Contact ID
      operationId: Contact_GetByID
      parameters:
      - name: id
        in: path
        description: Contact ID number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyContact'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_contacts
  /api/CreditNote:
    get:
      tags:
      - CreditNote
      summary: Gets list of CreditNotes
      operationId: CreditNote_Get
      parameters:
      - name: UpdatedAfter
        description: Limit results to records updated after the specified date
        in: query
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteList'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditNoteList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CreditNoteList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CreditNoteList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_financials
  /api/CreditNote/{id}:
    get:
      tags:
      - CreditNote
      summary: Gets Credit Note by CreditNoteID
      operationId: CreditNote_GetByID
      parameters:
      - name: id
        in: path
        description: Credit Note ID Number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
            application/xml:
              schema:
                $ref: '#/components/schemas/CreditNote'
            text/xml:
              schema:
                $ref: '#/components/schemas/CreditNote'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_financials
  /api/Currency:
    get:
      tags:
      - Currency
      summary: Gets list of Currencies
      operationId: Currency_Get
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyList'
            text/json:
              schema:
                $ref: '#/components/schemas/CurrencyList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CurrencyList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CurrencyList'
  /api/Estimate:
    get:
      tags:
      - Estimate
      summary: Gets list of Estimates
      description: 'EstimateStatusCode values are: "Draft", "Sent", "Accepted", "Converted",
        "Expired", "Rejected"'
      operationId: Estimate_Get
      parameters:
      - name: UpdatedAfter
        description: Limit results to records updated after the specified date
        in: query
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: Sort
        description: Sort method
        in: query
        schema:
          type: string
      - name: CompanyIDFK
        description: Company related to estimates 
        in: query
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateList'
            text/json:
              schema:
                $ref: '#/components/schemas/EstimateList'
            application/xml:
              schema:
                $ref: '#/components/schemas/EstimateList'
            text/xml:
              schema:
                $ref: '#/components/schemas/EstimateList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_financials
    post:
      tags:
      - Estimate
      summary: Create a new draft Estimate
      operationId: Estimate_Post
      requestBody:
        description: A record of type `NewEstimate` which contains the necessary data to create a new draft estimate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewEstimate'
          text/json:
            schema:
              $ref: '#/components/schemas/NewEstimate'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewEstimate'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewEstimate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewEstimate'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/EstimateDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/EstimateDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/EstimateDetails'
      security:
      - oauth2:
        - write_financials
      x-codegen-request-body-name: model
  /api/Estimate/{id}:
    get:
      tags:
      - Estimate
      summary: Gets Estimate by Estimate ID
      operationId: Estimate_GetByID
      parameters:
      - name: id
        in: path
        description: Estimate Estimate ID number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_financials
  /api/Expense/Attachment:
    post:
      tags:
      - Expense
      summary: Create expense attachment
      operationId: ExpenseAttachment
      requestBody:
        description: Request to create expense attachment
        content:
          application/json:
            schema:
              required:
              - File
              properties:
                File:
                  type: string
                  description: Upload software package
                  format: binary
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseAttachmentUploadResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseAttachmentUploadResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseAttachmentUploadResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseAttachmentUploadResult'
      security:
      - oauth2:
        - write_expenses
  /api/ExpenseApproval/Submit:
    post:
      tags:
      - Expense
      summary: Submit Expenses for Approval.
      operationId: ExpenseApproval
      parameters:
      - name: UserID
        in: query
        description: The user to submit the Expenses for. Defaults to current user.
          Only allowed to be different from the current user when the current user
          has rights to Impersonate other users.
        schema:
          type: integer
          format: int32
      - name: SendNotifications
        in: query
        description: Send email alerts to expense approvers. Defaults to true
        schema:
          type: boolean
      requestBody:
        description: A collection of ExpenseID's that should be submitted for approval.
          If not provided, submits all verified expenses for approval.
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
          text/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
          application/xml:
            schema:
              type: array
              items:
                type: integer
                format: int64
          text/xml:
            schema:
              type: array
              items:
                type: integer
                format: int64
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      security:
      - oauth2:
        - write_expenses
      x-codegen-request-body-name: ExpenseIDs
  /api/Expense:
    get:
      tags:
      - Expense
      summary: Gets list of Expenses
      operationId: Expense_Get
      parameters:
      - name: UpdatedAfter
        description: Limit results to records updated after the specified date
        in: query
        schema:
          type: string
          format: date-time
      - name: ExpenseDateFrom
        description: Start date to filter
        in: query
        schema:
          type: string
          format: date-time
      - name: ExpenseDateTo
        description: End date to filter
        in: query
        schema:
          type: string
          format: date-time
      - name: UserEmail
        description: User email address
        in: query
        schema:
          type: string
      - name: UserID
        description: User Id
        in: query
        schema:
          type: integer
          format: int32
      - name: CategoryName
        description: Category name
        in: query
        schema:
          type: string
      - name: CustomerID
        description: Customer Id
        in: query
        schema:
          type: integer
          format: int32
      - name: ProjectID
        description: Project Id
        in: query
        schema:
          type: integer
          format: int32
      - name: isChargeable
        description: Chargeable status
        in: query
        schema:
          type: boolean
      - name: isInvoiced
        description: Invoiced status
        in: query
        schema:
          type: boolean
      - name: ExpenseReimbursementIDFK
        description: Expense reimbursement
        in: query
        schema:
          type: integer
          format: int64
      - name: ExpensePaymentMethodIDFK
        description: Expense payment method
        in: query
        schema:
          type: integer
          format: int32
      - name: ExpenseApprovalStatusCode
        description: Expense apprval status code
        in: query
        schema:
          type: string
      - name: Search
        description: Search query
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: Sort
        description: Sort method
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_expenses
    put:
      tags:
      - Expense
      summary: Update an Expense
      description: Update an Expense
      operationId: Expense_Put
      requestBody:
        description: A record of type `UpdateExpense` which contains the necessary data to update expense
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
      security:
      - oauth2:
        - write_expenses
      x-codegen-request-body-name: model
    post:
      tags:
      - Expense
      summary: Create an Expense
      description: Create an Expense
      operationId: Expense_Post
      requestBody:
        description: A record of type `NewExpense` which contains the necessary data to create expense
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExpense'
          text/json:
            schema:
              $ref: '#/components/schemas/NewExpense'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewExpense'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewExpense'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewExpense'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
      security:
      - oauth2:
        - write_expenses
      x-codegen-request-body-name: model
    delete:
      tags:
      - Expense
      summary: Delete a Timesheet Entry
      operationId: Expense_Delete
      # requestBody:
      #   description: A collection of ExpenseIDs to delete
      #   content:
      #     application/json:
      #       schema:
      #         type: array
      #         items:
      #           type: integer
      #           format: int64
      #     text/json:
      #       schema:
      #         type: array
      #         items:
      #           type: integer
      #           format: int64
      #     application/xml:
      #       schema:
      #         type: array
      #         items:
      #           type: integer
      #           format: int64
      #     text/xml:
      #       schema:
      #         type: array
      #         items:
      #           type: integer
      #           format: int64
      #     application/x-www-form-urlencoded:
      #       schema:
      #         type: array
      #         items:
      #           type: integer
      #           format: int64
      #   required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseDeleteResultSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseDeleteResultSet'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDeleteResultSet'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDeleteResultSet'
      security:
      - oauth2:
        - write_expenses
      x-codegen-request-body-name: ExpenseIDs
  /api/Expense/{id}:
    get:
      tags:
      - Expense
      summary: Gets an Expense Entry by Expense ID
      operationId: Expense_GetByID
      parameters:
      - name: id
        in: path
        description: Expense ID number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_expenses
  /api/ExpenseCategory:
    get:
      tags:
      - ExpenseCategory
      summary: Gets list of Expense Categories
      description: The default sort order is by Name asc
      operationId: ExpenseCategory_Get
      parameters:
      - name: isEnabled
        in: query
        description: Optional filter on for enabled/disabled categories. Defaults
          to true.
        schema:
          type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_expenses
  /api/ExpenseGroup/Lookup:
    get:
      tags:
      - ExpenseGroup
      summary: Gets minimal list of Expense Groups.
      description: Expense Groups are for adhoc grouping of reported expenses. e.g.
        for expenses incurred on a Trip
      operationId: ExpenseGroupLookup
      parameters:
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: search
        in: query
        description: Search string to match against Expense Group Name
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseGroupDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseGroupDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseGroupDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseGroupDropdownList'
      security:
      - oauth2:
        - read_expenses
  /api/ExpenseMerchant/Lookup:
    get:
      tags:
      - ExpenseMerchant
      summary: Gets minimal list of Expense Merchants.
      operationId: ExpenseMerchangeLookup
      parameters:
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: search
        in: query
        description: Search string to match against Expense Group Name
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseMerchantDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseMerchantDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseMerchantDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseMerchantDropdownList'
      security:
      - oauth2:
        - read_expenses
  /api/ExpensePaymentMethod/Lookup:
    get:
      tags:
      - ExpensePaymentMethod
      summary: Gets minimal list of Expense Payment Methods.
      operationId: ExpensePaymentMethodLookup
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpensePaymentMethodDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpensePaymentMethodDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpensePaymentMethodDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpensePaymentMethodDropdownList'
      security:
      - oauth2:
        - read_expenses
  /api/ExpenseSummary:
    get:
      tags:
      - ExpenseSummary
      summary: Gets Basic Summary of Expense Statistics
      operationId: ExpenseSummary_Get
      parameters:
      - name: model.groupBy
        in: query
        description: '(Optional) Combine one, two or three levels of Grouping. Combine
          these possible grouping values: "Category", "ChargeableStatus", "Merchant",
          "ApprovalStatus", "ReimbursementStatus", "Customer", "Project", "User",
          "Task", "Year", "Month", "Day", "Week".'
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: model.expenseDateFrom
        in: query
        description: (Required) Filter for expenses with expense dates greater or
          equal to the specified date. e.g. 2019-01-25.
        schema:
          type: string
          format: date-time
      - name: model.expenseDateTo
        in: query
        description: (Required) Filter for expenses with an expense date smaller or
          equal to the specified  date. e.g. 2019-01-25.
        schema:
          type: string
          format: date-time
      - name: model.userID
        in: query
        description: (Optional) Defaults to the current user. Provide one or more
          UserIDs of Users whose expenses should be retrieved. If the current user
          doesn't have impersonation rights, then they will only see their own data.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: model.projectID
        in: query
        description: (Optional) Filter by Project
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseSummaryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseSummaryResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseSummaryResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseSummaryResult'
      security:
      - oauth2:
        - read_expenses
  /api/FixedAmount:
    get:
      tags:
      - FixedAmount
      summary: Gets list of Fixed Amounts
      operationId: FixedAmount_Get
      parameters:
      - name: UpdatedAfter
        description: Limit results to records updated after the specified date
        in: query
        schema:
          type: string
          format: date-time
      - name: EntryDateFrom
        description: Start date to filter
        in: query
        schema:
          type: string
          format: date-time
      - name: EntryDateTo
        description: End date to filter
        in: query
        schema:
          type: string
          format: date-time
      - name: ProjectID
        in: query
        description: (Optional) The ProjectID of a Project to filter Fixed Amounts
          for
        schema:
          type: integer
          format: int32
      - name: TaskID
        in: query
        description: (Optional) The TaskID of a Task to filter Fixed Amounts for
        schema:
          type: integer
          format: int32
      - name: isInvoiced
        description: Invoiced status
        in: query
        schema:
          type: boolean
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        description: 'Optional sorting instruction. Currently possible values: "DateUpdated",
          "DateCreated", "DateUpdated desc", "DateCreated desc","EntryDate", "EntryDate
          desc", "StartTimeLocal","StartTimeLocal desc", "TimeSheetEntryID", "TimeSheetEntryID
          desc"'
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAmountList'
            text/json:
              schema:
                $ref: '#/components/schemas/FixedAmountList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FixedAmountList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FixedAmountList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_financials
  /api/Inventory:
    get:
      tags:
      - Inventory
      summary: Gets list of Inventory
      operationId: Inventory_Get
      parameters:
      - name: UpdatedAfter
        description: Limit results to records updated after the specified date
        in: query
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryList'
            text/json:
              schema:
                $ref: '#/components/schemas/InventoryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/InventoryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/InventoryList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_financials
  /api/Inventory/{id}:
    get:
      tags:
      - Inventory
      summary: Gets InventoryItem by InventoryItem ID
      operationId: Inventory_GetByID
      parameters:
      - name: id
        in: path
        description: InventoryItem ID number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_financials
  /api/Invoice:
    get:
      tags:
      - Invoice
      summary: Gets list of Invoices
      description: 'TransactionStatusCode values are: "Draft", "Sent", "Late", "Paid",
        "Partial", "Void"'
      operationId: Invoice_Get
      parameters:
      - name: UpdatedAfter
        description: Limit results to records updated after the specified date
        in: query
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: Sort
        description: Sort method
        in: query
        schema:
          type: string
      - name: CompanyIDFK
        description: Invoice issued company
        in: query
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceList'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_financials
    post:
      tags:
      - Invoice
      summary: Create a new draft invoice
      operationId: Invoice_Post
      requestBody:
        description: A record of type `NewInvoice` which contains the necessary data to create invoice
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewInvoice'
          text/json:
            schema:
              $ref: '#/components/schemas/NewInvoice'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewInvoice'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewInvoice'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewInvoice'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
            text/json:
              schema:
                $ref: '#/components/schemas/Invoice'
            application/xml:
              schema:
                $ref: '#/components/schemas/Invoice'
            text/xml:
              schema:
                $ref: '#/components/schemas/Invoice'
      security:
      - oauth2:
        - write_financials
      x-codegen-request-body-name: model
  /api/Invoice/{id}:
    get:
      tags:
      - Invoice
      summary: Gets Invoice by Invoice ID
      operationId: Invoice_GetByID
      parameters:
      - name: id
        in: path
        description: Invoice Transaction ID number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_financials
  /api/Payment:
    get:
      tags:
      - Payment
      summary: Gets list of Payments
      operationId: Payment_Get
      parameters:
      - name: UpdatedAfter
        description: Limit results to records updated after the specified date
        in: query
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentList'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentList'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaymentList'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaymentList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_financials
    post:
      tags:
      - Payment
      summary: Create new Payment and optionally assign payment allocations to Invoices
      operationId: Payment_Post
      requestBody:
        description: A record of type `NewPayment` which contains the necessary data to create payment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPayment'
          text/json:
            schema:
              $ref: '#/components/schemas/NewPayment'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewPayment'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewPayment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewPayment'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
            text/json:
              schema:
                $ref: '#/components/schemas/Payment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Payment'
            text/xml:
              schema:
                $ref: '#/components/schemas/Payment'
      security:
      - oauth2:
        - write_financials
      x-codegen-request-body-name: model
  /api/Payment/{id}:
    get:
      tags:
      - Payment
      summary: Gets Payment by Payment Transaction ID
      operationId: Payment_GetByID
      parameters:
      - name: id
        in: path
        description: Invoice Transaction ID Number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
            text/json:
              schema:
                $ref: '#/components/schemas/Payment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Payment'
            text/xml:
              schema:
                $ref: '#/components/schemas/Payment'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_financials
  /api/Project/Lookup:
    get:
      tags:
      - Project
      summary: Gets minimal list of active Projects for the current user
      operationId: ProjectLookup
      parameters:
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: TimesheetUserID
        in: query
        description: Optionally Filter to the projects that the supplied UserID can
          add timesheets to
        schema:
          type: integer
          format: int32
      - name: CompanyIDFK
        in: query
        description: Optionally Filter for a specific Company ID
        schema:
          type: integer
          format: int32
      - name: search
        in: query
        description: Search string to match against Project title and Customer name
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectDropdownList'
      security:
      - oauth2:
        - read_projects
  /api/Project:
    get:
      tags:
      - Project
      summary: Gets list of Projects
      operationId: Project_Get
      parameters:
      - name: UpdatedAfter
        in: query
        description: Only show project records updated after a certain date (UTC)
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        description: 'A column to sort on. Current possible values: "DateUpdated",
          "DateCreated", "DateUpdated desc", "DateCreated desc"'
        schema:
          type: string
      - name: TimesheetUserID
        in: query
        description: Filter to the projects that the supplied UserID can add timesheets
          to
        schema:
          type: integer
          format: int32
      - name: includeArchived
        in: query
        description: Include Archived Projects in the results
        schema:
          type: boolean
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectList'
      security:
      - oauth2:
        - read_projects
    put:
      tags:
      - Project
      summary: Update an Project
      description: Update a Project
      operationId: Project_Put
      requestBody:
        description: A record of type `UpdateProjectModel` which contains the necessary data to update project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectModel'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateProjectModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateProjectModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateProjectModel'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
      security:
      - oauth2:
        - write_projects
      x-codegen-request-body-name: model
    post:
      tags:
      - Project
      summary: Create a Project
      operationId: Project_Post
      requestBody:
        description: A record of type `NewProjectModel` which contains the necessary data to create project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewProjectModel'
          text/json:
            schema:
              $ref: '#/components/schemas/NewProjectModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewProjectModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewProjectModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewProjectModel'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - write_projects
      x-codegen-request-body-name: model
  /api/Project/{id}:
    get:
      tags:
      - Project
      summary: Gets Project by Project ID
      operationId: Project_GetByID
      parameters:
      - name: id
        in: path
        description: Project ID number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_projects
  /api/ProjectMember:
    post:
      tags:
      - ProjectMember
      summary: Assign a user as a Member of a Project
      description: the Amount columns for Cost, Budget, Rates should be specified
        as a decimal. Financial amounts assume the currency of the Customer company.
        Budget units depend on the Budget method set on the Project.
      operationId: ProjectMember_Post
      requestBody:
        description: A record of type `NewProjectMember` which contains the necessary data to assign user to project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
          text/json:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
      security:
      - oauth2:
        - write_projects
      x-codegen-request-body-name: model
  /api/ProjectTimesheetCategory:
    get:
      tags:
      - ProjectTimesheetCategory
      summary: Gets list of Project Timesheet Categories
      description: The default sort order is by isBillable desc, Name asc
      operationId: ProjectTimesheetCategory_Get
      parameters:
      - name: ProjectID
        in: query
        description: Get categories filtered by ProjectID
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_timesheets
  /api/ScheduleAssignment:
    get:
      tags:
      - ScheduleAssignment
      summary: Gets list of Schedule Assignments.
      description: Schedule assignments are per-day, and link to a parent Schedule
        Series.
      operationId: ScheduleAssignment_Get
      parameters:
      - name: UpdatedAfter
        in: query
        description: Limit results to records updated after the specified date
        schema:
          type: string
          format: date-time
      - name: ScheduleDateFrom
        in: query
        description: Filter for schedule assignement  that are  on or after a specific
          date
        schema:
          type: string
          format: date-time
      - name: ScheduleDateTo
        in: query
        description: Filter for schedules that are on or before a specific date
        schema:
          type: string
          format: date-time
      - name: ScheduleSeriesID
        in: query
        description: Filter to records for a particular Schedule Series
        schema:
          type: integer
          format: int64
      - name: UserID
        in: query
        description: The UserID of a schedule user to filter assignments for. Only
          api users with Admin role can see all schedules across all users. Users
          with ScheduleUser role can access their own ScheduleSeries.
        schema:
          type: integer
          format: int32
      - name: UserEmail
        in: query
        description: The email of the user who has been scheduled
        schema:
          type: string
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        description: 'Optional sorting instruction. Currently possible values: "DateUpdated",
          "DateCreated", "DateUpdated desc", "DateCreated desc"'
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleAssignmentList'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleAssignmentList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleAssignmentList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleAssignmentList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_schedule
  /ScheduleSeries/AddBooking:
    post:
      tags:
      - ScheduleSeries
      summary: Create new Schedule Booking
      operationId: ScheduleSeries_AddBooking
      requestBody:
        description: A record of type `CreateBooking` which contains the necessary data to create schedule booking
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBooking'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateBooking'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateBooking'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateBooking'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBooking'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
      security:
      - oauth2:
        - write_schedule
      x-codegen-request-body-name: model
  /ScheduleSeries/AddLeave:
    post:
      tags:
      - ScheduleSeries
      summary: Create new Leave Booking
      operationId: ScheduleSeries_AddLeave
      requestBody:
        description: A record of type `CreateLeave` which contains the necessary data to create leave booking
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLeave'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateLeave'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateLeave'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateLeave'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateLeave'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
      security:
      - oauth2:
        - write_schedule
      x-codegen-request-body-name: model
  /ScheduleSeries/EditLeave:
    put:
      tags:
      - ScheduleSeries
      summary: Edit Leave Booking
      operationId: ScheduleSeries_EditLeave
      requestBody:
        description: A record of type `EditLeave` which contains the necessary data to edit leave booking
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditLeave'
          text/json:
            schema:
              $ref: '#/components/schemas/EditLeave'
          application/xml:
            schema:
              $ref: '#/components/schemas/EditLeave'
          text/xml:
            schema:
              $ref: '#/components/schemas/EditLeave'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EditLeave'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
      security:
      - oauth2:
        - write_schedule
      x-codegen-request-body-name: model
  /ScheduleSeries/EditBooking:
    put:
      tags:
      - ScheduleSeries
      summary: Edit Booking
      operationId: ScheduleSeries_EditBooking
      requestBody:
        description: A record of type `EditBooking` which contains the necessary data to edit booking
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditBooking'
          text/json:
            schema:
              $ref: '#/components/schemas/EditBooking'
          application/xml:
            schema:
              $ref: '#/components/schemas/EditBooking'
          text/xml:
            schema:
              $ref: '#/components/schemas/EditBooking'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EditBooking'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
      security:
      - oauth2:
        - write_schedule
      x-codegen-request-body-name: model
  /api/ScheduleSeries:
    get:
      tags:
      - ScheduleSeries
      summary: Gets list of Schedule Series
      description: Schedule Series represents a strip of time assigned to a user over
        a date range, for a certain number of hours per day. They can be for Leave
        or for project work Bookings.
      operationId: ScheduleSeries_Get
      parameters:
      - name: UpdatedAfter
        in: query
        description: Limit results to records updated after the specified date
        schema:
          type: string
          format: date-time
      - name: ScheduleStartDateFrom
        in: query
        description: Filter for schedules that start on or after a specific date
        schema:
          type: string
          format: date-time
      - name: ScheduleStartDateTo
        in: query
        description: Filter for schedules that start on or before a specific date
        schema:
          type: string
          format: date-time
      - name: ScheduleEndDateFrom
        in: query
        description: Filter for schedules that end on or after a specific date
        schema:
          type: string
          format: date-time
      - name: ScheduleEndDateTo
        in: query
        description: Filter for schedules that end on or before a specific date
        schema:
          type: string
          format: date-time
      - name: UserID
        in: query
        description: The UserID of a schedule user to filter assignments for. Only
          api users with Admin role can see all schedules across all users. Users
          with ScheduleUser role can access their own ScheduleSeries.
        schema:
          type: integer
          format: int32
      - name: UserEmail
        in: query
        description: The email of the user who has been scheduled
        schema:
          type: string
      - name: TimeSheetCategoryID
        in: query
        description: Filter for schedule records linked to a specific timesheeet category
        schema:
          type: integer
          format: int32
      - name: TimeSheetCategoryName
        in: query
        description: Filter for schedule records with a specific timesheeet category
          name (exact string match)
        schema:
          type: string
      - name: LeaveTypeID
        in: query
        description: Filter to records of a particular leave type
        schema:
          type: integer
          format: int32
      - name: ProjectID
        in: query
        description: Filter to only include books linked to a specific project
        schema:
          type: integer
          format: int32
      - name: CompanyID
        in: query
        description: Filter to only include records linked to projects, where that
          project belongs to a specific customer company
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        description: 'Optional sorting instruction. Currently possible values: "DateUpdated",
          "DateCreated", "DateUpdated desc", "DateCreated desc"'
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesList'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_schedule
  /api/Section:
    get:
      tags:
      - Section
      summary: Gets list of Sections
      operationId: Section_Get
      parameters:
      - name: ProjectID
        in: query
        description: Get sections for Project with ProjectID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionList'
            text/json:
              schema:
                $ref: '#/components/schemas/SectionList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SectionList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SectionList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_projects
    post:
      tags:
      - Section
      summary: Create a Section
      operationId: Section_Post
      requestBody:
        description: A record of type `NewSection` which contains the necessary data to create section
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSection'
          text/json:
            schema:
              $ref: '#/components/schemas/NewSection'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewSection'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewSection'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewSection'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/SectionDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/SectionDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/SectionDetails'
      security:
      - oauth2:
        - write_projects
      x-codegen-request-body-name: model
    delete:
      tags:
      - Section
      summary: Delete a Section
      operationId: Section_Delete
      parameters:
      - name: SectionID
        description: Unique identifier for section
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      security:
      - oauth2:
        - write_projects
  /api/Task/Lookup:
    get:
      tags:
      - Task
      summary: Gets minimal list of Tasks for the current user
      description: Groups Tasks by Section. Default sort is by Section Title followed
        by Task Title
      operationId: TaskLookup
      parameters:
      - name: projectID
        in: query
        description: (required) The ProjectID to use when filtering Tasks
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: hideCompleted
        in: query
        description: (optional) true/false to hide completed tasks. Defaults false
        schema:
          type: boolean
      - name: search
        in: query
        description: (optional) Search string to match against Task title. Performs
          begins-with match
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskDropdownList'
      security:
      - oauth2:
        - read_projects
  /api/Task:
    get:
      tags:
      - Task
      summary: Gets list of Tasks
      operationId: Task_Get
      parameters:
      - name: UpdatedAfter
        in: query
        description: Optional filter to records updated after a specific date.
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        description: Number of items per page. Defaults to 20.
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1. Defaults to 1
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        description: 'Optional sorting instruction. Currently possible values: "DateUpdated",
          "DateCreated", "DateUpdated desc", "DateCreated desc", "SectionTitle", "Title"'
        schema:
          type: string
      - name: isComplete
        in: query
        description: Optional filter to only display tasks linked to a Task Status
          where isComplete=false, or where isComplete=true
        schema:
          type: boolean
      - name: ProjectID
        in: query
        description: Optional filter to only display tasks belonging to a specific
          ProjectID
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskList'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_projects
    put:
      tags:
      - Task
      summary: Update a Task.
      description: Requires TaskID and a list of field names to update. The FieldsToUpdate
        field accepts a string array containing field names that should be updated.
      operationId: Task_Put
      requestBody:
        description: A record of type `UpdateTask` which contains the necessary data to update task
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTask'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateTask'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateTask'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateTask'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTask'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
      security:
      - oauth2:
        - write_projects
      x-codegen-request-body-name: model
    post:
      tags:
      - Task
      summary: Create a Task
      operationId: Task_Post
      requestBody:
        description: A record of type `NewTask` which contains the necessary data to create task
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTask'
          text/json:
            schema:
              $ref: '#/components/schemas/NewTask'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewTask'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewTask'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewTask'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
      security:
      - oauth2:
        - write_projects
      x-codegen-request-body-name: model
    delete:
      tags:
      - Task
      summary: Delete a Task
      operationId: Task_Delete
      parameters:
      - name: TaskID
        description: Task Id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      security:
      - oauth2:
        - write_projects
  /api/Task/{id}:
    get:
      tags:
      - Task
      summary: Gets Task by Task ID
      operationId: Task_GetByID
      parameters:
      - name: id
        in: path
        description: Task ID number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_projects
  /api/TaskStatus:
    get:
      tags:
      - TaskStatus
      summary: Gets list of Task Statuses
      operationId: TaskStatus_Get
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusList'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskStatusList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskStatusList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskStatusList'
      security:
      - oauth2:
        - read_projects
  /api/TaskType:
    get:
      tags:
      - TaskType
      summary: Gets list of Task Types
      operationId: TaskType_Get
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTypeList'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskTypeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskTypeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskTypeList'
      security:
      - oauth2:
        - read_projects
  /api/Tax:
    get:
      tags:
      - Tax
      summary: Get List of Taxes configured in the Avaza account.
      operationId: Tax_Get
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxList'
            text/json:
              schema:
                $ref: '#/components/schemas/TaxList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaxList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaxList'
      security:
      - oauth2:
        - read_financials
  /api/Timesheet:
    get:
      tags:
      - Timesheet
      summary: Gets list of Timsheets
      operationId: Timesheet_Get
      parameters:
      - name: UpdatedAfter
        description: Limit results to records updated after the specified date
        in: query
        schema:
          type: string
          format: date-time
      - name: EntryDateFrom
        description: Timesheet start entry date to filter
        in: query
        schema:
          type: string
          format: date-time
      - name: EntryDateTo
        description: Timesheet end entry date to filter
        in: query
        schema:
          type: string
          format: date-time
      - name: UserID
        in: query
        description: The UserID of a timesheet user to filter timesheets for. Only
          api users with certain higher roles can see timesheets across multiple users.
        schema:
          type: integer
          format: int32
      - name: UserEmail
        description: User email address
        in: query
        schema:
          type: string
      - name: CategoryName
        description: Category name
        in: query
        schema:
          type: string
      - name: ProjectID
        description: Project Id
        in: query
        schema:
          type: integer
          format: int32
      - name: isBillable
        description: Billable status
        in: query
        schema:
          type: boolean
      - name: isInvoiced
        description: Invoiced status
        in: query
        schema:
          type: boolean
      - name: isTimerRunning
        description: Timer running status
        in: query
        schema:
          type: boolean
      - name: pageSize
        in: query
        description: Number of items per page (max 1000)
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Page to display. Starts from 1.
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        description: 'Optional sorting instruction. Currently possible values: "DateUpdated",
          "DateCreated", "DateUpdated desc", "DateCreated desc","EntryDate", "EntryDate
          desc", "StartTimeLocal","StartTimeLocal desc", "TimeSheetEntryID", "TimeSheetEntryID
          desc"'
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimesheetList'
            text/json:
              schema:
                $ref: '#/components/schemas/TimesheetList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TimesheetList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TimesheetList'
        401:
          description: Unauthorized
          content: {}
      security:
      - oauth2:
        - read_timesheets
    put:
      tags:
      - Timesheet
      summary: Update a Timesheet
      description: The FieldsToUpdate field expects a string array collection of the
        field names you would like updated. Valid fields to update inlcude "ProjectIDFK",
        "TimeSheetCategoryIDFK", "TaskIDFK", "Duration", "EntryDate", "Notes", "hasStartEndTime",
        "CustomMetadata". If you intend to provide start/end times on timesheets,
        this is achieved by including the start time in the EntryDate field (Iso date
        format), along with a Duration (decimal format).
      operationId: Timesheet_Put
      requestBody:
        description: A record of type `UpdateTimesheetModel` which contains the necessary data to update timesheet
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTimesheetModel'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateTimesheetModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateTimesheetModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateTimesheetModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTimesheetModel'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
      security:
      - oauth2:
        - write_timesheets
      x-codegen-request-body-name: model
    post:
      tags:
      - Timesheet
      summary: Create a new Timesheet Entry
      operationId: Timesheet_Post
      requestBody:
        description: A record of type `NewTimesheet` which contains the necessary data to create timesheet
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTimesheet'
          text/json:
            schema:
              $ref: '#/components/schemas/NewTimesheet'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewTimesheet'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewTimesheet'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewTimesheet'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
      security:
      - oauth2:
        - write_timesheets
      x-codegen-request-body-name: model
  /api/Timesheet/{id}:
    get:
      tags:
      - Timesheet
      summary: Gets a Timesheet Entry by Timesheet ID
      operationId: Timesheet_GetByID
      parameters:
      - name: id
        in: path
        description: Timesheet ID number
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/TimesheetDetails'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_timesheets
    delete:
      tags:
      - Timesheet
      summary: Delete a Timesheet Entry
      operationId: Timesheet_Delete
      parameters:
      - name: id
        in: path
        description: The id of the timesheet entry to be deleted
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      security:
      - oauth2:
        - write_timesheets
  /api/TimesheetSubmission:
    post:
      tags:
      - TimesheetSubmission
      summary: Submit Timesheets for Approval.
      description: Either provide a a specific Day (WholeDayOf) or any day in a Week
        (WholeWeekOf) to submit all draft timesheets in that day or week
      operationId: TimesheetSubmission_Post
      parameters:
      - name: SendNotifications
        in: query
        description: Send email alerts to timesheet approvers. Defaults to true
        schema:
          type: boolean
      - name: WholeWeekOf
        in: query
        description: A date (yyyy-MM-dd) that falls within  a Week to have all timesheets
          in that week submitted. Respects the First Day of Week setting in your account
          Timesheet Settings to determine the week range.
        schema:
          type: string
          format: date-time
      - name: WholeDayOf
        in: query
        description: A date (yyyy-MM-dd) to submit all timesheets on this day
        schema:
          type: string
          format: date-time
      - name: UserID
        in: query
        description: The user to submit timesheets for. Defaults to current user.
          Only allowed to be different from the current user when the current user
          has rights to Impersonate other users.
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      security:
      - oauth2:
        - write_timesheets
  /api/TimesheetSummary:
    get:
      tags:
      - TimesheetSummary
      summary: Gets Basic Summary of Timesheet Statistics
      operationId: TimesheetSummary_Get
      parameters:
      - name: model.groupBy
        in: query
        description: '(Optional) Combine one, two or three levels of Grouping. Combine
          these possible grouping values: "Customer", "Project", "Category", "User",
          "Task", "Year", "Month", "Day", "Week".'
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: model.entryDateFrom
        in: query
        description: (Required) Filter for timesheets greater or equal to the specified
          date. e.g. 2019-01-25. You can optionally include a time component, otherwise
          it assumes 00:00
        schema:
          type: string
          format: date-time
      - name: model.entryDateTo
        in: query
        description: (Required) Filter for timesheets with an entry date smaller or
          equal to the specified  date. e.g. 2019-01-25. You can optionally include
          a time component, otherwise it assumes 00:00
        schema:
          type: string
          format: date-time
      - name: model.userID
        in: query
        description: (Optional) Defaults to the current user. Provide one or more
          UserIDs of Users whose timesheets should be retrieved. If the current user
          doesn't have impersonation rights, then they will only see their own data.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: model.projectID
        in: query
        description: (Optional) Filter by Project
        schema:
          type: integer
          format: int32
      - name: model.isBillable
        in: query
        description: (Optional) Filter by the billable status of Timesheets.
        schema:
          type: boolean
      - name: model.isInvoiced
        in: query
        description: (Optional) Filter for timesheets by whether they have been Invoiced
          or not.
        schema:
          type: boolean
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimesheetSummaryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/TimesheetSummaryResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/TimesheetSummaryResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/TimesheetSummaryResult'
      security:
      - oauth2:
        - read_timesheets
  /api/TimesheetTimer:
    get:
      tags:
      - TimesheetTimer
      summary: Gets the  Running Timer if there is one for a user.
      operationId: TimesheetTimer_GetRunningTimer
      parameters:
      - name: UserID
        in: query
        description: Optional - User ID number if impersonating a different user.
          Otherwise assumes the current user. Only users with certain security roles
          have permission to impersonate other users
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
      security:
      - oauth2:
        - read_timesheets
  /api/TimesheetTimer/{id}:
    post:
      tags:
      - TimesheetTimer
      summary: Starts a Timer running on an existing Timesheet Entry
[...]
