{
    "openapi": "3.0.1",
    "info": {
        "title": "CRM Imports",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "After a successful in-person webinar, use this API to import a set of contacts based on who signed up during the event.",
        "x-hubspot-related-documentation": [
            {
                "name": "Import CRM Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/imports"
            }
        ],
        "x-hubspot-introduction": "Use the imports API to import CRM records and activities, such as contacts, companies, and notes, into your HubSpot account."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Core"
        },
        {
            "name": "Public_Imports"
        }
    ],
    "paths": {
        "/crm/v3/imports/{importId}/cancel": {
            "post": {
                "tags": ["Core"],
                "summary": "Cancel an active import",
                "description": "This allows a developer to cancel an active import.",
                "operationId": "post-/crm/v3/imports/{importId}/cancel_cancel",
                "parameters": [
                    {
                        "name": "importId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": ["crm.import"]
                    },
                    {
                        "private_apps_legacy": ["crm.import"]
                    }
                ]
            }
        },
        "/crm/v3/imports/{importId}": {
            "get": {
                "tags": ["Core"],
                "summary": "Get the information on any import",
                "description": "A complete summary of an import record, including any updates.",
                "operationId": "get-/crm/v3/imports/{importId}_getById",
                "parameters": [
                    {
                        "name": "importId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicImportResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": ["crm.import"]
                    },
                    {
                        "private_apps_legacy": ["crm.import"]
                    }
                ]
            }
        },
        "/crm/v3/imports/{importId}/errors": {
            "get": {
                "tags": ["Public_Imports"],
                "operationId": "get-/crm/v3/imports/{importId}/errors_getErrors",
                "parameters": [
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to display per page.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "importId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "includeErrorMessage",
                        "in": "query",
                        "description": "Set to True to receive a message explaining the error.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "includeRowData",
                        "in": "query",
                        "description": "Set to True to receive the data values for the errored row.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicImportErrorForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": ["crm.import"]
                    },
                    {
                        "private_apps_legacy": ["crm.import"]
                    }
                ]
            }
        },
        "/crm/v3/imports/": {
            "get": {
                "tags": ["Core"],
                "summary": "Get active imports",
                "description": "Returns a paged list of active imports for this account.",
                "operationId": "get-/crm/v3/imports/_getPage",
                "parameters": [
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to display per page.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicImportResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": ["crm.import"]
                    },
                    {
                        "private_apps_legacy": ["crm.import"]
                    }
                ]
            },
            "post": {
                "tags": ["Core"],
                "summary": "Start a new import",
                "description": "Begins importing data from the specified file resources. This uploads the corresponding file and uses the import request object to convert rows in the files to objects.",
                "operationId": "post-/crm/v3/imports/_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "files": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "importRequest": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicImportResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": ["crm.import"]
                    },
                    {
                        "private_apps_legacy": ["crm.import"]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "CollectionResponsePublicImportResponse": {
                "required": ["results"],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/Paging"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicImportResponse"
                        }
                    }
                }
            },
            "Paging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage"
                    },
                    "prev": {
                        "$ref": "#/components/schemas/PreviousPage"
                    }
                }
            },
            "PublicObjectListRecord": {
                "required": ["listId", "objectType"],
                "type": "object",
                "properties": {
                    "listId": {
                        "type": "string",
                        "description": "The ID of the list containing the imported objects.",
                        "example": "3"
                    },
                    "objectType": {
                        "type": "string",
                        "description": "The type of object contained in the list.",
                        "example": "contacts"
                    }
                }
            },
            "Error": {
                "required": ["category", "correlationId", "message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"],
                            "invalidPropertyName": ["propertyValue"]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": {
                            "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "Invalid input (details will vary based on the error)"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": "VALIDATION_ERROR"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                }
            },
            "PropertyValue": {
                "required": [
                    "dataSensitivity",
                    "isEncrypted",
                    "isLargeValue",
                    "name",
                    "persistenceTimestamp",
                    "requestId",
                    "selectedByUser",
                    "selectedByUserTimestamp",
                    "source",
                    "sourceId",
                    "sourceLabel",
                    "sourceMetadata",
                    "sourceVid",
                    "timestamp",
                    "unit",
                    "updatedByUserId",
                    "useTimestampAsPersistenceTimestamp",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "sourceId": {
                        "type": "string"
                    },
                    "selectedByUser": {
                        "type": "boolean"
                    },
                    "sourceLabel": {
                        "type": "string"
                    },
                    "source": {
                        "type": "string",
                        "enum": [
                            "UNKNOWN",
                            "IMPORT",
                            "API",
                            "FORM",
                            "ANALYTICS",
                            "MIGRATION",
                            "SALESFORCE",
                            "INTEGRATION",
                            "CONTACTS_WEB",
                            "WAL_INCREMENTAL",
                            "TASK",
                            "EMAIL",
                            "WORKFLOWS",
                            "CALCULATED",
                            "SOCIAL",
                            "BATCH_UPDATE",
                            "SIGNALS",
                            "BIDEN",
                            "DEFAULT",
                            "COMPANIES",
                            "DEALS",
                            "ASSISTS",
                            "PRESENTATIONS",
                            "TALLY",
                            "SIDEKICK",
                            "CRM_UI",
                            "MERGE_CONTACTS",
                            "PORTAL_USER_ASSOCIATOR",
                            "INTEGRATIONS_PLATFORM",
                            "BCC_TO_CRM",
                            "FORWARD_TO_CRM",
                            "ENGAGEMENTS",
                            "SALES",
                            "HEISENBERG",
                            "LEADIN",
                            "GMAIL_INTEGRATION",
                            "ACADEMY",
                            "SALES_MESSAGES",
                            "AVATARS_SERVICE",
                            "MERGE_COMPANIES",
                            "SEQUENCES",
                            "COMPANY_FAMILIES",
                            "MOBILE_IOS",
                            "MOBILE_ANDROID",
                            "CONTACTS",
                            "ASSOCIATIONS",
                            "EXTENSION",
                            "SUCCESS",
                            "BOT",
                            "INTEGRATIONS_SYNC",
                            "AUTOMATION_PLATFORM",
                            "CONVERSATIONS",
                            "EMAIL_INTEGRATION",
                            "CONTENT_MEMBERSHIP",
                            "QUOTES",
                            "BET_ASSIGNMENT",
                            "QUOTAS",
                            "BET_CRM_CONNECTOR",
                            "MEETINGS",
                            "MERGE_OBJECTS",
                            "RECYCLING_BIN",
                            "ADS",
                            "AI_GROUP",
                            "COMMUNICATOR",
                            "SETTINGS",
                            "PROPERTY_SETTINGS",
                            "PIPELINE_SETTINGS",
                            "COMPANY_INSIGHTS",
                            "BEHAVIORAL_EVENTS",
                            "PAYMENTS",
                            "GOALS",
                            "PORTAL_OBJECT_SYNC",
                            "APPROVALS",
                            "FILE_MANAGER",
                            "MARKETPLACE",
                            "INTERNAL_PROCESSING",
                            "FORECASTING",
                            "SLACK_INTEGRATION",
                            "CRM_UI_BULK_ACTION",
                            "WORKFLOW_CONTACT_DELETE_ACTION",
                            "ACCEPTANCE_TEST",
                            "PLAYBOOKS",
                            "CHATSPOT",
                            "FLYWHEEL_PRODUCT_DATA_SYNC",
                            "HELP_DESK",
                            "BILLING",
                            "DATA_ENRICHMENT",
                            "AUTOMATION_JOURNEY",
                            "MICROAPPS",
                            "INTENT",
                            "PROSPECTING_AGENT"
                        ]
                    },
                    "updatedByUserId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "persistenceTimestamp": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "sourceMetadata": {
                        "type": "string"
                    },
                    "dataSensitivity": {
                        "type": "string",
                        "enum": ["none", "standard", "high"]
                    },
                    "sourceVid": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "unit": {
                        "type": "string"
                    },
                    "requestId": {
                        "type": "string"
                    },
                    "isEncrypted": {
                        "type": "boolean"
                    },
                    "name": {
                        "type": "string"
                    },
                    "useTimestampAsPersistenceTimestamp": {
                        "type": "boolean"
                    },
                    "value": {
                        "type": "string"
                    },
                    "selectedByUserTimestamp": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "timestamp": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "isLargeValue": {
                        "type": "boolean"
                    }
                }
            },
            "ImportRowCore": {
                "required": [
                    "containsEncryptedProperties",
                    "fileId",
                    "lineNumber",
                    "rowData"
                ],
                "type": "object",
                "properties": {
                    "rowData": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "containsEncryptedProperties": {
                        "type": "boolean"
                    },
                    "lineNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageName": {
                        "type": "string"
                    },
                    "fileId": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "ImportTemplate": {
                "required": ["templateId", "templateType"],
                "type": "object",
                "properties": {
                    "templateType": {
                        "type": "string",
                        "enum": [
                            "admin_defined",
                            "previous_import",
                            "user_file"
                        ]
                    },
                    "templateId": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "ActionResponse": {
                "required": ["completedAt", "startedAt", "status"],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ]
                    }
                }
            },
            "ErrorDetail": {
                "required": ["message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                }
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage"
                    }
                }
            },
            "PublicImportError": {
                "required": ["createdAt", "errorType", "id", "sourceData"],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "extraContext": {
                        "type": "string"
                    },
                    "objectTypeId": {
                        "type": "string"
                    },
                    "errorType": {
                        "type": "string",
                        "enum": [
                            "INCORRECT_NUMBER_OF_COLUMNS",
                            "INVALID_OBJECT_ID",
                            "INVALID_ASSOCIATION_IDENTIFIER",
                            "NO_OBJECT_ID_FROM_ASSOCIATION_IDENTIFIER",
                            "MULTIPLE_COMPANIES_WITH_THIS_DOMAIN",
                            "PROPERTY_DEFINITION_NOT_FOUND",
                            "PROPERTY_VALUE_NOT_FOUND",
                            "COULD_NOT_FIND_OWNER",
                            "MULTIPLE_OWNERS_FOUND",
                            "COULD_NOT_FIND_BUSINESS_UNIT",
                            "COULD_NOT_PARSE_NUMBER",
                            "COULD_NOT_PARSE_DATE",
                            "COULD_NOT_PARSE_TERM",
                            "OUTSIDE_VALID_TIME_RANGE",
                            "OUTSIDE_VALID_TERM_RANGE",
                            "COULD_NOT_PARSE_ROW",
                            "INVALID_ENUMERATION_OPTION",
                            "AMBIGUOUS_ENUMERATION_OPTION",
                            "FAILED_VALIDATION",
                            "FAILED_TO_CREATE_ASSOCIATION",
                            "ASSOCIATION_LIMIT_EXCEEDED",
                            "FILE_NOT_FOUND",
                            "INVALID_COLUMN_CONFIGURATION",
                            "INVALID_FILE_TYPE",
                            "INVALID_SPREADSHEET",
                            "INVALID_SHEET_COUNT",
                            "FAILED_TO_PROCESS_OBJECT_WITH_EMPTY_PROPERTY_VALUES",
                            "UNKNOWN_BAD_REQUEST",
                            "GDPR_BLACKLISTED_EMAIL",
                            "DUPLICATE_ASSOCIATION_ID",
                            "LIMIT_EXCEEDED",
                            "PORTAL_WIDE_CUSTOM_OBJECT_LIMIT_EXCEEDED",
                            "INVALID_ALTERNATE_ID",
                            "INVALID_EMAIL",
                            "SECONDARY_EMAIL_WRITE_FAILURE",
                            "INVALID_DOMAIN",
                            "DUPLICATE_ROW_CONTENT",
                            "INVALID_NUMBER_SIZE",
                            "UNKNOWN_ERROR",
                            "FAILED_TO_OPT_OUT_CONTACT",
                            "INVALID_REQUIRED_PROPERTY",
                            "MISSING_REQUIRED_PROPERTY",
                            "DUPLICATE_ALTERNATE_ID",
                            "DUPLICATE_OBJECT_ID",
                            "DUPLICATE_UNIQUE_PROPERTY_VALUE",
                            "UNKNOWN_ASSOCIATION_RECORD_ID",
                            "INVALID_RECORD_ID",
                            "DUPLICATE_RECORD_ID",
                            "INVALID_CUSTOM_PROPERTY_VALIDATION",
                            "CREATE_ONLY_IMPORT",
                            "UPDATE_ONLY_IMPORT",
                            "COLUMN_TOO_LARGE",
                            "ROW_DATA_TOO_LARGE",
                            "MISSING_EVENT_TIMESTAMP",
                            "INVALID_EVENT_TIMESTAMP",
                            "INVALID_EVENT",
                            "DUPLICATE_EVENT",
                            "MISSING_EVENT_DEFINITION",
                            "INVALID_ASSOCIATION_KEY",
                            "ASSOCIATION_RECORD_NOT_FOUND",
                            "MISSING_OBJECT_DEFINITION",
                            "ASSOCIATION_LABEL_NOT_FOUND",
                            "MANY_ERRORS_IN_ROW"
                        ]
                    },
                    "invalidPropertyValue": {
                        "$ref": "#/components/schemas/PropertyValue"
                    },
                    "errorMessage": {
                        "type": "string"
                    },
                    "knownColumnNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "invalidValueToDisplay": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "sourceData": {
                        "$ref": "#/components/schemas/ImportRowCore"
                    },
                    "objectType": {
                        "type": "string",
                        "enum": [
                            "CONTACT",
                            "COMPANY",
                            "DEAL",
                            "ENGAGEMENT",
                            "TICKET",
                            "OWNER",
                            "PRODUCT",
                            "LINE_ITEM",
                            "BET_DELIVERABLE_SERVICE",
                            "CONTENT",
                            "CONVERSATION",
                            "BET_ALERT",
                            "PORTAL",
                            "QUOTE",
                            "FORM_SUBMISSION_INBOUNDDB",
                            "QUOTA",
                            "UNSUBSCRIBE",
                            "COMMUNICATION",
                            "FEEDBACK_SUBMISSION",
                            "ATTRIBUTION",
                            "SALESFORCE_SYNC_ERROR",
                            "RESTORABLE_CRM_OBJECT",
                            "HUB",
                            "LANDING_PAGE",
                            "PRODUCT_OR_FOLDER",
                            "TASK",
                            "FORM",
                            "MARKETING_EMAIL",
                            "AD_ACCOUNT",
                            "AD_CAMPAIGN",
                            "AD_GROUP",
                            "AD",
                            "KEYWORD",
                            "CAMPAIGN",
                            "SOCIAL_CHANNEL",
                            "SOCIAL_POST",
                            "SITE_PAGE",
                            "BLOG_POST",
                            "IMPORT",
                            "EXPORT",
                            "CTA",
                            "TASK_TEMPLATE",
                            "AUTOMATION_PLATFORM_FLOW",
                            "OBJECT_LIST",
                            "NOTE",
                            "MEETING_EVENT",
                            "CALL",
                            "EMAIL",
                            "PUBLISHING_TASK",
                            "CONVERSATION_SESSION",
                            "CONTACT_CREATE_ATTRIBUTION",
                            "INVOICE",
                            "MARKETING_EVENT",
                            "CONVERSATION_INBOX",
                            "CHATFLOW",
                            "MEDIA_BRIDGE",
                            "SEQUENCE",
                            "SEQUENCE_STEP",
                            "FORECAST",
                            "SNIPPET",
                            "TEMPLATE",
                            "DEAL_CREATE_ATTRIBUTION",
                            "QUOTE_TEMPLATE",
                            "QUOTE_MODULE",
                            "QUOTE_MODULE_FIELD",
                            "QUOTE_FIELD",
                            "SEQUENCE_ENROLLMENT",
                            "SUBSCRIPTION",
                            "ACCEPTANCE_TEST",
                            "SOCIAL_BROADCAST",
                            "DEAL_SPLIT",
                            "DEAL_REGISTRATION",
                            "GOAL_TARGET",
                            "GOAL_TARGET_GROUP",
                            "PORTAL_OBJECT_SYNC_MESSAGE",
                            "FILE_MANAGER_FILE",
                            "FILE_MANAGER_FOLDER",
                            "SEQUENCE_STEP_ENROLLMENT",
                            "APPROVAL",
                            "APPROVAL_STEP",
                            "CTA_VARIANT",
                            "SALES_DOCUMENT",
                            "DISCOUNT",
                            "FEE",
                            "TAX",
                            "MARKETING_CALENDAR",
                            "PERMISSIONS_TESTING",
                            "PRIVACY_SCANNER_COOKIE",
                            "DATA_SYNC_STATE",
                            "WEB_INTERACTIVE",
                            "PLAYBOOK",
                            "FOLDER",
                            "PLAYBOOK_QUESTION",
                            "PLAYBOOK_SUBMISSION",
                            "PLAYBOOK_SUBMISSION_ANSWER",
                            "COMMERCE_PAYMENT",
                            "GSC_PROPERTY",
                            "SOX_PROTECTED_DUMMY_TYPE",
                            "BLOG_LISTING_PAGE",
                            "QUARANTINED_SUBMISSION",
                            "PAYMENT_SCHEDULE",
                            "PAYMENT_SCHEDULE_INSTALLMENT",
                            "MARKETING_CAMPAIGN_UTM",
                            "DISCOUNT_TEMPLATE",
                            "DISCOUNT_CODE",
                            "FEEDBACK_SURVEY",
                            "CMS_URL",
                            "SALES_TASK",
                            "SALES_WORKLOAD",
                            "USER",
                            "POSTAL_MAIL",
                            "SCHEMAS_BACKEND_TEST",
                            "PAYMENT_LINK",
                            "SUBMISSION_TAG",
                            "CAMPAIGN_STEP",
                            "SCHEDULING_PAGE",
                            "SOX_PROTECTED_TEST_TYPE",
                            "ORDER",
                            "MARKETING_SMS",
                            "PARTNER_ACCOUNT",
                            "CAMPAIGN_TEMPLATE",
                            "CAMPAIGN_TEMPLATE_STEP",
                            "PLAYLIST",
                            "CLIP",
                            "CAMPAIGN_BUDGET_ITEM",
                            "CAMPAIGN_SPEND_ITEM",
                            "MIC",
                            "CONTENT_AUDIT",
                            "CONTENT_AUDIT_PAGE",
                            "PLAYLIST_FOLDER",
                            "LEAD",
                            "ABANDONED_CART",
                            "EXTERNAL_WEB_URL",
                            "VIEW",
                            "VIEW_BLOCK",
                            "ROSTER",
                            "CART",
                            "AUTOMATION_PLATFORM_FLOW_ACTION",
                            "SOCIAL_PROFILE",
                            "PARTNER_CLIENT",
                            "ROSTER_MEMBER",
                            "MARKETING_EVENT_ATTENDANCE",
                            "ALL_PAGES",
                            "AI_FORECAST",
                            "CRM_PIPELINES_DUMMY_TYPE",
                            "KNOWLEDGE_ARTICLE",
                            "PROPERTY_INFO",
                            "DATA_PRIVACY_CONSENT",
                            "GOAL_TEMPLATE",
                            "SCORE_CONFIGURATION",
                            "AUDIENCE",
                            "PARTNER_CLIENT_REVENUE",
                            "AUTOMATION_JOURNEY",
                            "COMBO_EVENT_CONFIGURATION",
                            "CRM_OBJECTS_DUMMY_TYPE",
                            "CASE_STUDY",
                            "SERVICE",
                            "PODCAST_EPISODE",
                            "PARTNER_SERVICE",
                            "PROSPECTING_AGENT_CONTACT_ASSIGNMENT",
                            "UNKNOWN"
                        ]
                    },
                    "invalidValue": {
                        "type": "string"
                    }
                }
            },
            "PreviousPage": {
                "required": ["before"],
                "type": "object",
                "properties": {
                    "before": {
                        "type": "string"
                    },
                    "link": {
                        "type": "string"
                    }
                }
            },
            "PublicImportMetadata": {
                "required": ["counters", "fileIds", "objectLists"],
                "type": "object",
                "properties": {
                    "counters": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "description": "Summarized outcomes of each row a developer attempted to import into HubSpot.",
                        "example": {
                            "TOTAL_ROWS": 2,
                            "CREATED_OBJECTS": 1,
                            "UPDATED_OBJECTS": 1,
                            "UNIQUE_OBJECTS_WRITTEN": 2,
                            "PROPERTY_VALUES_EMITTED": 2
                        }
                    },
                    "fileIds": {
                        "type": "array",
                        "description": "The IDs of files uploaded in the File Manager API.",
                        "example": ["3579849"],
                        "items": {
                            "type": "string"
                        }
                    },
                    "objectLists": {
                        "type": "array",
                        "description": "The lists containing the imported objects.",
                        "example": [
                            {
                                "listId": "3",
                                "objectType": "contacts"
                            }
                        ],
                        "items": {
                            "$ref": "#/components/schemas/PublicObjectListRecord"
                        }
                    }
                }
            },
            "CollectionResponsePublicImportErrorForwardPaging": {
                "required": ["results"],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicImportError"
                        }
                    }
                }
            },
            "PublicImportResponse": {
                "required": [
                    "createdAt",
                    "id",
                    "mappedObjectTypeIds",
                    "metadata",
                    "optOutImport",
                    "state",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "importTemplate": {
                        "$ref": "#/components/schemas/ImportTemplate"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2020-01-14T22:45:00.153+00:00"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PublicImportMetadata"
                    },
                    "importRequestJson": {
                        "type": "object",
                        "properties": {}
                    },
                    "importSource": {
                        "type": "string",
                        "enum": [
                            "API",
                            "CRM_UI",
                            "IMPORT",
                            "MOBILE_ANDROID",
                            "MOBILE_IOS",
                            "SALESFORCE"
                        ]
                    },
                    "importName": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string",
                        "description": "The status of the import.",
                        "example": "DONE",
                        "enum": [
                            "STARTED",
                            "PROCESSING",
                            "DONE",
                            "FAILED",
                            "CANCELED",
                            "DEFERRED",
                            "REVERTED"
                        ]
                    },
                    "id": {
                        "type": "string",
                        "example": "1471"
                    },
                    "optOutImport": {
                        "type": "boolean",
                        "description": "Whether or not the import is a list of people disqualified from receiving emails.",
                        "example": false
                    },
                    "mappedObjectTypeIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2020-01-14T22:45:00.153+00:00"
                    }
                }
            },
            "NextPage": {
                "required": ["after"],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string"
                    },
                    "after": {
                        "type": "string"
                    }
                }
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth2_legacy": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm.import": "Create or modify all your CRM data through bulk imports"
                        }
                    }
                }
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header"
            }
        }
    },
    "x-hubspot-available-client-libraries": ["PHP", "Node", "Ruby", "Python"],
    "x-hubspot-product-tier-requirements": {
        "marketing": "FREE",
        "sales": "FREE",
        "service": "FREE",
        "cms": "FREE"
    },
    "x-hubspot-documentation-banner": "NONE"
}
