openapi: 3.0.0
info:
  title: Student
  description: >
    Use the students API to retrieve details about students recorded in
    Colleague.
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials. 

    Please create a [Ellucian Account](https://xedocs.ellucian.com/) and obtain tokens by following [this guide](https://xedocs.ellucian.com/xe-colleague-api/rest-api/index.html).
  x-ballerina-display:
   label: Ellucian Student
   iconPath: "icon.png"
  version: 16.0.0
servers:
  - url: https://integrate.elluciancloud.com
    description: Ethos Integration API U.S.
  - url: https://integrate.elluciancloud.ca
    description: Ethos Integration API Canada
  - url: https://integrate.elluciancloud.ie
    description: Ethos Integration API Europe
  - url: https://integrate.elluciancloud.com.au
    description: Ethos Integration API Asia-Pacific
  - url: "{server_url}"
    description: Custom server url
    variables:
      server_url:
        default: localhost
paths:
  /api/students:
    get:
      operationId: GetStudents
      summary: Returns resources from STUDENTS
      description: >
        Returns a paged listing of all records from the STUDENTS file.


        Note that anyone who has ever been defined in the STUDENTS file is returned, regardless of whether they are considered an active or inactive student based on business rules at a particular institution.
      security:
        - BearerAuth: []
      tags:
        - students
      parameters:
        - name: accept
          in: header
          description: >
            The version of the resource requested. Prefer to use only the whole
            MAJOR version.  See the semantic versioning topic in the API
            Standards from more information.
            ```
            application/vnd.hedtech.integration.v16+json
            ```
          schema:
            type: string
            default: application/vnd.hedtech.integration.v16+json
        - name: limit
          in: query
          required: false
          description: The maximum number of resources requesting for this result set.
            Default page limit is 100 and upper limit is 100.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: The 0 based index for a collection of resources for the page
            requested.
          schema:
            type: integer
        - name: criteria
          in: query
          required: false
          schema:
            type: object
          description: >
            ### Person  

            The person who has, or is eligible to, register/enroll at the institution as a student.

            ```

            /students?criteria={"person":{"id":"639ed28f-01e9-4102-874b-d87c80934fc1"}}

            ```

            ### Type  

            The type of student.

            ```

            /students?criteria={"types":[{"type":{"id":"df777d34-c621-43dc-8fbf-4d0b6b9f4ea4"}}]}

            ```

            ### Residency  

            The residency type associated with the student.

            ```

            /students?criteria={"residencies":[{"residency":{"id":"f0e05a63-4709-4de1-bed1-9769e6c871e3"}}]}

            ```
        - name: personFilter
          in: query
          required: false
          schema:
            type: object
          description: >
            ### Person Filter  

            Retrieve information for a specified population.

            ```

            /students?personFilter={"personFilter":{"id":"eb0b8c6e-284f-40b4-979b-173c939cdf4e"}}

            ```
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/Student"
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v16.0.0+json
              schema:
                type: string
            X-Total-Count:
              description: Specifies the total number of resources that satisfy the query.
              schema:
                type: integer
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Permission Denied
        "404":
          description: Resource not found
        "500":
          description: Server error, unexpected configuration or data
  /api/students/{id}:
    get:
      operationId: GetStudent
      summary: Return the requested resource from STUDENTS
      description: |
        Returns details about a single STUDENTS record.
      security:
        - BearerAuth: []
      tags:
        - students
      parameters:
        - name: id
          in: path
          required: true
          description: A global identifier of the resource for use in all external
            references
          schema:
            type: string
            format: GUID
            minimum: 1
        - name: accept
          in: header
          description: >
            The version of the resource requested. Please refer to the API
            source documentation for detailed support information. Prefer to use
            only the whole MAJOR version. 

            ```

            application/vnd.hedtech.integration.v16+json

            ```
          schema:
            type: string
            default: application/vnd.hedtech.integration.v16+json
      responses:
        "200":
          description: Success
          headers:
            X-Media-Type:
              description: application/vnd.hedtech.integration.v16.0.0+json
              schema:
                type: string
          content:
            application/vnd.hedtech.integration.v16.0.0+json:
              schema:
                type: object
                $ref: "#/components/schemas/Student"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Permission Denied
        "404":
          description: Resource not found
        "500":
          description: Server error, unexpected configuration or data
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    Student:
      title: Student
      description: Information about a person who has, or is eligible to,
        register/enroll at the institution as a student.
      type: object
      properties:
        metadata:
          title: Metadata
          description: Metadata about the JSON payload
          type: object
          properties:
            createdBy:
              title: Created By
              description: The name of the originator (user or system) of the data. This is
                informational only, do not use in business logic!
              type: string
            createdOn:
              title: Created On
              description: The date and time when the entity instance was created
              oneOf:
                - type: string
                  format: date-time
                  pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|0[1-9]|[1-2][0-9])T(2[0-3]|[0-1][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[0-1][0-9]):[0-5][0-9])?$
                - type: string
                  maxLength: 0
            modifiedBy:
              title: Modified By
              description: The name of the modifier (user or system) of the data. This is
                informational only, do not use in business logic!
              type: string
            modifiedOn:
              title: Modified On
              description: The date and time when the entity instance was last modified
              oneOf:
                - type: string
                  format: date-time
                  pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|0[1-9]|[1-2][0-9])T(2[0-3]|[0-1][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[0-1][0-9]):[0-5][0-9])?$
                - type: string
                  maxLength: 0
          additionalProperties: false
        id:
          title: ID
          description: The global identifier of the student.
          type: string
          format: guid
          pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
        person:
          title: Person
          description: The person who has, or is eligible to, register/enroll at the
            institution as a student.
          type: object
          properties:
            id:
              title: ID
              description: The global identifier for the Person.
              type: string
              format: guid
              pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
          additionalProperties: false
          required:
            - id
        types:
          title: Types
          description: The types of the student.
          type: array
          items:
            type: object
            properties:
              type:
                title: Type
                description: The type of student.
                type: object
                properties:
                  id:
                    title: ID
                    description: The global identifier for the Type.
                    type: string
                    format: guid
                    pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
                additionalProperties: false
                required:
                  - id
              startOn:
                title: Start On
                description: The effective date for the student type.
                type: string
                format: date
                pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|0[1-9]|[1-2][0-9])$
              administrativePeriod:
                title: Administrative Period
                description: The starting administrative period for the student type.
                oneOf:
                  - type: object
                    properties:
                      id:
                        title: ID
                        description: The global identifier for the Administrative Period.
                        type: string
                        format: guid
                        pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
                    additionalProperties: false
                    required:
                      - id
                  - type: object
                    maxProperties: 0
            additionalProperties: false
            required:
              - type
              - startOn
        residencies:
          title: Residencies
          description: "The residency types (e.g.: international, in state, out of state,
            etc.) associated with the student for periods of time."
          type: array
          items:
            type: object
            properties:
              residency:
                title: Residency
                description: The residency type associated with the student.
                type: object
                properties:
                  id:
                    title: ID
                    description: The global identifier for the Residency.
                    type: string
                    format: guid
                    pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
                additionalProperties: false
                required:
                  - id
              startOn:
                title: Start On
                description: The date the residency became effective.
                oneOf:
                  - type: string
                    format: date
                    pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[0-1]|0[1-9]|[1-2][0-9])$
                  - type: string
                    maxLength: 0
              administrativePeriod:
                title: Administrative Period
                description: The starting administrative period associated with the residency.
                oneOf:
                  - type: object
                    properties:
                      id:
                        title: ID
                        description: The global identifier for the Administrative Period.
                        type: string
                        format: guid
                        pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
                    additionalProperties: false
                    required:
                      - id
                  - type: object
                    maxProperties: 0
            additionalProperties: false
            required:
              - residency
        levelClassifications:
          title: Level Classifications
          description: The most recent student classification for their academic levels.
          type: array
          items:
            type: object
            properties:
              level:
                title: Level
                description: The academic level associated with the student.
                type: object
                properties:
                  id:
                    title: ID
                    description: The global identifier for the Level.
                    type: string
                    format: guid
                    pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
                additionalProperties: false
                required:
                  - id
              latestClassification:
                title: Latest Classification
                description: The latest classification associated with the academic level.
                type: object
                properties:
                  id:
                    title: ID
                    description: The global identifier for the Latest Classification.
                    type: string
                    format: guid
                    pattern: ^[a-f0-9]{8}(?:-[a-f0-9]{4}){3}-[a-f0-9]{12}$
                additionalProperties: false
                required:
                  - id
            additionalProperties: false
            required:
              - level
              - latestClassification
      required:
        - id
        - person
      additionalProperties: false
