openapi: 3.0.1
info:
  title: OptiTune REST API
  description: |
    This is a generated connector for [OptiTune API v1](https://manage.opti-tune.com/help/site/articles/api/default.html) OpenAPI specification.
    A complete API for interacting with all objects on an OptiTune Management Server
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials. 
    Create a [OptiTune account](https://manage.opti-tune.com) and obtain tokens by following [this guide](https://manage.opti-tune.com/help/site/articles/api/default.html#authentication).
  x-ballerina-display:
    label: OptiTune 
    iconPath: "icon.png"
  contact:
    name: Bravura Software LLC
    url: https://www.bravurasoftware.com/optitune/
    email: customer_support@bravurasoftware.com
  license:
    name: Master Subscription Agreement
    url: https://manage.opti-tune.com/legal/subscription-agreement.aspx
  version: V1
  x-swagger-net-version: 8.3.47.101
servers:
- url: https://manage.opti-tune.com/
tags:
- name: Accounts
- name: AdvancedSettings
- name: AgentConfig
- name: AgentInstallers
- name: AgentStatus
- name: AlertInstances
- name: AlertSubscriptions
- name: Announcements
- name: Applications
- name: AuditLog
- name: BackupCloudberry
- name: BenchmarkDataPoints
- name: BenchmarkDataSets
- name: Benchmarks
- name: BillingLicenseUsage
- name: BillingSettings
- name: BrandDomains
- name: Brands
- name: BusinessEntities
- name: ComputerDetails
- name: ComputerDisplayName
- name: ComputerMetadata
- name: Computers
- name: DeploymentResults
- name: Deployments
- name: EndpointProtection
- name: EndpointProtectionSettings
- name: EventCategories
- name: EventCategoryMemberships
- name: EventDescriptors
- name: EventSources
- name: FavoriteTasks
- name: Files
- name: GroupMemberships
- name: Groups
- name: InstallTasks
- name: LocalUsers
- name: MailTemplates
- name: MalwareThreats
- name: NotificationGroupMemberAccounts
- name: NotificationGroupMembers
- name: NotificationGroups
- name: OptiTuneTasks
- name: Organizations
  description: "This resource is used for back end administration of Organizations\
    \ on an OptiTune management server.  \r\nIt is typically used by resellers who\
    \ have their own OptiTune management servers and billing integration, and is not\
    \ available\r\non the standard cloud hosted version of the OptiTune management\
    \ server.  The caller must have the master administrator role to call any of these\
    \ methods."
- name: OrganizationSettings
  description: "The OrganizationSettings resource is used in reseller scenarios to\
    \ manage each organizations storage quota, billing settings, etc...\r\nIt is not\
    \ available in the regular cloud hosted version of OptiTune.  The caller must\
    \ have the master administrator role to call any of these methods."
- name: PerformanceSettings
- name: ProductKeys
- name: RemoteAccessSettings
- name: RemoteAssistanceRequests
- name: RemoteConnections
- name: RepairTasks
- name: RetiredComputers
- name: ScriptTasks
- name: SingletonGroups
  description: "Each computer in OptiTune has a \"singleton\" group, that is a group\
    \ that only contains that computer.  The singleton group is not normally\r\ndisplayed\
    \ in the UI, but it exists for when you want to deploy a task to a single computer,\
    \ or create settings for a single computer, since\r\nthese resources require a\
    \ group ID to operate on.  In this case, you would deploy the task to the singleton\
    \ group for a computer.\r\n\r\nYou can retrieve the singleton group for any computer\
    \ using this resource."
- name: SystemTasks
- name: TrayIconSettings
- name: UninstallTasks
- name: Webhooks
- name: WindowsEventLog
- name: WindowsEventLogSettings
- name: WindowsUpdateCategories
- name: WindowsUpdateComputerState
- name: WindowsUpdateHistory
- name: WindowsUpdates
- name: WindowsUpdateSettings
paths:
  /api/v1/Accounts/Me:
    get:
      tags:
      - Accounts
      summary: Gets the logged in user account
      operationId: GetMyAccounts
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
            text/json:
              schema:
                $ref: '#/components/schemas/Account'
            application/xml:
              schema:
                $ref: '#/components/schemas/Account'
            text/xml:
              schema:
                $ref: '#/components/schemas/Account'
  /api/v1/Accounts:
    get:
      tags:
      - Accounts
      summary: Gets all accounts in the organization
      operationId: GetAllAccounts
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
    post:
      tags:
      - Accounts
      summary: Adds a new account
      operationId: PostAccounts
      requestBody:
        description: The account to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
          text/json:
            schema:
              $ref: '#/components/schemas/Account'
          application/xml:
            schema:
              $ref: '#/components/schemas/Account'
          text/xml:
            schema:
              $ref: '#/components/schemas/Account'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Account'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
            text/json:
              schema:
                $ref: '#/components/schemas/Account'
            application/xml:
              schema:
                $ref: '#/components/schemas/Account'
            text/xml:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          description: Bad Request
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      x-codegen-request-body-name: account
  /api/v1/Accounts/{id}:
    get:
      tags:
      - Accounts
      summary: Gets a single account in the organization, given an account ID
      operationId: GetAccounts
      parameters:
      - name: id
        description: Account ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
            text/json:
              schema:
                $ref: '#/components/schemas/Account'
            application/xml:
              schema:
                $ref: '#/components/schemas/Account'
            text/xml:
              schema:
                $ref: '#/components/schemas/Account'
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
    put:
      tags:
      - Accounts
      summary: Updates an existing account
      operationId: PutAccounts
      parameters:
      - name: id
        in: path
        description: The id of the Account
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The Account data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
          text/json:
            schema:
              $ref: '#/components/schemas/Account'
          application/xml:
            schema:
              $ref: '#/components/schemas/Account'
          text/xml:
            schema:
              $ref: '#/components/schemas/Account'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Account'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
            text/json:
              schema:
                $ref: '#/components/schemas/Account'
            application/xml:
              schema:
                $ref: '#/components/schemas/Account'
            text/xml:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          description: Bad Request
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      x-codegen-request-body-name: account
    delete:
      tags:
      - Accounts
      summary: Deletes an existing account
      operationId: DeleteAccounts
      parameters:
      - name: id
        description: Account ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /api/v1/AdvancedSettings:
    get:
      tags:
      - AdvancedSettings
      summary: Gets the advanced settings for an organization
      operationId: GetAdvancedSettings
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedSettings'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvancedSettings'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdvancedSettings'
            text/xml:
              schema:
                $ref: '#/components/schemas/AdvancedSettings'
        404:
          description: Not Found
          content: {}
    put:
      tags:
      - AdvancedSettings
      summary: Adds or updates advanced settings for the organization
      operationId: PutAdvancedSettings
      requestBody:
        description: AdvancedSettings data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedSettings'
          text/json:
            schema:
              $ref: '#/components/schemas/AdvancedSettings'
          application/xml:
            schema:
              $ref: '#/components/schemas/AdvancedSettings'
          text/xml:
            schema:
              $ref: '#/components/schemas/AdvancedSettings'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdvancedSettings'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedSettings'
            text/json:
              schema:
                $ref: '#/components/schemas/AdvancedSettings'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdvancedSettings'
            text/xml:
              schema:
                $ref: '#/components/schemas/AdvancedSettings'
        400:
          description: Bad Request
          content: {}
      x-codegen-request-body-name: advancedSetting
  /api/v1/Computers/{computerid}/AgentConfig:
    get:
      tags:
      - AgentConfig
      summary: Gets the OptiTune agent configuration for a given computer id, in XML
        format
      operationId: GetAgentConfig
      parameters:
      - name: computerid
        description: computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/AgentInstallers:
    get:
      tags:
      - AgentInstallers
      summary: Gets all agent installers in the organization
      operationId: AgentInstallers_GetAll
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentInstaller'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentInstaller'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentInstaller'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentInstaller'
    post:
      tags:
      - AgentInstallers
      summary: "Adds a new agent installer.  Upload the files specifying local storage\
        \ first, and then \r\nspecify the file IDs in the agent installer here"
      operationId: PostAgentInstallers
      requestBody:
        description: AgentInstaller data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentInstaller'
          text/json:
            schema:
              $ref: '#/components/schemas/AgentInstaller'
          application/xml:
            schema:
              $ref: '#/components/schemas/AgentInstaller'
          text/xml:
            schema:
              $ref: '#/components/schemas/AgentInstaller'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AgentInstaller'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentInstaller'
            text/json:
              schema:
                $ref: '#/components/schemas/AgentInstaller'
            application/xml:
              schema:
                $ref: '#/components/schemas/AgentInstaller'
            text/xml:
              schema:
                $ref: '#/components/schemas/AgentInstaller'
      x-codegen-request-body-name: agentInstaller
  /api/v1/AgentInstallers/{id}:
    get:
      tags:
      - AgentInstallers
      summary: Gets a single agent installer in the organization, given an agent installer
        ID
      operationId: GetAgentInstallers
      parameters:
      - name: id
        description: Agent installer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentInstaller'
            text/json:
              schema:
                $ref: '#/components/schemas/AgentInstaller'
            application/xml:
              schema:
                $ref: '#/components/schemas/AgentInstaller'
            text/xml:
              schema:
                $ref: '#/components/schemas/AgentInstaller'
    delete:
      tags:
      - AgentInstallers
      summary: Deletes an existing agent installer
      operationId: DeleteAgentInstallers
      parameters:
      - name: id
        description: Agent installer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/Computers/{computerid}/AgentState:
    get:
      tags:
      - AgentStatus
      summary: Gets the state of a single OptiTune agent, given a computer ID.  The
        state will frequently change as the agent performs its duties.
      operationId: GetAgentStateAgentStatus
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentState'
            text/json:
              schema:
                $ref: '#/components/schemas/AgentState'
  /api/v1/Computers/{computerid}/ConnectionState:
    get:
      tags:
      - AgentStatus
      summary: Gets the connection status for a single computer
      operationId: GetConnectionStateAgentStatus
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionStatusInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionStatusInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConnectionStatusInfo'
            text/xml:
              schema:
                $ref: '#/components/schemas/ConnectionStatusInfo'
  /api/v1/AlertInstances/{id}:
    get:
      tags:
      - AlertInstances
      summary: Gets a single alert instance, given an alert instance ID
      operationId: GetAlertInstances
      parameters:
      - name: id
        description: Alert instance ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertInstance'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertInstance'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertInstance'
            text/xml:
              schema:
                $ref: '#/components/schemas/AlertInstance'
    delete:
      tags:
      - AlertInstances
      summary: Deletes an existing alert instance
      operationId: DeleteAlertInstances
      parameters:
      - name: id
        description: Alert instance ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/AlertInstances:
    get:
      tags:
      - AlertInstances
      summary: Gets all alert instances that fall into a given page range.
      operationId: GetAllAlertInstances
      parameters:
      - name: page.number
        description: Page Number
        in: query
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      - name: page.size
        description: Page Size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertInstance'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertInstance'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertInstance'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertInstance'
    patch:
      tags:
      - AlertInstances
      summary: Updates only the status for a given alert instance
      operationId: PatchAlertInstances
      requestBody:
        description: AlertInstance data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertInstance'
          text/json:
            schema:
              $ref: '#/components/schemas/AlertInstance'
          application/xml:
            schema:
              $ref: '#/components/schemas/AlertInstance'
          text/xml:
            schema:
              $ref: '#/components/schemas/AlertInstance'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AlertInstance'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertInstance'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertInstance'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertInstance'
            text/xml:
              schema:
                $ref: '#/components/schemas/AlertInstance'
      x-codegen-request-body-name: alertInstance
  /api/v1/AlertSubscriptions:
    get:
      tags:
      - AlertSubscriptions
      summary: Gets all alert subscriptions in the organization
      operationId: GetAllAlertSubscriptions
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertSubscription'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertSubscription'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertSubscription'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertSubscription'
    post:
      tags:
      - AlertSubscriptions
      summary: Adds a new alert subscription
      operationId: PostAlertSubscriptions
      requestBody:
        description: AlertSubscription data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertSubscription'
          text/json:
            schema:
              $ref: '#/components/schemas/AlertSubscription'
          application/xml:
            schema:
              $ref: '#/components/schemas/AlertSubscription'
          text/xml:
            schema:
              $ref: '#/components/schemas/AlertSubscription'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AlertSubscription'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
            text/xml:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
      x-codegen-request-body-name: alertSubscription
  /api/v1/AlertSubscriptions/{id}:
    get:
      tags:
      - AlertSubscriptions
      summary: Gets a alert subscription by ID
      operationId: GetAlertSubscriptions
      parameters:
      - name: id
        description: Alert subscription ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
            text/xml:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
    put:
      tags:
      - AlertSubscriptions
      summary: Updates an existing alert subscription, using a given ID
      operationId: PutAlertSubscriptions
      parameters:
      - name: id
        description: Alert subscription ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: AlertSubscription data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertSubscription'
          text/json:
            schema:
              $ref: '#/components/schemas/AlertSubscription'
          application/xml:
            schema:
              $ref: '#/components/schemas/AlertSubscription'
          text/xml:
            schema:
              $ref: '#/components/schemas/AlertSubscription'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AlertSubscription'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
            text/json:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
            text/xml:
              schema:
                $ref: '#/components/schemas/AlertSubscription'
      x-codegen-request-body-name: alertSubscription
    delete:
      tags:
      - AlertSubscriptions
      summary: Deletes an existing alert subscription, given an ID
      operationId: DeleteAlertSubscriptions
      parameters:
      - name: id
        description: Alert subscription ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/Announcements:
    get:
      tags:
      - Announcements
      summary: Gets all announcements on the management server
      operationId: GetAllAnnouncements
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Announcement'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Announcement'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Announcement'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Announcement'
  /api/v1/Computers/{computerid}/Applications:
    get:
      tags:
      - Applications
      summary: Gets all applications installed on a given computer
      operationId: GetApplications
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
  /api/v1/AuditLog:
    get:
      tags:
      - AuditLog
      summary: Gets all audit log entries between optional start and end times, in
        UTC
      operationId: GetByDateAuditLog
      parameters:
      - name: startDateTime
        in: query
        description: An optional start time
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: An optional end time
        schema:
          type: string
          format: date-time
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogEntry'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogEntry'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogEntry'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogEntry'
  /api/v1/Computers/{computerid}/BackupCloudberryConfig:
    get:
      tags:
      - BackupCloudberry
      summary: Gets the cloudberry backup configuration for a given computer
      operationId: GetConfigBackupCloudberry
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupCloudberryComputerConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/BackupCloudberryComputerConfig'
  /api/v1/Computers/{computerid}/BackupCloudberryPlans:
    get:
      tags:
      - BackupCloudberry
      summary: Gets the cloudberry backup plans for a given computer
      operationId: GetPlansBackupCloudberry
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackupCloudberryComputerPlan'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackupCloudberryComputerPlan'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackupCloudberryComputerPlan'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackupCloudberryComputerPlan'
  /api/v1/Computers/{computerid}/BackupCloudberryPlans/{planid}/History:
    get:
      tags:
      - BackupCloudberry
      summary: Gets the cloudberry backup plan history, for a given computer ID and
        plan ID
      operationId: GetPlanHistoryBackupCloudberry
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: planid
        description: Plan ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackupCloudberryComputerPlanHistory'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackupCloudberryComputerPlanHistory'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackupCloudberryComputerPlanHistory'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackupCloudberryComputerPlanHistory'
  /api/v1/Computers/{computerid}/BenchmarkDataPoints:
    get:
      tags:
      - BenchmarkDataPoints
      summary: Gets all benchmark data points for a given computer.  Each benchmark
        data point will have an associated "benchmark" and "benchmark data set".
      operationId: GetByComputerBenchmarkDataPoints
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkDataPoint'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkDataPoint'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkDataPoint'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkDataPoint'
  /api/v1/BenchmarkDataSets:
    get:
      tags:
      - BenchmarkDataSets
      summary: Each benchmark for a particular computer may contain multiple data
        sets.  This returns all available data sets for the organization, across all
        computers.
      operationId: GetAllBenchmarkDataSets
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkDataSet'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkDataSet'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkDataSet'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkDataSet'
  /api/v1/BenchmarkDataSets/{id}:
    get:
      tags:
      - BenchmarkDataSets
      summary: Gets a particular benchmark data set given a benchmark data set id
      operationId: GetBenchmarkDataSets
      parameters:
      - name: id
        description: Benchmark data set ID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenchmarkDataSet'
            text/json:
              schema:
                $ref: '#/components/schemas/BenchmarkDataSet'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenchmarkDataSet'
            text/xml:
              schema:
                $ref: '#/components/schemas/BenchmarkDataSet'
  /api/v1/Benchmarks:
    get:
      tags:
      - Benchmarks
      summary: Gets all available benchmarks for the organization.  Each benchmark
        is named for the corresponding performance counter, e.g. Name = "\Processor(_Total)\%
        Processor Time"
      operationId: GetAllBenchmarks
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Benchmark'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Benchmark'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Benchmark'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Benchmark'
  /api/v1/Benchmarks/{id}:
    get:
      tags:
      - Benchmarks
      summary: Gets a particular benchmark given a benchmark id
      operationId: GetBenchmarks
      parameters:
      - name: id
        description: Benchmark ID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Benchmark'
            text/json:
              schema:
                $ref: '#/components/schemas/Benchmark'
            application/xml:
              schema:
                $ref: '#/components/schemas/Benchmark'
            text/xml:
              schema:
                $ref: '#/components/schemas/Benchmark'
  /api/v1/BillingLicenseUsage:
    get:
      tags:
      - BillingLicenseUsage
      summary: Gets all billing license usage data for the organization, between optional
        start and end dates (in UTC)
      operationId: GetByDateBillingLicenseUsage
      parameters:
      - name: startDateTime
        description: Start date
        in: query
        schema:
          type: string
          format: date-time
      - name: endDateTime
        description: End date
        in: query
        schema:
          type: string
          format: date-time
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingLicenseUsage'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingLicenseUsage'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingLicenseUsage'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingLicenseUsage'
  /api/v1/BillingSettings:
    get:
      tags:
      - BillingSettings
      summary: Gets the billing settings for the current organization
      operationId: GetBillingSettings
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSettings'
            text/json:
              schema:
                $ref: '#/components/schemas/BillingSettings'
            application/xml:
              schema:
                $ref: '#/components/schemas/BillingSettings'
            text/xml:
              schema:
                $ref: '#/components/schemas/BillingSettings'
    put:
      tags:
      - BillingSettings
      summary: Updates existing billing settings.  If you provide a valid billing
        token (from https://www.bravurasoftware.com/billing), the organization will
        use monthly billing for its license usage
      operationId: PutBillingSettings
      requestBody:
        description: BillingSettings data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSettings'
          text/json:
            schema:
              $ref: '#/components/schemas/BillingSettings'
          application/xml:
            schema:
              $ref: '#/components/schemas/BillingSettings'
          text/xml:
            schema:
              $ref: '#/components/schemas/BillingSettings'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BillingSettings'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSettings'
            text/json:
              schema:
                $ref: '#/components/schemas/BillingSettings'
            application/xml:
              schema:
                $ref: '#/components/schemas/BillingSettings'
            text/xml:
              schema:
                $ref: '#/components/schemas/BillingSettings'
      x-codegen-request-body-name: billingSettings
  /api/v1/BrandDomains:
    get:
      tags:
      - BrandDomains
      summary: Gets all available root domains for branding.  When configuring a brand
        for your organization, you can pick between one or more root domains, e.g.
        "rmmportal.com"
      operationId: GetAllBrandDomains
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BrandDomain'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BrandDomain'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BrandDomain'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BrandDomain'
  /api/v1/Brands:
    get:
      tags:
      - Brands
      summary: Gets all brands in the organization
      operationId: GetAllBrands
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Brand'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Brand'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Brand'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Brand'
    post:
      tags:
      - Brands
      summary: Adds a new brand
      operationId: PostBrands
      requestBody:
        description: Brand data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
          text/json:
            schema:
              $ref: '#/components/schemas/Brand'
          application/xml:
            schema:
              $ref: '#/components/schemas/Brand'
          text/xml:
            schema:
              $ref: '#/components/schemas/Brand'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Brand'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
            text/json:
              schema:
                $ref: '#/components/schemas/Brand'
            application/xml:
              schema:
                $ref: '#/components/schemas/Brand'
            text/xml:
              schema:
                $ref: '#/components/schemas/Brand'
      x-codegen-request-body-name: brand
  /api/v1/Brands/{id}:
    get:
      tags:
      - Brands
      summary: Gets a brand by ID
      operationId: GetBrands
      parameters:
      - name: id
        description: Brand ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
            text/json:
              schema:
                $ref: '#/components/schemas/Brand'
            application/xml:
              schema:
                $ref: '#/components/schemas/Brand'
            text/xml:
              schema:
                $ref: '#/components/schemas/Brand'
    delete:
      tags:
      - Brands
      summary: Deletes an existing brand
      operationId: DeleteBrands
      parameters:
      - name: id
        description: Brand ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/BusinessEntities:
    get:
      tags:
      - BusinessEntities
      summary: Gets all business entities in the organization
      operationId: GetAllBusinessEntities
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessEntity'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessEntity'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessEntity'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessEntity'
    post:
      tags:
      - BusinessEntities
      summary: Adds a new business entity
      operationId: PostBusinessEntities
      requestBody:
        description: BusinessEntity data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
          application/xml:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
          text/xml:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
      x-codegen-request-body-name: businessEntity
  /api/v1/BusinessEntities/{id}:
    get:
      tags:
      - BusinessEntities
      summary: Gets a business entity, based on the provided business entity ID
      operationId: GetBusinessEntities
      parameters:
      - name: id
        description: Business entity ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
    put:
      tags:
      - BusinessEntities
      summary: Updates an existing business entity.  You can also change the parent
        of the business entity by adjusting the ParentID value.
      operationId: PutBusinessEntities
      parameters:
      - name: id
        in: path
        description: The id of the Business Entity
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The Business Entity data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
          text/json:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
          application/xml:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
          text/xml:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
        400:
          description: Bad Request
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      x-codegen-request-body-name: businessEntity
    delete:
      tags:
      - BusinessEntities
      summary: Deletes an existing business entity
      operationId: DeleteBusinessEntities
      parameters:
      - name: id
        description: Business entity ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/Computers/{computerid}/Details:
    get:
      tags:
      - ComputerDetails
      operationId: GetComputerDetails
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ComputerDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ComputerDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ComputerDetails'
  /api/v1/Computers/{computerid}/DisplayName:
    get:
      tags:
      - ComputerDisplayName
      summary: "Returns the user provided display name for a given computer.  The\
        \ display name typically entered in the computer details page,\r\nand is independent\
        \ of the normal computer name, as seen in Windows."
      operationId: GetComputerDisplayName
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
    put:
      tags:
      - ComputerDisplayName
      summary: Adds or Updates the computer's user defined display name
      operationId: PutComputerDisplayName
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: User defined display name
        content:
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/xml:
            schema:
              type: string
          text/xml:
            schema:
              type: string
          application/x-www-form-urlencoded:
            schema:
              type: string
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
      x-codegen-request-body-name: computerDisplayName
    delete:
      tags:
      - ComputerDisplayName
      summary: Deletes the display name for a single computer
      operationId: DeleteComputerDisplayName
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/Computers/{computerid}/Metadata:
    get:
      tags:
      - ComputerMetadata
      summary: Gets computer metadata for a given computer
      operationId: GetComputerMetadata
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
            application/xml:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
            text/xml:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
    put:
      tags:
      - ComputerMetadata
      summary: Adds or updates Metadata for a single computer
      operationId: PutComputerMetadata
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Computer Metadata
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputerMetadata'
          text/json:
            schema:
              $ref: '#/components/schemas/ComputerMetadata'
          application/xml:
            schema:
              $ref: '#/components/schemas/ComputerMetadata'
          text/xml:
            schema:
              $ref: '#/components/schemas/ComputerMetadata'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ComputerMetadata'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
            application/xml:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
            text/xml:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
      x-codegen-request-body-name: computerMetadata
    delete:
      tags:
      - ComputerMetadata
      summary: Deletes the metadata for a single computer
      operationId: DeleteComputerMetadata
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    patch:
      tags:
      - ComputerMetadata
      summary: "Updates individual metadata fields for one computer.  The Patch method\
        \ will update individual fields, whereas the Put \r\nmethod adds or updates\
        \ the entire metadata for one computer."
      operationId: PatchComputerMetadata
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Computer metadata
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputerMetadata'
          text/json:
            schema:
              $ref: '#/components/schemas/ComputerMetadata'
          application/xml:
            schema:
              $ref: '#/components/schemas/ComputerMetadata'
          text/xml:
            schema:
              $ref: '#/components/schemas/ComputerMetadata'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ComputerMetadata'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
            application/xml:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
            text/xml:
              schema:
                $ref: '#/components/schemas/ComputerMetadata'
      x-codegen-request-body-name: computerMetadata
  /api/v1/ComputerMetadata:
    get:
      tags:
      - ComputerMetadata
      summary: Gets all computer metadata values for all computers in the organization.  Note
        that not every computer will have metadata associated with it.
      operationId: GetAllComputerMetadata
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComputerMetadata'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComputerMetadata'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComputerMetadata'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComputerMetadata'
  /api/v1/Computers:
    get:
      tags:
      - Computers
      summary: Gets all computers in the organization
      operationId: GetAllComputers
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Computer'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Computer'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Computer'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Computer'
  /api/v1/Computers/{id}:
    get:
      tags:
      - Computers
      summary: Gets a computer by the computer's id
      operationId: GetComputers
      parameters:
      - name: id
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Computer'
            text/json:
              schema:
                $ref: '#/components/schemas/Computer'
    delete:
      tags:
      - Computers
      summary: "Retires an existing computer, deleting all of its data in OptiTune.\r\
        \nCalling this method will add it to the list of retired computers.  The computer\
        \ will\r\nbe blocked from accessing OptiTune until it is removed from the\
        \ list of retired computers."
      operationId: DeleteComputers
      parameters:
      - name: id
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/Deployments/{deploymentid}/Results:
    get:
      tags:
      - DeploymentResults
      summary: Gets all deployment results for a given deployment ID
      operationId: GetDeploymentResults
      parameters:
      - name: deploymentid
        description: Deployment ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentResult'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentResult'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentResult'
  /api/v1/Groups/{groupid}/Deployments:
    get:
      tags:
      - Deployments
      summary: Gets all deployments to a given group
      operationId: GetForGroupDeployments
      parameters:
      - name: groupid
        description: Group ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
  /api/v1/Deployments:
    get:
      tags:
      - Deployments
      summary: Gets all deployments in the organization
      operationId: GetAllDeployments
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
    post:
      tags:
      - Deployments
      summary: Adds a new deployment
      operationId: PostDeployments
      requestBody:
        description: Deployment data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
          text/json:
            schema:
              $ref: '#/components/schemas/Deployment'
          application/xml:
            schema:
              $ref: '#/components/schemas/Deployment'
          text/xml:
            schema:
              $ref: '#/components/schemas/Deployment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Deployment'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
            text/json:
              schema:
                $ref: '#/components/schemas/Deployment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Deployment'
            text/xml:
              schema:
                $ref: '#/components/schemas/Deployment'
      x-codegen-request-body-name: deployment
  /api/v1/Deployments/{id}:
    get:
      tags:
      - Deployments
      summary: Gets a deployment by ID
      operationId: GetDeployments
      parameters:
      - name: id
        description: Deployment ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
            text/json:
              schema:
                $ref: '#/components/schemas/Deployment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Deployment'
            text/xml:
              schema:
                $ref: '#/components/schemas/Deployment'
    delete:
      tags:
      - Deployments
      summary: Deletes an existing deployment
      operationId: DeleteDeployments
      parameters:
      - name: id
        description: Deployment ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/Computers/{computerid}/EndpointProtection:
    get:
      tags:
      - EndpointProtection
      summary: Gets the endpoint protection information for a given computer, if available
      operationId: GetEndpointProtection
      parameters:
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointProtection'
            text/json:
              schema:
                $ref: '#/components/schemas/EndpointProtection'
  /api/v1/Groups/{groupid}/EndpointProtectionSettings:
    get:
      tags:
      - EndpointProtectionSettings
      summary: Gets the endpoint protection settings for a given group, if available
      operationId: GetEndpointProtectionSettings
      parameters:
      - name: groupid
        description: Group ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointProtectionSettings'
            text/json:
              schema:
                $ref: '#/components/schemas/EndpointProtectionSettings'
            application/xml:
              schema:
                $ref: '#/components/schemas/EndpointProtectionSettings'
            text/xml:
              schema:
                $ref: '#/components/schemas/EndpointProtectionSettings'
    put:
      tags:
      - EndpointProtectionSettings
      summary: Adds or updates endpoint protection settings for a given group
      operationId: PutEndpointProtectionSettings
      parameters:
      - name: groupid
        description: Group ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: EndpointProtectionSettings data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointProtectionSettings'
          text/json:
            schema:
              $ref: '#/components/schemas/EndpointProtectionSettings'
          application/xml:
            schema:
              $ref: '#/components/schemas/EndpointProtectionSettings'
          text/xml:
            schema:
              $ref: '#/components/schemas/EndpointProtectionSettings'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EndpointProtectionSettings'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointProtectionSettings'
            text/json:
              schema:
                $ref: '#/components/schemas/EndpointProtectionSettings'
            application/xml:
              schema:
                $ref: '#/components/schemas/EndpointProtectionSettings'
            text/xml:
              schema:
                $ref: '#/components/schemas/EndpointProtectionSettings'
      x-codegen-request-body-name: endpointProtectionSettings
    delete:
      tags:
      - EndpointProtectionSettings
      summary: Deletes existing endpoint protection settings for a given group
      operationId: DeleteEndpointProtectionSettings
      parameters:
      - name: groupid
        description: Group ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/EndpointProtectionSettings:
    get:
      tags:
      - EndpointProtectionSettings
      summary: Gets all endpoint protection settings for all groups in the organization
      operationId: GetAllEndpointProtectionSettings
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EndpointProtectionSettings'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EndpointProtectionSettings'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EndpointProtectionSettings'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EndpointProtectionSettings'
  /api/v1/EventCategories:
    get:
      tags:
      - EventCategories
      summary: Gets all event categories in the organization
      operationId: GetAllEventCategories
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventCategory'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventCategory'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventCategory'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventCategory'
    post:
      tags:
      - EventCategories
      summary: Adds a new event category
      operationId: PostEventCategories
      requestBody:
        description: EventCategory data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCategory'
          text/json:
            schema:
              $ref: '#/components/schemas/EventCategory'
          application/xml:
            schema:
              $ref: '#/components/schemas/EventCategory'
          text/xml:
            schema:
              $ref: '#/components/schemas/EventCategory'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EventCategory'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCategory'
            text/json:
              schema:
                $ref: '#/components/schemas/EventCategory'
            application/xml:
              schema:
                $ref: '#/components/schemas/EventCategory'
            text/xml:
              schema:
                $ref: '#/components/schemas/EventCategory'
      x-codegen-request-body-name: eventCategory
  /api/v1/EventCategories/{id}:
    get:
      tags:
      - EventCategories
      summary: Gets an event category by ID
      operationId: GetEventCategories
      parameters:
      - name: id
        description: Event category ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCategory'
            text/json:
              schema:
                $ref: '#/components/schemas/EventCategory'
            application/xml:
              schema:
                $ref: '#/components/schemas/EventCategory'
            text/xml:
              schema:
                $ref: '#/components/schemas/EventCategory'
    delete:
      tags:
      - EventCategories
      summary: Deletes an existing event category
      operationId: DeleteEventCategories
      parameters:
      - name: id
        description: Event category ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/EventCategories/{eventCategoryid}/Memberships:
    get:
      tags:
      - EventCategoryMemberships
      summary: Gets the event category members for a given event category, if available
      operationId: GetEventCategoryMemberships
      parameters:
      - name: eventCategoryid
        description: Event category ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventCategoryMembership'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventCategoryMembership'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventCategoryMembership'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventCategoryMembership'
  /api/v1/EventCategories/{eventCategoryid}/Memberships/{eventSourceid}:
    post:
      tags:
      - EventCategoryMemberships
      summary: Adds event source to an event category, if it doesn't already exist
      operationId: PostEventCategoryMemberships
      parameters:
      - name: eventCategoryid
        description: Event category ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: eventSourceid
        description: Event source ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    delete:
      tags:
      - EventCategoryMemberships
      summary: Deletes a event category membership for a given event category and
        event source
      operationId: DeleteEventCategoryMemberships
      parameters:
      - name: eventCategoryid
        description: Event category ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: eventSourceid
        description: Event source ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/EventDescriptors:
    get:
      tags:
      - EventDescriptors
      summary: "Gets all event descriptors that are available on the management server.\
        \  \r\nTo create a new event source, you will need an event descriptor with\
        \ valid parameters filled in."
      operationId: GetAllEventDescriptors
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventDescriptor'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventDescriptor'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventDescriptor'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventDescriptor'
  /api/v1/EventSources:
    get:
      tags:
      - EventSources
      summary: Gets all event sources in the organization
      operationId: GetAllEventSources
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSource'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSource'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSource'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSource'
    post:
      tags:
      - EventSources
      summary: Adds a new event source.  Use the EventDescriptors resource to get
        the valid event descriptors on the management server, and pick one to use
        for the new event source.
      operationId: PostEventSources
      requestBody:
        description: EventSource data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSource'
          text/json:
            schema:
              $ref: '#/components/schemas/EventSource'
          application/xml:
            schema:
              $ref: '#/components/schemas/EventSource'
          text/xml:
            schema:
              $ref: '#/components/schemas/EventSource'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EventSource'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSource'
            text/json:
              schema:
                $ref: '#/components/schemas/EventSource'
            application/xml:
              schema:
                $ref: '#/components/schemas/EventSource'
            text/xml:
              schema:
                $ref: '#/components/schemas/EventSource'
      x-codegen-request-body-name: eventSource
  /api/v1/EventSources/{id}:
    get:
      tags:
      - EventSources
      summary: Gets an event source by ID
      operationId: GetEventSources
      parameters:
      - name: id
        description: Event source ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSource'
            text/json:
              schema:
                $ref: '#/components/schemas/EventSource'
            application/xml:
              schema:
                $ref: '#/components/schemas/EventSource'
            text/xml:
              schema:
                $ref: '#/components/schemas/EventSource'
    delete:
      tags:
      - EventSources
      summary: Deletes an existing event source
      operationId: DeleteEventSources
      parameters:
      - name: id
        description: Event source ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/FavoriteTasks:
    get:
      tags:
      - FavoriteTasks
      summary: Gets all favorite tasks in the organization
      operationId: GetAllFavoriteTasks
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FavoriteTask'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FavoriteTask'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FavoriteTask'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FavoriteTask'
    post:
      tags:
      - FavoriteTasks
      summary: Adds a new favorite task
      operationId: PostFavoriteTasks
      requestBody:
        description: FavoriteTask data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteTask'
          text/json:
            schema:
              $ref: '#/components/schemas/FavoriteTask'
          application/xml:
            schema:
              $ref: '#/components/schemas/FavoriteTask'
          text/xml:
            schema:
              $ref: '#/components/schemas/FavoriteTask'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FavoriteTask'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteTask'
            text/json:
              schema:
                $ref: '#/components/schemas/FavoriteTask'
            application/xml:
              schema:
                $ref: '#/components/schemas/FavoriteTask'
            text/xml:
              schema:
                $ref: '#/components/schemas/FavoriteTask'
      x-codegen-request-body-name: favoriteTask
  /api/v1/FavoriteTasks/{id}:
    get:
      tags:
      - FavoriteTasks
      summary: Gets a favorite task by task ID
      operationId: GetFavoriteTasks
      parameters:
      - name: id
        description: Task ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteTask'
            text/json:
              schema:
                $ref: '#/components/schemas/FavoriteTask'
            application/xml:
              schema:
                $ref: '#/components/schemas/FavoriteTask'
            text/xml:
              schema:
                $ref: '#/components/schemas/FavoriteTask'
    delete:
      tags:
      - FavoriteTasks
      summary: Deletes an existing favorite task, by task ID
      operationId: DeleteFavoriteTasks
      parameters:
      - name: id
        description: Task ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/Files:
    get:
      tags:
      - Files
      summary: Gets all files in the organization
      operationId: GetAllFiles
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
    post:
      tags:
      - Files
      summary: Upload a file using 'multipart/form-data', supplying a storage type
        to use (1 for local storage, 2 for cloud)
      operationId: UploadFiles
      parameters:
      - name: storageType
        in: query
        description: 1 for local storage, 2 for cloud storage
        schema:
          type: integer
          default: 1
      requestBody:
        description: File data
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
            text/json:
              schema:
                $ref: '#/components/schemas/File'
            application/xml:
              schema:
                $ref: '#/components/schemas/File'
            text/xml:
              schema:
                $ref: '#/components/schemas/File'
  /api/v1/Files/{id}:
    get:
      tags:
      - Files
      summary: Gets a single file in the organization, given a file ID
      operationId: GetFiles
      parameters:
      - name: id
        description: File ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
            text/json:
              schema:
                $ref: '#/components/schemas/File'
            application/xml:
              schema:
                $ref: '#/components/schemas/File'
            text/xml:
              schema:
                $ref: '#/components/schemas/File'
    delete:
      tags:
      - Files
      summary: Deletes an existing file
      operationId: DeleteFiles
      parameters:
      - name: id
        description: File ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/Groups/{groupid}/Memberships:
    get:
      tags:
      - GroupMemberships
      summary: Gets the group members for a given group, if available
      operationId: GetGroupMemberships
      parameters:
      - name: groupid
        description: Group ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupMembership'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupMembership'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupMembership'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupMembership'
  /api/v1/Groups/{groupid}/Memberships/{computerid}:
    post:
      tags:
      - GroupMemberships
      summary: Adds computer to a group, using the static membership type
      operationId: PostGroupMemberships
      parameters:
      - name: groupid
        description: Group ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
    delete:
      tags:
      - GroupMemberships
      summary: "Deletes a group membership for a given computer and group.  Note that\
        \ this will only\r\nwork if the group membership type for the computer is\
        \ 'Static'."
      operationId: DeleteGroupMemberships
      parameters:
      - name: groupid
        description: Group ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: computerid
        description: Computer ID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /api/v1/Groups:
    get:
      tags:
      - Groups
      summary: Gets all groups in the organization
      operationId: GetAllGroups
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptiTuneGroup'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptiTuneGroup'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptiTuneGroup'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptiTuneGroup'
    post:
      tags:
      - Groups
      summary: Adds a new group
      operationId: PostGroups
      requestBody:
        description: OptiTuneGroup data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptiTuneGroup'
          text/json:
            schema:
              $ref: '#/components/schemas/OptiTuneGroup'
          application/xml:
            schema:
              $ref: '#/components/schemas/OptiTuneGroup'
          text/xml:
            schema:
              $ref: '#/components/schemas/OptiTuneGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OptiTuneGroup'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptiTuneGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/OptiTuneGroup'
            application/xml:
              schema:
                $ref: '#/components/schemas/OptiTuneGroup'
[...]
