openapi: 3.0.1
info:
  x-ballerina-display:
    label: HubSpot CRM Import
    iconPath: "icon.png"
  title: CRM Imports
  version: v3
  description: This is a generated connector from [HubSpot](https://www.hubspot.com/) OpenAPI specification.

    This API provides access to collections of CRM objects, which return a map of property names to values. Each object type has its own set of default properties, which can be found by exploring the [CRM Object Properties API](https://developers.hubspot.com/docs/methods/crm-properties/crm-properties-overview).
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials.
  
    Create a [HubSpot account](https://www.hubspot.com/) and obtain OAuth tokens following [this guide](https://developers.hubspot.com/docs/api/working-with-oauth4).
servers:
  - url: 'https://api.hubapi.com'
tags:
  - name: Core
  - name: Public_Imports
paths:
  /crm/v3/imports/:
    get:
      tags:
        - Core
      summary: Get active imports
      description: Returns a paged list of active imports for this account.
      operationId: getPage
      parameters:
        - name: after
          in: query
          description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: before
          in: query
          description: The paging cursor token from second page onwards will be returned as the `paging.next.before` JSON property of a paged response containing more results.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to display per page.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicImportCollectionResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
        - hapikey: []
        - oauth2:
            - crm.objects.contacts.read
            - crm.schemas.contacts.read
            - contacts
    post:
      tags:
        - Core
      summary: Start a new import
      description: Begins importing data from the specified file resources. This uploads the corresponding file and uses the import request object to convert rows in the files to objects.
      operationId: create
      requestBody:
        description: Data import resourses
        content:
          multipart/form-data:
            schema:
              properties:
                files:
                  type: string
                  description: A list of files containing the data to import
                  format: binary
                importRequest:
                  type: string
                  description: JSON formatted metadata about the import. This includes a name for the import and the column mappings for each file. See the overview tab for more on the required format.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicImportResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
        - hapikey: []
        - oauth2:
            - crm.import
  '/crm/v3/imports/{importId}':
    get:
      tags:
        - Core
      summary: Get the information on any import
      description: 'A complete summary of an import record, including any updates.'
      operationId: 'getById'
      parameters:
        - name: importId
          in: path
          description: Import ID
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicImportResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
        - hapikey: []
        - oauth2:
            - crm.objects.contacts.read
            - crm.schemas.contacts.read
            - contacts
  '/crm/v3/imports/{importId}/cancel':
    post:
      tags:
        - Core
      summary: Cancel an active import
      description: This allows a developer to cancel an active import.
      operationId: 'cancel'
      parameters:
        - name: importId
          in: path
          description: Import ID
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
        - hapikey: []
        - oauth2:
            - crm.import
  '/crm/v3/imports/{importId}/errors':
    get:
      tags:
        - Public_Imports
      operationId: 'errors'
      parameters:
        - name: after
          in: query
          description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to display per page.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: importId
          in: path
          description: Import ID
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicImportErrorCollection'
        default:
          $ref: '#/components/responses/Error'
      security:
        - hapikey: []
        - oauth2:
            - crm.objects.contacts.read
            - crm.schemas.contacts.read
            - contacts
components:
  schemas:
    ActionResponse:
      required:
        - completedAt
        - startedAt
        - status
      type: object
      properties:
        status:
          type: string
          # enum:
          #   - PENDING
          #   - PROCESSING
          #   - CANCELED
          #   - COMPLETE
        requestedAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        links:
          type: object
          additionalProperties:
            type: string
    PublicImportErrorCollection:
      required:
        - results
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicImportError'
        paging:
          $ref: '#/components/schemas/ForwardPaging'
    PublicImportCollectionResponse:
      required:
        - results
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicImportResponse'
        paging:
          $ref: '#/components/schemas/Paging'
    Error:
      required:
        - category
        - correlationId
        - message
      type: object
      properties:
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category:
          type: string
          description: The error category
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            invalidPropertyName:
              - propertyValue
            missingScopes:
              - scope1
              - scope2
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: 'https://www.hubspot.com/products/service/knowledge-base'
    ErrorDetail:
      required:
        - message
      type: object
      properties:
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        code:
          type: string
          description: The status code associated with the error detail
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            missingScopes:
              - scope1
              - scope2
    ForwardPaging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
    ImportRowCore:
      required:
        - fileId
        - lineNumber
      type: object
      properties:
        fileId:
          type: integer
          format: int32
        pageName:
          type: string
        lineNumber:
          type: integer
          format: int32
    NextPage:
      required:
        - after
      type: object
      properties:
        after:
          type: string
        link:
          type: string
    Paging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
        prev:
          $ref: '#/components/schemas/PreviousPage'
    PreviousPage:
      required:
        - before
      type: object
      properties:
        before:
          type: string
        link:
          type: string
    PublicImportError:
      required:
        - createdAt
        - errorType
        - id
        - knownColumnNumber
        - sourceData
      type: object
      properties:
        errorType:
          type: string
          # enum:
          #   - INCORRECT_NUMBER_OF_COLUMNS
          #   - INVALID_OBJECT_ID
          #   - INVALID_ASSOCIATION_IDENTIFIER
          #   - NO_OBJECT_ID_FROM_ASSOCIATION_IDENTIFIER
          #   - MULTIPLE_COMPANIES_WITH_THIS_DOMAIN
          #   - PROPERTY_DEFINITION_NOT_FOUND
          #   - PROPERTY_VALUE_NOT_FOUND
          #   - COULD_NOT_FIND_OWNER
          #   - MULTIPLE_OWNERS_FOUND
          #   - COULD_NOT_PARSE_NUMBER
          #   - COULD_NOT_PARSE_DATE
          #   - COULD_NOT_PARSE_TERM
          #   - OUTSIDE_VALID_TIME_RANGE
          #   - OUTSIDE_VALID_TERM_RANGE
          #   - COULD_NOT_PARSE_ROW
          #   - INVALID_ENUMERATION_OPTION
          #   - AMBIGUOUS_ENUMERATION_OPTION
          #   - FAILED_VALIDATION
          #   - FAILED_TO_CREATE_ASSOCIATION
          #   - FILE_NOT_FOUND
          #   - INVALID_COLUMN_CONFIGURATION
          #   - INVALID_FILE_TYPE
          #   - INVALID_SPREADSHEET
          #   - INVALID_SHEET_COUNT
          #   - FAILED_TO_PROCESS_OBJECT_WITH_EMPTY_PROPERTY_VALUES
          #   - UNKNOWN_BAD_REQUEST
          #   - GDPR_BLACKLISTED_EMAIL
          #   - DUPLICATE_ASSOCIATION_ID
          #   - LIMIT_EXCEEDED
          #   - INVALID_ALTERNATE_ID
          #   - INVALID_EMAIL
          #   - INVALID_DOMAIN
          #   - DUPLICATE_ROW_CONTENT
          #   - INVALID_NUMBER_SIZE
          #   - UNKNOWN_ERROR
          #   - FAILED_TO_OPT_OUT_CONTACT
          #   - INVALID_REQUIRED_PROPERTY
          #   - DUPLICATE_ALTERNATE_ID
          #   - DUPLICATE_OBJECT_ID
          #   - DUPLICATE_UNIQUE_PROPERTY_VALUE
        objectType:
          type: string
          # enum:
          #   - CONTACT
          #   - COMPANY
          #   - DEAL
          #   - ENGAGEMENT
          #   - TICKET
          #   - OWNER
          #   - PRODUCT
          #   - LINE_ITEM
          #   - BET_DELIVERABLE_SERVICE
          #   - CONTENT
          #   - CONVERSATION
          #   - BET_ALERT
          #   - PORTAL
          #   - QUOTE
          #   - FORM_SUBMISSION_INBOUNDDB
          #   - QUOTA
          #   - UNSUBSCRIBE
          #   - COMMUNICATION
          #   - FEEDBACK_SUBMISSION
          #   - ATTRIBUTION
          #   - SALESFORCE_SYNC_ERROR
          #   - RESTORABLE_CRM_OBJECT
          #   - HUB
          #   - LANDING_PAGE
          #   - PRODUCT_OR_FOLDER
          #   - TASK
          #   - FORM
          #   - MARKETING_EMAIL
          #   - AD_ACCOUNT
          #   - AD_CAMPAIGN
          #   - AD_GROUP
          #   - AD
          #   - KEYWORD
          #   - CAMPAIGN
          #   - SOCIAL_CHANNEL
          #   - SOCIAL_POST
          #   - SITE_PAGE
          #   - BLOG_POST
          #   - IMPORT
          #   - EXPORT
          #   - CTA
          #   - TASK_TEMPLATE
          #   - AUTOMATION_PLATFORM_FLOW
          #   - OBJECT_LIST
          #   - NOTE
          #   - MEETING_EVENT
          #   - CALL
          #   - EMAIL
          #   - PUBLISHING_TASK
          #   - CONVERSATION_SESSION
          #   - CONTACT_CREATE_ATTRIBUTION
          #   - INVOICE
          #   - MARKETING_EVENT
          #   - CONVERSATION_INBOX
          #   - CHATFLOW
          #   - MEDIA_BRIDGE
          #   - SEQUENCE
          #   - SEQUENCE_STEP
          #   - FORECAST
          #   - SNIPPET
          #   - TEMPLATE
          #   - DEAL_CREATE_ATTRIBUTION
          #   - QUOTE_TEMPLATE
          #   - QUOTE_MODULE
          #   - QUOTE_MODULE_FIELD
          #   - QUOTE_FIELD
          #   - SEQUENCE_ENROLLMENT
          #   - SUBSCRIPTION
          #   - ACCEPTANCE_TEST
          #   - SOCIAL_BROADCAST
          #   - DEAL_SPLIT
          #   - DEAL_REGISTRATION
          #   - GOAL_TARGET
          #   - GOAL_TARGET_GROUP
          #   - PORTAL_OBJECT_SYNC_MESSAGE
          #   - FILE_MANAGER_FILE
          #   - FILE_MANAGER_FOLDER
          #   - SEQUENCE_STEP_ENROLLMENT
          #   - APPROVAL
          #   - APPROVAL_STEP
          #   - CTA_VARIANT
          #   - UNKNOWN
        invalidValue:
          type: string
        extraContext:
          type: string
        objectTypeId:
          type: string
        knownColumnNumber:
          type: integer
          format: int32
        sourceData:
          $ref: '#/components/schemas/ImportRowCore'
        createdAt:
          type: integer
          format: int32
        id:
          type: string
    PublicImportMetadata:
      required:
        - counters
        - fileIds
        - objectLists
      type: object
      properties:
        objectLists:
          type: array
          description: The lists containing the imported objects.
          items:
            $ref: '#/components/schemas/PublicObjectListRecord'
        counters:
          type: object
          additionalProperties:
            type: integer
            format: int32
          description: Summarized outcomes of each row a developer attempted to import into HubSpot.
        fileIds:
          type: array
          description: The IDs of files uploaded in the File Manager API.
          items:
            type: string
      description: An object detailing a summary of the import record outputs
      example:
        counters:
          PROPERTY_VALUES_EMITTED: 2
          TOTAL_ROWS: 2
          UPDATED_OBJECTS: 1
          UNIQUE_OBJECTS_WRITTEN: 2
          CREATED_OBJECTS: 1
        fileIds:
          - '3579849'
        objectLists:
          - objectType: contacts
            listId: '3'
    PublicImportResponse:
      required:
        - createdAt
        - id
        - metadata
        - optOutImport
        - state
        - updatedAt
      type: object
      properties:
        state:
          type: string
          description: The status of the import.
          # enum:
          #   - STARTED
          #   - PROCESSING
          #   - DONE
          #   - FAILED
          #   - CANCELED
          #   - DEFERRED
        importRequestJson:
          type: object
          description: Import request in JSON
          properties: {}
        createdAt:
          type: string
          description: Created date/time
          format: date-time
        metadata:
          description: Metadata
          $ref: '#/components/schemas/PublicImportMetadata'
        importName:
          type: string
          description: Import name
        updatedAt:
          type: string
          description: Updated date/time
          format: date-time
        optOutImport:
          type: boolean
          description: Whether or not the import is a list of people disqualified from receiving emails.
        id:
          type: string
          description: ID of the import
      description: 'A current summary of the import, whether complete or not.'
      example:
        createdAt: '2020-01-14T22:45:00.153Z'
        metadata:
          counters:
            PROPERTY_VALUES_EMITTED: 1000
            TOTAL_ROWS: 1000
            UNIQUE_OBJECTS_WRITTEN: 1000
            CREATED_OBJECTS: 1000
          fileIds:
            - '32938649'
          objectLists:
            - objectType: contacts
              listId: '3'
        id: '1471'
        state: DONE
        optOutImport: false
        updatedAt: '2020-01-14T22:45:00.153Z'
    PublicObjectListRecord:
      required:
        - listId
        - objectType
      type: object
      properties:
        listId:
          type: string
          description: The ID of the list containing the imported objects.
        objectType:
          type: string
          description: The type of object contained in the list.
      description: A summary detailing which list contains the imported objects.
      example:
        listId: '3'
        objectType: contacts
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    # hapikey:
    #   type: apiKey
    #   name: hapikey
    #   in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://app.hubspot.com/oauth/authorize'
          tokenUrl: 'https://api.hubapi.com/oauth/v1/token'
          scopes:
            crm.objects.contacts.read: ' '
            contacts: Read from and write to my Contacts
            crm.schemas.contacts.read: ' '
            crm.import: Create or modify all your CRM data through bulk imports
x-hubspot-available-client-libraries:
  - PHP
  - Node
  - Python
  - Ruby
