openapi: 3.0.0
servers:
  - url: https://api.interzoid.com
info:
  x-ballerina-display:
      label: Interzoid Global Phone Number Info
      iconPath: "resources/interzoid.globalnumberinfo.svg"
  version: "1.0.0"
  title: Interzoid Get Global Phone Number Information API
  description: >
    This is a generated connector for [Interzoid Global Phone Number Information API v1.0.0](https://interzoid.com/services/getglobalnumberinfo) OpenAPI specification.

    This API provides geographic information for a global telephone number, including city and country information, primary languages spoken, and mobile device identification.
  
    For additional help getting started with the API, 
    visit [Interzoid Global Phone Number Information API](https://interzoid.com/services/getglobalnumberinfo)
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials.
    
    Create an [Interzoid Account](https://www.interzoid.com/register) 
    and obtain tokens by log into [Interzoid Account](https://www.interzoid.com/account).
  contact:
    name: API Support
    email: support@interzoid.com
    url: https://www.interzoid.com
  termsOfService: https://www.interzoid.com/terms
  license:
    name: Interzoid license
    url: 'https://www.interzoid.com/license'
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getglobalnumberinfo
components:
  schemas:
    GlobalNumberInfo: 
      properties:
        Country:
          type: string
        Region:
          type: string
        PrimaryCity:
          type: string
        PrimaryLanguage:
          type: string
        Language2:
          type: string
        Language3:
          type: string
        Mobile:
          type: string
        Wealth:
          type: string
        Code:
          type: string
        Credits:
          type: string
  securitySchemes:
    ApiKeyAuth:
      description: All requests on this API needs to include an API key. The API key can be provided as part of the query string or as a request header. The name of the API key needs to be `license`.
      type: apiKey
      in: query
      name: license
      x-ballerina-apikey-description: "Provide your private license key as `license`. Eg: `{\"license\" : \"<private license key>\"}`"
paths:
  /getglobalnumberinfo:
    get:
      tags:
        - Global Phone Number Information
      summary: Get demographic information for a global telephone number
      operationId: getglobalnumberinfo
      description: |
        Get demographic information for a global telephone number, including city and country information, primary languages spoken, and mobile device identification.
      parameters:
        - in: query
          name: intlnumber
          description: International number (with country code) to retrieve information for
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Global telephone demographic information
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/GlobalNumberInfo'
        '400':
          description: bad request - insufficient parameters
        '402':
          description: credits exhausted
        '403':
          description: invalid license API key
        '404':
          description: telephone number not found
        '405':
          description: method not allowed
        '500':
          description: internal server error