openapi: 3.0.1
info:
  title: Thinkific Admin API
  description:
    Thinkific's public API can be used to integrate your application with
    your Thinkific site.
  termsOfService: https://www.thinkific.com/legal/
  contact:
    email: developers@thinkific.com
  version: v1
  x-ballerina-display:
    label: Thinkific
    iconPath: "icon.png"
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials.

    For private apps login to your Thinkific account and obtain API Key and Subdomain using the guide [here](https://developers.thinkific.com/api/api-key-auth/)

    For public apps create a Thinkific Partner Account and register an App to access the credentials. Follow the guide [here](https://developers.thinkific.com/api/authorization/) for more details. 
externalDocs:
  description: Find out more about Thinkifc's API
  url: http://developers.thinkific.com/api/api-documentation/
servers:
  - url: https://api.thinkific.com/api/public/v1
security:
  - OAuthAccessToken: []
  - ApiKey: []
    ApiKeySubdomain: []
tags:
  - name: Bundles
    description: Bundle operations
  - name: Categories
    description: Categories operations
  - name: Category Memberships
    description: Category Memberships operations
  - name: Chapters
    description: Chapters operations
  - name: Contents
    description: Contents operations
  - name: Coupons
    description: Coupons operations
  - name: Courses
    description: Courses operations
  - name: Course Reviews
    description: Course Reviews operations
  - name: Custom Profile Field Definitions
    description: Custom Profile Field Definitions
  - name: Enrollments
    description: Enrollments operations
  - name: External Orders
    description: Please note that any External Orders created through the API do not appear on the orders report or dashboard in your Thinkific site. Using the External Orders endpoints will simply store the information in our database.
  - name: Groups
    description: Groups operations
  - name: Group Analysts
    description: Group Analyst operations
  - name: Group Users
    description: Group Users operations
  - name: Instructors
    description: Instructors operations
  - name: Orders
    description: Orders operations
  - name: Product Publish Request
    description: Product Publish Request operations
  - name: Products
    description: Products operations
  - name: Promotions
    description: Promotions operations
  - name: Site Scripts
    description: Site Scripts operations [Scope Required](https://developers.thinkific.com/building-apps/site-scripts/#oauth-scope)
  - name: Users
    description: Users operations
paths:
  /bundles/{id}:
    get:
      tags:
        - Bundles
      summary: List a bundle
      description: Retrieves the Bundle identified by the provided id
      operationId: getBundleByID
      parameters:
        - name: id
          in: path
          description: ID of the Bundle in the form of an integer
          required: true
          schema:
            type: number
      responses:
        200:
          description: Bundle Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /bundles/{id}/courses:
    get:
      tags:
        - Bundles
      summary: List Courses by bundle ID
      operationId: listCoursesByBundleId
      description:
        Retrieves the Courses within the Bundle identified by the provided
        id
      parameters:
        - name: id
          in: path
          description: ID of the Bundle in the form of an integer
          required: true
          schema:
            type: number
        - name: page
          in: query
          description: The page within the collection to fetch
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Courses Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCoursesResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /bundles/{id}/enrollments:
    get:
      tags:
        - Bundles
      summary: List a enrollments in a bundle
      description: Retrieves all the enrollments in the bundle identified by the provided id
      operationId: getBundleEnrollments
      parameters:
        - name: id
          in: path
          description: ID of the Bundle in the form of an integer
          required: true
          schema:
            type: number
        - name: page
          in: query
          description: The page within the collection to fetch
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
        - name: query[user_id]
          in: query
          description: Search Bundle Enrollments by User ID.
          schema:
            type: number
          example: 123
        - name: query[email]
          in: query
          description: Search Bundle Enrollments by User email
          schema:
            type: string
          example: user@example.com
        - name: query[completed]
          in: query
          description: Filter for only completed Bundle Enrollments when set to true.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[expired]
          in: query
          description: Filter for only expired Bundle Enrollments when set to true.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[created_after]
          in: query
          description: Filter for only Enrollments created after the date specified.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[created_before]
          in: query
          description: Filter for only Enrollments created before the date specified.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[created_on]
          in: query
          description: Filter for only Enrollments created on the date specified.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[created_on_or_after]
          in: query
          description: Filter for only Enrollments created on or after the date specified.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[created_on_or_before]
          in: query
          description: Filter for only Enrollments created on or before the date specified.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[updated_after]
          in: query
          description: Filter for only Enrollments updated after the date specified.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[updated_before]
          in: query
          description: Filter for only Enrollments updated before the date specified.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[updated_on]
          in: query
          description: Filter for only Enrollments updated on the date specified.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[updated_on_or_after]
          in: query
          description: Filter for only Enrollments created on or after the date specified.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'
        - name: query[updated_on_or_before]
          in: query
          description: Filter for only Enrollments updated on or before the date specified.
          schema:
            type: string
            format: date-time
          example: '2021-04-27'

      responses:
        200:
          description: Bundle Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEnrollmentsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
    post:
      tags:
        - Bundles
      summary: Create an Enrollment in a Bundle of Courses
      description: This endpoint enrolls a User in a Bundle and each of the Courses contained within the Bundle
      operationId: createEnrollmentInBundle
      parameters:
        - name: id
          description: ID of the bundle in a form of integer
          in: path
          required: true
          schema:
            type: number
      requestBody:
        description: New enrollment attributes
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: number
                activated_at:
                  type: string
                  description: The date/time at which the Enrollment is to be activated. If not provided, the Enrollment will only provide access to free preview content within the Courses. Provide full access to courses by setting this value to the current date/time.
                  format: date-time
                expiry_date:
                  type: string
                  description: The date/time at which the Enrollment should be expired. If not provided, the Enrollment does not expire.
                  format: date-time
              required: [user_id]
            example:
              user_id: 1
              activated_at: '2015-08-26T03:33:33.723Z'
              expiry_date: '2016-08-26T03:33:33.723Z'
      responses:
        201:
          description: Enrollments created synchronously
        202:
          description: Enrollments created asynchronously
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  user_id:
                    - can't be blank
    put:
      tags:
        - Bundles
      summary: Update Enrollments in a Bundle
      description: This endpoint updates a Userâ€™s Enrollment in a Bundle and each of the Courses contained within the Bundle.
      operationId: updateEnrollmentsInBundle
      parameters:
        - name: id
          description: ID of the bundle in a form of integer
          in: path
          required: true
          schema:
            type: number
      requestBody:
        description: New enrollment attributes
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: number
                activated_at:
                  type: string
                  description: The date/time at which the Enrollment is to be activated. If not provided, the Enrollment will only provide access to free preview content within the Courses. Provide full access to courses by setting this value to the current date/time.
                  format: date-time
                expiry_date:
                  type: string
                  description: The date/time at which the Enrollment should be expired. If not provided, the Enrollment does not expire.
                  format: date-time
              required: [user_id]
            example:
              user_id: 1
              activated_at: '2015-08-26T03:33:33.723Z'
              expiry_date: '2016-08-26T03:33:33.723Z'
      responses:
        204:
          description: Enrollments Updated
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  user_id:
                    - can't be blank
  /chapters/{id}:
    get:
      tags:
        - Chapters
      summary: Get Chapters
      description: Returns a chapter
      operationId: getChapterByID
      parameters:
        - name: id
          in: path
          description: ID of the Chapter in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Chapters response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /chapters/{id}/contents:
    get:
      tags:
        - Chapters
      summary: Get Contents by Chapter id
      description:
        Retrieves the Contents within the Chapter identified by the provided
        id
      operationId: getContentsByID
      parameters:
        - name: id
          in: path
          description: ID of the Chapter in the form of an integer
          required: true
          schema:
            type: number
        - name: page
          in: query
          description: The page within the collection to fetch.
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned.
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Chapters response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContentsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /collections:
    get:
      tags:
        - Categories
      summary: Get Collections
      description:
        'Retrieves a list of Collections **NOTE: This endpoint will be
        renamed to /categories in future API versions.**'
      operationId: getCollections
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Collections response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollectionsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
    post:
      tags:
        - Categories
      summary: Create a new Category
      description: Creates a new Category
      operationId: crateCollection
      requestBody:
        description: New collections attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionRequest'
        required: false
      responses:
        201:
          description: Collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: ' Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
            UnprocessableEntity:
              example:
                errors:
                  name:
                    - can't be blank
      x-codegen-request-body-name: body
  /collections/{id}:
    get:
      tags:
        - Categories
      summary: Get Collections by Id
      description: Retrieves a Collection
      operationId: GetCollectionbyID
      parameters:
        - name: id
          in: path
          description: ID of the Category in the form of an integer
          required: true
          schema:
            type: number
      responses:
        200:
          description: Collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
    put:
      tags:
        - Categories
      summary: Update collection by ID
      description: Updates the Category identified by the provided id
      operationId: updateCollectioByID
      parameters:
        - name: id
          in: path
          description: ID of the Category in the form of an integer
          required: true
          schema:
            type: number
      requestBody:
        description: Collections attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionRequest'
        required: false
      responses:
        204:
          description: Collection Updated
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  name:
                    - value too long for type character
      x-codegen-request-body-name: body
    delete:
      tags:
        - Categories
      summary: Delete collection by ID
      description: Deletes the Category identified by the provided id
      operationId: deleteCollectionByID
      parameters:
        - name: id
          in: path
          description: ID of the Category in the form of an integer
          required: true
          schema:
            type: number
      responses:
        204:
          description: Collection deleted
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /collections/{id}/products:
    get:
      tags:
        - Categories
      summary: Get products by Collections id
      description:
        Retrieves Products within the Category identified by the provided
        id
      operationId: getProductsbyID
      parameters:
        - name: id
          in: path
          description: ID of the Chapter in the form of an integer
          required: true
          schema:
            type: number
        - name: page
          in: query
          description: The page within the collection to fetch
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Products response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  # /collection_memberships/{id}:
  #   post:
  #     tags:
  #       - Category Memberships
  #     summary: Add Product to Category
  #     description: Create one or more Products to a Category
  #     operationId: addProductsToCategory
  #     parameters:
  #       - name: id
  #         in: path
  #         description: ID of the Category in the form of an integer
  #         required: true
  #         style: simple
  #         explode: false
  #         schema:
  #           type: number
  #     requestBody:
  #       description:
  #         An array of the IDs of the Products that should be added to the
  #         Category as integers.
  #       content:
  #         application/json:
  #           schema:
  #             $ref: '#/components/schemas/MembershipsRequest'
  #       required: true
  #     responses:
  #       201:
  #         description: Products added to category
  #       403:
  #         $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  #       404:
  #         description: Not Found
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/ErrorNotFound'
  #     x-codegen-request-body-name: body
    # delete:
    #   tags:
    #     - Category Memberships
    #   summary: Delete  Products by ID
    #   description: Delete one or more Products from a Category.
    #   operationId: deleteProductsByID
    #   parameters:
    #     - name: id
    #       in: path
    #       description: ID of the Category in the form of an integer
    #       required: true
    #       style: simple
    #       explode: false
    #       schema:
    #         type: number
    #   requestBody:
    #     description:
    #       An array of the IDs of the Products that should be added to the
    #       Category as integers.
    #     content:
    #       application/json:
    #         schema:
    #           $ref: '#/components/schemas/MembershipsRequest'
    #     required: true
    #   responses:
    #     204:
    #       description: Products removed from category
    #     403:
    #       $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
    #     404:
    #       description: Not Found
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/ErrorNotFound'
  /coupons:
    get:
      tags:
        - Coupons
      summary: Get Coupons
      description: Retrieve a list of all Coupons
      operationId: getCoupons
      parameters:
        - name: promotion_id
          in: query
          description:
            The ID of the Promotion for which to get the Coupons in the form
            of an integer.
          required: true
          schema:
            type: number
        - name: page
          in: query
          description: The page within the collection to fetch.
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Coupon Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCouponResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
    post:
      tags:
        - Coupons
      summary: Create a Coupon
      description: Create a Coupon
      operationId: createCoupon
      parameters:
        - name: promotion_id
          in: query
          description: ID of the Promotion to add the Coupon to in the form of an integer.
          required: true
          schema:
            type: number
      requestBody:
        description: New Coupon attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCouponRequest'
        required: true
      responses:
        201:
          description: Create Coupon Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
            UnprocessableEntity:
              example:
                errors:
                  code:
                    - Can't be blank
      x-codegen-request-body-name: body
  /coupons/bulk_create:
    post:
      tags:
        - Coupons
      summary: Bulk Create Coupons
      description: Bulk Create Coupons
      operationId: bulkCreateCoupons
      parameters:
        - name: promotion_id
          in: query
          description: The ID of the Promotion for which to bulk create the Coupons.
          required: true
          schema:
            type: number
      requestBody:
        description: New Coupon attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCreateCouponRequest'
        required: true
      responses:
        201:
          description: Create Coupon Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBulkCouponResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      x-codegen-request-body-name: body
  /coupons/{id}:
    get:
      tags:
        - Coupons
      summary: Get a Coupon by ID
      description: Retrieve a Coupon
      operationId: getCouponByID
      parameters:
        - name: id
          in: path
          description: The ID of the Coupon in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Coupon Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
    put:
      tags:
        - Coupons
      summary: Update a Coupon
      description: Update an existing Coupon
      operationId: updateCoupon
      parameters:
        - name: id
          in: path
          description: The ID of the Coupon in the form of an integer.
          required: true
          schema:
            type: number
      requestBody:
        description: Update an existing coupon
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCoupon'
        required: true
      responses:
        204:
          description: Coupon Updated
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
            UnprocessableEntity:
              example:
                errors:
                  code:
                    - Can't be blank
      x-codegen-request-body-name: body
    delete:
      tags:
        - Coupons
      summary: Delete Coupon by ID
      description: Deletes a coupon identified by the provided id
      operationId: deleteCouponByID
      parameters:
        - name: id
          in: path
          description: The ID of the Coupon in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        204:
          description: Coupon Deleted
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /contents/{id}:
    get:
      tags:
        - Contents
      summary: Get Contents by Id
      description: Retrieves a Content
      operationId: getContentByID
      parameters:
        - name: id
          in: path
          description: ID of the Content in the form of an integer
          required: true
          schema:
            type: number
      responses:
        200:
          description: Content response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /courses:
    get:
      tags:
        - Courses
      summary: Get Courses
      description: Retrieve a list of Courses
      operationId: getCourses
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch.
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Courses Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCoursesResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  /courses/{id}:
    get:
      tags:
        - Courses
      summary: Get courses by ID
      description: Returns the Course identified by the provided id.
      operationId: getCourseByID
      parameters:
        - name: id
          in: path
          description: ID of the Course in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Courses response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /courses/{id}/chapters:
    get:
      tags:
        - Courses
      summary: Get Chapters by Course ID
      description: Returns the Chapter of the course identified by the provided id.
      operationId: getChapterOfCourseByID
      parameters:
        - name: id
          in: path
          description: ID of the Chapter in the form of an integer.
          required: true
          schema:
            type: number
        - name: page
          in: query
          description: The page within the collection to fetch.
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned.
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Chapter of a course response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChaptersResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  /custom_profile_field_definitions:
    get:
      tags:
        - Custom Profile Field Definitions
      summary: Get Custom profile field definition
      description: Retrieve a list of Custom Profile Field Definitions
      operationId: getCustomProfileFields
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch.
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned.
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Custom Profile Field Definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomProfileFieldDefinitions'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  /enrollments:
    get:
      tags:
        - Enrollments
      summary: Get Enrollments
      description: Returns a list of enrollments
      operationId: getEnrollments
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch.
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned.
          schema:
            type: number
            default: 25.0
        - name: query[user_id]
          in: query
          description: Search Enrollments by User ID.
          schema:
            type: number
        - name: query[course_id]
          in: query
          description: Search Enrollments by Course ID.
          schema:
            type: number
        - name: query[email]
          in: query
          description: Search Enrollments by User email.
          schema:
            type: string
        - name: query[free_trial]
          in: query
          description: Filter for only Free Trial Enrollments when set to true.
          schema:
            type: boolean
        - name: query[full]
          in: query
          description: Filter for only full Enrollments when set to true.
          schema:
            type: boolean
        - name: query[completed]
          in: query
          description: Filter for only completed Enrollments when set to true.
          schema:
            type: boolean
        - name: query[expired]
          in: query
          description: Filter for only expired Enrollments when set to true.
          schema:
            type: boolean
        - name: query[created_on]
          in: query
          description: Filter for only Enrollments created on the date specified.
          schema:
            type: string
            format: date-time
        - name: query[created_before]
          in: query
          description: Filter for only Enrollments created before the date specified.
          schema:
            type: string
            format: date-time
        - name: query[created_on_or_before]
          in: query
          description: Filter for only Enrollments created on or before the date specified.
          schema:
            type: string
            format: date-time
        - name: query[created_after]
          in: query
          description: Filter for only Enrollments created after the date specified.
          schema:
            type: string
            format: date-time
        - name: query[created_on_or_after]
          in: query
          description: Filter for only Enrollments created on or after the date specified.
          schema:
            type: string
            format: date-time
        - name: query[updated_on]
          in: query
          description: Filter for only Enrollments updated on the date specified.
          schema:
            type: string
            format: date-time
        - name: query[updated_before]
          in: query
          description: Filter for only Enrollments updated before the date specified.
          schema:
            type: string
            format: date-time
        - name: query[updated_on_or_before]
          in: query
          description: Filter for only Enrollments updated on or before the date specified.
          schema:
            type: string
            format: date-time
        - name: query[updated_after]
          in: query
          description: Filter for only Enrollments updated after the date specified.
          schema:
            type: string
            format: date-time
      responses:
        200:
          description: Enrollments response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEnrollmentsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
    post:
      tags:
        - Enrollments
      summary: Create enrollment
      description: Creates a new Enrollment for specified student in specified course
      operationId: createEnrollment
      requestBody:
        description: New enrollment attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnrollmentRequest'
        required: true
      responses:
        201:
          description: Enrollment response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  - Course could not be found.
                  - User could not be found.
      x-codegen-request-body-name: body
  /enrollments/{id}:
    get:
      tags:
        - Enrollments
      summary: Get enrollments by ID
      description: Returns the Enrollment identified by the provided id.
      operationId: getEnrollmentsByID
      parameters:
        - name: id
          in: path
          description: ID of the Enrollment in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Enrollment response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
    put:
      tags:
        - Enrollments
      summary: Update enrollment
      description: Updates a Enrollment for specified student in specified course
      operationId: updateEnrollment
      parameters:
        - name: id
          in: path
          description: ID of the Enrollment in the form of an integer.
          required: true
          schema:
            type: number
      requestBody:
        description: New enrollment attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnrollmentRequest'
        required: true
      responses:
        204:
          description: Enrollment Updated
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        422:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  - Course could not be found.
                  - User could not be found.
      x-codegen-request-body-name: body
  /external_orders:
    post:
      tags:
        - External Orders
      summary: Create a new external order
      description: Please note that any External Orders created through the API do not appear on the orders report or dashboard in your Thinkific site. Using the External Orders endpoints will simply store the information in our database.
      operationId: createExternalOrder
      requestBody:
        description: External Order request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalOrderRequest'
      responses:
        201:
          description: External Order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 1
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  /external_orders/{id}/transactions/refund:
    post:
      tags:
        - External Orders
      summary: refund transaction
      description: This endpoint will create a new transaction refund for the External Order.
      operationId: createTransactionRefund
      requestBody:
        description: Transaction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalOrderTransaction'
      parameters:
        - in: path
          name: id
          required: true
          description: External Order ID as integer
          schema:
            type: number
      responses:
        200:
          description: Transaction created
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  /external_orders/{id}/transactions/purchase:
    post:
      tags:
        - External Orders
      summary: purchase transaction
      description: This endpoint will create a new transaction purchase for the External Order.
      operationId: createTransactionPurchase
      requestBody:
        description: Transaction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalOrderTransaction'
      parameters:
        - in: path
          name: id
          required: true
          description: External Order ID
          schema:
            type: string
      responses:
        200:
          description: Transaction created
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  /groups:
    get:
      tags:
        - Groups
      summary: Get Groups
      description: Retrieves a list of groups
      operationId: getGroups
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch.
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned.
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Groups response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
    post:
      tags:
        - Groups
      summary: Create Group
      description: Creates a group
      operationId: createGroup
      requestBody:
        description: Group
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequest'
      responses:
        200:
          description: Group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  name:
                    - can't be blank
  /groups/{id}:
    get:
      tags:
        - Groups
      summary: Get Group
      description: Retrieves a specific group
      operationId: getGroup
      parameters:
        - name: id
          in: path
          description: The ID of the Group to fetch.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
              example:
                error:
                  - Record not found.
  /groups/{group_id}/analysts:
    get:
      tags:
        - Groups
      summary: Get Group Analysts
      description: Retrieves a list of group analysts
      operationId: getGroupAnalysts
      parameters:
        - name: group_id
          in: path
          description: ID of the Group in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Groups response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupAnalystsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Unable to process request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  - user_ids: 'Invalid user IDs: 1'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
              example:
                error:
                  - group_id: 'Could not find group with ID 1.'
    post:
      tags:
        - Groups
      summary: Assign Analysts to a Group
      description: Assign Group Analysts to a group. Users need to be assigned the Group Analyst (group_analyst) role.
      operationId: postGroupAnalysts
      parameters:
        - name: group_id
          in: path
          description: ID of the Group in the form of an integer.
          required: true
          schema:
            type: number
      requestBody:
        description: Group Analyst
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupAddAnalystRequest'
      responses:
        201:
          description: Group Analyst response
          content: {}
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Unable to process request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  group_analysts: 'User IDs missing group_analysts role:: 1, 2'
                  user_id: 'Invalid user IDs: 3, 4'
                  group_id: 'Invalid group ID: 1'
  /groups/{group_id}/analysts/{user_id}:
    delete:
      tags:
        - Groups
      summary: Delete Analyst
      description: Remove an analyst from a group
      operationId: removeAnalystFromGroup
      parameters:
        - name: group_id
          in: path
          description: ID of the Group in the form of an integer.
          required: true
          schema:
            type: number
        - name: user_id
          in: path
          description: ID of the User in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        204:
          description: Group Analyst response
          content: {}
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Unable to process request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
              example:
                error:
                  user_id:
                    - 'Could not find user with ID 1.'
                  group_id:
                    - 'Could not find group with ID 1.'
  /group_analysts/{user_id}/groups:
    post:
      tags:
        - Group Analysts
      summary: Add Analyst to Groups
      description: Assign Group Analyst to groups. User need to be assigned the Group Analyst (group_analyst) role.
      operationId: addGroupToAnalyst
      parameters:
        - name: user_id
          in: path
          description: ID of the User in the form of an integer.
          required: true
          schema:
            type: number
      requestBody:
        description: Group Analyst
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupAnalystsAddGroupRequest'
      responses:
        201:
          description: Group Analyst response
          content: {}
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Unable to process request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  group_analysts: 'User IDs missing group_analysts role: 1'
                  group_id: 'Invalid group IDs: 1, 2'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
              example:
                error:
                  user_id:
                    - 'Could not find user with ID 1.'
  /group_analysts/{user_id}/groups/{group_id}:
    delete:
      tags:
        - Group Analysts
      summary: Delete Analyst
      description: Remove an analyst from a group
      operationId: removeGroupFromAnalyst
      parameters:
        - name: user_id
          in: path
          description: ID of the User in the form of an integer.
          required: true
          schema:
            type: number
        - name: group_id
          in: path
          description: ID of the Group in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        204:
          description: Group Analyst response
          content: {}
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Unable to process request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  group_id:
                    - 'Could not find group with ID 1.'
        404:
          description: Unable to process request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
              example:
                error:
                  user_id:
                    - 'Could not find user with ID 1.'
                  group_id:
                    - 'Could not find group with ID 1.'
  /instructors:
    get:
      tags:
        - Instructors
      summary: Get Instructors
      description: Retrieve a list of Instructors
      operationId: getInstructors
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch.
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned.
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Instructors response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstructorsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
    post:
      tags:
        - Instructors
      summary: Create instructor
      description: 'Creates a new Instructor '
      operationId: createInstructor
      requestBody:
        description: New instructor attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstructorRequest'
        required: true
      responses:
        201:
          description: Instructor response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructorResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  last_name:
                    - can't be blank
      x-codegen-request-body-name: body
  /instructors/{id}:
    get:
      tags:
        - Instructors
      summary: Get Instructor by ID
      description: Returns the Instructor identified by the provided id.
      operationId: getInstructorByID
      parameters:
        - name: id
          in: path
          description: ID of the Instructor in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Instructor response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructorResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
    put:
      tags:
        - Instructors
      summary: Update instructor
      description: Updates the Instructor identified by the provided id
      operationId: updateInstructor
      parameters:
        - name: id
          in: path
          description: ID of the Instructor in the form of an integer
          required: true
          schema:
            type: number
      requestBody:
        description: New instructor attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstructorRequest'
        required: true
      responses:
        204:
          description: Instructor Updated
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        422:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  - Instructor could not be found
      x-codegen-request-body-name: body
    delete:
      tags:
        - Instructors
      summary: Delete instructor
      description: Delete the Instructor identified by the provided id
      operationId: deleteInstructorByID
      parameters:
        - name: id
          in: path
          description: ID of the Instructor in the form of an integer
          required: true
          schema:
            type: number
      responses:
        204:
          description: Instructor deleted
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /orders:
    get:
      tags:
        - Orders
      summary: Get Orders
      description: Retrieve a list of Orders
      operationId: getOrders
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch.
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned.
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  /orders/{id}:
    get:
      tags:
        - Orders
      summary: Get orders by ID
      description: Returns the orders identified by the provided id.
      operationId: getOrderByID
      parameters:
        - name: id
          in: path
          description: ID of the Orders in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Orders response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /group_users:
    post:
      tags:
        - Group Users
      summary: Create a User to existing Groups
      description: Create an existing User to existing Groups
      operationId: createGroupUsers
      requestBody:
        description: Group Users attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupUsersRequest'
        required: true
      responses:
        201:
          description: Group Users response
          content: {}
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  - Invalid group_names
      x-codegen-request-body-name: body
  /product_publish_requests:
    get:
      tags:
        - Product Publish Request
      summary: Get List of product publish requests
      description: Returns a list of Product Publish Requests.
      operationId: getProductPublishRequests
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Product Publish Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductPublishResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  /product_publish_requests/{id}:
    get:
      tags:
        - Product Publish Request
      summary: Get product publish request by ID
      description:
        Returns the Product Publish Request identified by the provided
        id.
      operationId: getProductPublishRequestByID
      parameters:
        - name: id
          in: path
          description: ID of the Product Publish Request in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Product Publish Request success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPublishRequest'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /product_publish_requests/{id}/approve:
    post:
      tags:
        - Product Publish Request
      summary: Approves Product Publish Request
      operationId: approveProductPublishRequest
      description:
        Approves the Product Publish Request identified by the provided
        id.
      parameters:
        - name: id
          in: path
          description: ID of the Product Publish Request in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Product Publish Request approved
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /product_publish_requests/{id}/deny:
    post:
      tags:
        - Product Publish Request
      summary: Denies Product Publish Request
      description: Denies the Product Publish Request identified by the provided id.
      operationId: denyProductPublishRequest
      parameters:
        - name: id
          in: path
          description: ID of the Product Publish Request in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Product Publish Request denied
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /products:
    get:
      tags:
        - Products
      summary: List products
      operationId: getProducts
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Products response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  /products/{id}:
    get:
      tags:
        - Products
      summary: Get product by ID
      description: Returns the Product identified by the provided id.
      operationId: getProductByID
      parameters:
        - name: id
          in: path
          description: Id of the product in the form of an integer
          required: true
          schema:
            type: number
      responses:
        200:
          description: Products response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /products/{id}/related:
    get:
      tags:
        - Products
      summary: Get related products
      description:
        Returns a list of products that are related to the Product identified
        by the provided id.
      operationId: getRelatedProductByProductID
      parameters:
        - name: id
          in: path
          description: Id of the product in the form of an integer
          required: true
          schema:
            type: number
        - name: page
          in: query
          description: The page within the collection to fetch
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Products response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /promotions:
    get:
      tags:
        - Promotions
      summary: List promotions
      operationId: getPromotions
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Promotions response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPromotionsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
    post:
      tags:
        - Promotions
      summary: Create a new promotion
      operationId: createPromotion
      requestBody:
        description: New Promotion parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotionRequest'
        required: false
      responses:
        201:
          description: Promotions response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  name:
                    - can't be blank
      x-codegen-request-body-name: body
  /promotions/{id}:
    get:
      tags:
        - Promotions
      summary: Get promotion by provided ID
      operationId: getPromotionByID
      parameters:
        - name: id
          in: path
          description: Id of the promotion in the form of an integer
          required: true
          schema:
            type: number
      responses:
        200:
          description: Promotions response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
    put:
      tags:
        - Promotions
      summary: Update promotion by provided ID
      operationId: updatePromotionByID
      parameters:
        - name: id
          in: path
          description: Id of the promotion in the form of an integer
          required: true
          schema:
            type: number
      requestBody:
        description: Promotion attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotionRequest'
        required: false
      responses:
        204:
          description: Promotion Updated
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  name:
                    - can't be blank
      x-codegen-request-body-name: body
    delete:
      tags:
        - Promotions
      summary: Delete promotion by provided ID
      operationId: deletePromotionByID
      parameters:
        - name: id
          in: path
          description: Id of the promotion in the form of an integer
          required: true
          schema:
            type: number
      responses:
        204:
          description: Promotions deleted
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /promotions/by_coupon:
    get:
      tags:
        - Promotions
      summary: Get Promotion associated with the provided Coupon code.
      description: Find a Promotion by Coupon Code and Product
      operationId: getPromotionByCouponCode
      parameters:
        - name: product_id
          in: query
          description: The id of the Product to which the promotion applies.
          required: true
          schema:
            type: number
        - name: coupon_code
          in: query
          description: The Coupon code to be used as search criteria.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Promotions response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /course_reviews:
    get:
      tags:
        - Course Reviews
      summary: Get Course Reviews
      description: Retrieve a list of Course Reviews
      operationId: getCourseReviews
      parameters:
        - name: course_id
          in: query
          description: ID of the Course in the form of an integer.
          required: true
          schema:
            type: number
        - name: page
          in: query
          description: The page within the collection to fetch.
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned.
          schema:
            type: number
            default: 25.0
        - name: approved
          in: query
          description: If true, returns only approved Course Reviews.
          schema:
            type: boolean
      responses:
        200:
          description: CourseReviews
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCourseReviewsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
    post:
      tags:
        - Course Reviews
      summary: Create a course review
      description: Create a course review
      operationId: createCourseReview
      parameters:
        - name: course_id
          in: query
          description: ID of the Course for which the review needs to be created for.
          required: true
          schema:
            type: number
      requestBody:
        description: Course Review Attributes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCourseReviewRequest'
        required: true
      responses:
        201:
          description: Course Review Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseReviewResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        422:
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  user_id:
                    - can't be blank
      x-codegen-request-body-name: body
  /course_reviews/{id}:
    get:
      tags:
        - Course Reviews
      summary: Get Course Reviews By ID
      description: Retrieve a Course Review identified by the provided id.
      operationId: getCourseReviewByID
      parameters:
        - name: id
          in: path
          description: ID of the Course Review in the form of an integer.
          required: true
          schema:
            type: number
      responses:
        200:
          description: CourseReviewByID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseReviewResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /users:
    get:
      tags:
        - Users
      summary: List Users
      description: Retrieve a list of users
      operationId: getUsers
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
        - name: query[email]
          in: query
          description: Search Users by email.
          schema:
            type: string
        - name: query[role]
          in: query
          description: Search Users by role.
          schema:
            type: string
        - name: query[external_source]
          in: query
          description: Search Users by external source.
          schema:
            type: string
        - name: query[custom_profile_field_label]
          in: query
          description: Search by custom profile field label (must be combined with custom_profile_field_value)
          schema:
            type: string
        - name: query[custom_profile_field_value]
          in: query
          description: Search by custom profile field value (must be combined with custom_profile_field_label)
          schema:
            type: string
        - name: query[group_id]
          in: query
          description: Search by group id.
          schema:
            type: number
      responses:
        200:
          description: Users response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
    post:
      tags:
        - Users
      summary: Create user
      description: Create a new user
      operationId: createUser
      requestBody:
        description: Create user request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        required: true
      responses:
        201:
          description: User Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        422:
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  first_name:
                    - can't be blank
      x-codegen-request-body-name: body
  /users/{id}:
    get:
      tags:
        - Users
      summary: List Users by ID
      description: Retrieves a User identified by the provided id
      operationId: getUserByID
      parameters:
        - name: id
          in: path
          description: Accepts a Thinkific generated ID (in the form of an integer), or an External ID (as a string) when accompanied by the "provider" parameter.
          required: true
          schema:
            type: string
        - name: provider
          in: query
          description: Provider from which the user's External Id is associated (Required if using External Id as id parameter)
          required: false
          schema:
            type: string
            enum:
              - 'SSO'
              - 'OPENID_CONNECT'
            description: Provider that creates the user and with which the External Id is associated.
            example: SSO
      responses:
        200:
          description: User Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
    put:
      tags:
        - Users
      summary: Update user by ID
      description: Updates the user specified by the provided id
      operationId: updateUserByID
      parameters:
        - name: id
          in: path
          description: Accepts a Thinkific generated ID (in the form of an integer), or an External ID (as a string) when accompanied by the "provider" parameter.
          required: true
          schema:
            type: string
        - name: provider
          in: query
          description: Provider from which the user's External Id is associated (Required if using External Id as id parameter)
          required: false
          schema:
            type: string
            enum:
              - 'SSO'
              - 'OPENID_CONNECT'
            description: Provider that creates the user and with which the External Id is associated.
            example: SSO
      requestBody:
        description: User details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        required: true
      responses:
        204:
          description: User Updated
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        422:
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
              example:
                errors:
                  first_name:
                    - can't be blank
      x-codegen-request-body-name: body
    delete:
      tags:
        - Users
      summary: Delete user by ID
      description: Deletes a User identified by the provided id
      operationId: deleteUserByID
      parameters:
        - name: id
          in: path
          description: Accepts a Thinkific generated ID (in the form of an integer), or an External ID (as a string) when accompanied by the "provider" parameter.
          required: true
          schema:
            type: string
        - name: provider
          in: query
          description: Provider from which the user's External Id is associated (Required if using External Id as id parameter)
          required: false
          schema:
            type: string
            enum:
              - 'SSO'
              - 'OPENID_CONNECT'
            description: Provider that creates the user and with which the External Id is associated.
            example: SSO
      responses:
        204:
          description: User Deleted
        404:
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'

  /site_scripts:
    get:
      tags:
        - Site Scripts
      summary: List Site Scripts
      description: Retrieve a list of site scripts
      operationId: getSiteScripts
      parameters:
        - name: page
          in: query
          description: The page within the collection to fetch
          schema:
            type: number
            default: 1.0
        - name: limit
          in: query
          description: The number of items to be returned
          schema:
            type: number
            default: 25.0
      responses:
        200:
          description: Site Scripts response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSiteScriptsResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenInsufficientScopeResponse'
    post:
      tags:
        - Site Scripts
      summary: Create Site Script
      description: Create a new Site Script
      operationId: createSiteScript
      requestBody:
        description: |
          Create Site Script request body

          To create Site Scripts, either the `src` or `content` attribute must be provided. Only one should be specified.

          When using the `src` attribute, the top-level domain of the URL should match the top-level domain of the App URL. When using the `content` attribute, the header `HMAC-SHA256-SIGNATURE` generated using the app's secret and content must be included in the request.

          Use the drop down menu to view examples with `src` or `content` attribute
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteScriptRequest'
            examples:
              CreateSiteScriptWithContentRequest:
                $ref: '#/components/examples/SiteScriptWithContentRequest'
              CreateSiteScriptWithSrcRequest:
                $ref: '#/components/examples/SiteScriptWithSrcRequest'
        required: true
      responses:
        201:
          description: Site Script created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteScriptResponse'
              examples:
                CreateSiteScriptWithContentResponse:
                  $ref: '#/components/examples/SiteScriptWithContentResponse'
                CreateSiteScriptWithSrcResponse:
                  $ref: '#/components/examples/SiteScriptWithSrcResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenInsufficientScopeResponse'
      x-codegen-request-body-name: body

  /site_scripts/{id}:
    get:
      tags:
        - Site Scripts
      summary: Get Site Script by ID
      description: Retrieves a Site Script identified by the provided ID
      operationId: getSiteScriptByID
      parameters:
        - name: id
          in: path
          description: ID of the Site Script in the form of a string
          required: true
          schema:
            type: string
      responses:
        200:
          description: Site Script Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteScriptResponse'
              examples:
                GetSiteScriptWithContentResponse:
                  $ref: '#/components/examples/SiteScriptWithContentResponse'
                GetSiteScriptWithSrcResponse:
                  $ref: '#/components/examples/SiteScriptWithSrcResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenInsufficientScopeResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
    put:
      tags:
        - Site Scripts
      summary: Update Site Script by ID
      description: Updates the Site Script specified by the provided ID
      operationId: updateSiteScriptByID
      parameters:
        - name: id
          in: path
          description: ID of the Site Script in the form of a string
          required: true
          schema:
            type: string
      requestBody:
        description: |
          Update Site Script request body

          When updating Site Scripts, only one of `src` or `content` should be specified.

          When using the `src` attribute, the top-level domain of the URL should match the top-level domain of the app.
          When using the `content` attribute, the header `HMAC-SHA256-SIGNATURE` generated using the app's secret and content must be included in the request.

          Use the dropdown menu to view examples with `src` or `content` attribute.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteScriptRequest'
            examples:
              UpdateSiteScriptWithContentRequest:
                $ref: '#/components/examples/SiteScriptWithContentRequest'
              UpdateSiteScriptWithSrcRequest:
                $ref: '#/components/examples/SiteScriptWithSrcRequest'
        required: true
      responses:
        204:
          description: Site Script Updated
        403:
          $ref: '#/components/responses/ErrorForbiddenInsufficientScopeResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'

    delete:
      tags:
        - Site Scripts
      summary: Delete Site Script by ID
      description: Deletes a Site Script identified by the provided ID
      operationId: deleteSiteScriptByID
      parameters:
        - name: id
          in: path
          description: ID of the Site Script in the form of a string
          required: true
          schema:
            type: string
      responses:
        204:
          description: Site Script Deleted
        403:
          $ref: '#/components/responses/ErrorForbiddenInsufficientScopeResponse'
        404:
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'

components:
  schemas:
    BundleResponse:
      required:
        - id
        - name
        - course_ids
      type: object
      properties:
        id:
          type: number
          description: The ID of the Bundle
          example: 1.0
        name:
          type: string
          description: The name of the Bundle
          example: A Bundle
        description:
          type: string
          description: The description on the Bundle
          example: The Bundle description
        tagline:
          type: string
          description: The tagline for the Bundle (Deprecated)
          example: Bundle tagline
        banner_image_url:
          type: string
          description: Deprecated - use 'bundle_card_image_url'* - The banner image url for the Bundle.
          example: http://example.com/image.jpg
        course_ids:
          type: array
          items:
            type: number
            description: The IDs of the Courses in the Bundle
        bundle_card_image_url:
          type: string
          description: The card image url for the Bundle
          example: http://example.com/image.jpg
    GetChaptersResponse:
      required:
        - items
        - meta
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ChapterResponse'
        meta:
          $ref: '#/components/schemas/Meta'
    ChapterResponse:
      required:
        - content_ids
        - id
        - name
        - position
      type: object
      properties:
        id:
          type: number
          description: The ID of the Chapter as an integer
          example: 1.0
        name:
          type: string
          description: The name of the Chapter
          example: Chapter 1
        position:
          type: number
          description: The position of the Chapter within the Course
          example: 1.0
        description:
          type: string
          description: The description of the Chapter
          example: The first Chapter
        duration_in_seconds:
          type: number
          description:
            The duration of the Chapter in seconds. This is the sum of
            the length of the video lessons in the Chapter
          example: 60.0
        content_ids:
          type: array
          example:
            - 1
            - 2
            - 3
          items:
            type: number
            description: The IDs of the Contents within the Chapter
    GetCollectionsResponse:
      required:
        - items
        - meta
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CollectionResponse'
        meta:
          $ref: '#/components/schemas/Meta'
    CollectionResponse:
      required:
        - created_at
        - default
        - description
        - id
        - name
        - product_ids
      type: object
      properties:
        id:
          type: number
          description: The ID of the Category as an integer
          example: 1.0
        name:
          type: string
          description: The name of the Category
          example: All Courses
        description:
          type: string
          description: The description of the Category
          example: All the Courses in the Site
        slug:
          type: string
          description: courses (string, required) - The slug of the Category
          example: all
        created_at:
          type: string
          description: The date and time when the Category was created
          format: date-time
          example: '2018-01-01T01:01:00Z'
        product_ids:
          type: array
          example:
            - 1
            - 2
          items:
            type: number
            description: The IDs of the Products contained within the Category
        default:
          type: boolean
          description: A boolean indicating whether the Category is the default
          example: true
    CollectionRequest:
      required:
        - description
        - name
        - slug
      type: object
      properties:
        name:
          type: string
          description: The name of the Category
          example: My Category
        description:
          type: string
          description: The description of the Category
          example: This is a description of my category
        slug:
          type: string
          description: The slug of the Category.
          example: my-category
    GetContentsResponse:
      required:
        - items
        - meta
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContentResponse'
        meta:
          $ref: '#/components/schemas/Meta'
    ContentResponse:
      required:
        - chapter_id
        - contentable_type
        - free
        - id
        - name
        - position
        - take_url
      type: object
      properties:
        id:
          type: number
          description: The ID of the Content as an integer
          example: 1.0
        name:
          type: string
          description: The name of the Content
          example: Video Lesson
        position:
          type: number
          description: The position of the Content within a Chapter.
          example: 1.0
        chapter_id:
          type: number
          description: The ID of the Chapter that the Content is in as an integer
          example: 1.0
        contentable_type:
          type: string
          enum:
            - 'Assignment'
            - 'Audio'
            - 'Download'
            - 'BrilliumExam'
            - 'Disqus'
            - 'HtmlItem'
            - 'Iframe'
            - 'LiveLesson'
            - 'Lesson'
            - 'Pdf'
            - 'Presentation'
            - 'Quiz'
            - 'Survey'
          description: The type of the Content
          example: Lesson
        free:
          type: boolean
          description: A boolean indicating whether the Content is free
          example: false
        take_url:
          type: string
          description: The url of the Content in the Course Player
          example: http://somesite.thinkific.com/courses/take/xxx/yyy
    GetCourseReviewsResponse:
      required:
        - items
        - meta
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CourseReviewResponse'
        meta:
          $ref: '#/components/schemas/Meta'
    CourseReviewResponse:
      required:
        - approved
        - course_id
        - id
        - rating
        - review_text
        - title
        - user_id
      type: object
      properties:
        id:
          type: number
          description: The ID of the Course Review as an integer.
          example: 1.0
        rating:
          type: number
          description: The rating, out of 5, of the Course Review.
          example: 4.0
        title:
          type: string
          description: The Course Review title.
          example: My Review
        review_text:
          type: string
          description: The body of the Course Review.
          example: It was great!
        user_id:
          type: number
          description: The ID of the User writing the Course Review as an integer.
          example: 1.0
        course_id:
          type: number
          description: The ID of the Course being reviewed as an integer.
          example: 1.0
        approved:
          type: boolean
          description: A boolean indicating whether the Course Review has been approved.
          example: true
        created_at:
          type: string
          description: The date and time the Course Review was created.
          format: date-time
          example: '2017-04-30T01:00:00Z'
    CreateCourseReviewRequest:
      required:
        - approved
        - rating
        - review_text
        - title
        - user_id
      type: object
      properties:
        rating:
          type: number
          description: The rating, out of 5, of the Course Review.
          example: 4.0
        title:
          type: string
          description: The Course Review title.
          example: My Review
        review_text:
          type: string
          description: The body of the Course Review.
          example: It was great!
        user_id:
          type: number
          description: The ID of the User writing the Course Review as an integer.
          example: 1.0
        approved:
          type: boolean
          description: A boolean indicating whether the Course Review has been approved.
          example: true
    MembershipsRequest:
      required:
        - product_ids
      type: object
      properties:
        product_ids:
          type: array
          example:
            - 1
            - 2
          items:
            type: number
            description:
              An array of the IDs of the Products that should be added
              to the Category as integers
    UpdateCoupon:
      required:
        - code
      type: object
      properties:
        code:
          type: string
          description: The Coupon code.
          example: ABCD
        note:
          type: string
          description:
            'A note associated with the Coupon. NOTE: this will be deprecated
            in future versions of the API.'
          example: Black Friday Coupon
        quantity_used:
          type: string
          description: The number of times the Coupon has been used.
          example: '4'
        quantity:
          type: number
          description:
            The number of times the Coupon can be used. If this value if
            not set, the Coupon can be used an unlimited number of times.
          example: 10.0
    CreateBulkCouponResponse:
      type: object
      properties:
        items:
          type: array
          items:
[...]
