openapi: 3.0.2
info:
  x-ballerina-display:
    label: Flatapi
    iconPath: "resources/flatapi.svg"
  title: Flat API
  description: |-
    This is a generated connector for [Flat API v2.13.0](https://flat.io/developers/docs/api/) OpenAPI specification.
    The Flat API allows you to easily extend the abilities of the [Flat Platform](https://flat.io), with a wide range of use cases including the following:
    * Creating and importing new music scores using MusicXML, MIDI, Guitar Pro (GP3, GP4, GP5, GPX, GP), PowerTab, TuxGuitar and MuseScore files
    * Browsing, updating, copying, exporting the user's scores (for example in MP3, WAV or MIDI)
    * Managing educational resources with Flat for Education: creating & updating the organization accounts, the classes, rosters and assignments.
    The Flat API is built on HTTP. Our API is RESTful It has predictable resource URLs. It returns HTTP response codes to indicate errors. It also accepts and returns JSON in the HTTP body.
    The [schema](/swagger.yaml) of this API follows the [OpenAPI Initiative (OAI) specification](https://www.openapis.org/), you can use and work with [compatible Swagger tools](http://swagger.io/open-source-integrations/).
    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/).
    You can use your favorite HTTP/REST library for your programming language to use Flat's API. This specification and reference is [available on Github](https://github.com/FlatIO/api-reference).
    Getting Started and learn more:
    * [API Overview and introduction](https://flat.io/developers/docs/api/)
    * [Authentication (Personal Access Tokens or OAuth2)](https://flat.io/developers/docs/api/authentication.html)
    * [SDKs](https://flat.io/developers/docs/api/sdks.html)
    * [Rate Limits](https://flat.io/developers/docs/api/rate-limits.html)
    * [Changelog](https://flat.io/developers/docs/api/changelog.html)
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials.
    
    Create an [Flat Platform Account](https://flat.io/auth/signup) and obtain tokens following [this guide](https://flat.io/developers/docs/api/authentication.html).
  termsOfService: 'https://flat.io/legal'
  contact:
    name: Flat
    url: 'https://flat.io/developers/docs/api/'
    email: developers@flat.io
  version: 2.13.0
  x-logo:
    url: 'https://flat.io/img/logo-flat.svg'
servers:
  - url: 'https://api.flat.io/v2'
tags:
  - name: Account
    description: >
      These API endpoints are related to the Flat account you are currently
      using. When using an OAuth2 access token, you can use [`GET
      /me`](#operation/getAuthenticatedUser) to get information about the
      account.
    x-displayName: Flat Account
  - name: Score
    description: |
      Sheet music is the main API object type available for all Flat account.
      Here is a typical lifecycle for a music score document on Flat:
        - An end user can **create a music score** or **import a document** using our [web interface](https://flat.io) or a third-party website/app (e.g. Google Drive) using this API (see [`POST /v2/scores`](#operation/createScore). The creation and import of music scores can be done with this single API endpoint. This one currently supports the [MusicXML](http://www.musicxml.com/) (compressed or not) and [MIDI](https://www.midi.org/specifications).
        - **List scores**:
          - The **owned scores** can be listed using the [collections API methods](#tag/Collection), especially [`GET /collections/{collection}/scores`](#operation/listCollectionScores).
          - The scores from a public account can be listed with [`GET /users/{user}/scores`](#operation/getUserScores).
          - Scores shared with a specific group can be listed with [`GET /groups/{group}/scores`](#operation/getGroupScores).
        - The metadata of a single score can be retrieved with [`GET /scores/{score}`](#operation/getScore).
        - Scores on Flat have **one or multiple revisions**: creating a new score will create a first revision. These **revisions can be listed** using [`GET /scores/{score}/revisions`](#operation/getScoreRevisions) and a specific **revision data can be downloaded** with [`GET /scores/{score}/revisions/{revision}/{format}`](#operation/getScoreRevisionData). New revisions can be created using our [sheet music editor](https://flat.io) or using [`POST /scores/{score}/revisions`](#operation/createScoreRevision) (this endpoint has similar parameters than during the score creation). The last revision of a document may not directly reflect the really last version of a music score: recent modifications can be made offline or not yet consolidated into a new revision. In average, a new revision is created every 100 modifications made with our editor.
        - Scores can be **shared publicly** by changing the privacy option with [`POST /scores/{score}`](#operation/editScore), or **individually shared** using the different collaborators API endpoints (see [`POST /scores/{score}/collaborators`](#operation/addScoreCollaborator)).
    x-displayName: Music scores
  - name: Collection
    description: >
      Collections let you organize your content in a Flat account. They work
      like a regular _folder_ with some specificities:
        - Our design goal here is to create a system similar to a _book_ or a _playlist of songs_.
        - Collections can't have children collections (except the `trash` and `sharedWithMe` that are special collections).
        - Any score can be added to one or multiple collections. For example, you can have a single private score in two or more collections, or add any public or shared scores to one of your collections.

      All the collections don't have the same capabilities. Capabilities depend
      on the `type` of collection and the `rights` you have on a collection.
      They are available when [listing the
      collection](#operation/listCollections) or [retrieving the collection
      details](#operation/getCollection).


      At this time, only `private` privacy mode is widely available. Privacy
      modes `public`, `organizationPublic` and `privateLink`, and 1:1 sharing
      will be available in an upcoming update later this year.
    x-displayName: Collections of music scores
  - name: User
    description: Flat users
  - name: Organization
    description: Flat for Education organizations
  - name: Class
    description: Flat for Education classes
  - name: Group
    description: Flat Groups
paths:
  /me:
    get:
      tags:
        - Account
      summary: Get current user profile
      description: |
        Get details about the current authenticated User.
      operationId: getAuthenticatedUser
      parameters:
        - name: onlyId
          in: query
          description: Only return the user id
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Current user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - account.public_profile
            - account.education_profile
      x-code-samples:
        - lang: JavaScript
          source: >
            var FlatApi = require('flat-api');

            FlatApi.ApiClient.instance.authentications.OAuth2.accessToken =
            process.env.FLAT_ACCESS_TOKEN;


            flatAccountApi.getAuthenticatedUser(function(error, data, response)
            {
              if (error) {
                console.error(error);
              }
              else {
                console.log('Successfully retrieved user profile: ', data);
              }
            });
        - lang: PHP
          source: >
            <?php

            require_once(__DIR__ . '/vendor/autoload.php');


            // Configure OAuth2 access token

            Flat\APIClient\Configuration::getDefaultConfiguration()->setAccessToken($_ENV['FLAT_ACCESS_TOKEN']);


            $api = new Flat\APIClient\Api\AccountApi();


            try {
                $result = $api->getAuthenticatedUser();
                print_r($result);
            } catch (Exception $e) {
                echo 'Exception when calling AccountApi->getAuthenticatedUser: ', $e->getMessage(), PHP_EOL;
            }
        - lang: Python
          source: |
            from pprint import pprint
            import os

            import flat_api
            from flat_api.rest import ApiException

            configuration = flat_api.Configuration()
            configuration.access_token = os.environ['FLAT_ACCESS_TOKEN']
            flat_api_client = flat_api.ApiClient(configuration)
            try:
                pprint(flat_api.AccountApi(flat_api_client).get_authenticated_user())
            except ApiException as e:
                print e
  /scores:
    post:
      tags:
        - Score
      summary: Create a new score
      description: >
        Use this API method to **create a new music score in the current User
        account**. You will need a MusicXML 3 (`vnd.recordare.musicxml` or
        `vnd.recordare.musicxml+xml`), a MIDI (`audio/midi`), Guitar Pro (GP3,
        GP4, GP5, GPX, GP), PowerTab, TuxGuitar, or MuseScore file to create the
        new Flat document.


        This API call will automatically create the first revision of the
        document, the score can be modified by the using our web application or
        by uploading a new revision of this file (`POST
        /v2/scores/{score}/revisions/{revision}`).


        The currently authenticated user will be granted owner of the file and
        will be able to add other collaborators (users and groups).


        If no `collection` is specified, the API will create the score in the
        most appropriate collection. This can be the `root` collection or a
        different collection based on the user's settings or API authentication
        method.

        If a `collection` is specified and this one has more public privacy
        settings than the score (e.g. `public` vs `private` for the score), the
        privacy settings of the created score will be adjusted to the collection
        ones.

        You can check the adjusted privacy settings in the returned score
        `privacy`, and optionally adjust these settings if needed using `PUT
        /scores/{score}`.
      operationId: createScore
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreCreation'
        required: true
      responses:
        '200':
          description: Score created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreDetails'
        '400':
          description: Bad score creation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
      x-codegen-request-body-name: body
      x-code-samples:
        - lang: JavaScript
          source: >
            var request = require('request');

            var FlatApi = require('flat-api');


            FlatApi.ApiClient.instance.authentications.OAuth2.accessToken =
            process.env.FLAT_ACCESS_TOKEN;


            var scoreToImport =
            'https://gist.githubusercontent.com/gierschv/938479bec2bbe8c39eebbc9e19d027a0/raw/2caa4fa312184412d0d544feb361f918869ceaa5/hello-world.xml';


            // Download a MusicXML "Hello World"

            request(scoreToImport, function (error, response, body) {
              // Create the document and print the meta returned by the API
              new FlatApi.ScoreApi().createScore({
                title: 'Hello world',
                privacy: 'private',
                data: body
              }, function (error, data, response) {
                if (error) {
                  console.error(error);
                }
                else {
                  console.log('Successfully create the document:', data);
                }
              });
            });
        - lang: PHP
          source: >
            <?php

            require_once(__DIR__ . '/vendor/autoload.php');


            // Configure OAuth2 access token

            Flat\APIClient\Configuration::getDefaultConfiguration()->setAccessToken($_ENV['FLAT_ACCESS_TOKEN']);


            $musicXml =
            file_get_contents('https://gist.githubusercontent.com/gierschv/938479bec2bbe8c39eebbc9e19d027a0/raw/2caa4fa312184412d0d544feb361f918869ceaa5/hello-world.xml');


            try {
                $body = new \Flat\APIClient\Model\ScoreCreation();
                $body->setTitle('Hello world');
                $body->setPrivacy('private');
                $body->setData($musicXml);

                $scoreApi = new Flat\APIClient\Api\ScoreApi();
                $result = $scoreApi->createScore($body);
                print_r($result);
            } catch (Exception $e) {
                echo 'Exception when calling ScoreApi->createScore: ', $e->getMessage(), PHP_EOL;
            }
        - lang: Python
          source: >
            from pprint import pprint

            import os, urllib2


            import flat_api

            from flat_api.rest import ApiException


            SCORE_TO_IMPORT='https://gist.githubusercontent.com/gierschv/938479bec2bbe8c39eebbc9e19d027a0/raw/2caa4fa312184412d0d544feb361f918869ceaa5/hello-world.xml'


            configuration = flat_api.Configuration()

            configuration.access_token = os.environ['FLAT_ACCESS_TOKEN']

            flat_api_client = flat_api.ApiClient(configuration)


            try:
                # Download a MusicXML "Hello World"
                hello_world = urllib2.urlopen(SCORE_TO_IMPORT).read()

                # The new score meta, including the MusicXML file as `data`
                new_score = flat_api.ScoreCreation(
                    title='Hello World',
                    privacy='private',
                    data=hello_world
                )

                # Create the document and print the meta returned by the API
                pprint(flat_api.ScoreApi(flat_api_client).create_score(new_score))
            except (ApiException, urllib2.HTTPError) as e:
                print e
  '/scores/{score}':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
    get:
      tags:
        - Score
      summary: Get a score's metadata
      description: >
        Get the details of a score identified by the `score` parameter in the
        URL.

        The currently authenticated user must have at least a read access to the
        document to use this API call.
      operationId: getScore
      parameters:
        - name: sharingKey
          in: query
          description: >
            This sharing key must be specified to access to a score or
            collection with a `privacy` mode set to `privateLink` and the
            current user is not a collaborator of the document.
          schema:
            type: string
      responses:
        '200':
          description: Score details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreDetails'
        '402':
          description: Account overquota and this document is out of the granted quota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
            - scores.readonly
    put:
      tags:
        - Score
      summary: Edit a score's metadata
      description: >
        This API method allows you to change the metadata of a score document
        (e.g. its `title` or `privacy`), all the properties are optional.


        To edit the file itself, create a new revision using the appropriate
        method (`POST /v2/scores/{score}/revisions/{revision}`).


        When editing the `title`, `subtitle`, `composer`, `lyricist`, `arranger`
        or `licenseText`, the metadatas will be instantly be updated, and a
        real-time action will be pushed to update the document lazily.

        This pending document modification will be automatically be saved as a
        new version by either a connected client or our internal versioning
        service.
      operationId: editScore
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreModification'
        required: false
      responses:
        '200':
          description: Score details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreDetails'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
      x-codegen-request-body-name: body
    delete:
      tags:
        - Score
      summary: Delete a score
      description: >
        This method can be used by the owner/admin (`aclAdmin` rights) of a
        score as well as regular collaborators.


        When called by an owner/admin, it will schedule the deletion of the
        score, its revisions, and complete history.

        The score won't be accessible anymore after calling this method and the
        user's quota will directly be updated.


        When called by a regular collaborator (`aclRead` / `aclWrite`), the
        score will be unshared (i.e. removed from the account & own
        collections).
      operationId: deleteScore
      parameters:
        - name: now
          in: query
          description: 'If `true`, the score deletion will be scheduled to be done ASAP'
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: The score has been removed
        '403':
          description: Not granted to manage this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
  '/scores/{score}/untrash':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
    post:
      tags:
        - Score
      summary: Untrash a score
      description: >
        This method will remove the score from the `trash` collection and from
        the deletion queue, and add it back to the original collections.
      operationId: untrashScore
      responses:
        '204':
          description: The score has been untrashed
        '403':
          description: Not granted to manage this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
  '/scores/{score}/submissions':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
    get:
      tags:
        - Score
        - Class
      summary: List submissions related to the score
      description: >
        This API call will list the different assignments submissions where the
        score is attached. This method can be used by anyone that are part of
        the organization and have at least read access to the document.
      operationId: getScoreSubmissions
      responses:
        '200':
          description: List of submissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssignmentSubmission'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
            - scores.readonly
  '/scores/{score}/fork':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
    post:
      tags:
        - Score
        - Class
      summary: Fork a score
      description: >
        This API call will make a copy of the last revision of the specified
        score and create a new score. The copy of the score will have a privacy
        set to `private`.


        When using a [Flat for Education](https://flat.io/edu) account, the
        inline and contextualized comments will be accessible in the child
        document.
      operationId: forkScore
      parameters:
        - name: sharingKey
          in: query
          description: >
            This sharing key must be specified to access to a score or
            collection with a `privacy` mode set to `privateLink` and the
            current user is not a collaborator of the document.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreFork'
        required: true
      responses:
        '200':
          description: Score details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreDetails'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
      x-codegen-request-body-name: body
  '/scores/{score}/collaborators':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
    get:
      tags:
        - Score
      summary: List the collaborators
      description: >
        This API call will list the different collaborators of a score and their
        rights on the document. The returned list will at least contain the
        owner of the document.


        Collaborators can be a single user (the object `user` will be populated)
        or a group (the object `group` will be populated).
      operationId: getScoreCollaborators
      parameters:
        - name: sharingKey
          in: query
          description: >
            This sharing key must be specified to access to a score or
            collection with a `privacy` mode set to `privateLink` and the
            current user is not a collaborator of the document.
          schema:
            type: string
      responses:
        '200':
          description: List of collaborators
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResourceCollaborator'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores.readonly
            - scores
    post:
      tags:
        - Score
      summary: Add a new collaborator
      description: >
        Share a score with a single user or a group. This API call allows to
        add, invite and update the collaborators of a resource.

        - To add an existing Flat user to the resource, specify its unique
        identifier in the `user` property.

        - To invite an external user to the resource, specify its email in the
        `userEmail` property.

        - To add a Flat group to the resource, specify its unique identifier in
        the `group` property.

        - To update an existing collaborator, process the same request with
        different rights.
      operationId: addScoreCollaborator
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceCollaboratorCreation'
        required: true
      responses:
        '200':
          description: The newly added collaborator metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollaborator'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to manage this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
      x-codegen-request-body-name: body
  '/scores/{score}/collaborators/{collaborator}':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
      - name: collaborator
        in: path
        description: >
          Unique identifier of a **collaborator permission**, or unique
          identifier of a **User**, or unique identifier of a **Group**
        required: true
        schema:
          type: string
    get:
      tags:
        - Score
      summary: Get a collaborator
      description: |
        Get the information about a collaborator (User or Group).
      operationId: getScoreCollaborator
      parameters:
        - name: sharingKey
          in: query
          description: >
            This sharing key must be specified to access to a score or
            collection with a `privacy` mode set to `privateLink` and the
            current user is not a collaborator of the document.
          schema:
            type: string
      responses:
        '200':
          description: Collaborator information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollaborator'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score or collaborator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores.readonly
    delete:
      tags:
        - Score
      summary: Delete a collaborator
      description: |
        Remove the specified collaborator from the score
      operationId: removeScoreCollaborator
      responses:
        '204':
          description: The collaborator has been removed
        '403':
          description: Not granted to manage this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score or collaborator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
  '/scores/{score}/tracks':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
    get:
      tags:
        - Score
      summary: List the audio or video tracks linked to a score
      operationId: listScoreTracks
      parameters:
        - name: sharingKey
          in: query
          description: >
            This sharing key must be specified to access to a score or
            collection with a `privacy` mode set to `privateLink` and the
            current user is not a collaborator of the document.
          schema:
            type: string
        - name: assignment
          in: query
          description: >
            An assignment id with which all the tracks returned will be related
            to
          schema:
            type: string
        - name: listAutoTrack
          in: query
          description: >
            If true, and if available, return last automatically synchronized
            Flat's mp3 export as an additional track
          schema:
            type: boolean
      responses:
        '200':
          description: List of tracks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreTrack'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
            - scores.readonly
    post:
      tags:
        - Score
      summary: Add a new video or audio track to the score
      description: >
        Use this method to add new track to the score. This track can then be
        played on flat.io or in an embedded score.

        This API method support medias hosted on SoundCloud, YouTube and Vimeo.
      operationId: addScoreTrack
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreTrackCreation'
        required: true
      responses:
        '200':
          description: Created track
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreTrack'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
      x-codegen-request-body-name: body
  '/scores/{score}/tracks/{track}':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
      - name: track
        in: path
        description: |
          Unique identifier of a score audio track
        required: true
        schema:
          type: string
    get:
      tags:
        - Score
      summary: Retrieve the details of an audio or video track linked to a score
      operationId: getScoreTrack
      parameters:
        - name: sharingKey
          in: query
          description: >
            This sharing key must be specified to access to a score or
            collection with a `privacy` mode set to `privateLink` and the
            current user is not a collaborator of the document.
          schema:
            type: string
      responses:
        '200':
          description: Track details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreTrack'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score or Track not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
            - scores.readonly
    put:
      tags:
        - Score
      summary: Update an audio or video track linked to a score
      operationId: updateScoreTrack
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreTrackUpdate'
        required: true
      responses:
        '200':
          description: Updated track
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreTrack'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score or Track not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
      x-codegen-request-body-name: body
    delete:
      tags:
        - Score
      summary: Remove an audio or video track linked to the score
      operationId: deleteScoreTrack
      responses:
        '204':
          description: Track removed
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score or Track not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
  '/scores/{score}/comments':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
      - name: sharingKey
        in: query
        description: >
          This sharing key must be specified to access to a score or collection
          with a `privacy` mode set to `privateLink` and the current user is not
          a collaborator of the document.
        schema:
          type: string
    get:
      tags:
        - Score
      summary: List comments
      description: >-
        This method lists the different comments added on a music score
        (documents and inline) sorted by their post dates.
      operationId: getScoreComments
      parameters:
        - name: type
          in: query
          description: Filter the comments by type
          schema:
            type: string
            enum:
              - document
              - inline
        - name: sort
          in: query
          description: Sort
          schema:
            type: string
            enum:
              - date
        - name: direction
          in: query
          description: Sort direction
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: The comments of the score
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreComment'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores.readonly
            - scores.social
            - scores
    post:
      tags:
        - Score
      summary: Post a new comment
      description: >
        Post a document or a contextualized comment on a document.


        Please note that this method includes an anti-spam system for public
        scores. We don't guarantee that your comments will be accepted and
        displayed to end-user. Comments are be blocked by returning a `403` HTTP
        error and hidden from other users when the `spam` property is `true`.
      operationId: postScoreComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreCommentCreation'
        required: true
      responses:
        '200':
          description: The new comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreComment'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: >-
            Not granted to access to this score, to post a comment, or your API
            call triggered our spam filter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores.social
            - scores
      x-codegen-request-body-name: body
  '/scores/{score}/comments/{comment}':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
      - name: comment
        in: path
        description: |
          Unique identifier of a sheet music comment
        required: true
        schema:
          type: string
      - name: sharingKey
        in: query
        description: >
          This sharing key must be specified to access to a score or collection
          with a `privacy` mode set to `privateLink` and the current user is not
          a collaborator of the document.
        schema:
          type: string
    put:
      tags:
        - Score
      summary: Update an existing comment
      operationId: updateScoreComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreCommentUpdate'
        required: true
      responses:
        '200':
          description: The edited comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreComment'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: >-
            Not granted to access to this score or not the original comment
            creator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores.social
            - scores
      x-codegen-request-body-name: body
    delete:
      tags:
        - Score
      summary: Delete a comment
      operationId: deleteScoreComment
      responses:
        '204':
          description: The comment has been deleted
        '403':
          description: >-
            Not granted to access to this score or not the original comment
            creator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score or comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores.social
            - scores
  '/scores/{score}/comments/{comment}/resolved':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
      - name: comment
        in: path
        description: |
          Unique identifier of a sheet music comment
        required: true
        schema:
          type: string
      - name: sharingKey
        in: query
        description: >
          This sharing key must be specified to access to a score or collection
          with a `privacy` mode set to `privateLink` and the current user is not
          a collaborator of the document.
        schema:
          type: string
    put:
      tags:
        - Score
      summary: Mark the comment as resolved
      operationId: markScoreCommentResolved
      responses:
        '204':
          description: The comment has been marked as resolved
        '403':
          description: Not granted to mark this comment as resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score or comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores.social
            - scores
    delete:
      tags:
        - Score
      summary: Mark the comment as unresolved
      operationId: markScoreCommentUnresolved
      parameters:
        - name: sharingKey
          in: query
          description: >
            This sharing key must be specified to access to a score or
            collection with a `privacy` mode set to `privateLink` and the
            current user is not a collaborator of the document.
          schema:
            type: string
      responses:
        '204':
          description: The comment has been unmarked as resolved
        '403':
          description: Not granted to unmark this comment as resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score or comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores.social
            - scores
  '/scores/{score}/revisions':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
    get:
      tags:
        - Score
      summary: List the revisions
      description: >
        When creating a score or saving a new version of a score, a revision is
        created in our storage. This method allows you to list all of them,
        sorted by last modification.


        Depending the plan of the account, this list can be trunked to the few
        last revisions.
      operationId: getScoreRevisions
      parameters:
        - name: sharingKey
          in: query
          description: >
            This sharing key must be specified to access to a score or
            collection with a `privacy` mode set to `privateLink` and the
            current user is not a collaborator of the document.
          schema:
            type: string
      responses:
        '200':
          description: List of revisions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreRevision'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
            - scores.readonly
    post:
      tags:
        - Score
      summary: Create a new revision
      description: |
        Update a score by uploading a new revision for this one.
      operationId: createScoreRevision
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreRevisionCreation'
        required: true
      responses:
        '200':
          description: The new created revision metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreRevision'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to modify this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
      x-codegen-request-body-name: body
  '/scores/{score}/revisions/{revision}':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
      - name: revision
        in: path
        description: >
          Unique identifier of a score revision. You can use `last` to fetch the
          information related to the last version created.
        required: true
        schema:
          type: string
      - name: sharingKey
        in: query
        description: >
          This sharing key must be specified to access to a score or collection
          with a `privacy` mode set to `privateLink` and the current user is not
          a collaborator of the document.
        schema:
          type: string
    get:
      tags:
        - Score
      summary: Get a score revision
      description: >
        When creating a score or saving a new version of a score, a revision is
        created in our storage. This method allows you to get a specific

        revision metadata.
      operationId: getScoreRevision
      responses:
        '200':
          description: Revision metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreRevision'
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
            - scores.readonly
  '/scores/{score}/revisions/{revision}/{format}':
    parameters:
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
      - name: revision
        in: path
        description: >
          Unique identifier of a score revision. You can use `last` to fetch the
          information related to the last version created.
        required: true
        schema:
          type: string
      - name: format
        in: path
        description: The format of the file you will retrieve
        required: true
        schema:
          type: string
          enum:
            - json
            - mxl
            - xml
            - mp3
            - wav
            - midi
            - thumbnail.png
            - synchronizationPoints
    get:
      tags:
        - Score
      summary: Get a score revision data
      description: >
        Retrieve the file corresponding to a score revision (the following
        formats are available): Flat JSON/Adagio JSON `json`, MusicXML

        `mxl`/`xml`, MP3 `mp3`, WAV `wav`, MIDI `midi`, a tumbnail of the first
        page `thumbnail.png` or auto sync points `synchronizationPoints`.
      operationId: getScoreRevisionData
      parameters:
        - name: sharingKey
          in: query
          description: >
            This sharing key must be specified to access to a score or
            collection with a `privacy` mode set to `privateLink` and the
            current user is not a collaborator of the document.
          schema:
            type: string
        - name: parts
          in: query
          description: >
            An optional a set of parts uuid to be exported. This parameter must
            be composed of parts uuids

            separated by commas. For example
            "59df645f-bb1c-f1b4-b573-d2afc4491f94,34ef645f-1aef-f3bc-1564-34cca4492b87".
          schema:
            type: string
        - name: onlyCached
          in: query
          description: |
            Only return files already generated and cached in Flat's production
            cache. If the file is not availabe, a 404 will be returned
          schema:
            type: boolean
        - name: url
          in: query
          description: |
            Returns a json with the `url` in it instead of redirecting
          schema:
            type: boolean
      responses:
        '200':
          description: Revision data
          content:
            application/json:
              schema:
                type: string
                format: binary
            application/vnd.recordare.musicxml+xml:
              schema:
                type: string
                format: binary
            application/vnd.recordare.musicxml:
              schema:
                type: string
                format: binary
            audio/mp3:
              schema:
                type: string
                format: binary
            audio/wav:
              schema:
                type: string
                format: binary
            audio/midi:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '402':
          description: Account overquota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '403':
          description: Not granted to access to this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score or associated file not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
            - scores.readonly
  /collections:
    get:
      tags:
        - Collection
      summary: List the collections
      description: >
        Use this method to list the user's collections contained in `parent` (by
        default in the `root` collection).

        If no sort option is provided, the collections are sorted by
        `creationDate` `desc`.


        Note that this method will not include the `parent` collection in the
        listing.

        For example, if you need the details of the `root` collection, you can
        use `GET /v2/collections/root`.
      operationId: listCollections
      parameters:
        - name: parent
          in: query
          description: >
            List the collection contained in this `parent` collection.


            This option doesn't provide a complete multi-level collection
            support.

            When sharing a collection with someone, this one will have as
            `parent` `sharedWithMe`.
          schema:
            type: string
            default: root
        - name: sort
          in: query
          description: Sort
          schema:
            type: string
            enum:
              - creationDate
              - title
        - name: direction
          in: query
          description: Sort direction
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: limit
          in: query
          description: This is the maximum number of objects that may be returned
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 25
        - name: next
          in: query
          description: >
            An opaque string cursor to fetch the next page of data.

            The paginated API URLs are returned in the `Link` header when
            requesting the API. These URLs will contain a `next` and `previous`
            cursor based on the available data.
          schema:
            type: string
        - name: previous
          in: query
          description: >
            An opaque string cursor to fetch the previous page of data.

            The paginated API URLs are returned in the `Link` header when
            requesting the API. These URLs will contain a `next` and `previous`
            cursor based on the available data.
          schema:
            type: string
      responses:
        '200':
          description: List of collections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - collections
            - collections.readonly
    post:
      tags:
        - Collection
      summary: Create a new collection
      description: >
        This method will create a new collection and add it to your `root`
        collection.
      operationId: createCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionCreation'
        required: true
      responses:
        '200':
          description: Collection created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: Bad collection creation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - collections
      x-codegen-request-body-name: body
  '/collections/{collection}':
    parameters:
      - name: collection
        in: path
        description: >
          Unique identifier of the collection.

          The following aliases are supported:

          - `root`: The root collection of the account

          - `sharedWithMe`: Automatically contains new resources that have been
          shared individually

          - `trash`: Automatically contains resources that have been deleted
        required: true
        schema:
          type: string
    get:
      tags:
        - Collection
      summary: Get collection details
      operationId: getCollection
      parameters:
        - name: sharingKey
          in: query
          description: >
            This sharing key must be specified to access to a score or
            collection with a `privacy` mode set to `privateLink` and the
            current user is not a collaborator of the document.
          schema:
            type: string
      responses:
        '200':
          description: Collection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '403':
          description: Not granted to access to this collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - collections
            - collections.readonly
    put:
      tags:
        - Collection
      summary: Update a collection's metadata
      operationId: editCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionModification'
        required: false
      responses:
        '200':
          description: Collection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '403':
          description: Not granted to access to this collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - collections
      x-codegen-request-body-name: body
    delete:
      tags:
        - Collection
      summary: Delete the collection
      description: >
        This method will schedule the deletion of the collection. Until deleted,
        the collection will be available in the `trash`.
      operationId: deleteCollection
      responses:
        '204':
          description: Collection deleted
        '403':
          description: Not granted to access to this collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - collections
  '/collections/{collection}/untrash':
    parameters:
      - name: collection
        in: path
        description: >
          Unique identifier of the collection.

          The following aliases are supported:

          - `root`: The root collection of the account

          - `sharedWithMe`: Automatically contains new resources that have been
          shared individually

          - `trash`: Automatically contains resources that have been deleted
        required: true
        schema:
          type: string
    post:
      tags:
        - Collection
      summary: Untrash a collection
      description: >
        This method will restore the collection by removing it from the `trash`
        and add it back to the `root` collection.
      operationId: untrashCollection
      responses:
        '204':
          description: The score has been untrashed
        '403':
          description: Not granted to manage this score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - collections
  '/collections/{collection}/scores':
    parameters:
      - name: collection
        in: path
        description: >
          Unique identifier of the collection.

          The following aliases are supported:

          - `root`: The root collection of the account

          - `sharedWithMe`: Automatically contains new resources that have been
          shared individually

          - `trash`: Automatically contains resources that have been deleted
        required: true
        schema:
          type: string
      - name: sharingKey
        in: query
        description: >
          This sharing key must be specified to access to a score or collection
          with a `privacy` mode set to `privateLink` and the current user is not
          a collaborator of the document.
        schema:
          type: string
    get:
      tags:
        - Collection
      summary: List the scores contained in a collection
      description: >
        Use this method to list the scores contained in a collection.

        If no sort option is provided, the scores are sorted by
        `modificationDate` `desc`.
      operationId: listCollectionScores
      parameters:
        - name: sort
          in: query
          description: Sort
          schema:
            type: string
            enum:
              - creationDate
              - modificationDate
              - title
        - name: direction
          in: query
          description: Sort direction
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: limit
          in: query
          description: This is the maximum number of objects that may be returned
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 25
        - name: next
          in: query
          description: >
            An opaque string cursor to fetch the next page of data.

            The paginated API URLs are returned in the `Link` header when
            requesting the API. These URLs will contain a `next` and `previous`
            cursor based on the available data.
          schema:
            type: string
        - name: previous
          in: query
          description: >
            An opaque string cursor to fetch the previous page of data.

            The paginated API URLs are returned in the `Link` header when
            requesting the API. These URLs will contain a `next` and `previous`
            cursor based on the available data.
          schema:
            type: string
      responses:
        '200':
          description: List of scores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - collections
  '/collections/{collection}/scores/{score}':
    parameters:
      - name: collection
        in: path
        description: >
          Unique identifier of the collection.

          The following aliases are supported:

          - `root`: The root collection of the account

          - `sharedWithMe`: Automatically contains new resources that have been
          shared individually

          - `trash`: Automatically contains resources that have been deleted
        required: true
        schema:
          type: string
      - name: score
        in: path
        description: >
          Unique identifier of the score document. This can be a Flat Score
          unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a
          Google Drive file, the Drive file unique identifier prefixed with
          `drive-` (e.g. `drive-0B000000000`).
        required: true
        schema:
          type: string
      - name: sharingKey
        in: query
        description: >
          This sharing key must be specified to access to a score or collection
          with a `privacy` mode set to `privateLink` and the current user is not
          a collaborator of the document.
        schema:
          type: string
    put:
      tags:
        - Collection
      summary: Add a score to the collection
      description: >
        This operation will add a score to a collection. The default behavior
        will make the score available across multiple collections.

        You must have the capability `canAddScores` on the provided `collection`
        to perform the action.
      operationId: addScoreToCollection
      responses:
        '200':
          description: Score details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreDetails'
        '403':
          description: Not granted to access to this collection or score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Collection or score not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - collections
            - collections.add_scores
    delete:
      tags:
        - Collection
      summary: Delete a score from the collection
      description: >
        This method will delete a score from the collection. Unlike [`DELETE
        /scores/{score}`](#operation/deleteScore), this score will not remove
        the score from your account, but only from the collection.

        This can be used to *move* a score from one collection to another, or
        simply remove a score from one collection when this one is contained in
        multiple collections.
      operationId: deleteScoreFromCollection
      responses:
        '204':
          description: Score removed from the collection
        '403':
          description: Not granted to access to this collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - collections
  '/users/{user}':
    parameters:
      - name: user
        in: path
        description: >
          This route parameter is the unique identifier of the user. You can
          specify an email instead of an unique identifier. If you are executing
          this request authenticated, you can use `me` as a value instead of the
          current User unique identifier to work on the current authenticated
          user.
        required: true
        schema:
          type: string
    get:
      tags:
        - User
      summary: Get a public user profile
      description: |
        Get a public profile of a Flat User.
      operationId: getUser
      responses:
        '200':
          description: The user public details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPublic'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - account.public_profile
            - account.education_profile
  '/users/{user}/likes':
    parameters:
      - name: user
        in: path
        description: >
          Unique identifier of a Flat user. If you authenticated, you can use
          `me` to refer to the current user.
        required: true
        schema:
          type: string
    get:
      tags:
        - User
        - Score
      summary: List liked scores
      operationId: gerUserLikes
      parameters:
        - name: ids
          in: query
          description: Return only the identifiers of the scores
          schema:
            type: boolean
      responses:
        '200':
          description: List of liked scores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - account.public_profile
  '/users/{user}/scores':
    parameters:
      - name: user
        in: path
        description: >
          Unique identifier of a Flat user. If you authenticated, you can use
          `me` to refer to the current user.
        required: true
        schema:
          type: string
    get:
      tags:
        - User
        - Score
      summary: List user's scores
      description: >
        Get the list of public scores owned by a User.


        **DEPRECATED**: Please note that the current behavior will be
        deprecrated on **2019-01-01**.

        This method will no longer list private and shared scores, but only
        public scores of a Flat account.

        If you want to access to private scores, please use the [Collections
        API](#tag/Collection) instead.
      operationId: getUserScores
      parameters:
        - name: parent
          in: query
          description: Filter the score forked from the score id `parent`
          schema:
            type: string
      responses:
        '200':
          description: The user scores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - scores
            - scores.readonly
      x-code-samples:
        - lang: JavaScript
          source: >
            var FlatApi = require('flat-api');

            FlatApi.ApiClient.instance.authentications.OAuth2.accessToken =
            process.env.FLAT_ACCESS_TOKEN;


            // List the scores for the current authenticated user ("me"):

            new FlatApi.ScoreApi().getUserScores('me', {}, function (error,
            data, response) {
              if (error) {
                console.error(error);
              }
              else {
                console.log('Successfully create the document:', data);
              }
            });
        - lang: PHP
          source: >
            <?php

            require_once(__DIR__ . '/vendor/autoload.php');


            // Configure OAuth2 access token

            Flat\APIClient\Configuration::getDefaultConfiguration()->setAccessToken($_ENV['FLAT_ACCESS_TOKEN']);


            $api = new Flat\APIClient\Api\ScoreApi();


            try {
                $result = $api->getUserScores();
                print_r($result);
            } catch (Exception $e) {
                echo 'Exception when calling ScoreApi->getUserScores: ', $e->getMessage(), PHP_EOL;
            }
  /organizations/users:
    get:
      tags:
        - Organization
      summary: List the organization users
      operationId: listOrganizationUsers
      parameters:
        - name: sort
          in: query
          description: The order to sort the user list
          schema:
            type: string
            items:
              type: string
              enum:
                - firstname
                - lastname
                - lastActivityDate
                - licenseExpirationDate
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/previous'
        - $ref: '#/components/parameters/role'
        - $ref: '#/components/parameters/searchInputQuery'
        - $ref: '#/components/parameters/groupIds'
        - $ref: '#/components/parameters/noActiveLicense'
        - name: licenseExpirationDate
          in: query
          description: Filter users by license expiration date or `active` / `notActive`
          schema:
            type: array
            items:
              type: string
        - name: onlyIds
          in: query
          description: Return only user ids
          schema:
            type: boolean
        - name: limit
          in: query
          description: This is the maximum number of objects that may be returned
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            default: 25
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserDetailsAdmin'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
            - edu.admin.users.readonly
    post:
      tags:
        - Organization
      summary: Create a new user account
      operationId: createOrganizationUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreation'
        required: false
      responses:
        '200':
          description: New user created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailsAdmin'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
      x-codegen-request-body-name: body
  /organizations/users/count:
    get:
      tags:
        - Organization
      summary: Count the organization users using the provided filters
      operationId: countOrgaUsers
      parameters:
        - $ref: '#/components/parameters/role'
        - $ref: '#/components/parameters/searchInputQuery'
        - $ref: '#/components/parameters/groupIds'
        - $ref: '#/components/parameters/noActiveLicense'
      responses:
        '200':
          description: Number of users
          content:
            application/json:
              schema:
                type: integer
                items:
                  $ref: '#/components/schemas/UserDetailsAdmin'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
            - edu.admin.users.readonly
  '/organizations/users/{user}':
    parameters:
      - name: user
        in: path
        description: |
          Unique identifier of the Flat account
        required: true
        schema:
          type: string
    put:
      tags:
        - Organization
      summary: Update account information
      operationId: updateOrganizationUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAdminUpdate'
        required: true
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailsAdmin'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
      x-codegen-request-body-name: body
    delete:
      tags:
        - Organization
      summary: Remove an account from Flat
      description: >
        This operation removes an account from Flat and its data, including:

        * The music scores created by this user (documents, history, comments,
        collaboration information)

        * Education related data (assignments and classroom information)
      operationId: removeOrganizationUser
      parameters:
        - name: convertToIndividual
          in: query
          description: >
            If `true`, the account will be only removed from the organization
            and converted into an individual account on our public website,
            https://flat.io.

            This operation will remove the education-related data from the
            account.

            Before realizing this operation, you need to be sure that the user
            is at least 13 years old and that this one has read and agreed to
            the Individual Terms of Services of Flat available on
            https://flat.io/legal.
          schema:
            type: boolean
      responses:
        '204':
          description: User deleted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
  /organizations/invitations:
    get:
      tags:
        - Organization
      summary: List the organization invitations
      operationId: listOrganizationInvitations
      parameters:
        - name: role
          in: query
          description: Filter users by role
          schema:
            type: string
            enum:
              - user
              - teacher
              - admin
        - name: limit
          in: query
          description: This is the maximum number of objects that may be returned
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            default: 50
        - name: next
          in: query
          description: >
            An opaque string cursor to fetch the next page of data.

            The paginated API URLs are returned in the `Link` header when
            requesting the API. These URLs will contain a `next` and `previous`
            cursor based on the available data.
          schema:
            type: string
        - name: previous
          in: query
          description: >
            An opaque string cursor to fetch the previous page of data.

            The paginated API URLs are returned in the `Link` header when
            requesting the API. These URLs will contain a `next` and `previous`
            cursor based on the available data.
          schema:
            type: string
      responses:
        '200':
          description: List of invitations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationInvitation'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
            - edu.admin.users.readonly
    post:
      tags:
        - Organization
      summary: Create a new invitation to join the organization
      description: >
        This method creates and sends invitation for teachers and admins.


        Invitations can only be used by new Flat users or users who are not part
        of the organization yet.


        If the email of the user is already associated to a user of your
        organization, the API will simply update the role of the existing user
        and won't send an invitation. In this case, the property `usedBy` will
        be directly filled with the uniquer identifier of the corresponding
        user.
      operationId: createOrganizationInvitation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInvitationCreation'
        required: false
      responses:
        '200':
          description: New invitation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvitation'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
      x-codegen-request-body-name: body
  '/organizations/invitations/{invitation}':
    parameters:
      - name: invitation
        in: path
        description: Unique identifier of the invitation
        required: true
        schema:
          type: string
    delete:
      tags:
        - Organization
      summary: Remove an organization invitation
      operationId: removeOrganizationInvitation
      responses:
        '204':
          description: The invitation has been removed
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
  /organizations/lti/credentials:
    get:
      tags:
        - Organization
      summary: List LTI 1.x credentials
      operationId: listLtiCredentials
      responses:
        '200':
          description: The list of LTI Credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LtiCredentials'
        '403':
          description: Not admin of an organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.lti
            - edu.admin.lti.readonly
    post:
      tags:
        - Organization
      summary: Create a new couple of LTI 1.x credentials
      description: >
        Flat for Education is a Certified LTI Provider. You can use these API
        methods to automate the creation of LTI credentials. You can read more
        about our LTI implementation, supported components and LTI Endpoints in
        our [Developer Documentation](https://flat.io/developers/docs/lti/).
      operationId: createLtiCredentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LtiCredentialsCreation'
        required: true
      responses:
        '200':
          description: The LTI Credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LtiCredentials'
        '403':
          description: Not admin of an organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.lti
      x-codegen-request-body-name: body
  '/organizations/lti/credentials/{credentials}':
    parameters:
      - name: credentials
        in: path
        description: |
          Credentials unique identifier
        required: true
        schema:
          type: string
    delete:
      tags:
        - Organization
      summary: Revoke LTI 1.x credentials
      operationId: revokeLtiCredentials
      responses:
        '204':
          description: Credentials revoked
        '403':
          description: Not admin of an organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        '404':
          description: Credentials not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.lti
  /classes:
    get:
      tags:
        - Class
      summary: List the classes available for the current user
      operationId: listClasses
      parameters:
        - name: state
          in: query
          description: Filter the classes by state
          schema:
            type: string
            default: active
            enum:
              - active
              - inactive
              - archived
      responses:
        '200':
          description: The list of classes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClassDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatErrorResponse'
      security:
        - OAuth2:
            - edu.classes
            - edu.classes.readonly
    post:
      tags:
        - Class
      summary: Create a new class
      description: >
        Classrooms on Flat allow you to create activities with assignments and
        post content to a specific group.


        When creating a class, Flat automatically creates two groups: one for
        the teachers of the course, one for the students. The creator of this
        class is automatically added to the teachers group.


        If the classsroom is synchronized with another application like Google
        Classroom, some of the meta information will automatically be updated.


[...]
