openapi: 3.0.1
info:
  title: DocuSign Rooms API - v2
  description: >-
    This is a generated connector for [DocuSign Rooms API](https://developers.docusign.com/docs/rooms-api/) OpenAPI specification. 
    DocuSign Rooms streamlines real estate and mortgage workflows by connecting all parties in a digital, secure, and central workspace. With the DocuSign Rooms API, it’s easy to integrate Rooms functionality into your own solutions.
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com
    email: devcenter@docusign.com
  version: v2
  x-ballerina-init-description: 
    The connector initialization requires setting the API credentials.

    Create a [DocuSign account](https://www.docusign.com/) and obtain tokens by following [this guide](https://developers.docusign.com/docs/rooms-api/rooms101/auth/).
  x-ballerina-display:
    label: DocuSign Rooms
    iconPath: "icon.png"
externalDocs:
  description: Rooms API Reference
  url: https://developers.docusign.com/docs/rooms-api/reference/
servers:
- url: https://rooms.docusign.com/restapi
security:
- Bearer: []
tags:
- name: FormDetails
  description: |+
    This section shows you how to retrieve a form's details.

- name: Accounts
  description: Information about accounts.
- name: Documents
  description: Methods to grant access, delete, and get information, including contents,
    to a document.
- name: ESignPermissionProfiles
  description: This resource provides a method that returns a list of the  eSignature
    permission profiles that the current user can assign to a new member.
- name: Fields
  description: Information about field sets.
- name: ExternalFormFillSessions
  description: ""
- name: FormGroups
  description: With the appropriate permissions, form administrators at your company
    can create form groups, or curated set of forms gathered from the association
    **form libraries** to which DocuSign provides access. Form groups enable agents
    to know which forms to add to rooms based on the type of transaction they are
    working on. When creating groups, administrators can make certain forms required,
    ensuring compliance. If you don't create groups, agents will have to choose forms
    they need from a list of association forms.
- name: FormLibraries
  description: ""
- name: ClosingStatuses
  description: ""
- name: ContactSides
  description: ""
- name: Countries
  description: ""
- name: Currencies
  description: ""
- name: FinancingTypes
  description: ""
- name: OriginsOfLeads
  description: In the console, these are the values that can appear on a room's **Details**
    tab in the **Origin of lead** field.
- name: PropertyTypes
  description: In the console, these are the values that can appear on a room's **Details**
    tab in the **Property type** field.
- name: RoomContactTypes
  description: ""
- name: SellerDecisionTypes
  description: ""
- name: SpecialCircumstanceTypes
  description: ""
- name: States
  description: ""
- name: TaskDateTypes
  description: Task date types are the options that appear in the **Due Date** drop-down
    list when you create a task by using the console.
- name: TaskResponsibilityTypes
  description: ""
- name: TaskStatuses
  description: ""
- name: TimeZones
  description: ""
- name: TransactionSides
  description: ""
- name: Offices
  description: The `Offices` resource enables you to create and manage offices for
    your company. You can also retrieve the number and type of objects that reference
    an office.
- name: Regions
  description: ""
- name: Roles
  description: |-
    Each role is associated with specific permissions. Each new member is assigned a role when you create them, automatically granting them the permissions associated with that role.

    Roles use the following permission types to control the actions that users can perform:

    - Room
    - Room Details
    - Documents
    - Envelopes
    - Member Management
    - Company Settings

    ## Roles in Rooms v5

    Rooms v5 has three predefined roles:

    - **Admin**: This role can manage all members and company settings.
    - **Manager**: This role is designed to manage rooms in one or more offices or regions. Depending on the permissions that you set for the individual member in the `ClassicManagerPermissions`, managers can also perform additional tasks, such as managing member accounts and company account information.
    - **Agent**: This role is for contributors who only have access to rooms that they create or that are created for them. Agents cannot manage company settings or other members.

    However, you can reconfigure the `permissions` for these roles in the `Members` object.

    [members]: ./Members. h t m l Fix this when we can link to objects.
    [ClassicMemberPermissions]: ./definition/ClassicManagerPermissions. h t m l

    ## Roles in Rooms v6

    Rooms v6 enables you to fully configure custom roles containing permissions that make sense for your company. Because each new member is assigned a role, you must set up these roles before you can invite members to join your account.
    In Rooms v6, permissions for roles are tied to the `roleId` property and not yet exposed. You can learn more about these permission types and configure them in the console.

    ### Internal and External Roles

    In Rooms v6, a role can be either internal or external. You assign internal roles to people inside your company. You assign external roles to people outside your company when you invite them to a room.

    Each member inside your company has a default company role. However, they can also be assigned additional roles with different permissions on a per-room basis. Regardless of the member's default company role, what they can do in a room is entirely controlled by their role in that particular room.
- name: Rooms
  description: A room can hold documents, envelopes, a list of tasks comprising a
    workflow, and other related information. You can invite others to this space and
    assign them permissions on a per-room basis.
- name: RoomFolders
  description: ""
- name: RoomTemplates
  description: You can use a room template to set the transaction side and task lists
    for rooms. For example, a broker can create a room template for agents to use.
    You can enable the room template for all regions and offices, or just for specific
    ones. You create room templates and the task templates that room templates use
    in the console.
- name: TaskLists
  description: ""
- name: TaskListTemplates
  description: If your administrator created room templates, those room templates
    may include task lists for you to use.
- name: Users
  description: |-
    A new user is created when an account administrator or another authorized user sends an invitation to an email address. After the invitation is sent, the user's status is `pending`. When the recipient accepts the invitation, their user status switches to `active`.

    ## Inviting a user to a room

    To invite a user to a room, use the [Rooms_InviteUser][RoomsInviteUser] method. You can invite anyone to join a room by specifying their email address.

    **Note**: In Rooms Version 6, you must have the `canAddUsersToRooms` permission set to **true** to invite a user to a room.

    ## Adding a user to a company Rooms account

    This section describes how to add users in each version of the Rooms product, as well as the permissions required to perform this action.

    ### Rooms Version 5

    To invite users to a company in Rooms Version 5, you must either be an Admin or have a Manager role for which the `canManageCompanyMembers` permission is set to `true`.

    In Rooms Version 5, you use the `inviteClassicAdmin`, `inviteClassicAgent`, and `inviteClassicManager` methods.

    ### Rooms Version 6

    To invite users to a company in Rooms Version 6, you must be either an account administrator (In Rooms Version 6, this is the Default Admin) or another authorized user who is assigned a company role that has one of the following `userPermissions` set to **true**:

    - `canAddMemberAndSetRoleLowerAccessLevel`: Users can add other users who have a lower access level than their own and set those users' roles (in offices or regions that they oversee).
    - `canAddMemberAndSetRoleSameAccessLevel`: Users can add other users who have the same access level as their own and set those users' roles (in offices or regions that they oversee or belong to).

    In Rooms Version 6, you use the [Users_inviteUser][UsersInviteUser] method.

    **Note**: Before you invite users in the Rooms Version 6, we strongly recommend that you set up custom roles for your company. For more information, see [Roles][Roles].

    [Roles]:  https://developers.docusign.com/docs/rooms-api/reference/Roles/Roles/


    ## Using the API to invite a user

    The Rooms API method that you use to invite a user depends on the version of Rooms that you are using.

    ### Rooms Version 5

    Rooms Version 5 offers the following API methods, which enable you to invite users by predefined role:

    - [InviteClassicAdmin][InviteClassicAdmin]
    - [InviteClassicAgent][InviteClassicAgent]
    - [InviteClassicManager][InviteClassicManager]

    [InviteClassicAdmin]: https://developers.docusign.com/docs/rooms-api/reference/Users/Users/InviteClassicAdmin/
    [InviteClassicAgent]: https://developers.docusign.com/docs/rooms-api/reference/Users/Users/InviteClassicAgent/
    [InviteClassicManager]: https://developers.docusign.com/docs/rooms-api/reference/Users/Users/InviteClassicManager/

    ### Rooms Version 6

    If you are using Rooms Version 6, you can use a single API method to invite users and assign them to custom roles:

    [InviteUser][InviteUser]

    [InviteUser]: https://developers.docusign.com/docs/rooms-api/reference/Users/Users/InviteUser/
    [RoomsInviteUser]: https://developers.docusign.com/docs/rooms-api/reference/Rooms/Rooms/InviteUser/
    [UsersInviteUser]: https://developers.docusign.com/docs/rooms-api/reference/Users/Users/InviteUser/
paths:
  /v2/accounts/{accountId}:
    get:
      tags:
      - Accounts
      summary: Gets account information.
      description: Returns details about a company account.
      operationId: Get Account Information
      parameters:
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Account information successfully retrieved
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AccountSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountSummary'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetAccountInformation
      x-ds-method: GetAccountInformation
      x-ds-service: Accounts
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/documents/{documentId}:
    get:
      tags:
      - Documents
      summary: Gets information about or the contents of a document.
      description: |-
        Returns information about a document in a room. You can optionally request the contents of the document, which is returned in base64-encoded format.

        To find the `documentId` of the document that you want to retrieve, use the Rooms::GetDocuments method.
      operationId: Get Document
      parameters:
      - name: documentId
        in: path
        description: (Required) The id of the document.
        required: true
        schema:
          type: integer
          format: int32
      - name: includeContents
        in: query
        description: (Optional) When set to **true**, includes the contents of the
          document in the `base64Contents` property of the response. The default value
          is **false**.
        schema:
          type: boolean
          default: false
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Document successfully retrieved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Document'
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
            text/json:
              schema:
                $ref: '#/components/schemas/Document'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetDocument
      x-ds-method: GetDocument
      x-ds-service: Documents
      x-ds-in-sdk: true
    delete:
      tags:
      - Documents
      summary: Deletes a specified document.
      description: |-
        Permanently deletes a document. To find the `documentId` of a document that you want to delete, use the Rooms::GetDocuments method.

        If the document is deleted successfully, the HTTP response code is 204 (No Content), so the response body is empty.
      operationId: Delete Document
      parameters:
      - name: documentId
        in: path
        description: The ID of the document.
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Document has been successfully deleted.
          content: {}
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: DeleteDocument
      x-ds-method: DeleteDocument
      x-ds-service: Documents
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/documents/{documentId}/users:
    post:
      tags:
      - Documents
      summary: Grants a user access to a document.
      description: Grants a user access to a document. You specify the user's `userId`
        in the request body. The response is an object that specifies the access the
        user has.
      operationId: Create User Access to Document
      parameters:
      - name: documentId
        in: path
        description: The ID of the document.
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      requestBody:
        description: "User information to grant access"
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DocumentUserForCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUserForCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/DocumentUserForCreate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DocumentUserForCreate'
        required: false
      responses:
        201:
          description: User successfully granted access to document.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DocumentUser'
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUser'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentUser'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: CreateDocumentUser
      x-ds-method: CreateDocumentUser
      x-ds-service: Documents
      x-ds-in-sdk: true
      x-codegen-request-body-name: body
  /v2/accounts/{accountId}/esign_permission_profiles:
    get:
      tags:
      - ESignPermissionProfiles
      summary: Gets eSignature Permission Profiles.
      description: When you create or invite a new member in Rooms, the system creates
        an eSignature account for the member at the same time. This method returns
        a list of the eSignature permission profiles that the current user may be
        able to assign to a new member. The current user may not assign a permission
        higher than their own permission.
      operationId: Get ESign Permission Profiles
      parameters:
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Permission profiles successfully retrieved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ESignPermissionProfileList'
            application/json:
              schema:
                $ref: '#/components/schemas/ESignPermissionProfileList'
            text/json:
              schema:
                $ref: '#/components/schemas/ESignPermissionProfileList'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetESignPermissionProfiles
      x-ds-method: GetESignPermissionProfiles
      x-ds-service: ESignPermissionProfiles
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/external_form_fill_sessions:
    post:
      tags:
      - ExternalFormFillSessions
      summary: Creates an external form fill session.
      description: Returns a URL for a new external form fill session, based on the
        `roomId` and `formId` that you specify in the `formFillSessionForCreate` request
        body.
      operationId: Create External Form Fill Session
      parameters:
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      requestBody:
        description: Details required to create a form fill session.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ExternalFormFillSessionForCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalFormFillSessionForCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/ExternalFormFillSessionForCreate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExternalFormFillSessionForCreate'
        required: false
      responses:
        201:
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ExternalFormFillSession'
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFormFillSession'
            text/json:
              schema:
                $ref: '#/components/schemas/ExternalFormFillSession'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: CreateExternalFormFillSession
      x-ds-method: CreateExternalFormFillSession
      x-ds-service: ExternalFormFillSessions
      x-ds-in-sdk: true
      x-codegen-request-body-name: body
  /v2/accounts/{accountId}/field_sets/{fieldSetId}:
    get:
      tags:
      - Fields
      summary: Gets a field set.
      description: Returns a field set. This is a set of fields that can appear on
        a room's Details tab in the console, such as `contactName` and `phone`.
      operationId: Get Field Set
      parameters:
      - name: fieldSetId
        in: path
        description: |
          (Required) The id of the field set.

          Example: `4aef602b-xxxx-xxxx-xxxx-08d76696f678`
        required: true
        schema:
          type: string
          format: uuid
      - name: fieldsCustomDataFilters
        in: query
        description: |
          (Optional) An comma-separated list that limits the fields to return:

          - `IsRequiredOnCreate`: include fields that are required in room creation.
          - `IsRequiredOnSubmit`: include fields that are required when submitting a room for review.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - None
            - IsRequiredOnCreate
            - IsRequiredOnSubmit
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: FieldSet successfully retrieved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FieldSet'
            application/json:
              schema:
                $ref: '#/components/schemas/FieldSet'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldSet'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFieldSet
      x-ds-method: GetFieldSet
      x-ds-service: Fields
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_groups:
    get:
      tags:
      - FormGroups
      summary: Gets form groups.
      description: "Returns the company form groups to which the current user has\
        \ access.\n\n## Permissions \n\n**Rooms Version 5**: You must be Admin to\
        \ use this method.\n\n**Rooms Version 6**: You must have a role for which\
        \ the `canManageFormGroups` permission is set to **true**.\n"
      operationId: Get Form Groups
      parameters:
      - name: count
        in: query
        description: (Optional) The number of results to return. This value must be
          a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: (Optional) The starting zero-based index position of the results
          set. The default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successfully retrieved Form Groups.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroupSummaryList'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroupSummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroupSummaryList'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormGroups
      x-ds-method: GetFormGroups
      x-ds-service: FormGroups
      x-ds-in-sdk: true
    post:
      tags:
      - FormGroups
      summary: Creates a form group.
      description: |
        Creates a new form group with the name given in the `name` property of the request body.

        ## Permissions

        To use this method, you must have the following permissions set to **true**:

        - Rooms Version 5: Admin
        - Rooms Version 6: Manage Form Groups (`canManageFormGroups`)
      operationId: Create Form Group
      parameters:
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      requestBody:
        description: Request object for FormGroup::CreateFormGroup.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FormGroupForCreate'
        required: false
      responses:
        201:
          description: Successfully created form group.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: CreateFormGroup
      x-ds-method: CreateFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
      x-codegen-request-body-name: body
  /v2/accounts/{accountId}/form_groups/{formGroupId}:
    get:
      tags:
      - FormGroups
      summary: Gets a form group.
      description: |
        Get the specified form group.

        ## Permissions

        To use this method, you must have the following permissions set to **true**:

        - Rooms Version 5: Admin
        - Rooms Version 6: Manage Form Groups (`canManageFormGroups`)
      operationId: Get Form Group
      parameters:
      - name: formGroupId
        in: path
        description: |
          The ID of the form group.

          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successfully retrieved form group.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormGroup
      x-ds-method: GetFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
    put:
      tags:
      - FormGroups
      summary: Renames a form group.
      description: |
        Renames the specified form group with the name given in the `name` property of the request.

        ## Permissions

        To use this method, you must have the following permissions set to **true**:

        - Rooms Version 5: Admin
        - Rooms Version 6: Manage Form Groups (`canManageFormGroups`)
      operationId: Rename Form Group
      parameters:
      - name: formGroupId
        in: path
        description: |
          The ID of the form group.

          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      requestBody:
        description: Details about a form group
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
          text/json:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FormGroupForUpdate'
        required: false
      responses:
        200:
          description: Successfully updated form group.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroup'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: RenameFormGroup
      x-ds-method: RenameFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
      x-codegen-request-body-name: body
    delete:
      tags:
      - FormGroups
      summary: Deletes a form group.
      description: |
        Deletes the specified form group.

        ## Permissions

        To use this method, you must have the following permissions set to **true**:

        - Rooms Version 5: Admin
        - Rooms Version 6: Manage Form Groups (`canManageFormGroups`)
      operationId: Delete FormGroup
      parameters:
      - name: formGroupId
        in: path
        description: |
          The ID of the form group.

          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Successfully deleted form group.
          content: {}
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: DeleteFormGroup
      x-ds-method: DeleteFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_groups/{formGroupId}/unassign_form/{formId}:
    post:
      tags:
      - FormGroups
      summary: Removes a form from a form group.
      description: |
        Removes the form `formId` from the form group `formGroupId`.

        ## Permissions

        To use this method, you must have the following permissions set to **true**:

        - Rooms Version 5: Admin
        - Rooms Version 6: Manage Form Groups (`canManageFormGroups`)
      operationId: Remove Form in Form Group 
      parameters:
      - name: formGroupId
        in: path
        description: |
          The ID of the form group.

          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`
        required: true
        schema:
          type: string
          format: uuid
      - name: formId
        in: path
        description: |
          The id of the form.

          Example: `5be324eb-xxxx-xxxx-xxxx-208065181be9`
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Form was successfully removed from the form group
          content: {}
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: RemoveFormGroupForm
      x-ds-method: RemoveFormGroupForm
      x-ds-service: FormGroups
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_groups/{formGroupId}/assign_form:
    post:
      tags:
      - FormGroups
      summary: Assigns a form to a form group.
      description: |
        Assigns the form specified in the `formId` property of the request to the form group `formGroupId`. Set the `isRequired` property in the request body to **true** if this is a required form.

        ## Permissions

        To use this method, you must have the following permissions set to **true**:

        - Rooms Version 5: Admin
        - Rooms Version 6: Manage Form Groups (`canManageFormGroups`)
      operationId: Assign Form to Form Group
      parameters:
      - name: formGroupId
        in: path
        description: |
          The ID of the form group.

          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      requestBody:
        description: "Group information to assign form"
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
          application/json:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
          text/json:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FormGroupFormToAssign'
        required: false
      responses:
        204:
          description: Successfully assigned form to form group.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormGroupFormToAssign'
            application/json:
              schema:
                $ref: '#/components/schemas/FormGroupFormToAssign'
            text/json:
              schema:
                $ref: '#/components/schemas/FormGroupFormToAssign'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: AssignFormGroupForm
      x-ds-method: AssignFormGroupForm
      x-ds-service: FormGroups
      x-ds-in-sdk: true
      x-codegen-request-body-name: body
  /v2/accounts/{accountId}/form_groups/{formGroupId}/grant_office_access/{officeId}:
    post:
      tags:
      - FormGroups
      summary: Grants an office access to a form group.
      description: |
        Grants the office `officeId` access to the form group `formGroupId`.

        ## Permissions

        To use this method, you must have the following permissions set to **true**:

        - Rooms Version 5: Admin
        - Rooms Version 6: Manage Form Groups (`canManageFormGroups`)
      operationId: Grant Office Access To Form Group
      parameters:
      - name: formGroupId
        in: path
        description: |
          The ID of the form group.

          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`
        required: true
        schema:
          type: string
          format: uuid
      - name: officeId
        in: path
        description: The id of the office. This is the id that the system generated
          when you created the office.
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Office was successfully assigned to the form group
          content: {}
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GrantOfficeAccessToFormGroup
      x-ds-method: GrantOfficeAccessToFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_groups/{formGroupId}/revoke_office_access/{officeId}:
    post:
      tags:
      - FormGroups
      summary: Revoke an office's access to a form group.
      description: |
        Revoke access to the form group `formGroupId` from the office `officeId`.

        ## Permissions

        To use this method, you must have the following permissions set to **true**:

        - Rooms Version 5: Admin
        - Rooms Version 6: Manage Form Groups (`canManageFormGroups`)
      operationId: Revoke Office Access From Form Group
      parameters:
      - name: formGroupId
        in: path
        description: |
          The ID of the form group.

          Example: `7b879c89-xxxx-xxxx-xxxx-819d6a85e0a1`
        required: true
        schema:
          type: string
          format: uuid
      - name: officeId
        in: path
        description: The id of the office. This is the id that the system generated
          when you created the office.
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        description: The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Office was successfully removed from the form group
          content: {}
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: RevokeOfficeAccessFromFormGroup
      x-ds-method: RevokeOfficeAccessFromFormGroup
      x-ds-service: FormGroups
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_libraries:
    get:
      tags:
      - FormLibraries
      summary: Gets form libraries.
      description: |-
        Returns a list of form libraries to which the current user has access.

        ## Permissions

        All users can use this method, but the results will differ based on whether the company has asked DocuSign to enable **RequireOfficeLibraryAssignments** functionality. If this functionality is enabled for the account, then the list is filtered based on the offices that the user is in and the libraries that are assigned to those offices. If **RequireOfficeLibraryAssignments**  is not enabled, the API returns all results.
      operationId: Get Form Libraries
      parameters:
      - name: count
        in: query
        description: (Optional) The number of results to return. This value must be
          a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: (Optional) The starting zero-based index position of the results
          set. The default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successfully retrieved Form Libraries.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
            application/json:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/FormLibrarySummaryList'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormLibraries
      x-ds-method: GetFormLibraries
      x-ds-service: FormLibraries
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/form_libraries/{formLibraryId}/forms:
    get:
      tags:
      - FormLibraries
      summary: Gets the forms in a form library.
      description: Returns a list of forms  to which the current user has access in
        the specified form library.
      operationId: Get Forms in Form Library Forms
      parameters:
      - name: formLibraryId
        in: path
        description: |
          (Required) The id of the form library.

          Example: `402c6e2f-xxxx-xxxx-xxxx-ff3f249f6da9`
        required: true
        schema:
          type: string
          format: uuid
      - name: count
        in: query
        description: (Optional) The number of results to return. This value must be
          a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: (Optional) The starting zero-based index position of the results
          set. The default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: 'Successfully retrieved library '
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
            application/json:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/FormSummaryList'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormLibraryForms
      x-ds-method: GetFormLibraryForms
      x-ds-service: FormLibraries
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/forms/{formId}/details:
    get:
      tags:
      - FormDetails
      summary: Gets form details.
      description: Returns details about a specific form, such as the date it was
        created and last updated, the number of pages, the form owner, and other information.
      operationId: Get Form Details
      parameters:
      - name: formId
        in: path
        description: (Required) The id of the form.
        required: true
        schema:
          type: string
          format: uuid
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Form based on FormId
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FormDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/FormDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/FormDetails'
        400:
          description: Unable to Find Form based on FormId
          content: {}
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFormDetails
      x-ds-method: GetFormDetails
      x-ds-service: FormDetails
      x-ds-in-sdk: true
  /v2/countries:
    get:
      tags:
      - Countries
      summary: Gets countries.
      description: |-
        Returns a list of countries that the API supports. This is a list of countries in which you can create an office.

        You do not specify an `accountId` or any other parameters with this method.

        ## Permissions

        Any user with a valid access token can use this method.
      operationId: Get Countries
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalCountries'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalCountries'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalCountries'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetCountries
      x-ds-method: GetCountries
      x-ds-service: Countries
      x-ds-in-sdk: true
  /v2/closing_statuses:
    get:
      tags:
      - ClosingStatuses
      summary: Gets closing statuses.
      description: |-
        Returns a list of closing statuses, or valid reasons for closing a room.

        You do not specify an `accountId` or any other parameters with this method.

        ## Permissions

        Any user with a valid access token can use this method.
      operationId: Get Closing Statuses
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalClosingStatuses'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalClosingStatuses'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalClosingStatuses'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetClosingStatuses
      x-ds-method: GetClosingStatuses
      x-ds-service: ClosingStatuses
      x-ds-in-sdk: true
  /v2/contact_sides:
    get:
      tags:
      - ContactSides
      summary: Gets contact sides.
      description: |-
        Return a list of valid values for transaction contact sides.

        **Note**: You do not specify an `accountId` or any other parameters with this method.

        ## Permissions

        Any user who has a valid access token can use this method.
      operationId: Get Contact Sides
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalContactSides'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalContactSides'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalContactSides'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetContactSides
      x-ds-method: GetContactSides
      x-ds-service: ContactSides
      x-ds-in-sdk: true
  /v2/financing_types:
    get:
      tags:
      - FinancingTypes
      summary: Gets financing types.
      description: |-
        Returns a list of possible financing types.


        ## Permissions

        Any user with a valid access token can use this method.
      operationId: Get Financing Types
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalFinancingTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFinancingTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalFinancingTypes'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetFinancingTypes
      x-ds-method: GetFinancingTypes
      x-ds-service: FinancingTypes
      x-ds-in-sdk: true
  /v2/origins_of_leads:
    get:
      tags:
      - OriginsOfLeads
      summary: Gets origins of leads.
      description: |-
        Returns a list of origins of leads (such as Trulia or Zillow) that you can specify for rooms.

        ## Permissions

        Anyone with a valid access token can call this method.
      operationId: Get Origins Of Leads
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalOriginsOfLeads'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalOriginsOfLeads'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalOriginsOfLeads'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetOriginsOfLeads
      x-ds-method: GetOriginsOfLeads
      x-ds-service: OriginsOfLeads
      x-ds-in-sdk: true
  /v2/property_types:
    get:
      tags:
      - PropertyTypes
      summary: Gets property types.
      description: |-
        Returns a list of property types.

        ## Permissions

        Anyone with a valid access token can call this method.
      operationId: Get Property Types
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalPropertyTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalPropertyTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalPropertyTypes'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetPropertyTypes
      x-ds-method: GetPropertyTypes
      x-ds-service: PropertyTypes
      x-ds-in-sdk: true
  /v2/room_contact_types:
    get:
      tags:
      - RoomContactTypes
      summary: Gets room contact types.
      description: |-
        Returns a list of room contact types, such as Buyer, Seller, and Listing Agent.

        ## Permissions

        Anyone with a valid access token can call this method.
      operationId: Get Room Contact Types
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalRoomContactTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalRoomContactTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalRoomContactTypes'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetRoomContactTypes
      x-ds-method: GetRoomContactTypes
      x-ds-service: RoomContactTypes
      x-ds-in-sdk: true
  /v2/seller_decision_types:
    get:
      tags:
      - SellerDecisionTypes
      summary: Gets seller decision types.
      description: |-
        Returns a list of possible seller decision types regarding offers, such as `Countered` or `Rejected`.

        ## Permissions

        Any user with a valid access token can use this method.
      operationId: Get Seller Decision Types
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalSellerDecisionTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalSellerDecisionTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalSellerDecisionTypes'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetSellerDecisionTypes
      x-ds-method: GetSellerDecisionTypes
      x-ds-service: SellerDecisionTypes
      x-ds-in-sdk: true
  /v2/special_circumstance_types:
    get:
      tags:
      - SpecialCircumstanceTypes
      summary: Gets special circumstance types.
      description: |-
        Returns a list of special circumstance types, such as `Short Sale` and `Foreclosure`. These are the values that you can select for the **Special circumstances** field that appears on the **Room Details** page.

        ## Permissions

        Anyone with a valid access token can call this method.
      operationId: Get Special Circumstance Types
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalSpecialCircumstanceTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalSpecialCircumstanceTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalSpecialCircumstanceTypes'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetSpecialCircumstanceTypes
      x-ds-method: GetSpecialCircumstanceTypes
      x-ds-service: SpecialCircumstanceTypes
      x-ds-in-sdk: true
  /v2/task_date_types:
    get:
      tags:
      - TaskDateTypes
      summary: Gets task date types.
      description: |-
        Returns a list of date types that you can use with tasks, such as `Actual Close Date` and `Task Due Date`. These are the options that appear in the **Due Date** drop-down list when you create a task by using the console.

        **Note**: You do not enter an `accountId` with this method.

        ## Permissions

        Any user with a valid access token can use this method.
      operationId: Get Task Date Types
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalTaskDateTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalTaskDateTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalTaskDateTypes'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetTaskDateTypes
      x-ds-method: GetTaskDateTypes
      x-ds-service: TaskDateTypes
      x-ds-in-sdk: true
  /v2/task_responsibility_types:
    get:
      tags:
      - TaskResponsibilityTypes
      summary: Gets task responsibility types.
      description: "Returns a list of responsibility types that you can assign to\
        \ users when you add them to a task. \n\n**Note**: You do not specify an `accountId`\
        \ with this method.\n\n## Permissions\n\nAny user with a valid access token\
        \ can call this method."
      operationId: Get Task Responsibility Types
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalTaskResponsibilityTypes'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalTaskResponsibilityTypes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalTaskResponsibilityTypes'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetTaskResponsibilityTypes
      x-ds-method: GetTaskResponsibilityTypes
      x-ds-service: TaskResponsibilityTypes
      x-ds-in-sdk: true
  /v2/task_statuses:
    get:
      tags:
      - TaskStatuses
      summary: Retrieves the list of valid task statuses.
      operationId: Get Task Statuses
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalTaskStatuses'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalTaskStatuses'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalTaskStatuses'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetTaskStatuses
      x-ds-method: GetTaskStatuses
      x-ds-service: TaskStatuses
      x-ds-in-sdk: true
  /v2/transaction_sides:
    get:
      tags:
      - TransactionSides
      summary: Gets transaction sides.
      description: "Returns a list of real estate transaction sides. \n\n## Permissions\n\
        \nAny user with a valid access token can use this method."
      operationId: Get Transaction Sides
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalTransactionSides'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalTransactionSides'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalTransactionSides'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetTransactionSides
      x-ds-method: GetTransactionSides
      x-ds-service: TransactionSides
      x-ds-in-sdk: true
  /v2/states:
    get:
      tags:
      - States
      summary: Gets states.
      description: |-
        Returns a list of states.

        **Note**: You do not enter an `accountId` with this method.

        ## Permissions

        Anyone with a valid access token can call this method.
      operationId: Get States
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalStates'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalStates'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalStates'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetStates
      x-ds-method: GetStates
      x-ds-service: States
      x-ds-in-sdk: true
  /v2/currencies:
    get:
      tags:
      - Currencies
      summary: Gets valid currencies.
      description: |-
        Returns a list of valid values for the currencies that you can use for listing, offer, and loan amounts.

        **Note**: You do not specify an `accountId` with this method.

        ## Permissions

        Any user with a valid access token can use this method.
      operationId: Get Currencies
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalCurrencies'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalCurrencies'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalCurrencies'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetCurrencies
      x-ds-method: GetCurrencies
      x-ds-service: Currencies
      x-ds-in-sdk: true
  /v2/time_zones:
    get:
      tags:
      - TimeZones
      summary: Gets time zones.
      description: |-
        Gets a list of time zones that you can assign to an office.

        **Note**: You do not specify an `accountId` with this method.

        ## Permissions

        Anyone with a valid access token can call this method.
      operationId: Get Time Zones
      responses:
        200:
          description: Request was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalTimeZones'
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalTimeZones'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalTimeZones'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetTimeZones
      x-ds-method: GetTimeZones
      x-ds-service: TimeZones
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/offices:
    get:
      tags:
      - Offices
      summary: Gets offices.
      description: This method returns a list of offices associated with an account.
      operationId: Get Offices
      parameters:
      - name: count
        in: query
        description: (Optional) The number of results to return. This value must be
          a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: (Optional) The starting zero-based index position of the results
          set from which to begin returning values. The default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: onlyAccessible
        in: query
        description: (Optional) When set to **true**, the response only includes the
          offices that are accessible to the current user.
        schema:
          type: boolean
          default: false
      - name: search
        in: query
        description: (Optional) Filters returned records by the specified string.
          The response only includes records containing this string in the office
          `name` field.
        schema:
          type: string
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Offices successfully retrieved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OfficeSummaryList'
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeSummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/OfficeSummaryList'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetOffices
      x-ds-method: GetOffices
      x-ds-service: Offices
      x-ds-in-sdk: true
    post:
      tags:
      - Offices
      summary: Creates an office.
      description: |-
        This method creates an office in a Rooms account. You can configure the following information for the new office:

        - Office name
        - Region
        - Address
        - Country ID and time zone
        - Phone number

        When you create an office, the Rooms API service assigns it an ID (`officeId`) and timestamp (`createdDate`), which are returned in the response along with the above data elements you specified. See the `Offices` object for descriptions of these data elements.

        Use the [Users::AddUserToOffice](https://developers.docusign.com/docs/rooms-api/reference/users/users/addusertooffice/)
        method to add users to the office.
      operationId: Create Office
      parameters:
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      requestBody:
        description: Details about the office that you want to create.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OfficeForCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/OfficeForCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/OfficeForCreate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OfficeForCreate'
        required: false
      responses:
        201:
          description: Office successfully created.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Office'
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
            text/json:
              schema:
                $ref: '#/components/schemas/Office'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: CreateOffice
      x-ds-method: CreateOffice
      x-ds-service: Offices
      x-ds-in-sdk: true
      x-codegen-request-body-name: body
  /v2/accounts/{accountId}/offices/{officeId}:
    get:
      tags:
      - Offices
      summary: Gets information about an office.
      description: This method returns information about an office.
      operationId: Get Office
      parameters:
      - name: officeId
        in: path
        description: (Required) The id of the office.
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Office successfully retrieved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Office'
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
            text/json:
              schema:
                $ref: '#/components/schemas/Office'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetOffice
      x-ds-method: GetOffice
      x-ds-service: Offices
      x-ds-in-sdk: true
    delete:
      tags:
      - Offices
      summary: Deletes an office.
      description: This method deletes an office from a Rooms account.
      operationId: Delete Office
      parameters:
      - name: officeId
        in: path
        description: (Required) The id of the office.
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Office successfully deleted.
          content: {}
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: DeleteOffice
      x-ds-method: DeleteOffice
      x-ds-service: Offices
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/offices/{officeId}/reference_counts:
    get:
      tags:
      - Offices
      summary: Retrieves the number and type of objects that reference an office.
      description: This method returns a list of each type of object and the number
        of objects of that type referencing the specified office. Note that an office
        cannot be deleted while existing objects reference it.
      operationId: Get Reference Counts
      parameters:
      - name: officeId
        in: path
        description: (Required) The id of the office.
        required: true
        schema:
          type: integer
          format: int32
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Reference counts successfully retrieved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OfficeReferenceCountList'
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeReferenceCountList'
            text/json:
              schema:
                $ref: '#/components/schemas/OfficeReferenceCountList'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetReferenceCounts
      x-ds-method: GetReferenceCounts
      x-ds-service: Offices
      x-ds-in-sdk: true
  /v2/accounts/{accountId}/regions:
    get:
      tags:
      - Regions
      summary: Gets regions.
      description: This method returns a list of regions that are associated with
        a Rooms account.
      operationId: Get Regions
      parameters:
      - name: count
        in: query
        description: (Optional) The number of results to return. This value must be
          a number between `1` and `100` (default).
        schema:
          type: integer
          format: int32
          default: 100
      - name: startPosition
        in: query
        description: (Optional) The starting zero-based index position of the results
          set from which to begin returning values. The default value is `0`.
        schema:
          type: integer
          format: int32
          default: 0
      - name: managedOnly
        in: query
        description: (Optional) When set to **true**, only the regions that the current
          user manages are returned. The default value is **false**.
        schema:
          type: boolean
          default: false
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Regions successfully retrieved.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RegionSummaryList'
            application/json:
              schema:
                $ref: '#/components/schemas/RegionSummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/RegionSummaryList'
        400:
          description: Bad request. See ErrorCode and Message for details
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Not authorized to make this request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ds-methodname: GetRegions
      x-ds-method: GetRegions
      x-ds-service: Regions
      x-ds-in-sdk: true
    post:
      tags:
      - Regions
      summary: Creates a region.
      description: This method creates a new region. When you create a region, you
        specify only the name. The service will assign and return a region ID (`regionId`)
        and a creation timestamp (`createdDate`).
      operationId: Create Region
      parameters:
      - name: accountId
        in: path
        description: (Required) The globally unique identifier (GUID) for the account.
        required: true
        schema:
          type: string
      requestBody:
        description: Information about a region.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Region'
          application/json:
            schema:
              $ref: '#/components/schemas/Region'
          text/json:
            schema:
              $ref: '#/components/schemas/Region'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Region'
        required: false
      responses:
        201:
          description: The region was successfully created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Region'
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
            text/json:
              schema:
[...]
