openapi: 3.0.1
info:
  title: Elastic Cloud API
  description: This is a generated connector for [Elastic Cloud API](https://cloud.elastic.co/api/v1/api-docs/spec.json) OpenAPI Specification.
  version: "1"
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials. 
    Please create a [Elastic](https://cloud.elastic.co/) account and obtain tokens by following [this guide](https://www.elastic.co/guide/en/elasticsearch/reference/7.16/setting-up-authentication.html).
  x-ballerina-display:
   label: Elasticsearch
   iconPath: "icon.png"
servers:
- url: https://api.elastic-cloud.com/api/v1/
security:
- apiKey: []
tags:
- name: Accounts
- name: Authentication
- name: BillingCostsAnalysis
- name: DeploymentTemplates
- name: Deployments
- name: DeploymentsTrafficFilter
- name: Extensions
- name: Stack
paths:
  /deployments/{deployment_id}/elasticsearch/{ref_id}/_shutdown:
    post:
      tags:
      - Deployments
      summary: Shutdown Deployment Elasticsearch Resource
      description: Shutdown Elasticsearch Resource belonging to a given Deployment.
      operationId: shutdown-deployment-es-resource
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      - name: hide
        in: query
        description: Hide cluster on shutdown. Hidden clusters are not listed by default.
          Only applicable for Platform administrators.
        schema:
          type: boolean
      - name: skip_snapshot
        in: query
        description: If true, will skip taking a snapshot of the cluster before shutting
          the cluster down (if even possible).
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: Standard response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
        400:
          description: 'Parameter is restricted and can only be set by a Platform
            administrator. (code: `deployments.restricted_parameter`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.restricted_parameter
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'A Resource that was previously stored no longer exists. (code:
            `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Commands
  /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/_start:
    post:
      tags:
      - Deployments
      summary: Start all instances
      description: Starts all instances belonging to a Deployment Resource.
      operationId: start-deployment-resource-instances-all
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: resource_kind
        in: path
        description: The kind of resource (one of elasticsearch, kibana, apm, or integrations_server).
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      responses:
        202:
          description: The start command was issued successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
        403:
          description: 'The start maintenance mode command was prohibited for the
            given Resource. (code: `deployments.instance_update_prohibited_error`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.instance_update_prohibited_error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
            * One or more instances of the given resource type are missing. (code: `deployments.instances_missing_on_update_error`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                - deployments.instances_missing_on_update_error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'A Resource that was previously stored no longer exists. (code:
            `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Commands
  /stack/versions:
    get:
      tags:
      - Stack
      summary: Get stack versions
      description: By default, retrieves only the available Elastic Stack versions.
        To retrieve all of the Elastic Stack versions, use the `show_deleted parameter`.
      operationId: get-version-stacks
      parameters:
      - name: show_deleted
        in: query
        description: Whether to show deleted stack versions or not
        schema:
          type: boolean
          default: false
      - name: show_unusable
        in: query
        description: Whether to show versions that are unusable by the authenticated
          user
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: The list of all available Elastic Stack versions are retrieved,
            including the template version and structure.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StackVersionConfigs'
      x-doc:
        tag: Stack - Versions - CRUD
  /deployments/{deployment_id}/{resource_kind}/{ref_id}/_restore:
    post:
      tags:
      - Deployments
      summary: Restores a shutdown resource
      description: Restores a shutdown resource belonging to a given Deployment.
      operationId: restore-deployment-resource
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment
        required: true
        schema:
          type: string
      - name: resource_kind
        in: path
        description: The kind of resource
        required: true
        schema:
          type: string
          enum:
          - elasticsearch
          - kibana
          - apm
          - appsearch
          - enterprise_search
          - integrations_server
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource
        required: true
        schema:
          type: string
      - name: restore_snapshot
        in: query
        description: Whether or not to restore a snapshot for those resources that
          allow it.
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: Standard Deployment Resource Crud Response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCrudResponse'
        400:
          description: |-
            * The Resource does not have a pending plan. (code: `deployments.resource_does_not_have_a_pending_plan`)
            * The resource is not shut down. (code: `deployments.resource_not_shutdown`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.resource_does_not_have_a_pending_plan
                - deployments.resource_not_shutdown
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        404:
          description: 'The Deployment specified by {deployment_id} cannot be found.
            (code: `deployments.deployment_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment Resources - CRUD
  /deployments/{deployment_id}/_restore:
    post:
      tags:
      - Deployments
      summary: Restores a shutdown Deployment
      description: Restores all resources in a Deployment.
      operationId: restore-deployment
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment
        required: true
        schema:
          type: string
      - name: restore_snapshot
        in: query
        description: Whether or not to restore a snapshot for those resources that
          allow it.
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: The request was valid and the resources of the deployment were
            restored.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentRestoreResponse'
        400:
          description: There are Elasticsearch resources in the deployment which are
            not shut down.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        401:
          description: You are not authorized to perform this action.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        404:
          description: 'The Deployment specified by {deployment_id} cannot be found.
            (code: `deployments.deployment_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - CRUD
  /deployments/templates:
    get:
      tags:
      - DeploymentTemplates
      summary: Get deployment templates
      description: Retrieves all deployment templates.
      operationId: get-deployment-templates-v2
      parameters:
      - name: metadata
        in: query
        description: An optional key/value pair in the form of (key:value) that will
          act as a filter and exclude any templates that do not have a matching metadata
          item associated.
        schema:
          type: string
      - name: show_instance_configurations
        in: query
        description: If true, will return details for each instance configuration
          referenced by the template.
        schema:
          type: boolean
          default: true
      - name: show_max_zones
        in: query
        description: If true, will populate the max_zones field in the instance configurations.
          Only relevant if show_instance_configurations=true.
        schema:
          type: boolean
          default: false
      - name: stack_version
        in: query
        description: If present, it will cause the returned deployment templates to
          be adapted to return only the elements allowed in that version.
        schema:
          type: string
      - name: region
        in: query
        description: Region of the deployment templates
        required: true
        schema:
          type: string
      responses:
        200:
          description: The deployment templates were returned successfully.
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentTemplateInfoV2'
        400:
          description: 'The requested region was not found. (code: `templates.region_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - templates.region_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        401:
          description: 'The user is not authorized to access requested region. (code:
            `templates.region_not_allowed`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - templates.region_not_allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployments - Templates
  /users/auth/keys/{api_key_id}:
    get:
      tags:
      - Authentication
      summary: Get API key
      description: Retrieves the metadata for an API key.
      operationId: get-api-key
      parameters:
      - name: api_key_id
        in: path
        description: The API Key ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: The API key metadata is retrieved.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        404:
          description: 'The {api_key_id} can''t be found. (code: `api_keys.key_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - api_keys.key_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Authentication
    delete:
      tags:
      - Authentication
      summary: Delete API key
      description: Delete or invalidate the API key.
      operationId: delete-api-key
      parameters:
      - name: api_key_id
        in: path
        description: The API Key ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: The API key is deleted.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        404:
          description: 'The {api_key_id} can''t be found. (code: `api_keys.key_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - api_keys.key_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Authentication
  /account:
    get:
      tags:
      - Accounts
      summary: Fetch current account information
      description: Fetch current account information.
      operationId: get-current-account
      responses:
        200:
          description: Account fetched successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountResponse'
        404:
          description: 'Account not found. (code: `accounts.not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - accounts.not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Accounts
    put:
      tags:
      - Accounts
      summary: Updates the current account
      description: Updates the current account.
      operationId: update-current-account
      requestBody:
        description: the current account
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
        required: true
      responses:
        200:
          description: Account updated successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountResponse'
        404:
          description: 'Account not found. (code: `accounts.not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - accounts.not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Accounts
      x-codegen-request-body-name: body
    patch:
      tags:
      - Accounts
      summary: Updates the current account
      description: Updates the current account.
      operationId: patch-current-account
      requestBody:
        description: All changes in the specified object are applied to the current
          account according to the JSON Merge Patch processing rules. Omitting existing
          fields causes the same values to be reapplied. Specifying a `null` value
          reverts the field to the default value, or removes the field when no default
          value exists.
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        200:
          description: Account updated successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountResponse'
        404:
          description: 'Account not found. (code: `accounts.not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - accounts.not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Accounts
      x-codegen-request-body-name: body
  /deployments/{deployment_id}/elasticsearch/{ref_id}/remote-clusters:
    get:
      tags:
      - Deployments
      summary: Get remote clusters
      description: Returns the list of remote clusters for the elasticsearch resource.
      operationId: get-deployment-es-resource-remote-clusters
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      responses:
        200:
          description: List of remote clusters for the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RemoteResources'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Remote Clusters
    put:
      tags:
      - Deployments
      summary: Set remote clusters
      description: Overwrites or creates the remote clusters for the elasticsearch
        resource.
      operationId: set-deployment-es-resource-remote-clusters
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      requestBody:
        description: List of remote clusters for the resource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteResources'
        required: true
      responses:
        202:
          description: The Remote Clusters were updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Remote Clusters
      x-codegen-request-body-name: body
  # /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/{instance_ids}/_stop:
  #   post:
  #     tags:
  #     - Deployments
  #     summary: Stop instances
  #     description: Stops instances belonging to a Deployment Resource.
  #     operationId: stop-deployment-resource-instances
  #     parameters:
  #     - name: deployment_id
  #       in: path
  #       description: Identifier for the Deployment.
  #       required: true
  #       schema:
  #         type: string
  #     - name: resource_kind
  #       in: path
  #       description: The kind of resource (one of elasticsearch, kibana, apm, or integrations_server).
  #       required: true
  #       schema:
  #         type: string
  #     - name: ref_id
  #       in: path
  #       description: User-specified RefId for the Resource.
  #       required: true
  #       schema:
  #         type: string
  #     - name: instance_ids
  #       in: path
  #       description: A comma-separated list of instance identifiers.
  #       required: true
  #       style: simple
  #       explode: false
  #       schema:
  #         type: array
  #         items:
  #           type: string
  #     - name: ignore_missing
  #       in: query
  #       description: If true and the instance does not exist then quietly proceed
  #         to the next instance, otherwise treated as an error.
  #       schema:
  #         type: boolean
  #         default: false
  #     responses:
  #       202:
  #         description: The stop command was issued successfully.
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/DeploymentResourceCommandResponse'
  #       403:
  #         description: 'The start maintenance mode command was prohibited for the
  #           given Resource. (code: `deployments.instance_update_prohibited_error`)'
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - deployments.instance_update_prohibited_error
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #       404:
  #         description: |-
  #           * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
  #           * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
  #           * One or more instances of the given resource type are missing. (code: `deployments.instances_missing_on_update_error`)
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - deployments.deployment_not_found
  #               - deployments.deployment_resource_not_found
  #               - deployments.instances_missing_on_update_error
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #       449:
  #         description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - root.unauthorized.rbac.elevated_permissions_required
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #       500:
  #         description: 'A Resource that was previously stored no longer exists. (code:
  #           `deployments.deployment_resource_no_longer_exists`)'
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - deployments.deployment_resource_no_longer_exists
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #     x-doc:
  #       tag: Deployment - Commands
  /deployments/templates/{template_id}:
    get:
      tags:
      - DeploymentTemplates
      summary: Get deployment template
      description: Retrieves a deployment template by id.
      operationId: get-deployment-template-v2
      parameters:
      - name: template_id
        in: path
        description: The identifier for the deployment template.
        required: true
        schema:
          type: string
      - name: show_instance_configurations
        in: query
        description: If true, will return details for each instance configuration
          referenced by the template.
        schema:
          type: boolean
          default: true
      - name: show_max_zones
        in: query
        description: If true, will populate the max_zones field in the instance configurations.
          Only relevant if show_instance_configurations=true.
        schema:
          type: boolean
          default: false
      - name: stack_version
        in: query
        description: If present, it will cause the returned deployment template to
          be adapted to return only the elements allowed in that version.
        schema:
          type: string
      - name: region
        in: query
        description: Region of the deployment template
        required: true
        schema:
          type: string
      responses:
        200:
          description: The deployment template was found and returned successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentTemplateInfoV2'
        400:
          description: 'The requested region is not supported. (code: `templates.region_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - templates.region_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        401:
          description: 'The user is not authorized to access requested region. (code:
            `templates.region_not_allowed`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - templates.region_not_allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        404:
          description: 'The deployment template specified by {template_id} cannot
            be found. (code: `templates.template_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - templates.template_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployments - Templates
  /deployments/{deployment_id}/apm/{ref_id}/_reset-token:
    post:
      tags:
      - Deployments
      summary: Reset the secret token for an APM resource.
      description: Reset the token of an APM resource.
      operationId: deployment-apm-reset-secret-token
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      responses:
        202:
          description: Response containing the new secret token, plan to apply it
            starts
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApmCrudResponse'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: APM routes
  /deployments/{deployment_id}/enterprise_search/{ref_id}:
    get:
      tags:
      - Deployments
      summary: Get Deployment Enterprise Search Resource Info
      description: Get info about an Enterprise Search Resource belonging to a given
        Deployment.
      operationId: get-deployment-enterprise-search-resource-info
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource
        required: true
        schema:
          type: string
      - name: show_metadata
        in: query
        description: Whether to include the full cluster metadata in the response
          - can be large per cluster and also include credentials.
        schema:
          type: boolean
          default: false
      - name: show_plans
        in: query
        description: Whether to include the full current and pending plan information
          in the response - can be large per cluster.
        schema:
          type: boolean
          default: true
      - name: show_plan_logs
        in: query
        description: Whether to include with the current and pending plan information
          the attempt log - can be very large per cluster.
        schema:
          type: boolean
          default: false
      - name: show_plan_history
        in: query
        description: Whether to include with the current and pending plan information
          the plan history- can be very large per cluster.
        schema:
          type: boolean
          default: false
      - name: show_plan_defaults
        in: query
        description: If showing plans, whether to show values that are left at their
          default value (less readable but more informative).
        schema:
          type: boolean
          default: false
      - name: show_settings
        in: query
        description: Whether to show cluster settings in the response.
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: Standard response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnterpriseSearchResourceInfo'
        404:
          description: 'The Deployment specified by {deployment_id} cannot be found.
            (code: `deployments.deployment_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Info
  /deployments/{deployment_id}/kibana/{ref_id}:
    get:
      tags:
      - Deployments
      summary: Get Deployment Kibana Resource Info
      description: Get info about a Kibana Resource belonging to a given Deployment.
      operationId: get-deployment-kib-resource-info
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource
        required: true
        schema:
          type: string
      - name: show_metadata
        in: query
        description: Whether to include the full cluster metadata in the response
          - can be large per cluster and also include credentials.
        schema:
          type: boolean
          default: false
      - name: show_plans
        in: query
        description: Whether to include the full current and pending plan information
          in the response - can be large per cluster.
        schema:
          type: boolean
          default: true
      - name: show_plan_logs
        in: query
        description: Whether to include with the current and pending plan information
          the attempt log - can be very large per cluster.
        schema:
          type: boolean
          default: false
      - name: show_plan_history
        in: query
        description: Whether to include with the current and pending plan information
          the plan history- can be very large per cluster.
        schema:
          type: boolean
          default: false
      - name: show_plan_defaults
        in: query
        description: If showing plans, whether to show values that are left at their
          default value (less readable but more informative).
        schema:
          type: boolean
          default: false
      - name: convert_legacy_plans
        in: query
        description: If showing plans, whether to leave pre-2.0.0 plans in their legacy
          format (the default), or whether to update them to 2.0.x+ format (if 'true').
        schema:
          type: boolean
          default: false
      - name: show_settings
        in: query
        description: Whether to show cluster settings in the response.
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: Standard response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KibanaResourceInfo'
        404:
          description: 'The Deployment specified by {deployment_id} cannot be found.
            (code: `deployments.deployment_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Info
  /deployments/{deployment_id}/appsearch/{ref_id}/read_only_mode:
    get:
      tags:
      - Deployments
      summary: Set AppSearch read-only status
      description: Enable/Disable read-only mode on the given App Search resource.
      operationId: get-appsearch-read-only-mode
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Standard response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReadOnlyResponse'
        404:
          description: 'The Resource specified by ref_id cannot be found. (code: `deployments.deployment_resource_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: App Search - Read-only
    put:
      tags:
      - Deployments
      summary: Set AppSearch read-only status
      description: Enable/Disable read-only mode on the given App Search resource.
      operationId: set-appsearch-read-only-mode
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      requestBody:
        description: read-only request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadOnlyRequest'
        required: true
      responses:
        200:
          description: Standard response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReadOnlyResponse'
        404:
          description: 'The Resource specified by ref_id cannot be found. (code: `deployments.deployment_resource_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: App Search - Read-only
      x-codegen-request-body-name: body
  # /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/{instance_ids}/_start:
  #   post:
  #     tags:
  #     - Deployments
  #     summary: Start instances
  #     description: Starts instances belonging to a Deployment Resource.
  #     operationId: start-deployment-resource-instances
  #     parameters:
  #     - name: deployment_id
  #       in: path
  #       description: Identifier for the Deployment.
  #       required: true
  #       schema:
  #         type: string
  #     - name: resource_kind
  #       in: path
  #       description: The kind of resource (one of elasticsearch, kibana, apm, or integrations_server).
  #       required: true
  #       schema:
  #         type: string
  #     - name: ref_id
  #       in: path
  #       description: User-specified RefId for the Resource.
  #       required: true
  #       schema:
  #         type: string
  #     - name: instance_ids
  #       in: path
  #       description: A comma-separated list of instance identifiers.
  #       required: true
  #       style: simple
  #       explode: false
  #       schema:
  #         type: array
  #         items:
  #           type: string
  #     - name: ignore_missing
  #       in: query
  #       description: If true and the instance does not exist then quietly proceed
  #         to the next instance, otherwise treated as an error
  #       schema:
  #         type: boolean
  #         default: false
  #     responses:
  #       202:
  #         description: The start command was issued successfully.
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/DeploymentResourceCommandResponse'
  #       403:
  #         description: 'The start maintenance mode command was prohibited for the
  #           given Resource. (code: `deployments.instance_update_prohibited_error`)'
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - deployments.instance_update_prohibited_error
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #       404:
  #         description: |-
  #           * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
  #           * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
  #           * One or more instances of the given resource type are missing. (code: `deployments.instances_missing_on_update_error`)
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - deployments.deployment_not_found
  #               - deployments.deployment_resource_not_found
  #               - deployments.instances_missing_on_update_error
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #       449:
  #         description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - root.unauthorized.rbac.elevated_permissions_required
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #       500:
  #         description: 'A Resource that was previously stored no longer exists. (code:
  #           `deployments.deployment_resource_no_longer_exists`)'
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - deployments.deployment_resource_no_longer_exists
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #     x-doc:
  #       tag: Deployment - Commands
  /deployments/{deployment_id}/{stateless_resource_kind}/{ref_id}/_restart:
    post:
      tags:
      - Deployments
      summary: Restart Deployment Stateless Resource
      description: 'Restarts a Stateless Resource. If a Resource is active: this command
        re-applies the existing plan but applies a "cluster_reboot", which issues
        a restart command and waits for it to complete. If a Resource is inactive:
        this command starts it up with the most recent successful plan.'
      operationId: restart-deployment-stateless-resource
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: stateless_resource_kind
        in: path
        description: The kind of stateless resource
        required: true
        schema:
          type: string
          enum:
          - kibana
          - apm
          - appsearch
          - enterprise_search
          - integrations_server
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      - name: cancel_pending
        in: query
        description: If true, cancels any pending plans before restarting. If false
          and there are pending plans, returns an error.
        schema:
          type: boolean
          default: false
      responses:
        202:
          description: The restart command was issued successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        422:
          description: 'The command sent to a Resource found the Resource in an illegal
            state, the error message gives more details. (code: `deployments.deployment_resource_plan_change_error`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_plan_change_error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Commands
  /deployments/{deployment_id}/_shutdown:
    post:
      tags:
      - Deployments
      summary: Shuts down Deployment
      description: Shuts down all resources in a Deployment.
      operationId: shutdown-deployment
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment
        required: true
        schema:
          type: string
      - name: hide
        in: query
        description: Whether or not to hide the deployment and its resources.Only
          applicable for Platform administrators.
        schema:
          type: boolean
      - name: skip_snapshot
        in: query
        description: Whether or not to skip snapshots before shutting down the resources
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: The request was valid and the resources of the deployment were
            shutdown.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentShutdownResponse'
        400:
          description: 'Parameter is restricted and can only be set by a Platform
            administrator. (code: `deployments.restricted_parameter`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.restricted_parameter
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        401:
          description: You are not authorized to perform this action.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        404:
          description: 'The Deployment specified by {deployment_id} cannot be found.
            (code: `deployments.deployment_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - CRUD
  /deployments/{deployment_id}/elasticsearch/{ref_id}/_enable-slm:
    post:
      tags:
      - Deployments
      summary: Migrate Elasticsearch resource to use SLM
      description: Migrates the specified Elasticsearch resource to use SLM.
      operationId: enable-deployment-resource-slm
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      - name: validate_only
        in: query
        description: When `true`, does not enable SLM but returns warnings if any
          applications may lose availability during SLM migration.
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: Standard response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Commands
  # /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/{instance_ids}/maintenance-mode/_start:
  #   post:
  #     tags:
  #     - Deployments
  #     summary: Start maintenance mode
  #     description: Starts maintenance mode of instances belonging to a Deployment
  #       Resource.
  #     operationId: start-deployment-resource-maintenance-mode
  #     parameters:
  #     - name: deployment_id
  #       in: path
  #       description: Identifier for the Deployment.
  #       required: true
  #       schema:
  #         type: string
  #     - name: resource_kind
  #       in: path
  #       description: The kind of resource (one of elasticsearch, kibana, apm, or integrations_server).
  #       required: true
  #       schema:
  #         type: string
  #     - name: ref_id
  #       in: path
  #       description: User-specified RefId for the Resource.
  #       required: true
  #       schema:
  #         type: string
  #     - name: instance_ids
  #       in: path
  #       description: A comma-separated list of instance identifiers.
  #       required: true
  #       style: simple
  #       explode: false
  #       schema:
  #         type: array
  #         items:
  #           type: string
  #     - name: ignore_missing
  #       in: query
  #       description: If true and the instance does not exist then quietly proceed
  #         to the next instance, otherwise treated as an error.
  #       schema:
  #         type: boolean
  #         default: false
  #     responses:
  #       202:
  #         description: The start maintenance command was issued successfully.
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/DeploymentResourceCommandResponse'
  #       403:
  #         description: 'The start maintenance mode command was prohibited for the
  #           given Resource. (code: `deployments.instance_update_prohibited_error`)'
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - deployments.instance_update_prohibited_error
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #       404:
  #         description: |-
  #           * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
  #           * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
  #           * One or more instances of the given resource type are missing. (code: `deployments.instances_missing_on_update_error`)
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - deployments.deployment_not_found
  #               - deployments.deployment_resource_not_found
  #               - deployments.instances_missing_on_update_error
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #       449:
  #         description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - root.unauthorized.rbac.elevated_permissions_required
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #       500:
  #         description: 'A Resource that was previously stored no longer exists. (code:
  #           `deployments.deployment_resource_no_longer_exists`)'
  #         headers:
  #           x-cloud-error-codes:
  #             description: The error codes associated with the response
  #             schema:
  #               type: string
  #               enum:
  #               - deployments.deployment_resource_no_longer_exists
  #         content:
  #           '*/*':
  #             schema:
  #               $ref: '#/components/schemas/BasicFailedReply'
  #     x-doc:
  #       tag: Deployment - Commands
  /deployments/traffic-filter/rulesets/{ruleset_id}/associations/{association_type}/{associated_entity_id}:
    delete:
      tags:
      - DeploymentsTrafficFilter
      summary: Delete ruleset association
      description: Deletes the traffic rules in the ruleset from the deployment.
      operationId: delete-traffic-filter-ruleset-association
      parameters:
      - name: ruleset_id
        in: path
        description: The mandatory ruleset ID.
        required: true
        schema:
          type: string
      - name: association_type
        in: path
        description: Association type
        required: true
        schema:
          type: string
      - name: associated_entity_id
        in: path
        description: Associated entity ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: Delete association request was valid and the association has
            been deleted
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        404:
          description: 'The traffic filter ruleset association cannot be found. (code:
            `traffic_filter.not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - traffic_filter.not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'Deletion failed. (code: `traffic_filter.request_execution_failed`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - traffic_filter.request_execution_failed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployments - Traffic Filter - Associations
  /deployments/{deployment_id}/elasticsearch/{ref_id}/_restart:
    post:
      tags:
      - Deployments
      summary: Restart Deployment Elasticsearch Resource
      description: 'Restarts an Elasticsearch Resource. If a Resource is active: this
        command re-applies the existing plan but applies a "cluster_reboot", which
        issues a restart command and waits for it to complete. If a Resource is inactive:
        this command starts it up with the most recent successful plan.'
      operationId: restart-deployment-es-resource
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      - name: restore_snapshot
        in: query
        description: When set to true and restoring from shutdown, then will restore
          the cluster from the last snapshot (if available).
        schema:
          type: boolean
          default: true
      - name: skip_snapshot
        in: query
        description: If true, will not take a snapshot of the cluster before restarting.
        schema:
          type: boolean
          default: true
      - name: cancel_pending
        in: query
        description: If true, cancels any pending plans before restarting. If false
          and there are pending plans, returns an error.
        schema:
          type: boolean
          default: false
      - name: group_attribute
        in: query
        description: 'Indicates the property or properties used to divide the list
          of instances to restart in groups. Valid options are: ''\_\_all\_\_'' (restart
          all at once), ''\_\_zone\_\_'' by logical zone, ''\_\_name\_\_'' one instance
          at a time, or a comma-separated list of attributes of the instances'
        schema:
          type: string
          default: __zone__
      - name: shard_init_wait_time
        in: query
        description: 'The time, in seconds, to wait for shards that show no progress
          of initializing, before rolling the next group (default: 10 minutes)'
        schema:
          type: integer
          default: 600
      responses:
        202:
          description: The restart command was issued successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        422:
          description: 'The command sent to a Resource found the Resource in an illegal
            state, the error message gives more details. (code: `deployments.deployment_resource_plan_change_error`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_plan_change_error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'A Resource that was previously stored no longer exists. (code:
            `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Commands
  /billing/costs/{organization_id}:
    get:
      tags:
      - BillingCostsAnalysis
      summary: Get costs overview for the organization
      description: 'EXPERIMENTAL (it may change in future versions): Retrieves an
        overview of the costs by organization ID.'
      operationId: get-costs-overview
      parameters:
      - name: organization_id
        in: path
        description: Identifier for the organization
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: A datetime for the beginning of the desired range for which to
          fetch costs. Defaults to start of current month.
        schema:
          type: string
      - name: to
        in: query
        description: A datetime for the end of the desired range for which to fetch
          costs. Defaults to the current date.
        schema:
          type: string
      responses:
        200:
          description: Top-level cost overview for the organization
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CostsOverview'
        403:
          description: 'The current user does not have access to the requested organization.
            (code: `organization.invalid_access`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - organization.invalid_access
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Billing Costs Analysis
  /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/maintenance-mode/_start:
    post:
      tags:
      - Deployments
      summary: Start maintenance mode (all instances)
      description: Starts maintenance mode of all instances belonging to a Deployment
        Resource.
      operationId: start-deployment-resource-instances-all-maintenance-mode
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: resource_kind
        in: path
        description: The kind of resource (one of elasticsearch, kibana, apm, or integrations_server).
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      responses:
        202:
          description: The start maintenance command was issued successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
        403:
          description: 'The start maintenance mode command was prohibited for the
            given Resource. (code: `deployments.instance_update_prohibited_error`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.instance_update_prohibited_error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
            * One or more instances of the given resource type are missing. (code: `deployments.instances_missing_on_update_error`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                - deployments.instances_missing_on_update_error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'A Resource that was previously stored no longer exists. (code:
            `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Commands
  /billing/costs/{organization_id}/deployments:
    get:
      tags:
      - BillingCostsAnalysis
      summary: Get deployments costs for the organization
      description: 'EXPERIMENTAL (it may change in future versions): Retrieves the
        costs associated with all deployments for the organization.'
      operationId: get-costs-deployments
      parameters:
      - name: organization_id
        in: path
        description: Identifier for the organization
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: A datetime for the beginning of the desired range for which to
          fetch activity. Defaults to start of current month.
        schema:
          type: string
      - name: to
        in: query
        description: A datetime for the end of the desired range for which to fetch
          activity. Defaults to the current date.
        schema:
          type: string
      responses:
        200:
          description: The costs associated to a set of products
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentsCosts'
        403:
          description: 'The current user does not have access to the requested organization.
            (code: `organization.invalid_access`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - organization.invalid_access
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Billing Costs Analysis
  /deployments/extensions:
    get:
      tags:
      - Extensions
      summary: List Extensions
      description: Retrieves all of the available extensions.
      operationId: list-extensions
      parameters:
      - name: include_deployments
        in: query
        description: |
          Include deployments referencing this extension.
          DEPRECATED: To get the list of deployments that reference an extension, use the Get Extension API.
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: The extensions that are available
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Extensions'
      x-doc:
        tag: Deployments - Extensions
    post:
      tags:
      - Extensions
      summary: Create an extension
      description: |
        Creates the extension.
         The extensions API supports two types of usage patterns.
         A). Specify a `download_url`, http or https URL,  where the extension is currently hosted. This will result in extension being copied to elastic repository.
         B). Create only the extension metadata using the `POST` endpoint and then use `PUT` to upload the extension file. Leave the `download_url` unspecified in this case.
      operationId: create-extension
      requestBody:
        description: the data that creates the extension
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExtensionRequest'
        required: true
      responses:
        201:
          description: The extension that was just created.
          headers:
            x-cloud-resource-version:
              description: The resource version, which is used to avoid update conflicts
                with concurrent operations
              schema:
                type: string
            x-cloud-resource-last-modified:
              description: The date-time when the resource was last modified (ISO
                format relative to UTC)
              schema:
                type: string
            x-cloud-resource-created:
              description: The date-time when the resource was created (ISO format
                relative to UTC)
              schema:
                type: string
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Extension'
        400:
          description: 'Could not download the extension from the specified URL. (code:
            `extensions.request_execution_failed`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - extensions.request_execution_failed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        404:
          description: 'Your current session does not have a user id associated with
            it. (code: `extensions.no_user_id`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - extensions.no_user_id
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        409:
          description: 'An extension already exists with the generated id. Please
            try again. (code: `extensions.id_already_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - extensions.id_already_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployments - Extensions
      x-codegen-request-body-name: body
  /billing/costs/{organization_id}/items:
    get:
      tags:
      - BillingCostsAnalysis
      summary: Get itemized costs for the organization
      description: 'EXPERIMENTAL (it may change in future versions): Retrieves the
        itemized costs for the organization.'
      operationId: get-costs-items
      parameters:
      - name: organization_id
        in: path
        description: Identifier for the organization
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: A datetime for the beginning of the desired range for which to
          fetch costs. Defaults to start of current month.
        schema:
          type: string
      - name: to
        in: query
        description: A datetime for the end of the desired range for which to fetch
          costs. Defaults to the current date.
        schema:
          type: string
      responses:
        200:
          description: The costs associated to a set of items
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ItemsCosts'
        403:
          description: 'The current user does not have access to the requested organization.
            (code: `organization.invalid_access`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - organization.invalid_access
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Billing Costs Analysis
  /deployments/traffic-filter/rulesets/{ruleset_id}/associations:
    get:
      tags:
      - DeploymentsTrafficFilter
      summary: Get associated deployments
      description: Retrieves a list of deployments that are associated to the specified
        ruleset.
      operationId: get-traffic-filter-ruleset-deployment-associations
      parameters:
      - name: ruleset_id
        in: path
        description: The mandatory ruleset ID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Associations referred by traffic filter rulesets were successfully
            returned
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RulesetAssociations'
        500:
          description: 'Error fetching deployments. (code: `traffic_filter.request_execution_failed`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - traffic_filter.request_execution_failed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployments - Traffic Filter - Associations
    post:
      tags:
      - DeploymentsTrafficFilter
      summary: Create ruleset association
      description: Applies the ruleset to the specified deployment.
      operationId: create-traffic-filter-ruleset-association
      parameters:
      - name: ruleset_id
        in: path
        description: The mandatory ruleset ID.
        required: true
        schema:
          type: string
      requestBody:
        description: Mandatory ruleset association description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterAssociation'
        required: true
      responses:
        200:
          description: Create association request was valid and the association already
            exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        201:
          description: Create association request was valid and the association has
            been created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        404:
          description: 'The traffic filter ruleset specified by {ruleset_id} cannot
            be found. (code: `traffic_filter.not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - traffic_filter.not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'Creation failed. (code: `traffic_filter.request_execution_failed`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - traffic_filter.request_execution_failed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployments - Traffic Filter - Associations
      x-codegen-request-body-name: body
  /deployments/{deployment_id}/elasticsearch/{ref_id}/_reset-password:
    post:
      tags:
      - Deployments
      summary: Reset 'elastic' user password
      description: Resets the password of the 'elastic' user.
      operationId: reset-elasticsearch-user-password
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      responses:
        200:
          description: The password reset was out carried successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ElasticsearchElasticUserPasswordResetResponse'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'Failed to reset the ''elastic'' user''s password. (code: `deployments.elasticsearch.password_reset_error`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.elasticsearch.password_reset_error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Commands
  /deployments/{deployment_id}/upgrade_assistant/status:
    get:
      tags:
      - Deployments
      summary: Get Deployment upgade assistant status
      description: Get details about an Elasticsearch resource belonging to a given
        deployment.
      operationId: get-deployment-upgrade-assistant-status
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment
        required: true
        schema:
          type: string
      responses:
        200:
          description: The Upgrade Assistant returned the status successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentUpgradeAssistantStatusResponse'
        404:
          description: 'The Deployment specified by {deployment_id} cannot be found.
            (code: `deployments.deployment_not_found`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Upgrade Assistant
  /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/_stop:
    post:
      tags:
      - Deployments
      summary: Stop all instances
      description: Stops all instances belonging to a Deployment Resource.
      operationId: stop-deployment-resource-instances-all
      parameters:
      - name: deployment_id
        in: path
        description: Identifier for the Deployment.
        required: true
        schema:
          type: string
      - name: resource_kind
        in: path
        description: The kind of resource (one of elasticsearch, kibana, apm, or integrations_server).
        required: true
        schema:
          type: string
      - name: ref_id
        in: path
        description: User-specified RefId for the Resource.
        required: true
        schema:
          type: string
      responses:
        202:
          description: The stop command was issued successfully.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
        403:
          description: 'The stop maintenance mode command was prohibited for the given
            Resource. (code: `deployments.instance_update_prohibited_error`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.instance_update_prohibited_error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        404:
          description: |-
            * The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)
            * The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)
            * One or more instances of the given resource type are missing. (code: `deployments.instances_missing_on_update_error`)
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                - deployments.instances_missing_on_update_error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        500:
          description: 'A Resource that was previously stored no longer exists. (code:
            `deployments.deployment_resource_no_longer_exists`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - deployments.deployment_resource_no_longer_exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Deployment - Commands
  /users/auth/keys:
    get:
      tags:
      - Authentication
      summary: Get all API keys
      description: Retrieves the metadata for all of the API keys that the user generated.
      operationId: get-api-keys
      responses:
        200:
          description: The metadata for the API keys is retrieved.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiKeysResponse'
      x-doc:
        tag: Authentication
    post:
      tags:
      - Authentication
      summary: Create API key
      description: Creates a new API key.
      operationId: create-api-key
      requestBody:
        description: The request to create the API key
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
        required: true
      responses:
        201:
          description: The API key is created and returned in the body of the response.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        400:
          description: 'The request is invalid. Specify a different request, then
            try again. (code: `api_keys.invalid_input`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - api_keys.invalid_input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
        449:
          description: 'Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)'
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                type: string
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
      x-doc:
        tag: Authentication
      x-codegen-request-body-name: body
  /deployments/{deployment_id}/elasticsearch/{ref_id}/_enable-ccr:
    post:
[...]
