openapi: 3.0.0
servers:
  - url: https://api.zoom.us/v2
info:
  contact:
    email: developersupport@zoom.us
    name: Zoom Developers
    url: https://developer.zoom.us/
  description: Client endpoint for Zoom API
  license:
    name: MIT for OAS 2.0
    url: https://opensource.org/licenses/MIT
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  title: Zoom API
  version: 2.0.0
  x-display:
    label: Zoom Client
security:
  - OAuth: []
tags:
  - description: Meeting operations
    name: Meetings
  - description: Meeting operations
    name: Webinars
paths:
  "/users/{userId}/meetings":
    get:
      description: >-
        List all the meetings that were scheduled for a user (meeting
        host). This API only supports scheduled meetings and thus, details on
        instant meetings are not returned via this API.

        **Scopes:** `meeting:read:admin` `meeting:read`
         
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      summary: List meetings
      operationId: listMeetings
      x-display:
        label: List Meetings
      parameters:
        - description: The user ID or email address of the user. For user-level apps, pass
            `me` as the value for userId.
          in: path
          name: userId
          required: true
          schema:
            type: string
          x-display:
            label: User Id
        - description: "The meeting types. Scheduled, live or upcoming"
          in: query
          name: type
          schema:
            default: live
            enum:
              - scheduled
              - live
              - upcoming
            type: string
          x-display:
            label: Meeting Type
          x-enum-descriptions:
            - all the scheduled meetings
            - all the live meetings
            - all the upcoming meetings
        - description: "The number of records returned within a single API call."
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-display:
            label: Page Size
        - description: "The next page token is used to paginate through large result sets.  A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes."
          in: query
          name: next_page_token
          schema:
            type: string
          x-display:
            label: Next Page Token
        - description: "The page number of the current page in the returned records."
          in: query
          name: page_number
          schema:
            type: string
          x-display:
            label: Page Number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    meetings:
                      - created_at: 2019-08-16T01:13:12Z
                        duration: 30
                        host_id: abckjdfhsdkjf
                        id: 11111
                        join_url: https://zoom.us/j/11111
                        start_time: 2019-08-16T02:00:00Z
                        timezone: America/Los_Angeles
                        topic: Zoom Meeting
                        type: 2
                        uuid: mlghmfghlBBB
                      - agenda: RegistrationDeniedTest
                        created_at: 2019-08-16T18:30:46Z
                        duration: 60
                        host_id: abckjdfhsdkjf
                        id: 2222
                        join_url: https://zoom.us/j/2222
                        start_time: 2019-08-16T19:00:00Z
                        timezone: America/Los_Angeles
                        topic: TestMeeting
                        type: 2
                        uuid: J8H8eavweUcd321==
                      - created_at: 2019-08-16T21:15:56Z
                        duration: 60
                        host_id: abckjdfhsdkjf
                        id: 33333
                        join_url: https://zoom.us/j/33333
                        start_time: 2019-08-16T22:00:00Z
                        timezone: America/Los_Angeles
                        topic: My Meeting
                        type: 2
                        uuid: SGVTAcfSfCbbbb
                      - created_at: 2019-08-29T17:32:33Z
                        duration: 60
                        host_id: abckjdfhsdkjf
                        id: 44444
                        join_url: https://zoom.us/j/4444
                        start_time: 2019-08-29T18:00:00Z
                        timezone: America/Los_Angeles
                        topic: MyTestPollMeeting
                        type: 2
                        uuid: 64123avdfsMVA==
                    page_count: 1
                    page_number: 1
                    page_size: 30
                    total_records: 4
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationObject'
                  - $ref: '#/components/schemas/MeetingList'
                description: List of meetings
                title: Group List
            application/xml:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationObject'
                  - $ref: '#/components/schemas/MeetingList'
                description: List of meetings
                title: Group List
          description: "HTTP Status Code:200. List of meetings returned."
        "404":
          description: "HTTP Status Code:404 User ID not found. Error Code:1001, User not exist or not belong to this account."
      security:
        - OAuth: []
      tags:
        - Meetings
    post:
      description: >-
        [Create a
        meeting](https://support.zoom.us/hc/en-us/articles/201362413-Scheduling-meetings)
        for a user. This API has a daily rate limit of 100 requests per day.
        Therefore, only 100 **Create a Meeting** API requests are permitted
        within a 24 hour window for a user.


        <aside>The <code>start_url</code> of a meeting is a URL using which a host or an alternative host can start a meeting. The expiration time for the <code>start_url</code> field is two hours for all regular users. 
          
        For custCreate meeting hosts( i.e., users created using the <code>custCreate</code> option via the [Create Users](https://marketplace.zoom.us/docs/api-reference/zoom-api/users/usercreate) API), the expiration time of the <code>start_url</code> field is 90 days from the generation of the <code>start_url</code>.
          
        For security reasons, the recommended way to retrieve the updated value for the <code>start_url</code> field programmatically (after expiry) is by calling the [Retrieve a Meeting API](https://marketplace.zoom.us/docs/api-reference/zoom-api/meetings/meeting) and referring to the value of the <code>start_url</code> field in the response.</aside>

        Scopes: `meeting:write:admin` `meeting:write`
         
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: createMeeting
      x-display:
        label: Create Meeting
      parameters:
        - description: "The user ID or email address of the user. For user-level apps, pass me as the value for userId."
          in: path
          name: userId
          required: true
          schema:
            type: string
          x-display:
            label: User Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingDetails'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MeetingDetails'
        description: Meeting detailed.
        x-display:
          label: Meeting Details
        required: true
        x-examples:
          application/json:
            agenda: string
            duration: integer
            password: string
            recurrence:
              end_date_time: string [date-time]
              end_times: integer
              monthly_day: integer
              monthly_week: integer
              monthly_week_day: integer
              repeat_interval: integer
              type: integer
              weekly_days: string
            schedule_for: string
            settings:
              alternative_hosts: string
              approval_type: integer
              audio: string
              auto_recording: string
              cn_meeting: boolean
              enforce_login: boolean
              enforce_login_domains: string
              global_dial_in_countries:
                - string
              host_video: boolean
              in_meeting: boolean
              join_before_host: boolean
              mute_upon_entry: boolean
              participant_video: boolean
              registrants_email_notification: boolean
              registration_type: integer
              use_pmi: boolean
              watermark: boolean
            start_time: string [date-time]
            timezone: string
            topic: string
            type: integer
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 2019-09-05T16:54:14Z
                    duration: 60
                    host_id: AbcDefGHi
                    id: 1100000
                    join_url: https://zoom.us/j/1100000
                    settings:
                      alternative_hosts: ""
                      approval_type: 2
                      audio: both
                      auto_recording: local
                      breakout_room:
                        enable: false
                        host_video: false
                        in_meeting: false
                        join_before_host: true
                        mute_upon_entry: false
                        participant_video: false
                        registrants_confirmation_email: true
                        registrants_email_notification: true
                        rooms:
                          - name: room1
                            participants:
                              - james.user01@somemail1234.com
                              - james.user02@somemail1234.com
                          - name: room2
                            participants:
                              - james.user03@somemail1234.com
                        use_pmi: false
                        waiting_room: false
                        watermark: false
                      close_registration: false
                      cn_meeting: false
                      enforce_login: false
                      enforce_login_domains: ""
                      global_dial_in_countries:
                        - US
                      global_dial_in_numbers:
                        - city: New York
                          country: US
                          country_name: US
                          number: +1 1000200200
                          type: toll
                        - city: San Jose
                          country: US
                          country_name: US
                          number: +1 6699006833
                          type: toll
                        - city: San Jose
                          country: US
                          country_name: US
                          number: +1 408000000
                          type: toll
                      start_time: 2019-08-30T22:00:00Z
                      start_url: https://zoom.us/s/1100000?iIifQ.wfY2ldlb82SWo3TsR77lBiJjR53TNeFUiKbLyCvZZjw
                      status: waiting
                      timezone: America/New_York
                      topic: API Test
                      type: 2
                      uuid: ng1MzyWNQaObxcf3+Gfm6A==
              schema:
                allOf:
                  - $ref: '#/components/schemas/MeetingMetadata'
                  - $ref: '#/components/schemas/RequestedMeetingDetails'
                description: Details of the created meeting.
            application/xml:
              schema:
                allOf:
                  - $ref: '#/components/schemas/MeetingMetadata'
                  - $ref: '#/components/schemas/RequestedMeetingDetails'
                description: Details of the created meeting.
          description: "HTTP Status Code:201 - Meeting created."
          headers:
            Content-Location:
              description: Location of created Meeting
              schema:
                type: string
        "300":
          description: >
            **HTTP Status Code:** `300`

            Invalid enforce_login_domains, separate multiple domains by semicolon.

            A maximum of {rateLimitNumber} meetings can be created/updated for a single user in one day.
        "404":
          description: >
            **HTTP Status Code:** `404` **Not Found**

            User not found.


            **Error Code:** `1001` User {userId} not exist or not belong to this account.
      summary: Create a meeting
      tags:
        - Meetings
  "/meetings/{meetingId}/registrants":
    get:
      description: A host or a user with admin permission can require [registration
        for a Zoom meeting
      operationId: listMeetingRegistrants
      x-display:
        label: List Meeting Registrants
      parameters:
        - description: MThe meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-display:
            label:  Meeting Id
        - description: The meeting occurrence ID.
          in: query
          name: occurrence_id
          schema:
            type: string
          x-display:
            label: Occurence Id
        - description: The registrant status
          in: query
          name: status
          schema:
            default: approved
            enum:
              - pending
              - approved
              - denied
            type: string
          x-display:
            label: Registrant Status
          x-enum-descriptions:
            - registrants status is pending
            - registrants status is approved
            - registrants status is denied
        - description: The number of records returned within a single API call.
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-display:
            label: Page Size
        - description: "Deprecated - The page number of the current page in the returned records."
          in: query
          name: page_number
          schema:
            default: 1
            type: integer
          x-display:
            label: Page Number
        - description: The next page token is used to paginate through large result sets.  A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
          in: query
          name: next_page_token
          schema:
            type: string
          x-display:
            label: Next Page Token
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    page_count: 1
                    page_number: 1
                    page_size: 1
                    registrants:
                      - address: 11111 Awesome St
                        city: Paris
                        comments: Love using Zoom APIs
                        country: France
                        create_time: 2012-04-14T16:55:30.231Z
                        custom_questions:
                          - title: Did you enjoy the registration process?
                            value: Yes, alot.
                          - title: Would you like to register for our next meeting?
                            value: Absolutely.
                        email: somemeail@emailprovider.com
                        first_name: Tim
                        id: zjkfsdfjdfhg
                        industry: Tech
                        job_title: Developer
                        join_url: https://success.zoom.us/j/0000000000000
                        last_name: S.
                        no_of_employees: 1-20
                        org: Growth
                        phone: "00000"
                        purchasing_time_frame: Within a month
                        role_in_purchase_process: Not involved
                        state: Ile-de-France
                        status: approved
                        zip: "11000"
                    total_records: 1
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationObject'
                  - $ref: '#/components/schemas/RegistrantsList'
                description: List of users.
                title: Registration List
            application/xml:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationObject'
                  - $ref: '#/components/schemas/RegistrantsList'
                description: List of users.
                title: Registration List
          description: "HTTP Status Code:200. Successfully listed meeting registrants."
      security:
        - OAuth: []
      summary: List meeting registrants
      tags:
        - Meetings
    post:
      description: >-
        Register a participant for a meeting. Note that there is a
        maximum limit of 4999 registrants per meeting and users will see an
        error if the capacity has reached.


        **Prerequisite:**

        * Host user type must be "Licensed".


        **Scopes:** `meeting:write:admin` `meeting:write`
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
      operationId: addMeetingRegistrant
      x-display:
        label: Add Meeting Registrant
      parameters:
        - description: The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-display:
            label: Meeting Id
        - description: "Occurrence IDs. You can find these with the meeting get API. Multiple values separated by comma."
          in: query
          name: occurrence_ids
          schema:
            type: string
          required: false
          x-display:
            label: Occurence Id
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - description: Registrant base object
                  x-display:
                    label: Registrant Details
                  properties:
                    address:
                      description: Registrant's address.
                      type: string
                      x-display:
                        label: Registrant's Address
                    city:
                      description: Registrant's city.
                      type: string
                      x-display:
                        label: Registrant's City
                    comments:
                      description: A field that allows registrants to provide any questions or
                        comments that they might have.
                      type: string
                      x-display:
                        label: Comments
                    country:
                      description: Registrant's country. The value of this field must be in two-letter
                        abbreviated form and must match the ID field provided in
                        the
                        [Countries](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries)
                        table.
                      type: string
                      x-display:
                        label: Registrant's Country
                    custom_questions:
                      description: Custom questions.
                      x-display:
                        label: Custom Questions
                      items:
                        description: Custom Question.
                        properties:
                          title:
                            type: string
                            x-display:
                              label: Title
                          value:
                            type: string
                            x-display:
                              label: Value
                        type: object
                      type: array
                    email:
                      description: A valid email address of the registrant.
                      maxLength: 128
                      type: string
                      x-display:
                        label: Email
                    first_name:
                      description: Registrant's first name.
                      maxLength: 64
                      type: string
                      x-display:
                        label: First Name
                    industry:
                      description: Registrant's Industry.
                      type: string
                      x-display:
                        label: Industry
                    job_title:
                      description: Registrant's job title.
                      type: string
                      x-display:
                        label: Job Title
                    last_name:
                      description: Registrant's last name.
                      maxLength: 64
                      type: string
                      x-display:
                        label: Last Name
                    no_of_employees:
                      description: "Number of Employees: `1-20`, `21-50`, `51-100`, `101-500`, `500-1,000`, `1,001-5,000`, `5,001-10,000`, `More than 10,000`"
                      type: string
                      x-display:
                        label: No of Employees
                    org:
                      description: Registrant's Organization.
                      type: string
                      x-display:
                        label: Registrant's Organization.
                    phone:
                      description: Registrant's Phone number.
                      type: string
                      x-display:
                        label: Registrant's Phone Number
                    purchasing_time_frame:
                      description: >-
                        This field can be included to gauge interest of webinar attendees
                        towards buying your product or service.


                        Purchasing Time Frame:`Within a month``1-3 months``4-6 months``More than 6 months``No timeframe`
                      type: string
                      x-display:
                        label: Purchasing Time Frame
                    role_in_purchase_process:
                      description: "Role in Purchase Process: `Decision Maker`, `Evaluator/Recommender`, `Influencer`, `Not involved` "
                      type: string
                      x-display:
                        label: Role in Purchase Process
                    state:
                      description: Registrant's State/Province.
                      type: string
                      x-display:
                        label: Registrant's State/Province
                    zip:
                      description: Registrant's Zip/Postal Code.
                      type: string
                      x-display:
                        label: Registrant's Zip/Postal Code
                  required:
                    - email
                    - first_name
                  type: object
                - properties:
                    language:
                      description: "Registrant's language preference for confirmation  emails. The value can be one of the following: `en-US`,`de-DE`,`es-ES`,`fr-FR`,`jp-JP`,`pt-PT`,`ru-RU`,`zh-CN`, `zh-TW`, `ko-KO`, `it-IT`, `vi-VN`."
                      type: string
                      x-display:
                        label: Language
                - properties:
                    auto_approve:
                      type: boolean
                      x-display:
                        label:  Enable Auto Approve
              description: " Registrant."
              type: object
              x-display:
                label: Registrant's Details
          multipart/form-data:
            schema:
              allOf:
                - description: Registrant base object
                  properties:
                    address:
                      description: Registrant's address.
                      type: string
                    city:
                      description: Registrant's city.
                      type: string
                    comments:
                      description: A field that allows registrants to provide any questions or
                        comments that they might have.
                      type: string
                    country:
                      description: Registrant's country. The value of this field must be in two-letter
                        abbreviated form and must match the ID field provided in
                        the
                        [Countries](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries)
                        table.
                      type: string
                    custom_questions:
                      description: Custom questions.
                      items:
                        description: Custom Question.
                        properties:
                          title:
                            type: string
                          value:
                            type: string
                        type: object
                      type: array
                    email:
                      description: A valid email address of the registrant.
                      maxLength: 128
                      type: string
                    first_name:
                      description: Registrant's first name.
                      maxLength: 64
                      type: string
                    industry:
                      description: Registrant's Industry.
                      type: string
                    job_title:
                      description: Registrant's job title.
                      type: string
                    last_name:
                      description: Registrant's last name.
                      maxLength: 64
                      type: string
                    no_of_employees:
                      description: "Number of Employees: `1-20`, `21-50`, `51-100`, `101-500`, `500-1,000`, `1,001-5,000`, `5,001-10,000`, `More than 10,000`"
                      type: string
                    org:
                      description: Registrant's Organization.
                      type: string
                    phone:
                      description: Registrant's Phone number.
                      type: string
                    purchasing_time_frame:
                      description: >-
                        This field can be included to gauge interest of webinar attendees
                        towards buying your product or service.


                        Purchasing Time Frame:`Within a month``1-3 months``4-6 months``More than 6 months``No timeframe`
                      type: string
                    role_in_purchase_process:
                      description: "Role in Purchase Process: `Decision Maker`, `Evaluator/Recommender`, `Influencer`, `Not involved` "
                      type: string
                    state:
                      description: Registrant's State/Province.
                      type: string
                    zip:
                      description: Registrant's Zip/Postal Code.
                      type: string
                  required:
                    - email
                    - first_name
                  type: object
                - properties:
                    language:
                      description: >-
                        Registrant's language preference for confirmation  emails. The
                        value can be one of the following:

                        `en-US`,`de-DE`,`es-ES`,`fr-FR`,`jp-JP`,`pt-PT`,`ru-RU`,`zh-CN`, `zh-TW`, `ko-KO`, `it-IT`, `vi-VN`.
                      type: string
                - properties:
                    auto_approve:
                      type: boolean
              description: " Registrant."
              type: object
        required: true
        description: Meeting Registrant Details
        x-examples:
          application/json:
            address: 123 Main ST
            city: San Jose
            comments: Excited to host you.
            country: US
            custom_questions:
              - title: Favorite thing about Zoom
                value: Meet Happy
            email: myemail@mycompany.com
            first_name: Mike
            industry: Tech
            job_title: DA
            last_name: Brown
            no_of_employees: 1-20
            org: IT
            phone: 111-444-4444
            purchasing_time_frame: More Than 6 Months
            role_in_purchase_process: Influencer
            state: CA
            zip: "95550"
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: 85746065
                    join_url: amet
                    registrant_id: a
                    start_time: culpa mollit
                    topic: reprehenderit ea ut ex Excepteur
              schema:
                properties:
                  id:
                    description: '[Meeting
                      ID](https://support.zoom.us/hc/en-us/articles/201362373-What-is-a-Meeting-ID-):
                      Unique identifier of the meeting in "**long**"
                      format(represented as int64 data type in JSON), also known
                      as the meeting number.'
                    format: int64
                    type: integer
                  join_url:
                    description: >-
                      Unique URL for this registrant to join the meeting. This URL should
                      only be shared with the registrant for whom the API
                      request was made.

                      If the meeting was [created](https://marketplace.zoom.us/docs/api-reference/zoom-api/meetings/meetingcreate) with manual approval type (`approval_type`: 1), the join URL will not be returned in the response.
                    type: string
                  registrant_id:
                    description: Unique identifier of the registrant.
                    type: string
                  start_time:
                    description: The start time for the meeting.
                    type: string
                  topic:
                    description: Topic of the meeting.
                    type: string
                type: object
            application/xml:
              schema:
                properties:
                  id:
                    description: '[Meeting
                      ID](https://support.zoom.us/hc/en-us/articles/201362373-What-is-a-Meeting-ID-):
                      Unique identifier of the meeting in "**long**"
                      format(represented as int64 data type in JSON), also known
                      as the meeting number.'
                    format: int64
                    type: integer
                  join_url:
                    description: >-
                      Unique URL for this registrant to join the meeting. This URL should
                      only be shared with the registrant for whom the API
                      request was made.

                      If the meeting was [created](https://marketplace.zoom.us/docs/api-reference/zoom-api/meetings/meetingcreate) with manual approval type (`approval_type`: 1), the join URL will not be returned in the response.
                    type: string
                  registrant_id:
                    description: Unique identifier of the registrant.
                    type: string
                  start_time:
                    description: The start time for the meeting.
                    type: string
                  topic:
                    description: Topic of the meeting.
                    type: string
                type: object
          description: Add meeting registrant respond
      security:
        - OAuth: []
      summary: Add meeting registrant
      tags:
        - Meetings
  "/meetings/{meetingId}":
    delete:
      description: >+
        Delete a meeting.

        **Scopes:** `meeting:write:admin` `meeting:write`

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light` 

      operationId: deleteMeeting
      x-display:
        label: Delete Meeting
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-display:
            label: Meeting Id
        - description: The meeting occurrence ID.
          in: query
          name: occurrence_id
          schema:
            type: string
          x-display:
            label: Occurence Id
        - description: >-
            `true`: Notify host and alternative host about the meeting
            cancellation via email.

            `false`: Do not send any email notification.
          in: query
          name: schedule_for_reminder
          schema:
            type: boolean
          x-display:
            label: Schedule for Reminder 
        - description: >-
            `true`: Notify registrants about the meeting cancellation via
            email. 


            `false`: Do not send any email notification to meeting registrants. 


            The default value of this field is `false`.
          in: query
          name: cancel_meeting_reminder
          schema:
            type: string
          x-display:
            label: Meeting Cancellation Reminder
      responses:
        "204":
          description: "**HTTP Status Code**: `204` Meeting deleted."
        "400":
          description: >+
            **HTTP Status Code**: `400` 

            **Error Code**: `1010` 

            User does not belong to this account: {accountId}.

            **Error Code**: `3000` Cannot access meeting information.Invalid occurrence_id.

            **Error Code**: `3002` 

            Sorry, you cannot delete this meeting since it is in progress.**Error Code**: `3003` You are not the meeting host.

            **Error Code**: `3007` Sorry, you cannot delete this meeting since it has ended.**Error Code**: `3018` 

            Not allowed to delete PMI.**Error Code**: `3037` Not allowed to delete PAC.
        "404":
          description: |-
            **HTTP Status Code**: `404` 
            Meeting not found.
            **Error Code**: `1001` 
            User does not exist: {userId}.
            **Error Code**: `3001` 
            Meeting with this {meetingId} is not found or has expired.
      security:
        - OAuth: []
      summary: Delete a meeting
      tags:
        - Meetings
    get:
      description: >+
        Retrieve the details of a meeting.

        **Scopes:** `meeting:read:admin` `meeting:read`

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light` 

      operationId: getMeetingById
      x-display:
        label: Get Meeting Details
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-display:
            label: Meeting Id
        - description: Meeting Occurrence ID. Provide this field to view meeting details
            of a particular occurrence of the [recurring
            meeting](https://support.zoom.us/hc/en-us/articles/214973206-Scheduling-Recurring-Meetings).
          in: query
          name: occurrence_id
          schema:
            type: string
          x-display:
            label: Occurence Id
        - description: "Set the value of this field to `true` if you would like to view
            meeting details of all previous occurrences of a [recurring
            meeting](https://support.zoom.us/hc/en-us/articles/214973206-Schedu\
            ling-Recurring-Meetings). "
          in: query
          name: show_previous_occurrences
          schema:
            type: boolean
          x-display:
            label: Show Previous Occurrences
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    agenda: API overview
                    created_at: 2019-09-09T15:54:24Z
                    duration: 60
                    host_id: ABcdofjdogh11111
                    id: 1234555466
                    join_url: https://zoom.us/j/1234555466
                    settings:
                      alternative_hosts: kjxckfjxgfgjdfk@dkjfhdskhf.com
                      approval_type: 2
                      audio: both
                      auto_recording: local
                      close_registration: false
                      cn_meeting: false
                      enforce_login: false
                      enforce_login_domains: mycompanydomain.com
                      global_dial_in_countries:
                        - US
                      global_dial_in_numbers:
                        - city: New York
                          country: US
                          country_name: US
                          number: +1 000011100
                          type: toll
                        - city: San Jose
                          country: US
                          country_name: US
                          number: +1 6699006833
                          type: toll
                        - city: San Jose
                          country: US
                          country_name: US
                          number: +1 221122112211
                          type: toll
                      host_video: false
                      in_meeting: false
                      join_before_host: true
                      mute_upon_entry: false
                      participant_video: false
                      registrants_confirmation_email: true
                      registrants_email_notification: true
                      use_pmi: false
                      waiting_room: false
                      watermark: false
                    start_time: 2019-08-30T22:00:00Z
                    start_url: https://zoom.us/1234555466/cdknfdffgggdfg4MDUxNjY0LCJpYXQiOjE1NjgwNDQ0NjQsImFpZCI6IjRBOWR2QkRqVHphd2J0amxoejNQZ1EiLCJjaWQiOiIifQ.Pz_msGuQwtylTtYQ
                    status: waiting
                    timezone: America/New_York
                    topic: My API Test
                    type: 2
                    uuid: iAABBBcccdddd7A==
              schema:
                allOf:
                  - $ref: '#/components/schemas/MeetingFullMetadata'
                  - $ref: '#/components/schemas/RequestedMeetingDetails'
                description: Details of the meeting.
            application/xml:
              schema:
                allOf:
                  - $ref: '#/components/schemas/MeetingFullMetadata'
                  - $ref: '#/components/schemas/RequestedMeetingDetails'
                description: Details of the meeting.
          description: "**HTTP Status Code:** `200` Meeting object returned."
        "400":
          description: >-
            **HTTP Status Code:** `400`

            **Error Code:** `1010`

            User not found on this account: {accountId}.**Error Code:** `3000`

            Cannot access webinar info.
        "404":
          description: |-
            **HTTP Status Code:** `404`
            Meeting not found.
            **Error Code:** `1001`
            User not exist: {userId}.**Error Code:** `3001`
            Meeting {meetingId} is not found or has expired.
      security:
        - OAuth: []
      summary: Get a meeting
      tags:
        - Meetings
  "/past_meetings/{meetingUUID}/participants":
    get:
      description: >
        Retrieve information on participants from a past meeting. <br><br>

        **Scopes:** `meeting:read:admin` `meeting:read`

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
        **Prerequisites:**<br>

        * Paid account on a Pro or higher plan.


        <br> <br>  **Note**: Please double encode your UUID when using this API if the UUID begins with a '/'or contains '//' in it.
      operationId: listPastMeetingParticipants
      x-display:
        label: List Past Meeting Participants
      parameters:
        - description: The meeting UUID. Each meeting instance will generate its own
            Meeting UUID (i.e., after a meeting ends, a new UUID will be
            generated for the next instance of the meeting). Please double
            encode your UUID when using it for other API calls if the UUID
            begins with a '/'or contains '//' in it.
          in: path
          name: meetingUUID
          required: true
          schema:
            type: string
          x-display:
            label: Meeting UUID
        - description: The number of records returned within a single API call.
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-display:
            label: Page Size
        - description: The next page token is used to paginate through large result sets.
            A next page token will be returned whenever the set of available
            results exceeds the current page size. The expiration period for
            this token is 15 minutes.
          in: query
          name: next_page_token
          schema:
            type: string
          x-display:
            label: Next Page Token
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    next_page_token: aliqua
                    page_count: 1
                    page_size: 30
                    participants:
                      - id: 8b29rgg4bb
                        name: Ram Shekhar
                        user_email: ram.shekhar.123@fkdngfjg.fdghdfgj
                    total_records: 1
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationObject'
                  - $ref: '#/components/schemas/MeetingPartcipantsList'
                description: List of participants
            application/xml:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationObject'
                  - $ref: '#/components/schemas/MeetingPartcipantsList'
          description: |-
            **HTTP Status Code:** `200`<br>
            Meeting participants' report returned.
        "400":
          description: |+
            **HTTP Status Code:** `400`<br>
            **Error Code:** `1010`<br>
            User {userId} not exist or not belong to this account.<br><br>
            **Error Code:** `300`<br>
            Cannot access meeting information.<br><br>
            **Error Code:** `200`<br>
            Only available for paid account: {accountId}

        "404":
          description: |-
            **HTTP Status Code:** `404`<br>
            Meeting not found<br>
            **Error Code:** `1001`<br>
            User {userId} not exist or not belong to this account.<br>
            User not exist: {userId}<br><br>
            **Error Code:** `3001`<br>
            This meeting is not available or ID is not valid.<br>
            Meeting ID is invalid or not end.
      security:
        - OAuth: []
      summary: List past meeting participants
      tags:
        - Meetings
  "/webinars/{webinarId}/registrants":
    get:
      description: >+
        Zoom users with a [Webinar Plan](https://zoom.us/webinar) have
        access to creating and managing Webinars. Webinar allows a host to
        broadcast a Zoom meeting to up to 10,000 attendees. Scheduling a
        [Webinar with
        registration](https://support.zoom.us/hc/en-us/articles/204619915-Scheduling-a-Webinar-with-Registration)
        requires your registrants to complete a brief form before receiving the
        link to join the Webinar. 

        Use this API to list all the users that have registered for a webinar.  

        **Prerequisites:**

        * Pro or higher plan with a Webinar Add-on. 

        **Scopes:** `webinar:read:admin` `webinar:read`  
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium` 

      operationId: listWebinarRegistrants
      x-display:
        label: List Webinar Meeting Registrants
      parameters:
        - description: 'The webinar ID in "**long**" format(represented as int64 data type
            in JSON). '
          in: path
          name: webinarId
          required: true
          schema:
            format: int64
            type: integer
          x-display:
            label: Webinar Id
        - description: The meeting occurrence ID.
          in: query
          name: occurrence_id
          schema:
            type: string
          x-display:
            label: Meeting Occurence Id
        - description: "The registrant status: `pending` - Registrant's status is pending. `approved` - Registrant's status is approved.`denied` - Registrant's status is denied."
          in: query
          name: status
          schema:
            default: approved
            enum:
              - pending
              - approved
              - denied
            type: string
          x-display:
            label: Status
          x-enum-descriptions:
            - registrants status is pending
            - registrants status is approved
            - registrants status is denied
        - description: The tracking source ID for the registrants. Useful if you share the
            webinar registration page in multiple locations. See [Creating
            source tracking links for webinar
            registration](https://support.zoom.us/hc/en-us/articles/360000315683-Creating-source-tracking-links-for-webinar-registration)
            for details.
          in: query
          name: tracking_source_id
          schema:
            type: string
          x-display:
            label: Tracking Source Id
        - description: The number of records returned within a single API call.
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-display:
            label: Page Size
        - description: The page number of the current page in the returned records.
          in: query
          name: page_number
          schema:
            default: 1
            type: integer
          x-display:
            label: Page Number
        - description: The next page token is used to paginate through large result sets.
            A next page token will be returned whenever the set of available
            results exceeds the current page size. The expiration period for
            this token is 15 minutes.
          in: query
          name: next_page_token
          schema:
            type: string
          x-display:
            label: Next Page Token
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    page_count: "1"
                    page_number: "1"
                    page_size: "30"
                    registrants:
                      - address: dsfhkdjsfh st
                        city: jackson heights
                        comments: Looking forward to the Webinar
                        country: US
                        create_time: 2019-02-26T23:01:16.899Z
                        custom_questions:
                          - title: What do you hope to learn from this Webinar?
                            value: Look forward to learning how you come up with new recipes and what other
                              services you offer.
                        email: sjfkghdsg@someemail.dfgjd
                        first_name: Jill
                        id: "24000002122"
                        industry: Food
                        job_title: Chef
                        join_url: https://zoom.us/webinar/mywebinarissocooldighdghodghodg
                        last_name: Chill
                        no_of_employees: "10"
                        org: Cooking Org
                        phone: "00000000"
                        purchasing_time_frame: 1-3 months
                        role_in_purchase_process: Influencer
                        state: NY
                        status: approved
                        zip: "11371"
                    total_records: "1"
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationObject'
                  - $ref: '#/components/schemas/RegistrantsList'
                description: List of users.
                title: Registration List
                type: object
            application/xml:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationObject'
                  - $ref: '#/components/schemas/RegistrantsList'
                description: List of users.
                title: Registration List
                type: object
          description: "HTTP Status Code: `200` Webinar plan subscription is missing. Enable webinar for this user once the subscription is added."
        "300":
          description: "**HTTP Status Code:** `300` Invalid webinar ID."
        "400":
          description: |-
            **HTTP Status Code:** `400` 
            Bad request 
            **Error Code:** `1010` 
            User does not belong to this account:{accountId}. 
        "404":
          description: |-
            **HTTP Status Code:** `404` 
            Webinar not found. 
            **Error Code:** `1001` 
            User {userId} does not exist or does not belong to this account. 
            **Error Code:** `3001` 
            Webinar {webinarId} not found or has expired. 
      security:
        - OAuth: []
      summary: List webinar registrants
      tags:
        - Webinars
    parameters:
      - in: path
        name: webinarId
        required: true
        schema:
          type: string
        x-display:
          label: Webinar Id
  "/past_webinars/{webinarId}/participants":
    get:
      description: >+
        Use this API to list all the participants who attended a webinar
        hosted in the past.  


        **Prerequisites:**

        * Pro or higher plan with a Webinar Add-on. 

        **Scopes:** `webinar:read:admin` `webinar:read`  

         

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium` 



      operationId: listWebinarParticipants
      x-display:
        label: List Webinar Participants
      parameters:
        - description: Unique identifier of the webinar. You can retrieve the value of
            this field by calling the [list
            webinars](https://marketplace.zoom.us/docs/api-reference/zoom-api/webinars/webinars)
            API.
          in: path
          name: webinarId
          required: true
          schema:
            type: string
          x-display:
            label: Webinar Id
        - description: The number of records returned within a single API call.
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-display:
            label: Page Size
        - description: The next page token is used to paginate through large result sets.
            A next page token will be returned whenever the set of available
            results exceeds the current page size. The expiration period for
            this token is 15 minutes.
          in: query
          name: next_page_token
          schema:
            type: string
          x-display:
            label: Next Page Token
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    next_page_token: mdnf23qbsf4wr
                    page_count: 1
                    page_size: 1
                    participants:
                      - id: sdjhf3ui
                        name: Matt
                        user_email: matt@123.jhdyuerys
                    total_records: 1
              schema:
                properties:
                  next_page_token:
                    description: The next page token is used to paginate through large result sets.
                      A next page token will be returned whenever the set of
                      available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.
                    type: string
                  page_count:
                    description: The number of pages returned for this request.
                    type: integer
                  page_size:
                    default: 30
                    description: The total number of records returned from a single API call.
                    maximum: 300
                    type: integer
                  participants:
                    description: ParticipantsDetails
                    items:
                      properties:
                        id:
                          description: Unique identifier of the participant.
                          type: string
                        name:
                          description: Name of the participant.
                          type: string
                        user_email:
                          description: Email address of the participant.
                          format: email
                          type: string
                      type: object
                    type: array
                  total_records:
                    description: The total number of records available across all pages.
                    type: integer
                type: object
            application/xml:
              schema:
                properties:
                  next_page_token:
                    description: The next page token is used to paginate through large result sets.
                      A next page token will be returned whenever the set of
                      available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.
                    type: string
                  page_count:
                    description: The number of pages returned for this request.
                    type: integer
                  page_size:
                    default: 30
                    description: The total number of records returned from a single API call.
                    maximum: 300
                    type: integer
                  participants:
                    items:
                      properties:
                        id:
                          description: Unique identifier of the participant.
                          type: string
                        name:
                          description: Name of the participant.
                          type: string
                        user_email:
                          description: Email address of the participant.
                          format: email
                          type: string
                      type: object
                    type: array
                  total_records:
                    description: The total number of records available across all pages.
                    type: integer
                type: object
          description: "Webinar participants' details"
        "400":
          description: |
            **HTTP Status Code:** `400` **Bad request** 

            **Error Code:** `200` 
            No permission. 
            Only available for paid account: {accountId}.  
            **Error Code:**  `300` 
            The next page token is invalid or expired.
        "404":
          description: |-
            **HTTP Status Code:** `404`
            **Error Code:**`3001` 
            Webinar does not exist.
      summary: List webinar participants
      tags:
        - Webinars
    parameters:
      - in: path
        name: webinarId
        required: true
        schema:
          type: string
        x-display:
          label: Webinar Id
  "/past_webinars/{WebinarUUID}/absentees":
    get:
      description: >-
        List absentees of a webinar.  

        **Scopes:** `webinar:read:admin` `webinar:read` 
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`
      operationId: listWebinarAbsentees
      x-display:
        label: List Webinar Absentees
      parameters:
        - description: The meeting occurrence ID.
          in: query
          name: occurrence_id
          schema:
            type: string
          x-display:
            label: Occurence Id
        - description: The number of records returned within a single API call.
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-display:
            label: Page Size
        - description: The next page token is used to paginate through large result sets.
            A next page token will be returned whenever the set of available
            results exceeds the current page size. The expiration period for
            this token is 15 minutes.
          in: query
          name: next_page_token
          schema:
            type: string
          x-display:
            label: Next Page Token
        - description: The Webinar UUID. Each Webinar instance will generate its own
            Webinar UUID (i.e., after a Webinar ends, a new UUID will be
            generated for the next instance of the Webinar). Please double
            encode your UUID when using it for API calls if the UUID begins with
            a '/' or contains '//' in it.
          in: path
          name: WebinarUUID
          required: true
          schema:
            type: string
          x-display:
            label: Webinar UUID
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    page_count: 1
                    page_number: 1
                    page_size: 30
                    registrants:
                      - address: dsfhkdjsfh st
                        city: jackson heights
                        comments: Looking forward to the Webinar
                        country: USA
                        create_time: 2019-02-26T23:01:16.899Z
                        custom_questions:
                          - title: What do you hope to learn from this Webinar?
                            value: Look forward to learning how you come up with new recipes and what other
                              services you offer.
                        email: sjfkghdsg@someemail.dfgjd
                        first_name: Jill
                        id: "24000002122"
                        industry: Food
                        job_title: Chef
                        join_url: https://zoom.us/webinar/mywebinarissocooldighdghodghodg
                        last_name: Chill
                        no_of_employees: "10"
                        org: Cooking Org
                        phone: "00000000"
                        purchasing_time_frame: 1-3 months
                        role_in_purchase_process: Influencer
                        state: NY
                        status: approved
                        zip: "11371"
                    total_records: 1
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationObject'
                  - $ref: '#/components/schemas/RegistrantsList'
                description: List of users.
                title: Registration List
                type: object
            application/xml:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationObject'
                  - $ref: '#/components/schemas/RegistrantsList'
                description: List of users.
                title: Registration List
                type: object
          description: >-
            **HTTP Status Code:** `200` 

            Success. **Error Code:** `200` 

            Webinar plan subscription is missing. Enable webinar for this user once the subscription is added:{userId}.
        "300":
          description: "**Error Code:** `300` Invalid webinar UUID."
        "400":
          description: >-
            **HTTP Status Code:** `400` 

            **Error Code:** `300` 

            The request could not be completed because you have provided an invalid occurence ID: {occurenceId} 

            **Error Code:** `1010` 

            User does not belong to this account:{accountId}. 

            **Error Code:** `3000` 

            This Webinar has not registration required: {webinarUUID}
        "404":
          description: |+
            **HTTP Status Code:** `404` 
            **Error Code:** `1001` 
            User {userId} does not exist or does not belong to this account. 
            **Error Code:** `3001` Meeting ID is invalid or not end.

      security:
        - OAuth: []
      summary: List webinar absentees
      tags:
        - Webinars
components:
  schemas:
    MeetingDetails:
      description: Base object for meeting
      x-display:
        label: Meeting Details
      properties:
        agenda:
          description: Meeting description.
          maxLength: 2000
          type: string
          x-display:
            label: Description
        duration:
          description: "Meeting duration (minutes). Used for scheduled meetings only."
          type: integer
          x-display:
            label: Duration
        password:
          description: "Passcode to join the meeting."
          maxLength: 10
          type: string
          x-display:
            label: Password
        recurrence:
          $ref: '#/components/schemas/ReccurenceDetails'
        schedule_for:
          description: "If you would like to schedule this meeting for someone else in your account, provide the Zoom user id or email address of the user here."
          type: string
          x-display:
            label: Scheduled For
        settings:
          $ref: '#/components/schemas/MeetingSettingsInRequest'
        start_time:
          description: "Meeting start time. We support two formats for `start_time` - local time and GMT.To set time as GMT the format should be `yyyy-MM-dd`T`HH:mm:ssZ`. To set time using a specific timezone, use `yyyy-MM-dd`T`HH:mm:ss` format and specify the timezone id in the `timezone` field OR leave it blank and the timezone set on your Zoom account will be used. You can also set the time as UTC as the timezone field"
          type: string
          format: date-time
          x-display:
            label: Meeting Start Time
        template_id:
          description: "Unique identifier of the admin meeting template. To create  admin meeting templates, contact the Zoom support team."
          type: string
          x-display:
            label: Template Id
        timezone:
          description: Time zone to format start_time. For example, "America/Los_Angeles".
            For scheduled meetings only. Please reference our [time
            zone](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones)
            list for supported time zones and their formats.
          type: string
          x-display:
            label: Timezone
        topic:
          description: Meeting topic.
          type: string
          x-display:
            label: Meeting Topic
        tracking_fields:
          description: Tracking fields
          x-display:
            label: Tracking Fields
          items:
            properties:
              field:
                description: Label of the tracking field.
                type: string
                x-display:
                  label: Label
              value:
                description: Tracking fields value
                type: string
                x-display:
                  label: Value
            required:
              - field
            type: object
          type: array
        type:
          default: 2
          description: "Meeting Type: 1 - Instant meeting. 2 - Scheduled meeting. 3 - Recurring meeting with no fixed time. 8 - Recurring meeting with fixed time."
          enum:
            - 1
            - 2
            - 3
            - 8
          type: integer
          x-display:
            label: Meeting Type
          x-enum-descriptions:
            - Instant Meeting
            - Scheduled Meeting
            - Recurring Meeting with no fixed time
            - Recurring Meeting with fixed time
      type: object
    MeetingFullMetadata:
      properties:
        assistant_id:
          description: Unique identifier of the scheduler who scheduled this meeting on
            behalf of the host. This field is only returned if you
            used "schedule_for" option in the [Create a Meeting
            API
            request](https://marketplace.zoom.us/docs/api-reference/zoom-api/meetings/meetingcreate).
          type: string
        host_email:
          description: Email address of the meeting host.
          format: email
          type: string
        host_id:
          description: ID of the user who is set as host of meeting.
          type: string
        id:
          description: '[Meeting
            ID](https://support.zoom.us/hc/en-us/articles/201362373-What-is-a-Meeting-ID-):
            Unique identifier of the meeting in "**long**"
            format(represented as int64 data type in JSON), also
            known as the meeting number.'
          format: int64
          type: integer
        uuid:
          description: >
            Unique meeting ID. Each meeting instance will generate its own
            Meeting UUID (i.e., after a meeting ends, a new UUID
            will be generated for the next instance of the
            meeting). You can retrieve a list of UUIDs from past
            meeting instances using [this
            API](https://marketplace.zoom.us/docs/api-reference/zoom-api/meetings/pastmeetings)
            . Please double encode your UUID when using it for API
            calls if the UUID begins with a '/'or contains '//' in
            it.
          type: string
      type: object
      description: Detailed Meeting Metadata
    MeetingSettingsInRequest:
      description: Meeting settings
      x-display:
                    label: Meeting Settings
      properties:
        additional_data_center_regions:
          description: "Enable additional data center regions for this meeting. Provide the value in  the form of array of country code(s) for the countries which are available as data center regions"
          items:
            type: string
          type: array
          x-display:
            label: Additiona Data Center Regions
        allow_multiple_devices:
          description: "If set to `true`, attendees will be allowed to join a meeting from multiple devices."
          type: boolean
          x-display:
            label: Allow Multiple Devices
        alternative_hosts:
          description: "Alternative host's emails or IDs: multiple values separated by a comma."
          type: string
          x-display:
            label: Allternative Hosts
        alternative_hosts_email_notification:
          default: true
          description: "Flag to determine whether to send email notifications to alternative hosts, default value is true."
          type: boolean
          x-display:
            label: Enable Email Notifications for Alternative Hosts
        approval_type:
          default: 2
          description: "The default value is `2`. To enable registration required, set the approval type to `0` or `1`.  `0` - Automatically approve. `1` - Manually approve. `2` - No registration required."
          enum:
            - 0
            - 1
            - 2
          type: integer
          x-display:
            label: Approval Type
          x-enum-descriptions:
            - Automatically Approve
            - Manually Approve
            - No Registration Required
        approved_or_denied_countries_or_regions:
          description: "Approve or block users from specific regions/countries from joining this meeting."
          x-display:
            label: Approval or Denial Info
          properties:
            approved_list:
              description: "List of countries/regions from where participants can join this meeting. "
              items:
                type: string
              type: array
              x-display:
                label: Approved Regions List
            denied_list:
              description: "List of countries/regions from where participants can not join this meeting. "
              items:
                type: string
              type: array
              x-display:
                label: Denied Regions List
            enable:
              description: "`true`: Setting enabled to either allow users or block users from specific regions to join your meetings.  `false`: Setting disabled."
              type: boolean
              x-display:
                label: Enable 
            method:
              description: "Specify whether to allow users from specific regions to join thismeeting; or block users from specific regions from oining this meeting. Values: approve or deny"
              enum:
                - approve
                - deny
              type: string
              x-display:
                label: Method
          type: object
        audio:
          default: both
          description: "Determine how participants can join the audio portion of the  meeting. both : Both Telephony and VoIP, telephony :Telephony only, voip:VoIP only."
          enum:
            - both
            - telephony
            - voip
          type: string
          x-enum-descriptions:
            - Both Telephony and VoIP
            - Telephony only
            - VoIP only
          x-display:
            label: Audio Type
        authentication_domains:
          description: "Meeting authentication domains. This option, allows you to specify the rule so that Zoom users, whose email address contains a certain domain, can join the meeting."
          type: string
          x-display:
            label: Authentication Domains
        authentication_option:
          description: "Specify the authentication type for users to join a meeting with `meeting_authentication` setting set to `true`. "
          type: string
          x-display:
            label: Authentication Option
        auto_recording:
          default: none
          description: "Automatic recording: local - Record on local.cloud - Record on cloud.none - Disabled."
          enum:
            - local
            - cloud
            - none
          type: string
          x-enum-descriptions:
            - Record to local device
            - Record to cloud
            - No Recording
          x-display:
            label: Auto Recording
        breakout_room:
          description: "Setting to pre-assign breakout rooms"
          x-display:
            label: Breakout Room Settings
          properties:
            enable:
              description: "Set the value of this field to `true` if you would like to enable the pre-assigned breakout rooms. "
              type: boolean
              x-display:
                label: Enable Pre-Assigned Breakout Rooms
            rooms:
              description: Create room(s).
              x-display:
                label: Breakout Room Details
              items:
                properties:
                  name:
                    description: Name of the breakout room.
                    type: string
                    x-display:
                      label: Name
                  participants:
                    description: "Email addresses of the participants who are to be assigned to the breakout room."
                    items:
                      type: string
                    x-display:
                      label: Participant List
                    type: array
                type: object
              type: array
          type: object
        close_registration:
          default: false
          description: Close registration after event date
          type: boolean
          x-display:
            label: Close Registration
        cn_meeting:
          default: false
          description: Host meeting in China.
          type: boolean
          x-display:
            label: Host Meeting in China
        contact_email:
          description: Contact email for registration
          type: string
          x-display:
            label: Contact Email
        contact_name:
          description: Contact name for registration
          type: string
          x-display:
            label: Contact Name
        encryption_type:
          description: "Choose between enhanced encryption and end-to-end encryption. Values: enhanced_encryption, e2ee"
          enum:
            - enhanced_encryption
            - e2ee
          type: string
          x-display:
            label: Encryption Type
        global_dial_in_countries:
          description: List of global dial-in countries
          items:
            type: string
          type: array
          x-display:
            label: Global Dial-In Countries
        host_video:
          description: Start video when the host joins the meeting.
          type: boolean
          x-display:
            label: Enable Host Video
        in_meeting:
          default: false
          description: Host meeting in India.
          type: boolean
          x-display:
            label: Host Meeting in India
        jbh_time:
          description: " If the value of join_before_host field is set to true, this field can be used to indicate time limits within which a participant may join a meeting before a host. The value of this field can be one of the following: 0: Allow participant to join anytime. 5: Allow participant to join 5 minutes before meeting start time. 10: Allow participant to join 10 minutes before meeting start time."
          enum:
            - 0
            - 5
            - 10
          type: integer
          x-display:
            label: Join Before Host Time
        join_before_host:
          default: false
          description: "Allow participants to join the meeting before the host starts the meeting. This field can only used for scheduled or recurring meetings."
          type: boolean
          x-display:
            label: Enable Join Before Host
        language_interpretation:
          description: "Language interpretation for meetings. "
          x-display:
            label: Language Interpretation
          properties:
            enable:
              description: "Indicate whether or not you would like to enable language interpretation or this meeting."
              type: boolean
              x-display:
                label: Enable
            interpreters:
              description: Information associated with the interpreter.
              x-display:
                label: interpreter Information
              items:
                properties:
                  email:
                    description: Email address of the interpreter.
                    format: email
                    type: string
                    x-display:
                      label: Email
                  languages:
                    description: "Languages for interpretation. The string must contain two separated by a comma. For example, if the language is to be interpreted from English to Chinese, the value of this field should be US,CN."
                    type: string
                    x-display:
                      label: Languages
                type: object
              type: array
          type: object
        meeting_authentication:
          description: "Only authenticated users can join meeting if the value of this field is set to `true`."
          type: boolean
          x-display:
            label: Meeting Authentication
        mute_upon_entry:
          default: false
          description: Mute participants upon entry.
          type: boolean
          x-display:
            label: Enable Mute Upon Entry
        participant_video:
          description: Start video when participants join the meeting.
          type: boolean
          x-display:
            label: Start Participant Video On Entry
        registrants_email_notification:
          description: "Send email notifications to registrants about approval,  cancellation, denial of the registration. The value of this field must be set to true in order to use the `registrants_confirmation_email` field."
          type: boolean
          x-display:
            label: Enable Email Notifications for Registrants
        registration_type:
          default: 1
          description: "Registration type. Used for recurring meeting with fixed time only. `1` - Attendees register once and can attend any of the occurrences. `2` - Attendees need to register for each occurrence to attend. `3` - occurrences to attend."
          enum:
            - 1
            - 2
            - 3
          type: integer
          x-display:
            label: Registration Type
          x-enum-descriptions:
            - Attendees register once and can attend any of the
              occurrences
            - Attendees need to register for each occurrence to
              attend
            - Attendees register once and can choose one or more
              occurrences to attend
        show_share_button:
          description: "If set to `true`, the registration page for the meeting will
            include social share buttons. "
          type: boolean
          x-display:
            label: Enable Social Share
        use_pmi:
          default: false
          description: Use Personal Meeting ID instead of an automatically generated
            meeting ID. It can only be used for scheduled meetings,
            instant meetings and recurring meetings with no fixed
            time.
          type: boolean
          x-display:
            label: User Personal Meeting Id
        waiting_room:
          description: Enable waiting room. Note that if the value of this field is set to
            `true`, it will override and disable the
            `join_before_host` setting.
          type: boolean
          x-display:
            label: Enable Waiting Room
        watermark:
          default: false
          description: Add watermark when viewing a shared screen.
          type: boolean
          x-display:
            label: Enable Watermark
      type: object
    RegistrantBaseObject:
      description: Registrant base object
      properties:
        address:
          description: Registrant's address.
          type: string
        city:
          description: Registrant's city.
          type: string
        comments:
          description: A field that allows registrants to provide any questions or
            comments that they might have.
          type: string
        country:
          description: Registrant's country. The value of this field must be in two-letter
            abbreviated form and must match the ID field provided in
            the
            [Countries](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries)
            table.
          type: string
        custom_questions:
          description: Custom questions.
          items:
            description: Custom Question.
            properties:
              title:
                type: string
              value:
                type: string
            type: object
          type: array
        email:
          description: A valid email address of the registrant.
          maxLength: 128
          type: string
        first_name:
          description: Registrant's first name.
          maxLength: 64
          type: string
        industry:
          description: Registrant's Industry.
          type: string
        job_title:
          description: Registrant's job title.
          type: string
        last_name:
          description: Registrant's last name.
          maxLength: 64
          type: string
        no_of_employees:
          description: "Number of Employees: `1-20`, `21-50`, `51-100`, `101-500`, `500-1,000`, `1,001-5,000`, `5,001-10,000`, `More than 10,000`"
          type: string
        org:
          description: Registrant's Organization.
          type: string
        phone:
          description: Registrant's Phone number.
          type: string
        purchasing_time_frame:
          description: >-
            This field can be included to gauge interest of webinar attendees
            towards buying your product or service.


            Purchasing Time Frame:`Within a month``1-3 months``4-6 months``More than 6 months``No timeframe`
          type: string
        role_in_purchase_process:
          description: "Role in Purchase Process: `Decision Maker`, `Evaluator/Recommender`, `Influencer`, `Not involved` "
          type: string
        state:
          description: Registrant's State/Province.
          type: string
        zip:
          description: Registrant's Zip/Postal Code.
          type: string
      required:
        - email
        - first_name
      type: object
    RegistrantsList:
      description: Meeting Registrnats's Details 
      properties:
        registrants:
          description: List of registrant objects.
          items:
            allOf:
              - properties:
                  id:
                    description: Registrant ID.
                    type: string
                type: object
              - description: Registrant base object
                properties:
                  address:
                    description: Registrant's address.
                    type: string
                  city:
                    description: Registrant's city.
                    type: string
                  comments:
                    description: A field that allows registrants to provide any questions or
                      comments that they might have.
                    type: string
                  country:
                    description: Registrant's country.
                    type: string
                  custom_questions:
                    description: Custom questions.
                    items:
                      description: Custom Question.
                      properties:
                        title:
                          type: string
                        value:
                          type: string
                      type: object
                    type: array
                  email:
                    description: A valid email address of the registrant.
                    maxLength: 128
                    type: string
                  first_name:
                    description: Registrant's first name.
                    maxLength: 64
                    type: string
                  industry:
                    description: Registrant's Industry.
                    type: string
                  job_title:
                    description: Registrant's job title.
                    type: string
                  last_name:
                    description: Registrant's last name.
                    maxLength: 64
                    type: string
                  no_of_employees:
                    description: "Number of Employees: `1-20`, `21-50`, `51-100`, `101-500`, `500-1,000`, `1,001-5,000`, `5,001-10,000`, `More than 10,000`"
                    type: string
                  org:
                    description: Registrant's Organization.
                    type: string
                  phone:
                    description: Registrant's Phone number.
                    type: string
                  purchasing_time_frame:
                    description: >-
                      This field can be included to gauge interest of webinar attendees
                      towards buying your product or
                      service.


                      Purchasing Time Frame:`Within a month``1-3 months``4-6 months``More than 6 months``No timeframe`
                    type: string
                  role_in_purchase_process:
                    description: "Role in Purchase Process: `Decision Maker`, `Evaluator/Recommender`, `Influencer`, `Not involved` "
                    type: string
                  state:
                    description: Registrant's State/Province.
                    type: string
                  zip:
                    description: Registrant's Zip/Postal Code.
                    type: string
                required:
                  - email
                  - first_name
                type: object
              - properties:
                  create_time:
                    description: The time at which the registrant registered.
                    format: date-time
                    type: string
                  join_url:
                    description: The URL using which an approved registrant can join the webinar.
                    format: string
                    type: string
                  status:
                    description: "The status of the registrant's registration.  `approved`: User
                      has been successfully approved for the
                      webinar. `pending`:  The
                      registration is still pending.
                      `denied`: User has been denied from
                      joining the webinar."
                    type: string
                type: object
          type: array       
    PaginationObject:
      description: Pagination Object
      properties:
        next_page_token:
          description: The next page token is used to paginate through large result sets.  A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
          type: string
        page_count:
          description: The number of pages returned for the request made.
          type: integer
        page_number:
          default: 1
          description: This field has been deprecated. 
          type: integer
        page_size:
          default: 30
          description: The number of records returned with a single API call.
          maximum: 300
          type: integer
        total_records:
          description: The total number of all the records available across pages.
          type: integer
      type: object
    MeetingSettings:
      description: Meeting settings
      properties:
        allow_multiple_devices:
          description: Allow attendees to join the meeting from multiple devices. This
            setting only works for meetings that require
            [registration](https://support.zoom.us/hc/en-us/articles/211579443-Setting-up-registration-for-a-meeting).
          type: boolean
        alternative_hosts:
          description: "Alternative host's emails or IDs: multiple values are separated by
            a semicolon."
          type: string
        alternative_hosts_email_notification:
          default: true
          description: Flag to determine whether to send email notifications to
            alternative hosts, default value is true.
          type: boolean
        approval_type:
          default: 2
          description: "The default value is `2`. To enable registration required, set the approval type to `0` or `1`.  `0` - Automatically approve. `1` - Manually approve. `2` - No registration required."
          enum:
            - 0
            - 1
            - 2
          type: integer
          x-enum-descriptions:
            - Automatically Approve
            - Manually Approve
            - No Registration Required
        approved_or_denied_countries_or_regions:
          description: >
            Approve or block users from specific regions/countries from joining
            this meeting. 
          properties:
            approved_list:
              description: "List of countries/regions from where participants can join this
                meeting. "
              items:
                type: string
              type: array
            denied_list:
              description: "List of countries/regions from where participants can not join
                this meeting. "
              items:
                type: string
              type: array
            enable:
              description: >-
                `true`: Setting enabled to either allow users or block users from
                specific regions to join your meetings. 


                `false`: Setting disabled.
              type: boolean
            method:
              description: >-
                Specify whether to allow users from specific regions to join this
                meeting; or block users from specific regions
                from joining this meeting. 

                `approve`: Allow users from specific regions/countries to join this meeting. If this setting is selected, the approved regions/countries must be included in the `approved_list`.

                `deny`: Block users from specific regions/countries from joining this meeting. If this setting is selected, the approved regions/countries must be included in the `denied_list`
              enum:
                - approve
                - deny
              type: string
          type: object
        audio:
          default: both
          description: "Determine how participants can join the audio portion of the  meeting. both : Both Telephony and VoIP, telephony :Telephony only, voip:VoIP only."
          enum:
            - both
            - telephony
            - voip
          type: string
          x-enum-descriptions:
            - Both Telephony and VoIP
            - Telephony only
            - VoIP only
        authentication_domains:
          description: If user has configured ["Sign Into Zoom with Specified
            Domains"](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars#h_5c0df2e1-cfd2-469f-bb4a-c77d7c0cca6f)
            option, this will list the domains that are
            authenticated.
          type: string
        authentication_exception:
          description: The participants added here will receive unique meeting invite
            links and bypass authentication.
          items:
            properties:
              email:
                description: Email address of the participant.
                format: email
                type: string
              name:
                description: Name of the participant.
                type: string
            type: object
          type: array
        authentication_name:
          description: Authentication name set in the [authentication
            profile](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars#h_5c0df2e1-cfd2-469f-bb4a-c77d7c0cca6f).
          type: string
        authentication_option:
          description: "Specify the authentication type for users to join a meeting with `meeting_authentication` setting set to `true`. "
          type: string
        auto_recording:
          default: none
          description: "Automatic recording: `local` - Record on local. `cloud` - Record on cloud. `none` - Disabled."
          enum:
            - local
            - cloud
            - none
          type: string
          x-enum-descriptions:
            - Record to local device
            - Record to cloud
            - No Recording
        breakout_room:
          description: Setting to [pre-assign breakout
            rooms](https://support.zoom.us/hc/en-us/articles/360032752671-Pre-assigning-participants-to-breakout-rooms#h_36f71353-4190-48a2-b999-ca129861c1f4).
          properties:
            enable:
              description: Set the value of this field to `true` if you would like to enable
                the [breakout room
                pre-assign](https://support.zoom.us/hc/en-us/articles/360032752671-Pre-assigning-participants-to-breakout-rooms#h_36f71353-4190-48a2-b999-ca129861c1f4)
                option.
              type: boolean
            rooms:
              description: Create room(s).
              items:
                properties:
                  name:
                    description: Name of the breakout room.
                    type: string
                  participants:
                    description: Email addresses of the participants who are to be assigned to the
                      breakout room.
                    items:
                      type: string
                    type: array
                type: object
              type: array
          type: object
        close_registration:
          default: false
          description: Close registration after event date
          type: boolean
        cn_meeting:
          default: false
          description: Host meeting in China.
          type: boolean
        contact_email:
          description: Contact email for registration
          type: string
        contact_name:
          description: Contact name for registration
          type: string
        custom_keys:
          description: Custom keys and values assigned to the meeting.
          items:
            properties:
              key:
                description: Custom key associated with the user.
                maxLength: 64
                type: string
              value:
                description: Value of the custom key associated with the user.
                maxLength: 256
                type: string
            type: object
          maxItems: 10
          type: array
        encryption_type:
          description: >-
            Choose between enhanced encryption and [end-to-end
            encryption](https://support.zoom.us/hc/en-us/articles/360048660871)
            when starting or a meeting. When using end-to-end
            encryption, several features (e.g. cloud
            recording, phone/SIP/H.323 dial-in) will be
            **automatically disabled**. The value of
            this field can be one of the following:

            `enhanced_encryption`: Enhanced encryption. Encryption is stored in the cloud if you enable this option. 


            `e2ee`: [End-to-end encryption](https://support.zoom.us/hc/en-us/articles/360048660871). The encryption key is stored in your local device and can not be obtained by anyone else. Enabling this setting also **disables** the following features: join before host, cloud recording, streaming, live transcription, breakout rooms, polling, 1:1 private chat, and meeting reactions.
          enum:
            - enhanced_encryption
            - e2ee
          type: string
        enforce_login:
          description: >-
            Only signed in users can join this meeting.


            **This field is deprecated and will not be supported in the future.**  As an alternative, use the "meeting_authentication", "authentication_option" and "authentication_domains" fields to understand the [authentication configurations](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) set for the meeting.
          type: boolean
        enforce_login_domains:
          description: >-
            Only signed in users with specified domains can join meetings.


            **This field is deprecated and will not be supported in the future.**  As an alternative, use the "meeting_authentication", "authentication_option" and "authentication_domains" fields to understand the [authentication configurations](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) set for the meeting.
          type: string
        global_dial_in_countries:
          description: List of global dial-in countries
          items:
            type: string
          type: array
        global_dial_in_numbers:
          description: Global Dial-in Countries/Regions
          items:
            properties:
              city:
                description: City of the number, if any. For example, Chicago.
                type: string
              country:
                description: Country code. For example, BR.
                type: string
              country_name:
                description: Full name of country. For example, Brazil.
                type: string
              number:
                description: Phone number. For example, +1 2332357613.
                type: string
              type:
[...]
