openapi: 3.0.1
info:
  x-ballerina-display:
    label: Owler
    iconPath: "resources/owler.svg"
  title: Owler
  description: >
    Search for information on companies using a website or company name and get access to Company Data, News, Blog Posts, Competitor Lists and much more.
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials.

    Create an [Owler account](https://corp.owler.com/) and obtain the API key.
  version: 1.0.0
  x-apisguru-categories:
  - search
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_owlerinc_profile_image.png
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.11
    format: swagger
    url: https://developers.owler.com/swagger/spec.json
    version: "1.2"
  x-providerName: owler.com
servers:
- url: https://api.owler.com/
security:
- user_key: []
tags:
- name: CompanyAPI
  description: Provides Company information
- name: CompanyPremiumAPI
  description: Provides company premium information.
- name: CompetitorAPI
  description: Provides Competitor information
- name: CompetitorPremiumAPI
  description: Provides Competitor Premium information
- name: FeedAPI
  description: Provides Feed information
paths:
  /v1/company/basicsearch:
    get:
      tags:
      - CompanyAPI
      summary: Basic Search Company by Ticker or Website or Name or PermID
      description: The Company Basic Search API searches for a company based on the
        input and will returns results containing basic details about matching companies.
        By default the API returns the top 10 available results unless the limit is
        specified. The maximum limit is restricted to 30.
      operationId: basicCompanySearch
      parameters:
      - name: q
        in: query
        description: Search term
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: Fields to be searched - name, website, ticker, permid. If not
          specfied, will be searched against all fields
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - website
            - ticker
            - permid
      - name: limit
        in: query
        description: Number of results to be displayed - 10 (by default, if not specified)
          to 30
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Search Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/basic_results'
            application/xml:
              schema:
                $ref: '#/components/schemas/basic_results'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/company/competitor/id/{companyId}:
    get:
      tags:
      - CompetitorAPI
      summary: Get Competitor information by Id
      description: The Competitors API provides basic information about top 3 competitors
        of a company specified in the Company Id
      operationId: geCompetiterInformationById
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Competitors Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCompetitorVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCompetitorVO'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        404:
          description: Resource Not Found
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/company/competitor/url/{website}:
    get:
      tags:
      - CompetitorAPI
      summary: Get Competitor information by URL
      description: The Competitors API provides basic information about top 3 competitors
        of a company specified in the website
      operationId: getCompetitorInformationByUrl
      parameters:
      - name: website
        in: path
        description: Company Id
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Competitors Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCompetitorVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyCompetitorVO'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        404:
          description: Resource Not Found
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/company/competitorpremium/id/{companyId}:
    get:
      tags:
      - CompetitorPremiumAPI
      summary: Get Competitor information by Id
      description: The Competitors API provides basic information about all competitors
        of a given company Id
      operationId: getCompetitorInformationByIdPremium
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        schema:
          type: string
      - name: pagination_id
        in: query
        description: Pass pagination_id as * in the first API request. The API response
          will return top competitors along with the next pagination_id which can
          be passed in the subsequent API request to get the next set of competitors.
          Repeat this process until needed or till the pagination_id returned is blank.
          Note:Every response will have maximum of 50 competitors.
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Competitors Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/competitors'
            application/xml:
              schema:
                $ref: '#/components/schemas/competitors'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        404:
          description: Resource Not Found
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/company/competitorpremium/url/{website}:
    get:
      tags:
      - CompetitorPremiumAPI
      summary: Get Competitor information by Url
      description: The Competitors API provides basic information about all competitors
        of a given company Id
      operationId: getCompetitorInformationByUrlPremium
      parameters:
      - name: website
        in: path
        description: Company Id
        required: true
        schema:
          type: string
      - name: pagination_id
        in: query
        description: Pass pagination_id as * in the first API request. The API response
          will return top competitors along with the next pagination_id which can
          be passed in the subsequent API request to get the next set of competitors.
          Repeat this process until needed or till the pagination_id returned is blank.
          Note:Every response will have maximum of 50 competitors.
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Competitors Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/competitors'
            application/xml:
              schema:
                $ref: '#/components/schemas/competitors'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        404:
          description: Resource Not Found
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/company/fuzzysearch:
    get:
      tags:
      - CompanyAPI
      summary: Fuzzy Search Company by Name or Address or Phone
      description: The Company Fuzzy Search API searches for a company based on the
        input and will return results containing basic details about matching companies.
        By default the API returns at most top 10 available results unless the limit
        is specified. The maximum limit is restricted to 30.
      operationId: fuzzyCompanySearch
      parameters:
      - name: q
        in: query
        description: Search term
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: Fields to be searched - name, website, ticker, permid, address,
          phone. Each field and its corresponding value has to be specified
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - website
            - ticker
            - permid
            - address
            - phone
      - name: limit
        in: query
        description: Number of results to be displayed - 10 (by default, if not specified)
          to 30
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Search Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fuzzy_results'
            application/xml:
              schema:
                $ref: '#/components/schemas/fuzzy_results'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/company/id/{companyId}:
    get:
      tags:
      - CompanyAPI
      summary: Get Company by Id
      description: 'The Company Data API provides complete information about a company
        for the specified Company Id '
      operationId: getCompanyById
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Company Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
            application/xml:
              schema:
                $ref: '#/components/schemas/company'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        404:
          description: Resource Not Found
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/company/search:
    get:
      tags:
      - CompanyAPI
      summary: Search Company by Ticker or Website or Name or PermID
      description: The Company Search API searches for a company based on the input
        and will returns results containing basic details about matching companies.
        By default the API returns the top 10 available results unless the limit is
        specified. The maximum limit is restricted to 30.
      operationId: searchCompany
      parameters:
      - name: q
        in: query
        description: Search term
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: Fields to be searched - name, website, ticker. If not specified,
          will be searched against all fields
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - website
            - ticker
            - permid
      - name: limit
        in: query
        description: Number of results to be displayed - 10 (by default, if not specified)
          to 30
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Search Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/results'
            application/xml:
              schema:
                $ref: '#/components/schemas/results'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/company/url/{website}:
    get:
      tags:
      - CompanyAPI
      summary: Get Company by URL
      description: 'The Company Data API provides complete information about a company
        for the specified URL '
      operationId: getCompanyByUrl
      parameters:
      - name: website
        in: path
        description: Company Domain
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Company Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
            application/xml:
              schema:
                $ref: '#/components/schemas/company'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        404:
          description: Resource Not Found
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/companypremium/id/{companyId}:
    get:
      tags:
      - CompanyPremiumAPI
      summary: Get Complete Company Info by Id
      description: 'The Company Premium Data API provides complete information about
        a company for the specified Company Id '
      operationId: getCompanyByIdPremium
      parameters:
      - name: companyId
        in: path
        description: Company Id
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Company Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
            application/xml:
              schema:
                $ref: '#/components/schemas/company'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        404:
          description: Resource Not Found
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/companypremium/url/{website}:
    get:
      tags:
      - CompanyPremiumAPI
      summary: Get Basic Company Info by Url
      description: 'The Company Data API provides complete information about a company
        for the specified URL '
      operationId: getCompanyByUrlPremium
      parameters:
      - name: website
        in: path
        description: Company Domain
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      responses:
        200:
          description: Company Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
            application/xml:
              schema:
                $ref: '#/components/schemas/company'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        404:
          description: Resource Not Found
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/feed:
    get:
      tags:
      - FeedAPI
      summary: Get Feeds for given Company Ids
      description: The Feeds API provides a list of feeds and individual feed information
        for the given Company Ids and Category. By default the API returns the latest
        10 feeds available unless the limit is specified. The maximum result is restricted
        to 100 feeds per API request.
      operationId: getFeedsForCompanyIds
      parameters:
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      - name: company_id
        in: query
        description: Company Ids separated by comma (Maximum of 150 Company Ids)
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Number of results to be displayed - 10 (by default, if not specified)
          to 100
        schema:
          type: string
          default: "10"
      - name: pagination_id
        in: query
        description: Pass pagination_id as blank in the first API request. The API
          response will return the latest feeds along with the next pagination_id
          which can be passed in the subsequent API request to get the next set of
          feeds. Repeat this process until needed or till the pagination_id returned
          is blank
        schema:
          type: string
          default: '*'
      - name: category
        in: query
        description: Categories separated by comma. If not specified, will search
          against all categories
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - NEWS
            - PRESS
            - FUNDING
            - ACQUISITION
            - PEOPLE
            - BLOG
            - VIDEOS
      responses:
        200:
          description: Feeds Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/results'
            application/xml:
              schema:
                $ref: '#/components/schemas/results'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/feed/url:
    get:
      tags:
      - FeedAPI
      summary: Get Feeds for given Company Websites
      description: The Feeds API provides a list of feeds and individual feed information
        for the given Company Websites and Category. By default the API returns the
        latest 10 feeds available unless the limit is specified. The maximum result
        is restricted to 100 feeds per API request.
      operationId: getFeedsForCompanyUrls
      parameters:
      - name: format
        in: query
        description: Format of the response content - json (by default if not specified),
          xml
        schema:
          type: string
          default: json
          enum:
          - xml
          - json
      - name: domain
        in: query
        description: Company Websites separated by comma (Maximum of 10 Company Websites)
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Number of results to be displayed - 10 (by default, if not specified)
          to 100
        schema:
          type: string
          default: "10"
      - name: pagination_id
        in: query
        description: Pass pagination_id as blank in the first API request. The API
          response will return the latest feeds along with the next pagination_id
          which can be passed in the subsequent API request to get the next set of
          feeds. Repeat this process until needed or till the pagination_id returned
          is blank
        schema:
          type: string
          default: '*'
      - name: category
        in: query
        description: Categories separated by comma. If not specified, will search
          against all categories
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - NEWS
            - PRESS
            - FUNDING
            - ACQUISITION
            - PEOPLE
            - BLOG
            - VIDEOS
      responses:
        200:
          description: Feeds Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/results'
            application/xml:
              schema:
                $ref: '#/components/schemas/results'
        400:
          description: Invalid Parameters
          content: {}
        403:
          description: Authentication Failed
          content: {}
        429:
          description: Too Many Requests
          content: {}
        500:
          description: Internal Server Error
          content: {}
components:
  schemas:
    Acquisition:
      type: object
      properties:
        acquirer_company_id:
          type: string
        amount:
          type: string
        company_id:
          type: string
        date:
          type: string
        name:
          type: string
        status:
          type: string
        undisclosed:
          type: string
        website:
          type: string
    Address:
      type: object
      properties:
        city:
          type: string
        country:
          type: string
        phone:
          type: string
        postal_code:
          type: string
        state:
          type: string
        street1:
          type: string
        street2:
          type: string
    Ceo:
      type: object
      properties:
        ceo_rating:
          type: string
        first_name:
          type: string
        image_url:
          type: string
        last_name:
          type: string
    CompanyBasicSearchVO:
      type: object
      properties:
        company_id:
          type: integer
          format: int64
        hq_address:
          $ref: '#/components/schemas/Address'
        name:
          type: string
        perm_id:
          type: string
        profile_url:
          type: string
        short_name:
          type: string
        website:
          type: string
    CompanyBasicVO:
      required:
      - company_id
      - logo_url
      - name
      - profile_url
      - website
      type: object
      properties:
        company_id:
          type: integer
          format: int64
        logo_url:
          type: string
        name:
          type: string
        profile_url:
          type: string
        short_name:
          type: string
        website:
          type: string
    CompanyCompetitorVO:
      type: object
      properties:
        competitor:
          type: array
          items:
            $ref: '#/components/schemas/CompanyBasicVO'
    CompanySearchResultVO:
      required:
      - company_id
      - logo_url
      - name
      - profile_url
      - website
      type: object
      properties:
        company_id:
          type: integer
          format: int64
        company_type:
          type: string
          enum:
          - Private
          - Public
          - Product/Brand/Service
          - NGO/NPO/NFP/Organization/Association
          - Investment Company
          - Government
        description:
          type: string
        hq_address:
          $ref: '#/components/schemas/Address'
        logo_url:
          type: string
        name:
          type: string
        perm_id:
          type: string
        profile_url:
          type: string
        short_name:
          type: string
        stock:
          $ref: '#/components/schemas/Stock'
        website:
          type: string
    CompetitorBasicVO:
      required:
      - company_id
      - logo_url
      - name
      - profile_url
      - score
      - website
      type: object
      properties:
        company_id:
          type: integer
          format: int64
        logo_url:
          type: string
        name:
          type: string
        profile_url:
          type: string
        score:
          type: integer
          format: int64
        short_name:
          type: string
        website:
          type: string
    FeedsVO:
      type: object
      properties:
        category:
          type: string
        company:
          $ref: '#/components/schemas/CompanyBasicVO'
        enclosure_image:
          type: string
        feed_date:
          type: string
        id:
          type: string
        owler_feed_url:
          type: string
        publisher_logo:
          type: string
        publisher_name:
          type: string
        source_url:
          type: string
        title:
          type: string
    Funding:
      type: object
      properties:
        amount:
          type: string
        date:
          type: string
        investor:
          type: array
          items:
            $ref: '#/components/schemas/Investor'
        type:
          type: string
        undisclosed:
          type: string
    Investor:
      type: object
      properties:
        company_id:
          type: string
        name:
          type: string
        website:
          type: string
    SectorVO:
      type: object
      properties:
        name:
          type: string
        parent_industry:
          type: string
    Stock:
      type: object
      properties:
        exchange:
          type: string
        ticker:
          type: string
    basic_results:
      type: object
      properties:
        company:
          type: array
          items:
            $ref: '#/components/schemas/CompanyBasicSearchVO'
    company:
      required:
      - company_id
      - logo_url
      - name
      - profile_url
      - website
      type: object
      properties:
        acquisition:
          type: array
          items:
            $ref: '#/components/schemas/Acquisition'
        ceo:
          $ref: '#/components/schemas/Ceo'
        company_id:
          type: integer
          format: int64
        company_type:
          type: string
          enum:
          - Private
          - Public
          - Product/Brand/Service
          - NGO/NPO/NFP/Organization/Association
          - Investment Company
          - Government
        description:
          type: string
        employee_count:
          type: string
        facebook_link:
          type: string
        founded_date:
          type: string
        funding:
          type: array
          items:
            $ref: '#/components/schemas/Funding'
        hq_address:
          $ref: '#/components/schemas/Address'
        industries:
          type: array
          items:
            type: string
        linkedin_link:
          type: string
        logo_url:
          type: string
        name:
          type: string
        perm_id:
          type: string
        portfolio_company_ids:
          type: array
          items:
            type: integer
            format: int32
        profile_url:
          type: string
        revenue:
          type: string
        sectors:
          type: array
          items:
            $ref: '#/components/schemas/SectorVO'
        short_name:
          type: string
        stock:
          $ref: '#/components/schemas/Stock'
        twitter_link:
          type: string
        website:
          type: string
        youtube_link:
          type: string
    competitors:
      type: object
      properties:
        competitor:
          type: array
          items:
            $ref: '#/components/schemas/CompetitorBasicVO'
        pagination_id:
          type: string
    fuzzy_results:
      type: object
    results:
      type: object
      properties:
        feeds:
          type: array
          items:
            $ref: '#/components/schemas/FeedsVO'
        pagination_id:
          type: string
  securitySchemes:
    user_key:
      type: apiKey
      description: API Access Key
      name: user_key
      in: header
      x-ballerina-apikey-description: "Provide your API key as `user_key`. Eg: `{\"user_key\" : \"<API key>\"}`"
