openapi: 3.0.1
info:
  title: Insightly API v3.1
  version: v3.1
  x-ballerina-display:
    label: Insightly Custom
    iconPath: icon.png
  description: >
    This is a generated connector for [Insightly API v3.1](https://api.insightly.com/v3.1/Help?_ga=2.145122291.690415835.1637494899-1873531480.1637320890#!/Overview/Introduction) OpenAPI specification.
    This API enables you to integrate Insightly with external systems and applications. This uses HTTPS to access data within the Insightly web application. 
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials.
    Create an [Insightly Account](https://www.insightly.com/) and obtain tokens by following [this guide](https://support.insight.ly/en-us/Knowledge/article/1101/Finding_your_API_key_or_URL_and_resetting_your_key_).
servers:
- url: https://api.insightly.com/v3.1
paths:
  /{objectName}:
    get:
      tags:
      - CustomObjectsRecords
      summary: Gets a list of records
      description: Simple object graphs (excluding LINKS, etc.) are returned if "brief=true"
        is used in the query string.
      operationId: Get Entities
      parameters:
      - name: objectName
        in: path
        description: The object name
        required: true
        schema:
          type: string
      - name: brief
        in: query
        description: Optional, true if response should only contain top level properties
          of the record.
        schema:
          type: boolean
          default: false
      - name: skip
        in: query
        description: Optional, number of records to skip.
        schema:
          type: integer
          format: int32
      - name: top
        in: query
        description: Optional, maximum number of records to return in the response.
        schema:
          type: integer
          format: int32
      - name: count_total
        in: query
        description: Optional,true if total number of records should be returned in
          the response headers.
        schema:
          type: boolean
          default: false
      # - name: Authorization
      #   in: header
      #   description: Authorization
      #   required: true
      #   schema:
      #     type: string
      #     default: '{{Authorization}}'
      responses:
        200:
          description: Request succeeded.
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  title: CustomObjectsRecords
                  required:
                  - RECORD_NAME
                  type: object
                  properties:
                    RECORD_ID:
                      type: integer
                      format: int64
                      readOnly: true
                    RECORD_NAME:
                      maxLength: 0
                      type: string
                      format: string
                    OWNER_USER_ID:
                      type: integer
                      format: int32
                    DATE_CREATED_UTC:
                      type: string
                      format: date-time
                      readOnly: true
                    VISIBLE_TO:
                      maxLength: 11
                      type: string
                      format: string
                    VISIBLE_TEAM_ID:
                      type: integer
                      format: int64
                    CUSTOMFIELDS:
                      type: array
                      items:
                        $ref: '#/components/schemas/APICustomField'
            application/json:
              schema:
                type: array
                items:
                  title: CustomObjectsRecords
                  required:
                  - RECORD_NAME
                  type: object
                  properties:
                    RECORD_ID:
                      type: integer
                      format: int64
                      readOnly: true
                    RECORD_NAME:
                      maxLength: 0
                      type: string
                      format: string
                    OWNER_USER_ID:
                      type: integer
                      format: int32
                    DATE_CREATED_UTC:
                      type: string
                      format: date-time
                      readOnly: true
                    VISIBLE_TO:
                      maxLength: 11
                      type: string
                      format: string
                    VISIBLE_TEAM_ID:
                      type: integer
                      format: int64
                    CUSTOMFIELDS:
                      type: array
                      items:
                        $ref: '#/components/schemas/APICustomField'
        400:
          description: Often missing or invalid parameter.
          content: {}
        401:
          description: Authentication failed.
          content: {}
      deprecated: false
    put:
      tags:
      - CustomObjectsRecords
      summary: Updates a record
      description: If you have trouble updating a record, try accessing the record
        via the GET request to inspect its fields and sub-elements. A common source
        of            problems with write/update requests occurs when users either
        omit required fields, or insert invalid data into a field (for example, by
        referring a            CATEGORY_ID or LINK_ID which does not exist.
      operationId: Update Entity
      parameters:
      - name: objectName
        in: path
        description: The object name
        required: true
        schema:
          type: string
      # - name: Authorization
      #   in: header
      #   description: Authorization
      #   required: true
      #   schema:
      #     type: string
      #     default: '{{Authorization}}'
      requestBody:
        description: The record to update (just include the JSON object as the request
          body)
        content:
          application/json:
            schema:
              title: CustomObjectsRecords
              required:
              - RECORD_NAME
              type: object
              properties:
                RECORD_NAME:
                  maxLength: 0
                  type: string
                  format: string
                OWNER_USER_ID:
                  type: integer
                  format: int32
                VISIBLE_TO:
                  maxLength: 11
                  type: string
                  format: string
                VISIBLE_TEAM_ID:
                  type: integer
                  format: int64
                CUSTOMFIELDS:
                  type: array
                  items:
                    $ref: '#/components/schemas/APICustomField'
        required: true
      responses:
        201:
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: CustomObjectsRecords
                required:
                - RECORD_NAME
                type: object
                properties:
                  RECORD_ID:
                    type: integer
                    format: int64
                    readOnly: true
                  RECORD_NAME:
                    maxLength: 0
                    type: string
                    format: string
                  OWNER_USER_ID:
                    type: integer
                    format: int32
                  DATE_CREATED_UTC:
                    type: string
                    format: date-time
                    readOnly: true
                  VISIBLE_TO:
                    maxLength: 11
                    type: string
                    format: string
                  VISIBLE_TEAM_ID:
                    type: integer
                    format: int64
                  CUSTOMFIELDS:
                    type: array
                    items:
                      $ref: '#/components/schemas/APICustomField'
            text/json:
              schema:
                title: CustomObjectsRecords
                required:
                - RECORD_NAME
                type: object
                properties:
                  RECORD_ID:
                    type: integer
                    format: int64
                    readOnly: true
                  RECORD_NAME:
                    maxLength: 0
                    type: string
                    format: string
                  OWNER_USER_ID:
                    type: integer
                    format: int32
                  DATE_CREATED_UTC:
                    type: string
                    format: date-time
                    readOnly: true
                  VISIBLE_TO:
                    maxLength: 11
                    type: string
                    format: string
                  VISIBLE_TEAM_ID:
                    type: integer
                    format: int64
                  CUSTOMFIELDS:
                    type: array
                    items:
                      $ref: '#/components/schemas/APICustomField'
        400:
          description: Data validation error.
          content: {}
        401:
          description: Authentication failed.
          content: {}
        402:
          description: Record limit reached.
          content: {}
      deprecated: false
      x-codegen-request-body-name: fieldValues
    post:
      tags:
      - CustomObjectsRecords
      summary: Adds a record
      description: If you have trouble with creating a record, try creating records
        via the web interface, and then access those records via the API. This way
        you            can see examples of the fields and sub-elements attached to
        the record. A common source of problems during write/update request is caused
        when users omit            required fields, or insert invalid data in a field
        (e.g. reference a CATEGORY_ID that does not exist in the user's Insightly
        instance.
      operationId: Add Entity
      parameters:
      - name: objectName
        in: path
        description: The object name
        required: true
        schema:
          type: string
      # - name: Authorization
      #   in: header
      #   description: Authorization
      #   required: true
      #   schema:
      #     type: string
      #     default: '{{Authorization}}'
      requestBody:
        description: The record to add (just include the JSON object as the request
          body)
        content:
          application/json:
            schema:
              title: CustomObjectsRecords
              required:
              - RECORD_NAME
              type: object
              properties:
                RECORD_NAME:
                  maxLength: 0
                  type: string
                  format: string
                OWNER_USER_ID:
                  type: integer
                  format: int32
                VISIBLE_TO:
                  maxLength: 11
                  type: string
                  format: string
                VISIBLE_TEAM_ID:
                  type: integer
                  format: int64
                CUSTOMFIELDS:
                  type: array
                  items:
                    $ref: '#/components/schemas/APICustomField'
        required: true
      responses:
        201:
          description: Request succeeded.
          content:
            application/json:
              schema:
                title: CustomObjectsRecords
                required:
                - RECORD_NAME
                type: object
                properties:
                  RECORD_ID:
                    type: integer
                    format: int64
                    readOnly: true
                  RECORD_NAME:
                    maxLength: 0
                    type: string
                    format: string
                  OWNER_USER_ID:
                    type: integer
                    format: int32
                  DATE_CREATED_UTC:
                    type: string
                    format: date-time
                    readOnly: true
                  VISIBLE_TO:
                    maxLength: 11
                    type: string
                    format: string
                  VISIBLE_TEAM_ID:
                    type: integer
                    format: int64
                  CUSTOMFIELDS:
                    type: array
                    items:
                      $ref: '#/components/schemas/APICustomField'
            text/json:
              schema:
                title: CustomObjectsRecords
                required:
                - RECORD_NAME
                type: object
                properties:
                  RECORD_ID:
                    type: integer
                    format: int64
                    readOnly: true
                  RECORD_NAME:
                    maxLength: 0
                    type: string
                    format: string
                  OWNER_USER_ID:
                    type: integer
                    format: int32
                  DATE_CREATED_UTC:
                    type: string
                    format: date-time
                    readOnly: true
                  VISIBLE_TO:
                    maxLength: 11
                    type: string
                    format: string
                  VISIBLE_TEAM_ID:
                    type: integer
                    format: int64
                  CUSTOMFIELDS:
                    type: array
                    items:
                      $ref: '#/components/schemas/APICustomField'
        400:
          description: Data validation error.
          content: {}
        401:
          description: Authentication failed.
          content: {}
        402:
          description: Record limit reached.
          content: {}
      deprecated: false
      x-codegen-request-body-name: fieldValues
  /{objectName}/{id}:
    get:
      tags:
      - CustomObjectsRecords
      summary: Gets a record
      operationId: Get Entity
      parameters:
      - name: objectName
        in: path
        description: The object name
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The record's ID
        required: true
        schema:
          type: integer
          format: int64
      # - name: Authorization
      #   in: header
      #   description: Authorization
      #   required: true
      #   schema:
      #     type: string
      #     default: '{{Authorization}}'
      responses:
        200:
          description: Request succeeded.
          content:
            application/octet-stream:
              schema:
                title: CustomObjectsRecords
                required:
                - RECORD_NAME
                type: object
                properties:
                  RECORD_ID:
                    type: integer
                    format: int64
                    readOnly: true
                  RECORD_NAME:
                    maxLength: 0
                    type: string
                    format: string
                  OWNER_USER_ID:
                    type: integer
                    format: int32
                  DATE_CREATED_UTC:
                    type: string
                    format: date-time
                    readOnly: true
                  VISIBLE_TO:
                    maxLength: 11
                    type: string
                    format: string
                  VISIBLE_TEAM_ID:
                    type: integer
                    format: int64
                  CUSTOMFIELDS:
                    type: array
                    items:
                      $ref: '#/components/schemas/APICustomField'
            application/json:
              schema:
                title: CustomObjectsRecords
                required:
                - RECORD_NAME
                type: object
                properties:
                  RECORD_ID:
                    type: integer
                    format: int64
                    readOnly: true
                  RECORD_NAME:
                    maxLength: 0
                    type: string
                    format: string
                  OWNER_USER_ID:
                    type: integer
                    format: int32
                  DATE_CREATED_UTC:
                    type: string
                    format: date-time
                    readOnly: true
                  VISIBLE_TO:
                    maxLength: 11
                    type: string
                    format: string
                  VISIBLE_TEAM_ID:
                    type: integer
                    format: int64
                  CUSTOMFIELDS:
                    type: array
                    items:
                      $ref: '#/components/schemas/APICustomField'
        400:
          description: Often missing or invalid parameter.
          content: {}
        401:
          description: Authentication failed.
          content: {}
        403:
          description: API User does not have access to Record.
          content: {}
        404:
          description: Record not found.
          content: {}
      deprecated: false
    delete:
      tags:
      - CustomObjectsRecords
      summary: Deletes a Record
      operationId: Delete Entity
      parameters:
      - name: objectName
        in: path
        description: The object name
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Entity's ID
        required: true
        schema:
          type: integer
          format: int64
      # - name: Authorization
      #   in: header
      #   description: Authorization
      #   required: true
      #   schema:
      #     type: string
      #     default: '{{Authorization}}'
      responses:
        202:
          description: Delete succeeded.
          content: {}
        401:
          description: Authentication failed.
          content: {}
        403:
          description: API User does not have access to Record.
          content: {}
        404:
          description: Record not found.
          content: {}
        417:
          description: Delete failed.
          content: {}
      deprecated: false
  /{objectName}/{id}/Translations/{language}:
    get:
      tags:
      - CustomObjectsRecords
      summary: Gets a record's translation in a specific language
      operationId: Get Translation
      parameters:
      - name: objectName
        in: path
        description: The object name
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The record's ID
        required: true
        schema:
          type: integer
          format: int64
      - name: language
        in: path
        description: The requested language
        required: true
        schema:
          type: string
      # - name: Authorization
      #   in: header
      #   description: Authorization
      #   required: true
      #   schema:
      #     type: string
      #     default: '{{Authorization}}'
      responses:
        200:
          description: Request succeeded.
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  title: CustomObjectsRecords
                  required:
                  - RECORD_NAME
                  type: object
                  properties:
                    RECORD_ID:
                      type: integer
                      format: int64
                      readOnly: true
                    RECORD_NAME:
                      maxLength: 0
                      type: string
                      format: string
                    OWNER_USER_ID:
                      type: integer
                      format: int32
                    DATE_CREATED_UTC:
                      type: string
                      format: date-time
                      readOnly: true
                    VISIBLE_TO:
                      maxLength: 11
                      type: string
                      format: string
                    VISIBLE_TEAM_ID:
                      type: integer
                      format: int64
                    CUSTOMFIELDS:
                      type: array
                      items:
                        $ref: '#/components/schemas/APICustomField'
            application/json:
              schema:
                type: array
                items:
                  title: CustomObjectsRecords
                  required:
                  - RECORD_NAME
                  type: object
                  properties:
                    RECORD_ID:
                      type: integer
                      format: int64
                      readOnly: true
                    RECORD_NAME:
                      maxLength: 0
                      type: string
                      format: string
                    OWNER_USER_ID:
                      type: integer
                      format: int32
                    DATE_CREATED_UTC:
                      type: string
                      format: date-time
                      readOnly: true
                    VISIBLE_TO:
                      maxLength: 11
                      type: string
                      format: string
                    VISIBLE_TEAM_ID:
                      type: integer
                      format: int64
                    CUSTOMFIELDS:
                      type: array
                      items:
                        $ref: '#/components/schemas/APICustomField'
        400:
          description: Often missing or invalid parameter.
          content: {}
        401:
          description: Authentication failed.
          content: {}
        403:
          description: API User does not have access to Record.
          content: {}
        404:
          description: Record not found.
          content: {}
      deprecated: false
    put:
      tags:
      - CustomObjectsRecords
      summary: Updates a record's translation in a specific language
      description: If you have trouble updating a record, try accessing the record
        via the GET request to inspect its fields and sub-elements. A common source
        of            problems with write/update requests occurs when users either
        omit required fields, or insert invalid data into a field (for example, by
        referring a            CATEGORY_ID or LINK_ID which does not exist.
      operationId: Update Translation
      parameters:
      - name: objectName
        in: path
        description: The object name
        required: true
        schema:
          type: string
      - name: language
        in: path
        description: The language of the record's translation to update
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      # - name: Authorization
      #   in: header
      #   description: Authorization
      #   required: true
      #   schema:
      #     type: string
      #     default: '{{Authorization}}'
      requestBody:
        description: The record to update (just include the JSON object as the request
          body)
        content:
          application/json:
            schema:
              title: CustomObjectsRecords
              required:
              - RECORD_NAME
              type: object
              properties:
                RECORD_NAME:
                  maxLength: 0
                  type: string
                  format: string
                OWNER_USER_ID:
                  type: integer
                  format: int32
                VISIBLE_TO:
                  maxLength: 11
                  type: string
                  format: string
                VISIBLE_TEAM_ID:
                  type: integer
                  format: int64
                CUSTOMFIELDS:
                  type: array
                  items:
                    $ref: '#/components/schemas/APICustomField'
        required: true
      responses:
        201:
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  title: Custom Objects Records
                  required:
                  - RECORD_NAME
                  type: object
                  properties:
                    RECORD_ID:
                      type: integer
                      format: int64
                      readOnly: true
                    RECORD_NAME:
                      maxLength: 0
                      type: string
                      format: string
                    OWNER_USER_ID:
                      type: integer
                      format: int32
                    DATE_CREATED_UTC:
                      type: string
                      format: date-time
                      readOnly: true
                    VISIBLE_TO:
                      maxLength: 11
                      type: string
                      format: string
                    VISIBLE_TEAM_ID:
                      type: integer
                      format: int64
                    CUSTOMFIELDS:
                      type: array
                      items:
                        $ref: '#/components/schemas/APICustomField'
            text/json:
              schema:
                type: array
                items:
                  title: CustomObjectsRecords
                  required:
                  - RECORD_NAME
                  type: object
                  properties:
                    RECORD_ID:
                      type: integer
                      format: int64
                      readOnly: true
                    RECORD_NAME:
                      maxLength: 0
                      type: string
                      format: string
                    OWNER_USER_ID:
                      type: integer
                      format: int32
                    DATE_CREATED_UTC:
                      type: string
                      format: date-time
                      readOnly: true
                    VISIBLE_TO:
                      maxLength: 11
                      type: string
                      format: string
                    VISIBLE_TEAM_ID:
                      type: integer
                      format: int64
                    CUSTOMFIELDS:
                      type: array
                      items:
                        $ref: '#/components/schemas/APICustomField'
        400:
          description: Data validation error.
          content: {}
        401:
          description: Authentication failed.
          content: {}
        402:
          description: Record limit reached.
          content: {}
      deprecated: false
      x-codegen-request-body-name: fieldValues
    post:
      tags:
      - CustomObjectsRecords
      summary: Adds a Translation for a record in a specific language
      description: If you have trouble with creating a record, try creating records
        via the web interface, and then access those records via the API. This way
        you            can see examples of the fields and sub-elements attached to
        the record. A common source of problems during write/update request is caused
        when users omit            required fields, or insert invalid data in a field
        (e.g. reference a CATEGORY_ID that does not exist in the user's Insightly
        instance.
      operationId: Add Translation
      parameters:
      - name: objectName
        in: path
        description: The object name
        required: true
        schema:
          type: string
      - name: language
        in: path
        description: The language of the translation to add
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      # - name: Authorization
      #   in: header
      #   description: Authorization
      #   required: true
      #   schema:
      #     type: string
      #     default: '{{Authorization}}'
      requestBody:
        description: The record to add (just include the JSON object as the request
          body)
        content:
          application/json:
            schema:
              title: Custom Objects Records
              required:
              - RECORD_NAME
              type: object
              properties:
                RECORD_NAME:
                  maxLength: 0
                  type: string
                  format: string
                OWNER_USER_ID:
                  type: integer
                  format: int32
                VISIBLE_TO:
                  maxLength: 11
                  type: string
                  format: string
                VISIBLE_TEAM_ID:
                  type: integer
                  format: int64
                CUSTOMFIELDS:
                  type: array
                  items:
                    $ref: '#/components/schemas/APICustomField'
        required: true
      responses:
        201:
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  title: CustomObjectsRecords
                  required:
                  - RECORD_NAME
                  type: object
                  properties:
                    RECORD_ID:
                      type: integer
                      format: int64
                      readOnly: true
                    RECORD_NAME:
                      maxLength: 0
                      type: string
                      format: string
                    OWNER_USER_ID:
                      type: integer
                      format: int32
                    DATE_CREATED_UTC:
                      type: string
                      format: date-time
                      readOnly: true
                    VISIBLE_TO:
                      maxLength: 11
                      type: string
                      format: string
                    VISIBLE_TEAM_ID:
                      type: integer
                      format: int64
                    CUSTOMFIELDS:
                      type: array
                      items:
                        $ref: '#/components/schemas/APICustomField'
            text/json:
              schema:
                type: array
                items:
                  title: CustomObjectsRecords
                  required:
                  - RECORD_NAME
                  type: object
                  properties:
                    RECORD_ID:
                      type: integer
                      format: int64
                      readOnly: true
                    RECORD_NAME:
                      maxLength: 0
                      type: string
                      format: string
                    OWNER_USER_ID:
                      type: integer
                      format: int32
                    DATE_CREATED_UTC:
                      type: string
                      format: date-time
                      readOnly: true
                    VISIBLE_TO:
                      maxLength: 11
                      type: string
                      format: string
                    VISIBLE_TEAM_ID:
                      type: integer
                      format: int64
                    CUSTOMFIELDS:
                      type: array
                      items:
                        $ref: '#/components/schemas/APICustomField'
        400:
          description: Data validation error.
          content: {}
        401:
          description: Authentication failed.
          content: {}
        402:
          description: Record limit reached.
          content: {}
      deprecated: false
      x-codegen-request-body-name: fieldValues
  /{objectName}/Search:
    get:
      tags:
      - CustomObjectsRecords
      summary: Gets a filtered list of records
      description: To filter with a field name and value, both field_name and field_value
        parameters must be provided.            <br /> Simple object graphs (excluding
        TAGS, CUSTOMFIELDS, etc.) are returned if "brief=true" is used in the query
        string.
      operationId: Get Custom Objects Records By Search
      parameters:
      - name: objectName
        in: path
        description: The object name
        required: true
        schema:
          type: string
      - name: field_name
        in: query
        description: Optional, field name for object
        schema:
          type: string
      - name: field_value
        in: query
        description: Optional, field value of the record
        schema:
          type: string
      - name: updated_after_utc
        in: query
        description: Optional, earliest date when a record was last updated.
        schema:
          type: string
          format: date-time
      - name: brief
        in: query
        description: Optional, true if response should only contain top level properties
          of the record.
        schema:
          type: boolean
          default: false
      - name: skip
        in: query
        description: Optional, number of records to skip.
        schema:
          type: integer
          format: int32
      - name: top
        in: query
        description: Optional, maximum number of records to return in the response.
        schema:
          type: integer
          format: int32
      - name: count_total
        in: query
        description: Optional, true if total number of records should be returned
          in the response headers.
        schema:
          type: boolean
          default: false
      # - name: Authorization
      #   in: header
      #   description: Authorization
      #   required: true
      #   schema:
      #     type: string
      #     default: '{{Authorization}}'
      responses:
        200:
          description: Request succeeded.
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  title: CustomObjectsRecords
                  required:
                  - RECORD_NAME
                  type: object
                  properties:
                    RECORD_ID:
                      type: integer
                      format: int64
                      readOnly: true
                    RECORD_NAME:
                      maxLength: 0
                      type: string
                      format: string
                    OWNER_USER_ID:
                      type: integer
                      format: int32
                    DATE_CREATED_UTC:
                      type: string
                      format: date-time
                      readOnly: true
                    VISIBLE_TO:
                      maxLength: 11
                      type: string
                      format: string
                    VISIBLE_TEAM_ID:
                      type: integer
                      format: int64
                    CUSTOMFIELDS:
                      type: array
                      items:
                        $ref: '#/components/schemas/APICustomField'
            application/json:
              schema:
                type: array
                items:
                  title: CustomObjectsRecords
                  required:
                  - RECORD_NAME
                  type: object
                  properties:
                    RECORD_ID:
                      type: integer
                      format: int64
                      readOnly: true
                    RECORD_NAME:
                      maxLength: 0
                      type: string
                      format: string
                    OWNER_USER_ID:
                      type: integer
                      format: int32
                    DATE_CREATED_UTC:
                      type: string
                      format: date-time
                      readOnly: true
                    VISIBLE_TO:
                      maxLength: 11
                      type: string
                      format: string
                    VISIBLE_TEAM_ID:
                      type: integer
                      format: int64
                    CUSTOMFIELDS:
                      type: array
                      items:
                        $ref: '#/components/schemas/APICustomField'
        400:
          description: Often missing or invalid parameter.
          content: {}
        401:
          description: Authentication failed.
          content: {}
      deprecated: false
#   /ActivitySets:
#     get:
#       tags:
#       - ActivitySets
#       summary: Gets a list of Activity Sets
#       operationId: Get Activity Sets
#       parameters:
#       - name: brief
#         in: query
#         description: Optional, true if response should only contain top level properties
#           of the activity set.
#         schema:
#           type: boolean
#           default: false
#       - name: skip
#         in: query
#         description: Optional, number of activity sets to skip.
#         schema:
#           type: integer
#           format: int32
#       - name: top
#         in: query
#         description: Optional, maximum number of activity sets to return in the response.
#         schema:
#           type: integer
#           format: int32
#       - name: count_total
#         in: query
#         description: Optional, true if total number of records should be returned
#           in the response headers.
#         schema:
#           type: boolean
#           default: false
#       - name: Authorization
#         in: header
#         description: Authorization
#         required: true
#         schema:
#           type: string
#           default: '{{Authorization}}'
#       responses:
#         200:
#           description: Request succeeded.
#           content:
#             application/json:
#               schema:
#                 type: array
#                 items:
#                   title: ActivitySet
#                   type: object
#                   properties:
#                     ACTIVITYSET_ID:
#                       type: integer
#                       format: int64
#                     NAME:
#                       type: string
#                     FOR_CONTACTS:
#                       type: boolean
#                     FOR_ORGANISATIONS:
#                       type: boolean
#                     FOR_OPPORTUNITIES:
#                       type: boolean
#                     FOR_PROJECTS:
#                       type: boolean
#                     FOR_LEADS:
#                       type: boolean
#                     OWNER_USER_ID:
#                       type: integer
#                       format: int32
#                     ACTIVITIES:
#                       type: array
#                       items:
#                         $ref: '#/components/schemas/APIActivity'
#         400:
#           description: Often missing or invalid parameter.
#           content: {}
#         401:
#           description: Authentication failed.
#           content: {}
#       deprecated: false
#   /ActivitySets/{id}:
#     get:
#       tags:
#       - ActivitySets
#       summary: Gets a single Activity Set
#       operationId: GetActivitySet
#       parameters:
#       - name: id
#         in: path
#         description: An Activity Set's ID
#         required: true
#         schema:
#           type: integer
#           format: int64
#       - name: Authorization
#         in: header
#         description: Authorization
#         required: true
#         schema:
#           type: string
#           default: '{{Authorization}}'
#       responses:
#         200:
#           description: Request succeeded.
#           content:
#             application/json:
#               schema:
#                 title: ActivitySet
#                 type: object
#                 properties:
#                   ACTIVITYSET_ID:
#                     type: integer
#                     format: int64
#                   NAME:
#                     type: string
#                   FOR_CONTACTS:
#                     type: boolean
#                   FOR_ORGANISATIONS:
#                     type: boolean
#                   FOR_OPPORTUNITIES:
#                     type: boolean
#                   FOR_PROJECTS:
#                     type: boolean
#                   FOR_LEADS:
#                     type: boolean
#                   OWNER_USER_ID:
#                     type: integer
#                     format: int32
#                   ACTIVITIES:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APIActivity'
#         400:
#           description: Often missing or invalid parameter.
#           content: {}
#         401:
#           description: Authentication failed.
#           content: {}
#         404:
#           description: Activity Set not found.
#           content: {}
#       deprecated: false
#   /Comments:
#     put:
#       tags:
#       - Comments
#       summary: Updates a Comment
#       description: If you have trouble updating a Comment, try accessing the Comment
#         via the GET request to inspect its fields and sub-elements. A common source
#         of            problems with write/update requests occurs when users either
#         omit required fields, or insert invalid data into a field (for example, by
#         referring a            CATEGORY_ID or LINK_ID which does not exist.
#       operationId: Update Comment
#       parameters:
#       - name: Authorization
#         in: header
#         description: Authorization
#         required: true
#         schema:
#           type: string
#           default: '{{Authorization}}'
#       requestBody:
#         description: The record to update (just include the JSON object as the request
#           body)
#         content:
#           application/json:
#             schema:
#               title: Comment
#               type: object
#               properties:
#                 COMMENT_ID:
#                   type: integer
#                   format: int64
#                   readOnly: true
#                 OWNER_USER_ID:
#                   type: integer
#                   format: int32
#         required: true
#       responses:
#         201:
#           description: Request succeeded.
#           content:
#             application/json:
#               schema:
#                 title: Comment
#                 type: object
#                 properties:
#                   COMMENT_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#                   BODY:
#                     maxLength: 200
#                     type: string
#                     format: string
#                     readOnly: true
#                   OWNER_USER_ID:
#                     type: integer
#                     format: int32
#                   DATE_CREATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   DATE_UPDATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   NOTE_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#                   TASK_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#                   EMAIL_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#             text/json:
#               schema:
#                 title: Comment
#                 type: object
#                 properties:
#                   COMMENT_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#                   BODY:
#                     maxLength: 200
#                     type: string
#                     format: string
#                     readOnly: true
#                   OWNER_USER_ID:
#                     type: integer
#                     format: int32
#                   DATE_CREATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   DATE_UPDATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   NOTE_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#                   TASK_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#                   EMAIL_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#         400:
#           description: Data validation error.
#           content: {}
#         401:
#           description: Authentication failed.
#           content: {}
#         402:
#           description: Record limit reached.
#           content: {}
#       deprecated: false
#       x-codegen-request-body-name: fieldValues
#   /Comments/{id}:
#     delete:
#       tags:
#       - Comments
#       summary: Deletes a Comment
#       operationId: Delete Comment
#       parameters:
#       - name: id
#         in: path
#         description: Entity's ID
#         required: true
#         schema:
#           type: integer
#           format: int64
#       - name: Authorization
#         in: header
#         description: Authorization
#         required: true
#         schema:
#           type: string
#           default: '{{Authorization}}'
#       responses:
#         202:
#           description: Delete succeeded.
#           content: {}
#         401:
#           description: Authentication failed.
#           content: {}
#         403:
#           description: API User does not have access to Record.
#           content: {}
#         404:
#           description: Record not found.
#           content: {}
#         417:
#           description: Delete failed.
#           content: {}
#       deprecated: false
#   /Comments/{id}/FileAttachments:
#     get:
#       tags:
#       - Comments
#       summary: Gets a Comment's File Attachments
#       operationId: Get File Attachments of Comment
#       parameters:
#       - name: id
#         in: path
#         description: A Record's ID
#         required: true
#         schema:
#           type: integer
#           format: int64
#       - name: updated_after_utc
#         in: query
#         description: Optional, earliest date when file attachment was last updated.
#         schema:
#           type: string
#           format: date-time
#       - name: skip
#         in: query
#         description: Optional, number of file attachments to skip.
#         schema:
#           type: integer
#           format: int32
#       - name: top
#         in: query
#         description: Optional, maximum number of file attachments to return in the
#           response.
#         schema:
#           type: integer
#           format: int32
#       - name: count_total
#         in: query
#         description: true if total number of records should be returned in the response
#           headers.
#         schema:
#           type: boolean
#           default: false
#       - name: Authorization
#         in: header
#         description: Authorization
#         required: true
#         schema:
#           type: string
#           default: '{{Authorization}}'
#       responses:
#         200:
#           description: Request succeeded.
#           content:
#             application/json:
#               schema:
#                 type: array
#                 items:
#                   $ref: '#/components/schemas/APIFileAttachment'
#         400:
#           description: Often missing or invalid parameter.
#           content: {}
#         401:
#           description: Authentication failed.
#           content: {}
#         403:
#           description: API User does not have access to Record.
#           content: {}
#         404:
#           description: Record not found.
#           content: {}
#       deprecated: false
#     post:
#       tags:
#       - Comments
#       summary: Adds a File Attachment to a Comment
#       description: This endpoint expects multipart/form-data as the request payload.
#         See Stack Overflow for examples of how to generate multipart requests, or
#         see our <a href="http://github.com/Insightly" target="_blank">client libraries</a>
#         for an example of how this is generated. Only one file can be added per request.
#       operationId: Add File Attachment to Comment
#       parameters:
#       - name: id
#         in: path
#         description: Record ID
#         required: true
#         schema:
#           type: integer
#           format: int64
#       - name: Authorization
#         in: header
#         description: Authorization
#         required: true
#         schema:
#           type: string
#           default: '{{Authorization}}'
#       requestBody:
#         content:
#           multipart/form-data:
#             schema:
#               required:
#               - file
#               properties:
#                 file:
#                   type: string
#                   description: The file part of the multipart/form-data request. Only
#                     one file can be added per request.
#                   format: binary
#                 file_name:
#                   maxLength: 500
#                   type: string
#                 content_type:
#                   maxLength: 255
#                   type: string
#                 file_category_id:
#                   type: integer
#                   format: int32
#         required: true
#       responses:
#         201:
#           description: Request succeeded.
#           content:
#             application/json:
#               schema:
#                 $ref: '#/components/schemas/APIFileAttachment'
#             text/json:
#               schema:
#                 $ref: '#/components/schemas/APIFileAttachment'
#         400:
#           description: Data validation error.
#           content: {}
#         401:
#           description: Authentication failed.
#           content: {}
#         402:
#           description: Record or storage limit reached.
#           content: {}
#         403:
#           description: API User does not have access to Record.
#           content: {}
#         404:
#           description: Record not found.
#           content: {}
#         417:
#           description: File Attachment insert failed.
#           content: {}
#       deprecated: false
#   /Contacts:
#     get:
#       tags:
#       - Contacts
#       summary: Gets a list of Contacts
#       description: Simple object graphs (excluding LINKS, etc.) are returned if "brief=true"
#         is used in the query string.
#       operationId: Get Contacts
#       parameters:
#       - name: brief
#         in: query
#         description: Optional, true if response should only contain top level properties
#           of the record.
#         schema:
#           type: boolean
#           default: false
#       - name: skip
#         in: query
#         description: Optional, number of records to skip.
#         schema:
#           type: integer
#           format: int32
#       - name: top
#         in: query
#         description: Optional, maximum number of records to return in the response.
#         schema:
#           type: integer
#           format: int32
#       - name: count_total
#         in: query
#         description: Optional,true if total number of records should be returned in
#           the response headers.
#         schema:
#           type: boolean
#           default: false
#       - name: Authorization
#         in: header
#         description: Authorization
#         required: true
#         schema:
#           type: string
#           default: '{{Authorization}}'
#       responses:
#         200:
#           description: Request succeeded.
#           content:
#             application/octet-stream:
#               schema:
#                 type: array
#                 items:
#                   title: Contact
#                   required:
#                   - FIRST_NAME
#                   type: object
#                   properties:
#                     CONTACT_ID:
#                       type: integer
#                       format: int64
#                       readOnly: true
#                     SALUTATION:
#                       maxLength: 50
#                       type: string
#                       format: string
#                     FIRST_NAME:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     LAST_NAME:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     IMAGE_URL:
#                       maxLength: 255
#                       type: string
#                       format: string
#                       readOnly: true
#                     BACKGROUND:
#                       maxLength: 4000
#                       type: string
#                       format: string
#                     OWNER_USER_ID:
#                       type: integer
#                       format: int32
#                     DATE_CREATED_UTC:
#                       type: string
#                       format: date-time
#                       readOnly: true
#                     DATE_UPDATED_UTC:
#                       type: string
#                       format: date-time
#                       readOnly: true
#                     SOCIAL_LINKEDIN:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     SOCIAL_FACEBOOK:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     SOCIAL_TWITTER:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     DATE_OF_BIRTH:
#                       type: string
#                       format: date-time
#                     PHONE:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     PHONE_HOME:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     PHONE_MOBILE:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     PHONE_OTHER:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     PHONE_ASSISTANT:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     PHONE_FAX:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     EMAIL_ADDRESS:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ASSISTANT_NAME:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_MAIL_STREET:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_MAIL_CITY:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_MAIL_STATE:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_MAIL_POSTCODE:
#                       maxLength: 128
#                       type: string
#                       format: string
#                     ADDRESS_MAIL_COUNTRY:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_OTHER_STREET:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_OTHER_CITY:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_OTHER_STATE:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_OTHER_POSTCODE:
#                       maxLength: 128
#                       type: string
#                       format: string
#                     ADDRESS_OTHER_COUNTRY:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     LAST_ACTIVITY_DATE_UTC:
#                       type: string
#                       format: date-time
#                       readOnly: true
#                     NEXT_ACTIVITY_DATE_UTC:
#                       type: string
#                       format: date-time
#                       readOnly: true
#                     CREATED_USER_ID:
#                       type: integer
#                       format: int32
#                       readOnly: true
#                     ORGANISATION_ID:
#                       type: integer
#                       format: int64
#                     TITLE:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     EMAIL_OPTED_OUT:
#                       type: boolean
#                       format: boolean
#                     CUSTOMFIELDS:
#                       type: array
#                       items:
#                         $ref: '#/components/schemas/APICustomField'
#                     TAGS:
#                       type: array
#                       items:
#                         $ref: '#/components/schemas/APITag'
#                     DATES:
#                       type: array
#                       items:
#                         $ref: '#/components/schemas/APIDate'
#                     LINKS:
#                       type: array
#                       items:
#                         $ref: '#/components/schemas/APILinkDto'
#             application/json:
#               schema:
#                 type: array
#                 items:
#                   title: Contact
#                   required:
#                   - FIRST_NAME
#                   type: object
#                   properties:
#                     CONTACT_ID:
#                       type: integer
#                       format: int64
#                       readOnly: true
#                     SALUTATION:
#                       maxLength: 50
#                       type: string
#                       format: string
#                     FIRST_NAME:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     LAST_NAME:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     IMAGE_URL:
#                       maxLength: 255
#                       type: string
#                       format: string
#                       readOnly: true
#                     BACKGROUND:
#                       maxLength: 4000
#                       type: string
#                       format: string
#                     OWNER_USER_ID:
#                       type: integer
#                       format: int32
#                     DATE_CREATED_UTC:
#                       type: string
#                       format: date-time
#                       readOnly: true
#                     DATE_UPDATED_UTC:
#                       type: string
#                       format: date-time
#                       readOnly: true
#                     SOCIAL_LINKEDIN:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     SOCIAL_FACEBOOK:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     SOCIAL_TWITTER:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     DATE_OF_BIRTH:
#                       type: string
#                       format: date-time
#                     PHONE:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     PHONE_HOME:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     PHONE_MOBILE:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     PHONE_OTHER:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     PHONE_ASSISTANT:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     PHONE_FAX:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     EMAIL_ADDRESS:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ASSISTANT_NAME:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_MAIL_STREET:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_MAIL_CITY:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_MAIL_STATE:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_MAIL_POSTCODE:
#                       maxLength: 128
#                       type: string
#                       format: string
#                     ADDRESS_MAIL_COUNTRY:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_OTHER_STREET:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_OTHER_CITY:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_OTHER_STATE:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     ADDRESS_OTHER_POSTCODE:
#                       maxLength: 128
#                       type: string
#                       format: string
#                     ADDRESS_OTHER_COUNTRY:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     LAST_ACTIVITY_DATE_UTC:
#                       type: string
#                       format: date-time
#                       readOnly: true
#                     NEXT_ACTIVITY_DATE_UTC:
#                       type: string
#                       format: date-time
#                       readOnly: true
#                     CREATED_USER_ID:
#                       type: integer
#                       format: int32
#                       readOnly: true
#                     ORGANISATION_ID:
#                       type: integer
#                       format: int64
#                     TITLE:
#                       maxLength: 255
#                       type: string
#                       format: string
#                     EMAIL_OPTED_OUT:
#                       type: boolean
#                       format: boolean
#                     CUSTOMFIELDS:
#                       type: array
#                       items:
#                         $ref: '#/components/schemas/APICustomField'
#                     TAGS:
#                       type: array
#                       items:
#                         $ref: '#/components/schemas/APITag'
#                     DATES:
#                       type: array
#                       items:
#                         $ref: '#/components/schemas/APIDate'
#                     LINKS:
#                       type: array
#                       items:
#                         $ref: '#/components/schemas/APILinkDto'
#         400:
#           description: Often missing or invalid parameter.
#           content: {}
#         401:
#           description: Authentication failed.
#           content: {}
#       deprecated: false
#     put:
#       tags:
#       - Contacts
#       summary: Updates a Contact
#       description: If you have trouble updating a Contact, try accessing the Contact
#         via the GET request to inspect its fields and sub-elements. A common source
#         of            problems with write/update requests occurs when users either
#         omit required fields, or insert invalid data into a field (for example, by
#         referring a            CATEGORY_ID or LINK_ID which does not exist.
#       operationId: Update Contact
#       parameters:
#       - name: Authorization
#         in: header
#         description: Authorization
#         required: true
#         schema:
#           type: string
#           default: '{{Authorization}}'
#       requestBody:
#         description: The record to update (just include the JSON object as the request
#           body)
#         content:
#           application/json:
#             schema:
#               title: Contact
#               required:
#               - FIRST_NAME
#               type: object
#               properties:
#                 CONTACT_ID:
#                   type: integer
#                   format: int64
#                   readOnly: true
#                 SALUTATION:
#                   maxLength: 50
#                   type: string
#                   format: string
#                 FIRST_NAME:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 LAST_NAME:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 BACKGROUND:
#                   maxLength: 4000
#                   type: string
#                   format: string
#                 OWNER_USER_ID:
#                   type: integer
#                   format: int32
#                 SOCIAL_LINKEDIN:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 SOCIAL_FACEBOOK:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 SOCIAL_TWITTER:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 DATE_OF_BIRTH:
#                   type: string
#                   format: date-time
#                 PHONE:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 PHONE_HOME:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 PHONE_MOBILE:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 PHONE_OTHER:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 PHONE_ASSISTANT:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 PHONE_FAX:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 EMAIL_ADDRESS:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ASSISTANT_NAME:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_MAIL_STREET:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_MAIL_CITY:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_MAIL_STATE:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_MAIL_POSTCODE:
#                   maxLength: 128
#                   type: string
#                   format: string
#                 ADDRESS_MAIL_COUNTRY:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_OTHER_STREET:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_OTHER_CITY:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_OTHER_STATE:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_OTHER_POSTCODE:
#                   maxLength: 128
#                   type: string
#                   format: string
#                 ADDRESS_OTHER_COUNTRY:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ORGANISATION_ID:
#                   type: integer
#                   format: int64
#                 TITLE:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 EMAIL_OPTED_OUT:
#                   type: boolean
#                   format: boolean
#                 CUSTOMFIELDS:
#                   type: array
#                   items:
#                     $ref: '#/components/schemas/APICustomField'
#         required: true
#       responses:
#         201:
#           description: Request succeeded.
#           content:
#             application/json:
#               schema:
#                 title: Contact
#                 required:
#                 - FIRST_NAME
#                 type: object
#                 properties:
#                   CONTACT_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#                   SALUTATION:
#                     maxLength: 50
#                     type: string
#                     format: string
#                   FIRST_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   LAST_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   IMAGE_URL:
#                     maxLength: 255
#                     type: string
#                     format: string
#                     readOnly: true
#                   BACKGROUND:
#                     maxLength: 4000
#                     type: string
#                     format: string
#                   OWNER_USER_ID:
#                     type: integer
#                     format: int32
#                   DATE_CREATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   DATE_UPDATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   SOCIAL_LINKEDIN:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   SOCIAL_FACEBOOK:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   SOCIAL_TWITTER:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   DATE_OF_BIRTH:
#                     type: string
#                     format: date-time
#                   PHONE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_HOME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_MOBILE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_OTHER:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_ASSISTANT:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_FAX:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   EMAIL_ADDRESS:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ASSISTANT_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_STREET:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_CITY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_STATE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_POSTCODE:
#                     maxLength: 128
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_COUNTRY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_STREET:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_CITY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_STATE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_POSTCODE:
#                     maxLength: 128
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_COUNTRY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   LAST_ACTIVITY_DATE_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   NEXT_ACTIVITY_DATE_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   CREATED_USER_ID:
#                     type: integer
#                     format: int32
#                     readOnly: true
#                   ORGANISATION_ID:
#                     type: integer
#                     format: int64
#                   TITLE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   EMAIL_OPTED_OUT:
#                     type: boolean
#                     format: boolean
#                   CUSTOMFIELDS:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APICustomField'
#                   TAGS:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APITag'
#                   DATES:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APIDate'
#                   LINKS:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APILinkDto'
#             text/json:
#               schema:
#                 title: Contact
#                 required:
#                 - FIRST_NAME
#                 type: object
#                 properties:
#                   CONTACT_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#                   SALUTATION:
#                     maxLength: 50
#                     type: string
#                     format: string
#                   FIRST_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   LAST_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   IMAGE_URL:
#                     maxLength: 255
#                     type: string
#                     format: string
#                     readOnly: true
#                   BACKGROUND:
#                     maxLength: 4000
#                     type: string
#                     format: string
#                   OWNER_USER_ID:
#                     type: integer
#                     format: int32
#                   DATE_CREATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   DATE_UPDATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   SOCIAL_LINKEDIN:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   SOCIAL_FACEBOOK:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   SOCIAL_TWITTER:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   DATE_OF_BIRTH:
#                     type: string
#                     format: date-time
#                   PHONE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_HOME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_MOBILE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_OTHER:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_ASSISTANT:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_FAX:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   EMAIL_ADDRESS:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ASSISTANT_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_STREET:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_CITY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_STATE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_POSTCODE:
#                     maxLength: 128
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_COUNTRY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_STREET:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_CITY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_STATE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_POSTCODE:
#                     maxLength: 128
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_COUNTRY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   LAST_ACTIVITY_DATE_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   NEXT_ACTIVITY_DATE_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   CREATED_USER_ID:
#                     type: integer
#                     format: int32
#                     readOnly: true
#                   ORGANISATION_ID:
#                     type: integer
#                     format: int64
#                   TITLE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   EMAIL_OPTED_OUT:
#                     type: boolean
#                     format: boolean
#                   CUSTOMFIELDS:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APICustomField'
#                   TAGS:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APITag'
#                   DATES:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APIDate'
#                   LINKS:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APILinkDto'
#         400:
#           description: Data validation error.
#           content: {}
#         401:
#           description: Authentication failed.
#           content: {}
#         402:
#           description: Record limit reached.
#           content: {}
#       deprecated: false
#       x-codegen-request-body-name: fieldValues
#     post:
#       tags:
#       - Contacts
#       summary: Adds a Contact
#       description: If you have trouble with creating a Contact, try creating Contacts
#         via the web interface, and then access those Contacts via the API. This way
#         you            can see examples of the fields and sub-elements attached to
#         the Contact. A common source of problems during write/update request is caused
#         when users omit            required fields, or insert invalid data in a field
#         (e.g. reference a CATEGORY_ID that does not exist in the user's Insightly
#         instance.
#       operationId: Add Contact
#       parameters:
#       - name: Authorization
#         in: header
#         description: Authorization
#         required: true
#         schema:
#           type: string
#           default: '{{Authorization}}'
#       requestBody:
#         description: The record to add (just include the JSON object as the request
#           body)
#         content:
#           application/json:
#             schema:
#               title: Contact
#               required:
#               - FIRST_NAME
#               type: object
#               properties:
#                 CONTACT_ID:
#                   type: integer
#                   format: int64
#                   readOnly: true
#                 SALUTATION:
#                   maxLength: 50
#                   type: string
#                   format: string
#                 FIRST_NAME:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 LAST_NAME:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 BACKGROUND:
#                   maxLength: 4000
#                   type: string
#                   format: string
#                 OWNER_USER_ID:
#                   type: integer
#                   format: int32
#                 SOCIAL_LINKEDIN:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 SOCIAL_FACEBOOK:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 SOCIAL_TWITTER:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 DATE_OF_BIRTH:
#                   type: string
#                   format: date-time
#                 PHONE:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 PHONE_HOME:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 PHONE_MOBILE:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 PHONE_OTHER:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 PHONE_ASSISTANT:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 PHONE_FAX:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 EMAIL_ADDRESS:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ASSISTANT_NAME:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_MAIL_STREET:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_MAIL_CITY:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_MAIL_STATE:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_MAIL_POSTCODE:
#                   maxLength: 128
#                   type: string
#                   format: string
#                 ADDRESS_MAIL_COUNTRY:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_OTHER_STREET:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_OTHER_CITY:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_OTHER_STATE:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ADDRESS_OTHER_POSTCODE:
#                   maxLength: 128
#                   type: string
#                   format: string
#                 ADDRESS_OTHER_COUNTRY:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 ORGANISATION_ID:
#                   type: integer
#                   format: int64
#                 TITLE:
#                   maxLength: 255
#                   type: string
#                   format: string
#                 EMAIL_OPTED_OUT:
#                   type: boolean
#                   format: boolean
#                 CUSTOMFIELDS:
#                   type: array
#                   items:
#                     $ref: '#/components/schemas/APICustomField'
#         required: true
#       responses:
#         201:
#           description: Request succeeded.
#           content:
#             application/json:
#               schema:
#                 title: Contact
#                 required:
#                 - FIRST_NAME
#                 type: object
#                 properties:
#                   CONTACT_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#                   SALUTATION:
#                     maxLength: 50
#                     type: string
#                     format: string
#                   FIRST_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   LAST_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   IMAGE_URL:
#                     maxLength: 255
#                     type: string
#                     format: string
#                     readOnly: true
#                   BACKGROUND:
#                     maxLength: 4000
#                     type: string
#                     format: string
#                   OWNER_USER_ID:
#                     type: integer
#                     format: int32
#                   DATE_CREATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   DATE_UPDATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   SOCIAL_LINKEDIN:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   SOCIAL_FACEBOOK:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   SOCIAL_TWITTER:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   DATE_OF_BIRTH:
#                     type: string
#                     format: date-time
#                   PHONE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_HOME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_MOBILE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_OTHER:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_ASSISTANT:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_FAX:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   EMAIL_ADDRESS:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ASSISTANT_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_STREET:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_CITY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_STATE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_POSTCODE:
#                     maxLength: 128
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_COUNTRY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_STREET:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_CITY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_STATE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_POSTCODE:
#                     maxLength: 128
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_COUNTRY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   LAST_ACTIVITY_DATE_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   NEXT_ACTIVITY_DATE_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   CREATED_USER_ID:
#                     type: integer
#                     format: int32
#                     readOnly: true
#                   ORGANISATION_ID:
#                     type: integer
#                     format: int64
#                   TITLE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   EMAIL_OPTED_OUT:
#                     type: boolean
#                     format: boolean
#                   CUSTOMFIELDS:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APICustomField'
#                   TAGS:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APITag'
#                   DATES:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APIDate'
#                   LINKS:
#                     type: array
#                     items:
#                       $ref: '#/components/schemas/APILinkDto'
#             text/json:
#               schema:
#                 title: Contact
#                 required:
#                 - FIRST_NAME
#                 type: object
#                 properties:
#                   CONTACT_ID:
#                     type: integer
#                     format: int64
#                     readOnly: true
#                   SALUTATION:
#                     maxLength: 50
#                     type: string
#                     format: string
#                   FIRST_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   LAST_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   IMAGE_URL:
#                     maxLength: 255
#                     type: string
#                     format: string
#                     readOnly: true
#                   BACKGROUND:
#                     maxLength: 4000
#                     type: string
#                     format: string
#                   OWNER_USER_ID:
#                     type: integer
#                     format: int32
#                   DATE_CREATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   DATE_UPDATED_UTC:
#                     type: string
#                     format: date-time
#                     readOnly: true
#                   SOCIAL_LINKEDIN:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   SOCIAL_FACEBOOK:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   SOCIAL_TWITTER:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   DATE_OF_BIRTH:
#                     type: string
#                     format: date-time
#                   PHONE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_HOME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_MOBILE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_OTHER:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_ASSISTANT:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   PHONE_FAX:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   EMAIL_ADDRESS:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ASSISTANT_NAME:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_STREET:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_CITY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_STATE:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_POSTCODE:
#                     maxLength: 128
#                     type: string
#                     format: string
#                   ADDRESS_MAIL_COUNTRY:
#                     maxLength: 255
#                     type: string
#                     format: string
#                   ADDRESS_OTHER_STREET:
#                     maxLength: 255
#                     type: string
#                     format: string
[...]
