openapi: 3.0.0
servers:
  - url: https://blogger.googleapis.com
info:
  x-ballerina-display:
    label: Google Blogger
    iconPath: "icon.png"
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: |
    This is a generated connector for [Google Blogger API v3.0](https://developers.google.com/blogger/docs/3.0/getting_started) OpenAPI specification.
    The Blogger API provides access to posts, comments and pages of a Blogger blog.
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials. 
    Create a [Google account](https://accounts.google.com/signup) and obtain tokens by following [this guide](https://developers.google.com/identity/protocols/oauth2).
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Blogger API v3
  version: v3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://blogger.googleapis.com/$discovery/rest?version=v3
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: blogger
externalDocs:
  url: https://developers.google.com/blogger/docs/3.0/getting_started
tags:
  - name: blogs
  - name: blogUserInfos
  - name: comments
  - name: pages
  - name: pageViews
  - name: posts
  - name: postUserInfos
  - name: users
paths:
  /v3/blogs/byurl:
    get:
      summary: Gets a blog by url.
      operationId: getByUrl.blogger.blogs
      parameters:
        - in: query
          name: url
          description: Blog URL
          required: true
          schema:
            type: string
        - in: query
          name: view
          description:  View type
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blog"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - blogs
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/blogs/{blogId}":
    get:
      summary: Gets a blog by id.
      operationId: get.blogger.blogs
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: query
          name: maxPosts
          description: Maximum posts
          schema:
            type: integer
        - in: query
          name: view
          description: View type
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blog"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - blogs
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/blogs/{blogId}/comments":
    get:
      summary: Lists comments by blog.
      operationId: listByBlog.blogger.comments
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: query
          name: endDate
          description: End date
          schema:
            type: string
        - in: query
          name: fetchBodies
          description: Fetch bodies
          schema:
            type: boolean
        - in: query
          name: maxResults
          description: Maximum results
          schema:
            type: integer
        - in: query
          name: pageToken
          description: Page token
          schema:
            type: string
        - in: query
          name: startDate
          description: Start date
          schema:
            type: string
        - explode: true
          in: query
          name: status
          description: Status
          schema:
            items:
              enum:
                - LIVE
                - EMPTIED
                - PENDING
                - SPAM
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - comments
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/blogs/{blogId}/pages":
    get:
      summary: Lists pages.
      operationId: list.blogger.pages
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: query
          name: fetchBodies
          description: Fetch bodies
          schema:
            type: boolean
        - in: query
          name: maxResults
          description: Maximum results
          schema:
            type: integer
        - in: query
          name: pageToken
          description: Page token
          schema:
            type: string
        - explode: true
          in: query
          name: status
          description: Status
          schema:
            items:
              enum:
                - LIVE
                - DRAFT
              type: string
            type: array
          style: form
        - in: query
          name: view
          description: View
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - pages
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      summary: Inserts a page.
      operationId: insert.blogger.pages
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: query
          name: isDraft
          description: Is draft
          schema:
            type: boolean
      requestBody:
        description: Page request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Page"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - pages
  "/v3/blogs/{blogId}/pages/{pageId}":
    delete:
      summary: Deletes a page by blog id and page id.
      operationId: delete.blogger.pages
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          description: Page ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - pages
    get:
      summary: Gets a page by blog id and page id.
      operationId: get.blogger.pages
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          description: Page ID
          required: true
          schema:
            type: string
        - in: query
          name: view
          description: View type
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - pages
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      summary: Patches a page.
      operationId: patch.blogger.pages
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          description: Page ID
          required: true
          schema:
            type: string
        - in: query
          name: publish
          description: Publish
          schema:
            type: boolean
        - in: query
          name: revert
          description: Revert
          schema:
            type: boolean
      requestBody:
        description: Page request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Page"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - pages
    put:
      summary: Updates a page by blog id and page id.
      operationId: update.blogger.pages
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          description: Page ID
          required: true
          schema:
            type: string
        - in: query
          name: publish
          description: Publish
          schema:
            type: boolean
        - in: query
          name: revert
          description: Revert
          schema:
            type: boolean
      requestBody:
        description: Page request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Page"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - pages
  "/v3/blogs/{blogId}/pages/{pageId}/publish":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      summary: Publishes a page.
      operationId: publish.blogger.pages
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          description: Page ID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - pages
  "/v3/blogs/{blogId}/pages/{pageId}/revert":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      summary: Reverts a published or scheduled page to draft state.
      operationId: revert.blogger.pages
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          description: Page ID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - pages
  "/v3/blogs/{blogId}/pageviews":
    get:
      summary: Gets page views by blog id.
      operationId: get.blogger.pageViews
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - explode: true
          in: query
          name: range
          description: Range
          schema:
            items:
              enum:
                - all
                - 30DAYS
                - 7DAYS
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pageviews"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - pageViews
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/blogs/{blogId}/posts":
    get:
      summary: Lists posts.
      operationId: list.blogger.posts
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: query
          name: endDate
          description: End date
          schema:
            type: string
        - in: query
          name: fetchBodies
          description: Fetch bodies
          schema:
            type: boolean
        - in: query
          name: fetchImages
          description: Fetch images
          schema:
            type: boolean
        - in: query
          name: labels
          description: Labels
          schema:
            type: string
        - in: query
          name: maxResults
          description: Maximum results
          schema:
            type: integer
        - in: query
          name: orderBy
          description: Order by
          schema:
            enum:
              - ORDER_BY_UNSPECIFIED
              - PUBLISHED
              - UPDATED
            type: string
        - in: query
          name: pageToken
          description: Page token
          schema:
            type: string
        - in: query
          name: startDate
          description: Start date
          schema:
            type: string
        - explode: true
          in: query
          name: status
          description: Status
          schema:
            items:
              enum:
                - LIVE
                - DRAFT
                - SCHEDULED
              type: string
            type: array
          style: form
        - in: query
          name: view
          description: View
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - posts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      summary: Inserts a post.
      operationId: insert.blogger.posts
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: query
          name: fetchBody
          description: Fetch body
          schema:
            type: boolean
        - in: query
          name: fetchImages
          description: Fetch images
          schema:
            type: boolean
        - in: query
          name: isDraft
          description: Is draft
          schema:
            type: boolean
      requestBody:
        description: Post request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Post"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - posts
  "/v3/blogs/{blogId}/posts/bypath":
    get:
      summary: Gets a post by path.
      operationId: getByPath.blogger.posts
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: query
          name: path
          description: Path
          required: true
          schema:
            type: string
        - in: query
          name: maxComments
          description: Maximum comments
          schema:
            type: integer
        - in: query
          name: view
          description: View
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - posts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/blogs/{blogId}/posts/search":
    get:
      summary: Searches for posts matching given query terms in the specified blog.
      operationId: search.blogger.posts
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: query
          name: q
          description: q
          required: true
          schema:
            type: string
        - in: query
          name: fetchBodies
          description: Fetch bodies
          schema:
            type: boolean
        - in: query
          name: orderBy
          description: Order by
          schema:
            enum:
              - ORDER_BY_UNSPECIFIED
              - PUBLISHED
              - UPDATED
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - posts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/blogs/{blogId}/posts/{postId}":
    delete:
      summary: Deletes a post by blog id and post id.
      operationId: delete.blogger.posts
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - posts
    get:
      summary: Gets a post by blog id and post id
      operationId: get.blogger.posts
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: query
          name: fetchBody
          description: Fetch body
          schema:
            type: boolean
        - in: query
          name: fetchImages
          description: Fetch images
          schema:
            type: boolean
        - in: query
          name: maxComments
          description: Maximum comments
          schema:
            type: integer
        - in: query
          name: view
          description: View
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - posts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      summary: Patches a post.
      operationId: patch.blogger.posts
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: query
          name: fetchBody
          description: Fetch body
          schema:
            type: boolean
        - in: query
          name: fetchImages
          description: Fetch images
          schema:
            type: boolean
        - in: query
          name: maxComments
          description: Maximum comments
          schema:
            type: integer
        - in: query
          name: publish
          description: Publish
          schema:
            type: boolean
        - in: query
          name: revert
          description: Revert
          schema:
            type: boolean
      requestBody:
        description: Post request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Post"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - posts
    put:
      summary: Updates a post by blog id and post id.
      operationId: update.blogger.posts
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: query
          name: fetchBody
          description: Fetch body
          schema:
            type: boolean
        - in: query
          name: fetchImages
          description: Fetch images
          schema:
            type: boolean
        - in: query
          name: maxComments
          description: Maximum comments
          schema:
            type: integer
        - in: query
          name: publish
          description: Publish
          schema:
            type: boolean
        - in: query
          name: revert
          description: Revert
          schema:
            type: boolean
      requestBody:
        description: Post request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Post"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - posts
  "/v3/blogs/{blogId}/posts/{postId}/comments":
    get:
      summary: Lists comments.
      operationId: list.blogger.comments
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: query
          name: endDate
          description: End date
          schema:
            type: string
        - in: query
          name: fetchBodies
          description: Fetch bodies
          schema:
            type: boolean
        - in: query
          name: maxResults
          description: Maximum results
          schema:
            type: integer
        - in: query
          name: pageToken
          description: Page token
          schema:
            type: string
        - in: query
          name: startDate
          description: Start date
          schema:
            type: string
        - in: query
          name: status
          description: Status
          schema:
            enum:
              - LIVE
              - EMPTIED
              - PENDING
              - SPAM
            type: string
        - in: query
          name: view
          description: View type
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - comments
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/blogs/{blogId}/posts/{postId}/comments/{commentId}":
    delete:
      summary: Deletes a comment by blog id, post id and comment id.
      operationId: delete.blogger.comments
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: path
          name: commentId
          description: Comment ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - comments
    get:
      summary: Gets a comment by id.
      operationId: get.blogger.comments
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: path
          name: commentId
          description: Comment ID
          required: true
          schema:
            type: string
        - in: query
          name: view
          description: View
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - comments
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/approve":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      summary: Marks a comment as not spam by blog id, post id and comment id.
      operationId: approve.blogger.comments
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: path
          name: commentId
          description: Comment ID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - comments
  "/v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/removecontent":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      summary: Removes the content of a comment by blog id, post id and comment id.
      operationId: removeContent.blogger.comments
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: path
          name: commentId
          description: Comment ID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - comments
  "/v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/spam":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      summary: Marks a comment as spam by blog id, post id and comment id.
      operationId: markAsSpam.blogger.comments
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: path
          name: commentId
          description: Comment ID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - comments
  "/v3/blogs/{blogId}/posts/{postId}/publish":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      summary: Publishes a post.
      operationId: publish.blogger.posts
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: query
          name: publishDate
          description: Publish date
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - posts
  "/v3/blogs/{blogId}/posts/{postId}/revert":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      summary: Reverts a published or scheduled post to draft state.
      operationId: revert.blogger.posts
      parameters:
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      tags:
        - posts
  "/v3/users/{userId}":
    get:
      summary: Gets one user by user_id.
      operationId: get.blogger.users
      parameters:
        - in: path
          name: userId
          description: User ID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - users
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/users/{userId}/blogs":
    get:
      summary: Lists blogs by user.
      operationId: listByUser.blogger.blogs
      parameters:
        - in: path
          name: userId
          description: User ID
          required: true
          schema:
            type: string
        - in: query
          name: fetchUserInfo
          description: Fetch user information
          schema:
            type: boolean
        - explode: true
          in: query
          name: role
          description: Role
          schema:
            items:
              enum:
                - VIEW_TYPE_UNSPECIFIED
                - READER
                - AUTHOR
                - ADMIN
              type: string
            type: array
          style: form
        - description: Default value of status is LIVE.
          explode: true
          in: query
          name: status
          schema:
            items:
              enum:
                - LIVE
                - DELETED
              type: string
            type: array
          style: form
        - in: query
          name: view
          description: View type
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlogList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - blogs
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/users/{userId}/blogs/{blogId}":
    get:
      summary: Gets one blog and user info pair by blog id and user id.
      operationId: get.blogger.blogUserInfos
      parameters:
        - in: path
          name: userId
          description: User ID
          required: true
          schema:
            type: string
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: query
          name: maxPosts
          description: Maximum posts
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlogUserInfo"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - blogUserInfos
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/users/{userId}/blogs/{blogId}/posts":
    get:
      summary: Lists post and user info pairs.
      operationId: list.blogger.postUserInfos
      parameters:
        - in: path
          name: userId
          description: User ID
          required: true
          schema:
            type: string
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: query
          name: endDate
          description: End date
          schema:
            type: string
        - in: query
          name: fetchBodies
          description: Fetch bodies
          schema:
            type: boolean
        - in: query
          name: labels
          description: Labels
          schema:
            type: string
        - in: query
          name: maxResults
          description: Maximum results
          schema:
            type: integer
        - in: query
          name: orderBy
          description: Order by
          schema:
            enum:
              - ORDER_BY_UNSPECIFIED
              - PUBLISHED
              - UPDATED
            type: string
        - in: query
          name: pageToken
          description: Page token
          schema:
            type: string
        - in: query
          name: startDate
          description: Start date
          schema:
            type: string
        - explode: true
          in: query
          name: status
          description: Status
          schema:
            items:
              enum:
                - LIVE
                - DRAFT
                - SCHEDULED
              type: string
            type: array
          style: form
        - in: query
          name: view
          description: View type
          schema:
            enum:
              - VIEW_TYPE_UNSPECIFIED
              - READER
              - AUTHOR
              - ADMIN
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostUserInfosList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - postUserInfos
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/users/{userId}/blogs/{blogId}/posts/{postId}":
    get:
      summary: Gets one post and user info pair, by post_id and user_id.
      operationId: get.blogger.postUserInfos
      parameters:
        - in: path
          name: userId
          description: User ID
          required: true
          schema:
            type: string
        - in: path
          name: blogId
          description: Blog ID
          required: true
          schema:
            type: string
        - in: path
          name: postId
          description: Post ID
          required: true
          schema:
            type: string
        - in: query
          name: maxComments
          description: Maximum Comments
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostUserInfo"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      tags:
        - postUserInfos
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Blog:
      properties:
        customMetaData:
          description: The JSON custom meta-data for the Blog.
          type: string
        description:
          description: The description of this blog. This is displayed underneath the title.
          type: string
        id:
          description: The identifier for this resource.
          type: string
        kind:
          description: The kind of this entry. Always blogger#blog.
          type: string
        locale:
          description: The locale this Blog is set to.
          properties:
            country:
              description: The country this blog's locale is set to.
              type: string
            language:
              description: The language this blog is authored in.
              type: string
            variant:
              description: The language variant this blog is authored in.
              type: string
          type: object
        name:
          description: The name of this blog. This is displayed as the title.
          type: string
        pages:
          description: The container of pages in this blog.
          properties:
            selfLink:
              description: The URL of the container for pages in this blog.
              type: string
            totalItems:
              description: The count of pages in this blog.
              format: int32
              type: integer
          type: object
        posts:
          description: The container of posts in this blog.
          properties:
            items:
              description: The List of Posts for this Blog.
              items:
                $ref: "#/components/schemas/Post"
              type: array
            selfLink:
              description: The URL of the container for posts in this blog.
              type: string
            totalItems:
              description: The count of posts in this blog.
              format: int32
              type: integer
          type: object
        published:
          description: RFC 3339 date-time when this blog was published.
          type: string
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        status:
          description: The status of the blog.
          enum:
            - LIVE
            - DELETED
          type: string
        updated:
          description: RFC 3339 date-time when this blog was last updated.
          type: string
        url:
          description: The URL where this blog is published.
          type: string
      type: object
    BlogList:
      properties:
        blogUserInfos:
          description: Admin level list of blog per-user information.
          items:
            $ref: "#/components/schemas/BlogUserInfo"
          type: array
        items:
          description: The list of Blogs this user has Authorship or Admin rights over.
          items:
            $ref: "#/components/schemas/Blog"
          type: array
        kind:
          description: The kind of this entity. Always blogger#blogList.
          type: string
      type: object
    BlogPerUserInfo:
      properties:
        blogId:
          description: ID of the Blog resource.
          type: string
        hasAdminAccess:
          description: True if the user has Admin level access to the blog.
          type: boolean
        kind:
          description: The kind of this entity. Always blogger#blogPerUserInfo.
          type: string
        photosAlbumKey:
          description: The Photo Album Key for the user when adding photos to the blog.
          type: string
        role:
          description: Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER).
          enum:
            - VIEW_TYPE_UNSPECIFIED
            - READER
            - AUTHOR
            - ADMIN
          type: string
        userId:
          description: ID of the User.
          type: string
      type: object
    BlogUserInfo:
      properties:
        blog:
          $ref: "#/components/schemas/Blog"
          description: The Blog resource.
        blog_user_info:
          $ref: "#/components/schemas/BlogPerUserInfo"
          description: Information about a User for the Blog.
        kind:
          description: The kind of this entity. Always blogger#blogUserInfo.
          type: string
      type: object
    Comment:
      properties:
        author:
          description: The author of this Comment.
          properties:
            displayName:
              description: The display name.
              type: string
            id:
              description: The identifier of the creator.
              type: string
            image:
              description: The creator's avatar.
              properties:
                url:
                  description: The creator's avatar URL.
                  type: string
              type: object
            url:
              description: The URL of the creator's Profile page.
              type: string
          type: object
        blog:
          description: Data about the blog containing this comment.
          properties:
            id:
              description: The identifier of the blog containing this comment.
              type: string
          type: object
        content:
          description: The actual content of the comment. May include HTML markup.
          type: string
        id:
          description: The identifier for this resource.
          type: string
        inReplyTo:
          description: Data about the comment this is in reply to.
          properties:
            id:
              description: The identified of the parent of this comment.
              type: string
          type: object
        kind:
          description: The kind of this entry. Always blogger#comment.
          type: string
        post:
          description: Data about the post containing this comment.
          properties:
            id:
              description: The identifier of the post containing this comment.
              type: string
          type: object
        published:
          description: RFC 3339 date-time when this comment was published.
          type: string
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        status:
          description: The status of the comment (only populated for admin users).
          enum:
            - LIVE
            - EMPTIED
            - PENDING
            - SPAM
          type: string
        updated:
          description: RFC 3339 date-time when this comment was last updated.
          type: string
      type: object
    CommentList:
      properties:
        etag:
          description: Etag of the response.
          type: string
        items:
          description: The List of Comments for a Post.
          items:
            $ref: "#/components/schemas/Comment"
          type: array
        kind:
          description: The kind of this entry. Always blogger#commentList.
          type: string
        nextPageToken:
          description: Pagination token to fetch the next page, if one exists.
          type: string
        prevPageToken:
          description: Pagination token to fetch the previous page, if one exists.
          type: string
      type: object
    Page:
      properties:
        author:
          description: The author of this Page.
          properties:
            displayName:
              description: The display name.
              type: string
            id:
              description: The identifier of the creator.
              type: string
            image:
              description: The creator's avatar.
              properties:
                url:
                  description: The creator's avatar URL.
                  type: string
              type: object
            url:
              description: The URL of the creator's Profile page.
              type: string
          type: object
        blog:
          description: Data about the blog containing this Page.
          properties:
            id:
              description: The identifier of the blog containing this page.
              type: string
          type: object
        content:
          description: The body content of this Page, in HTML.
          type: string
        etag:
          description: Etag of the resource.
          type: string
        id:
          description: The identifier for this resource.
          type: string
        kind:
          description: The kind of this entity. Always blogger#page.
          type: string
        published:
          description: RFC 3339 date-time when this Page was published.
          type: string
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        status:
          description: The status of the page for admin resources (either LIVE or DRAFT).
          enum:
            - LIVE
            - DRAFT
          type: string
        title:
          description: The title of this entity. This is the name displayed in the Admin user interface.
          type: string
        updated:
          description: RFC 3339 date-time when this Page was last updated.
          type: string
        url:
          description: The URL that this Page is displayed at.
          type: string
      type: object
    PageList:
      properties:
        etag:
          description: Etag of the response.
          type: string
        items:
          description: The list of Pages for a Blog.
          items:
            $ref: "#/components/schemas/Page"
          type: array
        kind:
          description: The kind of this entity. Always blogger#pageList.
          type: string
        nextPageToken:
          description: Pagination token to fetch the next page, if one exists.
          type: string
      type: object
    Pageviews:
      properties:
        blogId:
          description: Blog Id.
          type: string
        counts:
          description: The container of posts in this blog.
          items:
            properties:
              count:
                description: Count of page views for the given time range.
                format: int64
                type: string
              timeRange:
                description: Time range the given count applies to.
                enum:
                  - ALL_TIME
                  - THIRTY_DAYS
                  - SEVEN_DAYS
                type: string
            type: object
          type: array
        kind:
          description: The kind of this entry. Always blogger#page_views.
          type: string
      type: object
    Post:
      properties:
        author:
          description: The author of this Post.
          properties:
            displayName:
              description: The display name.
              type: string
            id:
              description: The identifier of the creator.
              type: string
            image:
              description: The creator's avatar.
              properties:
                url:
                  description: The creator's avatar URL.
                  type: string
              type: object
            url:
              description: The URL of the creator's Profile page.
              type: string
          type: object
        blog:
          description: Data about the blog containing this Post.
          properties:
            id:
              description: The identifier of the Blog that contains this Post.
              type: string
          type: object
        content:
          description: The content of the Post. May contain HTML markup.
          type: string
        customMetaData:
          description: The JSON meta-data for the Post.
          type: string
        etag:
          description: Etag of the resource.
          type: string
        id:
          description: The identifier of this Post.
          type: string
        images:
          description: Display image for the Post.
          items:
            properties:
              url:
                type: string
            type: object
          type: array
        kind:
          description: The kind of this entity. Always blogger#post.
          type: string
        labels:
          description: The list of labels this Post was tagged with.
          items:
            type: string
          type: array
        location:
          description: The location for geotagged posts.
          properties:
            lat:
              description: Location's latitude.
              format: double
              type: number
            lng:
              description: Location's longitude.
              format: double
              type: number
            name:
              description: Location name.
              type: string
            span:
              description: Location's viewport span. Can be used when rendering a map preview.
              type: string
          type: object
        published:
          description: RFC 3339 date-time when this Post was published.
          type: string
        readerComments:
          description: Comment control and display setting for readers of this post.
          enum:
            - ALLOW
            - DONT_ALLOW_SHOW_EXISTING
            - DONT_ALLOW_HIDE_EXISTING
          type: string
        replies:
          description: The container of comments on this Post.
          properties:
            items:
              description: The List of Comments for this Post.
              items:
                $ref: "#/components/schemas/Comment"
              type: array
            selfLink:
              description: The URL of the comments on this post.
              type: string
            totalItems:
              description: The count of comments on this post.
              format: int64
              type: string
          type: object
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        status:
          description: Status of the post. Only set for admin-level requests.
          enum:
            - LIVE
            - DRAFT
            - SCHEDULED
          type: string
        title:
          description: The title of the Post.
          type: string
        titleLink:
          description: The title link URL, similar to atom's related link.
          type: string
        updated:
          description: RFC 3339 date-time when this Post was last updated.
          type: string
        url:
          description: The URL where this Post is displayed.
          type: string
      type: object
    PostList:
      properties:
        etag:
          description: Etag of the response.
          type: string
        items:
          description: The list of Posts for this Blog.
          items:
            $ref: "#/components/schemas/Post"
          type: array
        kind:
          description: The kind of this entity. Always blogger#postList.
          type: string
        nextPageToken:
          description: Pagination token to fetch the next page, if one exists.
          type: string
        prevPageToken:
          description: Pagination token to fetch the previous page, if one exists.
          type: string
      type: object
    PostPerUserInfo:
      properties:
        blogId:
          description: ID of the Blog that the post resource belongs to.
          type: string
        hasEditAccess:
          description: True if the user has Author level access to the post.
          type: boolean
        kind:
          description: The kind of this entity. Always blogger#postPerUserInfo.
          type: string
        postId:
          description: ID of the Post resource.
          type: string
        userId:
          description: ID of the User.
          type: string
      type: object
    PostUserInfo:
      properties:
        kind:
          description: The kind of this entity. Always blogger#postUserInfo.
          type: string
        post:
          $ref: "#/components/schemas/Post"
          description: The Post resource.
        post_user_info:
          $ref: "#/components/schemas/PostPerUserInfo"
          description: Information about a User for the Post.
      type: object
    PostUserInfosList:
      properties:
        items:
          description: The list of Posts with User information for the post, for this Blog.
          items:
            $ref: "#/components/schemas/PostUserInfo"
          type: array
        kind:
          description: The kind of this entity. Always blogger#postList.
          type: string
        nextPageToken:
          description: Pagination token to fetch the next page, if one exists.
          type: string
      type: object
    User:
      properties:
        about:
          description: Profile summary information.
          type: string
        blogs:
          description: The container of blogs for this user.
          properties:
            selfLink:
              description: The URL of the Blogs for this user.
              type: string
          type: object
        created:
          description: The timestamp of when this profile was created, in seconds since epoch.
          type: string
        displayName:
          description: The display name.
          type: string
        id:
          description: The identifier for this User.
          type: string
        kind:
          description: The kind of this entity. Always blogger#user.
          type: string
        locale:
          description: This user's locale
          properties:
            country:
              description: The country this blog's locale is set to.
              type: string
            language:
              description: The language this blog is authored in.
              type: string
            variant:
              description: The language variant this blog is authored in.
              type: string
          type: object
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        url:
          description: The user's profile page.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/blogger: Manage your Blogger account
            https://www.googleapis.com/auth/blogger.readonly: View your Blogger account
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/blogger: Manage your Blogger account
            https://www.googleapis.com/auth/blogger.readonly: View your Blogger account
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
