openapi: 3.0.0
servers:
  - url: https://api.zoom.us/v2
info:
  contact:
    email: developersupport@zoom.us
    name: Zoom Developers
    url: https://developer.zoom.us/
  description: >
    This is a generated connector for [Zoom API Version 2.0.0](https://marketplace.zoom.us/docs/api-reference/zoom-api) OpenAPI Specification.
    The Zoom API allows developers to access information from Zoom. You can use this API to build private services or public applications on the [Zoom App Marketplace](http://marketplace.zoom.us). To learn how to get your credentials and create private/public applications, read our [Authorization Guide](https://marketplace.zoom.us/docs/guides/authorization/credentials). 
    All endpoints are available via `https` and are located at `api.zoom.us/v2/`. For instance you can list all users on an account via `https://api.zoom.us/v2/users/`.
  license:
    name: MIT for OAS 2.0
    url: https://opensource.org/licenses/MIT
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  title: Zoom API
  version: 2.0.0
  x-ballerina-display:
    label: Zoom
    iconPath: "icon.png"
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials. 
    Please create a [Zoom account](https://marketplace.zoom.us/) and obtain tokens following [this guide](https://marketplace.zoom.us/docs/guides/auth/oauth). Configure required scopes when obtaining the tokens. 
security:
  - OAuth: []
tags:
  - description: Meeting operations
    name: Meetings
  - description: Meeting operations
    name: Webinars
paths:
  "/users":
    get:
      description: >-
        Use this API to list your account's users. 

        **Scopes:** `user:read:admin` 

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      summary: List users
      operationId: listUsers
      x-ballerina-display:
        label: List Users
      parameters:
        - description: "The user's status. active, live or upcoming. Default is active."
          in: query
          name: status
          schema:
            default: active
            enum:
              - active
              - inactive
              - pending
            type: string
            example: active
          x-ballerina-display:
            label: User's Status
          x-enum-descriptions:
            - the user exists on the account
            - the user has been deactivated
            - the user exists on the account but has not activated their account
        - description: "The number of records returned within a single API call."
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-ballerina-display:
            label: Page Size
        - description: "The role's unique ID. Use this parameter to filter the response by a specific role."
          in: query
          name: role_id
          schema:
            type: string
          x-ballerina-display:
            label: Role's Unique ID
        - description: "The page number of the current page in the returned records."
          in: query
          name: page_number
          schema:
            type: string
          x-ballerina-display:
            label: Page Number
        - description: "Use this parameter to display one of the following attributes in the API call's response. custom_attributes or host_key."
          in: query
          name: include_fields
          schema:
            enum:
              - custom_attributes
              - host_key
            type: string
          x-ballerina-display:
            label: Include Fields
          x-enum-descriptions:
            - return the user's custom attributes
            - return the user's host key
        - description: "The next page token is used to paginate through large result sets.  A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes."
          in: query
          name: next_page_token
          schema:
            type: string
          x-ballerina-display:
            label: Next Page Token
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
          description: "HTTP Status Code:200. User list returned."
      security:
        - OAuth: []
      tags:
        - Users
  "/metrics/meetings":
    get:
      description: >-
        List total live or past meetings that occurred during a specified period of time. This overview will show if features such as audio, video, screen sharing, and recording were being used in the meeting. You can also see the license types of each user on your account.<br> You can specify a monthly date range for the dashboard data using the `from` and `to` query parameters. The month should fall within the last six months.

        **Scopes:** `dashboard_meetings:read:admin` 

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Resource-intensive`

        **Prerequisites:** Business or a higher plan.
      summary: List dashboard meetings
      operationId: listDashboardMeetings
      x-ballerina-display:
        label: List Dashboard Meetings
      parameters:
        - description: |-
            Specify a value to get the response for the corresponding meeting type. The value of this field can be one of the following: `past` - Meeting that already occurred in the specified date range. `pastOne` - Past meetings that were attended by only one user. `live` - Live meetings.

            If you do not provide this field, the default value will be `live` and thus, the API will only query responses for live meetings.
          in: query
          name: type
          schema:
            default: live
            enum:
              - past
              - pastOne
              - live
            type: string
            example: past
          x-ballerina-display:
            label: Meeting Type
          x-enum-descriptions:
            - past meetings
            - past one user meetings
            - live meetings
        - description: "Start date in 'yyyy-mm-dd' format. The date range defined by the 'from' and 'to' parameters should only be one month as the report includes only one month worth of data at once."
          in: query
          name: from
          required: true
          schema:
            format: date
            type: string
            example: '2022-01-01'
          x-ballerina-display:
            label: Start Date
        - description: "End date in 'yyyy-mm-dd' format."
          in: query
          name: to
          required: true
          schema:
            format: date
            type: string
            example: '2022-01-28'
          x-ballerina-display:
            label: End date
        - description: "The number of records returned within a single API call."
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-ballerina-display:
            label: Page Size
        - description: "The next page token is used to paginate through large result sets.  A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes."
          in: query
          name: next_page_token
          schema:
            type: string
          x-ballerina-display:
            label: Next Page Token
        - description: "The group ID. The API response will only contain meetings where the host is a member of the queried group ID."
          in: query
          name: group_id
          schema:
            type: string
          x-ballerina-display:
            label: Group ID
        - description: "Set the value of this field to 'tracking_fields' if you would like to include tracking fields of each meeting in the response."
          in: query
          name: include_fields
          schema:
            enum:
              - tracking_fields
            type: string
          x-ballerina-display:
            label: Include Fields
          x-enum-descriptions:
            - include tracking fields of each meeting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDashboardMeetingsResponse'
          description: "HTTP Status Code:200. Dashboard meetings returned. Only available for paid accounts that have dashboard feature enabled."
        "300":
          description: >
            **Error Code:** `300`

            The next page token is invalid or expired.
      security:
        - OAuth: []
      tags:
        - Dashboards
  "/metrics/meetings/{meetingId}/participants":
    get:
      description: |-
        Use this API to return a list of participants from live or past meetings. 

         If you do not provide the `type` query parameter, the default value will be set to the `live` value. This API will only return metrics for participants in a live meeting, if any exist. You can specify a monthly date range for the dashboard data using the `from` and `to` query parameters. The month should fall within the last six months. 

        **Note:** 

        This API may return empty values for participants' `user_name`, `ip_address`, `location`, and `email` responses when the account calling this API: 
        * Does **not** have a signed HIPAA business associate agreement (BAA). 
        * Is a [**legacy** HIPAA BAA account](https://marketplace.zoom.us/docs/api-reference/other-references/legacy-business-associate-agreements). 
        * Displays data for any users who are **not** part of the host's account (external users) unless they meet certain conditions. See [Email address display rules](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis#email-address) for details. 

        **Scopes:** `dashboard_meetings:read:admin` <br> **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy` 

        **Prerequisites:** 
        * A Business or higher plan.
      summary: List dashboard meeting participants
      operationId: listDashboardMeetingParticipants
      x-ballerina-display:
        label: List Dashboard Meeting Participants
      parameters:
        - description: |-
            The meeting's ID or universally unique ID (UUID). 
            If you provide a meeting ID, the API will return a response for the latest meeting instance. 
            If you provide a meeting UUID that begins with a `/` character or contains the `//` characters, you **must** double-encode the meeting UUID before making an API request.
          in: path
          name: meetingId
          required: true
          schema:
            oneOf:
              - type: integer
                example: 5638296721
              - type: string
                example: 4444AAAiAAAAAiAiAiiAii==
        - description: |-
            The type of meeting to query: 
            * `past` — All past meetings. 
            * `pastOne` — All past one-user meetings. 
            * `live` - All live meetings. 

            This value defaults to `live`.
          in: query
          name: type
          schema:
            default: live
            enum:
              - past
              - pastOne
              - live
            type: string
            example: past
          x-ballerina-display:
            label: Meeting Type
          x-enum-descriptions:
            - Past meetings.
            - Past one-user meetings.
            - Live meetings.
        - description: "The number of records returned within a single API call."
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-ballerina-display:
            label: Page Size
        - description: "The next page token is used to paginate through large result sets.  A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes."
          in: query
          name: next_page_token
          schema:
            type: string
          x-ballerina-display:
            label: Next Page Token
        - description: "Provide `registrant_id` as the value for this field if you would like to see the registrant ID attribute in the response of this API call. A registrant ID is a unique identifier of a [meeting registrant](/api-reference/zoom-api/methods#operation/meetingRegistrants). This is not supported for `live` meeting types."
          in: query
          name: include_fields
          schema:
            enum:
              - registrant_id
            type: string
          x-ballerina-display:
            label: Include Fields
          x-enum-descriptions:
            -  a unique identifier of a [meeting registrant](/api-reference/zoom-api/methods#operation/meetingRegistrants)
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDashboardMeetingParticipantsResponse'
          description: "HTTP Status Code:200. Meeting participants returned. Only available for paid accounts that have enabled the dashboard feature."
        '300':
          description: |-
            **Error Code:** `300`<br>
            Can not access webinar info.<br>
            {meetingId} or the next page token is either invalid or expired.
        '400':
          description: |-
            **Error Code:** `12702`<br>
            Can not access a meeting a year ago.
        '404':
          description: |-
            **HTTP Status Code:** `404`<br>
            **Error Code:** `3001`<br>
            Meeting ID is invalid or has not ended.
      security:
        - OAuth: []
      tags:
        - Dashboards
  "/users/{userId}/meetings":
    get:
      description: >-
        List all the meetings that were scheduled for a user (meeting
        host). This API only supports scheduled meetings and thus, details on
        instant meetings are not returned via this API.

        **Scopes:** `meeting:read:admin` `meeting:read`
         
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      summary: List meetings
      operationId: listMeetings
      x-ballerina-display:
        label: List Meetings
      parameters:
        - description: The user ID or email address of the user. For user-level apps, pass
            `me` as the value for userId.
          in: path
          name: userId
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: User Id
        - description: "The meeting types. Scheduled, live or upcoming"
          in: query
          name: type
          schema:
            default: live
            enum:
              - scheduled
              - live
              - upcoming
            type: string
          x-ballerina-display:
            label: Meeting Type
          x-enum-descriptions:
            - all the scheduled meetings
            - all the live meetings
            - all the upcoming meetings
        - description: "The number of records returned within a single API call."
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-ballerina-display:
            label: Page Size
        - description: "The next page token is used to paginate through large result sets.  A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes."
          in: query
          name: next_page_token
          schema:
            type: string
          x-ballerina-display:
            label: Next Page Token
        - description: "The page number of the current page in the returned records."
          in: query
          name: page_number
          schema:
            type: string
          x-ballerina-display:
            label: Page Number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    meetings:
                      - created_at: 2019-08-16T01:13:12Z
                        duration: 30
                        host_id: abckjdfhsdkjf
                        id: 11111
                        join_url: https://zoom.us/j/11111
                        start_time: 2019-08-16T02:00:00Z
                        timezone: America/Los_Angeles
                        topic: Zoom Meeting
                        type: 2
                        uuid: mlghmfghlBBB
                      - agenda: RegistrationDeniedTest
                        created_at: 2019-08-16T18:30:46Z
                        duration: 60
                        host_id: abckjdfhsdkjf
                        id: 2222
                        join_url: https://zoom.us/j/2222
                        start_time: 2019-08-16T19:00:00Z
                        timezone: America/Los_Angeles
                        topic: TestMeeting
                        type: 2
                        uuid: J8H8eavweUcd321==
                      - created_at: 2019-08-16T21:15:56Z
                        duration: 60
                        host_id: abckjdfhsdkjf
                        id: 33333
                        join_url: https://zoom.us/j/33333
                        start_time: 2019-08-16T22:00:00Z
                        timezone: America/Los_Angeles
                        topic: My Meeting
                        type: 2
                        uuid: SGVTAcfSfCbbbb
                      - created_at: 2019-08-29T17:32:33Z
                        duration: 60
                        host_id: abckjdfhsdkjf
                        id: 44444
                        join_url: https://zoom.us/j/4444
                        start_time: 2019-08-29T18:00:00Z
                        timezone: America/Los_Angeles
                        topic: MyTestPollMeeting
                        type: 2
                        uuid: 64123avdfsMVA==
                    page_count: 1
                    page_number: 1
                    page_size: 30
                    total_records: 4
              schema:
                $ref: '#/components/schemas/ListMeetingsResponse'
          description: "HTTP Status Code:200. List of meetings returned."
        "404":
          description: "HTTP Status Code:404 User ID not found. Error Code:1001, User not exist or not belong to this account."
      security:
        - OAuth: []
      tags:
        - Meetings
    post:
      description: >-
        [Create a
        meeting](https://support.zoom.us/hc/en-us/articles/201362413-Scheduling-meetings)
        for a user. This API has a daily rate limit of 100 requests per day.
        Therefore, only 100 **Create a Meeting** API requests are permitted
        within a 24 hour window for a user.


        <aside>The <code>start_url</code> of a meeting is a URL using which a host or an alternative host can start a meeting. The expiration time for the <code>start_url</code> field is two hours for all regular users. 
          
        For custCreate meeting hosts( i.e., users created using the <code>custCreate</code> option via the [Create Users](https://marketplace.zoom.us/docs/api-reference/zoom-api/users/usercreate) API), the expiration time of the <code>start_url</code> field is 90 days from the generation of the <code>start_url</code>.
          
        For security reasons, the recommended way to retrieve the updated value for the <code>start_url</code> field programmatically (after expiry) is by calling the [Retrieve a Meeting API](https://marketplace.zoom.us/docs/api-reference/zoom-api/meetings/meeting) and referring to the value of the <code>start_url</code> field in the response.</aside>

        Scopes: `meeting:write:admin` `meeting:write`
         
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: createMeeting
      x-ballerina-display:
        label: Create Meeting
      parameters:
        - description: "The user ID or email address of the user. For user-level apps, pass me as the value for userId."
          in: path
          name: userId
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: User Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingDetails'
        description: Meeting detailed.
        x-ballerina-display:
          label: Meeting Details
        required: true
        x-examples:
          application/json:
            agenda: string
            duration: integer
            password: string
            recurrence:
              end_date_time: string [date-time]
              end_times: integer
              monthly_day: integer
              monthly_week: integer
              monthly_week_day: integer
              repeat_interval: integer
              type: integer
              weekly_days: string
            schedule_for: string
            settings:
              alternative_hosts: string
              approval_type: integer
              audio: string
              auto_recording: string
              cn_meeting: boolean
              enforce_login: boolean
              enforce_login_domains: string
              global_dial_in_countries:
                - string
              host_video: boolean
              in_meeting: boolean
              join_before_host: boolean
              mute_upon_entry: boolean
              participant_video: boolean
              registrants_email_notification: boolean
              registration_type: integer
              use_pmi: boolean
              watermark: boolean
            start_time: string [date-time]
            timezone: string
            topic: string
            type: integer
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 2019-09-05T16:54:14Z
                    duration: 60
                    host_id: AbcDefGHi
                    id: 1100000
                    join_url: https://zoom.us/j/1100000
                    settings:
                      alternative_hosts: ""
                      approval_type: 2
                      audio: both
                      auto_recording: local
                      breakout_room:
                        enable: false
                        host_video: false
                        in_meeting: false
                        join_before_host: true
                        mute_upon_entry: false
                        participant_video: false
                        registrants_confirmation_email: true
                        registrants_email_notification: true
                        rooms:
                          - name: room1
                            participants:
                              - james.user01@somemail1234.com
                              - james.user02@somemail1234.com
                          - name: room2
                            participants:
                              - james.user03@somemail1234.com
                        use_pmi: false
                        waiting_room: false
                        watermark: false
                      close_registration: false
                      cn_meeting: false
                      enforce_login: false
                      enforce_login_domains: ""
                      global_dial_in_countries:
                        - US
                      global_dial_in_numbers:
                        - city: New York
                          country: US
                          country_name: US
                          number: +1 1000200200
                          type: toll
                        - city: San Jose
                          country: US
                          country_name: US
                          number: +1 6699006833
                          type: toll
                        - city: San Jose
                          country: US
                          country_name: US
                          number: +1 408000000
                          type: toll
                      start_time: 2019-08-30T22:00:00Z
                      start_url: https://zoom.us/s/1100000?iIifQ.wfY2ldlb82SWo3TsR77lBiJjR53TNeFUiKbLyCvZZjw
                      status: waiting
                      timezone: America/New_York
                      topic: API Test
                      type: 2
                      uuid: ng1MzyWNQaObxcf3+Gfm6A==
              schema:
                $ref: '#/components/schemas/CreateMeetingResponse'
          description: "HTTP Status Code:201 - Meeting created."
          headers:
            Content-Location:
              description: Location of created Meeting
              schema:
                type: string
        "300":
          description: >
            **HTTP Status Code:** `300`

            Invalid enforce_login_domains, separate multiple domains by semicolon.

            A maximum of {rateLimitNumber} meetings can be created/updated for a single user in one day.
        "404":
          description: >
            **HTTP Status Code:** `404` **Not Found**

            User not found.


            **Error Code:** `1001` User {userId} not exist or not belong to this account.
      summary: Create a meeting
      tags:
        - Meetings
  "/meetings/{meetingId}/registrants":
    get:
      description: A host or a user with admin permission can require [registration
        for a Zoom meeting
      operationId: listMeetingRegistrants
      x-ballerina-display:
        label: List Meeting Registrants
      parameters:
        - description: MThe meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label:  Meeting Id
        - description: The meeting occurrence ID.
          in: query
          name: occurrence_id
          schema:
            type: string
          x-ballerina-display:
            label: Occurence Id
        - description: The registrant status
          in: query
          name: status
          schema:
            default: approved
            enum:
              - pending
              - approved
              - denied
            type: string
          x-ballerina-display:
            label: Registrant Status
          x-enum-descriptions:
            - registrants status is pending
            - registrants status is approved
            - registrants status is denied
        - description: The number of records returned within a single API call.
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-ballerina-display:
            label: Page Size
        - description: "Deprecated - The page number of the current page in the returned records."
          in: query
          name: page_number
          schema:
            default: 1
            type: integer
          x-ballerina-display:
            label: Page Number
        - description: The next page token is used to paginate through large result sets.  A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
          in: query
          name: next_page_token
          schema:
            type: string
          x-ballerina-display:
            label: Next Page Token
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    page_count: 1
                    page_number: 1
                    page_size: 1
                    registrants:
                      - address: 11111 Awesome St
                        city: Paris
                        comments: Love using Zoom APIs
                        country: France
                        create_time: 2012-04-14T16:55:30.231Z
                        custom_questions:
                          - title: Did you enjoy the registration process?
                            value: Yes, alot.
                          - title: Would you like to register for our next meeting?
                            value: Absolutely.
                        email: somemeail@emailprovider.com
                        first_name: Tim
                        id: zjkfsdfjdfhg
                        industry: Tech
                        job_title: Developer
                        join_url: https://success.zoom.us/j/0000000000000
                        last_name: S.
                        no_of_employees: 1-20
                        org: Growth
                        phone: "00000"
                        purchasing_time_frame: Within a month
                        role_in_purchase_process: Not involved
                        state: Ile-de-France
                        status: approved
                        zip: "11000"
                    total_records: 1
              schema:
                $ref: '#/components/schemas/ListMeetingRegistrantsResponse'
          description: "HTTP Status Code:200. Successfully listed meeting registrants."
      security:
        - OAuth: []
      summary: List meeting registrants
      tags:
        - Meetings
    post:
      description: >-
        Register a participant for a meeting. Note that there is a
        maximum limit of 4999 registrants per meeting and users will see an
        error if the capacity has reached.


        **Prerequisite:**

        * Host user type must be "Licensed".


        **Scopes:** `meeting:write:admin` `meeting:write`
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
      operationId: addMeetingRegistrant
      x-ballerina-display:
        label: Add Meeting Registrant
      parameters:
        - description: The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
        - description: "Occurrence IDs. You can find these with the meeting get API. Multiple values separated by comma."
          in: query
          name: occurrence_ids
          schema:
            type: string
          required: false
          x-ballerina-display:
            label: Occurence Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMeetingRegistrantRequest'
        required: true
        description: Meeting Registrant Details
        x-examples:
          application/json:
            address: 123 Main ST
            city: San Jose
            comments: Excited to host you.
            country: US
            custom_questions:
              - title: Favorite thing about Zoom
                value: Meet Happy
            email: myemail@mycompany.com
            first_name: Mike
            industry: Tech
            job_title: DA
            last_name: Brown
            no_of_employees: 1-20
            org: IT
            phone: 111-444-4444
            purchasing_time_frame: More Than 6 Months
            role_in_purchase_process: Influencer
            state: CA
            zip: "95550"
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: 85746065
                    join_url: amet
                    registrant_id: a
                    start_time: culpa mollit
                    topic: reprehenderit ea ut ex Excepteur
              schema:
                $ref: '#/components/schemas/AddMeetingRegistrantResponse'
          description: Meeting registrant's details
      security:
        - OAuth: []
      summary: Add meeting registrant
      tags:
        - Meetings
  "/meetings/{meetingId}/registrants/questions":
    get:
      description: >+
        List registration questions that will be displayed to users while
        [registering for a
        meeting](https://support.zoom.us/hc/en-us/articles/211579443-Registration-for-Meetings).<br>


        **Scopes:** `meeting:read`, `meeting:read:admin`<br>

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

      operationId: getMeetingRegistrantsQuestions
      x-ballerina-display:
        label: List Registrant Questions
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          x-ballerina-display:
            label: Meeting Id
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    custom_questions:
                      - required: false
                        title: How long have you been working?
                        type: short
                    questions:
                      - field_name: address
                        required: true
              schema:
                $ref: '#/components/schemas/RegistrantQuestions'
          description: |-
            **HTTP Status Code:** `200`. Meeting Registrant Question object returned
        "404":
          description: |-
            **HTTP Status Code:** `404`<br>
            Meeting not found
      security:
        - OAuth: []
      summary: "List registration questions "
      tags:
        - Meetings
    patch:
      description: >+
        Update registration questions that will be displayed to users while
        [registering for a
        meeting](https://support.zoom.us/hc/en-us/articles/211579443-Registration-for-Meetings).<br><br>

        **Scopes:** `meeting:write`, `meeting:write:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
         

      operationId: updateMeetingRegistrantQuestions
      x-ballerina-display:
        label: Update Registration Questions
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).

            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrantQuestions'
        description: Meeting Registrant Questions
        required: true
        x-examples:
          application/json:
            custom_questions:
              - required: true
                title: How long have you been working?
                type: short
            questions:
              - field_name: address
                required: true
      responses:
        "204":
          description: |-
            **HTTP Status Code:** `204`. Meeting Registrant Questions Updated
        "404":
          description: |-
            **HTTP Status Code:** `404`<br>
            Meeting not found.
      security:
        - OAuth: []
      summary: Update registration questions
      tags:
        - Meetings
  "/meetings/{meetingId}/registrants/status":
    put:
      description: >-
        Update a meeting registrant's status by either approving,
        cancelling or denying a registrant from joining the meeting.<br><br>

        **Scopes:** `meeting:write:admin` `meeting:write`
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: updateMeetingRegistrantStatus
      x-ballerina-display:
        label: Update Meeting Registrant's Status
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meting Id
        - description: The meeting occurrence ID.
          in: query
          name: occurrence_id
          schema:
            type: string
          x-ballerina-display:
            label: Occurrence Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingRegistrantstatusRequest'
        description: Request payload for meeting registrant status update
        required: true
        x-examples:
          application/json:
            action: approve
            registrants:
              - email: someemail@companyname.com
                id: "173525362"
              - email: anotheremail@companyname.com
                id: "156234353456"
      responses:
        "204":
          description: |-
            **HTTP Status Code:** `204`. Registrant status updated.
        "300":
          description: |-
            **Error Code:** `300`<br>
            This meeting has not set registration as required:{meetingId}.
        "400":
          description: |+
            **HTTP Status Code:** `400`<br>
            **Error Code:** `1010`<br>
            User does not belong to this account: {accountId}.<br>
            **Error Code:** `3000`<br>
            Cannot access meeting information.<br>
            **Error Code:** `3003`<br>
            You're not the meeting host.

        "404":
          description: |
            **HTTP Status Code:** `404`<br>
            Meeting or registrant not found.
            **Error Code:** `1001`<br>
            User does not exist: {userId}.<br>
      security:
        - OAuth: []
      summary: Update registrant's status
      tags:
        - Meetings
  "/meetings/{meetingId}/registrants/{registrantId}":
    delete:
      description: >-
        Delete a meeting registrant.<br><br>

        **Scopes**: `meeting:write:admin` `meeting:write`<br>
         <br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
      operationId: deleteMeetingregistrant
      x-ballerina-display:
        label: Delete Meeting Registrant
      parameters:
        - description: The meeting occurence ID.
          in: query
          name: occurrence_id
          schema:
            type: string
          x-ballerina-display:
            label: occurence Id
        - description: The meeting ID.
          in: path
          name: meetingId
          required: true
          schema:
            type: integer
          x-ballerina-display:
            label: Meeting Id
        - description: The meeting registrant ID.
          in: path
          name: registrantId
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Registrant Id
      responses:
        "204":
          description: |-
            **HTTP status code:** `204` OK
        "400":
          description: >-
            **HTTP status code:** `400` <br>

            Bad Request<br>


            **Error code:** `200`<br>

            Only available for paid users: {0}.<br>


            **Error code:** `300`<br>

            The value that you entered for the Registrant ID field is invalid. Enter a valid value and try again.<br>


            **Error code:** `404` <br>

            Registration has not been enabled for this meeting: {0}.<br>


            **Error code:** `1001` <br>

            User {userId} does not exist or does not belong to this account.<br>


            **Error code:** `3000` <br>

            Cannot access webinar info. ***Note:** Zoom throws this error when the meetingId is a webinarId.*<br>

            Registrant {0} was not found.


            **Error code:** `3001` <br>

            Meeting does not exist: {0}.
      summary: Delete a meeting registrant
      tags:
        - Meetings
  "/meetings/{meetingId}":
    delete:
      description: >+
        Delete a meeting.

        **Scopes:** `meeting:write:admin` `meeting:write`

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light` 

      operationId: deleteMeeting
      x-ballerina-display:
        label: Delete Meeting
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
        - description: The meeting occurrence ID.
          in: query
          name: occurrence_id
          schema:
            type: string
          x-ballerina-display:
            label: Occurence Id
        - description: >-
            `true`: Notify host and alternative host about the meeting
            cancellation via email.

            `false`: Do not send any email notification.
          in: query
          name: schedule_for_reminder
          schema:
            type: boolean
          x-ballerina-display:
            label: Schedule for Reminder 
        - description: >-
            `true`: Notify registrants about the meeting cancellation via
            email. 


            `false`: Do not send any email notification to meeting registrants. 


            The default value of this field is `false`.
          in: query
          name: cancel_meeting_reminder
          schema:
            type: string
          x-ballerina-display:
            label: Meeting Cancellation Reminder
      responses:
        "204":
          description: "**HTTP Status Code**: `204` Meeting deleted."
        "400":
          description: >+
            **HTTP Status Code**: `400` 

            **Error Code**: `1010` 

            User does not belong to this account: {accountId}.

            **Error Code**: `3000` Cannot access meeting information.Invalid occurrence_id.

            **Error Code**: `3002` 

            Sorry, you cannot delete this meeting since it is in progress.**Error Code**: `3003` You are not the meeting host.

            **Error Code**: `3007` Sorry, you cannot delete this meeting since it has ended.**Error Code**: `3018` 

            Not allowed to delete PMI.**Error Code**: `3037` Not allowed to delete PAC.
        "404":
          description: |-
            **HTTP Status Code**: `404` 
            Meeting not found.
            **Error Code**: `1001` 
            User does not exist: {userId}.
            **Error Code**: `3001` 
            Meeting with this {meetingId} is not found or has expired.
      security:
        - OAuth: []
      summary: Delete a meeting
      tags:
        - Meetings
    get:
      description: >+
        Retrieve the details of a meeting.

        **Scopes:** `meeting:read:admin` `meeting:read`

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light` 

      operationId: getMeetingById
      x-ballerina-display:
        label: Get Meeting Details
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
        - description: Meeting Occurrence ID. Provide this field to view meeting details
            of a particular occurrence of the [recurring
            meeting](https://support.zoom.us/hc/en-us/articles/214973206-Scheduling-Recurring-Meetings).
          in: query
          name: occurrence_id
          schema:
            type: string
          x-ballerina-display:
            label: Occurence Id
        - description: "Set the value of this field to `true` if you would like to view
            meeting details of all previous occurrences of a [recurring
            meeting](https://support.zoom.us/hc/en-us/articles/214973206-Schedu\
            ling-Recurring-Meetings). "
          in: query
          name: show_previous_occurrences
          schema:
            type: boolean
          x-ballerina-display:
            label: Show Previous Occurrences
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    agenda: API overview
                    created_at: 2019-09-09T15:54:24Z
                    duration: 60
                    host_id: ABcdofjdogh11111
                    id: 1234555466
                    join_url: https://zoom.us/j/1234555466
                    settings:
                      alternative_hosts: kjxckfjxgfgjdfk@dkjfhdskhf.com
                      approval_type: 2
                      audio: both
                      auto_recording: local
                      close_registration: false
                      cn_meeting: false
                      enforce_login: false
                      enforce_login_domains: mycompanydomain.com
                      global_dial_in_countries:
                        - US
                      global_dial_in_numbers:
                        - city: New York
                          country: US
                          country_name: US
                          number: +1 000011100
                          type: toll
                        - city: San Jose
                          country: US
                          country_name: US
                          number: +1 6699006833
                          type: toll
                        - city: San Jose
                          country: US
                          country_name: US
                          number: +1 221122112211
                          type: toll
                      host_video: false
                      in_meeting: false
                      join_before_host: true
                      mute_upon_entry: false
                      participant_video: false
                      registrants_confirmation_email: true
                      registrants_email_notification: true
                      use_pmi: false
                      waiting_room: false
                      watermark: false
                    start_time: 2019-08-30T22:00:00Z
                    start_url: https://zoom.us/1234555466/cdknfdffgggdfg4MDUxNjY0LCJpYXQiOjE1NjgwNDQ0NjQsImFpZCI6IjRBOWR2QkRqVHphd2J0amxoejNQZ1EiLCJjaWQiOiIifQ.Pz_msGuQwtylTtYQ
                    status: waiting
                    timezone: America/New_York
                    topic: My API Test
                    type: 2
                    uuid: iAABBBcccdddd7A==
              schema:
                $ref: '#/components/schemas/GetMeetingDetailsResponse'
          description: "**HTTP Status Code:** `200` Meeting object returned."
        "400":
          description: >-
            **HTTP Status Code:** `400`

            **Error Code:** `1010`

            User not found on this account: {accountId}.**Error Code:** `3000`

            Cannot access webinar info.
        "404":
          description: |-
            **HTTP Status Code:** `404`
            Meeting not found.
            **Error Code:** `1001`
            User not exist: {userId}.**Error Code:** `3001`
            Meeting {meetingId} is not found or has expired.
      security:
        - OAuth: []
      summary: Get a meeting
      tags:
        - Meetings
    patch:
      description: >+
        Update the details of a meeting.<br>This API has a rate limit of
        100 requests per day. Therefore, a meeting can only be updated for a
        maximum of 100 times within a 24 hour window.<br>

        **Scopes:** `meeting:write:admin` `meeting:write`<br>
         
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

      operationId: updateMeeting
      x-ballerina-display:
        label: Update Meeting
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
        - description: "Meeting occurrence id. Support change of agenda, start_time,
            duration, settings: {host_video, participant_video,
            join_before_host, mute_upon_entry, waiting_room, watermark,
            auto_recording}"
          in: query
          name: occurrence_id
          schema:
            type: string
          x-ballerina-display:
            label: Occurrence Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingRequest'
        description: Meeting
        required: true
        x-examples:
          application/json:
            agenda: My Meeting
            duration: 60
            password: abcd
            settings:
              alternative_hosts: mycohost@someemail.com
              approval_type: 0
              global_dial_in_countries:
                - city: San Jose
                  country: US
                  country_name: US
                  number: +1 1212121212121212
                  type: toll
              host_video: false
              in_meeting: false
              join_before_host: true
              mute_upon_entry: false
              participant_video: false
              registrants_confirmation_email: true
              use_pmi: false
              waiting_room: false
              watermark: false
            start_time: 2019-08-30T18:00:00
            timezone: America/New_York
            topic: Michael API Test
            type: 2
      responses:
        "204":
          description: "**HTTP Status Code:** `204`. Meeting updated."
        "300":
          description: >
            **Error Code:** `300`<br>

            Invalid enforce_login_domains, separate multiple domains by semicolon.<br>

            A maximum of {rateLimitNumber} meetings can be created/updated for a single user in one day.
        "400":
          description: |
            **HTTP Status Code:** `400`<br>
            **Error Code:** `1010`<br>
            User not found on this account: {accountId}.<br>
            **Error Code:** `3000`<br>
            Cannot access meeting information.<br>
            **Error Code:** `3003`<br>
            You are not the meeting host.
        "404":
          description: |-
            **HTTP Status Code:** `404`<br>
            Meeting not found.<br>
            **Error Code:** `1001`<br>
            User does not exist: {userId}.<br>
            **Error Code:** `3001`<br>
            A meeting with this {meetingId} is not found or has expired.
      security:
        - OAuth: []
      summary: Update a meeting
      tags:
        - Meetings  
  "/meetings/{meetingId}/status":
    put:
      description: >-
        Update the status of a meeting.<br><br>

        **Scopes:** `meeting:write:admin` `meeting:write`
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
      operationId: updateMeetingStatus
      x-ballerina-display:
        label: Update Meeting Status
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
      requestBody:
        description: Meeting status update details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingstatusRequest'
        required: true
        x-examples:
          application/json:
            action: end
      responses:
        "204":
          description: |-
            **HTTP Status Code:** `204`. Meeting updated.
        "400":
          description: |-
            **HTTP Status Code:** `400`<br>
            **Error Code:** `1010`<br>
            User does not belong to this account: {accountId}.
            **Error Code:** `3000`<br>
            Cannot access meeting info.
            **Error Code:** `3003`<br>
            You're not the meeting host.
            **Error Code:** `3063`<br>
            Can not end on-premise user's meeting: {meetingId}.
        "404":
          description: |+
            **HTTP Status Code:** `404`<br>
            Meeting not found.<br>
            **Error Code:** `1001`<br>
            Meeting host does not exist: {userId}.

      security:
        - OAuth: []
      summary: Update meeting status
      tags:
        - Meetings
  "/past_meetings/{meetingId}/instances":
    get:
      description: >-
        Get a list of ended meeting instances<br><br>

        **Scopes:** `meeting:read:admin` `meeting:read`<br>

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium` 
      operationId: listPastMeetings
      x-ballerina-display:
        label: List Past Meetings
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPastMeetingsResponse'
          description: |-
            **HTTP Status Code:** `200`. List of ended meeting instances returned.
        "404":
          description: |-
            **HTTP Status Code:** `404`<br>
            Meeting not found.
      security:
        - OAuth: []
      summary: List ended meeting instances
      tags:
        - Meetings
  "/past_meetings/{meetingId}/polls":
    get:
      description: >-
        [Polls](https://support.zoom.us/hc/en-us/articles/213756303-Polling-for-Meetings)
        allow the meeting host to survey attendees. Use this API to list poll
        results of a meeting.<br><br>


        **Scopes**: `meeting:read:admin`, `meeting:read`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium` <br>
        **Prerequisites**:<br>

        * Host user type must be **Pro**.

        * Meeting must be a scheduled meeting. Instant meetings do not have polling features enabled.
      operationId: listPastMeetingPolls
      x-ballerina-display:
        label: List Meeting Polls
      parameters:
        - description: >-
            The meeting ID or the meeting UUID.  If a meeting ID is provided in
            the request instead of a UUID, the response will be for the latest
            meeting instance.


            If a UUID starts with "/" or contains "//" (example: "/ajXp112QmuoKj4854875==\"), you must **double encode** the UUID before making an API request.
          in: path
          name: meetingId
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Meeting Id
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: 123456
                    questions:
                      - email: myemail@jksdlfkjdf.djfk
                        name: Sam S
                        question_details:
                          - answer: I am wonderful.
                            question: How are you?
                    start_time: 2019-02-01T12:34:12.660Z
                    title: Learn something new
                    uuid: gsdjfhsdfkhjdsf
              schema:
                $ref: '#/components/schemas/ListPastMeetingPollsResponse'
          description: |-
            **HTTP Status Code:** `200` **OK**. Polls returned successfully.
      security:
        - OAuth: []
      summary: List past meeting's poll results
      tags:
        - Meetings
    parameters:
      - in: path
        name: meetingId
        required: true
        schema:
          type: string
  "/past_meetings/{meetingUUID}":
    get:
      description: >-
        Get details on a past meeting. <br><br>

        **Scopes:** `meeting:read:admin` `meeting:read`

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
        > **Note**: Please double encode your UUID when using this API if the UUID begins with a '/'or contains '//' in it.
      operationId: getPastMeetingDetails
      x-ballerina-display:
        label: Get Past Meeting Details
      parameters:
        - description: The meeting UUID. Each meeting instance will generate its own
            Meeting UUID (i.e., after a meeting ends, a new UUID will be
            generated for the next instance of the meeting). Please double
            encode your UUID when using it for other API calls if the UUID
            begins with a '/'or contains '//' in it.
          in: path
          name: meetingUUID
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Meeting UUID
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    duration: integer
                    end_time: string [date-time]
                    host_id: integer
                    id: integer
                    participants_count: integer
                    start_time: string [date-time]
                    topic: string
                    total_minutes: integer
                    type: integer
                    user_email: string
                    user_name: string
                    uuid: string [uuid]
              schema:
                $ref: '#/components/schemas/PastMeetingDetailsResponse'
          description: |-
            **HTTP Status Code:** `200`. Meeting details returned.
        "400":
          description: |
            **HTTP Status Code:** `400`<br>
            Meeting not found<br><br>
            **Error Code:** `1010`<br>
            User not exist: {userId}<br><br>
            User {userId} not exist or not belong to this account.<br><br>
            **Error Code:** `300`<br>
            Cannot access meeting info.<br><br>
            **Error Code:** `200`<br>
            Only available for paid account: {accountId}
        "404":
          description: |
            **HTTP Status Code:** `404`<br>
            Meeting not found<br><br>
            **Error Code:** `3001`<br>
            This meeting is not available or ID is not valid.<br>
            Meeting ID is invalid or not end.
      security:
        - OAuth: []
      summary: Get past meeting details
      tags:
        - Meetings
  "/past_meetings/{meetingUUID}/participants":
    get:
      description: >
        Retrieve information on participants from a past meeting. <br><br>

        **Scopes:** `meeting:read:admin` `meeting:read`

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
        **Prerequisites:**<br>

        * Paid account on a Pro or higher plan.


        <br> <br>  **Note**: Please double encode your UUID when using this API if the UUID begins with a '/'or contains '//' in it.
      operationId: listPastMeetingParticipants
      x-ballerina-display:
        label: List Past Meeting Participants
      parameters:
        - description: The meeting UUID. Each meeting instance will generate its own
            Meeting UUID (i.e., after a meeting ends, a new UUID will be
            generated for the next instance of the meeting). Please double
            encode your UUID when using it for other API calls if the UUID
            begins with a '/'or contains '//' in it.
          in: path
          name: meetingUUID
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Meeting UUID
        - description: The number of records returned within a single API call.
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-ballerina-display:
            label: Page Size
        - description: The next page token is used to paginate through large result sets.
            A next page token will be returned whenever the set of available
            results exceeds the current page size. The expiration period for
            this token is 15 minutes.
          in: query
          name: next_page_token
          schema:
            type: string
          x-ballerina-display:
            label: Next Page Token
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    next_page_token: aliqua
                    page_count: 1
                    page_size: 30
                    participants:
                      - id: 8b29rgg4bb
                        name: Ram Shekhar
                        user_email: ram.shekhar.123@fkdngfjg.fdghdfgj
                    total_records: 1
              schema:
                $ref: '#/components/schemas/ListPastMeetingParticipantsResponse'
          description: |-
            **HTTP Status Code:** `200`. Meeting participants' report returned.
        "400":
          description: |+
            **HTTP Status Code:** `400`<br>
            **Error Code:** `1010`<br>
            User {userId} not exist or not belong to this account.<br><br>
            **Error Code:** `300`<br>
            Cannot access meeting information.<br><br>
            **Error Code:** `200`<br>
            Only available for paid account: {accountId}

        "404":
          description: |-
            **HTTP Status Code:** `404`<br>
            Meeting not found<br>
            **Error Code:** `1001`<br>
            User {userId} not exist or not belong to this account.<br>
            User not exist: {userId}<br><br>
            **Error Code:** `3001`<br>
            This meeting is not available or ID is not valid.<br>
            Meeting ID is invalid or not end.
      security:
        - OAuth: []
      summary: List past meeting participants
      tags:
        - Meetings
  "/meetings/{meetingId}/polls":
    get:
      description: >-
        Polls allow the meeting host to survey attendees. Use this API to
        list
        [polls](https://support.zoom.us/hc/en-us/articles/213756303-Polling-for-Meetings)
        of a meeting.<br><br>


        **Scopes**: `meeting:read:admin` `meeting:read`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>
        **Prerequisites**:<br>

        * Host user type must be **Pro** or higher plan.

        * Meeting must be a scheduled meeting. Instant meetings do not have polling features enabled.
      operationId: getMeetingPolls
      x-ballerina-display:
        label: Get Meeting Polls
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    polls:
                      - id: YB33NcABCdg_g1AAAxTQ
                        questions:
                          - answers:
                              - Extremely useful
                              - Somewhat useful
                              - Not useful at all
                            name: How useful was this meeting?
                            type: multiple
                        status: notstart
                        title: Meeting Usefulness
                    total_records: 1
              schema:
                $ref: '#/components/schemas/MeetingPollsResponse'
          description: |-
            **HTTP Status Code:**. List polls of a Meeting  returned
        "404":
          description: |-
            **Error Code:** `404`
            Meeting Poll not found
      security:
        - OAuth: []
      summary: List meeting polls
      tags:
        - Meetings
    post:
      description: >-
        Polls allow the meeting host to survey attendees. Use this API to
        create a
        [poll](https://support.zoom.us/hc/en-us/articles/213756303-Polling-for-Meetings)
        for a meeting.<br><br>


        **Scopes**: `meeting:write:admin` `meeting:write`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>
        **Prerequisites**:<br>

        * Host user type must be **Pro** or higher plan.

        * Polling feature must be enabled in the host's account.

        * Meeting must be a scheduled meeting. Instant meetings do not have polling features enabled.
      operationId: createMeetingPoll
      x-ballerina-display:
        label: Create Meeting Poll
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeetingPollRequest'
        description: Meeting poll object
        required: true
        x-examples:
          application/json:
            questions:
              - answers:
                  - Extremely useful
                  - Somewhat useful
                  - Not useful at all
                name: How useful was this meeting?
                type: multiple
            title: Meeting Usefulness
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: abcdaaaeefffhhh
                    questions:
                      - answers:
                          - Extremely useful
                          - Somewhat useful
                          - Not useful at all
                        name: How useful was this meeting?
                        type: multiple
                    status: notstart
                    title: Meeting Usefulness
              schema:
                $ref: '#/components/schemas/CreateMeetingPollResponse'
          description: |-
            **HTTP Status Code:** `201`. Meeting Poll Created
          headers:
            Content-Location:
              description: Location of created Meeting Poll
              schema:
                type: string
        "404":
          description: |-
            **Error Code:** `404` <br>
            Meeting not found
      security:
        - OAuth: []
      summary: Create a meeting poll
      tags:
        - Meetings
  "/meetings/{meetingId}/polls/{pollId}":
    delete:
      description: >-
        Polls allow the meeting host to survey attendees. Use this API to
        delete a meeting
        [poll](https://support.zoom.us/hc/en-us/articles/213756303-Polling-for-Meetings).<br>

        **Scopes**: `meeting:write:admin` `meeting:write`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light` <br>
        **Prerequisites**:<br>

        * Host user type must be **Pro**.

        * Polling feature should be enabled in the host's account.

        * Meeting must be a scheduled meeting. Instant meetings do not have polling features enabled.
      operationId: deleteMeetingPoll
      x-ballerina-display:
        label: Delete Meeting Poll
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
        - description: The poll ID
          in: path
          name: pollId
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Poll Id
      responses:
        "204":
          description: |-
            **HTTP Status Code:** `204`. Meeting Poll deleted
        "404":
          description: |-
            **Error Code:** `404`
            Meeting Poll not found
      security:
        - OAuth: []
      summary: Delete a meeting poll
      tags:
        - Meetings
    get:
      description: >+
        Polls allow the meeting host to survey attendees. Use this API to
        get information about a specific meeting
        [poll](https://support.zoom.us/hc/en-us/articles/213756303-Polling-for-Meetings).<br><br>

        **Scopes**: `meeting:read:admin` `meeting:read`<br>

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`


      operationId: getMeetingPoll
      x-ballerina-display:
        label: Get Meeting Poll
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
        - description: The poll ID
          in: path
          name: pollId
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Poll Id
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: abcdaaaeefffhhh
                    questions:
                      - answers:
                          - Extremely useful
                          - Somewhat useful
                          - Not useful at all
                        name: How useful was this meeting?
                        type: multiple
                    status: notstart
                    title: Meeting Usefulness
              schema:
                $ref: '#/components/schemas/GetMeetingPollResponse'
          description: |-
            **HTTP Status Code:** `200`. Meeting Poll object returned
        "404":
          description: |-
            **Error Code:** `404` <br>
            Meeting Poll not found.
      security:
        - OAuth: []
      summary: Get a meeting poll
      tags:
        - Meetings
    put:
      description: >+
        Polls allow the meeting host to survey attendees. Use this API to
        update information of a specific meeting
        [poll](https://support.zoom.us/hc/en-us/articles/213756303-Polling-for-Meetings)<br><br>

        **Scopes**: `meeting:write:admin` `meeting:write`

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light` 

      operationId: updateMeetingPoll
      x-ballerina-display:
        label: Update Meeting Poll
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
        - description: The poll ID
          in: path
          name: pollId
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Poll Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingPollRequest'
        description: Meeting Poll
        required: true
        x-examples:
          application/json:
            questions:
              - answers:
                  - Definitely
                  - Probably
                  - Not going to use it again
                name: Would you like to use our service again?
                type: multiple
            title: Meeting Usefulness
      responses:
        "204":
          description: |-
            **HTTP Status Code:** `204`. Meeting Poll Updated
        "404":
          description: |-
            **Error Code:** `404` <br>
            Meeting Poll not found
      security:
        - OAuth: []
      summary: Update a meeting poll
      tags:
        - Meetings
  "/meetings/{meetingId}/batch_polls":
    post:
      description: >-
        Polls allow the meeting host to survey attendees. Use this API to
        create batch
        [polls](https://support.zoom.us/hc/en-us/articles/213756303-Polling-for-Meetings)
        for a meeting.<br><br>


        **Scopes**: `meeting:write:admin` `meeting:write`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>
        **Prerequisites**:<br>

        * Host user type must be **Pro** or higher plan.

        * Polling feature must be enabled in the host's account.

        * Meeting must be a scheduled meeting. Instant meetings do not have polling features enabled.
      operationId: createBatchPolls
      x-ballerina-display:
        label: Create Batch Polls
      parameters:
        - in: path
          name: meetingId
          required: true
          schema:
            type: string
          description: Meeting Id
          x-ballerina-display:
            label: Meeting Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchPollsRequest'
        description: Batch Meeting poll object
        x-examples:
          application/json:
            polls:
              - questions:
                  - answers:
                      - answer 1
                      - answer 2
                    name: Question Name
                    type: multiple
                  - answers:
                      - answer 1
                      - answer 2
                    name: Question Name 2
                    type: single
                title: Meeting Usefulness
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    polls:
                      - id: ex eiusmod
                        questions:
                          - answers:
                              - est officia
                              - dolor amet consectetur ad
                              - irure consectetur enim commodo
                            name: in mollit cillum adipisicing ullamco
                            type: consectetur magna et
                          - answers:
                              - ut ut
                              - non pariatur dolore eiusmod consectetur
                              - pariatur deserunt in dolore et
                              - deserunt exercitation incididunt nostrud dolore
                              - dolor sit in laboris eiusmod
                            name: non proident dolor eiusmod consectetur
                            type: "et deserunt nisi "
                          - answers:
                              - dolor mollit
                              - dolore Lorem voluptate
                            name: minim
                            type: velit labore
                        status: Excepteur Lorem dolor exercitation
                        title: in dolore culpa ad qui
                      - id: mollit do
                        questions:
                          - answers:
                              - "culpa "
                              - aliquip dolore
                            name: exercitation consectetur officia do
                            type: id ex consequat culpa
                          - answers:
                              - ullamco consequat ut id esse
                              - veniam eiusmod anim laborum
                            name: proident ad
                            type: Lorem nostrud nulla
                          - answers:
                              - nostrud voluptate eu velit
                              - non labore dolor ad eiusmod
                              - vo
                            name: sint cillum ut
                            type: in enim
                          - answers:
                              - sunt voluptate
                              - reprehenderit ea
                              - sunt aute
                              - elit
                            name: eu ullamco
                            type: anim dolor sunt
                          - answers:
                              - nulla Duis
                            name: sit enim consequat cupidatat
                            type: cillum adipisicing
                        status: deserunt id occaecat nisi qui
                        title: est incididunt in dolore tempor
                      - id: "qui "
                        questions:
                          - answers:
                              - laboris laborum
                              - nostrud sit dolore veniam
                              - sunt commodo amet dolor ex
                            name: ullamco et pariatur
                            type: proident
                          - answers:
                              - anim magna ut Lorem
                            name: adipisicing dolor culpa commodo
                            type: aliquip veniam
                          - answers:
                              - "sunt dolor Excepteur amet "
                              - qui pariatur esse id fugiat
                              - aliquip
                            name: laborum nisi
                            type: in Duis qui Excepteur aute
                        status: ut Ut esse
                        title: ullamco dolore
              schema:
                $ref: '#/components/schemas/CreateBatchPollsResponse'
          description:  "**HTTP Status Code:** `201`. Meeting Poll Created"
        "400":
          description: |-
            **HTTP Status Code:** `404` **Not Found** <br>
            **Error Code:** `300` <br>
            Invalid Meeting ID.
            **Error Code:** `300` <br>
            Meeting id does not exist.
            **Error Code:** `3000` <br>
            Cannot access meeting information.
            **Error Code:** `3001`<br>
            Meeting does not exist: {meetingId}.<br>
            **Error Code:** `4400`<br>
            Polling has not been enabled for this meeting: {meetingId}.
            **Error Code:** `4400`<br>
            You can add a maximum of 25 polls.
      summary: Perform batch poll creation
      tags:
        - Meetings
  "/meetings/{meetingId}/invitation":
    get:
      description: >+
        Retrieve the meeting invite note that was sent for a specific
        meeting.<br><br>

        **Scopes:** `meeting:read:admin` `meeting:read`<br>

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

      operationId: getMeetingInvitation
      x-ballerina-display:
        label: Get Meeting Invitation
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    invitation: "Shrijana G is inviting you to a scheduled Zoom meeting.\r

                      \r

                      Topic: MyTestMeeting\r

                      Time: Jul 31, 2019 04:00 PM Pacific
                      Time (US and Canada)\r

                      \r

                      Join Zoom Meeting\r

                      https://zoom.us/j/000000\r

                      \r

                      One tap mobile\r

                      +000000"
              schema:
                $ref: '#/components/schemas/GetMeetingInvitationResponse'
          description: |-
            **HTTP Status Code:** `200`<br>
            Meeting invitation returned.
      security:
        - OAuth: []
      summary: Get meeting invitation
      tags:
        - Meetings
  "/meetings/{meetingId}/livestream":
    get:
      description: >+
        Zoom allows users to [live stream a
        meeting](https://support.zoom.us/hc/en-us/articles/115001777826-Live-Streaming-Meetings-or-Webinars-Using-a-Custom-Service)
        to a custom platform. Use this API to get a meeting's live stream
        configuration details such as Stream URL, Stream Key and Page
        URL.<br><br>

        **Prerequisites:**<br>

        * Meeting host must be a licensed user with a Pro or higher plan.<br>

        * Live streaming details must have been [configured](https://support.zoom.us/hc/en-us/articles/115001777826-Live-Streaming-Meetings-or-Webinars-Using-a-Custom-Service#h_01589a6f-a40a-4e18-a448-cb746e52ebc5) for the meeting.<br><br>

        **Scopes:** `meeting:read:admin` `meeting:read`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`



      operationId: getLiveStreamDetails
      x-ballerina-display:
        label: Get Live Stream Details
      parameters:
        - description: Unique identifier of the meeting.
          in: path
          name: meetingId
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Meeting Id
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    page_url: https://somecompany.com/livestream/123
                    stream_key: Contact It@somecompany.com
                    stream_url: https://somecompany.com/livestream
              schema:
                $ref: '#/components/schemas/GetLiveStreamDetailsResponse'
          description: |+
            **HTTP Status Code:** `200` **OK**.  Live Stream details returned.

        "400":
          description: |+
            **HTTP Status Code:** `400` **Bad Request**<br>
            **Error Code:** `300`<br>
            Missing meetingId<br>
            Invalid meetingId<br><br>
            **Error Code:** `1010`<br>
            User does not belong to this account: {accountId}


        "404":
          description: |+
            **HTTP Status Code:** `404` **Not Found**<br>
            **Error Code:** `1001`<br>
            User {userId} does not exist.

      summary: Get live stream details
      tags:
        - Meetings
    patch:
      description: >+
        Zoom allows users to [live stream a
        meeting](https://support.zoom.us/hc/en-us/articles/115001777826-Live-Streaming-Meetings-or-Webinars-Using-a-Custom-Service)
        to a custom platform. Use this API to update a meeting's live stream
        information.<br><br>

        **Prerequisites:**<br>

        * Meeting host must have a Pro license.<br>

        **Scopes:** `meeting:write:admin` `meeting:write`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`


      operationId: updateMeetingLiveStream
      x-ballerina-display:
        label: Update Meeting Live Stream
      parameters:
        - description: >-
            The meeting ID in **long** format. The data type of this field is
            "long"(represented as int64 in JSON).


            While storing it in your database, store it as a **long** data type and **not as an integer**, as the Meeting IDs can be longer than 10 digits.
          in: path
          name: meetingId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Meeting Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingLiveStreamDetailsRequest'
        description: Meeting
        required: true
        x-examples:
          application/json:
            page_url: mycompany.com/livestream/123
            stream_key: Contact it@mycompany.com
            stream_url: mycompany.com/livestream
      responses:
        "204":
          description: |-
            **HTTP Status Code:** `204`. Meeting live stream updated.
        "300":
          description: "**Error Code:** `300` <br>Missing meetingId <br> Invalid meetingId."
        "400":
          description: |-
            **HTTP Status Code:** `400`<br>**Error Code:** `1010` <br>
             User does not belong to this account: {accountId}.<br>
             **Error Code:** `3000` Cannot access webinar info.
        "404":
          description: >
            **HTTP Status Code:** `404`<br>**Error Code:** `1001` <br>User
            {userId} does not exist.
      security:
        - OAuth: []
      summary: Update a live stream
      tags:
        - Meetings
  "/webinars/{webinarId}/registrants":
    get:
      description: >+
        Zoom users with a [Webinar Plan](https://zoom.us/webinar) have
        access to creating and managing Webinars. Webinar allows a host to
        broadcast a Zoom meeting to up to 10,000 attendees. Scheduling a
        [Webinar with
        registration](https://support.zoom.us/hc/en-us/articles/204619915-Scheduling-a-Webinar-with-Registration)
        requires your registrants to complete a brief form before receiving the
        link to join the Webinar. 

        Use this API to list all the users that have registered for a webinar.  

        **Prerequisites:**

        * Pro or higher plan with a Webinar Add-on. 

        **Scopes:** `webinar:read:admin` `webinar:read`  
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium` 

      operationId: listWebinarRegistrants
      x-ballerina-display:
        label: List Webinar Meeting Registrants
      parameters:
        - description: 'The webinar ID in "**long**" format(represented as int64 data type
            in JSON). '
          in: path
          name: webinarId
          required: true
          schema:
            format: int64
            type: integer
          x-ballerina-display:
            label: Webinar Id
        - description: The meeting occurrence ID.
          in: query
          name: occurrence_id
          schema:
            type: string
          x-ballerina-display:
            label: Meeting Occurence Id
        - description: "The registrant status: `pending` - Registrant's status is pending. `approved` - Registrant's status is approved.`denied` - Registrant's status is denied."
          in: query
          name: status
          schema:
            default: approved
            enum:
              - pending
              - approved
              - denied
            type: string
          x-ballerina-display:
            label: Status
          x-enum-descriptions:
            - registrants status is pending
            - registrants status is approved
            - registrants status is denied
        - description: The tracking source ID for the registrants. Useful if you share the
            webinar registration page in multiple locations. See [Creating
            source tracking links for webinar
            registration](https://support.zoom.us/hc/en-us/articles/360000315683-Creating-source-tracking-links-for-webinar-registration)
            for details.
          in: query
          name: tracking_source_id
          schema:
            type: string
          x-ballerina-display:
            label: Tracking Source Id
        - description: The number of records returned within a single API call.
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-ballerina-display:
            label: Page Size
        - description: The page number of the current page in the returned records.
          in: query
          name: page_number
          schema:
            default: 1
            type: integer
          x-ballerina-display:
            label: Page Number
        - description: The next page token is used to paginate through large result sets.
            A next page token will be returned whenever the set of available
            results exceeds the current page size. The expiration period for
            this token is 15 minutes.
          in: query
          name: next_page_token
          schema:
            type: string
          x-ballerina-display:
            label: Next Page Token
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    page_count: "1"
                    page_number: "1"
                    page_size: "30"
                    registrants:
                      - address: dsfhkdjsfh st
                        city: jackson heights
                        comments: Looking forward to the Webinar
                        country: US
                        create_time: 2019-02-26T23:01:16.899Z
                        custom_questions:
                          - title: What do you hope to learn from this Webinar?
                            value: Look forward to learning how you come up with new recipes and what other
                              services you offer.
                        email: sjfkghdsg@someemail.dfgjd
                        first_name: Jill
                        id: "24000002122"
                        industry: Food
                        job_title: Chef
                        join_url: https://zoom.us/webinar/mywebinarissocooldighdghodghodg
                        last_name: Chill
                        no_of_employees: "10"
                        org: Cooking Org
                        phone: "00000000"
                        purchasing_time_frame: 1-3 months
                        role_in_purchase_process: Influencer
                        state: NY
                        status: approved
                        zip: "11371"
                    total_records: "1"
              schema:
                $ref: '#/components/schemas/ListWebinarRegistrantsResponse'
          description: "HTTP Status Code: `200` Webinar plan subscription is missing. Enable webinar for this user once the subscription is added."
        "300":
          description: "**HTTP Status Code:** `300` Invalid webinar ID."
        "400":
          description: |-
            **HTTP Status Code:** `400` 
            Bad request 
            **Error Code:** `1010` 
            User does not belong to this account:{accountId}. 
        "404":
          description: |-
            **HTTP Status Code:** `404` 
            Webinar not found. 
            **Error Code:** `1001` 
            User {userId} does not exist or does not belong to this account. 
            **Error Code:** `3001` 
            Webinar {webinarId} not found or has expired. 
      security:
        - OAuth: []
      summary: List webinar registrants
      tags:
        - Webinars
    parameters:
      - in: path
        name: webinarId
        required: true
        schema:
          type: string
        x-ballerina-display:
          label: Webinar Id
  "/past_webinars/{webinarId}/participants":
    get:
      description: >+
        Use this API to list all the participants who attended a webinar
        hosted in the past.  


        **Prerequisites:**

        * Pro or higher plan with a Webinar Add-on. 

        **Scopes:** `webinar:read:admin` `webinar:read`  

         

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium` 



      operationId: listWebinarParticipants
      x-ballerina-display:
        label: List Webinar Participants
      parameters:
        - description: Unique identifier of the webinar. You can retrieve the value of
            this field by calling the [list
            webinars](https://marketplace.zoom.us/docs/api-reference/zoom-api/webinars/webinars)
            API.
          in: path
          name: webinarId
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Webinar Id
        - description: The number of records returned within a single API call.
          in: query
          name: page_size
          schema:
            default: 30
            maximum: 300
            type: integer
          x-ballerina-display:
            label: Page Size
        - description: The next page token is used to paginate through large result sets.
            A next page token will be returned whenever the set of available
            results exceeds the current page size. The expiration period for
            this token is 15 minutes.
          in: query
          name: next_page_token
          schema:
            type: string
          x-ballerina-display:
            label: Next Page Token
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    next_page_token: mdnf23qbsf4wr
                    page_count: 1
                    page_size: 1
                    participants:
                      - id: sdjhf3ui
                        name: Matt
                        user_email: matt@123.jhdyuerys
                    total_records: 1
              schema:
                $ref: '#/components/schemas/ListWebinarParticipantsResponse'
          description: "Webinar participants' details"
        "400":
          description: |
            **HTTP Status Code:** `400` **Bad request** 

            **Error Code:** `200` 
            No permission. 
            Only available for paid account: {accountId}.  
            **Error Code:**  `300` 
            The next page token is invalid or expired.
        "404":
          description: |-
            **HTTP Status Code:** `404`
            **Error Code:**`3001` 
            Webinar does not exist.
      summary: List webinar participants
      tags:
        - Webinars
    parameters:
      - in: path
        name: webinarId
        required: true
        schema:
          type: string
        x-ballerina-display:
          label: Webinar Id
[...]
