openapi: 3.0.2
info:
  x-ballerina-display:
    label: PagerDuty
    iconPath: "icon.png"
  description: >
    This is [Pagerduty REST API v2](https://developer.pagerduty.com/api-reference/) OpenAPI specification.
    The Pagerduty REST API provides capability to programmatically interact with a PagerDuty account.
    This document describes the PagerDuty REST APIs.
    For guides and examples please visit our [Documentation.](https://developer.pagerduty.com/docs/get-started/getting-started/)
    Our REST APIs are defined in OpenAPI v3.x. You can view the schema at [github.com/PagerDuty/api-schema](https://github.com/PagerDuty/api-schema).
    Note that properties in some schemas have fields not shown by default such as `readOnly`, `format`, and `default`. Hover your cursor over the right column that looks like `optional+1` to see the full list of fields.
  contact:
    name: PagerDuty Support
    url: http://www.pagerduty.com/support
    email: support@pagerduty.com
  title: PagerDuty API
  version: 2.0.0
  x-ballerina-init-description: >
    Create a [Pagerduty account](https://developer.pagerduty.com/sign-up/) and obtain tokens by following [this guide](https://support.pagerduty.com/docs/generating-api-keys#section-generating-a-general-access-rest-api-key).
security:
  - api_key: []
tags:
  - name: Abilities
    description: |
      This describes your account's abilities by feature name. For example `"teams"`.
      An ability may be available to your account based on things like your pricing plan or account state.
  - name: Add-ons
    description: |
      Developers can write their own functionality to insert into PagerDuty's UI.
  - name: Analytics
    description: |
      Provides enriched incident data.
  - name: Audit
    description: |
      Provides audit record data.
  - name: Business Services
    description: |
      Business services model capabilities that span multiple technical services and that may be owned by several different teams.
  - name: Change Events
    description: |
      Change Events enable you to send informational events about recent changes such as code deploys and system config changes from any system that can make an outbound HTTP connection. These events do not create incidents and do not send notifications; they are shown in context with incidents on the same PagerDuty service.
  - name: Escalation Policies
    description: |
      Escalation policies define which user should be alerted at which time.
  - name: Extension Schemas
    description: |
      A PagerDuty extension vendor represents a specific type of outbound extension such as Generic Webhook, Slack, ServiceNow.
  - name: Extensions
    description: |
      Extensions are representations of Extension Schema objects that are attached to Services.
  - name: Incidents
    description: |
      An incident represents a problem or an issue that needs to be addressed and resolved. Incidents trigger on a service, which prompts notifications to go out to on-call responders per the service's escalation policy.
  - name: Log Entries
    description: |
      A log of all the events that happen to an Incident, and these are exposed as Log Entries.
  - name: Maintenance Windows
    description: |
      A Maintenance Window is used to temporarily disable one or more Services for a set period of time.
  - name: Notifications
    description: |
      A Notification is created when an Incident is triggered or escalated.
  - name: On-Calls
    description: |
      An on-call represents a contiguous unit of time for which a User will be on call for a given Escalation Policy and Escalation Rules
  - name: Priorities
    description: |
      A priority is a label representing the importance and impact of an incident. This feature is only available on Standard and Enterprise plans.
  - name: Response Plays
    description: |
      Response Plays are a package of Incident Actions that can be applied during an Incident's life cycle.
  - name: Rulesets
    description: |
      Rulesets allow you to route events to an endpoint and create collections of Event Rules, which define sets of actions to take based on event content.
  - name: Schedules
    description: |
      A Schedule determines the time periods that users are On-Call.
  - name: Service Dependencies
    description: |
      Services are categorized into technical and business services. Dependencies can be created via any combination of these services.
  - name: Services
    description: |
      A Service may represent an application, component, or team you wish to open incidents against.
  - name: Webhooks
    description: |
      A webhook is a way to receive events that occur on the PagerDuty platform via an HTTP POST request.
      V3 webhooks are set up by creating a webhook subscription.
  - name: Status Dashboards
    description: |
      Status Dashboards represent user-defined views for the Status Dashboard product that are limited to specific Business Services rather than the whole set of top-level Business Services (those with no dependent Services).
  - name: Tags
    description: |
      A Tag is applied to EScalation Policies, Teams or Users and can be used to filter them.
  - name: Teams
    description: |
      A team is a collection of Users and Escalation Policies that represent a group of people within an organization.
  - name: Users
    description: |
      Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.
  - name: Vendors
    description: |
      A PagerDuty Vendor represents a specific type of integration. AWS Cloudwatch, Splunk, Datadog are all examples of vendors
servers:
  - url: https://api.pagerduty.com
    description: PagerDuty V2 API.
components:
  examples:
    AuditRecordResponse:
      summary: Response Example
      value:
        records:
          - id: PDRECORDID1_TEAM_CREATED
            execution_time: '2020-06-04T15:30:16.272Z'
            execution_context:
              request_id: 111lDEOIH-534-4ljhLHJjh111
              remote_address: 201.19.20.19
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
            method:
              type: api_token
              truncated_token: 3usr
            root_resource:
              id: PXASDFE
              type: team_reference
              summary: my DevOps team
            action: create
            details:
              resource:
                id: PXASDFE
                type: team_reference
                summary: my DevOps team
              fields:
                - name: teamName
                  value: DevOps team
          - id: PDRECORDID2_USER_REMOVED_FROM_TEAM
            execution_time: '2020-06-04T15:30:16.272Z'
            execution_context:
              request_id: 222lDEOIH-534-4ljhLHJjh222
              remote_address: 201.19.20.19
            method:
              type: api_token
              truncated_token: 2adm
            root_resource:
              id: PRY9M8B
              type: team_reference
              summary: DevOps
            action: update
            details:
              resource:
                id: PRY9M8B
                type: team_reference
                summary: DevOps
              references:
                - name: members
                  removed:
                    - id: PRY9M8B
                      type: user_reference
                      summary: John Doe
          - id: PDRECORDID5_USERS_TEAM_ROLE_UPDATED
            execution_time: '2020-06-04T15:30:16.272Z'
            execution_context:
              request_id: 222lDEOIH-534-4ljhLHJjh222
              remote_address: 201.19.20.19
            method:
              type: api_token
              truncated_token: 2adm
            root_resource:
              id: PRY9M8B
              type: team_reference
              summary: DevOps
            action: update
            details:
              resource:
                id: PDUSER
                type: user_reference
                summary: John Snow
              fields:
                - name: team_role
                  before_value: observer
                  value: manager
          - id: PDRECORDID3_USERS_NAME_AND_EMAIL_UPDATED
            execution_time: '2020-06-04T15:30:16.272Z'
            execution_context:
              request_id: 222lDEOIH-534-4ljhLHJjh222
              remote_address: 201.19.20.19
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
            method:
              type: identity_provider
            root_resource:
              id: PDUSER
              type: user_reference
              summary: John Snow
            action: update
            details:
              resource:
                id: PDUSER
                type: user_reference
                summary: John Snow
              fields:
                - name: name
                  before_value: Bob Doe
                  value: Jon Snow
                - name: email
                  before_value: bob.doe@domain.com
                  value: john.snow@domain.com
          - id: PDRECORDID4_UPDATED_USERS_NOTIFICATION_RULE
            execution_time: '2020-06-04T15:30:16.272Z'
            execution_context:
              request_id: 222lDEOIH-534-4ljhLHJjh222
              remote_address: 201.19.20.19
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
            method:
              type: api_token
              truncated_token: 2adm
            root_resource:
              id: PDUSER
              type: user_reference
              summary: John Snow
            action: update
            details:
              resource:
                id: PXOGWUS
                type: assignment_notification_rule_reference
                summary: '0 minutes: channel P1IAAPZ'
              fields:
                - name: start_delay_in_minutes
                  before_value: '0'
                  value: '2'
              references:
                - name: contact_method
                  removed:
                    - id: POE6L88
                      type: push_notification_contact_method_reference
                      summary: Pixel 3
                  added:
                    - id: P4GTUMK
                      type: sms_contact_method_reference
                      summary: Mobile
        next_cursor: null
        limit: 10
    AuditRecordEscalationPolicyResponse:
      summary: Response Example
      value:
        records:
          - id: PD_ASSIGN_TEAM_TO_ESCALATION_POLICY
            action: update
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              references:
                - added:
                    - id: PD_TEAM123
                      summary: Devops
                      type: team_reference
                      self: https://api.pagerduty.com/teams/PD_TEAM123
                      html_url: https://mydomain.pagerduty.com/teams/PD_TEAM123
                  name: teams
              resource:
                id: PD_ESCALATION_ID
                summary: DevOps Escalation
                type: escalation_policy_reference
                self: https://api.pagerduty.com/escalation_policies/PD_ESCALATION_ID
                html_url: https://mydomain.pagerduty.com/escalation_policies/PD_ESCALATION_ID
            execution_context:
              request_id: 0cc413fb-8e7d-4414-b4bc-b7578bf3ba77
            execution_time: '2021-01-05T16:33:52.026Z'
            method:
              type: browser
            root_resource:
              id: PD_ESCALATION_ID
              summary: DevOps Escalation
              type: escalation_policy_reference
              self: https://api.pagerduty.com/escalation_policies/PD_ESCALATION_ID
              html_url: https://mydomain.pagerduty.com/escalation_policies/PD_ESCALATION_ID
          - id: PD_CREATE_ESCALATION_POLICY
            action: create
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              fields:
                - name: name
                  value: DevOps Escalation
                - name: description
                  value: Escalation Policy for devops
                - name: num_loops
                  value: '1'
              resource:
                id: PD_ESCALATION_ID
                summary: DevOps Escalation
                type: escalation_policy_reference
                self: https://api.pagerduty.com/escalation_policies/PD_ESCALATION_ID
                html_url: https://mydomain.pagerduty.com/escalation_policies/PD_ESCALATION_ID
            execution_context:
              request_id: 0cc413fb-8e7d-4414-b4bc-b7578bf3ba77
            execution_time: '2021-01-05T16:33:51.951Z'
            method:
              type: browser
            root_resource:
              id: PD_ESCALATION_ID
              summary: DevOps Escalation
              type: escalation_policy_reference
              self: https://api.pagerduty.com/escalation_policies/PD_ESCALATION_ID
              html_url: https://mydomain.pagerduty.com/escalation_policies/PD_ESCALATION_ID
        limit: 10
        next_cursor: null
    AuditRecordScheduleResponse:
      summary: Response Example
      value:
        records:
          - id: PD_ASSIGN_TEAM_TO_SCHEDULE
            action: update
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              references:
                - added:
                    - id: PD_TEAM123
                      summary: Devops
                      type: team_reference
                      self: https://api.pagerduty.com/teams/PD_TEAM123
                      html_url: https://mydomain.pagerduty.com/teams/PD_TEAM123
                  name: teams
              resource:
                id: PD_SCHEDULE_ID
                summary: DevOps Schedule
                type: schedule_reference
                self: https://api.pagerduty.com/schedules/PD_SCHEDULE_ID
                html_url: https://mydomain.pagerduty.com/schedules/PD_SCHEDULE_ID
            execution_context:
              request_id: 13a1c0c3-545c-4ebb-4115-662fff9d8ad
            execution_time: '2021-01-05T16:25:41.324Z'
            method:
              type: browser
            root_resource:
              id: PD_SCHEDULE_ID
              summary: DevOps Schedule
              type: schedule_reference
              self: https://api.pagerduty.com/schedules/PD_SCHEDULE_ID
              html_url: https://mydomain.pagerduty.com/schedules/PD_SCHEDULE_ID
          - id: PD_CREATE_SCHEDULE
            action: create
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              fields:
                - name: name
                  value: DevOps Schedule
                - name: description
                  value: Our DevOps Team Schedule
                - name: time_zone
                  value: America/New_York
              resource:
                id: PD_SCHEDULE_ID
                summary: DevOps Schedule
                type: schedule_reference
                self: https://api.pagerduty.com/schedules/PD_SCHEDULE_ID
                html_url: https://mydomain.pagerduty.com/schedules/PD_SCHEDULE_ID
            execution_context:
              request_id: 13a1c0c3-545c-4ebb-4115-662fff9d8ad
            execution_time: '2021-01-05T16:25:41.315Z'
            method:
              type: browser
            root_resource:
              id: PD_SCHEDULE_ID
              summary: DevOps Schedule
              type: schedule_reference
              self: https://api.pagerduty.com/schedules/PD_SCHEDULE_ID
              html_url: https://mydomain.pagerduty.com/schedules/PD_SCHEDULE_ID
        limit: 10
        next_cursor: null
    AuditRecordServiceResponse:
      summary: Response Example
      value:
        records:
          - id: PDRECORDID1_SERVICE_CREATED
            execution_time: '2020-06-04T15:30:16.272Z'
            execution_context:
              request_id: 111lDEOIH-534-4ljhLHJjh111
              remote_address: 201.19.20.19
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
            method:
              type: api_token
              truncated_token: 3usr
            root_resource:
              id: PN2YA40
              type: service_reference
              summary: Documentation Hub
            action: create
            details:
              resource:
                id: PD_SERVICE_ID
                type: service_reference
                summary: Documentation Hub
              fields:
                - name: name
                  value: Documentation Hub
                - name: description
                  value: Centralized documentation
                - name: incident_severity
                  value: always_high
                - name: alert_creation
                  value: create_alerts_and_incidents
                - name: auto_resolve_timeout
                  value: ''
                - name: acknowledgement_timeout
                  value: ''
                - name: alert_grouping
                  value: null
                - name: alert_grouping_timeout
                  value: ''
              references:
                - name: escalation_policy
                  added:
                    - id: PD_SERVICE_ID
                      summary: Default
                      type: escalation_policy_reference
        next_cursor: null
        limit: 10
    AuditRecordTeamResponse:
      summary: Response Example
      value:
        records:
          - id: PDRECORD_USER_ROLE_ON_TEAM
            execution_time: '2020-06-04T15:30:16.272Z'
            execution_context:
              request_id: 111lDEOIH-534-4ljhLHJjh111
              remote_address: 201.19.20.19
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            method:
              type: browser
            root_resource:
              id: PD_TEAM123
              type: team_reference
              summary: my DevOps team
              self: https://api.pagerduty.com/teams/PD_TEAM123
              html_url: https://mydomain.pagerduty.com/teams/PD_TEAM123
            action: update
            details:
              resource:
                id: PD_ADMIN_USER123
                type: user_reference
                summary: AA Admin User
                self: https://api.pagerduty.com/users/PD_ADMIN_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_ADMIN_USER123
              fields:
                - name: members.role
                  value: manager
          - id: PDRECORD_USER_ADDED_TO_TEAM
            execution_time: '2020-06-04T15:30:16.272Z'
            execution_context:
              request_id: 111lDEOIH-534-4ljhLHJjh111
              remote_address: 201.19.20.19
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            method:
              type: browser
            root_resource:
              id: PD_TEAM123
              type: team_reference
              summary: DevOps
            action: update
            details:
              resource:
                id: PD_TEAM123
                type: team_reference
                summary: DevOps
              references:
                - name: members
                  added:
                    - id: PD_ADMIN_USER123
                      type: user_reference
                      summary: AA Admin User
                      self: https://api.pagerduty.com/users/PD_ADMIN_USER123
                      html_url: https://mydomain.pagerduty.com/users/PD_ADMIN_USER123
          - id: PDRECORD_TEAM_CREATED
            execution_time: '2020-06-04T15:25:04.113Z'
            execution_context:
              request_id: 222lDEOIH-534-4ljhLHJjh222
              remote_address: 201.19.20.19
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            method:
              type: browser
            root_resource:
              id: PD_TEAM123
              type: team_reference
              summary: DevOps
              self: https://api.pagerduty.com/teams/PD_TEAM123
              html_url: https://mydomain.pagerduty.com/teams/PD_TEAM123
            action: create
            details:
              resource:
                id: PD_TEAM123
                type: team_reference
                summary: DevOps
                self: https://api.pagerduty.com/teams/PD_TEAM123
                html_url: https://mydomain.pagerduty.com/teams/PD_TEAM123
              fields:
                - name: name
                  value: DevOps
                - name: description
                  value: MyDevOps Team
                - name: default_role
                  value: manager
        next_cursor: null
        limit: 10
    AuditRecordUserResponse:
      summary: Response Example
      value:
        records:
          - id: PD_ADD_HIGH_URGENCY_NOTIFICATION
            action: update
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              references:
                - added:
                    - id: PD_NOTIFICATION_RULE_HIGH
                      summary: 'High Urgency (Email: Default)'
                      type: assignment_notification_rule_reference
                  name: notification_rules
              resource:
                id: PD_USER_999
                summary: Test User
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER_999
                html_url: https://mydomain.pagerduty.com/users/PD_USER_999
            execution_context:
              request_id: a68929b2-d0f4-4def-b1d2-6bb744c44e3d
            execution_time: '2021-01-05T15:17:32.343Z'
            method:
              type: browser
            root_resource:
              id: PD_USER_999
              summary: Test User
              type: user_reference
              self: https://api.pagerduty.com/users/PD_USER_999
              html_url: https://mydomain.pagerduty.com/users/PD_USER_999
          - id: PD_ADD_HIGH_URGENCY_EMAIL_CONTACT
            action: update
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              fields:
                - name: start_delay_in_minutes
                  value: '0'
                - name: urgency
                  value: high
              references:
                - added:
                    - id: PD_CONTACT_METHOD
                      summary: Default
                      type: email_contact_method_reference
                  name: contact_method
              resource:
                id: PD_NOTIFICATION_RULE_HIGH
                summary: 'High Urgency (Email: Default)'
                type: assignment_notification_rule_reference
            execution_context:
              request_id: a68929b2-d0f4-4def-b1d2-6bb744c44e3d
            execution_time: '2021-01-05T15:17:32.343Z'
            method:
              type: browser
            root_resource:
              id: PD_USER_999
              summary: Test User
              type: user_reference
              self: https://api.pagerduty.com/users/PD_USER_999
              html_url: https://mydomain.pagerduty.com/users/PD_USER_999
          - id: PD_ADD_LOW_URGENCY_EMAIL_RULE
            action: update
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              fields:
                - name: start_delay_in_minutes
                  value: '0'
                - name: urgency
                  value: low
              references:
                - added:
                    - id: PD_CONTACT_METHOD
                      summary: Default
                      type: email_contact_method_reference
                  name: contact_method
              resource:
                id: PD_NOTIFICATION_RULE_LOW
                summary: 'Low Urgency (Email: Default)'
                type: assignment_notification_rule_reference
            execution_context:
              request_id: a68929b2-d0f4-4def-b1d2-6bb744c44e3d
            execution_time: '2021-01-05T15:17:32.335Z'
            method:
              type: browser
            root_resource:
              id: PD_USER_999
              summary: Test User
              type: user_reference
              self: https://api.pagerduty.com/users/PD_USER_999
              html_url: https://mydomain.pagerduty.com/users/PD_USER_999
          - id: PD_ADD_LOW_URGENCY_EMAIL_CONTACT
            action: update
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              references:
                - added:
                    - id: PD_NOTIFICATION_RULE_LOW
                      summary: 'Low Urgency (Email: Default)'
                      type: assignment_notification_rule_reference
                  name: notification_rules
              resource:
                id: PD_USER_999
                summary: Test User
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER_999
                html_url: https://mydomain.pagerduty.com/users/PD_USER_999
            execution_context:
              request_id: a68929b2-d0f4-4def-b1d2-6bb744c44e3d
            execution_time: '2021-01-05T15:17:32.335Z'
            method:
              type: browser
            root_resource:
              id: PD_USER_999
              summary: Test User
              type: user_reference
              self: https://api.pagerduty.com/users/PD_USER_999
              html_url: https://mydomain.pagerduty.com/users/PD_USER_999
          - id: PD_EMAIL_CONTACT_FOR_USER
            action: update
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              fields:
                - name: label
                  value: Default
                - name: type
                  value: email_contact_method
                - name: address
                  value: testuser@testabc123.com
              resource:
                id: PD_CONTACT_METHOD
                summary: Default
                type: email_contact_method_reference
            execution_context:
              request_id: a68929b2-d0f4-4def-b1d2-6bb744c44e3d
            execution_time: '2021-01-05T15:17:32.327Z'
            method:
              type: browser
            root_resource:
              id: PD_USER_999
              summary: Test User
              type: user_reference
              self: https://api.pagerduty.com/users/PD_USER_999
              html_url: https://mydomain.pagerduty.com/users/PD_USER_999
          - id: PD_ADD_EMAIL_CONTACT_TO_USER
            action: update
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              references:
                - added:
                    - id: PD_CONTACT_METHOD
                      summary: Default
                      type: email_contact_method_reference
                  name: contact_methods
              resource:
                id: PD_USER_999
                summary: Test User
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER_999
                html_url: https://mydomain.pagerduty.com/users/PD_USER_999
            execution_context:
              request_id: a68929b2-d0f4-4def-b1d2-6bb744c44e3d
            execution_time: '2021-01-05T15:17:32.327Z'
            method:
              type: browser
            root_resource:
              id: PD_USER_999
              summary: Test User
              type: user_reference
              self: https://api.pagerduty.com/users/PD_USER_999
              html_url: https://mydomain.pagerduty.com/users/PD_USER_999
          - id: PD_CREATE_USER
            action: create
            actors:
              - id: PDUSER
                summary: John Snow
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER123
                html_url: https://mydomain.pagerduty.com/users/PD_USER123
            details:
              fields:
                - name: name
                  value: Test User
                - name: role
                  value: user
                - name: email
                  value: testuser@testabc123.com
                - name: time_zone
                  value: America/New_York
                - name: description
                  value: null
                - name: job_title
                  value: null
                - name: color
                  value: brown
              resource:
                id: PD_USER_999
                summary: Test User
                type: user_reference
                self: https://api.pagerduty.com/users/PD_USER_999
                html_url: https://mydomain.pagerduty.com/users/PD_USER_999
            execution_context:
              request_id: a68929b2-d0f4-4def-b1d2-6bb744c44e3d
            execution_time: '2021-01-05T15:17:31.708Z'
            method:
              type: browser
            root_resource:
              id: PD_USER_999
              summary: Test User
              type: user_reference
              self: https://api.pagerduty.com/users/PD_USER_999
              html_url: https://mydomain.pagerduty.com/users/PD_USER_999
        limit: 10
        next_cursor: null
    CreateSubscriptionExample:
      summary: Example
      value:
        webhook_subscription:
          delivery_method:
            type: http_delivery_method
            url: https://example.com/receive_a_pagerduty_webhook
          description: Sends PagerDuty v3 webhook events somewhere interesting.
          events:
            - incident.acknowledged
            - incident.annotated
            - incident.delegated
            - incident.escalated
            - incident.priority_updated
            - incident.reassigned
            - incident.reopened
            - incident.resolved
            - incident.responder.added
            - incident.responder.replied
            - incident.triggered
            - incident.unacknowledged
          filter:
            id: P393ZNQ
            type: service_reference
          type: webhook_subscription
    GetSubscriptionExample:
      summary: Example
      value:
        webhook_subscription:
          delivery_method:
            id: PF9KMXH
            secret: null
            temporarily_disabled: false
            type: http_delivery_method
            url: https://example.com/receive_a_pagerduty_webhook
          description: Sends PagerDuty v3 webhook events somewhere interesting.
          events:
            - incident.acknowledged
            - incident.annotated
            - incident.delegated
            - incident.escalated
            - incident.priority_updated
            - incident.reassigned
            - incident.reopened
            - incident.resolved
            - incident.responder.added
            - incident.responder.replied
            - incident.triggered
            - incident.unacknowledged
          filter:
            id: P393ZNQ
            type: service_reference
          id: PY1OL64
          type: webhook_subscription
          active: true
    ListSubscriptionExample:
      summary: Example
      value:
        webhook_subscriptions:
          - delivery_method:
              id: PF9KMXH
              secret: null
              type: http_delivery_method
              url: https://example.com/receive_a_pagerduty_webhook
            description: Sends PagerDuty v3 webhook events somewhere interesting.
            events:
              - incident.acknowledged
              - incident.annotated
              - incident.delegated
              - incident.escalated
              - incident.priority_updated
              - incident.reassigned
              - incident.resolved
              - incident.responder.added
              - incident.responder.replied
              - incident.triggered
              - incident.unacknowledged
            filter:
              id: P393ZNQ
              type: service_reference
            id: PY1OL64
            type: webhook_subscription
            active: true
        limit: 25
        offset: 0
        total: null
        more: false
    PutSubscriptionExample:
      summary: Update Subscribed Events
      value:
        webhook_subscription:
          events:
            - incident.acknowledged
            - incident.annotated
            - incident.delegated
            - incident.escalated
            - incident.priority_updated
            - incident.reassigned
            - incident.reopened
            - incident.resolved
            - incident.responder.added
            - incident.responder.replied
            - incident.triggered
            - incident.unacknowledged
  parameters:
    header_Accept:
      name: Accept
      description: The `Accept` header is used as a versioning header.
      in: header
      required: true
      schema:
        type: string
        default: application/vnd.pagerduty+json;version=2
    header_Content-Type:
      name: Content-Type
      in: header
      description: Header Content type.
      required: true
      schema:
        type: string
        default: application/json
        enum:
          - application/json
    audit_since:
      name: since
      in: query
      description: The start of the date range over which you want to search. If not specified, defaults to `now() - 24 hours` (past 24 hours)
      schema:
        type: string
        format: date-time
    audit_until:
      name: until
      in: query
      description: The end of the date range over which you want to search. If not specified, defaults to `now()`
      schema:
        type: string
        format: date-time
    audit_root_resource_types:
      name: root_resource_types[]
      in: query
      description: Resource type filter for the root_resource.
      schema:
        type: array
        items:
          type: string
          enum:
            - users
            - teams
            - schedules
            - escalation_policies
            - services
          example: users
    audit_actor_type:
      name: actor_type
      in: query
      description: Actor type filter.
      schema:
        type: string
        example: user_reference
    audit_actor_id:
      name: actor_id
      in: query
      description: Actor Id filter. Must be qualified by providing the `actor_type` param.
      schema:
        type: string
        example: P123456
    audit_method_type:
      name: method_type
      in: query
      description: Method type filter.
      schema:
        type: string
        description: |
          Describes the method used to perform the action:

          `browser` -- authenticated user session. Session value is not returned in the `truncated_token` field.

          `oauth` -- access token obtained via the OAuth flow. Truncated token value is returned in the `truncated_token` field.

          `api_token` -- Pagerduty API token. Truncated token value is returned in the `truncated_token` field.

          `identity_provider` -- action performed by an Identity provider on behalf of a user. No value is returned in the `truncated_token` field.

          `other` -- Method that does not fall in the predefined categories. Truncated token value MAY be returned in the `truncated_token` field.
        enum:
          - browser
          - oauth
          - api_token
          - identity_provider
          - other
    audit_method_truncated_token:
      name: method_truncated_token
      in: query
      description: Method truncated_token filter. Must be qualified by providing the `method_type` param.
      schema:
        type: string
        example: 3xyz
    audit_actions:
      name: actions[]
      in: query
      description: Action filter
      schema:
        type: array
        items:
          type: string
          description: |
            The action executed on the aggregate
          enum:
            - create
            - update
            - delete
    offset_limit:
      name: limit
      in: query
      required: false
      description: The number of results per page.
      schema:
        type: integer
    offset_offset:
      name: offset
      in: query
      required: false
      description: Offset to start pagination search results.
      schema:
        type: integer
    offset_total:
      name: total
      in: query
      required: false
      description: |
        By default the `total` field in pagination responses is set to `null` to provide the fastest possible response times. Set `total` to `true` for this field to be populated.

        See our [Pagination Docs](https://developer.pagerduty.com/docs/rest-api-v2/pagination/) for more information.
      schema:
        default: false
        type: boolean
    past_incidents_limit:
      name: limit
      in: query
      required: false
      description: The number of results to be returned in the response.
      schema:
        type: integer
        default: 5
        minimum: 1
        maximum: 999
    past_incidents_total:
      name: total
      in: query
      required: false
      description: |
        By default the `total` field in the response body is set to `null` to provide the fastest possible response times. Set `total` to `true` for this field to be populated with the total number of Past Incidents.
      schema:
        type: boolean
        default: false
    cursor_limit:
      name: limit
      in: query
      required: false
      description: The minimum of the `limit` parameter used in the request or the maximum request size of the API.
      schema:
        type: integer
    cursor_cursor:
      name: cursor
      in: query
      required: false
      description: |
        Optional parameter used to request the "next" set of results from an API.  The value provided here is most commonly obtained from the `next_cursor` field of the previous request.  When no value is provided, the request starts at the beginning of the result set.
      schema:
        type: string
    early_access_analytics:
      schema:
        type: string
        default: analytics-v2
        enum:
          - analytics-v2
      in: header
      description: |
        This header indicates that this API endpoint is __UNDER CONSTRUCTION__ and may change at any time.  You __MUST__ pass in this header and the above value.  Do not use this endpoint in production, as it may change!
      name: X-EARLY-ACCESS
      required: true
    early_access_status-update-notification-rules:
      name: X-EARLY-ACCESS
      in: header
      description: |
        This header indicates that this API endpoint is __UNDER CONSTRUCTION__ and may change at any time. You __MUST__ pass in this header and the above value. Do not use this endpoint in production, as it may change!
      required: true
      schema:
        type: string
        default: status-update-notification-rules
        enum:
          - status-update-notification-rules
    early_access_bis:
      schema:
        type: string
        default: business-impact-early-access
      in: header
      name: X-EARLY-ACCESS
      description: This header indicates that this API endpoint is __UNDER CONSTRUCTION__ and may change at any time. You __MUST__ pass in this header with the value `business-impact-early-access`. Do not use this endpoint in production, as it may change!
      required: true
    early_access_status_dashboards:
      schema:
        type: string
        default: status-dashboards
      in: header
      name: X-EARLY-ACCESS
      description: This header indicates that this API endpoint is __UNDER CONSTRUCTION__ and may change at any time. You __MUST__ pass in this header with the value `status-dashboards`. Do not use this endpoint in production, as it may change!
      required: true
    webhooks_filter_type:
      name: filter_type
      in: query
      required: false
      description: The type of resource to filter upon.
      schema:
        enum:
          - service
          - team
        type: string
    webhooks_filter_id:
      name: filter_id
      in: query
      required: false
      description: The id of the resource to filter upon.
      schema:
        type: string
    id:
      name: id
      description: The ID of the resource.
      in: path
      required: true
      schema:
        type: string
    ids:
      name: ids[]
      description: The IDs of the resources.
      in: query
      explode: true
      schema:
        type: string
    entity_type:
      name: entity_type
      in: path
      description: Type of entity related with the tag
      required: true
      schema:
        type: string
        enum:
          - users
          - teams
          - escalation_policies
    business_service_id:
      name: business_service_id
      in: path
      description: The business service ID.
      required: true
      schema:
        type: string
    team_user_id:
      name: user_id
      in: path
      description: The user ID on the team.
      required: true
      schema:
        type: string
    team_escalation_policy_id:
      name: escalation_policy_id
      in: path
      description: The escalation policy ID on the team.
      required: true
      schema:
        type: string
    escalation_policy_escalation_rule_id:
      name: escalation_rule_id
      in: path
      description: The escalation rule ID on the escalation policy.
      required: true
      schema:
        type: string
    impacts_additional_fields:
      name: additional_fields[]
      in: query
      description: Provides access to additional fields such as highest priority per business service and total impacted count
      explode: true
      schema:
        type: string
        enum:
          - services.highest_impacting_priority
          - total_impacted_count
    include_addon:
      name: include[]
      in: query
      description: Array of additional Models to include in response.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - services
        uniqueItems: true
    include_escalation_policy:
      name: include[]
      in: query
      description: Array of additional Models to include in response.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - services
            - teams
            - targets
        uniqueItems: true
    include_log_entry:
      name: include[]
      in: query
      description: Array of additional Models to include in response.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - incidents
            - services
            - channels
            - teams
        uniqueItems: true
    include_user:
      name: include[]
      in: query
      description: Array of additional Models to include in response.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - contact_methods
            - notification_rules
            - teams
            - subdomains
        uniqueItems: true
    include_maintenance_window:
      name: include[]
      in: query
      description: Array of additional Models to include in response.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - teams
            - services
            - users
        uniqueItems: true
    include_teams:
      name: include[]
      in: query
      description: Array of additional Models to include in response.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - privileges
        uniqueItems: true
    include_teams_members:
      name: include[]
      in: query
      description: Array of additional Models to include in response.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - users
        uniqueItems: true
    sort_by_escalation_policy:
      name: sort_by
      in: query
      description: Used to specify the field you wish to sort the results on.
      schema:
        type: string
        enum:
          - name
          - name:asc
          - name:desc
        default: name
    sort_by_service:
      name: sort_by
      in: query
      description: Used to specify the field you wish to sort the results on.
      schema:
        type: string
        enum:
          - name
          - name:asc
          - name:desc
        default: name
    schedule_overflow:
      name: overflow
      in: query
      description: |
        Any on-call schedule entries that pass the date range bounds will be truncated at the bounds, unless the parameter `overflow=true` is passed. This parameter defaults to false.
        For instance, if your schedule is a rotation that changes daily at midnight UTC, and your date range is from `2011-06-01T10:00:00Z` to `2011-06-01T14:00:00Z`:


        - If you don't pass the `overflow=true` parameter, you will get one schedule entry returned with a start of `2011-06-01T10:00:00Z` and end of `2011-06-01T14:00:00Z`.
        - If you do pass the `overflow=true` parameter, you will get one schedule entry returned with a start of `2011-06-01T00:00:00Z` and end of `2011-06-02T00:00:00Z`.
      schema:
        type: boolean
        default: false
    schedule_override_id:
      name: override_id
      in: path
      description: The override ID on the schedule.
      required: true
      schema:
        type: string
    team_ids:
      name: team_ids[]
      in: query
      description: An array of team IDs. Only results related to these teams will be returned. Account must have the `teams` ability to use this parameter.
      explode: true
      schema:
        type: array
        items:
          type: string
        uniqueItems: true
    time_zone:
      name: time_zone
      in: query
      description: Time zone in which dates in the result will be rendered.
      schema:
        type: string
        format: tzinfo
        default: UTC
    services:
      name: service_ids[]
      in: query
      description: An array of service IDs. Only results related to these services will be returned.
      explode: true
      schema:
        type: array
        items:
          type: string
    integration_id:
      name: integration_id
      in: path
      description: The integration ID on the service.
      required: true
      schema:
        type: string
    integration_ids:
      name: integration_ids[]
      in: query
      description: An array of integration IDs. Only results related to these integrations will be returned.
      explode: true
      schema:
        type: array
        items:
          type: string
        uniqueItems: true
    log_entry_is_overview:
      name: is_overview
      in: query
      description: If `true`, will return a subset of log entries that show only the most important changes to the incident.
      required: false
      schema:
        type: boolean
        default: false
    since:
      name: since
      in: query
      description: The start of the date range over which you want to search.
      schema:
        type: string
        format: date-time
    until:
      name: until
      in: query
      description: The end of the date range over which you want to search.
      schema:
        type: string
        format: date-time
    url_slug:
      name: url_slug
      in: path
      description: The `url_slug` for a status dashboard
      required: true
      schema:
        type: string
    date_range:
      name: date_range
      in: query
      description: When set to all, the since and until parameters and defaults are ignored.
      schema:
        type: string
        enum:
          - all
    incident_key:
      name: incident_key
      in: query
      description: Incident de-duplication key. Incidents with child alerts do not have an incident key; querying by incident key will return incidents whose alerts have alert_key matching the given incident key.
      schema:
        type: string
    incident_services:
      name: service_ids[]
      in: query
      description: Returns only the incidents associated with the passed service(s). This expects one or more service IDs.
      explode: true
      schema:
        type: array
        items:
          type: string
        uniqueItems: true
    incident_assigned_to_user:
      name: user_ids[]
      in: query
      description: 'Returns only the incidents currently assigned to the passed user(s). This expects one or more user IDs. Note: When using the assigned_to_user filter, you will only receive incidents with statuses of triggered or acknowledged. This is because resolved incidents are not assigned to any user.'
      explode: true
      schema:
        type: array
        items:
          type: string
        uniqueItems: true
    incident_urgencies:
      name: urgencies[]
      in: query
      description: Array of the urgencies of the incidents to be returned. Defaults to all urgencies. Account must have the `urgencies` ability to do this.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - high
            - low
        uniqueItems: true
    from_header:
      name: From
      in: header
      description: The email address of a valid user associated with the account making the request.
      required: true
      schema:
        type: string
        format: email
    optional_from_header:
      name: From
      in: header
      description: The email address of a valid user associated with the account making the request. This is optional, and is only used for change tracking.
      required: false
      schema:
        type: string
        format: email
    user_contact_method_id:
      name: contact_method_id
      in: path
      description: The contact method ID on the user.
      required: true
      schema:
        type: string
    user_notification_rule_id:
      name: notification_rule_id
      in: path
      description: The notification rule ID on the user.
      required: true
      schema:
        type: string
    user_status_update_notification_rule_id:
      name: status_update_notification_rule_id
      in: path
      description: The status update notification rule ID on the user.
      required: true
      schema:
        type: string
    session_id:
      name: session_id
      in: path
      description: The session ID for the user.
      required: true
      schema:
        type: string
    type:
      name: type
      in: path
      description: The session type for the user session ID.
      required: true
      schema:
        type: string
    alert_key:
      name: alert_key
      in: query
      description: Alert de-duplication key.
      schema:
        type: string
    response_play_id:
      name: response_play_id
      in: path
      description: The response play ID of the response play associated with the request.
      required: true
      schema:
        type: string
    query:
      name: query
      in: query
      description: Filters the result, showing only the tags whose labels match the query.
      required: false
      schema:
        type: string
    addon_services:
      name: service_ids[]
      in: query
      description: Filters the results, showing only Add-ons for the given services
      explode: true
      schema:
        type: array
        items:
          type: string
        uniqueItems: true
    addon_filter:
      name: filter
      in: query
      description: Filters the results, showing only Add-ons of the given type
      schema:
        type: string
        enum:
          - full_page_addon
          - incident_show_addon
    change_since:
      name: since
      in: query
      description: The start of the date range over which you want to search, as a UTC ISO 8601 datetime string. Will return an HTTP 400 for non-UTC datetimes.
      schema:
        type: string
        format: date-time
        pattern: YYYY-MM-DDThh:mm:ssZ
    change_until:
      name: until
      in: query
      description: The end of the date range over which you want to search, as a UTC ISO 8601 datetime string. Will return an HTTP 400 for non-UTC datetimes.
      schema:
        type: string
        format: date-time
        pattern: YYYY-MM-DDThh:mm:ssZ
    user_ids_escalation_policies:
      name: user_ids[]
      in: query
      description: Filters the results, showing only escalation policies on which any of the users is a target.
      explode: true
      schema:
        type: array
        items:
          type: string
        uniqueItems: true
    extension_object_id:
      name: extension_object_id
      description: The id of the extension object you want to filter by.
      in: query
      schema:
        type: string
    extension_schema_id:
      name: extension_schema_id
      in: query
      description: Filter the extensions by extension vendor id.
      schema:
        type: string
    include_extensions:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - extension_objects
            - extension_schemas
        uniqueItems: true
    include_extensions_id:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - extension_schemas
            - extension_objects
            - temporarily_disabled
        uniqueItems: true
    statuses_incidents:
      name: statuses[]
      in: query
      description: Return only incidents with the given statuses. (More status codes may be introduced in the future.)
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - triggered
            - acknowledged
            - resolved
        uniqueItems: true
    sort_by_incidents:
      name: sort_by
      in: query
      description: Used to specify both the field you wish to sort the results on (incident_number/created_at/resolved_at/urgency), as well as the direction (asc/desc) of the results. The sort_by field and direction should be separated by a colon. A maximum of two fields can be included, separated by a comma. Sort direction defaults to ascending. The account must have the `urgencies` ability to sort by the urgency.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
        maxItems: 2
        uniqueItems: true
    include_incidents:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - users
            - services
            - first_trigger_log_entries
            - escalation_policies
            - teams
            - assignees
            - acknowledgers
            - priorities
            - conference_bridge
        uniqueItems: true
    since_incidents:
      schema:
        type: string
      in: query
      name: since
      description: The start of the date range over which you want to search. Maximum range is 6 months and default is 1 month.
    until_incidents:
      schema:
        type: string
      in: query
      name: until
      description: The end of the date range over which you want to search. Maximum range is 6 months and default is 1 month.
    statuses_incident_alerts:
      name: statuses[]
      in: query
      description: Return only alerts with the given statuses. (More status codes may be introduced in the future.)
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - triggered
            - resolved
        uniqueItems: true
    sort_by_incident_alerts:
      name: sort_by
      in: query
      description: Used to specify both the field you wish to sort the results on (created_at/resolved_at), as well as the direction (asc/desc) of the results. The sort_by field and direction should be separated by a colon. A maximum of two fields can be included, separated by a comma. Sort direction defaults to ascending.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
            - created_at
            - resolved_at
            - created_at:asc
            - created_at:desc
            - resolved_at:asc
            - resolved_at:desc
        maxItems: 2
        uniqueItems: true
    include_incident_alerts:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - services
            - first_trigger_log_entries
            - incidents
        uniqueItems: true
    alert_id:
      name: alert_id
      in: path
      description: The id of the alert to retrieve.
      required: true
      schema:
        type: string
    statuses_incident_count:
      name: statuses[]
      in: query
      description: Count only incidents with the requested statuses. `all` returns all statuses. If `any` is specified, there will be an additional `any` boolean field in the response that is true if there are any incidents matching the criteria in the request. If no statuses are provided, then only the total count of incidents is returned regardless of status. More status codes may be introduced in the future.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - triggered
            - acknowledged
            - resolved
            - any
            - all
        uniqueItems: true
    filter_maintenance_windows:
      name: filter
      in: query
      description: Only return maintenance windows in a given state.
      schema:
        type: string
        enum:
          - past
          - future
          - ongoing
          - open
          - all
    since_notifications:
      name: since
      in: query
      description: The start of the date range over which you want to search. The time element is optional.
      required: true
      schema:
        type: string
        format: date-time
    until_notifications:
      name: until
      in: query
      description: The end of the date range over which you want to search. This should be in the same format as since. The size of the date range must be less than 3 months.
      required: true
      schema:
        type: string
        format: date-time
    filter_notifications:
      name: filter
      in: query
      description: Return notification of this type only.
      schema:
        type: string
        enum:
          - sms_notification
          - email_notification
          - phone_notification
          - push_notification
    include_notifications:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - users
        uniqueItems: true
    include_oncalls:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - escalation_policies
            - users
            - schedules
        uniqueItems: true
    user_ids_oncalls:
      name: user_ids[]
      in: query
      description: Filters the results, showing only on-calls for the specified user IDs.
      explode: true
      schema:
        type: array
        items:
          type: string
        uniqueItems: true
    escalation_policy_ids_oncalls:
      name: escalation_policy_ids[]
      in: query
      description: Filters the results, showing only on-calls for the specified escalation policy IDs.
      explode: true
      schema:
        type: array
        items:
          type: string
        uniqueItems: true
    schedule_ids_oncalls:
      name: schedule_ids[]
      in: query
      description: Filters the results, showing only on-calls for the specified schedule IDs. If `null` is provided in the array, it includes permanent on-calls due to direct user escalation targets.
      explode: true
      schema:
        type: array
        items:
          type: string
        uniqueItems: true
    since_oncalls:
      name: since
      in: query
      description: The start of the time range over which you want to search. If an on-call period overlaps with the range, it will be included in the result. Defaults to current time. The search range cannot exceed 3 months.
      schema:
        type: string
        format: date-time
    until_oncalls:
      name: until
      in: query
      description: The end of the time range over which you want to search. If an on-call period overlaps with the range, it will be included in the result. Defaults to current time. The search range cannot exceed 3 months, and the `until` time cannot be before the `since` time.
      schema:
        type: string
        format: date-time
    earliest_oncalls:
      name: earliest
      in: query
      description: This will filter on-calls such that only the earliest on-call for each combination of escalation policy, escalation level, and user is returned. This is useful for determining when the "next" on-calls are for a given set of filters.
      schema:
        type: boolean
    filter_for_manual_run:
      name: filter_for_manual_run
      in: query
      description: When this parameter is present, only those Response Plays that can be run manually will be returned.
      schema:
        type: boolean
    rule_id:
      name: rule_id
      in: path
      description: The id of the Event Rule to retrieve.
      required: true
      schema:
        type: string
    since_schedules:
      name: since
      in: query
      description: The start of the date range over which you want to search.
      required: true
      schema:
        type: string
        format: date-time
    until_schedules:
      name: until
      in: query
      description: The end of the date range over which you want to search.
      required: true
      schema:
        type: string
        format: date-time
    editable_schedules:
      name: editable
      in: query
      description: When this parameter is present, only editable overrides will be returned. The result will only include the id of the override if this parameter is present. Only future overrides are editable.
      schema:
        type: boolean
    overflow_schedules:
      name: overflow
      in: query
      description: Any on-call schedule entries that pass the date range bounds will be truncated at the bounds, unless the parameter overflow=true is passed. This parameter defaults to false.
      schema:
        type: boolean
    include_services:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - escalation_policies
            - teams
            - integrations
        uniqueItems: true
    include_services_id:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - escalation_policies
            - teams
        uniqueItems: true
    include_services_integrations:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - services
            - vendors
        uniqueItems: true
    reassignment_team:
      name: reassignment_team
      in: query
      description: |
        Team to reassign unresolved incident to.
        If an unresolved incident exists on both the reassignment team and
        the team being deleted, a duplicate will not be made. If not supplied,
        unresolved incidents will be made account-level.
      required: false
      schema:
        type: string
    include_notification_rules:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - contact_methods
        uniqueItems: true
    additional_details:
      name: additional_details[]
      in: query
      description: Array of additional attributes to any of the returned incidents for related incidents.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - incident
        uniqueItems: true
    include_schedules:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - schedule_layers
        uniqueItems: true
  responses:
    ArgumentError:
      description: Caller provided invalid arguments. Please review the response for error details. Retrying with the same arguments will *not* work.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    Conflict:
      description: The request conflicts with the current state of the server.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: integer
                    readOnly: true
                  message:
                    type: string
                    readOnly: true
                    description: Error message string
                  errors:
                    type: array
                    readOnly: true
                    items:
                      type: string
                      readOnly: true
                      description: Human-readable error details
                example:
                  message: Not Found
                  code: 2100
    Forbidden:
      description: |
        Caller is not authorized to view the requested resource.
        While your authentication is valid, the authenticated user or token does not have permission to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    InternalServerError:
      description: Internal Server Error the PagerDuty server experienced an error.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    NotAllowed:
      description: The request was received and recognized by the server, but its HTTP method was rejected for the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    TooManyRequests:
      description: Too many requests have been made, the rate limit has been reached.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    PaymentRequired:
      description: |
        Account does not have the abilities to perform the action. Please review the response for the required abilities.
        You can also use the [Abilities API](#resource_Abilities) to determine what features are available to your account.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    Unauthorized:
      description: |
        Caller did not supply credentials or did not provide the correct credentials.
        If you are using an API key, it may be invalid or your Authorization header may be malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    UnprocessableEntity:
      description: Unprocessable Entity. Some arguments failed validation checks.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    RequestEntityTooLarge:
      description: Caller provided a request that is too large to process.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    WebhookBadRequest:
      description: |
        Caller provided invalid arguments. Please review the response for error
        details. Retrying with the same arguments will *not* work.
    WebhookUnauthorized:
      description: |
        Caller did not supply credentials or did not provide the correct
        credentials.

        If you are using an API key, it may be invalid or your Authorization header may be malformed.
    WebhookForbidden:
      description: |
        Caller is not authorized to view the requested resource.

        While your authentication is valid, the authenticated user or token does not have permission to perform this action.
    WebhookNotFound:
      description: The requested resource was not found.
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: The API Key with format `Token token=<API_KEY>`
  schemas:
    StatusUpdateNotificationRule:
      type: object
      description: A rule for contacting the user for Incident Status Updates.
      properties:
        contact_method:
          $ref: '#/components/schemas/ContactMethodReference'
      required:
        - contact_method
      example:
        contact_method:
          id: PXPGF42
          type: email_contact_method_reference
    AnalyticsModel:
      type: object
      properties:
        filters:
          type: object
          description: Accepts a set of filters to apply to the Incidents before aggregating.  Any incidents that do not match the included filters will be omitted from the results
          properties:
            created_at_start:
              type: string
              description: Accepts an ISO8601 DateTime string.  Any incidents with a created_at less than this value will be omitted from the results.  The maximum supported time range in conjunction with created_at_end is one year.
              example: '2020-01-01T00:00:00+05:00'
            created_at_end:
              type: string
              description: Accepts an ISO8601 DateTime string.  Any incidents with a created_at greater than or equal to this value will be omitted from the results.  The maximum supported time range in conjunction with created_at_start is one year.
              example: '2020-02-01T00:00:00Z'
            urgency:
              type: string
              description: Any incidents whose urgency does not match the provided string will be omitted from the results.
              example: high
              enum:
                - high
                - low
            major:
              type: boolean
              description: A boolean flag including whether results should contain *only* [major incidents](https://support.pagerduty.com/docs/operational-reviews#major-incidents), or exclude major incidents. If no value is provided all incidents will be included.
              example: true
            team_ids:
              type: array
              description: An array of team IDs. Only incidents related to these teams will be included in the results. If omitted, all teams the requestor has access to will be included in the results.
              items:
                type: string
              example:
                - P373JQQ
                - PAECHJV
                - P7SYGW6
            service_ids:
              type: array
              description: An array of service IDs. Only incidents related to these services will be included in the results. If omitted, all services the requestor has access to will be included in the results.
              items:
                type: string
              example:
                - PSEJLIN
                - PSLWBL8
                - PT4KHLX
            priority_ids:
              type: array
              description: An array of priority IDs. Only incidents with these priorities will be included in the results. If omitted, all services the requestor has access to will be included in the results.
              items:
                type: string
              example:
                - PC8O0L3
                - PX01HJD
                - P5FK83M
            priority_names:
              type: array
              description: An array of user-defined priority names. Only incidents with these priorities will be included in the results. If omitted, all services the requestor has access to will be included in the results.
              items:
                type: string
              example:
                - P1
                - P2
                - P3
        time_zone:
          type: string
          description: The time zone to use for the results and grouping.
          example: Etc/UTC
        aggregate_unit:
          type: string
          description: The time unit to aggregate metrics by.  If no value is provided, the metrics will be aggregated for the entire period.
          nullable: true
          example: day
          enum:
            - day
            - week
            - month
    AnalyticsIncidentMetrics:
      title: Analytics Incident Metrics
      type: object
      properties:
        service_id:
          type: string
          description: ID of the service.  Only included when aggregating by service.
        service_name:
          type: string
          description: Name of the service.  Only included when aggregating by service.
        team_id:
          type: string
          description: ID of the team.
        team_name:
          type: string
          description: Name of the team.
        mean_seconds_to_resolve:
          type: integer
          description: Mean time from when an incident was triggered until it was resolved.
        mean_seconds_to_first_ack:
          type: integer
          description: Mean time between the start of an incident, and the first responder to acknowledge.
        mean_seconds_to_engage:
          type: integer
          description: |-
            A measure of *people response time*. This metric measures the time from
            the first user engagement (acknowledge or responder accept) to the last.
            This metric is only used for incidents with **multiple responders**;
            for incidents with one or no engaged users, this value is null.'
        mean_seconds_to_mobilize:
          type: integer
          description: |-
            Mean time between the start of an incident, and the last additional responder
            to acknowledge. For incidents with one or no engaged users, this value is null.
        mean_engaged_seconds:
          type: integer
          description: |-
            Mean engaged time across all responders for incidents that match the given filters.
            Engaged time is measured from the time a user engages with an incident (by
            acknowledging or accepting a responder request) until the incident is resolved.
            This may include periods in which the incidents was snoozed.
        mean_engaged_user_count:
          type: integer
          description: |-
            Mean number of users who engaged with an incident. *Engaged* is defined as
            acknowledging an incident or accepting a responder request in it.
        total_escalation_count:
          type: integer
          description: |-
            Total count of instances where an incident is escalated between responders
            assigned to an escalation policy.
        mean_assignment_count:
          type: integer
          description: Mean count of instances where an additional responder, who was not on-call for an incident, is added.
        total_business_hour_interruptions:
          type: integer
          description: |-
            Total number of unique interruptions during business hours.
            Business hour: 8am-6pm Mon-Fri, based on the user’s time zone.
        total_sleep_hour_interruptions:
          type: integer
          description: |-
            Total number of unique interruptions during sleep hours.
            Sleep hour: 10pm-8am every day, based on the user’s time zone.
        total_off_hour_interruptions:
          type: integer
          description: |-
            Total number of unique interruptions during off hours.
            Off hour: 6pm-10pm Mon-Fri and all day Sat-Sun, based on the user’s time zone.
        total_snoozed_seconds:
          type: integer
          description: Total number of seconds incidents were snoozed.
        total_engaged_seconds:
          type: integer
          description: |-
            Total engaged time across all responders for incidents. Engaged time is measured from
            the time a user engages with an incident (by acknowledging or accepting a responder request)
            until the incident is resolved. This may include periods in which the incidents was snoozed.'
        up_time_pct:
          type: number
          description: |-
            The percentage of time in the defined date range that the service was not interrupted
            by a [major incident](https://support.pagerduty.com/docs/operational-reviews#major-incidents).
        user_defined_effort_seconds:
          type: integer
          description: |-
            The total response effort in seconds,
            [as defined by the user](https://support.pagerduty.com/docs/editing-incidents#edit-incident-duration).
    AnalyticsRawIncident:
      title: Analytics Raw Incident
      type: object
      properties:
        id:
          type: string
          description: Incident Id
        team_id:
          type: string
          nullable: true
          description: ID of the team the incident was assigned to.
        service_id:
          type: string
          description: ID of the service that the incident triggered on.
        created_at:
          type: string
          description: Timestamp of when the incident was created.
        resolved_at:
          type: string
          description: Timestamp of when the incident was resolved.
        urgency:
          type: string
          description: Notification level
        major:
          type: boolean
          description: An incident is classified as a [major incident](https://support.pagerduty.com/docs/operational-reviews#major-incidents) if it has one of the two highest priorities, or if multiple responders are added and acknowledge the incident.
        priority_id:
          type: string
          nullable: true
          description: ID of the incident's priority level.
        priority_name:
          type: string
          nullable: true
          description: The user-provided short name of the priority.
        priority_order:
          type: integer
          description: The integer representation of the incident's priority level.
        seconds_to_resolve:
          type: integer
          description: Time from when incident triggered until it was resolved.
        seconds_to_first_ack:
          type: integer
          description: Time between start of an incident, and the first responder to acknowledge.
        seconds_to_engage:
          type: integer
          description: Time between start of an incident, and the first responder to acknowledge, or to accept responder request.
        seconds_to_mobilize:
          type: integer
          description: Time between start of an incident, and the last additional responder to acknowledge.  If an incident has one or less responders, the value will be null.
        engaged_seconds:
          type: integer
          description: Total engaged time across all responders for this incident.  Engaged time is measured from the time a user engages with an incident (by acknowledging or accepting a responder request) until the incident is resolved.  This may include periods in which the incident was snoozed.
        engaged_user_count:
          type: integer
          description: Total number of users who engaged (acknowledged, accepted responder request) in the incident.
        escalation_count:
          type: integer
          description: Total count of instances where an incident is escalated between responders assigned to an escalation policy.
        assignment_count:
          type: integer
          description: Total count of instances where an additional responder, who was not on-call for the incident, is added.
        business_hour_interruptions:
          type: integer
          description: |-
            Total number of unique interruptions during business hour.
            Business hour: 8am-6pm Mon-Fri, based on the user’s time zone.
        sleep_hour_interruptions:
          type: integer
          description: |-
            Total number of unique interruptions during sleep hour.
            Sleep hour: 10pm-8am every day, based on the user’s time zone.
        off_hour_interruptions:
          type: integer
          description: |-
            Total number of unique interruptions during off hour.
            Off hour: 6pm-10pm Mon-Fri and all day Sat-Sun, based on the user’s time zone.
        snoozed_seconds:
          type: integer
          description: Total seconds the incident has been snoozed for.
    AuditRecord:
      type: object
      readOnly: true
      description: An Audit Trail record
      properties:
        id:
          type: string
        self:
          type: string
          nullable: true
          description: Record URL.
        execution_time:
          type: string
          format: date-time
          description: The date/time the action executed, in ISO8601 format and millisecond precision.
        execution_context:
          type: object
          description: Action execution context
          properties:
            request_id:
              type: string
              nullable: true
              description: Request Id
            remote_address:
              type: string
              nullable: true
              description: remote address
          nullable: true
        actors:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/Reference'
        method:
          type: object
          description: The method information
          properties:
            description:
              type: string
              nullable: true
            truncated_token:
              description: Truncated token containing the last 4 chars of the token's actual value.
              type: string
              nullable: true
              example: 3xyz
            type:
              type: string
              description: |
                Describes the method used to perform the action:

                `browser` -- authenticated user session. Session value is not returned in the `truncated_token` field.

                `oauth` -- access token obtained via the OAuth flow. Truncated token value is returned in the `truncated_token` field.

                `api_token` -- Pagerduty API token. Truncated token value is returned in the `truncated_token` field.

                `identity_provider` -- action performed by an Identity provider on behalf of a user. No value is returned in the `truncated_token` field.

                `other` -- Method that does not fall in the predefined categories. Truncated token value MAY be returned in the `truncated_token` field.
              enum:
                - browser
                - oauth
                - api_token
                - identity_provider
                - other
          required:
            - type
        root_resource:
          $ref: '#/components/schemas/Reference'
        action:
          type: string
          example: create
        details:
          type: object
          nullable: true
          description: |
            Additional details to provide further information about the action or
            the resource that has been audited.
          properties:
            resource:
              $ref: '#/components/schemas/Reference'
            fields:
              description: |
                A set of fields that have been affected.
                The fields that have not been affected MAY be returned.
              type: array
              nullable: true
              items:
                type: object
                description: |
                  Information about the affected field.
                  When available, field's before and after values are returned:
                    
                  #### Resource creation
                  - `value` MAY be returned

                  #### Resource update
                  - `value` MAY be returned
                  - `before_value` MAY be returned

                  #### Resource deletion
                  - `before_value` MAY be returned
                properties:
                  name:
                    type: string
                    description: Name of the resource field
                    example: name
                  description:
                    type: string
                    nullable: true
                    description: Human readable description of the resource field
                    example: First and Last name
                  value:
                    type: string
                    nullable: true
                    description: new or updated value of the field
                    example: Jonathan
                  before_value:
                    type: string
                    nullable: true
                    description: previous or deleted value of the field
                    example: John
                required:
                  - name
            references:
              description: A set of references that have been affected.
              type: array
              nullable: true
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Name of the reference field
                    example: team_members
                  description:
                    type: string
                    nullable: true
                    description: Human readable description of the references field
                    example: First and Last name
                  added:
                    type: array
                    nullable: true
                    items:
                      $ref: '#/components/schemas/Reference'
                  removed:
                    type: array
                    nullable: true
                    items:
                      $ref: '#/components/schemas/Reference'
                required:
                  - name
          required:
            - resource
      required:
        - id
        - execution_time
        - method
        - root_resource
        - action
    AuditRecordResponseSchema:
      allOf:
        - type: object
          properties:
            records:
              type: array
              items:
                $ref: '#/components/schemas/AuditRecord'
            response_metadata:
              nullable: true
              anyOf:
                - $ref: '#/components/schemas/AuditMetadata'
          required:
            - records
        - $ref: '#/components/schemas/CursorPagination'
    AuditMetadata:
      type: object
      properties:
        messages:
          type: array
          nullable: true
          items:
            type: string
            example: Message about the result
    ServiceEventRule:
      allOf:
        #- $ref: '#/components/schemas/EventRule/allOf/0'
        - type: object
          properties:
            position:
              type: integer
              description: Position/index of the Event Rule on the Service.  Starting from position 0 (the first rule), rules are evaluated one-by-one until a matching Event Rule is found or the end of the list is reached.
            actions:
              $ref: '#/components/schemas/EventRuleActionsCommon'
    EventRuleActionsCommon:
      type: object
      description: When an event matches this Event Rule, the actions that will be taken to change the resulting Alert and Incident.
      properties:
        annotate:
          description: Set a note on the resulting incident.
          type: object
          nullable: true
          required:
            - value
          properties:
            value:
              type: string
              description: The content of the note.
        event_action:
          description: Set whether the resulting alert status is trigger or resolve.
          type: object
          required:
            - value
          nullable: true
          properties:
            value:
              type: string
              enum:
                - trigger
                - resolve
        extractions:
          type: array
          description: Dynamically extract values to set and modify new and existing PD-CEF fields.
          items:
            oneOf:
              - type: object
                required:
                  - target
                  - source
                  - regex
                properties:
                  target:
                    type: string
                    description: The PD-CEF field that will be set with the value from the regex.
                  source:
                    type: string
                    description: The path to the event field where the regex will be applied to extract a value.
                  regex:
                    type: string
                    description: A RE2 regular expression.  If it contains one or more capture groups, their values will be extracted and appended together.  If it contains no capture groups, the whole match is used.
              - type: object
                required:
                  - target
                  - template
                properties:
                  target:
                    type: string
                    description: The PD-CEF field that will be set with the value from the regex.
                  template:
                    type: string
                    description: A value that will be used to populate the target PD-CEF field.  You can include variables extracted from the payload by using string interpolation.
                    example: Error number {{count}} on host {{host}}
        priority:
          description: Set the priority ID for the resulting incident. You can find the priority you want by calling the priorities endpoint.
          type: object
          required:
            - value
          nullable: true
          properties:
            value:
              type: string
              description: The priority ID.
        severity:
          description: Set the severity of the resulting alert.
          type: object
          required:
            - value
          nullable: true
          properties:
            value:
              type: string
              enum:
                - info
                - warning
                - error
                - critical
        suppress:
          description: Set whether the resulting alert is suppressed. Can optionally be used with a threshold where resulting alerts will be suppressed until the threshold is met in a window of time. If using a threshold the rule must also set a route action.
          type: object
          required:
            - value
          properties:
            value:
              type: boolean
            threshold_value:
              type: integer
              description: The number of occurences needed during the window of time to trigger the theshold.
            threshold_time_unit:
              type: string
              description: The time unit for the window of time.
              enum:
                - seconds
                - minutes
                - hours
            threshold_time_amount:
              type: integer
              description: The amount of time units for the window of time.
        suspend:
          description: Set the length of time to suspend the resulting alert before triggering. Rules with a suspend action must also set a route action, and cannot have a suppress with threshold action
          type: object
          required:
            - value
          nullable: true
          properties:
            value:
              type: integer
              description: The amount of time to suspend the alert in seconds.
    EventRule:
      allOf:
        - type: object
          properties:
            id:
              type: string
              readOnly: true
              description: ID of the Event Rule.
            self:
              type: string
              format: url
              description: the API show URL at which the object is accessible.
              readOnly: true
            disabled:
              type: boolean
              description: Indicates whether the Event Rule is disabled and would therefore not be evaluated.
            conditions:
              type: object
              description: Conditions evaluated to check if an event matches this Event Rule. Is always empty for the catch_all rule, though.
              properties:
                operator:
                  type: string
                  description: Operator to combine sub-conditions.
                  enum:
                    - and
                    - or
                subconditions:
                  type: array
                  description: Array of sub-conditions.
                  items:
                    type: object
                    properties:
                      operator:
                        type: string
                        description: The type of operator to apply.
                        enum:
                          - exists
                          - nexists
                          - equals
                          - nequals
                          - contains
                          - ncontains
                          - matches
                          - nmatches
                      parameters:
                        type: object
                        properties:
                          path:
                            type: string
                            description: Path to a field in an event, in dot-notation.  For Event Rules on a serivce, this will have to be a PD-CEF field.
                          value:
                            type: string
                            description: Value to apply to the operator.
                          options:
                            type: object
                            description: Options to configure the operator.
                        required:
                          - value
                          - path
                    required:
                      - operator
                      - parameters
              required:
                - operator
                - subconditions
            time_frame:
              description: Time-based conditions for limiting when the rule is active.
              type: object
              properties:
                active_between:
                  type: object
                  required:
                    - start_time
                    - end_time
                  description: A fixed window of time during which the rule is active.
                  properties:
                    start_time:
                      type: integer
                      description: The start time in milliseconds.
                    end_time:
                      type: integer
[...]
