{
    "openapi": "3.0.1",
    "info": {
        "title": "Lists",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "STARTER",
            "cms": "STARTER"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "You want to bulk add contacts to a particular list, or remove company records from a company list.",
        "x-hubspot-related-documentation": [
            {
                "name": "Lists Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/lists/overview"
            }
        ],
        "x-hubspot-introduction": "Use the lists API to manage list memberships for object lists."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Lists"
        },
        {
            "name": "Memberships"
        },
        {
            "name": "Folders"
        },
        {
            "name": "Mapping"
        }
    ],
    "paths": {
        "/crm/v3/lists/{listId}/update-list-name": {
            "put": {
                "tags": ["Lists"],
                "summary": "Update List Name",
                "description": "Update the name of a list. The name must be globally unique relative to all other public lists in the portal.",
                "operationId": "put-/crm/v3/lists/{listId}/update-list-name_updateName",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list to update.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listName",
                        "in": "query",
                        "description": "The name to update the list to.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeFilters",
                        "in": "query",
                        "description": "A flag indicating whether or not the response object list definition should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/{listId}/memberships/add-and-remove": {
            "put": {
                "tags": ["Memberships"],
                "summary": "Add and/or Remove Records from a List",
                "description": "Add and/or remove records that have already been created in the system to and/or from a list.\n\nThis endpoint only works for lists that have a `processingType` of `MANUAL` or `SNAPSHOT`.",
                "operationId": "put-/crm/v3/lists/{listId}/memberships/add-and-remove_addAndRemove",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the `MANUAL` or `SNAPSHOT` list.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MembershipChangeRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MembershipsUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/{listId}": {
            "get": {
                "tags": ["Lists"],
                "summary": "Fetch List by ID",
                "description": "Fetch a single list by **ILS list ID**.",
                "operationId": "get-/crm/v3/lists/{listId}_getById",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list to fetch.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeFilters",
                        "in": "query",
                        "description": "A flag indicating whether or not the response object list definition should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFetchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.read"]
                    }
                ]
            },
            "delete": {
                "tags": ["Lists"],
                "summary": "Delete a List",
                "description": "Delete a list by **ILS list ID**. Lists deleted through this endpoint can be restored up to 90-days following the delete. After 90-days, the list is purged and can no longer be restored.",
                "operationId": "delete-/crm/v3/lists/{listId}_remove",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list to delete.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/{listId}/update-list-filters": {
            "put": {
                "tags": ["Lists"],
                "summary": "Update List Filter Definition",
                "description": "Update the filter branch definition of a `DYNAMIC` list. Once updated, the list memberships will be re-evaluated and updated to match the new definition.",
                "operationId": "put-/crm/v3/lists/{listId}/update-list-filters_updateListFilters",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list to update.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "enrollObjectsInWorkflows",
                        "in": "query",
                        "description": "A flag indicating whether or not the memberships added to the list as a result of the filter change should be enrolled in workflows that are relevant to this list.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListFilterUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/search": {
            "post": {
                "tags": ["Lists"],
                "summary": "Search Lists",
                "description": "Search lists by list name or page through all lists by providing an empty `query` value.",
                "operationId": "post-/crm/v3/lists/search_doSearch",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListSearchRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListSearchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.read"]
                    }
                ]
            }
        },
        "/crm/v3/lists/folders/move-list": {
            "put": {
                "tags": ["Folders"],
                "summary": "Moves a list to a given folder",
                "description": "Given a list and a folder, the list will be moved to that folder.",
                "operationId": "put-/crm/v3/lists/folders/move-list_moveList",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListMoveRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/{listId}/memberships/add": {
            "put": {
                "tags": ["Memberships"],
                "summary": "Add Records to a List",
                "description": "Add the records provided to the list. Records that do not exist or that are already members of the list are ignored.\n\nThis endpoint only works for lists that have a `processingType` of `MANUAL` or `SNAPSHOT`.",
                "operationId": "put-/crm/v3/lists/{listId}/memberships/add_add",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the `MANUAL` or `SNAPSHOT` list.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MembershipsUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/object-type-id/{objectTypeId}/name/{listName}": {
            "get": {
                "tags": ["Lists"],
                "summary": "Fetch List by Name",
                "description": "Fetch a single list by list name and object type.",
                "operationId": "get-/crm/v3/lists/object-type-id/{objectTypeId}/name/{listName}_getByName",
                "parameters": [
                    {
                        "name": "listName",
                        "in": "path",
                        "description": "The name of the list to fetch. This is **not** case sensitive.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "objectTypeId",
                        "in": "path",
                        "description": "The object type ID of the object types stored by the list to fetch. For example, `0-1` for a `CONTACT` list.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeFilters",
                        "in": "query",
                        "description": "A flag indicating whether or not the response object list definition should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFetchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.read"]
                    }
                ]
            }
        },
        "/crm/v3/lists/folders/{folderId}/move/{newParentFolderId}": {
            "put": {
                "tags": ["Folders"],
                "summary": "Moves a folder",
                "description": "This moves the folder from its current location to a new location. It updates the parent of this folder to the new Id given.",
                "operationId": "put-/crm/v3/lists/folders/{folderId}/move/{newParentFolderId}_move",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "newParentFolderId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFolderFetchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/idmapping": {
            "get": {
                "tags": ["Mapping"],
                "summary": "Translate Legacy List Id to Modern List Id",
                "description": "This API allows translation of legacy list id to list id. This is a temporary API allowed for mapping old id's to new id's and will expire on May 30th, 2025.",
                "operationId": "get-/crm/v3/lists/idmapping_translateLegacyListIdToListId",
                "parameters": [
                    {
                        "name": "legacyListId",
                        "in": "query",
                        "description": "The legacy list id from lists v1 API.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicMigrationMapping"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.read"]
                    }
                ]
            },
            "post": {
                "tags": ["Mapping"],
                "summary": "Translate Legacy List Id to Modern List Id in Batch",
                "description": "This API allows translation of a batch of legacy list id's to list id's. This allows for a maximum of 10,000 id's. This is a temporary API allowed for mapping old id's to new id's and will expire on May 30th, 2025.",
                "operationId": "post-/crm/v3/lists/idmapping_translateLegacyListIdToListIdBatch",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicBatchMigrationMapping"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.read"]
                    }
                ]
            }
        },
        "/crm/v3/lists/{listId}/restore": {
            "put": {
                "tags": ["Lists"],
                "summary": "Restore a List",
                "description": "Restore a previously deleted list by **ILS list ID**. Deleted lists are eligible to be restored up-to 90-days after the list has been deleted.",
                "operationId": "put-/crm/v3/lists/{listId}/restore_restore",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list to restore.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/folders/{folderId}/rename": {
            "put": {
                "tags": ["Folders"],
                "summary": "Rename a folder",
                "description": "Renames the given folderId with a new name.",
                "operationId": "put-/crm/v3/lists/folders/{folderId}/rename_rename",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "newFolderName",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFolderFetchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/{listId}/memberships/join-order": {
            "get": {
                "tags": ["Memberships"],
                "summary": "Fetch List Memberships Ordered by Added to List Date",
                "description": "Fetch the memberships of a list in order sorted by the time the records were added to the list.\n\nThe `recordId`s are sorted in *ascending* order if an `after` offset or no offset is provided. If only a `before` offset is provided, then the records are sorted in *descending* order.\n\nThe `after` offset parameter will take precedence over the `before` offset in a case where both are provided.",
                "operationId": "get-/crm/v3/lists/{listId}/memberships/join-order_getPageOrderedByAddedToListDate",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging offset token for the page that comes `after` the previously requested records.\n\nIf provided, then the records in the response will be the records following the offset, sorted in *ascending* order. Takes precedence over the `before` offset.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "description": "The paging offset token for the page that comes `before` the previously requested records.\n\nIf provided, then the records in the response will be the records preceding the offset, sorted in *descending* order.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return in the response. The maximum `limit` is 250.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.read"]
                    }
                ]
            }
        },
        "/crm/v3/lists/{listId}/memberships/add-from/{sourceListId}": {
            "put": {
                "tags": ["Memberships"],
                "summary": "Add All Records from a Source List to a Destination List",
                "description": "Add all of the records from a *source list* (specified by the `sourceListId`) to a *destination list* (specified by the `listId`). Records that are already members of the *destination list* will be ignored. The *destination* and *source list* IDs must be different. The *destination* and *source lists* must contain records of the same type (e.g. contacts, companies, etc.).\n\nThis endpoint only works for *destination lists* that have a `processingType` of `MANUAL` or `SNAPSHOT`. The *source list* can have any `processingType`.\n\nThis endpoint only supports a `sourceListId` for lists with less than 100,000 memberships.",
                "operationId": "put-/crm/v3/lists/{listId}/memberships/add-from/{sourceListId}_addAllFromList",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the `MANUAL` or `SNAPSHOT` *destination list*, which the *source list* records are added to.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sourceListId",
                        "in": "path",
                        "description": "The **ILS ID** of the *source list* to grab the records from, which are then added to the *destination list*.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/records/{objectTypeId}/{recordId}/memberships": {
            "get": {
                "tags": ["Memberships"],
                "summary": "Get lists record is member of",
                "description": "For given record provide lists this record is member of.",
                "operationId": "get-/crm/v3/lists/records/{objectTypeId}/{recordId}/memberships_getLists",
                "parameters": [
                    {
                        "name": "objectTypeId",
                        "in": "path",
                        "description": "Object type id of the record",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "recordId",
                        "in": "path",
                        "description": "Id of the record",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionResponseRecordListMembershipNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.read"]
                    }
                ]
            }
        },
        "/crm/v3/lists/": {
            "get": {
                "tags": ["Lists"],
                "summary": "Fetch Multiple Lists",
                "description": "Fetch multiple lists in a single request by **ILS list ID**. The response will include the definitions of all lists that exist for the `listIds` provided.",
                "operationId": "get-/crm/v3/lists/_getAll",
                "parameters": [
                    {
                        "name": "listIds",
                        "in": "query",
                        "description": "The **ILS IDs** of the lists to fetch.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "includeFilters",
                        "in": "query",
                        "description": "A flag indicating whether or not the response object list definitions should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListsByIdResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.read"]
                    }
                ]
            },
            "post": {
                "tags": ["Lists"],
                "summary": "Create List",
                "description": "Create a new list with the provided object list definition.",
                "operationId": "post-/crm/v3/lists/_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListCreateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["cms.membership.access_groups.write"]
                    },
                    {
                        "oauth2": ["cms.membership.access_groups.write"]
                    },
                    {
                        "oauth2": ["crm.lists.write"]
                    },
                    {
                        "private_apps": ["crm.lists.write"]
                    }
                ]
            }
        },
        "/crm/v3/lists/folders": {
            "get": {
                "tags": ["Folders"],
                "summary": "Retrieves a folder.",
                "description": "Retrieves a folder and recursively includes all folders via the childNodes attribute.  The child lists field will be empty in all child nodes. Only the folder retrieved will include the child lists in that folder.",
                "operationId": "get-/crm/v3/lists/folders_getAll",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "query",
                        "description": "The Id of the folder to retrieve.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "0"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFolderFetchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.read"]
                    }
                ]
            },
            "post": {
                "tags": ["Folders"],
                "summary": "Creates a folder",
                "description": "Creates a folder with the given information.",
                "operationId": "post-/crm/v3/lists/folders_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListFolderCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFolderCreateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/folders/{folderId}": {
            "delete": {
                "tags": ["Folders"],
                "summary": "Deletes a folder",
                "description": "Deletes the folder with the given Id.",
                "operationId": "delete-/crm/v3/lists/folders/{folderId}_remove",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/{listId}/memberships": {
            "get": {
                "tags": ["Memberships"],
                "summary": "Fetch List Memberships Ordered by ID",
                "description": "Fetch the memberships of a list in order sorted by the `recordId` of the records in the list.\n\nThe `recordId`s are sorted in *ascending* order if an `after` offset or no offset is provided. If only a `before` offset is provided, then the records are sorted in *descending* order.\n\nThe `after` offset parameter will take precedence over the `before` offset in a case where both are provided.",
                "operationId": "get-/crm/v3/lists/{listId}/memberships_getPage",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the list.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging offset token for the page that comes `after` the previously requested records.\n\nIf provided, then the records in the response will be the records following the offset, sorted in *ascending* order. Takes precedence over the `before` offset.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "description": "The paging offset token for the page that comes `before` the previously requested records.\n\nIf provided, then the records in the response will be the records preceding the offset, sorted in *descending* order.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return in the response. The maximum `limit` is 250.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCollectionResponseJoinTimeAndRecordId"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": ["crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.read"]
                    }
                ]
            },
            "delete": {
                "tags": ["Memberships"],
                "summary": "Delete All Records from a List",
                "description": "Remove **all** of the records from a list. ***Note:*** *The list is not deleted.*\n\nThis endpoint only works for lists that have a `processingType` of `MANUAL` or `SNAPSHOT`.\n\nThis endpoint only supports lists that have less than 100,000 memberships.",
                "operationId": "delete-/crm/v3/lists/{listId}/memberships_removeAll",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the `MANUAL` or `SNAPSHOT` list.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        },
        "/crm/v3/lists/{listId}/memberships/remove": {
            "put": {
                "tags": ["Memberships"],
                "summary": "Remove Records from a List",
                "description": "Remove the records provided from the list. Records that do not exist or that are not members of the list are ignored.\n\nThis endpoint only works for lists that have a `processingType` of `MANUAL` or `SNAPSHOT`.",
                "operationId": "put-/crm/v3/lists/{listId}/memberships/remove_remove",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The **ILS ID** of the `MANUAL` or `SNAPSHOT` list.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MembershipsUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    },
                    {
                        "private_apps": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "oauth2": ["crm.lists.write", "crm.lists.read"]
                    },
                    {
                        "private_apps": [
                            "cms.membership.access_groups.write",
                            "crm.lists.read"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "PublicPropertyAssociationFilterBranch": {
                "title": "PROPERTY_ASSOCIATION",
                "required": [
                    "filterBranchOperator",
                    "filterBranchType",
                    "filterBranches",
                    "filters",
                    "objectTypeId",
                    "operator",
                    "propertyWithObjectId"
                ],
                "type": "object",
                "properties": {
                    "filterBranchType": {
                        "type": "string",
                        "enum": ["PROPERTY_ASSOCIATION"],
                        "default": "PROPERTY_ASSOCIATION"
                    },
                    "filterBranches": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/PublicOrFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicAndFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicNotAllFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicNotAnyFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicRestrictedFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicUnifiedEventsFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicPropertyAssociationFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicAssociationFilterBranch"
                                }
                            ]
                        }
                    },
                    "objectTypeId": {
                        "type": "string"
                    },
                    "filterBranchOperator": {
                        "type": "string"
                    },
                    "filters": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/PublicPropertyFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicAssociationInListFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicPageViewAnalyticsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicCtaAnalyticsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicEventAnalyticsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicFormSubmissionFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicFormSubmissionOnPageFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicIntegrationEventFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicEmailSubscriptionFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicCommunicationSubscriptionFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicCampaignInfluencedFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicSurveyMonkeyFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicSurveyMonkeyValueFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicWebinarFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicEmailEventFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicPrivacyAnalyticsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicAdsSearchFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicAdsTimeFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicInListFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicNumAssociationsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicUnifiedEventsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicPropertyAssociationInListFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicConstantFilter"
                                }
                            ]
                        }
                    },
                    "propertyWithObjectId": {
                        "type": "string"
                    },
                    "operator": {
                        "type": "string"
                    }
                }
            },
            "PublicNumberPropertyOperation": {
                "title": "NUMBER",
                "required": [
                    "includeObjectsWithNoValueSet",
                    "operationType",
                    "operator",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "includeObjectsWithNoValueSet": {
                        "type": "boolean"
                    },
                    "operationType": {
                        "type": "string",
                        "enum": ["NUMBER"],
                        "default": "NUMBER"
                    },
                    "value": {
                        "type": "number"
                    },
                    "operator": {
                        "type": "string"
                    }
                }
            },
            "PublicYearReference": {
                "title": "YEAR",
                "required": ["day", "month", "referenceType"],
                "type": "object",
                "properties": {
                    "hour": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "month": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "millisecond": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "referenceType": {
                        "type": "string",
                        "enum": ["YEAR"],
                        "default": "YEAR"
                    },
                    "day": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "minute": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "second": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "PublicInListFilterMetadata": {
                "required": ["id", "inListType"],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "inListType": {
                        "type": "string"
                    }
                }
            },
            "ListFolderFetchResponse": {
                "required": ["folder"],
                "type": "object",
                "properties": {
                    "folder": {
                        "$ref": "#/components/schemas/PublicListFolder"
                    }
                }
            },
            "PublicRangedDatePropertyOperation": {
                "title": "RANGED_DATE",
                "required": [
                    "includeObjectsWithNoValueSet",
                    "lowerBound",
                    "operationType",
                    "operator",
                    "requiresTimeZoneConversion",
                    "upperBound"
                ],
                "type": "object",
                "properties": {
                    "includeObjectsWithNoValueSet": {
                        "type": "boolean"
                    },
                    "upperBound": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "requiresTimeZoneConversion": {
                        "type": "boolean"
                    },
                    "operationType": {
                        "type": "string",
                        "enum": ["RANGED_DATE"],
                        "default": "RANGED_DATE"
                    },
                    "lowerBound": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "operator": {
                        "type": "string"
                    }
                }
            },
            "ListSearchRequest": {
                "type": "object",
                "properties": {
                    "listIds": {
                        "type": "array",
                        "description": "The `listIds` that will be used to filter results by `listId`. If values are provided, then the response will only include results that have a `listId` in this array.\n\nIf no value is provided, or if an empty list is provided, then the results will not be filtered by `listId`.",
                        "items": {
                            "type": "string"
                        }
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Value used to paginate through lists. The `offset` provided in the response can be used in the next request to fetch the next page of results. Defaults to `0` if no offset is provided.",
                        "format": "int32"
                    },
                    "query": {
                        "type": "string",
                        "description": "The `query` that will be used to search for lists by list name. If no `query` is provided, then the results will include all lists."
                    },
                    "count": {
                        "type": "integer",
                        "description": "The number of lists to include in the response. Defaults to `20` if no value is provided. The max `count` is `500`.",
                        "format": "int32"
                    },
                    "processingTypes": {
                        "type": "array",
                        "description": "The `processingTypes` that will be used to filter results by `processingType`. If values are provided, then the response will only include results that have a `processingType` in this array.\n\nIf no value is provided, or if an empty list is provided, then results will not be filtered by `processingType`.\n\nValid `processingTypes` are: `MANUAL`, `SNAPSHOT`, or `DYNAMIC`.",
                        "items": {
                            "type": "string"
                        }
                    },
                    "additionalProperties": {
                        "type": "array",
                        "description": "The property names of any additional list properties to include in the response. Properties that do not exist or that are empty for a particular list are not included in the response.\n\nBy default, all requests will fetch the following properties for each list: `hs_list_size`, `hs_last_record_added_at`, `hs_last_record_removed_at`, `hs_folder_name`, and `hs_list_reference_count`.",
                        "items": {
                            "type": "string"
                        }
                    },
                    "sort": {
                        "type": "string"
                    }
                }
            },
            "ListSearchResponse": {
                "required": ["hasMore", "lists", "offset", "total"],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "description": "The total number of lists that match the search criteria.",
                        "format": "int32"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Value to be passed in a future request to paginate through list search results.",
                        "format": "int32"
                    },
                    "lists": {
                        "type": "array",
                        "description": "The lists that matched the search criteria.",
                        "items": {
                            "$ref": "#/components/schemas/PublicObjectListSearchResult"
                        }
                    },
                    "hasMore": {
                        "type": "boolean",
                        "description": "Whether or not there are more results to page through."
                    }
                }
            },
            "PublicInListFilter": {
                "title": "IN_LIST",
                "required": ["filterType", "listId", "operator"],
                "type": "object",
                "properties": {
                    "listId": {
                        "type": "string"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PublicInListFilterMetadata"
                    },
                    "filterType": {
                        "type": "string",
                        "enum": ["IN_LIST"],
                        "default": "IN_LIST"
                    },
                    "operator": {
                        "type": "string"
                    }
                }
            },
            "PublicSurveyMonkeyValueFilter": {
                "title": "SURVEY_MONKEY_VALUE",
                "required": [
                    "filterType",
                    "operator",
                    "surveyId",
                    "surveyQuestion",
                    "valueComparison"
                ],
                "type": "object",
                "properties": {
                    "valueComparison": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/PublicBoolPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicNumberPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicStringPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicDateTimePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRangedDatePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicComparativePropertyUpdatedOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicComparativeDatePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRollingDateRangePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRollingPropertyUpdatedOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicEnumerationPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicAllPropertyTypesOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRangedNumberPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicMultiStringPropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicDatePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicCalendarDatePropertyOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicTimePointOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRangedTimeOperation"
                            }
                        ]
                    },
                    "surveyId": {
                        "type": "string"
                    },
                    "surveyQuestion": {
                        "type": "string"
                    },
                    "filterType": {
                        "type": "string",
                        "enum": ["SURVEY_MONKEY_VALUE"],
                        "default": "SURVEY_MONKEY_VALUE"
                    },
                    "surveyAnswerRowId": {
                        "type": "string"
                    },
                    "surveyAnswerColId": {
                        "type": "string"
                    },
                    "operator": {
                        "type": "string"
                    }
                }
            },
            "PublicRelativeComparativeTimestampRefineBy": {
                "title": "RELATIVE_COMPARATIVE",
                "required": ["comparison", "timeOffset", "type"],
                "type": "object",
                "properties": {
                    "comparison": {
                        "type": "string"
                    },
                    "timeOffset": {
                        "$ref": "#/components/schemas/PublicTimeOffset"
                    },
                    "type": {
                        "type": "string",
                        "enum": ["RELATIVE_COMPARATIVE"],
                        "default": "RELATIVE_COMPARATIVE"
                    }
                }
            },
            "ListsByIdResponse": {
                "required": ["lists"],
                "type": "object",
                "properties": {
                    "lists": {
                        "type": "array",
                        "description": "The object list definitions.",
                        "items": {
                            "$ref": "#/components/schemas/PublicObjectList"
                        }
                    }
                }
            },
            "PublicCommunicationSubscriptionFilter": {
                "title": "COMMUNICATION_SUBSCRIPTION",
                "required": [
                    "acceptedOptStates",
                    "channel",
                    "filterType",
                    "subscriptionIds",
                    "subscriptionType"
                ],
                "type": "object",
                "properties": {
                    "subscriptionType": {
                        "type": "string"
                    },
                    "subscriptionIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "channel": {
                        "type": "string"
                    },
                    "acceptedOptStates": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "filterType": {
                        "type": "string",
                        "enum": ["COMMUNICATION_SUBSCRIPTION"],
                        "default": "COMMUNICATION_SUBSCRIPTION"
                    },
                    "businessUnitId": {
                        "type": "string"
                    }
                }
            },
            "PublicObjectListSearchResult": {
                "required": [
                    "additionalProperties",
                    "listId",
                    "listVersion",
                    "name",
                    "objectTypeId",
                    "processingStatus",
                    "processingType"
                ],
                "type": "object",
                "properties": {
                    "processingType": {
                        "type": "string",
                        "description": "The processing type of the list."
                    },
                    "objectTypeId": {
                        "type": "string",
                        "description": "The object type of the list."
                    },
                    "updatedById": {
                        "type": "string",
                        "description": "The ID of the user that last updated the list."
                    },
                    "filtersUpdatedAt": {
                        "type": "string",
                        "description": "The time when the filters for this list were last updated.",
                        "format": "date-time"
                    },
                    "listId": {
                        "type": "string",
                        "description": "The **ILS ID** of the list."
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "The time when the list was created.",
                        "format": "date-time"
                    },
                    "processingStatus": {
                        "type": "string",
                        "description": "The processing status of the list."
                    },
                    "deletedAt": {
                        "type": "string",
                        "description": "The time when the list was deleted.",
                        "format": "date-time"
                    },
                    "listVersion": {
                        "type": "integer",
                        "description": "The version of the list.",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the list."
                    },
                    "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "The name and value of any additional properties that exist for this list and that were included in the search request."
                    },
                    "createdById": {
                        "type": "string",
                        "description": "The ID of the user that created the list."
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "The time the list was last updated.",
                        "format": "date-time"
                    }
                }
            },
            "PublicRelativeRangedTimestampRefineBy": {
                "title": "RELATIVE_RANGED",
                "required": [
                    "lowerBoundOffset",
                    "rangeType",
                    "type",
                    "upperBoundOffset"
                ],
                "type": "object",
                "properties": {
                    "upperBoundOffset": {
                        "$ref": "#/components/schemas/PublicTimeOffset"
                    },
                    "rangeType": {
                        "type": "string"
                    },
                    "lowerBoundOffset": {
                        "$ref": "#/components/schemas/PublicTimeOffset"
                    },
                    "type": {
                        "type": "string",
                        "enum": ["RELATIVE_RANGED"],
                        "default": "RELATIVE_RANGED"
                    }
                }
            },
            "PublicIndexOffset": {
                "type": "object",
                "properties": {
                    "milliseconds": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "hours": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "seconds": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "months": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "weeks": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "minutes": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "quarters": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "days": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "years": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "PublicNotAllFilterBranch": {
                "title": "NOT_ALL",
                "required": [
                    "filterBranchOperator",
                    "filterBranchType",
                    "filterBranches",
                    "filters"
                ],
                "type": "object",
                "properties": {
                    "filterBranchType": {
                        "type": "string",
                        "enum": ["NOT_ALL"],
                        "default": "NOT_ALL"
                    },
                    "filterBranches": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/PublicOrFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicAndFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicNotAllFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicNotAnyFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicRestrictedFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicUnifiedEventsFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicPropertyAssociationFilterBranch"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicAssociationFilterBranch"
                                }
                            ]
                        }
                    },
                    "filterBranchOperator": {
                        "type": "string"
                    },
                    "filters": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/PublicPropertyFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicAssociationInListFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicPageViewAnalyticsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicCtaAnalyticsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicEventAnalyticsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicFormSubmissionFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicFormSubmissionOnPageFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicIntegrationEventFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicEmailSubscriptionFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicCommunicationSubscriptionFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicCampaignInfluencedFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicSurveyMonkeyFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicSurveyMonkeyValueFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicWebinarFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicEmailEventFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicPrivacyAnalyticsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicAdsSearchFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicAdsTimeFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicInListFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicNumAssociationsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicUnifiedEventsFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicPropertyAssociationInListFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/PublicConstantFilter"
                                }
                            ]
                        }
                    }
                }
            },
            "PublicBatchMigrationMapping": {
                "required": [
                    "legacyListIdsToIdsMapping",
                    "missingLegacyListIds"
                ],
                "type": "object",
                "properties": {
                    "legacyListIdsToIdsMapping": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicMigrationMapping"
                        }
                    },
                    "missingLegacyListIds": {
                        "type": "array",
                        "description": "A list of legacy list ids that were passed in but not found. It will be empty if no id's are missing",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "PublicFormSubmissionFilter": {
                "title": "FORM_SUBMISSION",
                "required": ["filterType", "operator"],
                "type": "object",
                "properties": {
                    "formId": {
                        "type": "string"
                    },
                    "coalescingRefineBy": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/PublicNumOccurrencesRefineBy"
                            },
                            {
                                "$ref": "#/components/schemas/PublicSetOccurrencesRefineBy"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRelativeRangedTimestampRefineBy"
                            },
                            {
                                "$ref": "#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy"
                            },
                            {
                                "$ref": "#/components/schemas/PublicAbsoluteRangedTimestampRefineBy"
                            },
                            {
                                "$ref": "#/components/schemas/PublicAllHistoryRefineBy"
                            },
                            {
                                "$ref": "#/components/schemas/PublicTimePointOperation"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRangedTimeOperation"
                            }
                        ]
                    },
                    "pruningRefineBy": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/PublicNumOccurrencesRefineBy"
                            },
                            {
                                "$ref": "#/components/schemas/PublicSetOccurrencesRefineBy"
                            },
                            {
                                "$ref": "#/components/schemas/PublicRelativeComparativeTimestampRefineBy"
[...]
