openapi: 3.0.1
servers:
  - url: https://stats.bis.org/api/v1
info:
  x-ballerina-display:
    label: Dracoon Public
    iconPath: "icon.png"
  contact:
    x-twitter: dracoongmbh
  description: "This is the [Dracoon API v4.28.3](https://www.dracoon.com/en/home) OpenAPI specification.
  REST Web Services for DRACOON. <a title='Developer Information' href='https://developer.dracoon.com'>Developer Information</a>&emsp;&emsp;<a title='Get SDKs on GitHub' href='https://github.com/dracoon'>Get SDKs on GitHub</a><br><br><a title='Terms of service' href='https://www.dracoon.com/terms/general-terms-and-conditions/'>Terms of service</a>"
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials.
    Create a [Dracoon account](https://www.dracoon.com/en/home) and obtain OAuth tokens following [this guide](https://cloud.support.dracoon.com/hc/en-us/articles/360001329825-OAuth-2-0-example).
  title: DRACOON API
  version: 4.28.3
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://twitter.com/dracoongmbh/profile_image?size=original
  x-origin:
    - format: openapi
      url: https://dracoon.team/api/spec_v4/
      version: "3.0"
  x-providerName: dracoon.team
security:
  - oauth2: []
tags:
  - name: public
    description: Authentication
paths: 
  "/v4/public/shares/downloads/{access_key}":
    get:
      description: |-
        ### Description:  
        Retrieve the public information of a Download Share.

        ### Precondition:
        None.

        ### Postcondition:
        Download Share information is returned.

        ### Further Information:
        None.
      operationId: requestPublicDownloadShareInfo
      parameters:
        - description: Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))
          in: header
          name: X-Sds-Date-Format
          schema:
            enum:
              - UTC
              - LOCAL
              - OFFSET
              - EPOCH
              - LEET
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDownloadShare"
          description: OK
        "400":
          content:
            application/json:
              examples:
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                "-40751":
                  description: |-
                    
                    * [-40751] File not found
                  summary: File not found
                  value:
                    code: 404
                    debugInfo: File not found
                    errorCode: -40751
                    message: Not Found
                "-50000":
                  description: |-
                    
                    * [-50000] Download access key not found
                  summary: Download access key not found
                  value:
                    code: 404
                    debugInfo: Download access key not found
                    errorCode: -50000
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
      security: []
      summary: Request public Download Share information
      tags:
        - public
    post:
      description: |-
        ### Description:
        Generate a download URL to retrieve a shared file.

        ### Precondition:
        None.

        ### Postcondition:
        Download URL and token are generated and returned.

        ### Further Information:
        Use `downloadUrl` the download `token` is deprecated.
      operationId: generateDownloadUrlPublic
      parameters:
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicDownloadTokenGenerateRequest"
              description: Request model for generating download URL
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDownloadTokenGenerateResponse"
          description: Created
        "400":
          content:
            application/json:
              examples:
                "-50000":
                  description: |-
                    
                    * [-50000] Download access key not found
                  summary: Download access key not found
                  value:
                    code: 404
                    debugInfo: Download access key not found
                    errorCode: -50000
                    message: Not Found
                "-50008":
                  description: |-
                    
                    * [-50008] Client-side encryption passwords should not be sent to the server
                  summary: Client-side encryption passwords should not be sent to the server
                  value:
                    code: 400
                    debugInfo: Client-side encryption passwords should not be sent to the server
                    errorCode: -50008
                    message: Bad Request
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                "-50009":
                  description: |-
                    
                    * [-50009] Wrong password for Download Share link
                  summary: Wrong password for Download Share link
                  value:
                    code: 401
                    debugInfo: Wrong password for Download Share link
                    errorCode: -50009
                    message: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                "-51000":
                  description: |-
                    
                    * [-51000] (Up-) Download Share is temporarily locked
                  summary: (Up-) Download Share is temporarily locked
                  value:
                    code: 403
                    debugInfo: (Up-) Download Share is temporarily locked
                    errorCode: -51000
                    message: Forbidden
                "null":
                  description: Insufficient rights to perform the operation
                  summary: Forbidden
                  value:
                    code: 403
                    debugInfo: ""
                    errorCode: null
                    message: Forbidden
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                "-50000":
                  description: |-
                    
                    * [-50000] Download access key not found
                  summary: Download access key not found
                  value:
                    code: 404
                    debugInfo: Download access key not found
                    errorCode: -50000
                    message: Not Found
                "-50002":
                  description: |-
                    
                    * [-50002] Downloads limit reached
                  summary: Downloads limit reached
                  value:
                    code: 404
                    debugInfo: Downloads limit reached
                    errorCode: -50002
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
      security: []
      summary: Generate download URL
      tags:
        - public
  "/v4/public/shares/downloads/{access_key}/{token}":
    get:
      description: |-
        ### Description:  
        Download a file (or zip archive if target is a folder or room).

        ### Precondition:
        Valid download token.

        ### Postcondition:
        Stream is returned.

        ### Further Information:
        Range requests are supported.  
        Range requests are illegal for zip archive download.
      externalDocs:
        description: Range Requests
        url: https://tools.ietf.org/html/rfc7233
      operationId: downloadFileViaTokenPublic
      parameters:
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
        - description: Download token
          in: path
          name: token
          required: true
          schema:
            type: string
        - description: |-
            Range 

            e.g. `bytes=0-999`
          in: header
          name: Range
          required: false
          schema:
            type: string
        - description: Always return `application/octet-stream` instead of specific mimetype
          in: query
          name: generic_mimetype
          required: false
          schema:
            type: boolean
        - description: "Use Content-Disposition: `inline` instead of `attachment`"
          in: query
          name: inline
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: OK
        "206":
          description: Partial Content
        "400":
          content:
            application/octet-stream:
              examples:
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
                "-80022":
                  description: |-
                    
                    * [-80022] Range cannot be set at ZIP download
                  summary: Range cannot be set at ZIP download
                  value:
                    code: 400
                    debugInfo: Range cannot be set at ZIP download
                    errorCode: -80022
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "404":
          content:
            application/octet-stream:
              examples:
                "-40000":
                  description: |-
                    
                    * [-40000] Container not found
                  summary: Container not found
                  value:
                    code: 404
                    debugInfo: Container not found
                    errorCode: -40000
                    message: Not Found
                "-40751":
                  description: |-
                    
                    * [-40751] File not found
                  summary: File not found
                  value:
                    code: 404
                    debugInfo: File not found
                    errorCode: -40751
                    message: Not Found
                "-41000":
                  description: |-
                    
                    * [-40000] Node not found
                  summary: Node not found
                  value:
                    code: 404
                    debugInfo: Node not found
                    errorCode: -41000
                    message: Not Found
                "-50000":
                  description: |-
                    
                    * [-50000] Download access key not found
                  summary: Download access key not found
                  value:
                    code: 404
                    debugInfo: Download access key not found
                    errorCode: -50000
                    message: Not Found
                "-50001":
                  description: |-
                    
                    * [-50001] Download token not found
                  summary: Download token not found
                  value:
                    code: 404
                    debugInfo: Download token not found
                    errorCode: -50001
                    message: Not Found
                "-50002":
                  description: |-
                    
                    * [-50002] Downloads limit reached
                  summary: Downloads limit reached
                  value:
                    code: 404
                    debugInfo: Downloads limit reached
                    errorCode: -50002
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/octet-stream:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/octet-stream]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
        "416":
          content:
            application/octet-stream:
              examples:
                "null":
                  description: Download range doesn't match pattern
                  summary: Range Not Satisfiable
                  value:
                    code: 416
                    debugInfo: Download range '...' doesn't match pattern '...'
                    errorCode: null
                    message: Range Not Satisfiable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Range Not Satisfiable
      security: []
      summary: Download file with token
      tags:
        - public
    head:
      description: |-
        ### Description:  
        Download a file (or zip archive if target is a folder or room).

        ### Precondition:
        Valid download token.

        ### Postcondition:
        Stream is returned.

        ### Further Information:
        Range requests are supported.  
        Range requests are illegal for zip archive download.
      externalDocs:
        description: Range Requests
        url: https://tools.ietf.org/html/rfc7233
      operationId: downloadFileViaTokenPublic_1
      parameters:
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
        - description: Download token
          in: path
          name: token
          required: true
          schema:
            type: string
        - description: |-
            Range 

            e.g. `bytes=0-999`
          in: header
          name: Range
          required: false
          schema:
            type: string
        - description: Always return `application/octet-stream` instead of specific mimetype
          in: query
          name: generic_mimetype
          required: false
          schema:
            type: boolean
        - description: "Use Content-Disposition: `inline` instead of `attachment`"
          in: query
          name: inline
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: OK
        "206":
          description: Partial Content
        "400":
          content:
            application/octet-stream:
              examples:
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
                "-80022":
                  description: |-
                    
                    * [-80022] Range cannot be set at ZIP download
                  summary: Range cannot be set at ZIP download
                  value:
                    code: 400
                    debugInfo: Range cannot be set at ZIP download
                    errorCode: -80022
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "404":
          content:
            application/octet-stream:
              examples:
                "-40000":
                  description: |-
                    
                    * [-40000] Container not found
                  summary: Container not found
                  value:
                    code: 404
                    debugInfo: Container not found
                    errorCode: -40000
                    message: Not Found
                "-40751":
                  description: |-
                    
                    * [-40751] File not found
                  summary: File not found
                  value:
                    code: 404
                    debugInfo: File not found
                    errorCode: -40751
                    message: Not Found
                "-41000":
                  description: |-
                    
                    * [-40000] Node not found
                  summary: Node not found
                  value:
                    code: 404
                    debugInfo: Node not found
                    errorCode: -41000
                    message: Not Found
                "-50000":
                  description: |-
                    
                    * [-50000] Download access key not found
                  summary: Download access key not found
                  value:
                    code: 404
                    debugInfo: Download access key not found
                    errorCode: -50000
                    message: Not Found
                "-50001":
                  description: |-
                    
                    * [-50001] Download token not found
                  summary: Download token not found
                  value:
                    code: 404
                    debugInfo: Download token not found
                    errorCode: -50001
                    message: Not Found
                "-50002":
                  description: |-
                    
                    * [-50002] Downloads limit reached
                  summary: Downloads limit reached
                  value:
                    code: 404
                    debugInfo: Downloads limit reached
                    errorCode: -50002
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/octet-stream:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/octet-stream]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
        "416":
          content:
            application/octet-stream:
              examples:
                "null":
                  description: Download range doesn't match pattern
                  summary: Range Not Satisfiable
                  value:
                    code: 416
                    debugInfo: Download range '...' doesn't match pattern '...'
                    errorCode: null
                    message: Range Not Satisfiable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Range Not Satisfiable
      security: []
      summary: Download file with token
      tags:
        - public
  "/v4/public/shares/uploads/{access_key}":
    get:
      description: |
        ### Description:  
        Provides information about the desired Upload Share.

        ### Precondition:
        Only `userUserPublicKeyList` is returned to the users who owns one of the following permissions: <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; manage</span>, <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; read</span>, <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; manage download share</span>, <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; manage upload share</span>

        ### Postcondition:
        None.

        ### Further Information:
        If no password is set, the returned information is reduced to the following attributes (if available):

        * `name`
        * `maxSlots`
        * `createdAt`
        * `isProtected`
        * `isEncrypted`
        * `showUploadedFiles`
        * `userUserPublicKeyList` (if parent is end-to-end encrypted)

        Only if the password is transmitted as `X-Sds-Share-Password` header, all values are returned.
      operationId: requestPublicUploadShareInfo
      parameters:
        - description: |-
            Upload share password. Should be base64-encoded.

            Plain X-Sds-Share-Passwords are *deprecated* and will be removed in the future
          in: header
          name: X-Sds-Share-Password
          schema:
            type: string
        - description: Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))
          in: header
          name: X-Sds-Date-Format
          schema:
            enum:
              - UTC
              - LOCAL
              - OFFSET
              - EPOCH
              - LEET
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicUploadShare"
          description: OK
        "400":
          content:
            application/json:
              examples:
                "-50505":
                  description: |-
                    
                    * [-50505] No room user has a keypair
                  summary: No room user has a keypair
                  value:
                    code: 400
                    debugInfo: No room user has a keypair
                    errorCode: -50505
                    message: Bad Request
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                "-50502":
                  description: |-
                    
                    * [-50502] Wrong password for Upload Share link
                  summary: Wrong password for Upload Share link
                  value:
                    code: 401
                    debugInfo: Wrong password for Upload Share link
                    errorCode: -50502
                    message: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              examples:
                "-50501":
                  description: |-
                    
                    * [-50501] Upload access key not found
                  summary: Upload access key not found
                  value:
                    code: 404
                    debugInfo: Upload access key not found
                    errorCode: -50501
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
      security: []
      summary: Request public Upload Share information
      tags:
        - public
    post:
      description: |
        ### Description:  
        Create a new upload channel.

        ### Precondition:
        None.

        ### Postcondition:
        Upload channel is created and corresponding upload URL, token & upload ID are returned.

        ### Further Information:
        Use `uploadUrl` the upload `token` is deprecated.  

        Please provide the size of the intended upload so that the quota can be checked in advanced and no data is transferred unnecessarily.

        ### Node naming convention:
        * Node (room, folder, file) names are limited to **150** characters.
        * Illegal names:  
        `'CON', 'PRN', 'AUX', 'NUL', 'COM1', 'COM2', 'COM3', 'COM4', 'COM5', 'COM6', 'COM7', 'COM8', 'COM9', 'LPT1', 'LPT2', 'LPT3', 'LPT4', 'LPT5', 'LPT6', 'LPT7', 'LPT8', 'LPT9', (and any of those with an extension)`
        * Illegal characters in names:  
        `'\\', '<','>', ':', '\"', '|', '?', '*', '/', leading '-', trailing '.' `
      operationId: createShareUploadChannel
      parameters:
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateShareUploadChannelRequest"
              description: Request model for creating an upload channel
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateShareUploadChannelResponse"
          description: Created
        "400":
          content:
            application/json:
              examples:
                "-40755":
                  description: |-
                    
                    * [-40755] Bad node name
                  summary: Bad node name
                  value:
                    code: 400
                    debugInfo: Bad node name
                    errorCode: -40755
                    message: Bad Request
                "-50505":
                  description: |-
                    
                    * [-50505] No room user has a keypair
                  summary: No room user has a keypair
                  value:
                    code: 400
                    debugInfo: No room user has a keypair
                    errorCode: -50505
                    message: Bad Request
                "-50506":
                  description: |-
                    
                    * [-50506] Exceeds the number of files for this Upload Share
                  summary: Exceeds the number of files for this Upload Share
                  value:
                    code: 400
                    debugInfo: Exceeds the number of files for this Upload Share
                    errorCode: -50506
                    message: Bad Request
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
                "-80001":
                  description: |-
                    
                    * [-80001] Invalid positive number
                  summary: Invalid positive number
                  value:
                    code: 400
                    debugInfo: Invalid positive number
                    errorCode: -80001
                    message: Bad Request
                "-80002":
                  description: |-
                    
                    * [-80002] Invalid number
                  summary: Invalid number
                  value:
                    code: 400
                    debugInfo: Invalid number
                    errorCode: -80002
                    message: Bad Request
                "-80007":
                  description: |-
                    
                    * [-80007] Maximum allowed length is exceeded
                  summary: Maximum allowed length is exceeded
                  value:
                    code: 400
                    debugInfo: Maximum allowed length is exceeded
                    errorCode: -80007
                    message: Bad Request
                "-80037":
                  description: |-
                    
                    * [-80037] Exceeds maximum data length for AES GCM encryption
                  summary: Exceeds maximum data length for AES GCM encryption
                  value:
                    code: 400
                    debugInfo: Exceeds maximum data length for AES GCM encryption
                    errorCode: -80037
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                "-50502":
                  description: |-
                    
                    * [-50502] Wrong password for Upload Share link
                  summary: Wrong password for Upload Share link
                  value:
                    code: 401
                    debugInfo: Wrong password for Upload Share link
                    errorCode: -50502
                    message: Unauthorized
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                "-51000":
                  description: |-
                    
                    * [-51000] (Up-) Download Share is temporarily locked
                  summary: (Up-) Download Share is temporarily locked
                  value:
                    code: 403
                    debugInfo: (Up-) Download Share is temporarily locked
                    errorCode: -51000
                    message: Forbidden
                "null":
                  description: Insufficient rights to perform the operation
                  summary: Forbidden
                  value:
                    code: 403
                    debugInfo: ""
                    errorCode: null
                    message: Forbidden
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                "-50501":
                  description: |-
                    
                    * [-50501] Upload access key not found
                  summary: Upload access key not found
                  value:
                    code: 404
                    debugInfo: Upload access key not found
                    errorCode: -50501
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
        "412":
          content:
            application/json:
              examples:
                "-90030":
                  description: |-
                    
                    * [-90030] S3 storage disabled
                  summary: S3 storage disabled
                  value:
                    code: 412
                    debugInfo: S3 storage disabled
                    errorCode: -90030
                    message: Precondition Failed
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Precondition Failed
        "504":
          content:
            application/json:
              examples:
                "-90027":
                  description: |-
                    
                    * [-90027] S3 connection failed
                  summary: S3 connection failed
                  value:
                    code: 504
                    debugInfo: S3 connection failed
                    errorCode: -90027
                    message: Gateway Timeout
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Gateway Timeout
        "507":
          content:
            application/json:
              examples:
                "-40200":
                  description: |-
                    
                    * [-40200] Exceeds the free node quota in room
                  summary: Exceeds the free node quota in room
                  value:
                    code: 507
                    debugInfo: Exceeds the free node quota in room
                    errorCode: -40200
                    message: Insufficient Storage
                "-50504":
                  description: |-
                    
                    * [-50504] Exceeds the quota for this Upload Share
                  summary: Exceeds the quota for this Upload Share
                  value:
                    code: 507
                    debugInfo: Exceeds the quota for this Upload Share
                    errorCode: -50504
                    message: Insufficient Storage
                "-90200":
                  description: |-
                    
                    * [-90200] Exceeds the free customer quota
                  summary: Exceeds the free customer quota
                  value:
                    code: 507
                    debugInfo: Exceeds the free customer quota
                    errorCode: -90200
                    message: Insufficient Storage
                "-90201":
                  description: |-
                    
                    * [-90201] Exceeds the free customer physical disk space
                  summary: Exceeds the free customer physical disk space
                  value:
                    code: 507
                    debugInfo: Exceeds the free customer physical disk space
                    errorCode: -90201
                    message: Insufficient Storage
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Insufficient Storage
      security: []
      summary: Create new file upload channel
      tags:
        - public
  "/v4/public/shares/uploads/{access_key}/{upload_id}":
    delete:
      description: |-
        ### Description:
        Abort (chunked) upload via Upload Share.

        ### Precondition:
        Valid Upload ID.

        ### Postcondition:
        Aborts upload and invalidates upload ID / token.

        ### Further Information:
        None.
      operationId: cancelFileUploadViaShare
      parameters:
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
        - description: Upload channel ID
          in: path
          name: upload_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                "-50506":
                  description: |-
                    
                    * [-50506] Exceeds the number of files for this Upload Share
                  summary: Exceeds the number of files for this Upload Share
                  value:
                    code: 400
                    debugInfo: Exceeds the number of files for this Upload Share
                    errorCode: -50506
                    message: Bad Request
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                "-20501":
                  description: |-
                    
                    * [-20501] Upload not found
                  summary: Upload not found
                  value:
                    code: 404
                    debugInfo: Upload not found
                    errorCode: -20501
                    message: Not Found
                "-50501":
                  description: |-
                    
                    * [-50501] Upload access key not found
                  summary: Upload access key not found
                  value:
                    code: 404
                    debugInfo: Upload access key not found
                    errorCode: -50501
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
        "504":
          content:
            application/json:
              examples:
                "-90027":
                  description: |-
                    
                    * [-90027] S3 connection failed
                  summary: S3 connection failed
                  value:
                    code: 504
                    debugInfo: S3 connection failed
                    errorCode: -90027
                    message: Gateway Timeout
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Gateway Timeout
        "507":
          content:
            application/json:
              examples:
                "-50504":
                  description: |-
                    
                    * [-50504] Exceeds the quota for this Upload Share
                  summary: Exceeds the quota for this Upload Share
                  value:
                    code: 507
                    debugInfo: Exceeds the quota for this Upload Share
                    errorCode: -50504
                    message: Insufficient Storage
                "-90200":
                  description: |-
                    
                    * [-90200] Exceeds the free customer quota
                  summary: Exceeds the free customer quota
                  value:
                    code: 507
                    debugInfo: Exceeds the free customer quota
                    errorCode: -90200
                    message: Insufficient Storage
                "-90201":
                  description: |-
                    
                    * [-90201] Exceeds the free customer physical disk space
                  summary: Exceeds the free customer physical disk space
                  value:
                    code: 507
                    debugInfo: Exceeds the free customer physical disk space
                    errorCode: -90201
                    message: Insufficient Storage
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Insufficient Storage
      security: []
      summary: Cancel file upload
      tags:
        - public
    get:
      description: |-
        <h3 style='padding: 5px; background-color: #F6F7F8; border: 1px solid #AAA; border-radius: 5px; display: table-cell;'>&#128640; Since v4.15.0</h3>

        ### Description:
        Request status of a S3 file upload.

        ### Precondition:
        An upload channel has been created and the user has <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; create</span> permissions in the parent container (room or folder).

        ### Postcondition:
        Status of S3 multipart upload request is returned.

        ### Further Information:
        None.

        ### Possible errors:
        <details style="padding: 10px; background-color: #F6F7F8; border: 1px solid #AAA; border-radius: 5px;">
        <summary style="cursor: pointer; outline: none"><strong>Expand</strong></summary>

        | Http Status | Error Code | Description |
        | :--- | :--- | :--- |
        | `400 Bad Request` | `-80000` | Mandatory fields cannot be empty |
        | `400 Bad Request` | `-80001` | Invalid positive number |
        | `400 Bad Request` | `-80002` | Invalid number |
        | `400 Bad Request` | `-40001` | (Target) room is not encrypted |
        | `400 Bad Request` | `-40755` | Bad file name |
        | `400 Bad Request` | `-40763` | File key must be set for an upload into encrypted room |
        | `400 Bad Request` | `-50506` | Exceeds the number of files for this Upload Share |
        | `403 Forbidden` |  | Access denied |
        | `404 Not Found` | `-20501` | Upload not found |
        | `404 Not Found` | `-40000` | Container not found |
        | `404 Not Found` | `-41000` | Node not found |
        | `404 Not Found` | `-70501` | User not found |
        | `409 Conflict` | `-40010` | Container cannot be overwritten |
        | `409 Conflict` |  | File cannot be overwritten |
        | `500 Internal Server Error` |  | System Error |
        | `502 Bad Gateway` |  | S3 Error |
        | `502 Insufficient Storage` | `-50504` | Exceeds the quota for this Upload Share |
        | `502 Insufficient Storage` | `-40200` | Exceeds the free node quota in room |
        | `502 Insufficient Storage` | `-90200` | Exceeds the free customer quota |
        | `502 Insufficient Storage` | `-90201` | Exceeds the free customer physical disk space |

        </details>
      operationId: requestUploadStatusPublic
      parameters:
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
        - description: Upload channel ID
          in: path
          name: upload_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/S3ShareUploadStatus"
          description: OK
        "400":
          content:
            application/json:
              examples:
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                "-20501":
                  description: |-
                    
                    * [-20501] Upload not found
                  summary: Upload not found
                  value:
                    code: 404
                    debugInfo: Upload not found
                    errorCode: -20501
                    message: Not Found
                "-40000":
                  description: |-
                    
                    * [-40000] Container not found
                  summary: Container not found
                  value:
                    code: 404
                    debugInfo: Container not found
                    errorCode: -40000
                    message: Not Found
                "-41000":
                  description: |-
                    
                    * [-40000] Node not found
                  summary: Node not found
                  value:
                    code: 404
                    debugInfo: Node not found
                    errorCode: -41000
                    message: Not Found
                "-90034":
                  description: |-
                    
                    * [-90034] Corresponding S3 upload ID not found
                  summary: Corresponding S3 upload ID not found
                  value:
                    code: 404
                    debugInfo: Corresponding S3 upload ID not found
                    errorCode: -90034
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
        "412":
          content:
            application/json:
              examples:
                "-90030":
                  description: |-
                    
                    * [-90030] S3 storage disabled
                  summary: S3 storage disabled
                  value:
                    code: 412
                    debugInfo: S3 storage disabled
                    errorCode: -90030
                    message: Precondition Failed
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Precondition Failed
      security: []
      summary: Request status of S3 file upload
      tags:
        - public
    post:
      description: |-
        ### Description:  
        Chunked upload of files via Upload Share.

        ### Precondition:
        Valid upload ID.

        ### Postcondition:
        Chunk of file is uploaded.

        ### Further Information:
        Chunked uploads (range requests) are supported.

        Following `Content-Types` are supported by this API:
        * `multipart/form-data`
        * provided `Content-Type`  

        For both file upload types set the correct `Content-Type` header and body.  

        ### Examples:  

        * `multipart/form-data`
        ```
        POST /api/v4/public/shares/uploads/{access_key}{upload_id} HTTP/1.1

        Header:
        ...
        Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW
        ...

        Body:
        ------WebKitFormBoundary7MA4YWxkTrZu0gW
        Content-Disposition: form-data; name="file"; filename="file.txt"
        Content-Type: text/plain

        Content of file.txt
        ------WebKitFormBoundary7MA4YWxkTrZu0gW--
        ```

        * any other `Content-Type`  
        ```
        POST /api/v4/public/shares/uploads/{access_key}{upload_id} HTTP/1.1

        Header:
        ...
        Content-Type: { ... }
        ...

        Body:
        raw content
        ```
      externalDocs:
        description: Range Requests
        url: https://tools.ietf.org/html/rfc7233
      operationId: uploadFileAsBinaryPublic_1
      parameters:
        - description: Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))
          in: header
          name: X-Sds-Date-Format
          schema:
            enum:
              - UTC
              - LOCAL
              - OFFSET
              - EPOCH
              - LEET
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
        - description: Upload channel ID
          in: path
          name: upload_id
          required: true
          schema:
            type: string
        - description: |-
            Content-Range 

            e.g. `bytes 0-999/3980`
          in: header
          name: Content-Range
          required: false
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  format: binary
                  type: string
              type: object
        description: File
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChunkUploadResponse"
          description: Created
        "400":
          content:
            application/json:
              examples:
                "-50505":
                  description: |-
                    
                    * [-50505] No room user has a keypair
                  summary: No room user has a keypair
                  value:
                    code: 400
                    debugInfo: No room user has a keypair
                    errorCode: -50505
                    message: Bad Request
                "-50506":
                  description: |-
                    
                    * [-50506] Exceeds the number of files for this Upload Share
                  summary: Exceeds the number of files for this Upload Share
                  value:
                    code: 400
                    debugInfo: Exceeds the number of files for this Upload Share
                    errorCode: -50506
                    message: Bad Request
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
                "-80021":
                  description: |-
                    
                    * [-80021] Incorrect upload Content-Range
                  summary: Incorrect upload Content-Range
                  value:
                    code: 400
                    debugInfo: Incorrect upload Content-Range
                    errorCode: -80021
                    message: Bad Request
                "-80037":
                  description: |-
                    
                    * [-80037] Exceeds maximum data length for AES GCM encryption
                  summary: Exceeds maximum data length for AES GCM encryption
                  value:
                    code: 400
                    debugInfo: Exceeds maximum data length for AES GCM encryption
                    errorCode: -80037
                    message: Bad Request
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ChunkUploadResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                "-20501":
                  description: |-
                    
                    * [-20501] Upload not found
                  summary: Upload not found
                  value:
                    code: 404
                    debugInfo: Upload not found
                    errorCode: -20501
                    message: Not Found
                "-50501":
                  description: |-
                    
                    * [-50501] Upload access key not found
                  summary: Upload access key not found
                  value:
                    code: 404
                    debugInfo: Upload access key not found
                    errorCode: -50501
                    message: Not Found
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ChunkUploadResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ChunkUploadResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
        "412":
          content:
            application/json:
              examples:
                "-90030":
                  description: |-
                    
                    * [-90030] S3 storage disabled
                  summary: S3 storage disabled
                  value:
                    code: 412
                    debugInfo: S3 storage disabled
                    errorCode: -90030
                    message: Precondition Failed
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ChunkUploadResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
          description: Precondition Failed
        "507":
          content:
            application/json:
              examples:
                "-40200":
                  description: |-
                    
                    * [-40200] Exceeds the free node quota in room
                  summary: Exceeds the free node quota in room
                  value:
                    code: 507
                    debugInfo: Exceeds the free node quota in room
                    errorCode: -40200
                    message: Insufficient Storage
                "-50504":
                  description: |-
                    
                    * [-50504] Exceeds the quota for this Upload Share
                  summary: Exceeds the quota for this Upload Share
                  value:
                    code: 507
                    debugInfo: Exceeds the quota for this Upload Share
                    errorCode: -50504
                    message: Insufficient Storage
                "-90200":
                  description: |-
                    
                    * [-90200] Exceeds the free customer quota
                  summary: Exceeds the free customer quota
                  value:
                    code: 507
                    debugInfo: Exceeds the free customer quota
                    errorCode: -90200
                    message: Insufficient Storage
                "-90201":
                  description: |-
                    
                    * [-90201] Exceeds the free customer physical disk space
                  summary: Exceeds the free customer physical disk space
                  value:
                    code: 507
                    debugInfo: Exceeds the free customer physical disk space
                    errorCode: -90201
                    message: Insufficient Storage
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ChunkUploadResponse"
                  - $ref: "#/components/schemas/ErrorResponse"
          description: Insufficient Storage
      security: []
      summary: Upload file
      tags:
        - public
    put:
      description: |
        ### Description:
        Finalize (chunked) upload via Upload Share.

        ### Precondition:
        Valid upload ID.  
        Only returns users that owns one of the following permissions: <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; manage</span>, <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; read</span>, <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; manage download share</span>, <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; manage upload share</span>

        ### Postcondition:
        Finalizes upload.

        ### Further Information:
        Chunked uploads (range requests) are supported.  

        Please ensure that all chunks have been transferred correctly before finishing the upload.  
        If file hash has been created in time a `201 Created` will be responded and hash will be part of response, otherwise it will be a `202 Accepted` without it.
      externalDocs:
        description: Range Requests
        url: https://tools.ietf.org/html/rfc7233
      operationId: completeFileUploadViaShare
      parameters:
        - description: Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))
          in: header
          name: X-Sds-Date-Format
          schema:
            enum:
              - UTC
              - LOCAL
              - OFFSET
              - EPOCH
              - LEET
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
        - description: Upload channel ID
          in: path
          name: upload_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserFileKeyList"
        description: Mandatory for encrypted shares
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicUploadedFileData"
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicUploadedFileData"
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                "-40001":
                  description: |-
                    
                    * [-40001] (Target) room is not encrypted
                  summary: (Target) room is not encrypted
                  value:
                    code: 400
                    debugInfo: (Target) room is not encrypted
                    errorCode: -40001
                    message: Bad Request
                "-40763":
                  description: |-
                    
                    * [-40763] File key must be set for an upload into encrypted room
                  summary: File key must be set for an upload into encrypted room
                  value:
                    code: 400
                    debugInfo: File key must be set for an upload into encrypted room
                    errorCode: -40763
                    message: Bad Request
                "-50505":
                  description: |-
                    
                    * [-50505] No room user has a keypair
                  summary: No room user has a keypair
                  value:
                    code: 400
                    debugInfo: No room user has a keypair
                    errorCode: -50505
                    message: Bad Request
                "-50506":
                  description: |-
                    
                    * [-50506] Exceeds the number of files for this Upload Share
                  summary: Exceeds the number of files for this Upload Share
                  value:
                    code: 400
                    debugInfo: Exceeds the number of files for this Upload Share
                    errorCode: -50506
                    message: Bad Request
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
                "-80001":
                  description: |-
                    
                    * [-80001] Invalid positive number
                  summary: Invalid positive number
                  value:
                    code: 400
                    debugInfo: Invalid positive number
                    errorCode: -80001
                    message: Bad Request
                "-80002":
                  description: |-
                    
                    * [-80002] Invalid number
                  summary: Invalid number
                  value:
                    code: 400
                    debugInfo: Invalid number
                    errorCode: -80002
                    message: Bad Request
                "-80007":
                  description: |-
                    
                    * [-80007] Maximum allowed length is exceeded
                  summary: Maximum allowed length is exceeded
                  value:
                    code: 400
                    debugInfo: Maximum allowed length is exceeded
                    errorCode: -80007
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                "-70020":
                  description: |-
                    
                    * [-70020] User does not have a keypair
                  summary: User does not have a keypair
                  value:
                    code: 403
                    debugInfo: User does not have a keypair
                    errorCode: -70020
                    message: Forbidden
                "null":
                  description: Insufficient rights to perform the operation
                  summary: Forbidden
                  value:
                    code: 403
                    debugInfo: ""
                    errorCode: null
                    message: Forbidden
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                "-20501":
                  description: |-
                    
                    * [-20501] Upload not found
                  summary: Upload not found
                  value:
                    code: 404
                    debugInfo: Upload not found
                    errorCode: -20501
                    message: Not Found
                "-40751":
                  description: |-
                    
                    * [-40751] File not found
                  summary: File not found
                  value:
                    code: 404
                    debugInfo: File not found
                    errorCode: -40751
                    message: Not Found
                "-41000":
                  description: |-
                    
                    * [-40000] Node not found
                  summary: Node not found
                  value:
                    code: 404
                    debugInfo: Node not found
                    errorCode: -41000
                    message: Not Found
                "-50501":
                  description: |-
                    
                    * [-50501] Upload access key not found
                  summary: Upload access key not found
                  value:
                    code: 404
                    debugInfo: Upload access key not found
                    errorCode: -50501
                    message: Not Found
                "-70501":
                  description: |-
                    
                    * [-70501] User not found
                  summary: User not found
                  value:
                    code: 404
                    debugInfo: User not found
                    errorCode: -70501
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
        "412":
          content:
            application/json:
              examples:
                "-90030":
                  description: |-
                    
                    * [-90030] S3 storage disabled
                  summary: S3 storage disabled
                  value:
                    code: 412
                    debugInfo: S3 storage disabled
                    errorCode: -90030
                    message: Precondition Failed
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Precondition Failed
        "504":
          content:
            application/json:
              examples:
                "-90027":
                  description: |-
                    
                    * [-90027] S3 connection failed
                  summary: S3 connection failed
                  value:
                    code: 504
                    debugInfo: S3 connection failed
                    errorCode: -90027
                    message: Gateway Timeout
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Gateway Timeout
        "507":
          content:
            application/json:
              examples:
                "-40200":
                  description: |-
                    
                    * [-40200] Exceeds the free node quota in room
                  summary: Exceeds the free node quota in room
                  value:
                    code: 507
                    debugInfo: Exceeds the free node quota in room
                    errorCode: -40200
                    message: Insufficient Storage
                "-50504":
                  description: |-
                    
                    * [-50504] Exceeds the quota for this Upload Share
                  summary: Exceeds the quota for this Upload Share
                  value:
                    code: 507
                    debugInfo: Exceeds the quota for this Upload Share
                    errorCode: -50504
                    message: Insufficient Storage
                "-90200":
                  description: |-
                    
                    * [-90200] Exceeds the free customer quota
                  summary: Exceeds the free customer quota
                  value:
                    code: 507
                    debugInfo: Exceeds the free customer quota
                    errorCode: -90200
                    message: Insufficient Storage
                "-90201":
                  description: |-
                    
                    * [-90201] Exceeds the free customer physical disk space
                  summary: Exceeds the free customer physical disk space
                  value:
                    code: 507
                    debugInfo: Exceeds the free customer physical disk space
                    errorCode: -90201
                    message: Insufficient Storage
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Insufficient Storage
      security: []
      summary: Complete file upload
      tags:
        - public
  "/v4/public/shares/uploads/{access_key}/{upload_id}/s3":
    put:
      description: |
        <h3 style='padding: 5px; background-color: #F6F7F8; border: 1px solid #AAA; border-radius: 5px; display: table-cell;'>&#128640; Since v4.15.0</h3>

        ### Description:
        Finishes a S3 file upload and closes the corresponding upload channel.

        ### Precondition:
        Valid upload ID.  
        Only returns users that owns one of the following permissions: <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; manage</span>, <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; read</span>, <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; manage download share</span>, <span style='padding: 3px; background-color: #F6F7F8; border: 1px solid #000; border-radius: 5px; display: inline;'>&#128275; manage upload share</span>

        ### Postcondition:
        Upload channel is closed. S3 multipart upload request is completed.

        ### Further Information:
        None.
      operationId: completeS3FileUploadViaShare
      parameters:
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
        - description: Upload channel ID
          in: path
          name: upload_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteS3ShareUploadRequest"
              description: Request model for completing a S3 file upload
        required: true
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                "-20503":
                  description: |-
                    
                    * [-20503] Upload channel is closed
                  summary: Upload channel is closed
                  value:
                    code: 400
                    debugInfo: Upload channel is closed
                    errorCode: -20503
                    message: Bad Request
                "-40001":
                  description: |-
                    
                    * [-40001] (Target) room is not encrypted
                  summary: (Target) room is not encrypted
                  value:
                    code: 400
                    debugInfo: (Target) room is not encrypted
                    errorCode: -40001
                    message: Bad Request
                "-40763":
                  description: |-
                    
                    * [-40763] File key must be set for an upload into encrypted room
                  summary: File key must be set for an upload into encrypted room
                  value:
                    code: 400
                    debugInfo: File key must be set for an upload into encrypted room
                    errorCode: -40763
                    message: Bad Request
                "-50505":
                  description: |-
                    
                    * [-50505] No room user has a keypair
                  summary: No room user has a keypair
                  value:
                    code: 400
                    debugInfo: No room user has a keypair
                    errorCode: -50505
                    message: Bad Request
                "-50506":
                  description: |-
                    
                    * [-50506] Exceeds the number of files for this Upload Share
                  summary: Exceeds the number of files for this Upload Share
                  value:
                    code: 400
                    debugInfo: Exceeds the number of files for this Upload Share
                    errorCode: -50506
                    message: Bad Request
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
                "-80001":
                  description: |-
                    
                    * [-80001] Invalid positive number
                  summary: Invalid positive number
                  value:
                    code: 400
                    debugInfo: Invalid positive number
                    errorCode: -80001
                    message: Bad Request
                "-80002":
                  description: |-
                    
                    * [-80002] Invalid number
                  summary: Invalid number
                  value:
                    code: 400
                    debugInfo: Invalid number
                    errorCode: -80002
                    message: Bad Request
                "-80007":
                  description: |-
                    
                    * [-80007] Maximum allowed length is exceeded
                  summary: Maximum allowed length is exceeded
                  value:
                    code: 400
                    debugInfo: Maximum allowed length is exceeded
                    errorCode: -80007
                    message: Bad Request
                "-80045":
                  description: |-
                    
                    * [-80045] Invalid Etag(s)
                  summary: Invalid Etag(s)
                  value:
                    code: 400
                    debugInfo: Invalid Etag(s)
                    errorCode: -80045
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                "-20501":
                  description: |-
                    
                    * [-20501] Upload not found
                  summary: Upload not found
                  value:
                    code: 404
                    debugInfo: Upload not found
                    errorCode: -20501
                    message: Not Found
                "-40751":
                  description: |-
                    
                    * [-40751] File not found
                  summary: File not found
                  value:
                    code: 404
                    debugInfo: File not found
                    errorCode: -40751
                    message: Not Found
                "-41000":
                  description: |-
                    
                    * [-40000] Node not found
                  summary: Node not found
                  value:
                    code: 404
                    debugInfo: Node not found
                    errorCode: -41000
                    message: Not Found
                "-50501":
                  description: |-
                    
                    * [-50501] Upload access key not found
                  summary: Upload access key not found
                  value:
                    code: 404
                    debugInfo: Upload access key not found
                    errorCode: -50501
                    message: Not Found
                "-70501":
                  description: |-
                    
                    * [-70501] User not found
                  summary: User not found
                  value:
                    code: 404
                    debugInfo: User not found
                    errorCode: -70501
                    message: Not Found
                "-90034":
                  description: |-
                    
                    * [-90034] Corresponding S3 upload ID not found
                  summary: Corresponding S3 upload ID not found
                  value:
                    code: 404
                    debugInfo: Corresponding S3 upload ID not found
                    errorCode: -90034
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
        "412":
          content:
            application/json:
              examples:
                "-90030":
                  description: |-
                    
                    * [-90030] S3 storage disabled
                  summary: S3 storage disabled
                  value:
                    code: 412
                    debugInfo: S3 storage disabled
                    errorCode: -90030
                    message: Precondition Failed
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Precondition Failed
      security: []
      summary: Complete S3 file upload
      tags:
        - public
  "/v4/public/shares/uploads/{access_key}/{upload_id}/s3_urls":
    post:
      description: |-
        <h3 style='padding: 5px; background-color: #F6F7F8; border: 1px solid #AAA; border-radius: 5px; display: table-cell;'>&#128640; Since v4.15.0</h3>

        ### Description:
        Generate presigned URLs for S3 file upload.

        ### Precondition:
        Valid upload ID

        ### Postcondition:
        List of presigned URLs is returned.

        ### Further Information:
        The size for each part must be >= 5 MB, except for the last part.  
        The part number of the first part in S3 is 1 (not 0).  
        Use HTTP method `PUT` for uploading bytes via presigned URL.
      operationId: generatePresignedUrlsPublic
      parameters:
        - description: Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))
          in: header
          name: X-Sds-Date-Format
          schema:
            enum:
              - UTC
              - LOCAL
              - OFFSET
              - EPOCH
              - LEET
        - description: Access key
          in: path
          name: access_key
          required: true
          schema:
            type: string
        - description: Upload channel ID
          in: path
          name: upload_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeneratePresignedUrlsRequest"
              description: Request model for generating presigned URLs
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PresignedUrlList"
          description: Created
        "400":
          content:
            application/json:
              examples:
                "-20503":
                  description: |-
                    
                    * [-20503] Upload channel is closed
                  summary: Upload channel is closed
                  value:
                    code: 400
                    debugInfo: Upload channel is closed
                    errorCode: -20503
                    message: Bad Request
                "-80000":
                  description: |-
                    
                    * [-80000] Mandatory fields cannot be empty
                  summary: Mandatory fields cannot be empty
                  value:
                    code: 400
                    debugInfo: Mandatory fields cannot be empty
                    errorCode: -80000
                    message: Bad Request
                "-80001":
                  description: |-
                    
                    * [-80001] Invalid positive number
                  summary: Invalid positive number
                  value:
                    code: 400
                    debugInfo: Invalid positive number
                    errorCode: -80001
                    message: Bad Request
                "-80002":
                  description: |-
                    
                    * [-80002] Invalid number
                  summary: Invalid number
                  value:
                    code: 400
                    debugInfo: Invalid number
                    errorCode: -80002
                    message: Bad Request
                "-80046":
                  description: |-
                    
                    * [-80046] Invalid size
                  summary: Invalid size
                  value:
                    code: 400
                    debugInfo: Invalid size
                    errorCode: -80046
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                "null":
                  description: Insufficient rights to perform the operation
                  summary: Forbidden
                  value:
                    code: 403
                    debugInfo: ""
                    errorCode: null
                    message: Forbidden
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                "-20501":
                  description: |-
                    
                    * [-20501] Upload not found
                  summary: Upload not found
                  value:
                    code: 404
                    debugInfo: Upload not found
                    errorCode: -20501
                    message: Not Found
                "-40000":
                  description: |-
                    
                    * [-40000] Container not found
                  summary: Container not found
                  value:
                    code: 404
                    debugInfo: Container not found
                    errorCode: -40000
                    message: Not Found
                "-41000":
                  description: |-
                    
                    * [-40000] Node not found
                  summary: Node not found
                  value:
                    code: 404
                    debugInfo: Node not found
                    errorCode: -41000
                    message: Not Found
                "-90034":
                  description: |-
                    
                    * [-90034] Corresponding S3 upload ID not found
                  summary: Corresponding S3 upload ID not found
                  value:
                    code: 404
                    debugInfo: Corresponding S3 upload ID not found
                    errorCode: -90034
                    message: Not Found
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
        "412":
          content:
            application/json:
              examples:
                "-90030":
                  description: |-
                    
                    * [-90030] S3 storage disabled
                  summary: S3 storage disabled
                  value:
                    code: 412
                    debugInfo: S3 storage disabled
                    errorCode: -90030
                    message: Precondition Failed
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Precondition Failed
        "504":
          content:
            application/json:
              examples:
                "-90027":
                  description: |-
                    
                    * [-90027] S3 connection failed
                  summary: S3 connection failed
                  value:
                    code: 504
                    debugInfo: S3 connection failed
                    errorCode: -90027
                    message: Gateway Timeout
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Gateway Timeout
        "507":
          content:
            application/json:
              examples:
                "-50504":
                  description: |-
                    
                    * [-50504] Exceeds the quota for this Upload Share
                  summary: Exceeds the quota for this Upload Share
                  value:
                    code: 507
                    debugInfo: Exceeds the quota for this Upload Share
                    errorCode: -50504
                    message: Insufficient Storage
                "-90200":
                  description: |-
                    
                    * [-90200] Exceeds the free customer quota
                  summary: Exceeds the free customer quota
                  value:
                    code: 507
                    debugInfo: Exceeds the free customer quota
                    errorCode: -90200
                    message: Insufficient Storage
                "-90201":
                  description: |-
                    
                    * [-90201] Exceeds the free customer physical disk space
                  summary: Exceeds the free customer physical disk space
                  value:
                    code: 507
                    debugInfo: Exceeds the free customer physical disk space
                    errorCode: -90201
                    message: Insufficient Storage
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Insufficient Storage
      security: []
      summary: Generate presigned URLs for S3 file upload
      tags:
        - public
  /v4/public/software/third_party_dependencies:
    get:
      description: |+
        <h3 style='padding: 5px; background-color: #F6F7F8; border: 1px solid #AAA; border-radius: 5px; display: table-cell;'>&#128640; Since v4.9.0</h3>

        ### Description:  
        Provides information about used third-party software dependencies.

        ### Precondition:
        None.

        ### Postcondition:
        List of the third-party software dependencies used by **DRACOON Core** (referred to as _"Server"_) is returned.

        ### Further Information:
        None.

      operationId: requestThirdPartyDependencies
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ThirdPartyDependenciesData"
                type: array
          description: OK
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
      security: []
      summary: Request third-party software dependencies
      tags:
        - public
  /v4/public/software/version:
    get:
      description: |-
        ### Description:  
        Public software version information.

        ### Precondition:
        None.

        ### Postcondition:
        Sofware version information is returned.

        ### Further Information:
        The version of DRACOON Server consists of two components:
        * **API**
        * **Core** (referred to as _"Server"_)

        which are versioned individually.
      operationId: requestSoftwareVersion
      parameters:
        - description: Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))
          in: header
          name: X-Sds-Date-Format
          schema:
            enum:
              - UTC
              - LOCAL
              - OFFSET
              - EPOCH
              - LEET
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareVersionData"
          description: OK
        "406":
          content:
            application/json:
              examples:
                "null":
                  description: "Acceptable Content-Types are: `[application/json]`"
                  summary: Content type not acceptable
                  value:
                    code: 406
                    debugInfo: "Content type '...' not acceptable. Acceptable Content-Types are: [...]"
                    errorCode: null
                    message: Not Acceptable
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Acceptable
      security: []
      summary: Request software version information
      tags:
        - public
  /v4/public/system/info:
    get:
      description: |-
        ### Description:  
        Provides information about system.

        ### Precondition:
        None.

        ### Postcondition:
        System information is returned.

        ### Further Information:
        Authentication methods are sorted by **priority** attribute.  
        Smaller values have higher priority.  
        Authentication method with highest priority is considered as default.

        ### System information:
        <details style="padding: 10px; background-color: #F6F7F8; border: 1px solid #AAA; border-radius: 5px;">
        <summary style="cursor: pointer; outline: none"><strong>Expand</strong></summary>

        | Setting | Description | Value |
        | :--- | :--- | :--- |
        | `languageDefault` | Defines which language should be default. | `ISO 639-1 code` |
        | `hideLoginInputFields` | Defines if login fields should be hidden. | `true or false` |
        | `s3Hosts` | List of available S3 hosts. | `String array` |
        | `s3EnforceDirectUpload` | Determines whether S3 direct upload is enforced or not. | `true or false` |
        | `useS3Storage` | Determines whether S3 Storage enabled and used. | `true or false` |

        </details>

        ### Authentication methods:
        <details style="padding: 10px; background-color: #F6F7F8; border: 1px solid #AAA; border-radius: 5px;">
        <summary style="cursor: pointer; outline: none"><strong>Expand</strong></summary>

        | Authentication Method | Description |
        | :--- | :--- |
        | `basic` | **Basic** authentication globally allowed.<br>This option **MUST** be activated to allow users to log in with their credentials stored in the database.<br>Formerly known as `sql`. |
        | `active_directory` | **Active Directory** authentication globally allowed.<br>This option **MUST** be activated to allow users to log in with their Active Directory credentials. |
        | `radius` | **RADIUS** authentication globally allowed.<br>This option **MUST** be activated to allow users to log in with their RADIUS username, their PIN and a token password. |
        | `openid` | **OpenID Connect** authentication globally allowed.This option **MUST** be activated to allow users to log in with their OpenID Connect identity. |
        | `hideLoginInputFields` | Determines whether input fields for login should be enabled | `true or false` |

        </details>
      externalDocs:
        description: Tags for Identifying Languages
        url: https://tools.ietf.org/html/rfc5646
      operationId: requestSystemInfo
      parameters:
        - description: Show only enabled authentication methods
          in: query
          name: is_enabled
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemInfo"
          description: OK
        "400":
          content:
            application/json:
              examples:
                "-80005":
                  description: |-
                    
                    * [-80005] Invalid boolean value
                  summary: Invalid boolean value
                  value:
                    code: 400
                    debugInfo: Invalid boolean value
                    errorCode: -80005
                    message: Bad Request
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "406":
[...]
