{
    "openapi": "3.0.1",
    "info": {
        "title": "Hubdb",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "PROFESSIONAL",
            "cms": "PROFESSIONAL"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "Store inventory data in HubDB tables for both record keeping and generating dynamic pages for listing products on your website.",
        "x-hubspot-related-documentation": [
            {
                "name": "HubDB Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/cms/hubdb"
            }
        ],
        "x-hubspot-introduction": "Use the HubDB API to create and manage HubDB tables in the account, as well as import, retrieve, and manage individual table data."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Tables"
        },
        {
            "name": "Rows"
        },
        {
            "name": "Rows Batch"
        }
    ],
    "paths": {
        "/cms/v3/hubdb/tables/{tableIdOrName}/draft/export": {
            "get": {
                "tags": ["Tables"],
                "summary": "Export a draft table",
                "description": "Exports the draft version of a table to CSV / EXCEL format.",
                "operationId": "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft/export_exportDraftTable",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to export.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The file format to export. Possible values include `CSV`, `XLSX`, and `XLS`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/vnd.ms-excel": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/draft": {
            "get": {
                "tags": ["Tables"],
                "summary": "Return all draft tables",
                "description": "Returns the details for each draft table defined in the specified account, including column definitions.",
                "operationId": "get-/cms/v3/hubdb/tables/draft_getAllDraftTables",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 1000.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "createdAt",
                        "in": "query",
                        "description": "Only return tables created at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "Only return tables created after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Only return tables created before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAt",
                        "in": "query",
                        "description": "Only return tables last updated at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAfter",
                        "in": "query",
                        "description": "Only return tables last updated after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedBefore",
                        "in": "query",
                        "description": "Only return tables last updated before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "contentType",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return archived tables. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft": {
            "get": {
                "tags": ["Rows"],
                "summary": "Get rows from draft table",
                "description": "Returns rows in the draft version of the specified table. Row results can be filtered and sorted. Filtering and sorting options will be sent as query parameters to the API request. For example, by adding the query parameters `column1__gt=5&sort=-column1`, API returns the rows with values for column `column1` greater than 5 and in the descending order of `column1` values. Refer to the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) for detailed filtering and sorting options.",
                "operationId": "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft_readDraftTableRows",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to query.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Specifies the column names to sort the results by.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is `1000`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "Specify the column names to get results containing only the required columns instead of all column details. If you want to include multiple columns in the result, use this query param as many times. ",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}": {
            "get": {
                "tags": ["Rows"],
                "summary": "Get a table row",
                "description": "Get a single row by ID from the published version of a table.\n**Note:** This endpoint can be accessed without any authentication, if the table is set to be allowed for public access.",
                "operationId": "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}_getTableRow",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rowId",
                        "in": "path",
                        "description": "The ID of the row",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": "\\d+",
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone": {
            "post": {
                "tags": ["Rows"],
                "summary": "Clone a row",
                "description": "Clones a single row in the draft version of a table.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone_cloneDraftTableRow",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rowId",
                        "in": "path",
                        "description": "The ID of the row",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": "\\d+",
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset": {
            "post": {
                "tags": ["Tables"],
                "summary": "Reset a draft table",
                "description": "Replaces the data in the draft version of the table with values from the published version. Any unpublished changes in the draft will be lost after this call is made.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset_resetDraftTable",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to reset.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeForeignIds",
                        "in": "query",
                        "description": "Set this to `true` to populate foreign ID values in the response.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/export": {
            "get": {
                "tags": ["Tables"],
                "summary": "Export a published version of a table",
                "description": "Exports the published version of a table in a specified format.",
                "operationId": "get-/cms/v3/hubdb/tables/{tableIdOrName}/export_exportTable",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to export.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "The file format to export. Possible values include `CSV`, `XLSX`, and `XLS`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/vnd.ms-excel": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace": {
            "post": {
                "tags": ["Rows Batch"],
                "summary": "Replace rows in batch in draft table",
                "description": "Replaces multiple rows as a batch in the draft version of the table, with a maximum of 100 rows per call. See the endpoint `PUT /tables/{tableIdOrName}/rows/{rowId}/draft` for details on updating a single row.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace_replaceDraftTableRows",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone": {
            "post": {
                "tags": ["Tables"],
                "summary": "Clone a table",
                "description": "Clone an existing HubDB table. The `newName` and `newLabel` of the new table can be sent as JSON in the request body. This will create the cloned table as a draft.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone_cloneDraftTable",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to clone.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubDbTableCloneRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge": {
            "post": {
                "tags": ["Rows Batch"],
                "summary": "Permanently deletes rows",
                "description": "Permanently deletes rows from the draft version of the table, given a set of row IDs. Maximum of 100 row IDs per call.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge_purgeDraftTableRows",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/draft/import": {
            "post": {
                "tags": ["Tables"],
                "summary": "Import data into draft table",
                "description": "Import the contents of a CSV file into an existing HubDB table. The data will always be imported into the draft version of the table. Use the `/publish` endpoint to push these changes to the published version.\nThis endpoint takes a multi-part POST request. The first part will be a set of JSON-formatted options for the import and you can specify this with the name as `config`.  The second part will be the CSV file you want to import and you can specify this with the name as `file`. Refer the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#importing-tables) to check the details and format of the JSON-formatted options for the import.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/import_importDraftTable",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID of the destination table where data will be imported.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "config": {
                                        "type": "string"
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImportResult"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft": {
            "get": {
                "tags": ["Rows"],
                "summary": "Get a row from the draft table",
                "description": "Get a single row by ID from a table's draft version.",
                "operationId": "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_getDraftTableRowById",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rowId",
                        "in": "path",
                        "description": "The ID of the row",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": "\\d+",
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            },
            "put": {
                "tags": ["Rows"],
                "summary": "Replaces an existing row",
                "description": "Replace a single row in the draft version of a table. All column values must be specified. If a column has a value in the target table and this request doesn't define that value, it will be deleted.\nSee the \"Create a row\" endpoint for instructions on how to format the JSON row definitions.",
                "operationId": "put-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_replaceDraftTableRow",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rowId",
                        "in": "path",
                        "description": "The ID of the row",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": "\\d+",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubDbTableRowV3Request"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            },
            "delete": {
                "tags": ["Rows"],
                "summary": "Permanently deletes a row",
                "description": "Permanently deletes a row from a table's draft version.",
                "operationId": "delete-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_purgeDraftTableRow",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rowId",
                        "in": "path",
                        "description": "The ID of the row",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": "\\d+",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            },
            "patch": {
                "tags": ["Rows"],
                "summary": "Updates an existing row",
                "description": "Sparse updates a single row in the table's draft version.\nAll the column values need not be specified. Only the columns or fields that needs to be modified can be specified.\nSee the \"Create a row\" endpoint for instructions on how to format the JSON row definitions.",
                "operationId": "patch-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft_updateDraftTableRow",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rowId",
                        "in": "path",
                        "description": "The ID of the row",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": "\\d+",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubDbTableRowV3Request"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows": {
            "get": {
                "tags": ["Rows"],
                "summary": "Get rows for a table",
                "description": "Returns a set of rows in the published version of the specified table. Row results can be filtered and sorted. Filtering and sorting options will be sent as query parameters to the API request. For example, by adding the query parameters `column1__gt=5&sort=-column1`, API returns the rows with values for column `column1` greater than 5 and in the descending order of `column1` values. Refer to the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) for detailed filtering and sorting options.\n**Note:** This endpoint can be accessed without any authentication, if the table is set to be allowed for public access.",
                "operationId": "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows_getTableRows",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to query.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Specifies the column names to sort the results by. See the above description for more details.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is `1000`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "Specify the column names to get results containing only the required columns instead of all column details.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            },
            "post": {
                "tags": ["Rows"],
                "summary": "Add a new row to a table",
                "description": "Add a new row to a HubDB table. New rows will be added to the draft version of the table. Use the `/publish` endpoint to push these changes to published version.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows_createTableRow",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the target table.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubDbTableRowV3Request"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read": {
            "post": {
                "tags": ["Rows Batch"],
                "summary": "Get a set of rows",
                "description": "Returns rows in the published version of the specified table, given a set of row IDs.\n**Note:** This endpoint can be accessed without any authentication if the table is set to be allowed for public access.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read_readTableRows",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to query.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create": {
            "post": {
                "tags": ["Rows Batch"],
                "summary": "Create rows in batch",
                "description": "Creates rows in the draft version of the specified table, given an array of row objects. Maximum of 100 row object per call. See the overview section for more details with an example.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create_createDraftTableRows",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputHubDbTableRowV3Request"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}": {
            "get": {
                "tags": ["Tables"],
                "summary": "Get details of a published table",
                "description": "Returns the details for the published version of the specified table. This will include the definitions for the columns in the table and the number of rows in the table.\n\n**Note:** This endpoint can be accessed without any authentication if the table is set to be allowed for public access. To do so, you'll need to include the HubSpot account ID in a `portalId` query parameter.",
                "operationId": "get-/cms/v3/hubdb/tables/{tableIdOrName}_getTableDetails",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to return.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isGetLocalizedSchema",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Set this to `true` to return details for an archived table. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "includeForeignIds",
                        "in": "query",
                        "description": "Set this to `true` to populate foreign ID values in the result.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            },
            "delete": {
                "tags": ["Tables"],
                "summary": "Archive a table",
                "description": "Archive (soft delete) an existing HubDB table. This archives both the published and draft versions.",
                "operationId": "delete-/cms/v3/hubdb/tables/{tableIdOrName}_archiveTable",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to archive.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read": {
            "post": {
                "tags": ["Rows Batch"],
                "summary": "Get a set of rows from draft table",
                "description": "Returns rows in the draft version of the specified table, given a set of row IDs.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read_readDraftTableRows",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone": {
            "post": {
                "tags": ["Rows Batch"],
                "summary": "Clone rows in batch",
                "description": "Clones rows in the draft version of the specified table, given a set of row ids. Maximum of 100 row ids per call.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone_cloneDraftTableRows",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputHubDbTableRowBatchCloneRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables": {
            "get": {
                "tags": ["Tables"],
                "summary": "Get all published tables",
                "description": "Returns the details for the published version of each table defined in an account, including column definitions.",
                "operationId": "get-/cms/v3/hubdb/tables_getAllTables",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 1000.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "createdAt",
                        "in": "query",
                        "description": "Only return tables created at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "Only return tables created after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Only return tables created before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAt",
                        "in": "query",
                        "description": "Only return tables last updated at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAfter",
                        "in": "query",
                        "description": "Only return tables last updated after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedBefore",
                        "in": "query",
                        "description": "Only return tables last updated before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "contentType",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return archived tables. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            },
            "post": {
                "tags": ["Tables"],
                "summary": "Create a new table",
                "description": "Creates a new draft HubDB table given a JSON schema. The table name and label should be unique for each account.",
                "operationId": "post-/cms/v3/hubdb/tables_createTable",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubDbTableV3Request"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/unpublish": {
            "post": {
                "tags": ["Tables"],
                "summary": "Unpublish a table",
                "description": "Unpublishes the table, meaning any website pages using data from the table will not render any data.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/unpublish_unpublishTable",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to publish.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeForeignIds",
                        "in": "query",
                        "description": "Set this to `true` to populate foreign ID values in the response.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/draft": {
            "get": {
                "tags": ["Tables"],
                "summary": "Get details for a draft table",
                "description": "Get the details for the draft version of a specific HubDB table. This will include the definitions for the columns in the table and the number of rows in the table.",
                "operationId": "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft_getDraftTableDetailsById",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to return.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isGetLocalizedSchema",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Set this to `true` to return an archived table. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "includeForeignIds",
                        "in": "query",
                        "description": "Set this to `true` to populate foreign ID values in the result.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            },
            "patch": {
                "tags": ["Tables"],
                "summary": "Update an existing table",
                "description": "Update an existing HubDB table. You can use this endpoint to add or remove columns to the table as well as restore an archived table. Tables updated using the endpoint will only modify the draft verion of the table. Use the `/publish` endpoint to push all the changes to the published version. To restore a table, include the query parameter `archived=true` and `\"archived\": false` in the json body.\n**Note:** You need to include all the columns in the input when you are adding/removing/updating a column. If you do not include an already existing column in the request, it will be deleted.",
                "operationId": "patch-/cms/v3/hubdb/tables/{tableIdOrName}/draft_updateDraftTable",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to update.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isGetLocalizedSchema",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return archived tables. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "includeForeignIds",
                        "in": "query",
                        "description": "Set this to `true` to populate foreign ID values in the result.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HubDbTableV3Request"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish": {
            "post": {
                "tags": ["Tables"],
                "summary": "Publish a table from draft",
                "description": "Publishes the table by copying the data and table schema changes from draft version to the published version, meaning any website pages using data from the table will be updated.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish_publishDraftTable",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table to publish.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeForeignIds",
                        "in": "query",
                        "description": "Set this to `true` to populate foreign ID values in the response.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HubDbTableV3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        },
        "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update": {
            "post": {
                "tags": ["Rows Batch"],
                "summary": "Update rows in batch in draft table",
                "description": "Updates multiple rows as a batch in the draft version of the table, with a maximum of 100 rows per call. See the endpoint `PATCH /tables/{tableIdOrName}/rows/{rowId}/draft` for details on updating a single row.",
                "operationId": "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update_updateDraftTableRows",
                "parameters": [
                    {
                        "name": "tableIdOrName",
                        "in": "path",
                        "description": "The ID or name of the table",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["hubdb"]
                    },
                    {
                        "oauth2_legacy": ["hubdb"]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "BatchInputString": {
                "required": ["inputs"],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "description": "",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": ""
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": ""
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": ""
                    },
                    "id": {
                        "type": "string",
                        "description": ""
                    },
                    "category": {
                        "type": "string",
                        "description": ""
                    },
                    "message": {
                        "type": "string",
                        "description": ""
                    },
                    "errors": {
                        "type": "array",
                        "description": "",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    },
                    "status": {
                        "type": "string",
                        "description": ""
                    }
                }
            },
            "BoundedNextPage": {
                "required": ["offset"],
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "link": {
                        "type": "string"
                    }
                }
            },
            "HubDbTableCloneRequest": {
                "required": ["copyRows", "isHubspotDefined"],
                "type": "object",
                "properties": {
                    "newName": {
                        "type": "string",
                        "description": "The new name for the cloned table",
                        "example": "test_table_new"
                    },
                    "isHubspotDefined": {
                        "type": "boolean"
                    },
                    "newLabel": {
                        "type": "string",
                        "description": "The new label for the cloned table",
                        "example": "Test Table New"
                    },
                    "copyRows": {
                        "type": "boolean",
                        "description": "Specifies whether to copy the rows during clone",
                        "example": true
                    }
                }
            },
            "SimpleUser": {
                "required": ["email", "firstName", "id", "lastName"],
                "type": "object",
                "properties": {
                    "firstName": {
                        "type": "string",
                        "description": ""
                    },
                    "lastName": {
                        "type": "string",
                        "description": ""
                    },
                    "id": {
                        "type": "string",
                        "description": ""
                    },
                    "email": {
                        "type": "string",
                        "description": ""
                    }
                }
            },
            "CollectionResponseWithTotalHubDbTableV3ForwardPaging": {
                "required": ["results", "total"],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "description": "",
                        "format": "int32"
                    },
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging"
                    },
                    "results": {
                        "type": "array",
                        "description": "",
                        "items": {
                            "$ref": "#/components/schemas/HubDbTableV3"
                        }
                    }
                }
            },
            "BoundedPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/BoundedNextPage"
                    }
                }
            },
            "BatchInputHubDbTableRowBatchCloneRequest": {
                "required": ["inputs"],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/HubDbTableRowBatchCloneRequest"
                        }
                    }
                }
            },
            "BatchInputHubDbTableRowV3Request": {
                "required": ["inputs"],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "description": "",
                        "items": {
                            "$ref": "#/components/schemas/HubDbTableRowV3Request"
                        }
                    }
                }
            },
            "ErrorDetail": {
                "required": ["message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                }
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage"
                    }
                }
            },
            "HubDbTableRowBatchCloneRequest": {
[...]
