openapi: 3.0.1
info:
  title: Reckon One API v2
  description: |
    This is [Reckon One API v2](https://developer.reckon.com/api-details#api=reckon-one-api-v2) OpenAPI specification.
    Reckon One is a new generation, modular cloud accounting solution that scales with your business – perfect for startups. This is version 2 of the Reckon One API.
  x-ballerina-init-description: >
    Create an [Reckon account](https://developer.reckon.com) and obtain tokens by following [this guide](https://developer.reckon.com/get-started).
  x-ballerina-display:
    label: Reckon One
    iconPath: "icon.png"
  version: V2
servers:
- url: https://api-v2.reckonone.com/
tags:
- name: Books
  description: Books
- name: Credit notes
  description: Credit notes
- name: Customers
  description: Customers
- name: Departments
  description: Departments
- name: Payment Methods
  description: Payment methods
- name: Payments
  description: Payments
- name: User permissions
  description: User permissions
- name: Receipts
  description: Receipts
- name: Roles
  description: Roles
- name: Superfund providers
  description: Superfund providers
- name: Reports
  description: Reports
- name: Suppliers
  description: Suppliers
- name: Superfunds
  description: Superfunds
- name: Phone types
  description: Phone types
- name: Address types
  description: Address types
- name: Contacts
  description: Contacts
- name: Electronic address types
  description: Electronic address types
- name: Chart of Accounts
  description: Chart of accounts
- name: Banking
  description: Banking
- name: Employees
  description: Employees
- name: Expense Claims
  description: Expense claims
- name: Heartbeat
  description: Reckon One API V2 status
- name: Classifications
  description: Classifications
- name: Payment Terms
  description: Payment terms
- name: Invoices
  description: Invoices
- name: Projects
  description: Projects
- name: Settings
  description: Settings
- name: Templates
  description: Templates
- name: Tax
  description: Tax
- name: Items
  description: Items
- name: Time entries
  description: Time entries
- name: Users
  description: Users
paths:
  /books:
    get:
      tags:
      - Books
      summary: Gets a list of books that the current user has access to.
      description: |-
        See [here](https://help.reckon.com/category/t3ohcrldj7) for details of filtering, sorting and selecting.

        ---

        Get a list of books.

        `GET /books`

        ---

        Get just the required fields, e.g. id and name. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /books?select=id,name`

        ---

        Filter the results to return just the books that you want. Find out more about [filtering](https://help.reckon.com/article/ksqce865me-reckon-one-api-v2-filtering).

        `GET /books?filter=name in ('Book A','Book B')`

        ---

        Get in the required order, e.g. by name. Find out more about [sorting](https://help.reckon.com/article/e0iok3ydto-reckon-one-api-v2-sorting).

        `GET /books?orderby=name`
      operationId: GetBooks
      responses:
        200:
          description: A list of books.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Books'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        404:
          description: No books were found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
  /books/{bookId}:
    get:
      tags:
      - Books
      summary: Gets details of the specified book.
      description: |-
        Get details of a book.

        `GET /books/485b8019-27ef-47b4-92c4-a360994f0f98`

        ---

        Get just the required fields, e.g. id and name. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /books/485b8019-27ef-47b4-92c4-a360994f0f98?select=id,name`
      operationId: GetBook
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        200:
          description: Details of the book.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        404:
          description: Book was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
  /{bookId}/creditnotes:
    get:
      tags:
      - Credit notes
      summary: Gets a list of credit notes.
      description: |-
        See [here](https://help.reckon.com/category/t3ohcrldj7) for details of paging, filtering, sorting and selecting.

        ---

        Get a paged list of credit notes for the specified book.

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes`

        ---

        Get a specific page of credit notes. Find out more about [paging](https://help.reckon.com/article/6dwfu9hgta-reckon-one-api-v2-paging).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes?page=3&perpage=15`

        ---

        Get just the required fields, e.g. id and total amount. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes?select=id,totalAmount`

        ---

        Filter the results to return just the credit notes you want. Find out more about [filtering](https://help.reckon.com/article/ksqce865me-reckon-one-api-v2-filtering).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes?filter=creditnotedate le "2020-03-31"`

        ---

        Sort in the required order, e.g. by customer name and then by date. Find out more about [sorting](https://help.reckon.com/article/e0iok3ydto-reckon-one-api-v2-sorting).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes?orderby=customer.name,creditnotedate desc`
      operationId: GetCreditNotes
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: page
        in: query
        description: The page to retrieve.
        schema:
          type: integer
          format: int32
          nullable: false
          default: 1
      - name: perPage
        in: query
        description: The number of credit notes per page.
        schema:
          type: integer
          format: int32
          nullable: true
          default: 0
      responses:
        200:
          description: A paged list of credit notes for the specified book.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNotes'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
  /{bookId}/creditNotes/{creditNoteId}:
    get:
      tags:
      - Credit notes
      summary: Gets a credit note.
      description: "Get a particular credit note.\n\n`GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/b696b9f5-e1e7-41f1-9f44-fa047e5e9ad2`\n\
        \n---\n\nGet just the required fields, e.g. id and total amount. Find out\
        \ more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).\n\
        \n`GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/b696b9f5-e1e7-41f1-9f44-fa047e5e9ad2?select=id,totalAmount`\n\
        \n---\n\nGet a credit note as a PDF using a query string parameter.\n    \n\
        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/b696b9f5-e1e7-41f1-9f44-fa047e5e9ad2?format=pdf`\n\
        \n---\n\nGet a credit note as a PDF using a header instead of the query string\
        \ parameter : `Accept: application/pdf`.\n\n`GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/b696b9f5-e1e7-41f1-9f44-fa047e5e9ad2`"
      operationId: GetCreditNote
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: format
        in: query
        description: The format to use, e.g. pdf.
        schema:
          type: string
          nullable: true
      responses:
        200:
          description: The requested credit note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the credit note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or credit note does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    put:
      tags:
      - Credit notes
      summary: Updates an existing credit note.
      description: |-
        Update an existing credit note.

        `PUT /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/e6abf51e-2052-43c7-be02-4146cbfe9d00`
      operationId: UpdateCreditNote
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details of the updated credit note.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteInput'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The credit note could not be updated as the request contains
            invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to edit credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or credit note does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: creditNote
    delete:
      tags:
      - Credit notes
      summary: Deletes an existing credit note.
      description: |-
        Delete an existing credit note.

        `DELETE /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/e6abf51e-2052-43c7-be02-4146cbfe9d00`
      operationId: DeleteCreditNote
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        204:
          description: The result of the deletion.
          content: {}
        400:
          description: The credit note could not be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to delete credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or credit note does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    patch:
      tags:
      - Credit notes
      summary: Updates selected fields of an existing credit note.
      description: |-
        Patch an existing credit note.

        **Note:** The `Content-Type` header must be `application/merge-patch+json`.

        `PATCH /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/e6abf51e-2052-43c7-be02-4146cbfe9d00`
      operationId: PatchCreditNote
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNotePatch'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The credit note could not be updated as the request contains
            invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to edit credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or credit note does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
        415:
          description: The request must use Content-Type `application/merge-patch+json`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnsupportedMediaType'
      security:
      - oauth2: []
      x-codegen-request-body-name: creditNote
  /{bookId}/creditNotes:
    post:
      tags:
      - Credit notes
      summary: Creates a new credit note.
      description: |-
        Create a new credit note.

        `POST /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes`
      operationId: CreateCreditNote
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details of the new credit note.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteInput'
        required: true
      responses:
        201:
          description: The id of the credit note that has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        400:
          description: The credit note could not be created as the request contains
            invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to create credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: creditNote
  /{bookId}/creditNotes/{creditNoteId}/lineItems/{lineItemId}:
    get:
      tags:
      - Credit notes
      summary: Gets a line item from a credit note.
      description: |-
        Get a line item from a credit note.

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/b696b9f5-e1e7-41f1-9f44-fa047e5e9ad2/lineItems/d7775b8e-a0e5-404a-b335-542f138bf0a9`

        ---

        Get just the required fields, e.g. id and total amount. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/b696b9f5-e1e7-41f1-9f44-fa047e5e9ad2/lineItems/d7775b8e-a0e5-404a-b335-542f138bf0a9?select=lineId,description`
      operationId: GetCreditNoteLineItem
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: lineItemId
        in: path
        description: The line item's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        200:
          description: The requested credit note line item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteLineItem'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the credit note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or credit note does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    put:
      tags:
      - Credit notes
      summary: Updates an existing credit note's line item.
      description: |-
        Update an existing credit note's line item.

        `PUT /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/e6abf51e-2052-43c7-be02-4146cbfe9d00/lineitems/k6abf51e-2052-43c7-be02-4146cbfe9d1b`
      operationId: UpdateCreditNoteLineItem
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: lineItemId
        in: path
        description: The credit note line item's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details of the updated credit note's line item.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteLineItemInput'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The credit note's line item could not be updated as the request
            contains invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to edit credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, credit note or credit note's line item
            does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: creditNote
    delete:
      tags:
      - Credit notes
      summary: Deletes an existing credit note line item.
      description: |-
        Delete an existing credit note line item.

        `DELETE /5af6572c-9771-4b86-995d-3374d3bc683c/creditNotes/b581a643-10dd-4d09-9a63-356654339795/lineItems/907f8858-91c5-47f7-ba92-42d4b4b27973`
      operationId: DeleteLineItem
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: lineItemId
        in: path
        description: The id of the line item to delete.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        204:
          description: The result of the deletion.
          content: {}
        400:
          description: The credit note line item could not be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to delete credit note line
            items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, credit note or line item does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    patch:
      tags:
      - Credit notes
      summary: Updates selected fields of an existing credit note's line item.
      description: |-
        Patch an existing credit note's line item.

        **Note:** The `Content-Type` header must be `application/merge-patch+json`.

        `PATCH /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/e6abf51e-2052-43c7-be02-4146cbfe9d00/lineitems/k6abf51e-2052-43c7-be02-4146cbfe9d1b`
      operationId: PatchCreditNoteLineItem
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: lineItemId
        in: path
        description: The credit note line item's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteLineItemPatch'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The credit note's line item could not be updated as the request
            contains invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to edit credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or credit note does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
        415:
          description: The request must use Content-Type `application/merge-patch+json`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnsupportedMediaType'
      security:
      - oauth2: []
      x-codegen-request-body-name: creditNoteLineItem
  /{bookId}/creditNotes/{creditNoteId}/lineItems:
    post:
      tags:
      - Credit notes
      summary: Creates a new line item within an existing credit note.
      description: "Create a new line item within the specified book and credit note.\n\
        \    \n`POST /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/b581a643-10dd-4d09-9a63-356654339795/lineitems`"
      operationId: AddLineItemToCreditNote
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details of the new line item.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteLineItemInput'
        required: true
      responses:
        201:
          description: The id of the line item that has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        400:
          description: The line item could not be created as the request contains
            invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to add line items to credit
            notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or credit note does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: lineItem
  /{bookId}/creditNotes/{creditNoteId}/transactionLinks:
    post:
      tags:
      - Credit notes
      summary: Creates a new transaction link.
      description: |-
        Create a new transaction link.

        `POST /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/e6abf51e-2052-43c7-be02-4146cbfe9d00/transactionlinks`
      operationId: CreateCreditNoteTransactionLink
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details of the transaction to link.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteTransactionLinkInput'
        required: true
      responses:
        201:
          description: The linked transaction's id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringIdResponse'
        400:
          description: The transaction link could not be created as the request contains
            invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to create linked transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or credit note does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: transactionLink
  /{bookId}/creditNotes/{creditNoteId}/transactionlinks/{linkId}:
    delete:
      tags:
      - Credit notes
      summary: Unlinks an existing transaction from a credit note.
      description: |-
        Unlink an existing invoice from a credit note.

        `DELETE /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/e6abf51e-2052-43c7-be02-4146cbfe9d00/transactionlinks/INV-8c642b15-c66f-4876-9a4d-bc5ea7c0ceb6`
      operationId: UnlinkTransaction
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: linkId
        in: path
        description: The link's id.
        required: true
        schema:
          type: string
          nullable: false
      responses:
        204:
          description: The result of the request to unlink the transaction.
          content: {}
        400:
          description: The transaction could not be unlinked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to unlink transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, credit note or transaction link does not
            exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    patch:
      tags:
      - Credit notes
      summary: Updates selected fields of an existing credit note's linked transaction.
      description: |-
        Patch an existing credit note's linked transaction.

        **Note:** The `Content-Type` header must be `application/merge-patch+json`.

        `PATCH /5af6572c-9771-4b86-995d-3374d3bc683c/creditnotes/e6abf51e-2052-43c7-be02-4146cbfe9d00/transactionlinks/INV-5B6915BB-0352-4D6E-98C4-72E7A9A92562`
      operationId: PatchCreditNoteTransactionLink
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: creditNoteId
        in: path
        description: The credit note's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: linkId
        in: path
        description: The linked transaction's id.
        required: true
        schema:
          type: string
          nullable: false
      requestBody:
        description: Details of the linked transaction to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteTransactionLinkPatch'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The credit note's transaction link could not be updated as
            the request contains invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to edit credit notes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, credit note or transaction link does not
            exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
        415:
          description: The request must use Content-Type `application/merge-patch+json`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnsupportedMediaType'
      security:
      - oauth2: []
      x-codegen-request-body-name: creditNoteTransactionLinkPatch
  /{bookId}/customers:
    get:
      tags:
      - Customers
      summary: Gets a list of customers.
      description: |-
        See [here](https://help.reckon.com/category/t3ohcrldj7) for details of paging, filtering, sorting and selecting.

        ---

        Get a paged list of customers.

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers`

        ---

        Get a specific page of customers. Find out more about [paging](https://help.reckon.com/article/6dwfu9hgta-reckon-one-api-v2-paging).

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers?page=2&perpage=2`

        ---

        Get just the required fields, e.g. id and name. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers?select=id,name`

        ---

        Filter the results to return just the customers you want. Find out more about [filtering](https://help.reckon.com/article/ksqce865me-reckon-one-api-v2-filtering).

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers?filter=name eq "John Doe"`

        ---

        Sort in the required order, e.g. by name and then by status. Find out more about [sorting](https://help.reckon.com/article/e0iok3ydto-reckon-one-api-v2-sorting).

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers?orderby=name, status desc`
      operationId: GetCustomers
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: page
        in: query
        description: The page to retrieve.
        schema:
          type: integer
          format: int32
          nullable: false
          default: 1
      - name: perPage
        in: query
        description: The number of customers per page.
        schema:
          type: integer
          format: int32
          nullable: true
          default: 0
      responses:
        200:
          description: A paged list of customers for the specified book.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the customers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    post:
      tags:
      - Customers
      summary: Creates a new customer.
      description: |-
        Creates a new customer.

        `POST /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers`
      operationId: CreateCustomer
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details of the new customer.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
        required: true
      responses:
        201:
          description: The id of the customer that has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdNameResponse'
        400:
          description: The customer could not be created as the request contains invalid
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to create customers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: customerItem
  /{bookId}/customers/{customerId}:
    get:
      tags:
      - Customers
      summary: Gets a customer.
      description: |-
        Get a customer.

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332`

        ---

        Get just the selected fields, e.g. id and name. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/ddca6e60-31ff-43a7-a152-1d08fba97332?select=id,name`
      operationId: GetCustomer
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        200:
          description: The requested customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or customer does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    put:
      tags:
      - Customers
      summary: Updates an existing customer.
      description: |-
        Update an existing customer.

        `PUT /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59`
      operationId: UpdateCustomer
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details of the updated customer.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The customer could not be updated as the request contains invalid
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to update the customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or customer does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: customerItem
    delete:
      tags:
      - Customers
      summary: Deletes an existing customer.
      description: |-
        Delete an existing customer.

        `DELETE /5af6572c-9771-4b86-995d-3374d3bc683c/customers/c6abf51e-2052-43c7-be02-4146cbfe9d00`
      operationId: DeleteCustomer
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        204:
          description: The result of the deletion.
          content: {}
        400:
          description: The customer could not be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to delete customers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or customer does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    patch:
      tags:
      - Customers
      summary: Updates selected fields of an existing customer.
      description: |-
        Patch an existing customer.

        **Note:** The `Content-Type` header must be `application/merge-patch+json`.

        `PATCH /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59`
      operationId: PatchCustomer
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details of the customer to change.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPatch'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The customer could not be patched as the request contains invalid
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to update the customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or customer does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
        415:
          description: The request must use Content-Type `application/merge-patch+json`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnsupportedMediaType'
      security:
      - oauth2: []
      x-codegen-request-body-name: customerPatch
  /{bookId}/customers/{customerId}/contacts/{contactId}/link:
    post:
      tags:
      - Customers
      summary: Links an existing contact to a customer.
      description: |-
        Link an existing contact to a customer.

        `POST /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/b57d066c-a0f2-4d85-986c-75c236a1e15a/contacts/8bcf856e-b6ae-445f-b171-dc51ff4dd51b/link`
      operationId: LinkExistingContactToCustomer
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: contactId
        in: path
        description: The contact's id to be linked to the customer.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        204:
          description: The result of linking an existing contact to a customer.
          content: {}
        400:
          description: The existing contact cannot be linked to the customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to link an existing contact
            to the customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer, or contact does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
  /{bookId}/customers/{customerId}/contacts/{contactId}/unlink:
    post:
      tags:
      - Customers
      summary: Unlinks a customer's linked contact.
      description: |-
        Unlink a customer's linked contact.

        `POST /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/b57d066c-a0f2-4d85-986c-75c236a1e15a/contacts/8bcf856e-b6ae-445f-b171-dc51ff4dd51b/unlink`
      operationId: UnlinkCustomerLinkedContact
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: contactId
        in: path
        description: The customer's linked contact's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        204:
          description: The result of the unlink procedure.
          content: {}
        400:
          description: The contact cannot be unlinked from the customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to unlink the customer's
            linked contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer, or linked contact of customer
            does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
  /{bookId}/customers/{customerId}/contacts:
    post:
      tags:
      - Customers
      summary: Creates a new contact and links it to the customer.
      description: |-
        Create a new contact and link it to the customer.

        `POST /5af6572c-9771-4b86-995d-3374d3bc683c/customers/b57d066c-a0f2-4d85-986c-75c236a1e15a/contacts`
      operationId: AddNewContactToCustomer
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details of the new contact.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedContactInput'
        required: true
      responses:
        201:
          description: The id of the contact that has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
        400:
          description: The contact could not be created as the request contains invalid
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to create contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or customer does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: contact
  /{bookId}/customers/{customerId}/contacts/{contactId}:
    get:
      tags:
      - Customers
      summary: Gets a customer's linked Contact details.
      description: |-
        Get a customer's linked Contact details.

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332/contacts/c793af72-8267-45fa-be90-bc183808b22a`

        ---

        Get just the selected fields, e.g. id and name. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332/contacts/c793af72-8267-45fa-be90-bc183808b22a?select=id,name`
      operationId: GetCustomerLinkedContact
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: contactId
        in: path
        description: The contact's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        200:
          description: The requested customer's linked contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the customer's
            linked contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or linked contact does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    delete:
      tags:
      - Customers
      summary: "           Deletes a contact from a customer\n           "
      description: "           Delete a contact from a selected customer\n       \
        \    \n           `DELETE /5af6572c-9771-4b86-995d-3374d3bc683c/customers/b57d066c-a0f2-4d85-986c-75c236a1e15a/contacts/c793af72-8267-45fa-be90-bc183808b22a`\n\
        \           "
      operationId: DeleteContactFromCustomer
      parameters:
      - name: bookId
        in: path
        description: The book's id
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: contactId
        in: path
        description: The contact's id being deleted
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        204:
          description: The result of the delete procedure.
          content: {}
        400:
          description: The contact cannot be deleted from the customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to delete the customer's
            contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer, or contact of customer does not
            exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
  /{bookId}/customers/{customerId}/phoneNumbers:
    get:
      tags:
      - Customers
      summary: Gets a customer's phone numbers.
      description: |-
        See [here](https://help.reckon.com/category/t3ohcrldj7) for details of filtering, sorting and selecting.

        ---

        Get a customer's phone numbers.

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332/phonenumbers`

        ---

        Get just the required fields, e.g. id and number. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332/phonenumbers?select=id,number`

        ---

        Filter the results to return just the address types that you want. Find out more about [filtering](https://help.reckon.com/article/ksqce865me-reckon-one-api-v2-filtering).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332/phonenumbers?filter=areacode in ('02','03')`

        ---

        Get in the required order, e.g. by area code. Find out more about [sorting](https://help.reckon.com/article/e0iok3ydto-reckon-one-api-v2-sorting).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332/phonenumbers?orderby=areacode`
      operationId: GetCustomerPhoneNumbers
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        200:
          description: The requested customer's phone numbers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumbers'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the customer's
            phone numbers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or customer does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    post:
      tags:
      - Customers
      summary: Adds a new phone number to an existing customer.
      description: |-
        Add a new phone number to an existing customer.

        `POST /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/6A4CF5D1-2FC8-4022-956A-E7F265858FD7/phoneNumbers`
      operationId: CreateCustomerPhoneNumber
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: The details of the phone number to add.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberInput'
        required: true
      responses:
        201:
          description: The id and name of the phone number type that has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypeResponse'
        400:
          description: The phone number could not be created as the request contains
            invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to modify customers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or customer does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: phoneNumber
  /{bookId}/customers/{customerId}/phoneNumbers/{type}:
    get:
      tags:
      - Customers
      summary: Get a customer's phone number.
      description: |-
        Get a customer's phone number by name or id.

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/phonenumbers/work`

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/phonenumbers/fb71355e-13eb-4e4f-9366-9d9422ddd361`

        ---

        Get just the required fields, e.g. id and number. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/phonenumbers/work?select=id,number`
      operationId: GetCustomerPhoneNumber
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The phone number's type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      responses:
        200:
          description: The customer's specific phone number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumber'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the customer's
            phone numbers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or phone number does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    put:
      tags:
      - Customers
      summary: Updates a customer's phone number.
      description: |-
        Update a customer's phone number by name or id.

        `PUT /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/phoneNumbers/mobile`

        `PUT /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/phoneNumbers/b62461e6-f0d9-4b93-be43-2c2388a265ed`
      operationId: UpdateCustomerPhoneNumber
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The phone number type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      requestBody:
        description: The phone number.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhoneNumberInput'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The customer's phone number could not be updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to update the customer's
            phone number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or phone number does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: input
    delete:
      tags:
      - Customers
      summary: Deletes an existing customer phone number.
      description: |-
        Delete an existing customer phone number.

        `DELETE /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/phonenumbers/work`

        `DELETE /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/phonenumbers/2a1dba1f-6dd9-4731-a5ae-33682abaa81e`
      operationId: DeleteCustomerPhoneNumber
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The phone number's type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      responses:
        204:
          description: The result of the deletion.
          content: {}
        400:
          description: The customer's phone number could not be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to delete the customer's
            phone numbers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or phone number does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    patch:
      tags:
      - Customers
      summary: Updates selected fields of an existing customer phone number.
      description: |-
        Patch an existing customer phone number by name or id.

        **Note:** The `Content-Type` header must be `application/merge-patch+json`.

        `PATCH /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/phonenumbers/Mobile`

        `PATCH /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/phonenumbers/444393d3-2199-4eff-b3b2-c04e673fc903`
      operationId: PatchCustomerPhoneNumber
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The phone number's type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      requestBody:
        description: Details of the phone number to change.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberPatch'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The customer's phone number could not be patched as the request
            contains invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to update the customer's
            phone number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or phone number type does not
            exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
        415:
          description: The request must use Content-Type `application/merge-patch+json`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnsupportedMediaType'
      security:
      - oauth2: []
      x-codegen-request-body-name: phoneNumber
  /{bookId}/customers/{customerId}/addresses:
    get:
      tags:
      - Customers
      summary: Gets a customer's addresses.
      description: |-
        See [here](https://help.reckon.com/category/t3ohcrldj7) for details of filtering, sorting and selecting.

        ---

        Get a customer's addresses.

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332/addresses`

        ---

        Get just the required fields, e.g. id and post code. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332/addresses?select=id,postcode`

        ---

        Filter the results to return just the addresses that you want. Find out more about [filtering](https://help.reckon.com/article/ksqce865me-reckon-one-api-v2-filtering).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332/addresses?filter=postcode in ('2000','2060')`

        ---

        Get in the required order, e.g. by post code. Find out more about [sorting](https://help.reckon.com/article/e0iok3ydto-reckon-one-api-v2-sorting).

        `GET /5af6572c-9771-4b86-995d-3374d3bc683c/customers/ddca6e60-31ff-43a7-a152-1d08fba97332/addresses?orderby=postcode`
      operationId: GetCustomerAddresses
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      responses:
        200:
          description: The requested customer's addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addresses'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the customer's
            addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or customer does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    post:
      tags:
      - Customers
      summary: Adds a new address to an existing customer.
      description: |-
        Add a new address to an existing customer.

        `POST /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/addresses`
      operationId: CreateCustomerAddress
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      requestBody:
        description: Details of the new address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressInput'
        required: true
      responses:
        201:
          description: The id of the address that has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypeResponse'
        400:
          description: The customer's address could not be added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to create a customer address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book or customer does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: address
  /{bookId}/customers/{customerId}/addresses/{type}:
    get:
      tags:
      - Customers
      summary: Gets a customer's address.
      description: |-
        Get a customer's address by name or id.

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/addresses/work`

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/addresses/a74ff4e7-9ee4-4908-b43d-6bf0d9e68d27`

        ---

        Get just the selected fields, e.g. id and post code. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/addresses/work?select=id,postcode`
      operationId: GetCustomerAddress
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The address's type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      responses:
        200:
          description: The customer's specific address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the customer's
            addresss.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or address does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    put:
      tags:
      - Customers
      summary: Updates a customer's address.
      description: |-
        Update a customer's address by name or id.

        `PUT /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/Addresses/work`

        `PUT /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/Addresses/b62461e6-f0d9-4b93-be43-2c2388a265ed`
      operationId: UpdateCustomerAddress
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The address's type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      requestBody:
        description: The address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressInput'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The customer's address could not be updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to update the customer's
            address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or address does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: input
    delete:
      tags:
      - Customers
      summary: Deletes an existing customer address.
      description: |-
        Delete an existing customer address.

        `DELETE /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/Addresses/legal`

        `DELETE /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/Addresses/3fabc2f7-f52e-4ed3-95fe-7338cf2818df`
      operationId: DeleteCustomerAddress
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The address's type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      responses:
        204:
          description: The result of the deletion.
          content: {}
        400:
          description: The customer's address could not be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to delete the customer's
            addresss.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or address does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    patch:
      tags:
      - Customers
      summary: Updates selected fields of an existing customer address.
      description: |-
        Patch an existing customer address.

        **Note:** The `Content-Type` header must be `application/merge-patch+json`.

        `PATCH /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/addresses/9600be24-cb30-4d74-b3c3-47f93cafcc92`

        `PATCH /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/addresses/shipping`
      operationId: PatchCustomerAddress
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The address's type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      requestBody:
        description: Details of the customer's address to change.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressPatch'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The customer address could not be patched as the request contains
            invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to update the customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or address does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
        415:
          description: The request must use Content-Type `application/merge-patch+json`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnsupportedMediaType'
      security:
      - oauth2: []
      x-codegen-request-body-name: addressPatch
  /{bookId}/customers/{customerId}/electronicAddresses/{type}:
    get:
      tags:
      - Customers
      summary: Gets a customer's electronic address.
      description: |-
        Get a customer's electronic address by name or id.

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/electronicaddresss/07a15606-8ac9-416e-9763-be76b11a1def`

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/electronicaddresses/Web`

        ---

        Get just the required fields, e.g. id and address. Find out more about [selecting](https://help.reckon.com/article/h9sxz6smwn-reckon-one-api-v2-selecting).

        `GET /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/electronicaddresses/Web?select=id,address`
      operationId: GetCustomerElectronicAddress
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The electronic address's type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      responses:
        200:
          description: The customer's specific electronic address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectronicAddress'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to retrieve the customer's
            electronic addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or electronic address does not
            exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    put:
      tags:
      - Customers
      summary: Updates a customer's electronic address.
      description: |-
        Update a customer's electronic address by name or id.

        `PUT /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/electronicAddresses/work`

        `PUT /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/electronicAddresses/b62461e6-f0d9-4b93-be43-2c2388a265ed`
      operationId: UpdateCustomerElectronicAddress
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The electronic address's type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      requestBody:
        description: The electronic address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateElectronicAddressInput'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The customer's electronic address could not be updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to update the customer's
            electronic address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or electronic address does not
            exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
      x-codegen-request-body-name: input
    delete:
      tags:
      - Customers
      summary: Deletes an existing customer electronic address.
      description: |-
        Delete an existing customer electronic address.

        `DELETE /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/electronicAddresses/email`

        `DELETE /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/electronicAddresses/3fabc2f7-f52e-4ed3-95fe-7338cf2818df`
      operationId: DeleteCustomerElectronicAddress
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The electronic address's type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      responses:
        204:
          description: The result of the deletion.
          content: {}
        400:
          description: The customer's electronic address could not be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: The authentication token is missing, expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseUnauthorized'
        403:
          description: The user does not have permission to delete the customer's
            electronic addresss.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForbidden'
        404:
          description: The specified book, customer or electronic address does not
            exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseNotFound'
      security:
      - oauth2: []
    patch:
      tags:
      - Customers
      summary: Updates selected fields of an existing customer electronic address.
      description: |-
        Patch an existing customer electronic address by name or id.

        **Note:** The `Content-Type` header must be `application/merge-patch+json`.

        `PATCH /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/electronicAddresses/work`

        `PATCH /e7e3ba02-05e2-4bea-9348-85876c9952ba/customers/2a8cd401-5e6d-47d4-b5f0-011ff387dd59/electronicAddresses/b62461e6-f0d9-4b93-be43-2c2388a265ed`
      operationId: PatchCustomerElectronicAddress
      parameters:
      - name: bookId
        in: path
        description: The book's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: customerId
        in: path
        description: The customer's id.
        required: true
        schema:
          type: string
          format: guid
          nullable: false
      - name: type
        in: path
        description: The electronic address type by name or id.
        required: true
        schema:
          type: string
          nullable: false
      requestBody:
        description: Details of the customer's electronic address to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElectronicAddressPatch'
        required: true
      responses:
        204:
          description: The result of the update.
          content: {}
        400:
          description: The electronic address could not be patched as the request
            contains invalid data.
          content:
            application/json:
              schema:
[...]
