openapi: 3.0.1
info:
  title: AzureAnalysisServices
  description: >
    This is the [Azure Analysis Services API v2017-08-01](https://azure.microsoft.com/en-us/services/analysis-services/) OpenAPI specification.
    The Azure Analysis Services Web API provides a RESTful set of web services
    that enables users to create, retrieve, update, and delete Analysis Services servers
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials.
    Create an [Azure Analysis Services account](https://azure.microsoft.com/en-us/services/analysis-services/) and obtain OAuth tokens following [this guide](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-manage-users#authentication).
  x-ballerina-display:
    label: Azure Analysis Services
    iconPath: "icon.png"
  version: '2017-08-01'
  x-ms-code-generation-settings:
    name: AnalysisServicesManagementClient
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}:
    get:
      tags:
      - Servers
      description: Gets details about the specified Analysis Services server.
      operationId: Servers_GetDetails
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the Azure Resource group of which a given Analysis
          Services server is part. This name must be at least 1 character in length,
          and no more than 90.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: serverName
        in: path
        description: The name of the Analysis Services server. It must be a minimum
          of 3 characters, and a maximum of 63.
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/getServer.json
    put:
      tags:
      - Servers
      description: Provisions the specified Analysis Services server based on the
        configuration specified in the request.
      operationId: Servers_Create
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the Azure Resource group of which a given Analysis
          Services server is part. This name must be at least 1 character in length,
          and no more than 90.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: serverName
        in: path
        description: The name of the Analysis Services server. It must be a minimum
          of 3 characters, and a maximum of 63.
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      requestBody:
        description: Contains the information used to provision the Analysis Services
          server.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisServicesServer'
        required: true
      responses:
        200:
          description: OK. The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
        201:
          description: InProgress. The operation is still completing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
        202:
          description: Preparing. The operation is still completing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Create a server.:
          $ref: ./examples/createServer.json
      x-ms-long-running-operation: true
      x-codegen-request-body-name: serverParameters
    delete:
      tags:
      - Servers
      description: Deletes the specified Analysis Services server.
      operationId: Servers_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the Azure Resource group of which a given Analysis
          Services server is part. This name must be at least 1 character in length,
          and no more than 90.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: serverName
        in: path
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK.
          content: {}
        202:
          description: Accepted.
          content: {}
        204:
          description: No Content.
          content: {}
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Delete a server.:
          $ref: ./examples/deleteServer.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - Servers
      description: Updates the current state of the specified Analysis Services server.
      operationId: Servers_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the Azure Resource group of which a given Analysis
          Services server is part. This name must be at least 1 character in length,
          and no more than 90.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: serverName
        in: path
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      requestBody:
        description: Request object that contains the updated information for the
          server.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisServicesServerUpdateParameters'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Update a server.:
          $ref: ./examples/updateServer.json
      x-ms-long-running-operation: true
      x-codegen-request-body-name: serverUpdateParameters
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/suspend
  : post:
      tags:
      - Servers
      description: Suspends operation of the specified Analysis Services server instance.
      operationId: Servers_Suspend
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the Azure Resource group of which a given Analysis
          Services server is part. This name must be at least 1 character in length,
          and no more than 90.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: serverName
        in: path
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK.
          content: {}
        202:
          description: Accepted.
          content: {}
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Suspend a server.:
          $ref: ./examples/suspendServer.json
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/resume
  : post:
      tags:
      - Servers
      description: Resumes operation of the specified Analysis Services server instance.
      operationId: Servers_Resume
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the Azure Resource group of which a given Analysis
          Services server is part. This name must be at least 1 character in length,
          and no more than 90.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: serverName
        in: path
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content: {}
        202:
          description: Accepted
          content: {}
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Resume a server.:
          $ref: ./examples/resumeServer.json
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers:
    get:
      tags:
      - Servers
      description: Gets all the Analysis Services servers for the given resource group.
      operationId: Servers_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the Azure Resource group of which a given Analysis
          Services server is part. This name must be at least 1 character in length,
          and no more than 90.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServers'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        List existing servers in the resource group.:
          $ref: ./examples/listServersInResourceGroup.json
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/servers:
    get:
      tags:
      - Servers
      description: Lists all the Analysis Services servers for the given subscription.
      operationId: Servers_List
      parameters:
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServers'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        List existing servers under the subscription.:
          $ref: ./examples/listServers.json
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/skus:
    get:
      description: Lists eligible SKUs for Analysis Services resource provider.
      operationId: Servers_ListSkusForNew
      parameters:
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuEnumerationForNewResourceResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        List eligible SKUs for a new server:
          $ref: ./examples/listSkusForNew.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/skus
  : get:
      tags:
      - Servers
      description: Lists eligible SKUs for an Analysis Services resource.
      operationId: Servers_ListSkusForExisting
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the Azure Resource group of which a given Analysis
          Services server is part. This name must be at least 1 character in length,
          and no more than 90.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: serverName
        in: path
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuEnumerationForExistingResourceResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        List eligible SKUs for an existing server:
          $ref: ./examples/listSkusForExisting.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/listGatewayStatus
  : post:
      tags:
      - Servers
      description: Return the gateway status of the specified Analysis Services server
        instance.
      operationId: Servers_ListGatewayStatus
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the Azure Resource group of which a given Analysis
          Services server is part. This name must be at least 1 character in length,
          and no more than 90.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: serverName
        in: path
        description: The name of the Analysis Services server.
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayListStatusLive'
        default:
          description: Default response as an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayListStatusError'
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/listGatewayStatus.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/dissociateGateway
  : post:
      tags:
      - Servers
      description: Dissociates a Unified Gateway associated with the server.
      operationId: Servers_DissociateGateway
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the Azure Resource group of which a given Analysis
          Services server is part. This name must be at least 1 character in length,
          and no more than 90.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: serverName
        in: path
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK.
          content: {}
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/dissociateGateway.json
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/checkNameAvailability:
    post:
      tags:
      - Servers
      description: Check the name availability in the target location.
      operationId: Servers_CheckNameAvailability
      parameters:
      - name: location
        in: path
        description: The region name which the operation will lookup into.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      requestBody:
        description: Contains the information used to provision the Analysis Services
          server.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckServerNameAvailabilityParameters'
        required: true
      responses:
        200:
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckServerNameAvailabilityResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/checkNameAvailability.json
      x-codegen-request-body-name: serverParameters
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationresults/{operationId}:
    get:
      tags:
      - Servers
      description: List the result of the specified operation.
      operationId: Servers_ListOperationResults
      parameters:
      - name: location
        in: path
        description: The region name which the operation will lookup into.
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        description: The target operation Id.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. The operation completed.
          content: {}
        202:
          description: Accepted. The operation is ongoing.
          content: {}
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/operationResults.json
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationstatuses/{operationId}:
    get:
      tags:
      - Servers
      description: List the status of operation.
      operationId: Servers_ListOperationStatuses
      parameters:
      - name: location
        in: path
        description: The region name which the operation will lookup into.
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        description: The target operation Id.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. The operation completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        202:
          description: Accepted. The operation is ongoing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/operationStatuses.json
  /providers/Microsoft.AnalysisServices/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    Operation:
      type: object
      properties:
        name:
          type: string
          description: 'Operation name: {provider}/{resource}/{operation}.'
          readOnly: true
        display:
          type: object
          properties:
            provider:
              type: string
              description: 'Service provider: Microsoft.Consumption.'
              readOnly: true
            resource:
              type: string
              description: 'Resource on which the operation is performed: UsageDetail,
                etc.'
              readOnly: true
            operation:
              type: string
              description: 'Operation type: Read, write, delete, etc.'
              readOnly: true
            description:
              type: string
              description: Description of the operation object.
              readOnly: true
          description: The object that represents the operation.
        origin:
          type: string
          description: The origin
          readOnly: true
        properties:
          type: object
          properties:
            serviceSpecification:
              type: object
              properties:
                metricSpecifications:
                  type: array
                  description: The metric specifications.
                  readOnly: true
                  items:
                    $ref: '#/components/schemas/MetricSpecifications'
                logSpecifications:
                  type: array
                  description: The log specifications.
                  readOnly: true
                  items:
                    $ref: '#/components/schemas/LogSpecifications'
              description: Performance metrics to shoebox.
          description: Additional properties to expose performance metrics to shoebox.
      description: A Consumption REST API operation.
    MetricSpecifications:
      type: object
      properties:
        name:
          type: string
          description: The name of metric.
          readOnly: true
        displayName:
          type: string
          description: The displayed name of metric.
          readOnly: true
        displayDescription:
          type: string
          description: The displayed description of metric.
          readOnly: true
        unit:
          type: string
          description: The unit of the metric.
          readOnly: true
        aggregationType:
          type: string
          description: The aggregation type of metric.
          readOnly: true
        dimensions:
          type: array
          description: The dimensions of metric.
          readOnly: true
          items:
            $ref: '#/components/schemas/MetricDimensions'
      description: Available operation metric specification for exposing performance
        metrics to shoebox.
    LogSpecifications:
      type: object
      properties:
        name:
          type: string
          description: The name of metric.
          readOnly: true
        displayName:
          type: string
          description: The displayed name of log.
          readOnly: true
        blobDuration:
          type: string
          description: The blob duration for the log.
          readOnly: true
      description: The log metric specification for exposing performance metrics to
        shoebox.
    MetricDimensions:
      type: object
      properties:
        name:
          type: string
          description: Dimension name.
          readOnly: true
        displayName:
          type: string
          description: Dimension display name.
          readOnly: true
      description: Metric dimension.
    OperationListResult:
      type: object
      properties:
        value:
          type: array
          description: List of analysis services operations supported by the Microsoft.AnalysisServices
            resource provider.
          readOnly: true
          items:
            $ref: '#/components/schemas/Operation'
        nextLink:
          type: string
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
      description: Result of listing consumption operations. It contains a list of
        operations and a URL link to get the next set of results.
    Resource:
      required:
      - location
      - sku
      type: object
      properties:
        id:
          type: string
          description: An identifier that represents the Analysis Services resource.
          readOnly: true
        name:
          type: string
          description: The name of the Analysis Services resource.
          readOnly: true
        type:
          type: string
          description: The type of the Analysis Services resource.
          readOnly: true
        location:
          type: string
          description: Location of the Analysis Services resource.
          x-ms-mutability:
          - create
          - read
        sku:
          $ref: '#/components/schemas/ResourceSku'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of additional resource provisioning properties.
      description: Represents an instance of an Analysis Services resource.
      x-ms-azure-resource: true
    AnalysisServicesServer:
      description: Represents an instance of an Analysis Services resource.
      allOf:
      - $ref: '#/components/schemas/Resource'
    AnalysisServicesServers:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          description: An array of Analysis Services resources.
          items:
            $ref: '#/components/schemas/AnalysisServicesServer'
      description: An array of Analysis Services resources.
    AnalysisServicesServerUpdateParameters:
      type: object
      properties:
        sku:
          $ref: '#/components/schemas/ResourceSku'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of additional provisioning properties.
        properties:
          $ref: '#/components/schemas/AnalysisServicesServerMutableProperties'
      description: Provision request specification
    AnalysisServicesServerProperties:
      description: Properties of Analysis Services resource.
      allOf:
      - $ref: '#/components/schemas/AnalysisServicesServerMutableProperties'
    ResourceSku:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Name of the SKU level.
        tier:
          type: string
          description: The name of the Azure pricing tier to which the SKU applies.
          enum:
          - Development
          - Basic
          - Standard
          x-ms-enum:
            name: SkuTier
            modelAsString: true
        capacity:
          maximum: 8
          minimum: 1
          type: integer
          description: The number of instances in the read only query pool.
          format: int32
          default: 1
      description: Represents the SKU name and Azure pricing tier for Analysis Services
        resource.
    AnalysisServicesServerMutableProperties:
      type: object
      properties:
        asAdministrators:
          $ref: '#/components/schemas/ServerAdministrators'
        backupBlobContainerUri:
          type: string
          description: The SAS container URI to the backup container.
        gatewayDetails:
          $ref: '#/components/schemas/GatewayDetails'
        ipV4FirewallSettings:
          $ref: '#/components/schemas/IPv4FirewallSettings'
        querypoolConnectionMode:
          type: string
          description: 'How the read-write server''s participation in the query pool
            is controlled.<br/>It can have the following values: <ul><li>readOnly
            - indicates that the read-write server is intended not to participate
            in query operations</li><li>all - indicates that the read-write server
            can participate in query operations</li></ul>Specifying readOnly when
            capacity is 1 results in error.'
          default: All
          enum:
          - All
          - ReadOnly
          x-ms-enum:
            modelAsString: false
            name: ConnectionMode
        managedMode:
          type: integer
          description: The managed mode of the server (0 = not managed, 1 = managed).
          format: int32
          default: 1
          enum:
          - 0
          - 1
          x-ms-enum:
            modelAsString: false
            name: ManagedMode
        serverMonitorMode:
          type: integer
          description: The server monitor mode for AS server
          format: int32
          default: 1
          enum:
          - 0
          - 1
          x-ms-enum:
            modelAsString: false
            name: ServerMonitorMode
      description: An object that represents a set of mutable Analysis Services resource
        properties.
    ServerAdministrators:
      type: object
      properties:
        members:
          type: array
          description: An array of administrator user identities.
          items:
            type: string
            description: 'The UPN of the user. For example: johnsmith@contoso.com.'
      description: An array of administrator user identities.
    IPv4FirewallSettings:
      type: object
      properties:
        firewallRules:
          type: array
          description: An array of firewall rules.
          items:
            $ref: '#/components/schemas/IPv4FirewallRule'
        enablePowerBIService:
          type: boolean
          description: The indicator of enabling PBI service.
      description: An array of firewall rules.
    IPv4FirewallRule:
      type: object
      properties:
        firewallRuleName:
          type: string
          description: The rule name.
        rangeStart:
          type: string
          description: The start range of IPv4.
        rangeEnd:
          type: string
          description: The end range of IPv4.
      description: The detail of firewall rule.
    GatewayDetails:
      type: object
      properties:
        gatewayResourceId:
          type: string
          description: Gateway resource to be associated with the server.
        gatewayObjectId:
          type: string
          description: Gateway object id from in the DMTS cluster for the gateway
            resource.
          readOnly: true
        dmtsClusterUri:
          type: string
          description: Uri of the DMTS cluster.
          readOnly: true
      description: The gateway details.
    GatewayListStatusLive:
      type: object
      properties:
        status:
          type: integer
          description: 'Live message of list gateway. Status: 0 - Live'
          format: int32
          enum:
          - 0
          x-ms-enum:
            name: Status
            modelAsString: false
      description: Status of gateway is live.
    GatewayListStatusError:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/GatewayError'
    GatewayError:
      $ref: '#/components/schemas/ErrorDetail'
    CheckServerNameAvailabilityParameters:
      type: object
      properties:
        name:
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
          type: string
          description: Name for checking availability.
        type:
          type: string
          description: The resource type of azure analysis services.
          default: Microsoft.AnalysisServices/servers
      description: Details of server name request body.
    CheckServerNameAvailabilityResult:
      type: object
      properties:
        nameAvailable:
          type: boolean
          description: Indicator of available of the server name.
        reason:
          type: string
          description: The reason of unavailability.
        message:
          type: string
          description: The detailed message of the request unavailability.
      description: The checking result of server name availability.
    OperationStatus:
      type: object
      properties:
        id:
          type: string
          description: The operation Id.
        name:
          type: string
          description: The operation name.
        startTime:
          type: string
          description: The start time of the operation.
        endTime:
          type: string
          description: The end time of the operation.
        status:
          type: string
          description: The status of the operation.
        error:
          $ref: '#/components/schemas/ErrorDetail'
      description: The status of operation.
    SkuEnumerationForNewResourceResult:
      type: object
      properties:
        value:
          type: array
          description: The collection of available SKUs for new resources.
          items:
            $ref: '#/components/schemas/ResourceSku'
      description: An object that represents enumerating SKUs for new resources.
    SkuEnumerationForExistingResourceResult:
      type: object
      properties:
        value:
          type: array
          description: The collection of available SKUs for existing resources.
          items:
            $ref: '#/components/schemas/SkuDetailsForExistingResource'
      description: An object that represents enumerating SKUs for existing resources.
    SkuDetailsForExistingResource:
      type: object
      properties:
        sku:
          $ref: '#/components/schemas/ResourceSku'
        resourceType:
          type: string
          description: The resource type.
      description: An object that represents SKU details for existing resources.
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        subCode:
          type: integer
          description: The error sub code
          format: int32
          readOnly: true
        httpStatusCode:
          type: integer
          description: The http status code
          format: int32
          readOnly: true
        timeStamp:
          type: string
          description: the timestamp for the error.
          readOnly: true
        details:
          type: array
          description: The error details.
          readOnly: true
          items:
            $ref: '#/components/schemas/ErrorDetail'
        additionalInfo:
          type: array
          description: The error additional info.
          readOnly: true
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
      description: The error detail.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          properties: {}
          description: The additional info.
          readOnly: true
      description: The resource management error additional info.
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
      description: Describes the format of Error response.
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: A unique identifier for a Microsoft Azure subscription. The subscription
        ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The client API version.
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the Azure Resource group of which a given Analysis
        Services server is part. This name must be at least 1 character in length,
        and no more than 90.
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
