{
    "openapi": "3.0.1",
    "info": {
        "title": "Cms Content Audit",
        "description": "Use this endpoint to query audit logs of CMS changes that occurred on your HubSpot account.",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "cms": "ENTERPRISE"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "After noticing some recent changes to your website, including missing pages, use this API to see which user most recently modified and unpublished your website pages.",
        "x-hubspot-related-documentation": [
            {
                "name": "Content Audit Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/cms/content-audit"
            }
        ],
        "x-hubspot-introduction": "Use the content audit API to retrieve information about changes made to content objects, such as blog posts, website pages, and domains.        "
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Audit_Logs"
        }
    ],
    "paths": {
        "/cms/v3/audit-logs/": {
            "get": {
                "tags": ["Audit_Logs"],
                "summary": "Query audit logs",
                "description": "Returns audit logs based on filters.",
                "operationId": "get-/cms/v3/audit-logs/_getPage",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "Comma separated list of user ids to filter by.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "eventType",
                        "in": "query",
                        "description": "Comma separated list of event types to filter by (CREATED, UPDATED, PUBLISHED, DELETED, UNPUBLISHED).",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "objectType",
                        "in": "query",
                        "description": "Comma separated list of object types to filter by (BLOG, LANDING_PAGE, DOMAIN, HUBDB_TABLE etc.)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "objectId",
                        "in": "query",
                        "description": "Comma separated list of object ids to filter by.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Timestamp after which audit logs will be returned",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "description": "Timestamp before which audit logs will be returned",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of logs to return.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The sort direction for the audit logs. (Can only sort by timestamp).",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicAuditLog"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorDetail": {
                "required": ["message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                }
            },
            "CollectionResponsePublicAuditLog": {
                "required": ["results"],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/Paging"
                    },
                    "results": {
                        "type": "array",
                        "description": "",
                        "items": {
                            "$ref": "#/components/schemas/PublicAuditLog"
                        }
                    }
                },
                "description": "The collection of audit logs."
            },
            "PreviousPage": {
                "required": ["before"],
                "type": "object",
                "properties": {
                    "before": {
                        "type": "string"
                    },
                    "link": {
                        "type": "string"
                    }
                }
            },
            "Paging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage"
                    },
                    "prev": {
                        "$ref": "#/components/schemas/PreviousPage"
                    }
                }
            },
            "Error": {
                "required": ["category", "correlationId", "message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"],
                            "invalidPropertyName": ["propertyValue"]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": {
                            "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "Invalid input (details will vary based on the error)"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": "VALIDATION_ERROR"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                }
            },
            "PublicAuditLog": {
                "required": [
                    "event",
                    "fullName",
                    "objectId",
                    "objectName",
                    "objectType",
                    "timestamp",
                    "userId"
                ],
                "type": "object",
                "properties": {
                    "meta": {
                        "type": "object",
                        "properties": {}
                    },
                    "objectName": {
                        "type": "string",
                        "description": "The internal name of the object in HubSpot.",
                        "example": "My Landing Page"
                    },
                    "fullName": {
                        "type": "string",
                        "description": "The name of the user who caused the event.",
                        "example": "John Doe"
                    },
                    "event": {
                        "type": "string",
                        "description": "The type of event that took place (CREATED, UPDATED, PUBLISHED, DELETED, UNPUBLISHED).",
                        "example": "UPDATED",
                        "enum": [
                            "CREATED",
                            "UPDATED",
                            "PUBLISHED",
                            "DELETED",
                            "UNPUBLISHED",
                            "RESTORE"
                        ]
                    },
                    "userId": {
                        "type": "string",
                        "description": "The ID of the user who caused the event.",
                        "example": "1011561"
                    },
                    "objectId": {
                        "type": "string",
                        "description": "The ID of the object.",
                        "example": "4065364319"
                    },
                    "objectType": {
                        "type": "string",
                        "description": "The type of the object (BLOG, LANDING_PAGE, DOMAIN, HUBDB_TABLE etc.)",
                        "example": "LANDING_PAGE",
                        "enum": [
                            "BLOG",
                            "BLOG_POST",
                            "LANDING_PAGE",
                            "WEBSITE_PAGE",
                            "TEMPLATE",
                            "MODULE",
                            "GLOBAL_MODULE",
                            "SERVERLESS_FUNCTION",
                            "DOMAIN",
                            "URL_MAPPING",
                            "EMAIL",
                            "CONTENT_SETTINGS",
                            "HUBDB_TABLE",
                            "KNOWLEDGE_BASE_ARTICLE",
                            "KNOWLEDGE_BASE",
                            "THEME",
                            "CSS",
                            "JS",
                            "CTA",
                            "FILE"
                        ]
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "The timestamp at which the event occurred.",
                        "format": "date-time"
                    }
                },
                "example": {
                    "objectId": "4065364319",
                    "objectName": "My Landing Page",
                    "fullName": "John Doe",
                    "event": "UPDATED",
                    "userId": "1011561",
                    "timestamp": "1583792674672",
                    "objectType": "LANDING_PAGE"
                }
            },
            "NextPage": {
                "required": ["after"],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string"
                    },
                    "after": {
                        "type": "string"
                    }
                }
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth2_legacy": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "content": "Read from and write to my Content"
                        }
                    }
                }
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header"
            }
        }
    },
    "x-hubspot-available-client-libraries": ["PHP", "Node", "Ruby", "Python"],
    "x-hubspot-product-tier-requirements": {
        "cms": "ENTERPRISE"
    },
    "x-hubspot-documentation-banner": "NONE"
}
