openapi: 3.0.1
info:
  title: PowerTools Developer
  description: |
    This is [Apptigent PowerTools Developer API v2021.3.01](https://portal.apptigent.com/node/904) OpenAPI specification.
    'Apptigent PowerTools Developer Edition is a powerful suite of API endpoints for custom applications running on any stack. 
    Manipulate text, modify collections, format dates and times, convert currency, perform advanced mathematical calculations, shorten URL's, encode strings, convert text to speech, translate content into multiple languages, process images, and more. 
    PowerTools is the ultimate developer toolkit.'
    This provides the capability for weather conditions, forecasts and related operations.
  x-ballerina-init-description: >
    Create a [Apptigent account](https://portal.apptigent.com/user/register) and obtain tokens by following [this guide](https://portal.apptigent.com/start).
  x-ballerina-display:
    label: PowerTools Developer Weather
    iconPath: "icon.png"
  contact:
    name: Customer Support
    url: https://www.apptigent.com/help/
    email: support@apptigent.com
  version: 2021.3.01
  x-ibm-name: powertools-developer
servers:
- url: https://connect.apptigent.com/api/utilities
security:
- apiKeyHeader: []
tags:
- name: Weather
  description: Weather conditions, forecasts and related operations.
paths:
  /WeatherConditions:
    post:
      tags:
      - Weather
      summary: Weather - Weather Conditions
      description: Get current weather conditions near an address or location
      operationId: WeatherConditions
      requestBody:
        description: Input weather conditions
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputWeatherConditions'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputWeatherConditions'
        400:
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: inputWeatherConditions
  /WeatherDailyForecast:
    post:
      tags:
      - Weather
      summary: Weather - Daily Forecast
      description: Get daily weather forecast near an address or location
      operationId: WeatherDailyForecast
      requestBody:
        description: Input weather daily forecast
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputWeatherDailyForecast'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputDailyForecast'
        400:
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: inputWeatherForecast
  /WeatherHourlyForecast:
    post:
      tags:
      - Weather
      summary: Weather - Hourly Forecast
      description: Get hourly weather forecast near an address or location
      operationId: WeatherHourlyForecast
      requestBody:
        description: Input weather hourly forecast
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputWeatherHourlyForecast'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputHourlyForecast'
        400:
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: inputWeatherForecast
  /WeatherActivityForecast:
    post:
      tags:
      - Weather
      summary: Weather - Activity Forecast
      description: Get current weather-related activity forecast near an address or
        location
      operationId: WeatherActivityForecast
      requestBody:
        description: Input weather activity forecast
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputWeatherActivityForecast'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputActivityForecast'
        400:
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outputString'
      x-codegen-request-body-name: inputActivityForecast
components:
  schemas:
    inputCollectionSearch:
      required:
      - input
      - match
      type: object
      properties:
        input:
          type: array
          description: Collection of strings to search
          items:
            type: string
          x-ms-summary: Values
        match:
          type: string
          description: Text to match
          x-ms-summary: Text
        trim:
          type: string
          description: Trim white space from comparison string
          enum:
          - True
          - False
          x-ms-summary: Trim
        ignorecase:
          type: string
          description: Ignore case when performing comparison
          enum:
          - True
          - False
          x-ms-summary: Ignore Case
      example:
        input:
        - the
        - brown
        - 'cow '
        match: cow
        trim: True
        ignorecase: True
    inputCollectionSearchNumeric:
      required:
      - input
      - match
      type: object
      properties:
        input:
          type: array
          description: Collection of strings to search
          items:
            type: number
          x-ms-summary: Values
        match:
          type: number
          description: Number to match
          x-ms-summary: Number
        type:
          type: string
          description: Type of number - integer or decimal
          default: Integer
          enum:
          - Integer
          - Decimal
          x-ms-summary: Number Type
      example:
        input:
        - 1.25
        - 10.5
        - 20.75
        - 51.25
        - 119.6
        - 301.25
        match: 1.25,
        type: Decimal
    inputCollectionModify:
      required:
      - input
      type: object
      properties:
        input:
          type: array
          description: Collection of values or objects to modify
          items:
            type: string
          x-ms-summary: Collection
        item:
          type: string
          description: Item (for multiple items, leave blank and use Items)
          x-ms-summary: Item
        items:
          type: array
          description: Items (Collection, for a single item leave blank and use Item)
          items:
            type: string
          x-ms-summary: Items
        index:
          type: string
          description: Index position for operation (leave blank to specify end of
            collection)
          x-ms-summary: Index
      example:
        input:
        - a
        - b
        - c
        item: d
        items: ""
        index: "0"
    inputCollectionFilter:
      required:
      - input
      - keywords
      - match
      type: object
      properties:
        input:
          type: array
          description: Collection of strings to filter
          items:
            type: string
          x-ms-summary: Collection
        match:
          type: string
          description: Match type
          default: Any
          enum:
          - Any
          - All
          - None
          x-ms-summary: Match
        keywords:
          type: string
          description: Keywords (separate multiple values with commas)
          x-ms-summary: Keywords
      example:
        input:
        - the cow
        - jumped over
        - the moon
        match: Any
        keywords: cow,moon
    inputCollectionSort:
      required:
      - input
      - order
      type: object
      properties:
        input:
          type: array
          description: Collection of strings to sort
          items:
            type: string
          x-ms-summary: Collection
        order:
          type: string
          description: Sort order
          default: Ascending
          enum:
          - Ascending
          - Descending
          x-ms-summary: Order
      example:
        input:
        - a
        - d
        - c
        - b
        - e
        order: Ascending
    inputCollectionCount:
      required:
      - input
      type: object
      properties:
        input:
          type: array
          description: Collection of items to count
          items:
            type: string
          x-ms-summary: Collection
      example:
        input:
        - a
        - d
        - c
        - b
        - e
    inputCollectionSplit:
      required:
      - input
      type: object
      properties:
        input:
          type: array
          description: Collection of items to split
          items:
            type: string
          x-ms-summary: Collection
        match:
          type: string
          description: String to match (explicit, case-insensitive, leave empty to
            use Index)
          x-ms-summary: Match Value
        index:
          type: string
          description: Index location to split (leave empty to use Match value)
          x-ms-summary: Index
      example:
        input:
        - the cow
        - jumped over
        - the moon
        match: jumped over
        index: ""
    inputCollectionReplace:
      required:
      - ignoreCase
      - input
      - match
      - replacement
      type: object
      properties:
        input:
          type: array
          description: Collection of strings
          items:
            type: string
          x-ms-summary: Collection
        match:
          type: string
          description: Match value
          x-ms-summary: Match value
        replacement:
          type: string
          description: Replacement value
          x-ms-summary: Replacement value
        ignoreCase:
          type: string
          description: Ignore case
          default: True
          enum:
          - True
          - False
          x-ms-summary: Ignore case
      example:
        input:
        - the brown cow
        - jumped over
        - the brown dog
        match: Brown
        replacement: spotted
        ignoreCase: True
    inputCalculateNumber:
      required:
      - decimals
      - input
      type: object
      properties:
        input:
          type: number
          description: Numeric value to calculate
          x-ms-summary: Value
        decimals:
          minimum: 0
          type: number
          description: Round to number of decimal places
          x-ms-summary: Decimal Places
      example:
        input: 0.195928
        decimals: 2
    inputCalculateNumbers:
      required:
      - decimals
      - input
      - value
      type: object
      properties:
        input:
          type: number
          description: Numeric value
          x-ms-summary: Primary Value
        value:
          type: number
          description: Addend, subtrahend, factor, divisor or radicand
          x-ms-summary: Secondary Value
        decimals:
          minimum: 0
          type: number
          description: Round to number of decimal places
          x-ms-summary: Decimal Places
      example:
        input: 4
        value: 2
        decimals: 2
    inputCalculateSeries:
      required:
      - decimals
      - input
      type: object
      properties:
        input:
          type: array
          description: Colllection of values to calculate
          items:
            type: number
          x-ms-summary: Values
        decimals:
          minimum: 0
          type: number
          description: Round to number of decimal places
          x-ms-summary: Decimal Places
      example:
        input:
        - 1
        - 2
        - 3
        - 4
        - 5
        decimals: 2
    inputCalculatePower:
      required:
      - decimals
      - input
      - power
      type: object
      properties:
        input:
          type: number
          description: Number to raise
          x-ms-summary: Number
        power:
          type: number
          description: Power
          x-ms-summary: Power
        decimals:
          minimum: 0
          type: number
          description: Round to number of decimal places
          x-ms-summary: Decimal Places
      example:
        input: 5.53
        power: 4
        decimals: 2
    inputCalculateMinMax:
      required:
      - input
      - type
      type: object
      properties:
        input:
          type: array
          description: Colllection of values to calculate
          items:
            type: number
          x-ms-summary: Values
        type:
          type: string
          description: Minimum or Maximum
          default: Minimum
          enum:
          - Minimum
          - Maximum
          x-ms-summary: Min or Max
      example:
        input:
        - 1
        - 2
        - 3
        - 4
        - 5
        type: Minimum
    inputCollectionConversion:
      required:
      - input
      - name
      type: object
      properties:
        input:
          type: array
          description: Collection containing strings to convert
          items:
            type: string
          x-ms-summary: Values
        name:
          type: string
          description: Collection name
          x-ms-summary: Name
      example:
        input:
        - a
        - b
        - c
        - d
        - e
        name: Items
    inputCollectionConversionXML:
      required:
      - child
      - input
      - root
      type: object
      properties:
        input:
          type: array
          description: Collection containing strings to convert
          items:
            type: string
          x-ms-summary: Values
        root:
          type: string
          description: Name of root XML node
          x-ms-summary: Root Node Name
        child:
          type: string
          description: Name of child XML node(s)
          x-ms-summary: Child Node Name
      example:
        input:
        - a
        - b
        - c
        - d
        - e
        root: Items
        child: Item
    inputCaseConversion:
      required:
      - alphacase
      - input
      type: object
      properties:
        input:
          type: string
          description: String containing the text to convert
          x-ms-summary: Value
        alphacase:
          type: string
          description: Case of conversion result
          enum:
          - Upper
          - Lower
          - Title
          x-ms-summary: Case
      example:
        input: the brown cow
        alphacase: Upper
    inputConvertAngle:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
          - Arcminute
          - Arcsecond
          - Centiradian
          - Deciradian
          - Degree
          - Gradian
          - Microdegree
          - Microradian
          - Millidegree
          - Milliradian
          - Nanodegree
          - Nanoradian
          - Radian
          - Revolution
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
          - Arcminute
          - Arcsecond
          - Centiradian
          - Deciradian
          - Degree
          - Gradian
          - Microdegree
          - Microradian
          - Millidegree
          - Milliradian
          - Nanodegree
          - Nanoradian
          - Radian
          - Revolution
          x-ms-summary: Target measurement
      example:
        input: 16.036844
        source: Arcminute
        target: Arcsecond
    inputConvertDuration:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
          - Day
          - Hour
          - Microsecond
          - Millisecond
          - Minute
          - Month
          - Nanosecond
          - Second
          - Week
          - Year
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
          - Day
          - Hour
          - Microsecond
          - Millisecond
          - Minute
          - Month
          - Nanosecond
          - Second
          - Week
          - Year
          x-ms-summary: Target measurement
      example:
        input: 0.66375
        source: Day
        target: Hour
    inputConvertDistance:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
          - Centimeter
          - Decimeter
          - Fathom
          - Foot
          - Hectometer
          - Inch
          - Kilometer
          - LightYear
          - Meter
          - Micrometer
          - Mile
          - Millimeter
          - Nanometer
          - NauticalMile
          - Yard
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
          - Centimeter
          - Decimeter
          - Fathom
          - Foot
          - Hectometer
          - Inch
          - Kilometer
          - LightYear
          - Meter
          - Micrometer
          - Mile
          - Millimeter
          - Nanometer
          - NauticalMile
          - Yard
          x-ms-summary: Target measurement
      example:
        input: 0.525505
        source: Meter
        target: Foot
    inputConvertArea:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
          - Acre
          - Hectare
          - SquareCentimeter
          - SquareDecimeter
          - SquareFoot
          - SquareInch
          - SquareKilometer
          - SquareMeter
          - SquareMicrometer
          - SquareMile
          - SquareMillimeter
          - SquareYard
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
          - Acre
          - Hectare
          - SquareCentimeter
          - SquareDecimeter
          - SquareFoot
          - SquareInch
          - SquareKilometer
          - SquareMeter
          - SquareMicrometer
          - SquareMile
          - SquareMillimeter
          - SquareYard
          x-ms-summary: Target measurement
      example:
        input: 0.416714
        source: Acre
        target: SquareFoot
    inputConvertEnergy:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
          - BritishThermalUnit
          - Calorie
          - ElectronVolt
          - FootPound
          - GigawattHour
          - Joule
          - Kilocalorie
          - Kilojoule
          - KilowattHour
          - Megajoule
          - MegawattHour
          - TerawattHour
          - Therm (EU)
          - Therm (UK)
          - Therm (US)
          - WattHour
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
          - BritishThermalUnit
          - Calorie
          - ElectronVolt
          - FootPound
          - GigawattHour
          - Joule
          - Kilocalorie
          - Kilojoule
          - KilowattHour
          - Megajoule
          - MegawattHour
          - TerawattHour
          - Therm (EU)
          - Therm (UK)
          - Therm (US)
          - WattHour
          x-ms-summary: Target measurement
      example:
        input: 0.397155
        source: Calorie
        target: Joule
    inputConvertPower:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
          - BritishThermalUnitPerHour
          - Decawatt
          - Deciwatt
          - ElectricalHorsepower
          - Femtowatt
          - Gigawatt
          - HydraulicHorsepower
          - Kilowatt
          - MechanicalHorsepower
          - Megawatt
          - Microwatt
          - Milliwatt
          - Nanowatt
          - Petawatt
          - Picowatt
          - Terawatt
          - Watt
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
          - BritishThermalUnitPerHour
          - Decawatt
          - Deciwatt
          - ElectricalHorsepower
          - Femtowatt
          - Gigawatt
          - HydraulicHorsepower
          - Kilowatt
          - MechanicalHorsepower
          - Megawatt
          - Microwatt
          - Milliwatt
          - Nanowatt
          - Petawatt
          - Picowatt
          - Terawatt
          - Watt
          x-ms-summary: Target measurement
      example:
        input: 0.866107
        source: Gigawatt
        target: Kilowatt
    inputConvertSpeed:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
          - CentimeterPerHour
          - CentimeterPerMinute
          - CentimeterPerSecond
          - DecimeterPerMinute
          - DecimeterPerSecond
          - FootPerHour
          - FootPerMinute
          - FootPerSecond
          - InchPerHour
          - InchPerMinute
          - InchPerSecond
          - KilometerPerHour
          - KilometerPerMinute
          - KilometerPerSecond
          - Knot
          - MeterPerHour
          - MeterPerMinute
          - MeterPerSecond
          - MicrometerPerMinute
          - MicrometerPerSecond
          - MilePerHour
          - MillimeterPerHour
          - MillimeterPerMinute
          - MillimeterPerSecond
          - NanometerPerMinute
          - NanometerPerSecond
          - YardPerHour
          - YardPerMinute
          - YardPerSecond
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
          - CentimeterPerHour
          - CentimeterPerMinute
          - CentimeterPerSecond
          - DecimeterPerMinute
          - DecimeterPerSecond
          - FootPerHour
          - FootPerMinute
          - FootPerSecond
          - InchPerHour
          - InchPerMinute
          - InchPerSecond
          - KilometerPerHour
          - KilometerPerMinute
          - KilometerPerSecond
          - Knot
          - MeterPerHour
          - MeterPerMinute
          - MeterPerSecond
          - MicrometerPerMinute
          - MicrometerPerSecond
          - MilePerHour
          - MillimeterPerHour
          - MillimeterPerMinute
          - MillimeterPerSecond
          - NanometerPerMinute
          - NanometerPerSecond
          - YardPerHour
          - YardPerMinute
          - YardPerSecond
          x-ms-summary: Target measurement
      example:
        input: 0.278054
        source: Knot
        target: MilePerHour
    inputConvertTemperature:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
          - Celsius
          - Fahrenheit
          - Newton
          - Kelvin
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
          - Celsius
          - Fahrenheit
          - Newton
          - Kelvin
          x-ms-summary: Target measurement
      example:
        input: 10
        source: Celsius
        target: Fahrenheit
    inputConvertVolume:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
          - Centiliter
          - CubicCentimeter
          - CubicDecimeter
          - CubicFoot
          - CubicHectometer
          - CubicInch
          - CubicKilometer
          - CubicMeter
          - CubicMillimeter
          - CubicYard
          - Deciliter
          - ImperialBeerBarrel
          - ImperialGallon
          - ImperialOunce
          - ImperialPint
          - Kiloliter
          - Liter
          - Microliter
          - Milliliter
          - Gallon
          - Cup
          - Ounce
          - Pint
          - Quart
          - Tablespoon
          - Teaspoon
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
          - Centiliter
          - CubicCentimeter
          - CubicDecimeter
          - CubicFoot
          - CubicHectometer
          - CubicInch
          - CubicKilometer
          - CubicMeter
          - CubicMillimeter
          - CubicYard
          - Deciliter
          - ImperialBeerBarrel
          - ImperialGallon
          - ImperialOunce
          - ImperialPint
          - Kiloliter
          - Liter
          - Microliter
          - Milliliter
          - Gallon
          - Cup
          - Ounce
          - Pint
          - Quart
          - Tablespoon
          - Teaspoon
          x-ms-summary: Target measurement
      example:
        input: 1.5
        source: CubicFoot
        target: CubicMeter
    inputConvertWeight:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          x-ms-summary: Measurement value
        source:
          type: string
          enum:
          - Centigram
          - Decagram
          - Decigram
          - Grain
          - Gram
          - Hectogram
          - Kilogram
          - Microgram
          - Milligram
          - Nanogram
          - Ounce
          - Pound
          - Stone
          - Solar Mass
          - Earth Mass
          - Slug
          - Short Ton
          - Long Ton
          - Ton
          - Megaton
          - Short Hundredweight
          - Long Hundredweight
          x-ms-summary: Source measurement
        target:
          type: string
          enum:
          - Centigram
          - Decagram
          - Decigram
          - Grain
          - Gram
          - Hectogram
          - Kilogram
          - Microgram
          - Milligram
          - Nanogram
          - Ounce
          - Pound
          - Stone
          - Ton
          x-ms-summary: Target measurement
      example:
        input: 5.7
        source: Gram
        target: Ounce
    inputCsvConversionJSON:
      required:
      - header
      - input
      type: object
      properties:
        input:
          type: string
          description: CSV string
          x-ms-summary: Value
        header:
          type: boolean
          description: Include header row
          default: true
          x-ms-summary: Header
      example:
        input: "Property1,Property2,Property3\r\nvalue,value,value\r\nvalue,value,value"
        header: true
    inputCurrencyConversion:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: number
          description: Amount to convert
          x-ms-summary: Value
        source:
          type: string
          default: USD
          enum:
          - USD
          - AUD
          - BGN
          - BRL
          - CAD
          - CHF
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HRK
          - HUF
          - IDR
          - ILS
          - INR
          - ISK
          - JPY
          - KRW
          - MXN
          - MYR
          - NOK
          - NZD
          - PHP
          - PLN
          - RON
          - RUB
          - SGD
          - SEK
          - THB
          - TRY
          - ZAR
          x-ms-summary: Source currency
        target:
          type: string
          enum:
          - USD
          - AUD
          - BGN
          - BRL
          - CAD
          - CHF
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HRK
          - HUF
          - IDR
          - ILS
          - INR
          - ISK
          - JPY
          - KRW
          - MXN
          - MYR
          - NOK
          - NZD
          - PHP
          - PLN
          - RON
          - RUB
          - SGD
          - SEK
          - THB
          - TRY
          - ZAR
          x-ms-summary: Target currency
      example:
        input: 100.25
        source: USD
        target: CAD
    inputCurrencyFormat:
      required:
      - input
      - target
      type: object
      properties:
        input:
          type: number
          description: Amount to format
          x-ms-summary: Value
        target:
          type: string
          enum:
          - USD
          - AUD
          - BGN
          - BRL
          - CAD
          - CHF
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HRK
          - HUF
          - IDR
          - ILS
          - INR
          - ISK
          - JPY
          - KRW
          - MXN
          - MYR
          - NOK
          - NZD
          - PHP
          - PLN
          - RON
          - RUB
          - SGD
          - SEK
          - THB
          - TRY
          - ZAR
          x-ms-summary: Target currency
      example:
        input: 10980.79
        target: GBP
    inputDateTimeConversion:
      required:
      - input
      - source
      - target
      type: object
      properties:
        input:
          type: string
          description: Source date and time
          x-ms-summary: Value
        source:
          type: string
          default: 'GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh,
            Lisbon, London'
          enum:
          - 'GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon,
            London'
          - Greenwich Standard Time - (GMT) Monrovia, Reykjavik
          - W. Europe Standard Time - (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm,
            Vienna
          - Central Europe Standard Time - (GMT+01:00) Belgrade, Bratislava, Budapest,
            Ljubljana, Prague
          - Central European Standard Time - (GMT+01:00) Sarajevo, Skopje, Warsaw,
            Zagreb
          - W. Central Africa Standard Time - (GMT+01:00) West Central Africa
          - GTB Standard Time - (GMT+02:00) Athens, Bucharest, Istanbul
          - Middle East Standard Time - (GMT+02:00) Beirut
          - Egypt Standard Time - (GMT+02:00) Cairo
          - South Africa Standard Time - (GMT+02:00) Harare, Pretoria
          - FLE Standard Time - (GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn,
            Vilnius
          - Israel Standard Time - (GMT+02:00) Jerusalem
          - E. Europe Standard Time - (GMT+02:00) Minsk
          - Namibia Standard Time - (GMT+02:00) Windhoek
          - Arabic Standard Time - (GMT+03:00) Baghdad
          - Arab Standard Time - (GMT+03:00) Kuwait, Riyadh
          - Russian Standard Time - (GMT+03:00) Moscow, St. Petersburg, Volgograd
          - E. Africa Standard Time - (GMT+03:00) Nairobi
          - Georgian Standard Time - (GMT+03:00) Tbilisi
          - Iran Standard Time - (GMT+03:30) Tehran
          - Arabian Standard Time - (GMT+04:00) Abu Dhabi, Muscat
          - Azerbaijan Standard Time - (GMT+04:00) Baku
          - Mauritius Standard Time - (GMT+04:00) Port Louis
          - Caucasus Standard Time - (GMT+04:00) Yerevan
          - Afghanistan Standard Time - (GMT+04:30) Kabul
          - Ekaterinburg Standard Time - (GMT+05:00) Ekaterinburg
          - Pakistan Standard Time - (GMT+05:00) Islamabad, Karachi
          - West Asia Standard Time - (GMT+05:00) Tashkent
          - India Standard Time - (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi
          - Sri Lanka Standard Time - (GMT+05:30) Sri Jayawardenepura
          - Nepal Standard Time - (GMT+05:45) Kathmandu
          - N. Central Asia Standard Time - (GMT+06:00) Almaty, Novosibirsk
          - Central Asia Standard Time - (GMT+06:00) Astana, Dhaka
          - Myanmar Standard Time - (GMT+06:30) Yangon (Rangoon)
          - SE Asia Standard Time - (GMT+07:00) Bangkok, Hanoi, Jakarta
          - North Asia Standard Time - (GMT+07:00) Krasnoyarsk
          - China Standard Time - (GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi
          - North Asia East Standard Time - (GMT+08:00) Irkutsk, Ulaan Bataar
          - Singapore Standard Time - (GMT+08:00) Kuala Lumpur, Singapore
          - W. Australia Standard Time - (GMT+08:00) Perth
          - Taipei Standard Time - (GMT+08:00) Taipei
          - Tokyo Standard Time - (GMT+09:00) Osaka, Sapporo, Tokyo
          - Korea Standard Time - (GMT+09:00) Seoul
          - Yakutsk Standard Time - (GMT+09:00) Yakutsk
          - Cen. Australia Standard Time - (GMT+09:30) Adelaide
          - AUS Central Standard Time - (GMT+09:30) Darwin
          - E. Australia Standard Time - (GMT+10:00) Brisbane
          - AUS Eastern Standard Time - (GMT+10:00) Canberra, Melbourne, Sydney
          - West Pacific Standard Time - (GMT+10:00) Guam, Port Moresby
          - Tasmania Standard Time - (GMT+10:00) Hobart
          - Vladivostok Standard Time - (GMT+10:00) Vladivostok
          - Central Pacific Standard Time - (GMT+11:00) Magadan, Solomon Is., New
            Caledonia
          - New Zealand Standard Time - (GMT+12:00) Auckland, Wellington
          - Fiji Standard Time - (GMT+12:00) Fiji, Kamchatka, Marshall Is.
          - Tonga Standard Time - (GMT+13:00) Nuku'alofa
          - Azores Standard Time - (GMT-01:00) Azores
          - Cape Verde Standard Time - (GMT-01:00) Cape Verde Is.
          - Mid-Atlantic Standard Time - (GMT-02:00) Mid-Atlantic
          - E. South America Standard Time - (GMT-03:00) Brasilia
          - Argentina Standard Time - (GMT-03:00) Buenos Aires
          - SA Eastern Standard Time - (GMT-03:00) Georgetown
          - Greenland Standard Time - (GMT-03:00) Greenland
          - Montevideo Standard Time - (GMT-03:00) Montevideo
          - Newfoundland Standard Time - (GMT-03:30) Newfoundland
          - Atlantic Standard Time - (GMT-04:00) Atlantic Time (Canada)
          - SA Western Standard Time - (GMT-04:00) La Paz
          - Central Brazilian Standard Time - (GMT-04:00) Manaus
          - Pacific SA Standard Time - (GMT-04:00) Santiago
          - Venezuela Standard Time - (GMT-04:30) Caracas
          - SA Pacific Standard Time - (GMT-05:00) Bogota, Lima, Quito, Rio Branco
          - Eastern Standard Time - (GMT-05:00) Eastern Time (US & Canada)
          - US Eastern Standard Time - (GMT-05:00) Indiana (East)
          - Central America Standard Time - (GMT-06:00) Central America
          - Central Standard Time - (GMT-06:00) Central Time (US & Canada)
          - Central Standard Time (Mexico) - (GMT-06:00) Guadalajara, Mexico City,
            Monterrey
          - Canada Central Standard Time - (GMT-06:00) Saskatchewan
          - US Mountain Standard Time - (GMT-07:00) Arizona
          - Mountain Standard Time (Mexico) - (GMT-07:00) Chihuahua, La Paz, Mazatlan
          - Mountain Standard Time - (GMT-07:00) Mountain Time (US & Canada)
          - Pacific Standard Time - (GMT-08:00) Pacific Time (US & Canada)
          - Pacific Standard Time (Mexico) - (GMT-08:00) Tijuana, Baja California
          - Alaskan Standard Time - (GMT-09:00) Alaska
          - Hawaiian Standard Time - (GMT-10:00) Hawaii
          - Samoa Standard Time - (GMT-11:00) Midway Island, Samoa
          - Dateline Standard Time - (GMT-12:00) International Date Line West
          x-ms-summary: Source Time Zone
        target:
          type: string
          default: 'GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh,
            Lisbon, London'
          enum:
          - 'GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon,
            London'
          - Greenwich Standard Time - (GMT) Monrovia, Reykjavik
          - W. Europe Standard Time - (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm,
            Vienna
          - Central Europe Standard Time - (GMT+01:00) Belgrade, Bratislava, Budapest,
            Ljubljana, Prague
          - Central European Standard Time - (GMT+01:00) Sarajevo, Skopje, Warsaw,
            Zagreb
          - W. Central Africa Standard Time - (GMT+01:00) West Central Africa
          - GTB Standard Time - (GMT+02:00) Athens, Bucharest, Istanbul
          - Middle East Standard Time - (GMT+02:00) Beirut
          - Egypt Standard Time - (GMT+02:00) Cairo
          - South Africa Standard Time - (GMT+02:00) Harare, Pretoria
          - FLE Standard Time - (GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn,
            Vilnius
          - Israel Standard Time - (GMT+02:00) Jerusalem
          - E. Europe Standard Time - (GMT+02:00) Minsk
          - Namibia Standard Time - (GMT+02:00) Windhoek
          - Arabic Standard Time - (GMT+03:00) Baghdad
          - Arab Standard Time - (GMT+03:00) Kuwait, Riyadh
          - Russian Standard Time - (GMT+03:00) Moscow, St. Petersburg, Volgograd
          - E. Africa Standard Time - (GMT+03:00) Nairobi
          - Georgian Standard Time - (GMT+03:00) Tbilisi
          - Iran Standard Time - (GMT+03:30) Tehran
          - Arabian Standard Time - (GMT+04:00) Abu Dhabi, Muscat
          - Azerbaijan Standard Time - (GMT+04:00) Baku
          - Mauritius Standard Time - (GMT+04:00) Port Louis
          - Caucasus Standard Time - (GMT+04:00) Yerevan
          - Afghanistan Standard Time - (GMT+04:30) Kabul
          - Ekaterinburg Standard Time - (GMT+05:00) Ekaterinburg
          - Pakistan Standard Time - (GMT+05:00) Islamabad, Karachi
          - West Asia Standard Time - (GMT+05:00) Tashkent
          - India Standard Time - (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi
          - Sri Lanka Standard Time - (GMT+05:30) Sri Jayawardenepura
          - Nepal Standard Time - (GMT+05:45) Kathmandu
          - N. Central Asia Standard Time - (GMT+06:00) Almaty, Novosibirsk
          - Central Asia Standard Time - (GMT+06:00) Astana, Dhaka
          - Myanmar Standard Time - (GMT+06:30) Yangon (Rangoon)
          - SE Asia Standard Time - (GMT+07:00) Bangkok, Hanoi, Jakarta
          - North Asia Standard Time - (GMT+07:00) Krasnoyarsk
          - China Standard Time - (GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi
          - North Asia East Standard Time - (GMT+08:00) Irkutsk, Ulaan Bataar
          - Singapore Standard Time - (GMT+08:00) Kuala Lumpur, Singapore
          - W. Australia Standard Time - (GMT+08:00) Perth
          - Taipei Standard Time - (GMT+08:00) Taipei
          - Tokyo Standard Time - (GMT+09:00) Osaka, Sapporo, Tokyo
          - Korea Standard Time - (GMT+09:00) Seoul
          - Yakutsk Standard Time - (GMT+09:00) Yakutsk
          - Cen. Australia Standard Time - (GMT+09:30) Adelaide
          - AUS Central Standard Time - (GMT+09:30) Darwin
          - E. Australia Standard Time - (GMT+10:00) Brisbane
          - AUS Eastern Standard Time - (GMT+10:00) Canberra, Melbourne, Sydney
          - West Pacific Standard Time - (GMT+10:00) Guam, Port Moresby
          - Tasmania Standard Time - (GMT+10:00) Hobart
          - Vladivostok Standard Time - (GMT+10:00) Vladivostok
          - Central Pacific Standard Time - (GMT+11:00) Magadan, Solomon Is., New
            Caledonia
          - New Zealand Standard Time - (GMT+12:00) Auckland, Wellington
          - Fiji Standard Time - (GMT+12:00) Fiji, Kamchatka, Marshall Is.
          - Tonga Standard Time - (GMT+13:00) Nuku'alofa
          - Azores Standard Time - (GMT-01:00) Azores
          - Cape Verde Standard Time - (GMT-01:00) Cape Verde Is.
          - Mid-Atlantic Standard Time - (GMT-02:00) Mid-Atlantic
          - E. South America Standard Time - (GMT-03:00) Brasilia
          - Argentina Standard Time - (GMT-03:00) Buenos Aires
          - SA Eastern Standard Time - (GMT-03:00) Georgetown
          - Greenland Standard Time - (GMT-03:00) Greenland
          - Montevideo Standard Time - (GMT-03:00) Montevideo
          - Newfoundland Standard Time - (GMT-03:30) Newfoundland
          - Atlantic Standard Time - (GMT-04:00) Atlantic Time (Canada)
          - SA Western Standard Time - (GMT-04:00) La Paz
          - Central Brazilian Standard Time - (GMT-04:00) Manaus
          - Pacific SA Standard Time - (GMT-04:00) Santiago
          - Venezuela Standard Time - (GMT-04:30) Caracas
          - SA Pacific Standard Time - (GMT-05:00) Bogota, Lima, Quito, Rio Branco
          - Eastern Standard Time - (GMT-05:00) Eastern Time (US & Canada)
          - US Eastern Standard Time - (GMT-05:00) Indiana (East)
          - Central America Standard Time - (GMT-06:00) Central America
          - Central Standard Time - (GMT-06:00) Central Time (US & Canada)
          - Central Standard Time (Mexico) - (GMT-06:00) Guadalajara, Mexico City,
            Monterrey
          - Canada Central Standard Time - (GMT-06:00) Saskatchewan
          - US Mountain Standard Time - (GMT-07:00) Arizona
          - Mountain Standard Time (Mexico) - (GMT-07:00) Chihuahua, La Paz, Mazatlan
          - Mountain Standard Time - (GMT-07:00) Mountain Time (US & Canada)
          - Pacific Standard Time - (GMT-08:00) Pacific Time (US & Canada)
          - Pacific Standard Time (Mexico) - (GMT-08:00) Tijuana, Baja California
          - Alaskan Standard Time - (GMT-09:00) Alaska
          - Hawaiian Standard Time - (GMT-10:00) Hawaii
          - Samoa Standard Time - (GMT-11:00) Midway Island, Samoa
          - Dateline Standard Time - (GMT-12:00) International Date Line West
          x-ms-summary: Target Time Zone
        format:
          type: string
          description: Display format (defaults to 'yyyy-MM-dd HH:mm:ss')
          x-ms-summary: Format
      example:
        input: 03/10/2010 09:00:00
        source: 'GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh,
          Lisbon, London'
        target: Central Standard Time - (GMT-06:00) Central Time (US & Canada)
        format: yyyy-MM-dd HH:mm:ss
    inputDateTimeFormat:
      required:
      - culture
      - format
      - input
      type: object
      properties:
        input:
          type: string
          description: Source date and time
          x-ms-summary: Value
        culture:
          type: string
          description: Language culture
          default: en-US
          enum:
          - en-US
          - af-ZA
          - ar-AE
          - ar-BH
          - ar-DZ
          - ar-EG
          - ar-IQ
          - ar-JO
          - ar-KW
          - ar-LB
          - ar-LY
          - ar-MA
          - ar-OM
          - ar-QA
          - ar-SA
          - ar-SY
          - ar-TN
          - ar-YE
          - az-AZ
          - be-BY
          - bg-BG
          - bs-BA
          - ca-ES
          - cs-CZ
          - cy-GB
          - da-DK
          - de-AT
          - de-CH
          - de-DE
          - de-LI
          - de-LU
          - el-GR
          - en-AU
          - en-BZ
          - en-CA
          - en-CB
          - en-GB
          - en-IE
          - en-JM
          - en-NZ
          - en-PH
          - en-TT
          - en-ZA
          - en-ZW
          - es-AR
          - es-BO
          - es-CL
          - es-CO
          - es-CR
          - es-DO
          - es-EC
          - es-ES
          - es-GT
          - es-HN
          - es-MX
          - es-NI
          - es-PA
          - es-PE
          - es-PR
          - es-PY
          - es-SV
          - es-UY
          - es-VE
          - et-EE
          - eu-ES
          - fa-IR
          - fi-FI
          - fo-FO
          - fr-BE
          - fr-CA
          - fr-CH
          - fr-FR
          - fr-LU
          - fr-MC
          - gl-ES
          - gu-IN
          - he-IL
          - hi-IN
          - hr-BA
          - hr-HR
          - hu-HU
          - hy-AM
          - id-ID
          - is-IS
          - it-CH
          - it-IT
          - ja-JP
          - ka-GE
          - kk-KZ
          - kn-IN
          - ko-KR
          - ky-KG
          - lt-LT
          - lv-LV
          - mi-NZ
          - mn-MN
          - mr-IN
          - ms-BN
          - ms-MY
          - mt-MT
          - nl-BE
          - nl-NL
          - nn-NO
          - ns-ZA
          - pa-IN
          - pl-PL
          - ps-AR
          - pt-BR
          - pt-PT
          - ro-RO
          - ru-RU
          - sa-IN
          - sk-SK
          - sl-SI
          - sq-AL
          - sr-BA
          - sr-SP
          - sv-FI
          - sv-SE
          - sw-KE
          - ta-IN
          - te-IN
          - th-TH
          - tl-PH
          - tn-ZA
          - tr-TR
          - uk-UA
          - ur-PK
          - uz-UZ
          - vi-VN
          - zh-CN
          - zh-HK
          - zh-MO
          - zh-SG
          - zh-TW
          - zu-ZA
          x-ms-summary: Culture
        format:
          type: string
          description: Output format
          x-ms-summary: Format
      example:
        input: 03/10/2010 00:00:00
        culture: en-GB
        format: ddd
    inputDateTimeInfo:
      required:
      - culture
      - input
      type: object
      properties:
        input:
          type: string
          description: Source date and time
          x-ms-summary: Value
        culture:
          type: string
          description: Language culture
          default: en-US
          enum:
          - en-US
          - af-ZA
          - ar-AE
          - ar-BH
          - ar-DZ
          - ar-EG
          - ar-IQ
          - ar-JO
          - ar-KW
          - ar-LB
          - ar-LY
          - ar-MA
          - ar-OM
          - ar-QA
          - ar-SA
          - ar-SY
          - ar-TN
          - ar-YE
          - az-AZ
          - be-BY
          - bg-BG
          - bs-BA
          - ca-ES
          - cs-CZ
          - cy-GB
          - da-DK
          - de-AT
          - de-CH
          - de-DE
          - de-LI
          - de-LU
          - el-GR
          - en-AU
          - en-BZ
          - en-CA
          - en-CB
          - en-GB
          - en-IE
          - en-JM
          - en-NZ
          - en-PH
          - en-TT
          - en-ZA
          - en-ZW
          - es-AR
          - es-BO
          - es-CL
          - es-CO
          - es-CR
          - es-DO
          - es-EC
          - es-ES
          - es-GT
          - es-HN
          - es-MX
          - es-NI
          - es-PA
          - es-PE
          - es-PR
          - es-PY
          - es-SV
          - es-UY
          - es-VE
          - et-EE
          - eu-ES
          - fa-IR
          - fi-FI
          - fo-FO
          - fr-BE
          - fr-CA
          - fr-CH
          - fr-FR
          - fr-LU
          - fr-MC
          - gl-ES
          - gu-IN
          - he-IL
          - hi-IN
          - hr-BA
          - hr-HR
          - hu-HU
          - hy-AM
          - id-ID
          - is-IS
          - it-CH
          - it-IT
          - ja-JP
          - ka-GE
          - kk-KZ
          - kn-IN
          - ko-KR
          - ky-KG
          - lt-LT
          - lv-LV
          - mi-NZ
          - mn-MN
          - mr-IN
          - ms-BN
          - ms-MY
          - mt-MT
          - nl-BE
          - nl-NL
          - nn-NO
          - ns-ZA
          - pa-IN
          - pl-PL
          - ps-AR
          - pt-BR
          - pt-PT
          - ro-RO
          - ru-RU
          - sa-IN
          - sk-SK
          - sl-SI
          - sq-AL
          - sr-BA
          - sr-SP
          - sv-FI
          - sv-SE
          - sw-KE
          - ta-IN
          - te-IN
          - th-TH
          - tl-PH
          - tn-ZA
          - tr-TR
          - uk-UA
          - ur-PK
          - uz-UZ
          - vi-VN
          - zh-CN
          - zh-HK
          - zh-MO
          - zh-SG
          - zh-TW
          - zu-ZA
          x-ms-summary: Culture
      example:
        input: 03/10/2010 09:00:00
        culture: en-GB
    inputDateTimeDifference:
      required:
      - dateTime1
      - dateTime2
      type: object
      properties:
        dateTime1:
          type: string
          description: First date/time value
          x-ms-summary: First date/time value
        dateTime2:
          type: string
          description: Second date/time value
          x-ms-summary: Second date/time value
      example:
        dateTime1: 1/1/2010 12:37:19
        dateTime2: 3/15/2011 14:27:49
    inputGenerateUniqueID:
      required:
      - uppercase
      type: object
      properties:
        uppercase:
          type: string
          description: All uppercase alpha characters
          enum:
          - True
          - False
          x-ms-summary: Uppercase
      example:
        uppercase: True
    inputJoinStrings:
      required:
      - input
      - lower
      - separator
      - trim
      type: object
      properties:
        input:
          type: array
          description: Collection of strings to be joined
          items:
            type: string
          x-ms-summary: Values
        separator:
          type: string
          description: Separator character
          x-ms-summary: Separator
        lower:
          type: string
          description: Convert strings in collection to lowercase
          enum:
          - True
          - False
          x-ms-summary: Lowercase
        trim:
          type: string
          description: Trim strings in collection
          enum:
          - True
          - False
          x-ms-summary: Trim
      example:
        input:
        - The
        - brown
        - cow
        separator: ;
        lower: True
        trim: True
    inputJsonConversionCSV:
      required:
      - header
      - input
      type: object
      properties:
        input:
          type: string
          description: JSON array object
          x-ms-summary: Value
        header:
          type: boolean
          description: Include header row
          default: true
          x-ms-summary: Header
        omit:
          type: string
          description: Columns to omit (comma separated)
          x-ms-summary: Omit Columns
        order:
          type: string
          description: Column order (comma separated)
          x-ms-summary: Order
      example:
        input:
        - property1: value
        - property2: value
        - property3: value
        header: true
        omit: property1
        order: property3,property2
    inputJsonConversionHTML:
      required:
      - header
      - input
      type: object
      properties:
        input:
          type: string
          description: JSON array object
          x-ms-summary: Value
        header:
          type: boolean
          description: Include header row
          default: true
          x-ms-summary: Header
        alternate:
          type: string
          description: Alternate header row markup
          x-ms-summary: Alternate Header
        attributes:
          type: string
          description: Optional table attributes (single quoted values)
          x-ms-summary: Table Attributes
        omit:
          type: string
          description: Columns to omit (comma separated)
          x-ms-summary: Omit Columns
        order:
          type: string
          description: Column order (comma separated)
          x-ms-summary: Order
      example:
        input:
        - property1: value
        - property2: value
        - property3: value
        header: false
        alternate: <tr><th>Property 3</th><th>Property 2</th></tr>
        attributes: style='width:100%;text-align:center;'
        omit: property1
        order: property3,property2
    inputJsonConversionXML:
      required:
      - input
      - root
      type: object
      properties:
        input:
          type: string
          description: JSON array object
          x-ms-summary: Value
        root:
          type: string
          description: Name of root node
          x-ms-summary: Root Name
      example:
        input: '{"property1":"value","property2":"value","property3":"value"}'
        root: Properties
    inputNumberRange:
      required:
      - end
      - start
      type: object
      properties:
        start:
          minimum: 0
          type: number
          description: Start of range
          x-ms-summary: Start
        end:
          minimum: 0
          type: number
          description: End of range
          x-ms-summary: End
      example:
        start: 1
        end: 1000000
    inputRedactString:
      required:
      - source
      type: object
      properties:
        source:
          type: string
          description: String containing the complete text
          x-ms-summary: Source String
        value:
          type: string
          description: Individual string to redact
          x-ms-summary: Value
        values:
          type: array
          description: Collection of strings to redact
          items:
            type: string
          x-ms-summary: -OR- Values Collection
        regex:
          type: string
          description: Regular expression pattern for matching strings
          x-ms-summary: -OR- Regular Expression
      example:
        value: brown
        source: The brown cow
        values:
        - The
        - brown
        - cow
        regex: '[A-Za-z]{5}'
    inputReplaceString:
      required:
      - replacement
      - source
      - value
      type: object
      properties:
        source:
          type: string
          description: String containing the text to be replaced
          x-ms-summary: Source
        value:
          type: string
          description: Text to replace
          x-ms-summary: Value
        replacement:
          type: string
          description: Replacement text
          x-ms-summary: Replacement
      example:
        source: The brown cow
        value: cow
        replacement: dog
    inputSplitString:
      required:
      - characters
      - input
      type: object
      properties:
        input:
          type: string
          description: Text to split
          x-ms-summary: Value
        characters:
          type: string
          description: One or more characters that will be used to split the text
          x-ms-summary: Character(s)
      example:
        input: The,brown,cow
        characters: ','
    inputStringComparison:
      required:
      - compare
      - input
      - lower
      - trim
      type: object
      properties:
        input:
          type: string
          description: Original string
          x-ms-summary: Source
        compare:
          type: string
          description: Comparison string
          x-ms-summary: Target
        lower:
          type: string
          description: Convert strings to lowercase before comparison
          enum:
          - True
          - False
          x-ms-summary: Lowercase
        trim:
          type: string
          description: Trim strings before comparison
          enum:
          - True
          - False
          x-ms-summary: Trim
      example:
        input: Cow
        compare: dog
        lower: True
        trim: True
    inputStringContains:
      required:
      - find
      - input
      - lower
      type: object
      properties:
        find:
          type: string
          description: Text to match
          x-ms-summary: Value
        input:
          type: string
          description: Text to search
          x-ms-summary: Target
        lower:
          type: string
          description: Convert strings to lowercase
          enum:
          - True
          - False
          x-ms-summary: Lowercase
      example:
        find: cow
        input: The brown cow
        lower: True
    inputString:
      required:
      - source
      type: object
      properties:
        source:
          type: string
          description: String variable or text value
          x-ms-summary: Source
      example:
        source: The brown cow
    inputTranslateString:
      required:
      - input
      - language
      type: object
      properties:
        input:
          type: string
          description: String containing the text to be translated
          x-ms-summary: Value
        language:
          type: string
          description: Translation language
          enum:
          - Arabic
          - Chinese (Simplified)
          - Czech
          - Danish
          - Dutch
          - English
          - Finnish
          - French
          - German
          - Greek
          - Hindi
          - Hungarian
          - Italian
          - Japanese
          - Klingon
          - Korean
          - Norweigan
          - Polish
          - Portuguese
          - Russian
          - Spanish
          - Swedish
          - Turkish
          - Vietnamese
          - Welsh
          x-ms-summary: Language
      example:
        input: The brown cow
        language: German
    inputTrimString:
      required:
      - source
      - type
      type: object
      properties:
        source:
          type: string
          description: String containing the text to be trimmed
          x-ms-summary: Source
        type:
          type: string
          description: Type of white space to remove
          enum:
          - Start
          - End
          - Both
          x-ms-summary: Type
      example:
        source: '  The brown cow  '
        type: Both
    inputXmlConversionJSON:
      required:
      - input
      type: object
      properties:
        input:
          type: string
          description: XML string
          x-ms-summary: Value
      example:
        input: <properties><property1>value</property1></properties>
    inputTextToSpeech:
      required:
      - text
      - type
      - voice
      type: object
      properties:
        text:
          type: string
          description: Text to convert (10,000 characters max)
          x-ms-summary: Text
        type:
          type: string
          description: Text or file type
          default: PlainText
          enum:
          - PlainText
          - SSML
          x-ms-summary: Text or file type
        voice:
          type: string
          description: Voice locale (must match language of input text)
          default: en-US, Aria (Female)
          enum:
          - ar-EG, Hoda (Female)
          - ar-SA, Naayf (Male)
          - bg-BG, Ivan (Male)
          - ca-ES, Herena (Female)
          - cs-CZ, Jakub (Male)
          - da-DK, Helle (Female)
          - de-AT, Michael (Male)
          - de-CH, Karsten (Male)
          - de-DE, Hedda (Female)
          - de-DE, Stefan (Male)
          - el-GR, Stefanos (Male)
          - en-AU, Catherine (Female)
          - en-AU, Hayley (Female)
          - en-CA, Heather (Female)
          - en-CA, Linda (Female)
          - en-GB, George (Male)
          - en-GB, Hazel (Female)
          - en-GB, Susan (Female)
          - en-IE, Sean (Male)
          - en-IN, Heera (Female)
          - en-IN, Priya (Female)
          - en-IN, Ravi (Male)
          - en-US, Aria (Female)
          - en-US, Benjamin (Male)
          - en-US, Guy (Male)
          - en-US, Zira (Female)
          - es-ES, Helena (Female)
          - es-ES, Laura (Female)
          - es-ES, Pablo (Male)
          - es-MX, Hilda (Female)
          - es-MX, Raul (Male)
          - fi-FI, Heidi (Female)
          - fr-CA, Caroline (Female)
          - fr-CA, Harmonie (Female)
          - fr-CH, Guillaume (Male)
          - fr-FR, Hortense (Female)
          - fr-FR, Julie (Female)
          - fr-FR, Paul (Male)
          - he-IL, Asaf (Male)
          - hi-IN, Hemant (Male)
          - hi-IN, Kalpana (Female)
          - hr-HR, Matej (Male)
          - hu-HU, Szabolcs (Male)
          - id-ID, Andika (Male)
          - it-IT, Cosimo (Male)
          - it-IT, Lucia (Female)
          - ja-JP, Ayumi (Female)
          - ja-JP, Haruka (Female)
          - ja-JP, Ichiro (Male)
          - ko-KR, Heami (Female)
          - ms-MY, Rizwan (Male)
          - nb-NO, Hulda (Female)
          - nl-NL, Hanna (Female)
          - pl-PL, Paulina (Female)
          - pt-BR, Daniel (Male)
          - pt-BR, Heloisa (Female)
          - pt-PT, Helia (Female)
          - ro-RO, Andrei (Male)
          - ru-RU, Ekaterina (Female)
          - ru-RU, Irina (Female)
          - ru-RU, Pavel (Male)
          - sk-SK, Filip (Male)
          - sl-SI, Lado (Male)
          - sv-SE, Hedvig (Female)
          - ta-IN, Valluvar (Male)
          - te-IN, Chitra (Female)
          - th-TH, Pattara (Male)
          - tr-TR, Seda (Female)
          - vi-VN, An (Male)
          - zh-CN, Huihui (Female)
          - zh-CN, Kangkang (Male)
          - zh-CN, Yaoyao (Female)
          - zh-HK, Danny (Male)
          - zh-HK, Tracy (Female)
          - zh-TW, HanHan (Female)
          - zh-TW, Yating (Female)
          - zh-TW, Zhiwei (Male)
          x-ms-summary: Voice
      example:
        text: This is sample text.
        type: PlainText
        voice: en-US, Aria (Female)
    inputDataQuery:
      required:
      - input
      - query
      type: object
      properties:
        input:
          type: string
          description: XML or JSON string
          x-ms-summary: Value
        query:
          type: string
          description: XPath or JSONPath query
          x-ms-summary: Query
      example:
        input: '{"properties": [{"name":"ID","value":"1234"},{"name":"Title","value":"Some
          Title"}]}'
        query: $.properties[?(@.name == "ID")].value
    inputGenerateHash:
      required:
      - algorithm
      - input
      type: object
      properties:
        input:
          type: string
          description: Hash source string
          x-ms-summary: Input
        algorithm:
          type: string
          description: Hash algorithm
          enum:
          - MD5
          - SHA1
          - SHA256
          - SHA384
          - SHA512
          x-ms-summary: Algorithm
      example:
        source: text to hash
        algorithm: SHA256
    inputVerifyHash:
      required:
      - algorithm
      - hash
      - input
      type: object
      properties:
        input:
          type: string
          description: Original source string
          x-ms-summary: Input
        algorithm:
          type: string
          description: Hash algorithm
          enum:
          - MD5
          - SHA1
          - SHA256
          - SHA384
          - SHA512
          x-ms-summary: Algorithm
        hash:
          type: string
          description: Hashed result
          x-ms-summary: Hash
      example:
        source: this is a really good test
        algorithm: SHA256
        hash: a52b8248f023cebd33aeeddda695f60d2561c0c9
    inputStockPrices:
      required:
      - symbols
      type: object
      properties:
        symbols:
          type: string
          description: Stock ticker symbols (comma-separated, max 20)
          x-ms-summary: Symbols
        date:
          type: string
          description: Date (yyyy-MM-dd, leave empty for latest)
          x-ms-summary: Date
        exchange:
          type: string
          description: Stock exchange
          enum:
          - XNYS (New York Stock Exchange)
          - XNAS (NASDAQ Stock Exchange)
          - XBRU (Euronext Brussels)
          - XTSE (Toronto Stock Exchange)
          - XCNQ (Candadian Securities Exchange)
          - XSHG (Shanghai Stock Exchange)
          - XCSE (Copenhagen Stock Exchange)
          - XPAR (Euronext Paris)
          - XFRA (Deutsche Borse)
          - XHKG (Hong Kong Stock Exchange)
          - XNSE (National Stock Exchange India)
          - XTAE (Tel Aviv Stock Exchange)
          - XNGO (Nagoya Stock Exchange)
          - XFKA (Fukuoka Stock Exchange)
          - XSAP (Sapporo Stock Exchange)
          - XMEX (Mexican Stock Exchange)
          - XNZE (New Zealand Stock Exchange)
          - XLIS (Euronext Lisbon)
          - MISX (Moscow Stock Exchange)
          - XSES (Singapore Stock Exchange)
          - XLON (London Stock Exchange)
          - XASE (American Stock Exchange)
          - XASX (Australia Stock Exchange)
          - XDFM (Dubai Financial Market)
          - XBKK (Stock Exchange of Thailand)
          - XSWX (SIX Swiss Exchange)
          - XSTO (Stockholm Stock Exchange)
          - BMEX (Bolsas y Mercados Españoles)
          - XJSE (Johannesburg Stock Exchange)
          x-ms-summary: Exchange
      example:
        symbols: MMM,CVX
        date: 2020-10-07
        exchange: XNYS (New York Stock Exchange)
    inputMarketIndex:
      required:
      - symbol
      type: object
      properties:
        symbol:
          type: string
          description: Market index
          enum:
          - DJA.INDX (Dow Jones Composite Average)
          - DJI.INDX (Dow Jones Industrial Average)
          - DJT.INDX (Dow Jones Transportation)
          - DJUS.INDX (Dow Jones US)
          - DXY.INDX (US Dollar Index)
          - GDOW.INDX (Global Dow USD)
          - NY.INDX (NYSE US 100 Index)
          - NYA.INDX (NYSE Composite)
          - IXIC.INDX (NASDAQ Composite)
          - NDX.INDX (NASDAQ 100)
          - GSPC.INDX (S&P 500)
          - ES.INDX (S&P 500 Futures)
          - MID.INDX (S&P Midcap 400)
          - GPTSE.INDX (S&P TSX Composite Index [Canada])
          - FTSE.INDX (FTSE 100 Index [UK])
          - CDAXX.INDX (DAX Composite Index [Germany])
          - GDAXI.INDX (DAX Index [Germany])
          - HSCE.INDX (Hang Seng China Enterprise (CEI))
          - HSI.INDX (Hang Seng Index [Hong Kong])
          - N100.INDX (EuroNext 100)
          - N225.INDX (Nikkei 225 Index)
          - RTSI.INDX (RTSI Index [Russia])
          - SSEC.INDX (Shanghai Composite)
          - SSMI.INDX (Swiss Market Index)
          x-ms-summary: Index
        date:
          type: string
          description: Date (yyyy-MM-dd, leave empty for last trading day)
          x-ms-summary: Date
      example:
        symbol: DJI.INDX
        date: 2020-10-07
    inputQRCode:
      required:
      - input
      - payload
      type: object
      properties:
        input:
          type: string
          description: Text value(s) (vertical bar delimited by type)
          x-ms-summary: Value
        payload:
          type: string
          description: Payload type
          default: Plain Text (string)
          enum:
          - Plain Text (string)
          - Bitcoin Payment (address|amount|label|message)
          - Bookmark (url|title)
          - Calendar Event (subject|description|location|start|end|allDayEvent['true'
            or 'false']|format ['universal' or 'iCal'])
          - Geolocation (latitude|longitude)
          - Mail (recipient|subject|message)
          - Phone Number (string)
          - SMS (number|message)
          - URL (string)
          - WiFi (ssid|password|authenticationMode ['WEP', 'WPA' or 'WPA2'])
          x-ms-summary: Type
      example:
        input: someone@example.com|Test message|This is a test.
        payload: Mail
    inputStringToFile:
      required:
      - extension
      - filename
      - input
      type: object
      properties:
        input:
          type: string
          description: Text string (body of file)
          x-ms-summary: Value
        extension:
          type: string
          description: File extension
          default: TXT
          enum:
          - TXT
          - CSV
          - HTML
          - XML
          - CSS
          - JSON
          - JS
          x-ms-summary: Extension
        filename:
          type: string
          description: Name of file (without extension)
          x-ms-summary: Filename
      example:
        input: This is a test.
        extension: TXT
        filename: Test
    inputGeneratePassword:
      required:
      - length
      - lowercase
      - numeric
      - special
      - uppercase
      type: object
      properties:
        length:
          type: number
          description: Number of characters
          x-ms-summary: Length
        lowercase:
          type: boolean
          description: Include lowercase characters
          default: true
          x-ms-summary: Lowercase
        uppercase:
          type: boolean
          description: Include uppercase characters
          default: true
          x-ms-summary: Uppercase
        numeric:
          type: boolean
          description: Include single-digit numbers
          default: true
          x-ms-summary: Numeric
        special:
          type: boolean
          description: Include non-alphanumeric characters
          default: true
          x-ms-summary: Special Characters
      example:
        length: 12
        lowercase: false
        uppercase: true
        numeric: true
        special: true
    inputMapImage:
      required:
      - height
      - source
      - width
      - zoom
      type: object
      properties:
        source:
          type: string
          description: Full or partial address
          x-ms-summary: Address
        zoom:
          type: number
          description: Map image zoom level
          x-ms-summary: Zoom
        height:
          type: number
          description: Image height
          x-ms-summary: Height
        width:
          type: number
          description: Image width
          x-ms-summary: Width
      example:
        source: 15127 NE 24th Street, Redmond, WA 98052
        zoom: 10
        height: 512
        width: 512
    inputWeatherConditions:
      required:
      - source
      - units
      type: object
      properties:
        source:
          type: string
          description: Full or partial address
          x-ms-summary: Address
        units:
          type: string
          description: Units
          default: Imperial
          enum:
          - Imperial
          - Metric
          x-ms-summary: Units
      example:
        source: 15127 NE 24th Street, Redmond, WA 98052
        units: Imperial
    inputWeatherDailyForecast:
      required:
      - duration
      - source
      - units
      type: object
      properties:
        source:
          type: string
          description: Full or partial address
          x-ms-summary: Address
        units:
          type: string
          description: Units
          default: Imperial
          enum:
          - Imperial
          - Metric
          x-ms-summary: Units
        duration:
          type: number
          description: Duration
          x-ms-summary: Duration
      example:
        source: 15127 NE 24th Street, Redmond, WA 98052
        units: Imperial
        duration: 5
    inputWeatherHourlyForecast:
      required:
      - duration
      - source
      - units
      type: object
      properties:
        source:
          type: string
          description: Full or partial address
          x-ms-summary: Address
        units:
          type: string
          description: Units
          default: Imperial
          enum:
          - Imperial
          - Metric
          x-ms-summary: Units
        duration:
          type: number
          description: Duration
          x-ms-summary: Duration
      example:
        source: 15127 NE 24th Street, Redmond, WA 98052
        units: Imperial
        duration: 5
    inputWeatherActivityForecast:
      required:
      - activity
      - source
      type: object
      properties:
        source:
          type: string
          description: Full or partial address
          x-ms-summary: Address
        activity:
          type: string
          description: Weather-related activity
          default: Outdoor
          enum:
          - All
          - Environmental
          - Gardening
          - Outdoor Living
          - Beach and Marine
          - Farming
          - Health
          - Outdoor
          - Sporting
          - Home
          x-ms-summary: Activity
      example:
        source: 15127 NE 24th Street, Redmond, WA 98052
        activity: Outdoor
    outputStringArray:
      type: object
      properties:
        data:
          type: array
          description: data
          items:
            type: string
          x-ms-summary: data
      example:
        data:
        - string
    outputDateInfo:
      type: object
      properties:
        DayOfYear:
          type: number
          description: DayOfYear
          x-ms-summary: DayOfYear
        DayOfWeek:
          type: number
          description: DayOfWeek
          x-ms-summary: DayOfWeek
        WeekOfYear:
          type: number
          description: WeekOfYear
          x-ms-summary: WeekOfYear
        SecondsInDay:
          type: number
          description: SecondsInDay
          x-ms-summary: SecondsInDay
        MinutesInDay:
          type: number
          description: MinutesInDay
          x-ms-summary: MinutesInDay
        Ticks:
          type: number
          description: Ticks
          x-ms-summary: Ticks
      example:
        DayOfYear: 25
        DayOfWeek: 2
        WeekOfYear: 10
        SecondsInDay: 1234
        MinutesInDay: 359
        Ticks: 1234567890
    outputDateDifference:
      type: object
      properties:
        years:
          type: number
          description: Years
          x-ms-summary: Years
        months:
          type: number
          description: Months
          x-ms-summary: Months
        days:
          type: number
          description: Days
          x-ms-summary: Days
        hours:
          type: number
          description: Hours
          x-ms-summary: Hours
        minutes:
          type: number
          description: Minutes
          x-ms-summary: Minutes
        milliseconds:
          type: number
          description: Milliseconds
          x-ms-summary: Milliseconds
        totalYears:
          type: number
          description: Total Years
          format: double
          x-ms-summary: Total Years
        totalMonths:
          type: number
          description: Total Months
          format: double
          x-ms-summary: Total Months
        totalDays:
          type: number
          description: Total Days
          format: double
          x-ms-summary: Total Days
        totalHours:
          type: number
          description: Total Hours
          format: double
          x-ms-summary: Total Hours
        totalMinutes:
          type: number
          description: Total Minutes
          format: double
          x-ms-summary: Total Minutes
        totalSeconds:
          type: number
          description: Total Seconds
          format: double
          x-ms-summary: Total Seconds
        totalMilliseconds:
          type: number
          description: Total Milliseconds
          format: double
          x-ms-summary: Total Milliseconds
        ticks:
          type: number
          description: Ticks
          x-ms-summary: Ticks
      example:
        years: 1
        months: 2
        days: 14
        hours: 1
        minutes: 50
        seconds: 30
        milliseconds: 0
        totalYears: 1.2
        totalMonths: 14.39
        totalDays: 438.08
        totalHours: 10513.84
        totalMinutes: 630830.5
        totalSeconds: 37849830
        totalMilliseconds: 37849830000
        ticks: 378498300000000
    outputCollectionNumber:
      type: object
      properties:
        status:
          type: boolean
          description: Success
          x-ms-summary: Success
        item:
          type: number
          description: First Value
          x-ms-summary: First Value
        items:
          type: array
          description: All Values
          items:
            type: number
          x-ms-summary: All Values
      example:
        status: false
        item: 1.25
        items:
        - 1.25
        - 2.5
        - 3.75
    outputCollectionResult:
      type: object
      properties:
        result:
          type: array
          description: Modified collection result
          items:
            type: string
          x-ms-summary: Modified collection result
      example:
        result:
        - a
        - b
        - c
    outputCollectionString:
      type: object
      properties:
        status:
          type: boolean
          description: Success
          x-ms-summary: Success
        item:
          type: string
          description: First Value
          x-ms-summary: First Value
        items:
          type: array
          description: All Values
          items:
            type: string
          x-ms-summary: All Values
      example:
        status: false
        item: string
        items:
        - string
    outputMultiCollection:
      type: object
      properties:
        result1:
          type: array
          description: First collection result
          items:
            type: string
          x-ms-summary: First collection result
        result2:
          type: array
          description: Second collection result
          items:
            type: string
          x-ms-summary: Second collection result
      example:
        result1:
        - a
        - b
        - c
        result2:
        - d
        - e
        - f
    outputString:
      type: object
      properties:
        result:
          type: string
          description: Result
          x-ms-summary: Result
      example:
        result: string
    outputNumber:
      type: object
      properties:
        result:
          type: number
          description: Result
          x-ms-summary: Result
      example:
        result: 1
    outputBoolean:
      type: object
      properties:
        result:
          type: boolean
          description: Result
          x-ms-summary: Result
      example:
        result: true
    outputFileByte:
      type: object
      properties:
        result:
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          description: Result
          format: byte
          x-ms-summary: Result
      example:
        result: Base64 encoded string (byte array)
    outputStockPrice:
      type: object
      properties:
        result:
          type: array
          description: Stock price information
          items:
            type: object
            properties:
              date:
                type: string
                description: Date
                x-ms-summary: Date
              symbol:
                type: string
                description: Ticker symbol
                x-ms-summary: Symbol
              exchange:
                type: string
                description: Stock exchange
                x-ms-summary: Exchange
              open:
                type: number
                description: Open
                x-ms-summary: Open
              high:
                type: number
                description: High
                x-ms-summary: High
              low:
                type: number
                description: Low
                x-ms-summary: Low
              close:
                type: number
                description: Close
                x-ms-summary: Close
              volume:
                type: number
                description: Volume
                x-ms-summary: Volume
          x-ms-summary: Stock price information
      example:
        result:
        - open: 73.84
          high: 74.32
          low: 72.245
          last: 72.3
          close: 72.7
          volume: 15151304
          date: 2020-10-07T00:00:00+0000
          symbol: CVX
          exchange: XNYS
    outputMarketIndex:
      type: object
      properties:
        date:
          type: string
          description: Date
          x-ms-summary: Date
        symbol:
          type: string
          description: Index symbol
          x-ms-summary: Symbol
        exchange:
          type: string
          description: Market exchange
          x-ms-summary: Exchange
        open:
          type: number
          description: Open value
          x-ms-summary: Open
        high:
          type: number
          description: High value
          x-ms-summary: High
        low:
          type: number
          description: Low value
          x-ms-summary: Low
        close:
          type: number
          description: Close value
          x-ms-summary: Close
        volume:
          type: number
          description: Trading volume
          x-ms-summary: Volume
        adj_open:
          type: number
          description: Adjusted open value
          x-ms-summary: Adjusted Open
        adj_high:
          type: number
          description: Adjusted high value
          x-ms-summary: Adjusted High
        adj_low:
          type: number
          description: Adjusted low value
          x-ms-summary: Adjusted Low
        adj_close:
          type: number
          description: Adjusted close value
          x-ms-summary: Adjusted Close
        adj_volume:
          type: number
          description: Adjusted trading volume
          x-ms-summary: Adjusted Volume
      example:
        date: 2020-10-07T00:00:00+0000
        symbol: DJI.INDX
        exchange: INDX
        open: 73.84
        high: 74.32
        low: 72.245
        close: 72.7
        volume: 15151304
        adj_open: 73.84
        adj_high: 74.32
        adj_low: 72.245
        adj_close: 72.7
        adj_volume: 15151304
    outputIPLocation:
      type: object
      properties:
        countryName:
          type: string
          description: Country Name
          x-ms-summary: Country Name
        countryCode:
          type: string
          description: Country Code
          x-ms-summary: Country Code
        region:
          type: string
          description: Region
          x-ms-summary: Region
        locale:
          type: string
          description: Locale
          x-ms-summary: Locale
      example:
        result:
          countryName: United States
          countryCode: US
          region: Unavailable
          locale: Unavailable
    outputMapCoordinates:
      type: object
      properties:
        latitude:
          type: number
          description: Latitude
          x-ms-summary: Latitude
        longitude:
          type: number
          description: Longitude
          x-ms-summary: Longitude
      example:
        result:
          latitude: 47.63162
          longitude: -122.13401
    outputTimezoneInfo:
      type: object
      properties:
        id:
          type: string
          description: Timezone ID
          x-ms-summary: ID
        countryName:
          type: string
          description: Full country name
          x-ms-summary: Country Name
        countryCode:
          type: string
          description: Two-letter country code
          x-ms-summary: Country Code
        shortName:
          type: string
          description: Short timezone name
          x-ms-summary: Short Name
        standardName:
          type: string
          description: Standard timezone name
          x-ms-summary: Standard Name
        dstName:
          type: string
          description: Daylight Savings timezone name
          x-ms-summary: DST Name
        standardOffset:
          type: string
          description: Standard timezone offset from GMT
          x-ms-summary: Standard Offset
        dstOffset:
          type: string
          description: Daylight savings timezone offset from GMT
          x-ms-summary: DST Offset
        dstStart:
          type: string
          description: Daylight savings time start date
          x-ms-summary: DST Start
        dstEnd:
          type: string
          description: Daylight savings time end date
          x-ms-summary: DST End
        sunrise:
          type: string
          description: Time of sunrise in target timezone
          x-ms-summary: Sunrise
        sunset:
          type: string
          description: Time of sunset in target timezone
          x-ms-summary: Sunset
      example:
        result:
          id: America/Los_Angeles
          countryName: United States
          countryCode: US
          shortName: Pacific Time
          standardName: Pacific Standard Time
          dstName: Pacific Daylight Time
          standardOffset: -08:00:00
          dstOffset: 01:00:00
          dstStart: 2021-03-14T10:00:00Z
          dstEnd: 2021-11-07T09:00:00Z
          sunrise: 2021-05-17T05:28:26.1792939-07:00
          sunset: 2021-05-17T20:41:29.3078314-07:00
    outputWeatherConditions:
      type: object
      properties:
        description:
          type: string
          description: Description
          x-ms-summary: Description
        precipitation:
          type: boolean
          description: Precipitation
          x-ms-summary: Precipitation
        accumulatedPrecipitation:
          type: string
          description: Accumulated precipitation (24 hours)
          x-ms-summary: Accumulated Precipitation
        temperature:
          type: number
          description: Temperature
          x-ms-summary: Temperature
        windChill:
          type: number
          description: Wind Chill
          x-ms-summary: Wind Chill
        humidity:
          type: number
          description: Relative humidity
          x-ms-summary: Humidity
        dewPoint:
          type: number
          description: Dew point
          x-ms-summary: Dew Point
        windDirection:
          type: string
          description: Wind direction
          x-ms-summary: Wind Direction
        dstStart:
          type: string
          description: Daylight savings time start date
          x-ms-summary: DST Start
        windSpeed:
          type: string
          description: Wind speed
          x-ms-summary: Wind Speed
        windGust:
          type: string
          description: Wind gusts (max)
          x-ms-summary: Wind Gust
        uvIndex:
          type: number
          description: UV Index
          x-ms-summary: UV Index
        uvDescription:
          type: string
          description: UV Level
          x-ms-summary: UV Level
        visibility:
          type: string
          description: Visbility
          x-ms-summary: Visibility
        cloudCover:
          type: number
          description: Cloud cover
          x-ms-summary: Cloud Cover
        ceiling:
          type: string
          description: Ceiling
          x-ms-summary: Ceiling
        pressure:
          type: string
          description: Barometric pressure
          x-ms-summary: Pressure
        pressureTendency:
          type: string
          description: Barometric pressure trend
          x-ms-summary: Pressure Trend
      example:
        result:
          description: Mostly cloudy
          precipitation: false
          accumulatedPrecipitation: 0.3 in
          temperature: 56
          windChill: 56
          humidity: 68
          dewPoint: 46
          windDirection: SW
          windSpeed: 4.8 mi/h
          windGust: 9.7 mi/h
          uvIndex: 4
          uvDescription: Moderate
          visibility: 2.0 mi
          cloudCover: 76
          ceiling: 40000.0 ft
          pressure: 30.11 inHg
          pressureTendency: Steady
    outputDailyForecast:
      type: object
      properties:
        result:
          type: array
          description: Daily weather forecast
          items:
            type: object
            properties:
              date:
                type: string
                description: Date
                x-ms-summary: Date
              low:
                type: string
                description: Low temperature
                x-ms-summary: Low
              high:
                type: string
                description: High temperature
                x-ms-summary: High
              sunlight:
                type: number
                description: Hours of Sunlight
                x-ms-summary: Sunlight Hours
              airQuality:
                type: string
                description: Relative air quality
                x-ms-summary: Air Quality
              description:
                type: string
                description: Description
                x-ms-summary: Description
              precipitation:
                type: boolean
                description: Observable precipitation
                x-ms-summary: Precipitation
              precipitationProbability:
                type: number
                description: Chance of precipitiation
                x-ms-summary: Precipitiation probability
              precipitationType:
                type: string
                description: Type of precipitation
                x-ms-summary: Precipitation type
              hoursPrecipitation:
                type: number
                description: Hours of precipitation
                x-ms-summary: Precipitation hours
              rainProbability:
                type: number
                description: Probability of rain
                x-ms-summary: Rain probability
              snowProbability:
                type: number
                description: Probability of snow
                x-ms-summary: Snow probability
              iceProbability:
                type: number
                description: Probability of ice
                x-ms-summary: Ice probability
              thunderstormProbability:
                type: number
                description: Probability of thunderstorms
                x-ms-summary: Thunderstorm probability
              windDirection:
                type: string
                description: Wind direction
                x-ms-summary: Wind direction
              windSpeed:
                type: string
                description: Wind speed
                x-ms-summary: Wind speed
              windGust:
                type: string
                description: Wind gust
                x-ms-summary: Wind gust
              totalRain:
                type: string
                description: Total rain
                x-ms-summary: Total rain
              totalSnow:
                type: string
                description: Total snow
                x-ms-summary: Total snow
              totalIce:
                type: string
                description: Total ice
                x-ms-summary: Total ice
              cloudCover:
                type: number
                description: Cloud cover
                x-ms-summary: Cloud cover
          x-ms-summary: Daily weather forecast
      example:
        result:
        - date: 2021-01-01
          low: 54.0 F
          high: 68.0 F
          sunlight: 2.3
          airQuality: Good
          description: Mostly cloudy with a shower
          precipitation: true
          preciptationProbability: 60
          precipitationType: Rain
          hoursPrecipitation: 0
          rainProbability: 60
          snowProbability: 0
          iceProbability: 0
          thunderstormProbability: 12
          windDirection: SW
          windSpeed: 5.8 mi/h
          windGust: 9.2 mi/h
          totalRain: 0.1 in
          totalSnow: 0.0 in
          totalIce: 0.0 in
          cloudCover: 92
    outputHourlyForecast:
      type: object
      properties:
        result:
          type: array
          description: Daily weather forecast
          items:
            type: object
            properties:
              date:
                type: string
                description: Date
                x-ms-summary: Date
              description:
                type: string
                description: Description
                x-ms-summary: Description
              temperature:
                type: string
                description: Temperature
                x-ms-summary: Temperature
              dewPoint:
                type: string
                description: Dew point
                x-ms-summary: Dew Point
              relativeHumidity:
                type: number
                description: Relative humidity
                x-ms-summary: Relative humidity
              visibility:
                type: string
                description: Visibility
                x-ms-summary: Visibility
              uvIndex:
                type: string
                description: UV Index
                x-ms-summary: UV Index
              precipitation:
                type: boolean
                description: Observable precipitation
                x-ms-summary: Precipitation
              precipitationProbability:
                type: number
                description: Chance of precipitiation
                x-ms-summary: Precipitiation probability
              rainProbability:
                type: number
                description: Probability of rain
                x-ms-summary: Rain probability
              snowProbability:
                type: number
                description: Probability of snow
                x-ms-summary: Snow probability
              iceProbability:
                type: number
                description: Probability of ice
                x-ms-summary: Ice probability
              windDirection:
                type: string
                description: Wind direction
                x-ms-summary: Wind direction
              windSpeed:
                type: string
                description: Wind speed
                x-ms-summary: Wind speed
              windGust:
                type: string
                description: Wind gust
                x-ms-summary: Wind gust
              totalRain:
                type: string
                description: Total rain
                x-ms-summary: Total rain
              totalSnow:
                type: string
                description: Total snow
                x-ms-summary: Total snow
              totalIce:
                type: string
                description: Total ice
                x-ms-summary: Total ice
              ceiling:
                type: string
                description: Ceiling
                x-ms-summary: Ceiling
              cloudCover:
                type: number
                description: Cloud cover
                x-ms-summary: Cloud cover
          x-ms-summary: Daily weather forecast
      example:
        result:
        - date: 2021-01-01 14:00
          description: Rain
          temperature: 66 F
          dewPoint: 54 F
          relativeHumidity: 65
          visibility: 5 mi
          uvIndex: Moderate
          precipitation: true
          preciptationProbability: 51
          rainProbability: 51
          snowProbability: 0
          iceProbability: 0
          windDirection: SSW
          windSpeed: 9.2 mi/h
          windGust: 12.7 mi/h
          totalRain: 0.03 in
          totalSnow: 0 in
          totalIce: 0 in
          ceiling: 14700 ft
          cloudCover: 98
    outputActivityForecast:
      type: object
      properties:
        result:
          type: array
          description: Current weather-related activity forecast
          items:
            type: object
            properties:
              name:
                type: string
                description: Name
                x-ms-summary: Name
              date:
                type: string
                description: Date
                x-ms-summary: Date
              quality:
                type: string
                description: Quality of weather for specified activity
                x-ms-summary: Quality
              rating:
                type: number
                description: General quality rating
                x-ms-summary: Rating
              description:
                type: string
                description: Description
                x-ms-summary: Description
          x-ms-summary: Current activity forecast
      example:
        result:
        - name: Hiking Forecast
          date: 2021-01-01
          quality: Excellent
          rating: 5
          description: Conditions are excellent for hiking!
    outputImageMetadata:
      type: object
      properties:
        result:
          type: array
          description: Image EXIF Metadata
          items:
            type: object
            properties:
              apertureValue:
                type: string
                description: Aperture Value
                x-ms-summary: Aperture Value
              artist:
                type: string
                description: Artist
                x-ms-summary: Artist
              backgroundColor:
                type: string
                description: Background Color
                x-ms-summary: Background Color
              bitsPerSample:
                type: string
                description: Bits Per Sample
                x-ms-summary: Bits Per Sample
              brightnessValue:
                type: string
                description: Brightness Value
                x-ms-summary: Brightness Value
              cameraElevationAngle:
                type: string
                description: Camera Elevation Angle
                x-ms-summary: Camera Elevation Angle
              clipPath:
                type: string
                description: Clip Path
                x-ms-summary: Clip Path
              colorMap:
                type: string
                description: Color Map
                x-ms-summary: Color Map
              colorSpace:
                type: string
                description: Color Space
                x-ms-summary: Color Space
              colorType:
                type: string
                description: Color Type
                x-ms-summary: Color Type
              compressedBitsPerPixel:
                type: string
                description: Compressed Bits Per Pixel
                x-ms-summary: Compressed Bits Per Pixel
              compression:
                type: string
                description: Compression Type
                x-ms-summary: Compression Type
              contrast:
                type: string
                description: Contrast
                x-ms-summary: Contrast
              copyright:
                type: string
                description: Copyright
                x-ms-summary: Copyright
              customRendered:
                type: string
                description: Custom Rendered
                x-ms-summary: Custom Rendered
              dateTime:
                type: string
                description: Date/Time
                x-ms-summary: Date/Time
[...]
