openapi: 3.0.1
info:
  title: Quick Base API
  description: > 
    This is the [Quickbase API v1](https://developer.quickbase.com/) OpenAPI Specification.
    The Quickbase JSON RESTful API provides secure access to Quickbase apps and allow users to manage access using 
    Quickbase roles. Users can automate the app lifecycle using the Quickbase API. 
  version: 1.0.0
  x-ballerina-display:
    label: Quickbase
    iconPath: "icon.png"
  x-ballerina-init-description: >
    To use the Quickbase RESTful API, you need to authenticate with either a permanent user token or a temporary one if you are writing a utility client-side. Please refer [the guide](https://developer.quickbase.com/auth) here for more details. 
servers:
- url: https://api.quickbase.com/v1/
paths:
  /apps:
    post:
      tags:
      - Apps
      summary: Create an app
      description: Creates an application in an account. You must have application
        creation rights in the respective account. Main properties and application
        variables can be set with this API.
      operationId: createApp
      parameters:
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: Information is entered by the person or utility invoking the
          API. Choose between the default in your toolkit or custom create it. Being
          as descriptive as possible will help in identification and troubleshooting.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - name
              type: object
              properties:
                assignToken:
                  type: boolean
                  description: Set to true if you would like to assign the app to
                    the user token you used to create the application. The default
                    is false.
                  example: false
                variables:
                  type: array
                  description: The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)
                  items:
                    required:
                    - name
                    - value
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name for the variable.
                      value:
                        type: string
                        description: The value for the variable.
                name:
                  type: string
                  description: The app name. You are allowed to create multiple apps
                    with the same name, in the same realm, because they will have
                    different dbid values. We urge you to be careful about doing this.
                description:
                  type: string
                  description: The description for the app. If this property is left
                    out, the app description will be blank.
              description: The example below shows all the properties that can be
                set with this request. Additional properties that you can see, with
                the corresponding GET request, cannot be set through this API. See
                individual property descriptions below for details on how to set or
                change each.
              example:
                value:
                  name: My App
                  description: My first app
                  assignToken: true
                  variables:
                  - name: Variable1
                    value: Value1
        required: false
        description: App details
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                x-amf-examples:
                  Simple Application:
                    created: 2020-03-27T18:34:12.000Z
                    dateFormat: MM-DD-YYYY
                    description: My testing app
                    hasEveryoneOnTheInternet: true
                    id: bpqe82s1
                    name: Testing App
                    timeZone: (UTC-08:00) Pacific Time (US & Canada)
                    updated: 2020-04-03T19:12:20.000Z
                    dataClassification: Confidential
                  Application with defined variables:
                    description: This examples shows the response of an application
                      that contains one or more variables.
                    value:
                      created: 2020-03-27T18:34:12.000Z
                      dateFormat: MM-DD-YYYY
                      description: My testing app
                      hasEveryoneOnTheInternet: true
                      id: bpqe82s1
                      name: Testing App
                      timeZone: (UTC-08:00) Pacific Time (US & Canada)
                      variables:
                      - name: Project End Date
                        value: 7-16-2025
                      - name: Project Manager Email
                        value: p.diaz@company.com
                      updated: 2020-04-03T19:12:20.000Z
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
  /apps/{appId}:
    get:
      tags:
      - Apps
      summary: Get an app
      description: Returns the main properties of an application, including application
        variables.
      operationId: getApp
      parameters:
      - name: appId
        in: path
        description: The unique identifier of an app
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: Information is entered by the person or utility invoking the
          API. Choose between the default in your toolkit or custom create it. Being
          as descriptive as possible will help in identification and troubleshooting.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                x-amf-examples:
                  Simple Application:
                    created: 2020-03-27T18:34:12.000Z
                    dateFormat: MM-DD-YYYY
                    description: My testing app
                    hasEveryoneOnTheInternet: true
                    id: bpqe82s1
                    name: Testing App
                    timeZone: (UTC-08:00) Pacific Time (US & Canada)
                    updated: 2020-04-03T19:12:20.000Z
                    dataClassification: Confidential
                  Application with defined variables:
                    description: This examples shows the response of an application
                      that contains one or more variables.
                    value:
                      created: 2020-03-27T18:34:12.000Z
                      dateFormat: MM-DD-YYYY
                      description: My testing app
                      hasEveryoneOnTheInternet: true
                      id: bpqe82s1
                      name: Testing App
                      timeZone: (UTC-08:00) Pacific Time (US & Canada)
                      variables:
                      - name: Project End Date
                        value: 7-16-2025
                      - name: Project Manager Email
                        value: p.diaz@company.com
                      updated: 2020-04-03T19:12:20.000Z
          x-amf-mediaType: application/json
    post:
      tags:
      - Apps
      summary: Update an app
      description: Updates the main properties and/or application variables for a
        specific application. Any properties of the app that you do not specify in
        the request body will remain unchanged.
      operationId: updateApp
      parameters:
      - name: appId
        in: path
        description: The unique identifier of an app
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: Information is entered by the person or utility invoking the
          API. Choose between the default in your toolkit or custom create it. Being
          as descriptive as possible will help in identification and troubleshooting.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                variables:
                  type: array
                  description: The app variables. See [About Application Variables](https://help.quickbase.com/user-assistance/variables.html)
                  items:
                    required:
                    - name
                    - value
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name for the variable.
                      value:
                        type: string
                        description: The value for the variable.
                name:
                  type: string
                  description: The name for the app.
                description:
                  type: string
                  description: The description for the app.
              description: The example below shows all the properties that can be
                changed with this request. Additional properties that you can see
                with the corresponding GET request cannot be set through this API.
                See individual property descriptions below for details on how to set
                or change each.
              example:
                value:
                  name: My App
                  description: My first app
                  variables:
                  - name: Variable1
                    value: Value1
        required: false
        description: App details
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                x-amf-examples:
                  Simple Application:
                    created: 2020-03-27T18:34:12.000Z
                    dateFormat: MM-DD-YYYY
                    description: My testing app
                    hasEveryoneOnTheInternet: true
                    id: bpqe82s1
                    name: Testing App
                    timeZone: (UTC-08:00) Pacific Time (US & Canada)
                    updated: 2020-04-03T19:12:20.000Z
                    dataClassification: Confidential
                  Application with defined variables:
                    description: This examples shows the response of an application
                      that contains one or more variables.
                    value:
                      created: 2020-03-27T18:34:12.000Z
                      dateFormat: MM-DD-YYYY
                      description: My testing app
                      hasEveryoneOnTheInternet: true
                      id: bpqe82s1
                      name: Testing App
                      timeZone: (UTC-08:00) Pacific Time (US & Canada)
                      variables:
                      - name: Project End Date
                        value: 7-16-2025
                      - name: Project Manager Email
                        value: p.diaz@company.com
                      updated: 2020-04-03T19:12:20.000Z
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    # delete:
    #   tags:
    #   - Apps
    #   summary: Delete an app
    #   description: Deletes an entire application, including all of the tables and
    #     data.
    #   operationId: deleteApp
    #   parameters:
    #   - name: appId
    #     in: path
    #     description: The unique identifier of an app
    #     required: true
    #     schema:
    #       type: string
    #   - name: QB-Realm-Hostname
    #     in: header
    #     description: Your Quickbase domain, for example demo.quickbase.com
    #     required: true
    #     schema:
    #       type: string
    #   - name: User-Agent
    #     in: header
    #     description: Information is entered by the person or utility invoking the
    #       API. Choose between the default in your toolkit or custom create it. Being
    #       as descriptive as possible will help in identification and troubleshooting.
    #     schema:
    #       type: string
    #   - name: Authorization
    #     in: header
    #     description: The Quickbase authentication scheme you are using to authenticate
    #       the request, as described on the [authorization page](../auth).
    #     required: true
    #     schema:
    #       type: string
    #   requestBody:
    #     content:
    #       application/json:
    #         schema:
    #           required:
    #           - name
    #           type: object
    #           properties:
    #             name:
    #               type: string
    #               description: To confirm application deletion we ask for application
    #                 name.
    #           example:
    #             name: Name of an application to delete
    #     required: false
    #   responses:
    #     200:
    #       description: Success
    #       content:
    #         application/json:
    #           schema:
    #             type: object
    #             additionalProperties:
    #               type: object
    #             example:
    #               deletedAppId: bqhskthaq
    #       x-amf-mediaType: application/json
    #   x-codegen-request-body-name: generated
  /apps/{appId}/events:
    get:
      tags:
      - Apps
      summary: Get app events
      description: 'Get a list of events that can be triggered based on data or user
        actions in this application, includes: Email notification, Reminders, Subscriptions,
        QB Actions, Webhooks, record change triggered Automations (does not include
        scheduled).'
      operationId: getAppEvents
      parameters:
      - name: appId
        in: path
        description: The unique identifier of an app
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: Information is entered by the person or utility invoking the
          API. Choose between the default in your toolkit or custom create it. Being
          as descriptive as possible will help in identification and troubleshooting.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                example:
                - type: qb-action
                  owner:
                    email: jsmith@quickbase.com
                    id: 123456.ab1s
                    name: Juliet Smith
                    userName: jsmith
                  isActive: true
                  tableId: bqwriv8bw
                  name: Quick Base Action
                - type: webhook
                  owner:
                    email: tanderson@quickbase.com
                    id: 654321.ab1s
                    name: Thomas A. Anderson
                    userName: tanderson
                  isActive: false
                  tableId: bqwriv8bw
                  name: Webhook
                - type: email-notification
                  owner:
                    email: jsmith@quickbase.com
                    id: 123456.ab1s
                    name: Juliet Smith
                    userName: jsmith
                  isActive: false
                  tableId: bqwriv8bw
                  name: Notification
                - type: subscription
                  owner:
                    email: tanderson@quickbase.com
                    id: 654321.ab1s
                    name: Thomas A. Anderson
                    userName: tanderson
                  isActive: true
                  tableId: bqwriv8bw
                  name: Subscription
                - type: reminder
                  owner:
                    email: jsmith@quickbase.com
                    id: 123456.ab1s
                    name: Juliet Smith
                    userName: jsmith
                  isActive: true
                  tableId: bqwriv8bw
                  name: Reminder
                - type: automation
                  owner:
                    email: tanderson@quickbase.com
                    id: 654321.ab1s
                    name: Thomas A. Anderson
                    userName: tanderson
                  isActive: true
                  tableId: bqwriv8bw
                  url: https://realm.quickbase.com/ui/automation/qb/db/bqwria893/automations/70eecab9-634f-42d9-9037-9340a1a9e8ce
                items:
                  type: object
                  properties:
                    isActive:
                      type: boolean
                      description: Indication of whether current event is active.
                    type:
                      type: string
                      description: Type of an event.
                      enum:
                      - webhook
                      - qb-action
                      - email-notification
                      - subscription
                      - reminder
                      - automation
                    name:
                      type: string
                      description: The name of the event. This property is not returned
                        for automations.
                    url:
                      type: string
                      description: The url to automation that can be accessed from
                        the browser. Only returned for automations.
                    owner:
                      type: object
                      properties:
                        name:
                          type: string
                          description: User full name.
                        id:
                          type: string
                          description: User Id.
                        email:
                          type: string
                          description: User email.
                        userName:
                          type: string
                          description: User Name as updated in user properties. Optional,
                            appears if not the same as user email.
                      description: The user that owns the event.
                    tableId:
                      type: string
                      description: The unique identifier of the table to which event
                        belongs to.
          x-amf-mediaType: application/json
  /apps/{appId}/copy:
    post:
      tags:
      - Apps
      summary: Copy an app
      description: Copies the specified application. The new application will have
        the same schema as the original. See below for additional copy options.
      operationId: copyApp
      parameters:
      - name: appId
        in: path
        description: The unique identifier of an app
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: Information is entered by the person or utility invoking the
          API. Choose between the default in your toolkit or custom create it. Being
          as descriptive as possible will help in identification and troubleshooting.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - name
              type: object
              properties:
                name:
                  type: string
                  description: The name of the newly copied app
                description:
                  type: string
                  description: The description of the newly copied app
                properties:
                  type: object
                  properties:
                    assignUserToken:
                      type: boolean
                      description: Whether to add the user token used to make this
                        request to the new app
                    excludeFiles:
                      type: boolean
                      description: If keepData is true, whether to copy the file attachments
                        as well. If keepData is false, this property is ignored
                    keepData:
                      type: boolean
                      description: Whether to copy the app's data along with the schema
                    usersAndRoles:
                      type: boolean
                      description: If true, users will be copied along with their
                        assigned roles. If false, users and roles will be copied but
                        roles will not be assigned
                  description: The configuration properties for performing the app
                    copy
              example:
                name: my copied app
                description: copied from my original app
                properties:
                  keepData: false
                  excludeFiles: true
                  usersAndRoles: false
                  assignUserToken: true
        required: false
        description: App details
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  ancestorId: bqhskthaq
                  created: 2020-03-27T18:34:12.000Z
                  dateFormat: MM-DD-YYYY
                  description: My testing app
                  hasEveryoneOnTheInternet: true
                  id: bpqe82s1
                  name: Testing App
                  timeZone: (UTC-08:00) Pacific Time (US & Canada)
                  updated: 2020-04-03T19:12:20.000Z
                  dataClassification: None
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
  /tables:
    get:
      tags:
      - Tables
      summary: Get tables for an app
      description: Gets a list of all the tables that exist in a specific application.
        The properties for each table are the same as what is returned in Get table.
      operationId: getAppTables
      parameters:
      - name: appId
        in: query
        description: The unique identifier of an app
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                example:
                - name: 'Example Table #0'
                  created: 2020-03-27T18:34:40.000Z
                  updated: 2020-04-03T19:12:40.000Z
                  alias: _dbid_example_table_#0
                  description: Table zero as an example.
                  id: bpqe82s1
                  nextRecordId: 1
                  nextFieldId: 1
                  defaultSortFieldId: 2
                  defaultSortOrder: ASC
                  keyFieldId: 3
                  singleRecordName: Example Record
                  pluralRecordName: Example Records
                  sizeLimit: 150 MB
                  spaceUsed: 17 MB
                  spaceRemaining: 133 MB
                - name: 'Example Table #2'
                  created: 2020-03-27T18:34:40.000Z
                  updated: 2020-04-03T19:12:40.000Z
                  alias: _dbid_example_table_#2
                  description: Table two as an example.
                  id: bpqe82z1
                  nextRecordId: 10
                  nextFieldId: 111
                  defaultSortFieldId: 12
                  defaultSortOrder: DESC
                  keyFieldId: 33
                  singleRecordName: Another Record
                  pluralRecordName: More Records
                  sizeLimit: 150 MB
                  spaceUsed: 22 MB
                  spaceRemaining: 128 MB
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the table.
                    id:
                      type: string
                      description: The unique identifier (dbid) of the table.
                    alias:
                      type: string
                      description: The automatically-created table alias for the table.
                    description:
                      type: string
                      description: The description of the table, as configured by
                        an application administrator.
                    created:
                      type: string
                      description: The time and date when the table was created, in
                        the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC
                        time zone).
                    updated:
                      type: string
                      description: The time and date when the table schema or data
                        was last updated, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ
                        (in UTC time zone).
                    nextRecordId:
                      type: integer
                      description: The incremental Record ID that will be used when
                        the next record is created, as determined when the API call
                        was ran.
                    nextFieldId:
                      type: integer
                      description: The incremental Field ID that will be used when
                        the next field is created, as determined when the API call
                        was ran.
                    defaultSortFieldId:
                      type: integer
                      description: The id of the field that is configured for default
                        sorting.
                    defaultSortOrder:
                      type: string
                      description: The configuration of the default sort order on
                        the table.
                      enum:
                      - ASC
                      - DESC
                    keyFieldId:
                      type: integer
                      description: The id of the field that is configured to be the
                        key on this table, which is usually the Quickbase Record ID.
                    singleRecordName:
                      type: string
                      description: The builder-configured singular noun of the table.
                    pluralRecordName:
                      type: string
                      description: The builder-configured plural noun of the table.
                    sizeLimit:
                      type: string
                      description: The size limit for the table.
                    spaceUsed:
                      type: string
                      description: The amount of space currently being used by the
                        table.
                    spaceRemaining:
                      type: string
                      description: The amount of space remaining for use by the table.
                  example:
                    name: Example Table
                    created: 2020-03-27T18:34:40.000Z
                    updated: 2020-04-03T19:12:40.000Z
                    alias: _dbid_example_table
                    description: Table as an example.
                    id: bpqe82s0
                    nextRecordId: 1
                    nextFieldId: 1
                    defaultSortFieldId: 2
                    defaultSortOrder: ASC
                    keyFieldId: 3
                    singleRecordName: Example Record
                    pluralRecordName: Example Records
                    sizeLimit: 150 MB
                    spaceUsed: 17 MB
                    spaceRemaining: 133 MB
          x-amf-mediaType: application/json
    post:
      tags:
      - Tables
      summary: Create a table
      description: Creates a table in an application.
      operationId: createTable
      parameters:
      - name: appId
        in: query
        description: The unique identifier of an app
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - name
              type: object
              properties:
                name:
                  minLength: 1
                  type: string
                  description: The name for the table.
                pluralRecordName:
                  type: string
                  description: The plural noun for records in the table. If this value
                    is not passed the default value is 'Records'.
                singleRecordName:
                  type: string
                  description: The singular noun for records in the table. If this
                    value is not passed the default value is 'Record'.
                description:
                  type: string
                  description: The description for the table. If this value is not
                    passed the default value is blank.
              description: The example below shows all the properties that can be
                changed with this request. Additional properties that you can see
                with the corresponding GET request cannot be set through this API.
              example:
                name: My table
                description: my first table
                singleRecordName: record
                pluralRecordName: records
        required: false
        description: Table details
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  name: Example Table
                  created: 2020-03-27T18:34:40.000Z
                  updated: 2020-04-03T19:12:40.000Z
                  alias: _dbid_example_table
                  description: Table as an example.
                  id: bpqe82s0
                  nextRecordId: 1
                  nextFieldId: 1
                  defaultSortFieldId: 2
                  defaultSortOrder: ASC
                  keyFieldId: 3
                  singleRecordName: Example Record
                  pluralRecordName: Example Records
                  sizeLimit: 150 MB
                  spaceUsed: 17 MB
                  spaceRemaining: 133 MB
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
  /tables/{tableId}:
    get:
      tags:
      - Tables
      summary: Get a table
      description: Gets the properties of an individual table that is part of an application.
      operationId: getTable
      parameters:
      - name: tableId
        in: path
        description: The unique identifier (dbid) of the table.
        required: true
        schema:
          type: string
      - name: appId
        in: query
        description: The unique identifier of an app
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  name: Example Table
                  created: 2020-03-27T18:34:40.000Z
                  updated: 2020-04-03T19:12:40.000Z
                  alias: _dbid_example_table
                  description: Table as an example.
                  id: bpqe82s0
                  nextRecordId: 1
                  nextFieldId: 1
                  defaultSortFieldId: 2
                  defaultSortOrder: ASC
                  keyFieldId: 3
                  singleRecordName: Example Record
                  pluralRecordName: Example Records
                  sizeLimit: 150 MB
                  spaceUsed: 17 MB
                  spaceRemaining: 133 MB
          x-amf-mediaType: application/json
    post:
      tags:
      - Tables
      summary: Update a table
      description: Updates the main properties of a specific table. Any properties
        of the table that you do not specify in the request body will remain unchanged.
      operationId: updateTable
      parameters:
      - name: tableId
        in: path
        description: The unique identifier (dbid) of the table.
        required: true
        schema:
          type: string
      - name: appId
        in: query
        description: The unique identifier of an app
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name for the table.
                pluralRecordName:
                  type: string
                  description: The plural noun for records in the table. If this value
                    is not passed the default value is 'Records'.
                singleRecordName:
                  type: string
                  description: The singular noun for records in the table. If this
                    value is not passed the default value is 'Record'.
                description:
                  type: string
                  description: The description for the table. If this value is not
                    passed the default value is blank.
              description: The example below shows all the properties that can be
                changed with this request. Additional properties that you can see
                with the corresponding GET request cannot be set through this API.
              example:
                name: My table
                description: my first table
                singleRecordName: record
                pluralRecordName: records
        required: false
        description: Table details
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  name: Example Table
                  created: 2020-03-27T18:34:40.000Z
                  updated: 2020-04-03T19:12:40.000Z
                  alias: _dbid_example_table
                  description: Table as an example.
                  id: bpqe82s0
                  nextRecordId: 1
                  nextFieldId: 1
                  defaultSortFieldId: 2
                  defaultSortOrder: ASC
                  keyFieldId: 3
                  singleRecordName: Example Record
                  pluralRecordName: Example Records
                  sizeLimit: 150 MB
                  spaceUsed: 17 MB
                  spaceRemaining: 133 MB
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    delete:
      tags:
      - Tables
      summary: Delete a table
      description: Deletes a specific table in an application, including all of the
        data within it.
      operationId: deleteTable
      parameters:
      - name: tableId
        in: path
        description: The unique identifier (dbid) of the table.
        required: true
        schema:
          type: string
      - name: appId
        in: query
        description: The unique identifier of an app
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  deletedTableId: bck7gp3q2
          x-amf-mediaType: application/json
  /tables/{tableId}/relationships:
    get:
      tags:
      - Tables
      summary: Get all relationships
      description: Get a list of all relationships, and their definitions, for a specific
        table. Details are provided for both the parent and child sides of relationships
        within a given application. Limited details are returned for cross-application
        relationships.
      operationId: getRelationships
      parameters:
      - name: tableId
        in: path
        description: The unique identifier (dbid) of the table.
        required: true
        schema:
          type: string
      - name: skip
        in: query
        description: The number of relationships to skip.
        schema:
          type: integer
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  metadata:
                    numRelationships: 1
                    skip: 0
                    totalRelationships: 1
                  relationships:
                  - childTableId: bqqjnwsuy
                    foreignKeyField:
                      id: 6
                      label: Related record
                      type: numeric
                    id: 6
                    isCrossApp: false
                    lookupFields:
                    - id: 3
                      label: Name
                      type: text
                    parentTableId: bck7gp3q2
                    summaryFields:
                    - id: 8
                      label: my summary field
                      type: numeric
          x-amf-mediaType: application/json
  /tables/{tableId}/relationship:
    post:
      tags:
      - Tables
      summary: Create a relationship
      description: Creates a relationship in a table as well as lookup/summary fields.
        Relationships can only be created for tables within the same app.
      operationId: createRelationship
      parameters:
      - name: tableId
        in: path
        description: The unique identifier (dbid) of the table. This will be the child
          table.
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - parentTableId
              type: object
              properties:
                summaryFields:
                  type: array
                  description: Array of summary field objects which will turn into
                    summary fields in the parent table. When you specify the 'COUNT'
                    accumulation type, you have to specify 0 as the summaryFid (or
                    not set it in the request). 'DISTINCT-COUNT' requires that summaryFid
                    be set to an actual fid.
                  items:
                    required:
                    - accumulationType
                    type: object
                    properties:
                      summaryFid:
                        type: number
                        description: The field id to summarize.
                      label:
                        type: string
                        description: The label for the summary field.
                      accumulationType:
                        type: string
                        description: The accumulation type for the summary field.
                        enum:
                        - AVG
                        - SUM
                        - MAX
                        - MIN
                        - STD-DEV
                        - COUNT
                        - COMBINED-TEXT
                        - DISTINCT-COUNT
                      where:
                        type: string
                        description: The filter, using the Quickbase query language,
                          which determines the records to return.
                lookupFieldIds:
                  type: array
                  description: Array of field ids in the parent table that will become
                    lookup fields in the child table.
                  items:
                    type: integer
                parentTableId:
                  type: string
                  description: The parent table id for the relationship.
                foreignKeyField:
                  type: object
                  properties:
                    label:
                      type: string
                      description: The label for the foreign key field.
                  description: This property is optional.  If it is not provided,
                    the foreign key field will be created with the label ‘Related
                    <record>’, where <record> is the name of a record in the parent
                    table.
              example:
                parentTableId: bck7gp3q2
                foreignKeyField:
                  label: my relationship field
                lookupFieldIds:
                - 1
                - 2
                - 3
                summaryFields:
                - summaryFid: 3
                  label: my first summary field
                  accumulationType: AVG
                  where: '{''3''.EX.1}'
                - summaryFid: 4
                  label: my second summary field
                  accumulationType: SUM
        required: false
        description: Relationship details
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  id: 6
                  foreignKeyField:
                    id: 6
                    label: Related record
                    type: numeric
                  lookupFields:
                  - id: 7
                    label: record - text field
                    type: text
                  isCrossApp: false
                  parentTableId: bck7gp3q2
                  childTableId: bck7gp3q3
                  summaryFields:
                  - id: 8
                    label: Summary of Record ID#2
                    type: numeric
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
  /tables/{tableId}/relationship/{relationshipId}:
    post:
      tags:
      - Tables
      summary: Update a relationship
      description: Use this endpoint to add lookup fields and summary fields to an
        existing relationship. Updating a relationship will not delete existing lookup/summary
        fields.
      operationId: updateRelationship
      parameters:
      - name: tableId
        in: path
        description: The unique identifier (dbid) of the table. This will be the child
          table.
        required: true
        schema:
          type: string
      - name: relationshipId
        in: path
        description: The relationship id. This is the field id of the reference field
          on the child table.
        required: true
        schema:
          type: number
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                summaryFields:
                  type: array
                  description: An array of objects, each representing a configuration
                    of one field from the child table, that will become summary fields
                    on the parent table. When you specify the 'COUNT' accumulation
                    type, you have to specify 0 as the summaryFid (or not set it in
                    the request). 'DISTINCT-COUNT' requires that summaryFid be set
                    to an actual fid.
                  items:
                    required:
                    - accumulationType
                    type: object
                    properties:
                      summaryFid:
                        type: number
                        description: The field id to summarize.
                      label:
                        type: string
                        description: The label for the summary field.
                      accumulationType:
                        type: string
                        description: The accumulation type for the summary field.
                        enum:
                        - AVG
                        - SUM
                        - MAX
                        - MIN
                        - STD-DEV
                        - COUNT
                        - COMBINED-TEXT
                        - DISTINCT-COUNT
                      where:
                        type: string
                        description: The filter, using the Quickbase query language,
                          which determines the records to return.
                lookupFieldIds:
                  type: array
                  description: An array of field ids on the parent table that will
                    become lookup fields on the child table.
                  items:
                    type: integer
              example:
                lookupFieldIds:
                - 4
                - 5
                - 6
                summaryFields:
                - summaryFid: 3
                  label: my summary field
                  accumulationType: COUNT
                  where: '{''3''.EX.1}'
        required: false
        description: Relationship details
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  id: 6
                  foreignKeyField:
                    id: 6
                    label: Related record
                    type: numeric
                  lookupFields:
                  - id: 7
                    label: record - text field
                    type: text
                  isCrossApp: false
                  parentTableId: bck7gp3q2
                  childTableId: bck7gp3q3
                  summaryFields:
                  - id: 8
                    label: Summary of Record ID#2
                    type: numeric
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    delete:
      tags:
      - Tables
      summary: Delete a relationship
      description: Use this endpoint to delete an entire relationship, including all
        lookup and summary fields. The reference field in the relationship will not
        be deleted.
      operationId: deleteRelationship
      parameters:
      - name: tableId
        in: path
        description: The unique identifier (dbid) of the table. This will be the child
          table.
        required: true
        schema:
          type: string
      - name: relationshipId
        in: path
        description: The relationship id. This is the field id of the reference field
          on the child table.
        required: true
        schema:
          type: number
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  relationshipId: 6
          x-amf-mediaType: application/json
  /reports:
    get:
      tags:
      - Reports
      summary: Get reports for a table
      description: Get the schema (properties) of all reports for a table. If the
        user running the API is an application administrator, the API will also return
        all personal reports with owner's user id.
      operationId: getTableReports
      parameters:
      - name: tableId
        in: query
        description: The unique identifier of the table.
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: This is simple example of report schema for more details
                  please refer [Report types page](../reportTypes)
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The identifier of the report, unique to the table.
                    name:
                      type: string
                      description: The configured name of the report.
                    type:
                      type: string
                      description: The type of report in Quickbase (e.g., chart).
                    description:
                      type: string
                      description: The configured description of a report.
                    ownerId:
                      type: integer
                      description: Optional, showed only for personal reports. The
                        user ID of report owner.
                    query:
                      type: object
                      properties:
                        tableId:
                          type: string
                          description: The table identifier for the report.
                        filter:
                          type: string
                          description: Filter used to query for data.
                        formulaFields:
                          type: array
                          description: Calculated formula fields.
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Formula field identifier.
                              label:
                                type: string
                                description: Formula field label.
                              fieldType:
                                type: string
                                description: Resulting formula value type.
                                enum:
                                - rich-text
                                - text
                                - numeric
                                - currency
                                - percent
                                - rating
                                - date
                                - timestamp
                                - timeofday
                                - duration
                                - checkbox
                                - phone
                                - email
                                - user
                                - multiuser
                                - url
                              formula:
                                type: string
                                description: Formula text.
                              decimalPrecision:
                                type: integer
                                description: For numeric formula the number precision.
                      description: The query definition as configured in Quickbase
                        that gets executed when the report is run.
                    properties:
                      type: object
                      properties: {}
                      description: A list of properties specific to the report type.
                        To see a detailed description of the properties for each report
                        type, See [Report Types.](../reportTypes)
                    usedLast:
                      type: string
                      description: The instant at which a report was last used.
                    usedCount:
                      type: integer
                      description: The number of times a report has been used.
                  example:
                    value:
                      id: "5"
                      name: table-report
                      type: table
                      description: This is Table report.
                      query:
                        tableId: bpweef42b
                        filter: '{6.CT.''FilterByThisValue''}'
                        formulaFields:
                        - id: -100
                          label: NumericField
                          fieldType: numeric
                          formula: 1+1
                          decimalPrecision: 4
                        fields:
                        - 7
                        sortBy:
                        - fieldId: 28
                          order: ASC
                        - fieldId: 3
                          order: ASC
                        groupBy:
                        - fieldId: 3
                          grouping: equal-values
                      properties:
                        displayOnlyNewOrChangedRecords: true
                        columnProperties:
                        - fieldId: -100
                          labelOverride: Numeric Field Label
                      usedLast: 2020-09-20T20:23:00.000Z
                      usedCount: 7
          x-amf-mediaType: application/json
  /reports/{reportId}:
    get:
      tags:
      - Reports
      summary: Get a report
      description: Get the schema (properties) of an individual report.
      operationId: getReport
      parameters:
      - name: reportId
        in: path
        description: The identifier of the report, unique to the table.
        required: true
        schema:
          type: string
      - name: tableId
        in: query
        description: The unique identifier of table.
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  value:
                    id: "5"
                    name: table-report
                    type: table
                    description: This is Table report.
                    query:
                      tableId: bpweef42b
                      filter: '{6.CT.''FilterByThisValue''}'
                      formulaFields:
                      - id: -100
                        label: NumericField
                        fieldType: numeric
                        formula: 1+1
                        decimalPrecision: 4
                      fields:
                      - 7
                      sortBy:
                      - fieldId: 28
                        order: ASC
                      - fieldId: 3
                        order: ASC
                      groupBy:
                      - fieldId: 3
                        grouping: equal-values
                    properties:
                      displayOnlyNewOrChangedRecords: true
                      columnProperties:
                      - fieldId: -100
                        labelOverride: Numeric Field Label
                    usedLast: 2020-09-20T20:23:00.000Z
                    usedCount: 7
          x-amf-mediaType: application/json
  /reports/{reportId}/run:
    post:
      tags:
      - Reports
      summary: Run a report
      description: Runs a report, based on an ID and returns the underlying data associated
        with it. The format of the data will vary based on the report type. Reports
        that focus on record-level data (table, calendar, etc.) return the individual
        records. Aggregate reports (summary, chart) will return the summarized information
        as configured in the report. UI-specific elements are not returned, such as
        totals, averages and visualizations. Returns data with intelligent pagination
        based on the approximate size of each record. The metadata object will include
        the necessary information to iterate over the response and gather more data.
      operationId: runReport
      parameters:
      - name: reportId
        in: path
        description: The identifier of the report, unique to the table.
        required: true
        schema:
          type: string
      - name: tableId
        in: query
        description: The identifier of the table for the report.
        required: true
        schema:
          type: string
      - name: skip
        in: query
        description: The number of records to skip. You can set this value when paginating
          through a set of results.
        schema:
          type: integer
      - name: top
        in: query
        description: The maximum number of records to return. You can override the
          default Quickbase pagination to get more or fewer results. If your requested
          value here exceeds the dynamic maximums, we will return a subset of results
          and the rest can be gathered in subsequent API calls.
        schema:
          type: integer
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: false
        description: Report details
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  value:
                    data:
                    - 6:
                        value: Jamie Stein
                      7:
                        value: 10
                      8:
                        value: 2019-12-18T08:00:00.000Z
                    fields:
                    - id: 6
                      label: Full Name
                      type: text
                    - id: 7
                      label: Amount
                      labelOverride: Total Amount
                      type: numeric
                    - id: 8
                      label: Date time
                      type: date time
                    metadata:
                      totalRecords: 10
                      numRecords: 1
                      numFields: 3
                      skip: 0
                      top: 1
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
  /fields:
    get:
      tags:
      - Fields
      summary: Get fields for a table
      description: Gets the properties for all fields in a specific table. The properties
        for each field are the same as in Get field.
      operationId: getFields
      parameters:
      - name: tableId
        in: query
        description: The unique identifier (dbid) of the table.
        required: true
        schema:
          type: string
      - name: includeFieldPerms
        in: query
        description: Set to 'true' if you'd like to get back the custom permissions
          for the field(s).
        schema:
          type: boolean
          default: false
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                example:
                - id: 1
                  label: Field1
                  fieldType: text
                  noWrap: false
                  bold: false
                  required: false
                  appearsByDefault: false
                  findEnabled: false
                  unique: false
                  doesDataCopy: false
                  fieldHelp: field help
                  audited: false
                  properties:
                    primaryKey: false
                    foreignKey: false
                    numLines: 1
                    maxLength: 0
                    appendOnly: false
                    allowHTML: false
                    sortAsGiven: false
                    carryChoices: true
                    allowNewChoices: false
                    formula: ""
                    defaultValue: ""
                  permissions:
                  - permissionType: View
                    role: Viewer
                    roleId: 10
                  - permissionType: None
                    role: Participant
                    roleId: 11
                  - permissionType: Modify
                    role: Administrator
                    roleId: 12
                - id: 2
                  label: Numeric Field
                  fieldType: numeric
                  appearsByDefault: true
                  audited: false
                  bold: false
                  fieldHelp: This is a numeric field
                  findEnabled: false
                  addToForms: true
                  properties:
                    numberFormat: 3
                    decimalPlaces: 2
                    doesAverage: true
                    doesTotal: true
                    blankIsZero: true
                  permissions:
                  - role: Viewer
                    permissionType: View
                    roleId: 10
                  - role: Participant
                    permissionType: Modify
                    roleId: 11
                  - role: Administrator
                    permissionType: Modify
                    roleId: 12
                items:
                  required:
                  - id
                  type: object
                  properties:
                    id:
                      type: integer
                      description: The id of the field, unique to this table.
                      format: int64
                    fieldType:
                      type: string
                      description: The type of field, as described [here](https://help.quickbase.com/user-assistance/field_types.html).
                    mode:
                      type: string
                      description: For derived fields, this will be 'lookup', 'summary',
                        or 'formula', to indicate the type of derived field.  For
                        non-derived fields, this will be blank.
                    label:
                      type: string
                      description: The label (name) of the field.
                    noWrap:
                      type: boolean
                      description: Indicates if the field is configured to not wrap
                        when displayed in the product.
                    bold:
                      type: boolean
                      description: Indicates if the field is configured to display
                        in bold in the product.
                    required:
                      type: boolean
                      description: Indicates if the field is marked required.
                    appearsByDefault:
                      type: boolean
                      description: Indicates if the field is marked as a default in
                        reports.
                    findEnabled:
                      type: boolean
                      description: Indicates if the field is marked as searchable.
                    unique:
                      type: boolean
                      description: Indicates if the field is marked unique.
                    doesDataCopy:
                      type: boolean
                      description: Indicates if the field data will copy when a user
                        copies the record.
                    fieldHelp:
                      type: string
                      description: The configured help text shown to users within
                        the product.
                    audited:
                      type: boolean
                      description: Indicates if the field is being tracked as part
                        of Quickbase Audit Logs.
                    properties:
                      type: object
                      properties:
                        comments:
                          type: string
                          description: The comments entered on the field properties
                            by an administrator.
                        doesTotal:
                          type: boolean
                          description: Whether this field totals in reports within
                            the product.
                        autoSave:
                          type: boolean
                          description: Whether the link field will auto save.
                        defaultValueLuid:
                          type: integer
                          description: Default user id value.
                        maxVersions:
                          type: integer
                          description: The maximum number of versions configured for
                            a file attachment.
                        carryChoices:
                          type: boolean
                          description: Whether the field should carry its multiple
                            choice fields when copied.
                        format:
                          type: integer
                          description: The format to display time.
                        maxLength:
                          type: integer
                          description: The maximum number of characters allowed for
                            entry in Quickbase for this field.
                        linkText:
                          type: string
                          description: The configured text value that replaces the
                            URL that users see within the product.
                        parentFieldId:
                          type: integer
                          description: The id of the parent composite field, when
                            applicable.
                        displayTimezone:
                          type: boolean
                          description: Indicates whether to display the timezone within
                            the product.
                        summaryTargetFieldId:
                          type: integer
                          description: The id of the field that is used to aggregate
                            values from the child, when applicable. This displays
                            0 if the summary function doesn’t require a field selection
                            (like count).
                        allowNewChoices:
                          type: boolean
                          description: Indicates if users can add new choices to a
                            selection list.
                        masterChoiceFieldId:
                          type: integer
                          description: The id of the field that is the reference in
                            the relationship.
                        defaultToday:
                          type: boolean
                          description: Indicates if the field value is defaulted today
                            for new records.
                        units:
                          type: string
                          description: The units label.
                        lookupTargetFieldId:
                          type: integer
                          description: The id of the field that is the target on the
                            master table for this lookup.
                        summaryFunction:
                          type: string
                          description: The summary accumulation function type.
                          enum:
                          - AVG
                          - SUM
                          - MAX
                          - MIN
                          - STD-DEV
                          - COUNT
                          - COMBINED-TEXT
                          - DISTINCT-COUNT
                        sourceFieldId:
                          type: integer
                          description: The id of the source field.
                        masterTableTag:
                          type: string
                          description: The table alias for the master table in the
                            relationship this field is part of.
                        doesAverage:
                          type: boolean
                          description: Whether this field averages in reports within
                            the product.
                        formula:
                          type: string
                          description: The formula of the field as configured in Quickbase.
                        decimalPlaces:
                          type: integer
                          description: The number of decimal places displayed in the
                            product for this field.
                        seeVersions:
                          type: boolean
                          description: Indicates if the user can see other versions,
                            aside from the most recent, of a file attachment within
                            the product.
                        displayMonth:
                          type: string
                          description: How to display months.
                        numLines:
                          type: integer
                          description: The number of lines shown in Quickbase for
                            this text field.
                        displayEmail:
                          type: string
                          description: How the email is displayed.
                        defaultKind:
                          type: string
                          description: The user default type.
                        coverText:
                          type: string
                          description: An alternate user friendly text that can be
                            used to display a link in the browser.
                        currencySymbol:
                          type: string
                          description: The current symbol used when displaying field
                            values within the product.
                        masterChoiceTableId:
                          type: integer
                          description: The id of the table that is the master in this
                            relationship.
                          format: int64
                        targetFieldId:
                          type: integer
                          description: The id of the target field.
                        displayUser:
                          type: string
                          description: The configured option for how users display
                            within the product.
                        blankIsZero:
                          type: boolean
                          description: Whether a blank value is treated the same as
                            0 in calculations within the product.
                        exact:
                          type: boolean
                          description: Whether an exact match is required for a report
                            link.
                        startField:
                          type: integer
                          description: The start field id.
                        defaultDomain:
                          type: string
                          description: Default email domain.
                        defaultValue:
                          type: string
                          description: The default value configured for a field when
                            a new record is added.
                        choicesLuid:
                          type: array
                          description: List of user choices.
                          items:
                            type: string
                        abbreviate:
                          type: boolean
                          description: Don't show the URL protocol when showing the
                            URL.
                        xmlTag:
                          type: string
                          description: The field's xml tag.
                        targetTableName:
                          type: string
                          description: The field's target table name.
                        numberFormat:
                          type: integer
                          description: The format used for displaying numeric values
                            in the product (decimal, separators, digit group).
                        appearsAs:
                          type: string
                          description: The link text, if empty, the url will be used
                            as link text.
                        width:
                          type: integer
                          description: The field's html input width in the product.
                        currencyFormat:
                          type: string
                          description: The currency format used when displaying field
                            values within the product.
                          enum:
                          - left
                          - right
                          - middle
                        displayImages:
                          type: boolean
                          description: Indicates whether images will display for file
                            attachments on forms and reports within the product.
                        foreignKey:
                          type: boolean
                          description: Indicates if the field is a foreign key (or
                            reference field) in a relationship.
                        displayDayOfWeek:
                          type: boolean
                          description: Indicates whether to display the day of the
                            week within the product.
                        summaryReferenceFieldId:
                          type: integer
                          description: The id of the field that is the reference in
                            the relationship for this summary.
                          format: int64
                        commaStart:
                          type: integer
                          description: The number of digits before commas display
                            in the product, when applicable.
                        choices:
                          type: array
                          description: An array of entries that exist for a field
                            that offers choices to the user.
                          items:
                            type: string
                        targetTableId:
                          type: string
                          description: The id of the target table.
                        displayRelative:
                          type: boolean
                          description: Whether to display time as relative.
                        compositeFields:
                          type: array
                          description: An array of the fields that make up a composite
                            field (e.g., address).
                          items:
                            type: string
                        versionMode:
                          type: string
                          description: Version modes for files. Keep all versions
                            vs keep last version.
                          enum:
                          - keepallversions
                          - keeplastversions
                        displayTime:
                          type: boolean
                          description: Indicates whether to display the time, in addition
                            to the date.
                        durationField:
                          type: integer
                          description: The duration field id.
                        snapFieldId:
                          type: integer
                          description: The id of the field that is used to snapshot
                            values from, when applicable.
                        hours24:
                          type: boolean
                          description: Indicates whether or not to display time in
                            the 24-hour format within the product.
                        sortAlpha:
                          type: boolean
                          description: Whether to sort alphabetically, default sort
                            is by record ID.
                        sortAsGiven:
                          type: boolean
                          description: Indicates if the listed entries sort as entered
                            vs alphabetically.
                        hasExtension:
                          type: boolean
                          description: Whether this field has a phone extension.
                        workWeek:
                          type: integer
                          description: The work week type.
                        useNewWindow:
                          type: boolean
                          description: Indicates if the URL should open a new window
                            when a user clicks it within the product.
                        appendOnly:
                          type: boolean
                          description: Whether this field is append only.
                        displayAsLink:
                          type: boolean
                          description: Indicates if a field that is part of the relationship
                            should be shown as a hyperlink to the parent record within
                            the product.
                        allowHTML:
                          type: boolean
                          description: Whether this field allows html.
                        lookupReferenceFieldId:
                          type: integer
                          description: The id of the field that is the reference in
                            the relationship for this lookup.
                      description: Additional properties for the field. Please see
                        [Field type details](../fieldInfo) page for more details on
                        the properties for each field type.
                    permissions:
                      type: array
                      description: Field Permissions for different roles.
                      items:
                        type: object
                        properties:
                          role:
                            type: string
                            description: The role associated with a given permission
                              for the field
                          permissionType:
                            type: string
                            description: The permission given to the role for this
                              field
                          roleId:
                            type: integer
                            description: The Id of the given role
                  example:
                    id: 123
                    label: Field1
                    fieldType: text
                    mode: ""
                    noWrap: false
                    bold: false
                    required: false
                    appearsByDefault: false
                    findEnabled: false
                    unique: false
                    doesDataCopy: false
                    fieldHelp: field help
                    audited: false
                    properties:
                      primaryKey: false
                      foreignKey: false
                      numLines: 1
                      maxLength: 0
                      appendOnly: false
                      allowHTML: false
                      sortAsGiven: false
                      carryChoices: true
                      allowNewChoices: false
                      formula: ""
                      defaultValue: ""
                    permissions:
                    - permissionType: View
                      role: Viewer
                      roleId: 10
                    - permissionType: None
                      role: Participant
                      roleId: 11
                    - permissionType: Modify
                      role: Administrator
                      roleId: 12
          x-amf-mediaType: application/json
    post:
      tags:
      - Fields
      summary: Create a field
      description: Creates a field within a table, including the custom permissions
        of that field.
      operationId: createField
      parameters:
      - name: tableId
        in: query
        description: The unique identifier of the table.
        required: true
        schema:
          type: string
      - name: QB-Realm-Hostname
        in: header
        description: Your Quickbase domain, for example demo.quickbase.com
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: This is entered by the person or utility invoking the API. You
          might custom create this or use the default one of your toolkit. Being descriptive
          here may offer more identification and troubleshooting capabilities.
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Quickbase authentication scheme you are using to authenticate
          the request, as described on the [authorization page](../auth).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - fieldType
              - label
              type: object
              properties:
                audited:
                  type: boolean
                  description: Indicates if the field is being tracked as part of
                    Quickbase Audit Logs. You can only set this property to "true"
                    if the app has audit logs enabled. See Enable data change logs
                    under [Quickbase Audit Logs](https://help.quickbase.com/user-assistance/audit_logs.html).
                fieldHelp:
                  type: string
                  description: The configured help text shown to users within the
                    product.
                bold:
                  type: boolean
                  description: Indicates if the field is configured to display in
                    bold in the product.
                properties:
                  type: object
                  properties:
                    comments:
                      type: string
                      description: The comments entered on the field properties by
                        an administrator.
                    doesTotal:
                      type: boolean
                      description: Whether this field totals in reports within the
                        product.
                    autoSave:
                      type: boolean
                      description: Whether the link field will auto save.
                    defaultValueLuid:
                      type: integer
                      description: Default user id value.
                    maxVersions:
                      minimum: 1
                      type: integer
                      description: The maximum number of versions configured for a
                        file attachment.
                      format: int32
                    format:
                      type: integer
                      description: The format to display time.
                    carryChoices:
                      type: boolean
                      description: Whether the field should carry its multiple choice
                        fields when copied.
                    maxLength:
                      type: integer
                      description: The maximum number of characters allowed for entry
                        in Quickbase for this field.
                    linkText:
                      type: string
                      description: The configured text value that replaces the URL
                        that users see within the product.
                    parentFieldId:
                      type: integer
                      description: The id of the parent composite field, when applicable.
                    displayTimezone:
                      type: boolean
                      description: Indicates whether to display the timezone within
                        the product.
                    allowNewChoices:
                      type: boolean
                      description: Indicates if users can add new choices to a selection
                        list.
                    defaultToday:
                      type: boolean
                      description: Indicates if the field value is defaulted today
                        for new records.
                    units:
                      type: string
                      description: The units label.
                    sourceFieldId:
                      type: integer
                      description: The id of the source field.
                    doesAverage:
                      type: boolean
                      description: Whether this field averages in reports within the
                        product.
                    formula:
                      type: string
                      description: The formula of the field as configured in Quickbase.
                    decimalPlaces:
                      type: integer
                      description: The number of decimal places displayed in the product
[...]
