openapi: 3.0.1
info:
  title: Optimizely API
  version: '2.0'
  description: 
    Connects to [Optimizely API v2](https://www.optimizely.com/) from Ballerina
    Optimizely Agent is a stand-alone, open-source microservice that provides major benefits over using Optimizely SDKs in certain use cases. Its REST API offers consolidated and simplified endpoints for accessing all the functionality of Optimizely Full Stack SDKs. Use this API the control experiments (such as a feature tests).
  x-ballerina-init-description: 
    The connector initialization requires setting the API credentials.
    Create a [Optimizely account](https://www.optimizely.com/) and obtain tokens by following [this guide](https://docs.developers.optimizely.com/web/docs/rest-api-getting-started#section-2-generate-a-token).
  x-ballerina-display:
    label: Optimizely
    iconPath: "icon.png" 
servers:
  - url: https://api.optimizely.com/v2
tags:
  - name: Projects
    description: Group Campaigns and Experiments in a single javascript file
  - name: Campaigns
    description: Group Experiments that share aggregated metrics
  - name: Experiments
    description: Build user experiences and measure their effects
  - name: Audiences
    description: Define who can be included in your Experiments
  - name: Pages
    description: Define where your Experiments can run
  - name: Events
    description: Define Events that you want to track
  - name: Attributes
    description: >-
      Define characteristics of audiences that decide the experiences they will
      be included in
  - name: Groups
    description: >-
      Make experiments and campaigns mutually exclusive from each other using
      Exclusion Groups
  - name: Extensions
    description: Define reusable templates for making changes in the visual editor
  - name: Plan
    description: Plan & Usage information for current account
  - name: Scheduled Jobs
    description: Define Scheduled Jobs to be executed on a regular, recurring basis
  - name: User
    description: User related information for the current account
  - name: Collaborators
    description: >-
      Manage the users on your account. For more information, see <a
      href="https://help.optimizely.com/Set_Up_Optimizely/Manage_collaborators_in_Optimizely_X">managing
      collaborators in Optimizely X</a>
  - name: List Attributes
    description: >-
      A List Attribute is a set of user identifiers that you have uploaded to
      Optimizely. Membership in a list can be used to define an Optimizely
      audience, so you can target experiments and campaigns only to a particular
      set of users.
  - name: Sections
    description: Each Section represents a different variable in a Multivariate Test.
  - name: Features
    description: >-
      Create Features and parameterize them using Variables for parts of your
      application you'd like to toggle, roll out, or experiment on.
  - name: Subject Access Requests
    description: Manage information about Subject Access Requests (includes GDPR)
  - name: Environments
    description: Run experiments on environment-specific datafiles
  - name: Search
    description: Search across multiple entities
  - name: Change History
    description: Get a list of changes by project.
  - name: Attribution
    description: Get a list of bucketing decisions for a visitor.
  - name: Export Credentials
    description: Get aws credentials to access & export enriched events dataset (EEE)
paths:
  /attributes:
    get:
      tags:
        - Attributes
      summary: List Attributes
      description: List Attributes under a Project
      operationId: list_attributes
      parameters:
        - name: per_page
          in: query
          description: >-
            Optional pagination argument that specifies the maximum number of
            objects to return per request
          schema:
            maximum: 100
            type: integer
            default: 25
        - name: page
          in: query
          description: >
            Optional pagination argument that specifies the page to return. If
            you have 140 objects and you choose to return 100 objects per page
            you will be able to access the last 40 objects on page 2. The
            default value is 1.
          schema:
            type: integer
            default: 1
        - name: project_id
          in: query
          description: The ID of the Project you would like to list all Attributes for
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Return all Attributes in the specified Project
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attribute'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            You do not have permission to access to the Attributes in the
            specified Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Attributes not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Attributes
      summary: Create an Attribute
      description: Create an Attribue
      operationId: create_attribute
      requestBody:
        description: >-
          A string in JSON format that includes all the fields to create a new
          Attribute
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attribute'
        required: true
      responses:
        '201':
          description: Successfully created the Attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attribute'
        '400':
          description: Invalid request body content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /attributes/{attribute_id}:
    get:
      tags:
        - Attributes
      summary: Read an Attribute
      description: Get Attribute by ID
      operationId: get_attribute
      parameters:
        - name: attribute_id
          in: path
          description: The Attribute ID of the Attribute you want to get
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Successfully retrieved Attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attribute'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to access specified Attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Attribute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Attributes
      summary: Delete an Attribute
      description: Delete Attribute by ID
      operationId: delete_attribute
      parameters:
        - name: attribute_id
          in: path
          description: The ID of the Attribute you'd like to delete
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '204':
          description: Successfully deleted Attribute
          content: {}
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to delete the specified Attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Attribute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Attributes
      summary: Update an Attribute
      description: Update an Attribute by ID
      operationId: update_attribute
      parameters:
        - name: attribute_id
          in: path
          description: The ID of the Attribute you'd like to update
          required: true
          schema:
            type: integer
            # format: int32
      requestBody:
        description: >-
          A string in JSON format that includes all the fields you'd like to
          change for an Attribute
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributeUpdate'
        required: true
      responses:
        '200':
          description: Successfully updated the Attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attribute'
        '400':
          description: Invalid request body content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to update the specified Attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Attribute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /audiences:
    get:
      tags:
        - Audiences
      summary: List Audiences
      description: List Audiences for a Project
      operationId: list_audiences
      parameters:
        - name: per_page
          in: query
          description: >-
            Optional pagination argument that specifies the maximum number of
            objects to return per request
          schema:
            maximum: 100
            type: integer
            default: 25
        - name: page
          in: query
          description: >
            Optional pagination argument that specifies the page to return. If
            you have 140 objects and you choose to return 100 objects per page
            you will be able to access the last 40 objects on page 2. The
            default value is 1.
          schema:
            type: integer
            default: 1
        - name: project_id
          in: query
          description: >-
            The Project ID of the Project you would like to list all Audiences
            for
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Return all Audiences
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Audience'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have access to Audiences under the specified Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Audiences
      summary: Create an Audience
      description: Create an Audience for a Project
      operationId: create_audience
      requestBody:
        description: >-
          A string in JSON format that includes all the fields to create an
          Audience
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Audience'
        required: true
      responses:
        '201':
          description: Return the created Audience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audience'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /audiences/{audience_id}:
    get:
      tags:
        - Audiences
      summary: Read an Audience
      description: Get metadata for a single Audience
      operationId: get_audience
      parameters:
        - name: audience_id
          in: path
          description: The Audience ID of the Audience you want to get
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Return Audience info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audience'
        '400':
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to access the specified Audience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Audience not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Audiences
      summary: Update an Audience
      description: Update an Audience for a Project
      operationId: update_audience
      parameters:
        - name: audience_id
          in: path
          description: The Audience ID of the Audience you want to change
          required: true
          schema:
            type: integer
            # format: int32
      requestBody:
        description: >-
          A string in JSON format that includes all the fields you'd like to
          change for an Audience
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceUpdate'
        required: true
      responses:
        '200':
          description: Return the created Audience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audience'
        '400':
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to edit the specified Audience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Audience not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /billing/usage/{account_id}:
    get:
      tags:
        - Impressions Usage
      summary: Get Impressions Usage
      description: (BETA) Get Impressions Usage by account id
      operationId: get_impressions_usage_request
      parameters:
        - name: per_page
          in: query
          description: >-
            Optional pagination argument that specifies the maximum number of
            objects to return per request
          schema:
            maximum: 100
            type: integer
            default: 25
        - name: page
          in: query
          description: >
            Optional pagination argument that specifies the page to return. If
            you have 140 objects and you choose to return 100 objects per page
            you will be able to access the last 40 objects on page 2. The
            default value is 1.
          schema:
            type: integer
            default: 1
        - name: account_id
          in: path
          description: The account ID of the customer
          required: true
          schema:
            type: integer
            # format: int32
        - name: usage_date_from
          in: query
          description: Start date of date range
          required: true
          schema:
            pattern: ^\d{4}-\d{2}-\d{2}$
            type: string
        - name: usage_date_to
          in: query
          description: End date of date range
          required: true
          schema:
            pattern: ^\d{4}-\d{2}-\d{2}$
            type: string
        - name: platforms
          in: query
          description: The platform of the Project
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - edge
                - fullstack
                - web
            default: ["edge","fullstack","web"]
        - name: query
          in: query
          description: Search by experiment_id, project_id.
          schema:
            type: string
        - name: sort
          in: query
          description: The property to sort by.
          schema:
            type: string
            default: impression_count
        - name: order
          in: query
          description: The property to sort by.
          schema:
            type: string
            default: desc
      responses:
        '200':
          description: Return Impression Usage info for account
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImpressionsUsage'
        '400':
          description: Invalid ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Impression Usage not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
  /billing/usage/{account_id}/summary:
    get:
      tags:
        - Impressions Usage
      summary: Get Impressions Usage Summary
      description: (BETA) Get Impressions Usage Summary by account id
      operationId: get_impressions_usage_summary_request
      parameters:
        - name: account_id
          in: path
          description: The account ID of the customer
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Return Impression Usage Summary for account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImpressionsUsageSummary'
        '400':
          description: Invalid ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Impression Usage Summary not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
  /campaigns:
    get:
      tags:
        - Campaigns
      summary: List Campaigns
      description: Get a list of all the Campaigns in a Project
      operationId: list_campaigns
      parameters:
        - name: per_page
          in: query
          description: >-
            Optional pagination argument that specifies the maximum number of
            objects to return per request
          schema:
            maximum: 100
            type: integer
            default: 25
        - name: page
          in: query
          description: >
            Optional pagination argument that specifies the page to return. If
            you have 140 objects and you choose to return 100 objects per page
            you will be able to access the last 40 objects on page 2. The
            default value is 1.
          schema:
            type: integer
            default: 1
        - name: project_id
          in: query
          description: >-
            The Project ID of the Project you would like to list all Campaigns
            for
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Return all Campaigns
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have access to Campaigns under the specified Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Campaigns
      summary: Create a Campaign
      description: Create a new Campaign in your account
      operationId: create_campaign
      parameters:
        - name: action
          in: query
          description: >-
            Action to change the state of the Campaign. 'publish' publishes your
            campaign, making any changes live to the world. Status will be
            'paused'. 'start' publishes your campaign, making any changes live
            to the world. Status will be 'running'.
          schema:
            type: string
            enum:
              - publish
              - start
      requestBody:
        description: >-
          A string in JSON format that includes all the fields to create a
          Project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
        required: true
      responses:
        '201':
          description: Return the created Campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /campaigns/{campaign_id}:
    get:
      tags:
        - Campaigns
      summary: Read a Campaign
      description: Get metadata for a single Campaign
      operationId: get_campaign
      parameters:
        - name: campaign_id
          in: path
          description: The Campaign ID of the Campaign you want to get
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Return Campaign info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have access to the specified Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Campaigns
      summary: Delete a Campaign
      description: Delete Campaign by ID
      operationId: delete_campaign
      parameters:
        - name: campaign_id
          in: path
          description: The Campaign ID of the Campaign you want to delete
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '204':
          description: Deleted Campaign successfully
          content: {}
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: Campaign already deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Campaigns
      summary: Update a Campaign
      description: Update a Campaign
      operationId: update_campaign
      parameters:
        - name: campaign_id
          in: path
          description: The Campaign ID of the Campaign you want to change
          required: true
          schema:
            type: integer
            # format: int32
        - name: action
          in: query
          description: >-
            Action to change the state of the Campaign. 'publish' publishes your
            campaign, making any changes live to the world without changing the
            status of the campaign. 'start' publishes your campaign, making any
            changes live to the world. Status will be 'running'. 'pause' stops
            the campaign. Status will be 'paused'. No new visitors will see the
            campaign until it is resumed. 'resume' resumes the campaign from a
            paused status without publishing any new changes. Status will be
            'running'. 'unarchive' unarchives an archived campaign. Status will
            be 'paused'.
          schema:
            type: string
            enum:
              - publish
              - start
              - pause
              - resume
              - unarchive
      requestBody:
        description: >-
          A string in JSON format that includes all the fields you'd like to
          change for a Campaign
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignUpdate'
        required: true
      responses:
        '200':
          description: Return the updated Campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to edit the specified Campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /campaigns/{campaign_id}/results:
    get:
      tags:
        - Campaigns
      summary: Get Campaign results
      description: Get results for a Campaign
      operationId: get_campaign_results
      parameters:
        - name: campaign_id
          in: path
          description: The ID for the Campaign you want results for
          required: true
          schema:
            type: integer
            # format: int32
        - name: start_time
          in: query
          description: >-
            The start time of the time interval (beginning time included) used
            to calculate the results over. If unspecified, defaults to the time
            that the Campaign was first activated. The start time will be
            rounded the smallest time modulo 5 minutes larger or equal to
            start_time.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: >-
            The end of the time interval (end time excluded) used to calculate
            results over. If unspecified, defaults to the current time if the
            Experiment is still running, otherwise defaults to the time the
            experiment was last active. The end time will be rounded to the
            largest time modulo 5 minutes smaller or equal to end_time. The
            end_time in the response may be earlier than requested if fresher
            results are not available yet. In this case, the results will
            continue to calculate in the background and subsequent requests will
            eventually return the full results.
          schema:
            type: string
            format: date-time
        - name: browser
          in: query
          description: >-
            Browser to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [device,
            source, attribute_id, attribute_value].
          schema:
            type: string
            enum:
              - firefox
              - chrome
              - internet_explorer
              - opera
              - safari
        - name: device
          in: query
          description: >-
            Device to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [browser,
            source, attribute_id, attribute_value].
          schema:
            type: string
            enum:
              - desktop
              - ipad
              - iphone
              - mobile
              - tablet
        - name: source
          in: query
          description: >
            Source to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [browser,
            device, attribute_id, attribute_value].

            Campaign: Contains users that arrive on a URL containing a
            'utm_campaign,' 'utm_source,' 'gclid,' or 'otm_source' query
            parameter. If the URL contains one of these parameters, the visitor
            will count as "Campaign" traffic even if they arrived through
            search.

            Direct:  Includes all users who do not have any external referrer in
            their URL.

            Referral: Includes all users that come from another URL that doesn't
            count as Campaign.
          schema:
            type: string
            enum:
              - campaign
              - direct
              - referral
              - search
        - name: attribute_id
          in: query
          description: >
            ID of the attribute to segment results by. Requests containing
            attribute_id will return the results for all visitors that have
            attribute_value for the attribute represented by attribute_id. If
            present, the attribute_value parameter must also be present, and it
            cannot be sent with any other segmentation parameters, i.e. any
            parameters in [browser, device, source].
          schema:
            type: integer
            # format: int32
        - name: attribute_value
          in: query
          description: >
            UTF-8 encoded value correlating to attribute_id. If present, the
            attribute_id parameter must also be present. This parameter also
            requires attribute_id to be set, and cannot be sent with any other
            segmentation parameters, i.e. any parameters in [browser, device,
            source].
          schema:
            type: string
        - name: segment_conditions
          in: query
          description: >
            (BETA) A string representation of a JSON Segment Conditions
            Expression. This parameter can be either URL-escaped stringified
            JSON or Base64-encoded stringified JSON using URL-safe alphabet
            (preferred).

            Segment Conditions Expressions consist of Logical Expressions and
            Match Expressions.

            Logical Expressions are represented as an array of the format
            [<operator>, <expression>...], where the supported operators are
            "and", "or" and "not".

            Match Expressions are represented as an object of the format
            {"attribute_id": <attribute_id>, "attribute_value": <value>[,
            "match_type": <match_type>]}, where supported values for match_type
            are "exact" match type will match only an exact string match between
            "value" string and the attribute value. "substring" match type will
            match if "value" is a substring of the attribute value. "prefix"
            match type will match if "value" is a string prefix of the attribute
            value. "regex" match type will match if "value" is a regular
            expression match for the attribute value. The default match_type is
            "exact".
          schema:
            type: string
      responses:
        '200':
          description: Return Campaign results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResults'
        '204':
          description: >-
            There are no results data for this Campaign yet. Make sure the
            Campaign is started and try again later
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /changes:
    get:
      tags:
        - Change History
      summary: Retrieve changes for a project.
      description: Get a list of changes for a given project using optional filters.
      operationId: list_change_history
      parameters:
        - name: project_id
          in: query
          description: ID of the Project you want to list changes for.
          required: true
          schema:
            type: integer
            # format: int32
        - name: id
          in: query
          description: >-
            A specific Change ID to filter by. Can be specified multiple times
            to include multiple specific changes.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              # format: int32
        - name: start_time
          in: query
          description: >-
            Start of the time interval (inclusive) to list changes. The time is
            formatted in ISO 8601.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: >-
            End of the time interval (exclusive) to look for changes. The time
            is formatted in ISO 8601.
          schema:
            type: string
            format: date-time
        - name: user
          in: query
          description: >-
            Email of the user who made the change. Can be specified multiple
            times to include changes from multiple users.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entity_type
          in: query
          description: >-
            The type of the entity (with optional subtype delimited by a :
            (colon) you want to list changes for) e.g. experiment or
            experiment:feature. Can be specified multiple times to include
            changes for multiple entity types.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: entity
          in: query
          description: >-
            Colon (:) delimited string containing the entity_type and entity_id
            of the entity wanted. e.g. experiment:123. Can be specified multiple
            times to filter changes to a specific set of entities.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: per_page
          in: query
          description: >-
            Optional pagination argument that specifies the maximum number of
            objects to return per request
          schema:
            maximum: 100
            type: integer
            default: 25
        - name: page
          in: query
          description: >
            Optional pagination argument that specifies the page to return. If
            you have 140 objects and you choose to return 100 objects per page
            you will be able to access the last 40 objects on page 2. The
            default value is 1.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Returns changes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChangeHistoryChange'
  /collaborators: {}
  /environments:
    get:
      tags:
        - Environments
      summary: Get Environments by Project
      description: >-
        (BETA) Get all of the Environments that have been created in a given
        Project
      operationId: list_environments
      parameters:
        - name: per_page
          in: query
          description: >-
            Optional pagination argument that specifies the maximum number of
            objects to return per request
          schema:
            maximum: 100
            type: integer
            default: 25
        - name: page
          in: query
          description: >
            Optional pagination argument that specifies the page to return. If
            you have 140 objects and you choose to return 100 objects per page
            you will be able to access the last 40 objects on page 2. The
            default value is 1.
          schema:
            type: integer
            default: 1
        - name: project_id
          in: query
          description: The ID of the project for which you would like to get Environments
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Return all Environments in a specified Project
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Environment'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            You do not have permission to access to the Environments in the
            specified Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
    post:
      tags:
        - Environments
      summary: Create an Environment
      description: (BETA) Create an Environment in a provided Project
      operationId: create_environment
      requestBody:
        description: >-
          A string in JSON format that includes all the fields to create an
          Environment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
        required: true
      responses:
        '201':
          description: Return the created Environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Invalid request body supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            You do not have permission to create an Environment in the specified
            Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
      x-codegen-request-body-name: body
  /environments/{environment_id}:
    get:
      tags:
        - Environments
      summary: Read an Environment
      description: (BETA) Get all the properties of a single Environment
      operationId: get_environment
      parameters:
        - name: environment_id
          in: path
          description: The unique identifier for the Environment
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Successfully retrieved the Environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to access specified Environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Environment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
    delete:
      tags:
        - Environments
      summary: Archive an Environment
      description: (BETA) Archive an Environment
      operationId: delete_environment
      parameters:
        - name: environment_id
          in: path
          description: The ID of the Environment you'd like to archive
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '204':
          description: Successfully archived the Environment
          content: {}
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to archive this Environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invalid Environment ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
    patch:
      tags:
        - Environments
      summary: Update an Environment
      description: (BETA) Update an Environment by ID
      operationId: update_environment
      parameters:
        - name: environment_id
          in: path
          description: The unique identifier for the Environment
          required: true
          schema:
            type: integer
            # format: int32
      requestBody:
        description: >-
          A string in JSON format that includes all the fields you'd like to
          change for an Environment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentUpdate'
        required: true
      responses:
        '200':
          description: Successfully updated the Environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Invalid request body content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to update specified Environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Environment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
      x-codegen-request-body-name: body
  /environments/{environment_id}/datafile:
    get:
      tags:
        - Environments
      summary: Read the datafile of an Environment
      description: >
        Get the datafile for an Environment.

        The <a
        href="https://docs.developers.optimizely.com/full-stack/docs/example-datafile">Datafile</a>
        is a JSON

        string that describes to the Full Stack SDK all the experiments and
        features running in a given environment and

        dependent entities like audiences and attributes. Normally, you won't
        need to interact

        with the datafile directly. The SDK exposes methods that operate on it
        internally.
      operationId: get_datafile
      parameters:
        - name: environment_id
          in: path
          description: The Environment ID for the datafile you want to get.
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Return Datafile for the Environment specified
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to access specified Environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Environment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events:
    get:
      tags:
        - Events
      summary: List all Events
      description: >-
        Get all Events for a Project. This endpoint lists all types of Events
        including Pageview Events which are stored as Pages. You can also get
        Goal objects from Optimizely Classic by setting the include_classic
        parameter to true.
      operationId: list_events
      parameters:
        - name: per_page
          in: query
          description: >-
            Optional pagination argument that specifies the maximum number of
            objects to return per request
          schema:
            maximum: 100
            type: integer
            default: 25
        - name: page
          in: query
          description: >
            Optional pagination argument that specifies the page to return. If
            you have 140 objects and you choose to return 100 objects per page
            you will be able to access the last 40 objects on page 2. The
            default value is 1.
          schema:
            type: integer
            default: 1
        - name: project_id
          in: query
          description: The ID of the Project you would like to list all Events for
          required: true
          schema:
            type: integer
            # format: int32
        - name: include_classic
          in: query
          description: >-
            Whether or not to include classic Events in the list of Events. If
            this parameter is not provided it will default to false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: List of Events for the supplied Project ID
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have access to Events in the specified Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/{event_id}:
    get:
      tags:
        - Events
      summary: Get Event by ID
      description: Get Event by ID
      operationId: get_event
      parameters:
        - name: event_id
          in: path
          description: The Event ID of the Event you want to get
          required: true
          schema:
            type: integer
            # format: int32
        - name: include_classic
          in: query
          description: >-
            Whether or not to return a classic Event if the specified event_id
            belongs to a classic Event. If this parameter is not provided it
            will default to false
          schema:
            type: boolean
      responses:
        '200':
          description: Return Event specified by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to access specified Event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /experiment_summaries: {}
  /experiments:
    get:
      tags:
        - Experiments
      summary: List Experiments
      description: >-
        Get a list of all the Experiments by Project or Campaign. Either the
        <code>project_id</code> or <code>campaign_id</code> query parameter is
        required.
      operationId: list_experiments
      parameters:
        - name: per_page
          in: query
          description: >-
            Optional pagination argument that specifies the maximum number of
            objects to return per request
          schema:
            maximum: 100
            type: integer
            default: 25
        - name: page
          in: query
          description: >
            Optional pagination argument that specifies the page to return. If
            you have 140 objects and you choose to return 100 objects per page
            you will be able to access the last 40 objects on page 2. The
            default value is 1.
          schema:
            type: integer
            default: 1
        - name: project_id
          in: query
          description: >-
            The Project ID of the Project you would like to list all Experiments
            for. You have to either use this argument or the campaign_id
            argument
          schema:
            type: integer
            # format: int32
        - name: campaign_id
          in: query
          description: >-
            The Campaign ID of the Campaign you would like to list all
            Experiments for. You have to either use this argument or the
            project_id argument
          schema:
            type: integer
            # format: int32
        - name: include_classic
          in: query
          description: >-
            Whether or not to include classic Experiments in the list of
            Experiments. If this parameter is not provided it will default to
            false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Return all Experiments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Experiment'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            You do not have access to Experiments under the specified Project or
            Campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Experiments
      summary: Create an Experiment
      description: Create an Experiment in a Project
      operationId: create_experiment
      parameters:
        - name: action
          in: query
          description: >-
            Action to change the state of the experiment. `publish` saves and
            stages your experiment. If you have not started your experiment or
            the experiment is paused, your changes will not be visible to
            visitors when you publish. `start` makes your experiment live to all
            visitors who are in your targeted audience and changes the status to
            `running`. `pause` stops the experiment and changes the status to
            `paused`. No new visitors will see a `paused` experiment until you
            restart it. See [Differences among publish, start, and
            pause](https://help.optimizely.com/Get_Started/Differences_among_publish%2C_start%2C_and_pause)
            for details.
          schema:
            type: string
            enum:
              - publish
              - start
              - pause
      requestBody:
        description: >-
          A string in JSON format that includes all the fields to create an
          Experiment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experiment'
        required: true
      responses:
        '201':
          description: Return the created Experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        '400':
          description: Invalid request body content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /experiments/{experiment_id}:
    get:
      tags:
        - Experiments
      summary: Read an Experiment
      description: Get metadata for a single Experiment
      operationId: get_experiment
      parameters:
        - name: experiment_id
          in: path
          description: The Experiment ID of the Experiment you want to get
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Return Experiment info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to access the specified Experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Experiments
      summary: Delete an Experiment
      description: Delete Experiment by ID
      operationId: delete_experiment
      parameters:
        - name: experiment_id
          in: path
          description: The Experiment ID of the Experiment you want to delete
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '204':
          description: Deleted Experiment successfully
          content: {}
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to delete the specified Experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: Experiment already deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Experiments
      summary: Update an Experiment
      description: Update an Experiment by ID
      operationId: update_experiment
      parameters:
        - name: experiment_id
          in: path
          description: The Experiment ID of the Experiment you want to change
          required: true
          schema:
            type: integer
            # format: int32
        - name: action
          in: query
          description: >-
            Action to change the state of the experiment. `publish` saves and
            stages your experiment. If you have not started your experiment or
            the experiment is paused, your changes will not be visible to
            visitors when you publish. `start` makes your experiment live to all
            visitors who are in your targeted audience and changes the status to
            `running`. `pause` stops the experiment and changes the status to
            `paused`. No new visitors will see a `paused` experiment until you
            restart it. See [Differences among publish, start, and
            pause](https://help.optimizely.com/Get_Started/Differences_among_publish%2C_start%2C_and_pause)
            for details. `resume` resumes the experiment from a paused status
            without publishing any new changes. Status will be `running`.
            `unarchive` unarchives an archived experiment. Status will be
            `paused`.
          schema:
            type: string
            enum:
              - publish
              - start
              - pause
              - resume
              - unarchive
      requestBody:
        description: >-
          A string in JSON format that includes all the fields you'd like to
          change for an Experiment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentUpdate'
        required: true
      responses:
        '200':
          description: Successfully updated Experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to update the specified Experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: >-
            Experiment edit conflict: there are changes currently drafted on the
            Experiment. Provide "override_changes" parameter to force an update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /experiments/{experiment_id}/results:
    get:
      tags:
        - Experiments
      summary: Get Experiment results
      description: Get results for a single Experiment
      operationId: get_experiment_results
      parameters:
        - name: experiment_id
          in: path
          description: The ID for the Experiment you want results for
          required: true
          schema:
            type: integer
            # format: int32
        - name: baseline_variation_id
          in: query
          description: >-
            The ID of the variation to use as the baseline to compare against
            other variations. Defaults to the first variation if not provided.
            For an experience in a personalization campaign, the value can also
            be the string 'holdback'.
          schema:
            type: string
            # format: int32
        - name: start_time
          in: query
          description: >-
            The start time of the time interval (beginning time included) used
            to calculate the results over. If unspecified, defaults to the time
            that the Experiment was first activated. The start time will be
            rounded the smallest time modulo 5 minutes larger or equal to
            start_time.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: >-
            The end of the time interval (end time excluded) used to calculate
            results over. If unspecified, defaults to the current time if the
            Experiment is still running, otherwise defaults to the time the
            experiment was last active. The end time will be rounded to the
            largest time modulo 5 minutes smaller or equal to end_time. The
            end_time in the response may be earlier than requested if fresher
            results are not available yet. In this case, the results will
            continue to calculate in the background and subsequent requests will
            eventually return the full results.
          schema:
            type: string
            format: date-time
        - name: browser
          in: query
          description: >-
            Browser to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [device,
            source, attribute_id, attribute_value].
          schema:
            type: string
            enum:
              - firefox
              - chrome
              - internet_explorer
              - opera
              - safari
        - name: device
          in: query
          description: >-
            Device to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [browser,
            source, attribute_id, attribute_value].
          schema:
            type: string
            enum:
              - desktop
              - ipad
              - iphone
              - mobile
              - tablet
        - name: source
          in: query
          description: >
            Source to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [browser,
            device, attribute_id, attribute_value].

            Campaign: Contains users that arrive on a URL containing a
            'utm_campaign,' 'utm_source,' 'gclid,' or 'otm_source' query
            parameter. If the URL contains one of these parameters, the visitor
            will count as "Campaign" traffic even if they arrived through
            search.

            Direct:  Includes all users who do not have any external referrer in
            their URL.

            Referral: Includes all users that come from another URL that doesn't
            count as Campaign.
          schema:
            type: string
            enum:
              - campaign
              - direct
              - referral
              - search
        - name: attribute_id
          in: query
          description: >
            ID of the attribute to segment results by. Requests containing
            attribute_id will return the results for all visitors that have
            attribute_value for the attribute represented by attribute_id. If
            present, the attribute_value parameter must also be present, and it
            cannot be sent with any other segmentation parameters, i.e. any
            parameters in [browser, device, source].
          schema:
            type: integer
            # format: int32
        - name: attribute_value
          in: query
          description: >
            UTF-8 encoded value correlating to attribute_id. If present, the
            attribute_id parameter must also be present. This parameter also
            requires attribute_id to be set, and cannot be sent with any other
            segmentation parameters, i.e. any parameters in [browser, device,
            source].
          schema:
            type: string
        - name: segment_conditions
          in: query
          description: >
            (BETA) A string representation of a JSON Segment Conditions
            Expression. This parameter can be either URL-escaped stringified
            JSON or Base64-encoded stringified JSON using URL-safe alphabet
            (preferred).

            Segment Conditions Expressions consist of Logical Expressions and
            Match Expressions.

            Logical Expressions are represented as an array of the format
            [<operator>, <expression>...], where the supported operators are
            "and", "or" and "not".

            Match Expressions are represented as an object of the format
            {"attribute_id": <attribute_id>, "attribute_value": <value>[,
            "match_type": <match_type>]}, where supported values for match_type
            are "exact" match type will match only an exact string match between
            "value" string and the attribute value. "substring" match type will
            match if "value" is a substring of the attribute value. "prefix"
            match type will match if "value" is a string prefix of the attribute
            value. "regex" match type will match if "value" is a regular
            expression match for the attribute value. The default match_type is
            "exact".
          schema:
            type: string
      responses:
        '200':
          description: Return Experiment results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResults'
        '204':
          description: >-
            There are no results data for this Experiment yet. Make sure the
            Experiment is started and try again later
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /experiments/{experiment_id}/sections:
    get:
      tags:
        - Sections
      summary: Read all the Sections in a Multivariate Test
      description: (BETA) Get a list of all Sections in a Multivariate Test
      operationId: get_experiment_sections
      parameters:
        - name: per_page
          in: query
          description: >-
            Optional pagination argument that specifies the maximum number of
            objects to return per request
          schema:
            maximum: 100
            type: integer
            default: 25
        - name: page
          in: query
          description: >
            Optional pagination argument that specifies the page to return. If
            you have 140 objects and you choose to return 100 objects per page
            you will be able to access the last 40 objects on page 2. The
            default value is 1.
          schema:
            type: integer
            default: 1
        - name: experiment_id
          in: path
          description: >-
            The Experiment ID of the Multivariate Test you want to get Sections
            for
          required: true
          schema:
            type: integer
            # format: int32
      responses:
        '200':
          description: Return Sections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Section'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to access the specified Experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
    post:
      tags:
        - Sections
      summary: Create a new Section in a Multivariate Test
      description: >-
        (BETA) Add a new Section to the Multivariate Test specified by
        `experiment_id`
      operationId: create_section
      parameters:
        - name: experiment_id
          in: path
          description: >-
            The Experiment ID of the Multivariate Test you want to create a
            Section in
          required: true
          schema:
            type: integer
            # format: int32
      requestBody:
        description: >-
          A string in JSON format that includes all the fields to create a
          Section
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Section'
        required: true
      responses:
        '201':
          description: Section Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            You do not have permission to create a Section in the specified
            Experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
      x-codegen-request-body-name: body
  /experiments/{experiment_id}/sections/{section_id}:
    get:
      tags:
        - Sections
      summary: Read a Section of a Multivariate Test
      description: (BETA) Get metadata for a single Multivariate Test Section
      operationId: get_section
      parameters:
        - name: section_id
          in: path
          description: The ID of the Section you want to read
          required: true
          schema:
            type: integer
            # format: int32
        - name: experiment_id
          in: path
          description: The ID of the Multivariate Test the requested Section is part of
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Return Section info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to access the specified Section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Section or Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
    delete:
      tags:
        - Sections
      summary: Archive a Section by ID
      description: (BETA) Archive a Section by ID within the specified Multivariate Test
      operationId: delete_section
      parameters:
        - name: section_id
          in: path
          description: >-
            The ID of the Section you want to archive within the given
            Experiment
          required: true
          schema:
            type: integer
            # format: int32
        - name: experiment_id
          in: path
          description: The ID of the Multivariate Test the requested Section is part of
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Successfully archived Section
          content: {}
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to access the specified Section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
    patch:
      tags:
        - Sections
      summary: Update a Section by ID
      description: (BETA) Update a Section by ID within the specified Multivariate Test
      operationId: update_section
      parameters:
        - name: section_id
          in: path
          description: The ID of the Section you want to update
          required: true
          schema:
            type: integer
            # format: int32
        - name: experiment_id
          in: path
          description: The ID of the Multivariate Test the requested Section is part of
          required: true
          schema:
            type: integer
      requestBody:
        description: >-
          A string in JSON format that includes all the fields to create a
          Section
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionUpdate'
        required: true
      responses:
        '200':
          description: Successfully updated Section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to access the specified Section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Section or Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
      x-codegen-request-body-name: body
  /experiments/{experiment_id}/timeseries:
    get:
      tags:
        - Experiments
      summary: Get Experiment results time series
      description: (BETA) Get results time series for a single Experiment
      operationId: get_experiment_timeseries
      parameters:
        - name: experiment_id
          in: path
          description: The ID for the Experiment you want results for
          required: true
          schema:
            type: integer
            # format: int32
        - name: baseline_variation_id
          in: query
          description: >-
            The ID of the variation to use as the baseline to compare against
            other variations. Defaults to the first variation if not provided.
            For an experience in a personalization campaign, the value can also
            be the string 'holdback'.
          schema:
            type: string
            # format: int32
        - name: start_time
          in: query
          description: >-
            The start time of the time interval (beginning time included) used
            to calculate the results over. If unspecified, defaults to the time
            that the Experiment was first activated. The start time will be
            rounded the smallest time modulo 5 minutes larger or equal to
            start_time.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: >-
            The end of the time interval (end time excluded) used to calculate
            results over. If unspecified, defaults to the current time if the
            Experiment is still running, otherwise defaults to the time the
            experiment was last active. The end time will be rounded to the
            largest time modulo 5 minutes smaller or equal to end_time. The
            end_time in the response may be earlier than requested if fresher
            results are not available yet. In this case, the results will
            continue to calculate in the background and subsequent requests will
            eventually return the full results.
          schema:
            type: string
            format: date-time
        - name: browser
          in: query
          description: >-
            Browser to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [device,
            source, attribute_id, attribute_value].
          schema:
            type: string
            enum:
              - firefox
              - chrome
              - internet_explorer
              - opera
              - safari
        - name: device
          in: query
          description: >-
            Device to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [browser,
            source, attribute_id, attribute_value].
          schema:
            type: string
            enum:
              - desktop
              - ipad
              - iphone
              - mobile
              - tablet
        - name: source
          in: query
          description: >
            Source to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [browser,
            device, attribute_id, attribute_value].

            Campaign: Contains users that arrive on a URL containing a
            'utm_campaign,' 'utm_source,' 'gclid,' or 'otm_source' query
            parameter. If the URL contains one of these parameters, the visitor
            will count as "Campaign" traffic even if they arrived through
            search.

            Direct:  Includes all users who do not have any external referrer in
            their URL.

            Referral: Includes all users that come from another URL that doesn't
            count as Campaign.
          schema:
            type: string
            enum:
              - campaign
              - direct
              - referral
              - search
        - name: attribute_id
          in: query
          description: >
            ID of the attribute to segment results by. Requests containing
            attribute_id will return the results for all visitors that have
            attribute_value for the attribute represented by attribute_id. If
            present, the attribute_value parameter must also be present, and it
            cannot be sent with any other segmentation parameters, i.e. any
            parameters in [browser, device, source].
          schema:
            type: integer
            # format: int32
        - name: attribute_value
          in: query
          description: >
            UTF-8 encoded value correlating to attribute_id. If present, the
            attribute_id parameter must also be present. This parameter also
            requires attribute_id to be set, and cannot be sent with any other
            segmentation parameters, i.e. any parameters in [browser, device,
            source].
          schema:
            type: string
        - name: segment_conditions
          in: query
          description: >
            (BETA) A string representation of a JSON Segment Conditions
            Expression. This parameter can be either URL-escaped stringified
            JSON or Base64-encoded stringified JSON using URL-safe alphabet
            (preferred).

            Segment Conditions Expressions consist of Logical Expressions and
            Match Expressions.

            Logical Expressions are represented as an array of the format
            [<operator>, <expression>...], where the supported operators are
            "and", "or" and "not".

            Match Expressions are represented as an object of the format
            {"attribute_id": <attribute_id>, "attribute_value": <value>[,
            "match_type": <match_type>]}, where supported values for match_type
            are "exact" match type will match only an exact string match between
            "value" string and the attribute value. "substring" match type will
            match if "value" is a substring of the attribute value. "prefix"
            match type will match if "value" is a string prefix of the attribute
            value. "regex" match type will match if "value" is a regular
            expression match for the attribute value. The default match_type is
            "exact".
          schema:
            type: string
      responses:
        '200':
          description: Return Experiment results time series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentTimeseries'
        '204':
          description: >-
            There are no results data for this Experiment yet. Make sure the
            Experiment is started and try again later
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
  /export/campaigns/{campaign_id}/results/csv:
    get:
      tags:
        - Campaigns
      summary: Get Campaign results as a CSV
      description: (BETA) Get results for a Campaign as a CSV
      operationId: get_campaign_results_csv
      parameters:
        - name: campaign_id
          in: path
          description: The ID for the Campaign you want results for
          required: true
          schema:
            type: integer
            # format: int32
        - name: start_time
          in: query
          description: >-
            The start time of the time interval (beginning time included) used
            to calculate the results over. If unspecified, defaults to the time
            that the Campaign was first activated. The start time will be
            rounded the smallest time modulo 5 minutes larger or equal to
            start_time.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: >-
            The end of the time interval (end time excluded) used to calculate
            results over. If unspecified, defaults to the current time if the
            Experiment is still running, otherwise defaults to the time the
            experiment was last active. The end time will be rounded to the
            largest time modulo 5 minutes smaller or equal to end_time. The
            end_time in the response may be earlier than requested if fresher
            results are not available yet. In this case, the results will
            continue to calculate in the background and subsequent requests will
            eventually return the full results.
          schema:
            type: string
            format: date-time
        - name: browser
          in: query
          description: >-
            Browser to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [device,
            source, attribute_id, attribute_value].
          schema:
            type: string
            enum:
              - firefox
              - chrome
              - internet_explorer
              - opera
              - safari
        - name: device
          in: query
          description: >-
            Device to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [browser,
            source, attribute_id, attribute_value].
          schema:
            type: string
            enum:
              - desktop
              - ipad
              - iphone
              - mobile
              - tablet
        - name: source
          in: query
          description: >
            Source to segment results by. This parameter must not be sent with
            any other segmentation parameters, i.e. any parameters in [browser,
            device, attribute_id, attribute_value].

            Campaign: Contains users that arrive on a URL containing a
            'utm_campaign,' 'utm_source,' 'gclid,' or 'otm_source' query
            parameter. If the URL contains one of these parameters, the visitor
            will count as "Campaign" traffic even if they arrived through
            search.

            Direct:  Includes all users who do not have any external referrer in
            their URL.

            Referral: Includes all users that come from another URL that doesn't
            count as Campaign.
          schema:
            type: string
            enum:
              - campaign
              - direct
              - referral
              - search
        - name: attribute_id
          in: query
          description: >
            ID of the attribute to segment results by. Requests containing
            attribute_id will return the results for all visitors that have
            attribute_value for the attribute represented by attribute_id. If
            present, the attribute_value parameter must also be present, and it
            cannot be sent with any other segmentation parameters, i.e. any
            parameters in [browser, device, source].
          schema:
            type: integer
            # format: int32
        - name: attribute_value
          in: query
          description: >
            UTF-8 encoded value correlating to attribute_id. If present, the
            attribute_id parameter must also be present. This parameter also
            requires attribute_id to be set, and cannot be sent with any other
            segmentation parameters, i.e. any parameters in [browser, device,
            source].
          schema:
            type: string
        - name: segment_conditions
          in: query
          description: >
            (BETA) A string representation of a JSON Segment Conditions
            Expression. This parameter can be either URL-escaped stringified
            JSON or Base64-encoded stringified JSON using URL-safe alphabet
            (preferred).

            Segment Conditions Expressions consist of Logical Expressions and
            Match Expressions.

            Logical Expressions are represented as an array of the format
            [<operator>, <expression>...], where the supported operators are
            "and", "or" and "not".

            Match Expressions are represented as an object of the format
            {"attribute_id": <attribute_id>, "attribute_value": <value>[,
            "match_type": <match_type>]}, where supported values for match_type
            are "exact" match type will match only an exact string match between
            "value" string and the attribute value. "substring" match type will
            match if "value" is a substring of the attribute value. "prefix"
            match type will match if "value" is a string prefix of the attribute
            value. "regex" match type will match if "value" is a regular
            expression match for the attribute value. The default match_type is
            "exact".
          schema:
            type: string
      responses:
        '200':
          description: >-
            <p>Return Campaign results in CSV format</p> <p>Name of the columns
            returned: 'Start Time (UTC)', 'End Time (UTC)', 'Is Baseline
            Variation', 'Metric Event Name', 'Metric Event ID', 'Metric
            Numerator Type', 'Metric Denominator Type', 'Metric Winning
            Direction', 'Numerator Value', 'Denominator Value', 'Metric Value',
            'Improvement Status from Baseline', 'Improvement Value from
            Baseline', 'Statistical Significance', 'Is Improvement Significant',
            'Confidence Interval - Low', 'Confidence Interval - High', 'Samples
            Remaining to Significance'</p> <p>(<a
            href="https://help.optimizely.com/Export_to_CSV_column_reference_for_campaigns_and_experiments">Column
            reference guide for CSV export</a>)</p>
          content: {}
        '204':
          description: >-
            There are no results data for this Campaign yet. Make sure the
            Campaign is started and try again later.
          content: {}
        default:
          description: Unexpected error
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/Error'
      x-release-state: beta
  /export/credentials:
    get:
      tags:
        - Export Credentials
      summary: Get aws credentials to access enriched events dataset
      description: Get aws credentials to access & export enriched events dataset
      operationId: get_enriched_events_export_credentials
      parameters:
        - name: duration
          in: query
          description: >-
            Duration of the aws credentials token. Please use [H,h] for hours or
            [M,m] for minutes. Minimum is 15m and Maximum is 1h. Usage 1h.
          schema:
            type: string
            default: 1h
      responses:
        '200':
          description: Return aws credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/E3Credentials'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid/Expired credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
[...]
