openapi: 3.0.1
info:
  x-ballerina-display:
    label: HubSpot Analytics
    iconPath: "resources/hubspot.analytics.svg"
  title: Custom Behavioral Events API
  description: This is a generated connector from [HubSpot](https://www.hubspot.com/) OpenAPI specification.
  
    These APIs allow triggering instances of custom behavioral events
  x-ballerina-init-description: "The connector initialization requires setting the API credentials.

  Create a [HubSpot account](https://www.hubspot.com/) and obtain the API key following [this guide](https://knowledge.hubspot.com/integrations/how-do-i-get-my-hubspot-api-key?_ga=2.57958890.1140639136.1626730652-1097354510.162640933)."
  version: v3
servers:
  - url: 'https://api.hubapi.com'
tags:
  - name: Behavioral_Events_Tracking
paths:
  /events/v3/send:
    post:
      tags:
        - Behavioral_Events_Tracking
      summary: Sends Custom Behavioral Event
      description: Endpoint to send an instance of a behavioral event
      operationId: sendEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BehaviouralEvent'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
      security:
        - hapikey: []
components:
  schemas:
    BehaviouralEvent:
      description: Behavioural event payload
      required:
        - eventName
        - properties
      type: object
      properties:
        utk:
          type: string
          description: User token
        email:
          type: string
          description: Email of visitor
        eventName:
          type: string
          description: Internal name of the event-type to trigger
        properties:
          type: object
          additionalProperties:
            type: string
          description: Map of properties for the event in the format property internal name - property value
        occurredAt:
          type: string
          description: 'The time when this event occurred (if any). If this isn''t set, the current time will be used'
          format: date-time
        objectId:
          type: string
          description: The object id that this event occurred on. Could be a contact id or a visitor id.
    Error:
      required:
        - category
        - correlationId
        - message
      type: object
      properties:
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category:
          type: string
          description: The error category
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            invalidPropertyName:
              - propertyValue
            missingScopes:
              - scope1
              - scope2
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: 'https://www.hubspot.com/products/service/knowledge-base'
    ErrorDetail:
      required:
        - message
      type: object
      properties:
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        code:
          type: string
          description: The status code associated with the error detail
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            missingScopes:
              - scope1
              - scope2
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    hapikey:
      type: apiKey
      name: hapikey
      in: query
      description: Represents API Key `hapikey`
