openapi: 3.0.1
info:
  title: Shortcut API
  description: |
    This is [Shortcut API v3.0](https://shortcut.com/api/rest/v3) OpenAPI specification.
    The Shortcut API bring the flow to your software team's workflow. Plan, collaborate, build, and measure success with Shortcut.
    The Shortcut API provides a greater amount of control over your organization’s Shortcut data than what is possible using the Shortcut web app. 
    You can use this API to build custom integrations or automate even more of your organization’s workflow.
  x-ballerina-init-description: >
    Create a [Shortcut account](https://shortcut.com) and obtain tokens by following [this guide](https://shortcut.com/api/rest/v3#Authentication).
  x-ballerina-display:
    label: Shortcut
    iconPath: "icon.png"
  version: "3.0"
servers:
- url: https://api.app.shortcut.com/
security:
- api_token: []
paths:
  /api/v3/categories:
    get:
      summary: List Categories
      description: List Categories returns a list of all Categories and their attributes.
      operationId: listCategories
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    post:
      summary: Create Category
      description: Create Category allows you to create a new Category in Shortcut.
      operationId: createCategory
      requestBody:
        description: Create category data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategory'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateCategory
  /api/v3/categories/{category-public-id}:
    get:
      summary: Get Category
      description: Get Category returns information about the selected Category.
      operationId: getCategory
      parameters:
      - name: category-public-id
        in: path
        description: The unique ID of the Category.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Category
      description: Update Category allows you to replace a Category name with another
        name. If you try to name a Category something that already exists, you will
        receive a 422 response.
      operationId: updateCategory
      parameters:
      - name: category-public-id
        in: path
        description: The unique ID of the Category you wish to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update category data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategory'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateCategory
    delete:
      summary: Delete Category
      description: Delete Category can be used to delete any Category.
      operationId: deleteCategory
      parameters:
      - name: category-public-id
        in: path
        description: The unique ID of the Category.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/categories/{category-public-id}/milestones:
    get:
      summary: List Category Milestones
      description: List Category Milestones returns a list of all Milestones with
        the Category.
      operationId: listCategoryMilestones
      parameters:
      - name: category-public-id
        in: path
        description: The unique ID of the Category.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Milestone'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/entity-templates:
    get:
      summary: List Entity Templates
      description: List all the entity templates for an organization.
      operationId: listEntityTemplates
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntityTemplate'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    post:
      summary: Create Entity Template
      description: Create a new entity template for your organization.
      operationId: createEntityTemplate
      requestBody:
        description: Request paramaters for creating an entirely new entity template.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityTemplate'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateEntityTemplate
  /api/v3/entity-templates/disable:
    put:
      summary: Disable Story Templates
      description: Disables the Story Template feature for the given Organization.
      operationId: disableStoryTemplates
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/entity-templates/enable:
    put:
      summary: Enable Story Templates
      description: Enables the Story Template feature for the given Organization.
      operationId: enableStoryTemplates
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/entity-templates/{entity-template-public-id}:
    get:
      summary: Get Entity Template
      description: Get Entity Template returns information about a given entity template.
      operationId: getEntityTemplate
      parameters:
      - name: entity-template-public-id
        in: path
        description: The unique ID of the entity template.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Entity Template
      description: Update an entity template's name or its contents.
      operationId: updateEntityTemplate
      parameters:
      - name: entity-template-public-id
        in: path
        description: The unique ID of the template to be updated.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: |-
          Request parameters for changing either a template's name or any of
            the attributes it is designed to pre-populate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityTemplate'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateEntityTemplate
    delete:
      summary: Delete Entity Template
      operationId: deleteEntityTemplate
      parameters:
      - name: entity-template-public-id
        in: path
        description: The unique ID of the entity template.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/epic-workflow:
    get:
      summary: Get Epic Workflow
      description: Get Epic Workflow returns the Epic Workflow for the organization.
      operationId: getEpicWorkflow
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicWorkflow'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/epics:
    get:
      summary: List Epics
      description: List Epics returns a list of all Epics and their attributes.
      operationId: listEpics
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/ListEpics'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicSlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: ListEpics
    post:
      summary: Create Epic
      description: Create Epic allows you to create a new Epic in Shortcut.
      operationId: createEpic
      requestBody:
        description: Create epic data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEpic'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateEpic
  /api/v3/epics/{epic-public-id}:
    get:
      summary: Get Epic
      description: Get Epic returns information about the selected Epic.
      operationId: getEpic
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Epic
      description: Update Epic can be used to update numerous fields in the Epic.
        The only required parameter is Epic ID, which can be found in the Shortcut
        UI.
      operationId: updateEpic
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update epic data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEpic'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateEpic
    delete:
      summary: Delete Epic
      description: Delete Epic can be used to delete the Epic. The only required parameter
        is Epic ID.
      operationId: deleteEpic
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/epics/{epic-public-id}/comments:
    get:
      summary: List Epic Comments
      description: Get a list of all Comments on an Epic.
      operationId: listEpicComments
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ThreadedComment'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    post:
      summary: Create Epic Comment
      description: This endpoint allows you to create a threaded Comment on an Epic.
      operationId: createEpicComment
      parameters:
      - name: epic-public-id
        in: path
        description: The ID of the associated Epic.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Create epic comment data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEpicComment'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateEpicComment
  /api/v3/epics/{epic-public-id}/comments/{comment-public-id}:
    get:
      summary: Get Epic Comment
      description: This endpoint returns information about the selected Epic Comment.
      operationId: getEpicComment
      parameters:
      - name: epic-public-id
        in: path
        description: The ID of the associated Epic.
        required: true
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Epic Comment
      description: This endpoint allows you to update a threaded Comment on an Epic.
      operationId: updateEpicComment
      parameters:
      - name: epic-public-id
        in: path
        description: The ID of the associated Epic.
        required: true
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update epic comment data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateComment'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateComment
    post:
      summary: Create Epic Comment Comment
      description: This endpoint allows you to create a nested Comment reply to an
        existing Epic Comment.
      operationId: createEpicCommentComment
      parameters:
      - name: epic-public-id
        in: path
        description: The ID of the associated Epic.
        required: true
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the parent Epic Comment.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Create epic comment comment data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentComment'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateCommentComment
    delete:
      summary: Delete Epic Comment
      description: This endpoint allows you to delete a Comment from an Epic.
      operationId: deleteEpicComment
      parameters:
      - name: epic-public-id
        in: path
        description: The ID of the associated Epic.
        required: true
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/epics/{epic-public-id}/stories:
    get:
      summary: List Epic Stories
      description: Get a list of all Stories in an Epic.
      operationId: listEpicStories
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        schema:
          type: integer
          format: int64
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/GetEpicStories'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: GetEpicStories
  /api/v3/epics/{epic-public-id}/unlink-productboard:
    post:
      summary: Unlink Productboard from Epic
      description: This endpoint allows you to unlink a productboard epic.
      operationId: unlinkProductboardFromEpic
      parameters:
      - name: epic-public-id
        in: path
        description: The unique ID of the Epic.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/external-link/stories:
    get:
      summary: Get External Link Stories
      description: Get Stories which have a given External Link associated with them.
      operationId: getExternalLinkStories
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/GetExternalLinkStoriesParams'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: GetExternalLinkStoriesParams
  /api/v3/files:
    get:
      summary: List Files
      description: List Files returns a list of all UploadedFiles in the workspace.
      operationId: listFiles
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UploadedFile'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    # post:
    #   summary: Upload Files
    #   description: |-
    #     Upload Files uploads one or many files and optionally associates them with a story.
    #        Use the multipart/form-data content-type to upload.
    #        Each `file` key should contain a separate file.
    #        Each UploadedFile's name comes from the Content-Disposition header "filename" directive for that field.
    #   operationId: uploadFiles
    #   requestBody:
    #     content:
    #       multipart/form-data:
    #         schema:
    #           required:
    #           - file0
    #           properties:
    #             story_id:
    #               type: integer
    #               description: The story ID that these files will be associated with.
    #               format: int64
    #             file0:
    #               type: string
    #               description: A file upload. At least one is required.
    #               format: binary
    #             file1:
    #               type: string
    #               description: Optional additional files.
    #               format: binary
    #             file2:
    #               type: string
    #               description: Optional additional files.
    #               format: binary
    #             file3:
    #               type: string
    #               description: Optional additional files.
    #               format: binary
    #     required: true
    #   responses:
    #     201:
    #       description: Resource
    #       content:
    #         application/json:
    #           schema:
    #             type: array
    #             items:
    #               $ref: '#/components/schemas/UploadedFile'
    #     400:
    #       description: Schema mismatch
    #       content: {}
    #     404:
    #       description: Resource does not exist
    #       content: {}
    #     422:
    #       description: Unprocessable
    #       content: {}
  /api/v3/files/{file-public-id}:
    get:
      summary: Get File
      description: Get File returns information about the selected UploadedFile.
      operationId: getFile
      parameters:
      - name: file-public-id
        in: path
        description: The File’s unique ID.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update File
      description: Update File updates the properties of an UploadedFile (but not
        its content).
      operationId: updateFile
      parameters:
      - name: file-public-id
        in: path
        description: The unique ID assigned to the file in Shortcut.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update file data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFile'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateFile
    delete:
      summary: Delete File
      description: Delete File deletes a previously uploaded file.
      operationId: deleteFile
      parameters:
      - name: file-public-id
        in: path
        description: The File’s unique ID.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/groups:
    get:
      summary: List Groups
      description: A group in our API maps to a "Team" within the Shortcut Product.
        A Team is a collection of Users that can be associated to Stories, Epics,
        and Iterations within Shortcut.
      operationId: listGroups
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    post:
      summary: Create Group
      operationId: createGroup
      requestBody:
        description: Create group data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroup'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: Schema mismatch
          content: {}
        403:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateGroup
  /api/v3/groups/disable:
    put:
      summary: Disable Groups
      description: Disables Groups for the current workspace2
      operationId: disableGroups
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/groups/enable:
    put:
      summary: Enable Groups
      description: Enables Groups for the current workspace2
      operationId: enableGroups
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/groups/{group-public-id}:
    get:
      summary: Get Group
      operationId: getGroup
      parameters:
      - name: group-public-id
        in: path
        description: The unique ID of the Group.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Group
      operationId: updateGroup
      parameters:
      - name: group-public-id
        in: path
        description: The unique ID of the Group.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Update group data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroup'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: Schema mismatch
          content: {}
        403:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateGroup
  /api/v3/groups/{group-public-id}/stories:
    get:
      summary: List Group Stories
      description: List the Stories assigned to the Group. (By default, limited to
        1,000).
      operationId: listGroupStories
      parameters:
      - name: group-public-id
        in: path
        description: The unique ID of the Group.
        required: true
        schema:
          type: string
          format: uuid
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/ListGroupStories'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: ListGroupStories
  /api/v3/iterations:
    get:
      summary: List Iterations
      operationId: listIterations
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IterationSlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    post:
      summary: Create Iteration
      operationId: createIteration
      requestBody:
        description: Create iteration data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIteration'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateIteration
  /api/v3/iterations/disable:
    put:
      summary: Disable Iterations
      description: Disables Iterations for the current workspace
      operationId: disableIterations
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/iterations/enable:
    put:
      summary: Enable Iterations
      description: Enables Iterations for the current workspace
      operationId: enableIterations
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/iterations/{iteration-public-id}:
    get:
      summary: Get Iteration
      operationId: getIteration
      parameters:
      - name: iteration-public-id
        in: path
        description: The unique ID of the Iteration.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Iteration
      operationId: updateIteration
      parameters:
      - name: iteration-public-id
        in: path
        description: The unique ID of the Iteration.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update iteration data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIteration'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateIteration
    delete:
      summary: Delete Iteration
      operationId: deleteIteration
      parameters:
      - name: iteration-public-id
        in: path
        description: The unique ID of the Iteration.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/iterations/{iteration-public-id}/stories:
    get:
      summary: List Iteration Stories
      description: Get a list of all Stories in an Iteration.
      operationId: listIterationStories
      parameters:
      - name: iteration-public-id
        in: path
        description: The unique ID of the Iteration.
        required: true
        schema:
          type: integer
          format: int64
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/GetIterationStories'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: GetIterationStories
  /api/v3/labels:
    get:
      summary: List Labels
      description: List Labels returns a list of all Labels and their attributes.
      operationId: listLabels
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/ListLabels'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Label'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: ListLabels
    post:
      summary: Create Label
      description: Create Label allows you to create a new Label in Shortcut.
      operationId: createLabel
      requestBody:
        description: Request parameters for creating a Label on a Shortcut Story.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLabelParams'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateLabelParams
  /api/v3/labels/{label-public-id}:
    get:
      summary: Get Label
      description: Get Label returns information about the selected Label.
      operationId: getLabel
      parameters:
      - name: label-public-id
        in: path
        description: The unique ID of the Label.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Label
      description: Update Label allows you to replace a Label name with another name.
        If you try to name a Label something that already exists, you will receive
        a 422 response.
      operationId: updateLabel
      parameters:
      - name: label-public-id
        in: path
        description: The unique ID of the Label you wish to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update label data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLabel'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateLabel
    delete:
      summary: Delete Label
      description: Delete Label can be used to delete any Label.
      operationId: deleteLabel
      parameters:
      - name: label-public-id
        in: path
        description: The unique ID of the Label.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/labels/{label-public-id}/epics:
    get:
      summary: List Label Epics
      description: List all of the Epics with the Label.
      operationId: listLabelEpics
      parameters:
      - name: label-public-id
        in: path
        description: The unique ID of the Label.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicSlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/labels/{label-public-id}/stories:
    get:
      summary: List Label Stories
      description: List all of the Stories with the Label.
      operationId: listLabelStories
      parameters:
      - name: label-public-id
        in: path
        description: The unique ID of the Label.
        required: true
        schema:
          type: integer
          format: int64
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/GetLabelStories'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: GetLabelStories
  /api/v3/linked-files:
    get:
      summary: List Linked Files
      description: List Linked Files returns a list of all Linked-Files and their
        attributes.
      operationId: listLinkedFiles
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LinkedFile'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    post:
      summary: Create Linked File
      description: Create Linked File allows you to create a new Linked File in Shortcut.
      operationId: createLinkedFile
      requestBody:
        description: Create linked file data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkedFile'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateLinkedFile
  /api/v3/linked-files/{linked-file-public-id}:
    get:
      summary: Get Linked File
      description: Get File returns information about the selected Linked File.
      operationId: getLinkedFile
      parameters:
      - name: linked-file-public-id
        in: path
        description: The unique identifier of the linked file.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Linked File
      description: Updated Linked File allows you to update properties of a previously
        attached Linked-File.
      operationId: updateLinkedFile
      parameters:
      - name: linked-file-public-id
        in: path
        description: The unique identifier of the linked file.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update linked file data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLinkedFile'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateLinkedFile
    delete:
      summary: Delete Linked File
      description: Delete Linked File can be used to delete any previously attached
        Linked-File.
      operationId: deleteLinkedFile
      parameters:
      - name: linked-file-public-id
        in: path
        description: The unique identifier of the linked file.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/member:
    get:
      summary: Get Current Member Info
      description: Returns information about the authenticated member.
      operationId: getCurrentMemberInfo
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberInfo'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/members:
    get:
      summary: List Members
      description: List Members returns information about members of the organization.
      operationId: listMembers
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/ListMembers'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: ListMembers
  /api/v3/members/{member-public-id}:
    get:
      summary: Get Member
      description: Returns information about a Member.
      operationId: getMember
      parameters:
      - name: member-public-id
        in: path
        description: The Member's unique ID.
        required: true
        schema:
          type: string
          format: uuid
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/GetMember'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: GetMember
  /api/v3/milestones:
    get:
      summary: List Milestones
      description: List Milestones returns a list of all Milestones and their attributes.
      operationId: listMilestones
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Milestone'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    post:
      summary: Create Milestone
      description: Create Milestone allows you to create a new Milestone in Shortcut.
      operationId: createMilestone
      requestBody:
        description: Create milestone data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMilestone'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        400:
          description: Schema mismatch
          content: {}
        403:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateMilestone
  /api/v3/milestones/{milestone-public-id}:
    get:
      summary: Get Milestone
      description: Get Milestone returns information about a chosen Milestone.
      operationId: getMilestone
      parameters:
      - name: milestone-public-id
        in: path
        description: The ID of the Milestone.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Milestone
      description: Update Milestone can be used to update Milestone properties.
      operationId: updateMilestone
      parameters:
      - name: milestone-public-id
        in: path
        description: The ID of the Milestone.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update milestone data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMilestone'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateMilestone
    delete:
      summary: Delete Milestone
      description: Delete Milestone can be used to delete any Milestone.
      operationId: deleteMilestone
      parameters:
      - name: milestone-public-id
        in: path
        description: The ID of the Milestone.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/milestones/{milestone-public-id}/epics:
    get:
      summary: List Milestone Epics
      description: List all of the Epics within the Milestone.
      operationId: listMilestoneEpics
      parameters:
      - name: milestone-public-id
        in: path
        description: The ID of the Milestone.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EpicSlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/projects:
    get:
      summary: List Projects
      description: List Projects returns a list of all Projects and their attributes.
      operationId: listProjects
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    post:
      summary: Create Project
      description: Create Project is used to create a new Shortcut Project.
      operationId: createProject
      requestBody:
        description: Create project data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProject'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateProject
  /api/v3/projects/{project-public-id}:
    get:
      summary: Get Project
      description: Get Project returns information about the selected Project.
      operationId: getProject
      parameters:
      - name: project-public-id
        in: path
        description: The unique ID of the Project.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Project
      description: Update Project can be used to change properties of a Project.
      operationId: updateProject
      parameters:
      - name: project-public-id
        in: path
        description: The unique ID of the Project.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update project data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProject'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateProject
    delete:
      summary: Delete Project
      description: Delete Project can be used to delete a Project. Projects can only
        be deleted if all associated Stories are moved or deleted. In the case that
        the Project cannot be deleted, you will receive a 422 response.
      operationId: deleteProject
      parameters:
      - name: project-public-id
        in: path
        description: The unique ID of the Project.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/projects/{project-public-id}/stories:
    get:
      summary: List Stories
      description: List Stories returns a list of all Stories in a selected Project
        and their attributes.
      operationId: listStories
      parameters:
      - name: project-public-id
        in: path
        description: The unique ID of the Project.
        required: true
        schema:
          type: integer
          format: int64
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/GetProjectStories'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: GetProjectStories
  /api/v3/repositories:
    get:
      summary: List Repositories
      description: List Repositories returns a list of all Repositories and their
        attributes.
      operationId: listRepositories
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repository'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/repositories/{repo-public-id}:
    get:
      summary: Get Repository
      description: Get Repository returns information about the selected Repository.
      operationId: getRepository
      parameters:
      - name: repo-public-id
        in: path
        description: The unique ID of the Repository.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/search:
    get:
      summary: Search
      description: Search lets you search Epics and Stories based on desired parameters.
        Since ordering of the results can change over time (due to search ranking
        decay, new Epics and Stories being created), the `next` value from the previous
        response can be used as the path and query string for the next page to ensure
        stable ordering.
      operationId: search
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/Search'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
        400:
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: Search
  /api/v3/search/epics:
    get:
      summary: Search Epics
      description: Search Epics lets you search Epics based on desired parameters.
        Since ordering of stories can change over time (due to search ranking decay,
        new Epics being created), the `next` value from the previous response can
        be used as the path and query string for the next page to ensure stable ordering.
      operationId: searchEpics
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/Search'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicSearchResults'
        400:
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: Search
  /api/v3/search/stories:
    get:
      summary: Search Stories
      description: Search Stories lets you search Stories based on desired parameters.
        Since ordering of stories can change over time (due to search ranking decay,
        new stories being created), the `next` value from the previous response can
        be used as the path and query string for the next page to ensure stable ordering.
      operationId: searchStories
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/Search'
      #   required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorySearchResults'
        400:
          description: '**Either:** (1) Schema mismatch **or** (2) Maximum of 1000
            search results exceeded '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: Search
  /api/v3/stories:
    post:
      summary: Create Story
      description: Create Story is used to add a new story to your Shortcut.
      operationId: createStory
      requestBody:
        description: Request parameters for creating a story.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoryParams'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateStoryParams
  /api/v3/stories/bulk:
    put:
      summary: Update Multiple Stories
      description: Update Multiple Stories allows you to make changes to numerous
        stories at once.
      operationId: updateMultipleStories
      requestBody:
        description: Update multiple stories data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStories'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateStories
    post:
      summary: Create Multiple Stories
      description: Create Multiple Stories allows you to create multiple stories in
        a single request using the same syntax as [Create Story](https://shortcut.com/api/#create-story).
      operationId: createMultipleStories
      requestBody:
        description: Create multiple stories
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStories'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateStories
    delete:
      summary: Delete Multiple Stories
      description: Delete Multiple Stories allows you to delete multiple archived
        stories at once.
      operationId: deleteMultipleStories
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/DeleteStories'
      #   required: true
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: DeleteStories
  /api/v3/stories/search:
    post:
      summary: Search Stories (Old)
      description: Search Stories lets you search Stories based on desired parameters.
      operationId: searchStoriesOld
      requestBody:
        description:  Search stories (old) data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchStories'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorySlim'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: SearchStories
  /api/v3/stories/{story-public-id}:
    get:
      summary: Get Story
      description: Get Story returns information about a chosen Story.
      operationId: getStory
      parameters:
      - name: story-public-id
        in: path
        description: The ID of the Story.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Story
      description: Update Story can be used to update Story properties.
      operationId: updateStory
      parameters:
      - name: story-public-id
        in: path
        description: The unique identifier of this story.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update story data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStory'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateStory
    delete:
      summary: Delete Story
      description: Delete Story can be used to delete any Story.
      operationId: deleteStory
      parameters:
      - name: story-public-id
        in: path
        description: The ID of the Story.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/stories/{story-public-id}/comments:
    post:
      summary: Create Story Comment
      description: Create Comment allows you to create a Comment on any Story.
      operationId: createStoryComment
      parameters:
      - name: story-public-id
        in: path
        description: The ID of the Story that the Comment is in.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Create story comment data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoryComment'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryComment'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateStoryComment
  /api/v3/stories/{story-public-id}/comments/{comment-public-id}:
    get:
      summary: Get Story Comment
      description: Get Comment is used to get Comment information.
      operationId: getStoryComment
      parameters:
      - name: story-public-id
        in: path
        description: The ID of the Story that the Comment is in.
        required: true
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryComment'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Story Comment
      description: Update Comment replaces the text of the existing Comment.
      operationId: updateStoryComment
      parameters:
      - name: story-public-id
        in: path
        description: The ID of the Story that the Comment is in.
        required: true
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update story comment data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStoryComment'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryComment'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateStoryComment
    delete:
      summary: Delete Story Comment
      description: Delete a Comment from any story.
      operationId: deleteStoryComment
      parameters:
      - name: story-public-id
        in: path
        description: The ID of the Story that the Comment is in.
        required: true
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/stories/{story-public-id}/comments/{comment-public-id}/reactions:
    post:
      summary: Create Story Reaction
      description: Create a reaction to a story comment.
      operationId: createStoryReaction
      parameters:
      - name: story-public-id
        in: path
        description: The ID of the Story that the Comment is in.
        required: true
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Create story reaction data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrDeleteStoryReaction'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoryReaction'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateOrDeleteStoryReaction
    delete:
      summary: Delete Story Reaction
      description: Delete a reaction from any story comment.
      operationId: deleteStoryReaction
      parameters:
      - name: story-public-id
        in: path
        description: The ID of the Story that the Comment is in.
        required: true
        schema:
          type: integer
          format: int64
      - name: comment-public-id
        in: path
        description: The ID of the Comment.
        required: true
        schema:
          type: integer
          format: int64
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/CreateOrDeleteStoryReaction'
      #   required: true
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateOrDeleteStoryReaction
  /api/v3/stories/{story-public-id}/history:
    get:
      summary: Story History
      operationId: storyHistory
      parameters:
      - name: story-public-id
        in: path
        description: The ID of the Story.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/History'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/stories/{story-public-id}/tasks:
    post:
      summary: Create Task
      description: Create Task is used to create a new task in a Story.
      operationId: createTask
      parameters:
      - name: story-public-id
        in: path
        description: The ID of the Story that the Task will be in.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Create task data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTask'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateTask
  /api/v3/stories/{story-public-id}/tasks/{task-public-id}:
    get:
      summary: Get Task
      description: Returns information about a chosen Task.
      operationId: getTask
      parameters:
      - name: story-public-id
        in: path
        description: The unique ID of the Story this Task is associated with.
        required: true
        schema:
          type: integer
          format: int64
      - name: task-public-id
        in: path
        description: The unique ID of the Task.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Task
      description: Update Task can be used to update Task properties.
      operationId: updateTask
      parameters:
      - name: story-public-id
        in: path
        description: The unique identifier of the parent Story.
        required: true
        schema:
          type: integer
          format: int64
      - name: task-public-id
        in: path
        description: The unique identifier of the Task you wish to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update task data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTask'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateTask
    delete:
      summary: Delete Task
      description: Delete Task can be used to delete any previously created Task on
        a Story.
      operationId: deleteTask
      parameters:
      - name: story-public-id
        in: path
        description: The unique ID of the Story this Task is associated with.
        required: true
        schema:
          type: integer
          format: int64
      - name: task-public-id
        in: path
        description: The unique ID of the Task.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/story-links:
    post:
      summary: Create Story Link
      description: |-
        Story Links (called Story Relationships in the UI) allow you create semantic relationships between two stories. The parameters read like an active voice grammatical sentence:  subject -> verb -> object.

        The subject story acts on the object Story; the object story is the direct object of the sentence.

        The subject story "blocks", "duplicates", or "relates to" the object story.  Examples:
        - "story 5 blocks story 6” -- story 6 is now "blocked" until story 5 is moved to a Done workflow state.
        - "story 2 duplicates story 1” -- Story 2 represents the same body of work as Story 1 (and should probably be archived).
        - "story 7 relates to story 3”
      operationId: createStoryLink
      requestBody:
        description: Create story link data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoryLink'
        required: true
      responses:
        201:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryLink'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: CreateStoryLink
  /api/v3/story-links/{story-link-public-id}:
    get:
      summary: Get Story Link
      description: Returns the stories and their relationship for the given Story
        Link.
      operationId: getStoryLink
      parameters:
      - name: story-link-public-id
        in: path
        description: The unique ID of the Story Link.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryLink'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
    put:
      summary: Update Story Link
      description: Updates the stories and/or the relationship for the given Story
        Link.
      operationId: updateStoryLink
      parameters:
      - name: story-link-public-id
        in: path
        description: The unique ID of the Story Link.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Update story link data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStoryLink'
        required: true
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryLink'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
      x-codegen-request-body-name: UpdateStoryLink
    delete:
      summary: Delete Story Link
      description: Removes the relationship between the stories for the given Story
        Link.
      operationId: deleteStoryLink
      parameters:
      - name: story-link-public-id
        in: path
        description: The unique ID of the Story Link.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/workflows:
    get:
      summary: List Workflows
      description: List Workflows returns a list of all Workflows in the organization.
      operationId: listWorkflows
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workflow'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
  /api/v3/workflows/{workflow-public-id}:
    get:
      summary: Get Workflow
      description: Get Workflow returns information about a chosen Workflow.
      operationId: getWorkflow
      parameters:
      - name: workflow-public-id
        in: path
        description: The ID of the Workflow.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        400:
          description: Schema mismatch
          content: {}
        404:
          description: Resource does not exist
          content: {}
        422:
          description: Unprocessable
          content: {}
components:
  schemas:
    BasicWorkspaceInfo:
      required:
      - estimate_scale
      - url_slug
      type: object
      properties:
        url_slug:
          type: string
        estimate_scale:
          type: array
          items:
            type: integer
            format: int64
    Branch:
      required:
      - created_at
      - deleted
      - entity_type
      - id
      - merged_branch_ids
      - name
      - persistent
      - pull_requests
      - repository_id
      - updated_at
      - url
      type: object
      properties:
        entity_type:
          type: string
          description: A string description of this resource.
        deleted:
          type: boolean
          description: A true/false boolean indicating if the Branch has been deleted.
        name:
          type: string
          description: The name of the Branch.
        persistent:
          type: boolean
          description: A true/false boolean indicating if the Branch is persistent;
            e.g. master.
        updated_at:
          type: string
          description: The time/date the Branch was updated.
          format: date-time
          nullable: true
        pull_requests:
          type: array
          description: An array of PullRequests attached to the Branch (there is usually
            only one).
          items:
            $ref: '#/components/schemas/PullRequest'
        merged_branch_ids:
          type: array
          description: The IDs of the Branches the Branch has been merged into.
          items:
            type: integer
            format: int64
        id:
          type: integer
          description: The unique ID of the Branch.
          format: int64
          nullable: true
        url:
          type: string
          description: The URL of the Branch.
        repository_id:
          type: integer
          description: The ID of the Repository that contains the Branch.
          format: int64
          nullable: true
        created_at:
          type: string
          description: The time/date the Branch was created.
          format: date-time
          nullable: true
      description: Branch refers to a VCS branch. Branches are feature branches associated
        with Shortcut Stories.
    Category:
      required:
      - archived
      - color
      - created_at
      - entity_type
      - external_id
      - id
      - name
      - type
      - updated_at
      type: object
      properties:
        archived:
          type: boolean
          description: A true/false boolean indicating if the Category has been archived.
        entity_type:
          type: string
          description: A string description of this resource.
        color:
          minLength: 1
          pattern: ^#[a-fA-F0-9]{6}$
          type: string
          description: The hex color to be displayed with the Category (for example,
            "#ff0000").
          format: css-color
          nullable: true
        name:
          type: string
          description: The name of the Category.
        type:
          type: string
          description: The type of entity this Category is associated with; currently
            Milestone is the only type of Category.
        updated_at:
          type: string
          description: The time/date that the Category was updated.
          format: date-time
        external_id:
          type: string
          description: This field can be set to another unique ID. In the case that
            the Category has been imported from another tool, the ID in the other
            tool can be indicated here.
          nullable: true
        id:
          type: integer
          description: The unique ID of the Category.
          format: int64
        created_at:
          type: string
          description: The time/date that the Category was created.
          format: date-time
      description: A Category can be used to associate Milestones.
    Commit:
      required:
      - author_email
      - author_id
      - author_identity
      - created_at
      - entity_type
      - hash
      - id
      - merged_branch_ids
      - message
      - repository_id
      - timestamp
      - updated_at
      - url
      type: object
      properties:
        entity_type:
          type: string
          description: A string description of this resource.
        author_id:
          type: string
          description: The ID of the Member that authored the Commit, if known.
          format: uuid
          nullable: true
        hash:
          type: string
          description: The Commit hash.
        updated_at:
          type: string
          description: The time/date the Commit was updated.
          format: date-time
          nullable: true
        merged_branch_ids:
          type: array
          description: The IDs of the Branches the Commit has been merged into.
          items:
            type: integer
            format: int64
        id:
          type: integer
          description: The unique ID of the Commit.
          format: int64
          nullable: true
        url:
          type: string
          description: The URL of the Commit.
        author_email:
          type: string
          description: The email address of the VCS user that authored the Commit.
        timestamp:
          type: string
          description: The time/date the Commit was pushed.
          format: date-time
        author_identity:
          $ref: '#/components/schemas/Identity'
        repository_id:
          type: integer
          description: The ID of the Repository that contains the Commit.
          format: int64
          nullable: true
        created_at:
          type: string
          description: The time/date the Commit was created.
          format: date-time
        message:
          type: string
[...]
