{
    "openapi": "3.0.1",
    "info": {
        "title": "Posts",
        "description": "Use these endpoints for interacting with Blog Posts, Blog Authors, and Blog Tags",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "PROFESSIONAL",
            "cms": "STARTER"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "Retrieve all blog posts created this year as a part of a content audit.",
        "x-hubspot-related-documentation": [
            {
                "name": "Blog posts guide",
                "url": "https://developers.hubspot.com/docs/guides/api/cms/blogs/blog-posts"
            }
        ],
        "x-hubspot-introduction": "Use the blog posts API to create, manage, and publish blog posts on your website."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Basic"
        },
        {
            "name": "Batch"
        },
        {
            "name": "Multi-language"
        }
    ],
    "paths": {
        "/cms/v3/blogs/posts/schedule": {
            "post": {
                "tags": ["Basic"],
                "summary": "Schedule a post to be published",
                "description": "Schedule a blog post to be published at a specified time.",
                "operationId": "post-/cms/v3/blogs/posts/schedule_schedule",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the ContentScheduleRequestVNext object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentScheduleRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/batch/read": {
            "post": {
                "tags": ["Batch"],
                "summary": "Retrieve a batch of Blog Posts",
                "description": "Retrieve a batch of blog posts by ID. identified in the request body.",
                "operationId": "post-/cms/v3/blogs/posts/batch/read_readBatch",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted blog posts Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON array of Blog Post ids.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogPost"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogPostWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/multi-language/update-languages": {
            "post": {
                "tags": ["Multi-language"],
                "summary": "Update languages of multi-language group",
                "description": "Explicitly set new languages for each post in a [multi-language group](https://developers.hubspot.com/docs/guides/cms/content/multi-language-content).",
                "operationId": "post-/cms/v3/blogs/posts/multi-language/update-languages_updateLangs",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the SetNewLanguagePrimaryRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateLanguagesRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/batch/create": {
            "post": {
                "tags": ["Batch"],
                "summary": "Create a batch of blog posts",
                "description": "Create a batch of blog posts, specifying their content in the request body.",
                "operationId": "post-/cms/v3/blogs/posts/batch/create_createBatch",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON array of new Blog Posts to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputBlogPost"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogPost"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogPostWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/batch/update": {
            "post": {
                "tags": ["Batch"],
                "summary": "Update a batch of Blog Posts",
                "description": "Update a batch of blog posts.",
                "operationId": "post-/cms/v3/blogs/posts/batch/update_updateBatch",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to update deleted Blog Posts. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "A JSON array of the JSON representations of the updated Blog Posts.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputJsonNode"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogPost"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseBlogPostWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/{objectId}/draft": {
            "get": {
                "tags": ["Basic"],
                "summary": "Retrieve the full draft version of the Blog Post",
                "description": "Retrieve the full draft version of a blog post.",
                "operationId": "get-/cms/v3/blogs/posts/{objectId}/draft_getDraftById",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the blog post to retrieve the draft of.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "patch": {
                "tags": ["Basic"],
                "summary": "Update the draft of a post",
                "description": "Partially updates the draft version of a single blog post by ID. You only need to specify the values that you want to update.",
                "operationId": "patch-/cms/v3/blogs/posts/{objectId}/draft_updateDraft",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the blog post to update the draft of.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON representation of the updated Blog Post to be applied to the draft.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogPost"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/{objectId}/revisions/{revisionId}": {
            "get": {
                "tags": ["Basic"],
                "summary": "Retrieve a previous version of a blog post",
                "description": "Retrieve a previous version of a blog post.",
                "operationId": "get-/cms/v3/blogs/posts/{objectId}/revisions/{revisionId}_getPreviousVersion",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the blog post.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "revisionId",
                        "in": "path",
                        "description": "The ID of the version to retrieve.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VersionBlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/{objectId}/revisions/{revisionId}/restore-to-draft": {
            "post": {
                "tags": ["Basic"],
                "summary": "Restore a draft to a previous version",
                "description": "Takes a specified version of a blog post, sets it as the new draft version of the blog post.",
                "operationId": "post-/cms/v3/blogs/posts/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the blog post.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "revisionId",
                        "in": "path",
                        "description": "The ID of the version to restore the blog post to.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/multi-language/create-language-variation": {
            "post": {
                "tags": ["Multi-language"],
                "summary": "Create a language variation",
                "description": "Create a new language variation from an existing blog post",
                "operationId": "post-/cms/v3/blogs/posts/multi-language/create-language-variation_createLangVariation",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the BlogPostLanguageCloneRequestVNext object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogPostLanguageCloneRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts": {
            "get": {
                "tags": ["Basic"],
                "summary": "Get all posts",
                "description": "Retrieve all blog posts, with paging and filtering options. This method would be useful for an integration that ingests posts and suggests edits.",
                "operationId": "get-/cms/v3/blogs/posts_getPage",
                "parameters": [
                    {
                        "name": "createdAt",
                        "in": "query",
                        "description": "Only return blog posts created at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "Only return blog posts created after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Only return blog posts created before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAt",
                        "in": "query",
                        "description": "Only return blog posts last updated at exactly the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedAfter",
                        "in": "query",
                        "description": "Only return blog posts last updated after the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "updatedBefore",
                        "in": "query",
                        "description": "Only return blog posts last updated before the specified time.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Specifies which fields to use for sorting results. Valid fields are `createdAt` (default), `name`, `updatedAt`, `createdBy`, `updatedBy`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 20.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted blog posts. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "property",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalBlogPostForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "post": {
                "tags": ["Basic"],
                "summary": "Create a new post",
                "description": "Create a new blog post, specifying its content in the request body.",
                "operationId": "post-/cms/v3/blogs/posts_create",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of a new Blog Post.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogPost"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/clone": {
            "post": {
                "tags": ["Basic"],
                "summary": "Clone a blog post",
                "description": "Clone a blog post, making a copy of it in a new blog post.",
                "operationId": "post-/cms/v3/blogs/posts/clone_clone",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the ContentCloneRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContentCloneRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/{objectId}/revisions/{revisionId}/restore": {
            "post": {
                "tags": ["Basic"],
                "summary": "Restore a previous version",
                "description": "Restores a blog post to one of its previous versions.",
                "operationId": "post-/cms/v3/blogs/posts/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the blog post.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "revisionId",
                        "in": "path",
                        "description": "The ID of the version to restore the blog post to.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/multi-language/detach-from-lang-group": {
            "post": {
                "tags": ["Multi-language"],
                "summary": "Detach post from a multi-language group",
                "description": "Detach a blog post from a [multi-language group](https://developers.hubspot.com/docs/guides/cms/content/multi-language-content).",
                "operationId": "post-/cms/v3/blogs/posts/multi-language/detach-from-lang-group_detachFromLangGroup",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the DetachFromLangGroupRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DetachFromLangGroupRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/{objectId}/draft/push-live": {
            "post": {
                "tags": ["Basic"],
                "summary": "Publish blog post draft",
                "description": "Publish the draft version of the blog post, sending its content to the live page.",
                "operationId": "post-/cms/v3/blogs/posts/{objectId}/draft/push-live_pushLive",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the post to publish.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/batch/archive": {
            "post": {
                "tags": ["Batch"],
                "summary": "Delete a batch of blog posts",
                "description": "Delete a blog post by ID. \nNote: This is not the same as the in-app `archive` function. To perform a dashboard `archive` send an normal update with the `archivedInDashboard` field set to `true`.",
                "operationId": "post-/cms/v3/blogs/posts/batch/archive_archiveBatch",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON array of Blog Post ids.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputString"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/{objectId}/draft/reset": {
            "post": {
                "tags": ["Basic"],
                "summary": "Reset post draft to the live version",
                "description": "Discard all drafted content, resetting the draft to contain the content in the currently published version.",
                "operationId": "post-/cms/v3/blogs/posts/{objectId}/draft/reset_resetDraft",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the blog post to reset.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/multi-language/attach-to-lang-group": {
            "post": {
                "tags": ["Multi-language"],
                "summary": "Attach post to a multi-language group",
                "description": "Attach a blog post to a [multi-language group](https://developers.hubspot.com/docs/guides/cms/content/multi-language-content).",
                "operationId": "post-/cms/v3/blogs/posts/multi-language/attach-to-lang-group_attachToLangGroup",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the AttachToLangPrimaryRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AttachToLangPrimaryRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/multi-language/set-new-lang-primary": {
            "put": {
                "tags": ["Multi-language"],
                "summary": "Set a new primary language",
                "description": "Set the primary language of a [multi-language group](https://developers.hubspot.com/docs/guides/cms/content/multi-language-content) to the language of the provided post (specified as an ID in the request body)",
                "operationId": "put-/cms/v3/blogs/posts/multi-language/set-new-lang-primary_setLangPrimary",
                "parameters": [],
                "requestBody": {
                    "description": "The JSON representation of the SetNewLanguagePrimaryRequest object.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetNewLanguagePrimaryRequestVNext"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/{objectId}": {
            "get": {
                "tags": ["Basic"],
                "summary": "Retrieve a blog post",
                "description": "Retrieve a blog post by the post ID.",
                "operationId": "get-/cms/v3/blogs/posts/{objectId}_getById",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the blog post to retrieve.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to return deleted blog posts. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "property",
                        "in": "query",
                        "description": "Specific properties to return.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "delete": {
                "tags": ["Basic"],
                "summary": "Delete a blog post",
                "description": "Delete a blog post by ID.",
                "operationId": "delete-/cms/v3/blogs/posts/{objectId}_archive",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the blog post to delete.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been deleted.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            },
            "patch": {
                "tags": ["Basic"],
                "summary": "Update a post",
                "description": "Partially updates a single blog post by ID. You only need to specify the values that you want to update.",
                "operationId": "patch-/cms/v3/blogs/posts/{objectId}_update",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the blog post to update.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Specifies whether to update deleted blog posts. Defaults to `false`.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The JSON representation of the updated Blog Post.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogPost"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        },
        "/cms/v3/blogs/posts/{objectId}/revisions": {
            "get": {
                "tags": ["Basic"],
                "summary": "Retrieves all previous versions of a post",
                "description": "Retrieve all the previous versions of a blog post.",
                "operationId": "get-/cms/v3/blogs/posts/{objectId}/revisions_getPreviousVersions",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The ID of the blog post to retrieve previous versions of.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. Default is 100.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalVersionBlogPost"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["content"]
                    },
                    {
                        "oauth2_legacy": ["content"]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "BatchInputString": {
                "required": ["inputs"],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "description": "Strings to input.",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "description": "Wrapper for providing an array of strings as inputs."
            },
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "Error subcategory."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Error context."
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Error links."
                    },
                    "id": {
                        "type": "string",
                        "description": "Error ID."
                    },
                    "category": {
                        "type": "string",
                        "description": "Error category."
                    },
                    "message": {
                        "type": "string",
                        "description": "Error message."
                    },
                    "errors": {
                        "type": "array",
                        "description": "List of error details.",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    },
                    "status": {
                        "type": "string",
                        "description": "Error status."
                    }
                },
                "description": "Model definition for a standard error."
            },
            "BatchInputJsonNode": {
                "required": ["inputs"],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "description": "JSON nodes to input.",
                        "items": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "description": "Wrapper for providing an array of JSON nodes as inputs."
            },
            "UpdateLanguagesRequestVNext": {
                "required": ["languages", "primaryId"],
                "type": "object",
                "properties": {
                    "languages": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of object IDs to associated languages of object in the multi-language group."
                    },
                    "primaryId": {
                        "type": "string",
                        "description": "ID of the primary object in the multi-language group."
                    }
                },
                "description": "Request object for updating languages within a multi-language group."
            },
            "CollectionResponseWithTotalVersionBlogPost": {
                "required": ["results", "total"],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "description": "Total number of blog post versions.",
                        "format": "int32"
                    },
                    "paging": {
                        "$ref": "#/components/schemas/Paging"
                    },
                    "results": {
                        "type": "array",
                        "description": "Collection of blog post versions.",
                        "items": {
                            "$ref": "#/components/schemas/VersionBlogPost"
                        }
                    }
                },
                "description": "Response object for collections of blog post versions with pagination information."
            },
            "SetNewLanguagePrimaryRequestVNext": {
                "required": ["id"],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "ID of object to set as primary in multi-language group."
                    }
                },
                "description": "Request body object for setting a new primary language."
            },
            "RGBAColor": {
                "required": ["a", "b", "g", "r"],
                "type": "object",
                "properties": {
                    "a": {
                        "type": "number",
                        "description": "Alpha."
                    },
                    "r": {
                        "type": "integer",
                        "description": "Red.",
                        "format": "int32"
                    },
                    "b": {
                        "type": "integer",
                        "description": "Blue.",
                        "format": "int32"
                    },
                    "g": {
                        "type": "integer",
                        "description": "Green.",
                        "format": "int32"
                    }
                },
                "description": "A color defined by RGB values."
            },
            "DetachFromLangGroupRequestVNext": {
                "required": ["id"],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "ID of the object to remove from a multi-language group."
                    }
                },
                "description": "Request body object for detaching objects from multi-language groups."
            },
            "RowMetaData": {
                "required": ["cssClass", "styles"],
                "type": "object",
                "properties": {
                    "cssClass": {
                        "type": "string"
                    },
                    "styles": {
                        "$ref": "#/components/schemas/Styles"
                    }
                }
            },
            "ContentLanguageVariation": {
                "required": [
                    "archivedInDashboard",
                    "authorName",
                    "campaign",
                    "campaignName",
                    "created",
                    "id",
                    "name",
                    "password",
                    "publicAccessRules",
                    "publicAccessRulesEnabled",
                    "publishDate",
                    "slug",
                    "state",
                    "updated"
                ],
                "type": "object",
                "properties": {
                    "archivedInDashboard": {
                        "type": "boolean"
                    },
                    "created": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "tagIds": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "publishDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "publicAccessRules": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAccessRule"
                        }
                    },
                    "password": {
                        "type": "string"
                    },
                    "authorName": {
                        "type": "string"
                    },
                    "publicAccessRulesEnabled": {
                        "type": "boolean"
                    },
                    "name": {
                        "type": "string"
                    },
                    "campaign": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "state": {
                        "type": "string"
                    },
                    "campaignName": {
                        "type": "string"
                    },
                    "updated": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "slug": {
                        "type": "string"
                    }
                }
            },
            "AttachToLangPrimaryRequestVNext": {
                "required": ["id", "language", "primaryId"],
                "type": "object",
                "properties": {
                    "language": {
                        "type": "string",
                        "description": "Designated language of the object to add to a multi-language group.",
                        "enum": [
                            "af",
                            "af-na",
                            "af-za",
                            "agq",
                            "agq-cm",
                            "ak",
                            "ak-gh",
                            "am",
                            "am-et",
                            "ar",
                            "ar-001",
                            "ar-ae",
                            "ar-bh",
                            "ar-dj",
                            "ar-dz",
                            "ar-eg",
                            "ar-eh",
                            "ar-er",
                            "ar-il",
                            "ar-iq",
                            "ar-jo",
                            "ar-km",
                            "ar-kw",
                            "ar-lb",
                            "ar-ly",
                            "ar-ma",
                            "ar-mr",
                            "ar-om",
                            "ar-ps",
                            "ar-qa",
                            "ar-sa",
                            "ar-sd",
                            "ar-so",
                            "ar-ss",
                            "ar-sy",
                            "ar-td",
                            "ar-tn",
                            "ar-ye",
                            "as",
                            "as-in",
                            "asa",
                            "asa-tz",
                            "ast",
                            "ast-es",
                            "az",
                            "az-az",
                            "bas",
                            "bas-cm",
                            "be",
                            "be-by",
                            "bem",
                            "bem-zm",
                            "bez",
                            "bez-tz",
                            "bg",
                            "bg-bg",
                            "bm",
                            "bm-ml",
                            "bn",
                            "bn-bd",
                            "bn-in",
                            "bo",
                            "bo-cn",
                            "bo-in",
                            "br",
                            "br-fr",
                            "brx",
                            "brx-in",
                            "bs",
                            "bs-ba",
                            "ca",
                            "ca-ad",
                            "ca-es",
                            "ca-fr",
                            "ca-it",
                            "ccp",
                            "ccp-bd",
                            "ccp-in",
                            "ce",
                            "ce-ru",
                            "ceb",
                            "ceb-ph",
                            "cgg",
                            "cgg-ug",
                            "chr",
                            "chr-us",
                            "ckb",
                            "ckb-iq",
                            "ckb-ir",
                            "cs",
                            "cs-cz",
                            "cu",
                            "cu-ru",
                            "cy",
                            "cy-gb",
                            "da",
                            "da-dk",
                            "da-gl",
                            "dav",
                            "dav-ke",
                            "de",
                            "de-at",
                            "de-be",
                            "de-ch",
                            "de-de",
                            "de-gr",
                            "de-it",
                            "de-li",
                            "de-lu",
                            "dje",
                            "dje-ne",
                            "doi",
                            "doi-in",
                            "dsb",
                            "dsb-de",
                            "dua",
                            "dua-cm",
                            "dyo",
                            "dyo-sn",
                            "dz",
                            "dz-bt",
                            "ebu",
                            "ebu-ke",
                            "ee",
                            "ee-gh",
                            "ee-tg",
                            "el",
                            "el-cy",
                            "el-gr",
                            "en",
                            "en-001",
                            "en-150",
                            "en-ae",
                            "en-ag",
                            "en-ai",
                            "en-as",
                            "en-at",
                            "en-au",
                            "en-bb",
                            "en-be",
                            "en-bi",
                            "en-bm",
                            "en-bs",
                            "en-bw",
                            "en-bz",
                            "en-ca",
                            "en-cc",
                            "en-ch",
                            "en-ck",
                            "en-cm",
                            "en-cn",
                            "en-cx",
                            "en-cy",
                            "en-de",
                            "en-dg",
                            "en-dk",
                            "en-dm",
                            "en-ee",
                            "en-er",
                            "en-fr",
                            "en-fi",
                            "en-fj",
                            "en-fk",
                            "en-fm",
                            "en-gb",
                            "en-gd",
                            "en-gg",
                            "en-gh",
                            "en-gi",
                            "en-gm",
                            "en-gu",
                            "en-gy",
                            "en-hk",
                            "en-ie",
                            "en-il",
                            "en-im",
                            "en-in",
                            "en-io",
                            "en-je",
                            "en-jm",
                            "en-ke",
                            "en-ki",
                            "en-kn",
                            "en-ky",
                            "en-lc",
                            "en-lr",
                            "en-ls",
                            "en-lu",
                            "en-mg",
                            "en-mh",
                            "en-mo",
                            "en-mp",
                            "en-ms",
                            "en-mt",
                            "en-mu",
                            "en-mw",
                            "en-mx",
                            "en-my",
                            "en-na",
                            "en-nf",
                            "en-ng",
                            "en-nl",
                            "en-nr",
                            "en-nu",
                            "en-nz",
                            "en-pg",
                            "en-ph",
                            "en-pk",
                            "en-pn",
                            "en-pr",
                            "en-pw",
                            "en-rw",
                            "en-sb",
                            "en-sc",
                            "en-sd",
                            "en-se",
                            "en-sg",
                            "en-sh",
                            "en-si",
                            "en-sl",
                            "en-ss",
                            "en-sx",
                            "en-sz",
                            "en-tc",
                            "en-tk",
                            "en-to",
                            "en-tt",
                            "en-tv",
                            "en-tz",
                            "en-ug",
                            "en-um",
                            "en-us",
                            "en-vc",
                            "en-vg",
                            "en-vi",
                            "en-vu",
                            "en-ws",
                            "en-za",
                            "en-zm",
                            "en-zw",
                            "eo",
                            "eo-001",
                            "es",
                            "es-419",
                            "es-ar",
                            "es-bo",
                            "es-br",
                            "es-bz",
                            "es-cl",
                            "es-co",
                            "es-cr",
                            "es-cu",
                            "es-do",
                            "es-ea",
                            "es-ec",
                            "es-es",
                            "es-gq",
                            "es-gt",
                            "es-hn",
                            "es-ic",
                            "es-mx",
                            "es-ni",
                            "es-pa",
                            "es-pe",
                            "es-ph",
                            "es-pr",
                            "es-py",
                            "es-sv",
                            "es-us",
                            "es-uy",
                            "es-ve",
                            "et",
                            "et-ee",
                            "eu",
                            "eu-es",
                            "ewo",
                            "ewo-cm",
                            "fa",
                            "fa-af",
                            "fa-ir",
                            "ff",
                            "ff-bf",
                            "ff-cm",
                            "ff-gh",
                            "ff-gm",
                            "ff-gn",
                            "ff-gw",
                            "ff-lr",
                            "ff-mr",
                            "ff-ne",
                            "ff-ng",
                            "ff-sl",
                            "ff-sn",
                            "fi",
                            "fi-fi",
                            "fil",
                            "fil-ph",
                            "fo",
                            "fo-dk",
                            "fo-fo",
                            "fr",
                            "fr-be",
                            "fr-bf",
                            "fr-bi",
                            "fr-bj",
                            "fr-bl",
                            "fr-ca",
                            "fr-cd",
                            "fr-cf",
                            "fr-cg",
                            "fr-ch",
                            "fr-ci",
                            "fr-cm",
                            "fr-dj",
                            "fr-dz",
                            "fr-fr",
                            "fr-ga",
                            "fr-gf",
                            "fr-gn",
                            "fr-gp",
                            "fr-gq",
                            "fr-ht",
                            "fr-km",
                            "fr-lu",
                            "fr-ma",
                            "fr-mc",
                            "fr-mf",
                            "fr-mg",
                            "fr-ml",
                            "fr-mq",
                            "fr-mr",
                            "fr-mu",
                            "fr-nc",
                            "fr-ne",
                            "fr-pf",
                            "fr-pm",
                            "fr-re",
                            "fr-rw",
                            "fr-sc",
                            "fr-sn",
                            "fr-sy",
                            "fr-td",
                            "fr-tg",
                            "fr-tn",
                            "fr-vu",
                            "fr-wf",
                            "fr-yt",
                            "fur",
                            "fur-it",
                            "fy",
                            "fy-nl",
                            "ga",
                            "ga-gb",
                            "ga-ie",
                            "gd",
                            "gd-gb",
                            "gl",
                            "gl-es",
                            "gsw",
                            "gsw-ch",
                            "gsw-fr",
                            "gsw-li",
                            "gu",
                            "gu-in",
                            "guz",
                            "guz-ke",
                            "gv",
                            "gv-im",
                            "ha",
                            "ha-gh",
                            "ha-ne",
                            "ha-ng",
                            "haw",
                            "haw-us",
                            "he",
                            "hi",
                            "hi-in",
                            "hr",
                            "hr-ba",
                            "hr-hr",
                            "hsb",
                            "hsb-de",
                            "hu",
                            "hu-hu",
                            "hy",
                            "hy-am",
                            "ia",
                            "ia-001",
                            "id",
                            "ig",
                            "ig-ng",
                            "ii",
                            "ii-cn",
                            "id-id",
                            "is",
                            "is-is",
                            "it",
                            "it-ch",
                            "it-it",
                            "it-sm",
                            "it-va",
                            "he-il",
                            "ja",
                            "ja-jp",
                            "jgo",
                            "jgo-cm",
                            "yi",
                            "yi-001",
                            "jmc",
                            "jmc-tz",
                            "jv",
                            "jv-id",
                            "ka",
                            "ka-ge",
                            "kab",
                            "kab-dz",
                            "kam",
                            "kam-ke",
                            "kde",
                            "kde-tz",
                            "kea",
                            "kea-cv",
                            "khq",
                            "khq-ml",
                            "ki",
                            "ki-ke",
                            "kk",
                            "kk-kz",
                            "kkj",
                            "kkj-cm",
                            "kl",
                            "kl-gl",
                            "kln",
                            "kln-ke",
                            "km",
                            "km-kh",
                            "kn",
                            "kn-in",
                            "ko",
                            "ko-kp",
                            "ko-kr",
                            "kok",
                            "kok-in",
                            "ks",
                            "ks-in",
                            "ksb",
                            "ksb-tz",
                            "ksf",
                            "ksf-cm",
                            "ksh",
                            "ksh-de",
                            "kw",
                            "kw-gb",
                            "ku",
                            "ku-tr",
                            "ky",
                            "ky-kg",
                            "lag",
                            "lag-tz",
                            "lb",
                            "lb-lu",
                            "lg",
                            "lg-ug",
                            "lkt",
                            "lkt-us",
                            "ln",
                            "ln-ao",
                            "ln-cd",
                            "ln-cf",
                            "ln-cg",
                            "lo",
                            "lo-la",
                            "lrc",
                            "lrc-iq",
                            "lrc-ir",
                            "lt",
                            "lt-lt",
                            "lu",
                            "lu-cd",
                            "luo",
                            "luo-ke",
                            "luy",
                            "luy-ke",
                            "lv",
                            "lv-lv",
                            "mai",
                            "mai-in",
                            "mas",
                            "mas-ke",
                            "mas-tz",
                            "mer",
                            "mer-ke",
                            "mfe",
                            "mfe-mu",
                            "mg",
                            "mg-mg",
                            "mgh",
                            "mgh-mz",
                            "mgo",
                            "mgo-cm",
                            "mi",
                            "mi-nz",
                            "mk",
                            "mk-mk",
                            "ml",
                            "ml-in",
                            "mn",
                            "mn-mn",
                            "mni",
                            "mni-in",
                            "mr",
                            "mr-in",
                            "ms",
                            "ms-bn",
                            "ms-id",
                            "ms-my",
                            "ms-sg",
                            "mt",
                            "mt-mt",
                            "mua",
                            "mua-cm",
                            "my",
                            "my-mm",
                            "mzn",
                            "mzn-ir",
                            "naq",
                            "naq-na",
                            "nb",
                            "nb-no",
                            "nb-sj",
                            "nd",
                            "nd-zw",
                            "nds",
                            "nds-de",
                            "nds-nl",
                            "ne",
                            "ne-in",
                            "ne-np",
                            "nl",
                            "nl-aw",
                            "nl-be",
                            "nl-ch",
                            "nl-bq",
                            "nl-cw",
                            "nl-lu",
                            "nl-nl",
                            "nl-sr",
                            "nl-sx",
                            "nmg",
                            "nmg-cm",
                            "nn",
                            "nn-no",
                            "nnh",
                            "nnh-cm",
                            "no",
                            "no-no",
                            "nus",
                            "nus-ss",
                            "nyn",
                            "nyn-ug",
                            "om",
                            "om-et",
                            "om-ke",
                            "or",
                            "or-in",
                            "os",
                            "os-ge",
                            "os-ru",
                            "pa",
                            "pa-in",
                            "pa-pk",
                            "pcm",
                            "pcm-ng",
                            "pl",
                            "pl-pl",
                            "prg",
                            "prg-001",
                            "ps",
                            "ps-af",
                            "ps-pk",
                            "pt",
                            "pt-ao",
                            "pt-br",
                            "pt-ch",
                            "pt-cv",
                            "pt-gq",
                            "pt-gw",
                            "pt-lu",
                            "pt-mo",
                            "pt-mz",
                            "pt-pt",
                            "pt-st",
                            "pt-tl",
                            "qu",
                            "qu-bo",
                            "qu-ec",
                            "qu-pe",
                            "rm",
                            "rm-ch",
                            "rn",
                            "rn-bi",
                            "ro",
                            "ro-md",
                            "ro-ro",
                            "rof",
                            "rof-tz",
                            "ru",
                            "ru-by",
                            "ru-kg",
                            "ru-kz",
                            "ru-md",
                            "ru-ru",
                            "ru-ua",
                            "rw",
                            "rw-rw",
                            "rwk",
                            "rwk-tz",
                            "sa",
                            "sa-in",
                            "sah",
                            "sah-ru",
                            "saq",
                            "saq-ke",
                            "sat",
                            "sat-in",
                            "sbp",
                            "sbp-tz",
                            "sd",
                            "sd-in",
                            "sd-pk",
                            "se",
                            "se-fi",
                            "se-no",
                            "se-se",
                            "seh",
                            "seh-mz",
                            "ses",
                            "ses-ml",
                            "sg",
                            "sg-cf",
                            "shi",
                            "shi-ma",
                            "si",
                            "si-lk",
                            "sk",
                            "sk-sk",
                            "sl",
                            "sl-si",
                            "smn",
                            "smn-fi",
                            "sn",
                            "sn-zw",
                            "so",
                            "so-dj",
                            "so-et",
                            "so-ke",
                            "so-so",
                            "sq",
                            "sq-al",
                            "sq-mk",
                            "sq-xk",
                            "sr",
                            "sr-ba",
                            "sr-cs",
                            "sr-me",
                            "sr-rs",
                            "sr-xk",
                            "su",
                            "su-id",
                            "sv",
                            "sv-ax",
                            "sv-fi",
                            "sv-se",
                            "sw",
                            "sw-cd",
                            "sw-ke",
                            "sw-tz",
                            "sw-ug",
                            "sy",
                            "ta",
                            "ta-in",
                            "ta-lk",
                            "ta-my",
                            "ta-sg",
                            "te",
                            "te-in",
                            "teo",
                            "teo-ke",
                            "teo-ug",
                            "tg",
                            "tg-tj",
                            "th",
                            "th-th",
                            "ti",
                            "ti-er",
                            "ti-et",
                            "tk",
                            "tk-tm",
                            "tl",
                            "to",
                            "to-to",
                            "tr",
                            "tr-cy",
                            "tr-tr",
                            "tt",
                            "tt-ru",
                            "twq",
                            "twq-ne",
                            "tzm",
                            "tzm-ma",
                            "ug",
                            "ug-cn",
                            "uk",
                            "uk-ua",
                            "ur",
                            "ur-in",
                            "ur-pk",
                            "uz",
                            "uz-af",
                            "uz-uz",
                            "vai",
                            "vai-lr",
                            "vi",
                            "vi-vn",
                            "vo",
                            "vo-001",
                            "vun",
                            "vun-tz",
                            "wae",
                            "wae-ch",
                            "wo",
                            "wo-sn",
                            "xh",
                            "xh-za",
                            "xog",
                            "xog-ug",
                            "yav",
                            "yav-cm",
                            "yo",
                            "yo-bj",
                            "yo-ng",
                            "yue",
                            "yue-cn",
                            "yue-hk",
                            "zgh",
                            "zgh-ma",
                            "zh",
                            "zh-cn",
                            "zh-hk",
                            "zh-mo",
                            "zh-sg",
                            "zh-tw",
                            "zh-hans",
                            "zh-hant",
                            "zu",
                            "zu-za"
                        ]
                    },
                    "id": {
                        "type": "string",
                        "description": "ID of the object to add to a multi-language group."
                    },
                    "primaryId": {
                        "type": "string",
                        "description": "ID of primary language object in multi-language group."
                    },
                    "primaryLanguage": {
                        "type": "string",
                        "description": "Primary language of the multi-language group."
                    }
                },
                "description": "Request body object for attaching objects to multi-language groups."
            },
            "ErrorDetail": {
                "required": ["message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                }
            },
            "SideOrCorner": {
                "required": ["horizontalSide", "verticalSide"],
                "type": "object",
                "properties": {
                    "horizontalSide": {
                        "type": "string"
                    },
                    "verticalSide": {
                        "type": "string"
                    }
                }
            },
            "BatchInputBlogPost": {
                "required": ["inputs"],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "description": "Blog posts to input.",
                        "items": {
                            "$ref": "#/components/schemas/BlogPost"
                        }
                    }
                },
                "description": "Wrapper for providing an array of blog posts as inputs."
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage"
                    }
                },
                "description": "Model definition for forward paging."
            },
            "BreakpointStyles": {
                "required": ["hidden", "margin", "padding"],
                "type": "object",
                "properties": {
                    "padding": {
                        "$ref": "#/components/schemas/Padding"
                    },
                    "margin": {
                        "$ref": "#/components/schemas/Margin"
                    },
                    "hidden": {
                        "type": "boolean"
                    }
                }
            },
            "BlogPostLanguageCloneRequestVNext": {
                "required": ["id"],
                "type": "object",
                "properties": {
                    "language": {
                        "type": "string",
                        "description": "Target language of new variant."
                    },
                    "id": {
                        "type": "string",
                        "description": "ID of blog post to clone."
                    }
                },
                "description": "Request body object for creating new blog post language variant."
            },
            "Padding": {
                "type": "object",
                "properties": {}
            },
            "VersionUser": {
                "required": ["email", "fullName", "id"],
                "type": "object",
                "properties": {
                    "fullName": {
                        "type": "string",
                        "description": "The first and last name of the User."
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique ID of the User."
                    },
                    "email": {
                        "type": "string",
                        "description": "The email address of the user."
                    }
                },
                "description": "Model definition for a version user. Contains addition information about the user who created a version."
            },
            "ColorStop": {
                "required": ["color"],
                "type": "object",
                "properties": {
                    "color": {
                        "$ref": "#/components/schemas/RGBAColor"
                    }
                }
            },
            "Gradient": {
                "required": ["angle", "colors", "sideOrCorner"],
                "type": "object",
                "properties": {
                    "angle": {
                        "$ref": "#/components/schemas/Angle"
                    },
                    "sideOrCorner": {
                        "$ref": "#/components/schemas/SideOrCorner"
                    },
                    "colors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ColorStop"
                        }
                    }
                }
            },
            "LayoutSection": {
                "required": [
                    "cells",
                    "cssClass",
                    "cssId",
                    "cssStyle",
                    "label",
                    "name",
                    "params",
                    "rowMetaData",
                    "rows",
                    "styles",
                    "type",
                    "w",
                    "x"
                ],
                "type": "object",
                "properties": {
                    "cssStyle": {
                        "type": "string"
                    },
                    "label": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "params": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {}
                        },
                        "description": "null"
                    },
                    "rows": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/components/schemas/LayoutSection"
                            }
                        }
                    },
                    "rowMetaData": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RowMetaData"
                        }
                    },
                    "cells": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LayoutSection"
                        }
                    },
[...]
