openapi: 3.0.1
info:
  title: Keap REST API
  description: |
    This is a generated connector for [Keap API v1.70.0.453309-hf-202203291431](https://developer.infusionsoft.com/docs/rest/) OpenAPI specification.
    Keap is an all-in-one CRM, sales and marketing automation software that helps organize leads, land the job, get paid, and keep growing.
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials. 
    Create a [Keap account](https://developer.keap.com) and obtain tokens by following [this guide](https://developer.infusionsoft.com/developer-guide).
  x-ballerina-display:
    label: Keap
    iconPath: "icon.png"
  termsOfService: https://keap.com/legal
  contact:
    name: Keap
    url: https://developer.keap.com/get-support/
  version: 1.70.0.453309-hf-202203291431
servers:
- url: https://api.infusionsoft.com/crm/rest/
tags:
- name: Product
  description: Products-Endpoint
- name: User Info
  description: UserInfo-Endpoint
- name: Appointment
  description: Appointments-Endpoint
- name: Locale
  description: Locale-Endpoint
- name: REST Hooks
  description: Rest-Hook-Endpoint
- name: Account Info
  description: Account Info-Endpoint
- name: Campaign
  description: Campaigns-Endpoint
- name: Tags
  description: Tag-Company-Endpoint
- name: Setting
  description: Setting-Endpoint
- name: File
  description: File-Endpoint
- name: Note
  description: Notes-Endpoint
- name: Contact
  description: Contacts-Endpoint
- name: Email
  description: Emails-Endpoint
- name: Affiliate
  description: Affiliates-Endpoint
- name: Merchant
  description: Merchant-Endpoint
- name: Task
  description: Tasks-Endpoint
- name: Company
  description: Companies-Endpoint
- name: Users
  description: Users-Endpoint
- name: Email Address
  description: Email-Addresses-Endpoint
- name: E-Commerce
  description: E-Commerce-Endpoint
- name: Opportunity
  description: Opportunities-Endpoint
paths:
  /account/profile:
    get:
      tags:
      - Account Info
      summary: Retrieve account profile
      description: Retrieves profile/company info for an account.
      operationId: getAccountProfile
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Account Info
      summary: Updates an account profile
      description: Updates profile/company info for an account.
      operationId: updateAccountInfo
      requestBody:
        description: accountInfo
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountProfile'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: accountInfo
  /affiliates:
    get:
      tags:
      - Affiliate
      summary: List Affiliates
      description: Retrieves a list of all affiliates
      operationId: listAffiliates
      parameters:
      - name: name
        in: query
        description: Optional affiliate name to query on
        schema:
          type: string
      - name: code
        in: query
        description: Optional affiliate parent ID to query on
        schema:
          type: string
      - name: parent_id
        in: query
        description: Optional affiliate code to query on
        schema:
          type: string
      - name: contact_id
        in: query
        description: Optional contact ID to query on
        schema:
          type: string
      - name: program_id
        in: query
        description: Optional affiliate program ID to query on
        schema:
          type: string
      - name: status
        in: query
        description: Optional affiliate status to query on
        schema:
          type: string
          enum:
          - active
          - inactive
      - name: order
        in: query
        description: Attribute to order items by
        schema:
          type: string
          enum:
          - id
          - name
      - name: order_direction
        in: query
        description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      - name: offset
        in: query
        description: Count to offset the returned results by
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Affiliate
      summary: Create an affiliate
      description: Create a single affiliate
      operationId: createAffiliate
      requestBody:
        description: affiliate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAffiliate'
        required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Affiliate'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: affiliate
  /affiliates/commissions:
    get:
      tags:
      - Affiliate
      summary: List Commissions
      description: Retrieve a list of Commissions based on Affiliate or Date Range
      operationId: listCommissions
      parameters:
      - name: since
        in: query
        description: Date to start searching from ex. `2017-01-01T22:17:59.039Z`
        schema:
          type: string
      - name: until
        in: query
        description: Date to search to ex. `2017-01-01T22:17:59.039Z`
        schema:
          type: string
      - name: order
        in: query
        description: Attribute to order items by
        schema:
          type: string
          enum:
          - DATE_EARNED
      - name: order_direction
        in: query
        description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      - name: limit
        in: query
        description: Sets a total of items to return
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      - name: affiliateId
        in: query
        description: Affiliate to retrieve commissions for
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateCommissionList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /affiliates/model:
    get:
      tags:
      - Affiliate
      summary: Retrieve Affiliate Model
      description: Get the custom fields for the Affiliate object
      operationId: retrieveAffiliateModel
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectModel'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /affiliates/programs:
    get:
      tags:
      - Affiliate
      summary: List Commission Programs
      description: Retrieve a list of Commission Programs
      operationId: listPrograms
      parameters:
      - name: affiliate_id
        in: query
        description: Id of the affiliate you would like programs for
        schema:
          type: integer
          format: int64
      - name: order
        in: query
        description: Attribute to order items by
        schema:
          type: string
          enum:
          - id
          - name
          - priority
      - name: order_direction
        in: query
        description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      - name: offset
        in: query
        description: Count to offset the returned results by
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateProgramList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /affiliates/redirectlinks:
    get:
      tags:
      - Affiliate
      summary: List Affiliate Redirects
      description: Retrieves a list of all affiliate redirects
      operationId: listAffiliateRedirectLinks
      parameters:
      - name: affiliate_id
        in: query
        description: Affiliate ID to search by
        schema:
          type: string
      - name: order
        in: query
        description: Attribute to order items by
        schema:
          type: string
          enum:
          - id
          - name
      - name: order_direction
        in: query
        description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      - name: offset
        in: query
        description: Count to offset the returned results by
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /affiliates/summaries:
    get:
      tags:
      - Affiliate
      summary: List affiliate summaries
      description: Retrieve a list of affiliate summaries
      operationId: listSummaries
      parameters:
      - name: affiliate_ids
        in: query
        description: Ids of the affiliates you would like a summary for
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: order
        in: query
        description: Attribute to order items by
        schema:
          type: string
          enum:
          - affiliate_id
          - amount_earned
          - balance
          - clawbacks
      - name: order_direction
        in: query
        description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateSummaryList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /affiliates/{affiliateId}/clawbacks:
    get:
      tags:
      - Affiliate
      summary: List Affiliate clawbacks
      description: Retrieves a list of all affiliate clawbacks
      operationId: listAffiliateClawbacks
      parameters:
      - name: affiliateId
        in: path
        description: affiliateId
        required: true
        schema:
          type: string
      - name: since
        in: query
        description: Optional inclusive start date
        schema:
          type: string
      - name: until
        in: query
        description: Optional inclusive end date
        schema:
          type: string
      - name: order
        in: query
        description: Attribute to order items by
        schema:
          type: string
          enum:
          - DATE_EARNED
      - name: order_direction
        in: query
        description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      - name: offset
        in: query
        description: Count to offset the returned results by
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateClawbackList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /affiliates/{id}:
    get:
      tags:
      - Affiliate
      summary: Retrieve an affiliate
      description: Retrieve a single affiliate
      operationId: getAffiliate
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Affiliate'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /appointments:
    get:
      tags:
      - Appointment
      summary: List Appointments
      description: Retrieves all appointments for the authenticated user
      operationId: listAppointments
      parameters:
      - name: since
        in: query
        description: Date to start searching from ex. `2017-01-01T22:17:59.039Z`
        schema:
          type: string
      - name: until
        in: query
        description: Date to search to ex. `2017-01-01T22:17:59.039Z`
        schema:
          type: string
      - name: limit
        in: query
        description: Sets a total of items to return
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      - name: contact_id
        in: query
        description: Optionally find appointments with a contact
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Appointment
      summary: Create an Appointment
      description: Creates a new appointment as the authenticated user
      operationId: createAppointment
      requestBody:
        description: appointment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appointment'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: appointment
  /appointments/model:
    get:
      tags:
      - Appointment
      summary: Retrieve Appointment Model
      description: Get the custom fields for the Appointment object
      operationId: retrieveAppointmentModel
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectModel'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /appointments/model/customFields:
    post:
      tags:
      - Appointment
      summary: Create a Custom Field
      description: Adds a custom field of the specified type and options to the Appointment
        object.
      operationId: createAppointmentCustomField
      requestBody:
        description: customField
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRestCustomField'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldMetaData'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: customField
  /appointments/{appointmentId}:
    get:
      tags:
      - Appointment
      summary: Retrieve an Appointment
      description: Retrieves a specific appointment with respect to user permissions.
        The authenticated user will need the "can view all records" permission for
        Task/Appt/Notes
      operationId: getAppointment
      parameters:
      - name: appointmentId
        in: path
        description: appointmentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Appointment
      summary: Replace an Appointment
      description: Replaces all values of a given appointment
      operationId: updateAppointment
      parameters:
      - name: appointmentId
        in: path
        description: appointmentId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: appointmentDTO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appointment'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: appointmentDTO
    delete:
      tags:
      - Appointment
      summary: Delete an Appointment
      description: Deletes the specified appointment
      operationId: deleteAppointment
      parameters:
      - name: appointmentId
        in: path
        description: appointmentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Appointment
      summary: Update an Appointment
      description: Updates the provided values of a given appointment
      operationId: updatePropertiesOnAppointment
      parameters:
      - name: appointmentId
        in: path
        description: appointmentId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: appointmentDTO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appointment'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: appointmentDTO
  /campaigns:
    get:
      tags:
      - Campaign
      summary: List Campaigns
      description: Retrieves all campaigns for the authenticated user
      operationId: listCampaigns
      parameters:
      - name: limit
        in: query
        description: Sets a total of items to return
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      - name: search_text
        in: query
        description: Optional text to search
        schema:
          type: string
      - name: order
        in: query
        description: Attribute to order items by
        schema:
          type: string
          enum:
          - name
          - published_date
          - id
          - completed_contact_count
          - active_contact_count
          - date_created
      - name: order_direction
        in: query
        description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
        schema:
          type: string
          enum:
          - ascending
          - descending
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /campaigns/goals/{integration}/{callName}:
    post:
      tags:
      - Campaign
      summary: Achieve API Goal
      description: Achieves API goal for campaigns with matching integration, callName
        for a given contactId
      operationId: createAchieveApiGoalEvent
      parameters:
      - name: integration
        in: path
        description: integration
        required: true
        schema:
          type: string
      - name: callName
        in: path
        description: callName
        required: true
        schema:
          type: string
      requestBody:
        description: goalEvent
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchieveApiGoalEvent'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoalEventResultDTO'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: goalEvent
  /campaigns/{campaignId}:
    get:
      tags:
      - Campaign
      summary: Retrieve a Campaign
      description: Retrieves a single campaign
      operationId: getCampaign
      parameters:
      - name: campaignId
        in: path
        description: campaignId
        required: true
        schema:
          type: integer
          format: int64
      - name: optional_properties
        in: query
        description: Comma-delimited list of Campaign properties to include in the
          response. (The fields `goals` and `sequences` aren't included, by default.)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /campaigns/{campaignId}/sequences/{sequenceId}/contacts:
    post:
      tags:
      - Campaign
      summary: Add Multiple to Campaign Sequence
      description: Adds a list of contacts to a campaign sequence
      operationId: addContactsToCampaignSequence
      parameters:
      - name: campaignId
        in: path
        description: campaignId
        required: true
        schema:
          type: integer
          format: int64
      - name: sequenceId
        in: path
        description: sequenceId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: ids
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOfIds'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: ids
    # delete:
    #   tags:
    #   - Campaign
    #   summary: Remove Multiple from Campaign Sequence
    #   description: Removes a list of contacts from a campaign sequence
    #   operationId: removeContactsFromCampaignSequenceUsingDELETE_1
    #   parameters:
    #   - name: campaignId
    #     in: path
    #     description: campaignId
    #     required: true
    #     schema:
    #       type: integer
    #       format: int64
    #   - name: sequenceId
    #     in: path
    #     description: sequenceId
    #     required: true
    #     schema:
    #       type: integer
    #       format: int64
    #   requestBody:
    #     description: ids
    #     content:
    #       application/json:
    #         schema:
    #           $ref: '#/components/schemas/SetOfIds'
    #     required: true
    #   responses:
    #     204:
    #       description: No Content
    #       content: {}
    #     401:
    #       description: Unauthorized
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/Error'
    #     403:
    #       description: Forbidden
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/Error'
    #     404:
    #       description: Not Found
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/Error'
    #   x-codegen-request-body-name: ids
  /campaigns/{campaignId}/sequences/{sequenceId}/contacts/{contactId}:
    post:
      tags:
      - Campaign
      summary: Add to Campaign Sequence
      description: Adds a single contact to a campaign sequence
      operationId: addContactToCampaignSequence
      parameters:
      - name: campaignId
        in: path
        description: campaignId
        required: true
        schema:
          type: integer
          format: int64
      - name: sequenceId
        in: path
        description: sequenceId
        required: true
        schema:
          type: integer
          format: int64
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Campaign
      summary: Remove from Campaign Sequence
      description: Removes a single contact from a campaign sequence
      operationId: removeContactFromCampaignSequence
      parameters:
      - name: campaignId
        in: path
        description: campaignId
        required: true
        schema:
          type: integer
          format: int64
      - name: sequenceId
        in: path
        description: sequenceId
        required: true
        schema:
          type: integer
          format: int64
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /companies:
    get:
      tags:
      - Company
      summary: List Companies
      description: Retrieves a list of all companies
      operationId: listCompanies
      parameters:
      - name: limit
        in: query
        description: Sets a total of items to return
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      - name: company_name
        in: query
        description: Optional company name to query on
        schema:
          type: string
      - name: order
        in: query
        description: Attribute to order items by
        schema:
          type: string
          enum:
          - id
          - date_created
          - name
          - email
      - name: order_direction
        in: query
        description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: optional_properties
        in: query
        description: Comma-delimited list of Company properties to include in the
          response. (Fields such as `notes`, `fax_number` and `custom_fields` aren't
          included, by default.)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Company
      summary: Create a Company
      description: |-
        Creates a new company as the authenticated user. NB: Company must contain at least the company name. The `country_code` is required if `region` is specified.

        You may opt-in or mark a Company as _Marketable_ by including the following field in the request JSON with an opt-in reason. (This field is also shown in the complete request body sample.) The reason you provide here will help with compliance. Example reasons: "Customer opted-in through webform", "Company gave explicit permission."

        ```json
        "opt_in_reason": "your reason for opt-in"
        ```
        Note that the email address status will only be updated to unconfirmed (marketable) for email addresses that are currently in the following states:
        Unengaged Marketable
        Unengaged Non-Marketable
        Non-Marketable
        Opt-Out: Manual
        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc will remain non-marketable and in their existing state.
      operationId: createCompany
      requestBody:
        description: company
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrPatchCompany'
        required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: company
  /companies/model:
    get:
      tags:
      - Company
      summary: Retrieve Company Model
      description: Get the custom fields and optional properties for the Company object
      operationId: retrieveCompanyModel
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectModel'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /companies/{companyId}:
    get:
      tags:
      - Company
      summary: Retrieve a Company
      description: Retrieves a single company
      operationId: getCompany
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: integer
          format: int64
      - name: optional_properties
        in: query
        description: Comma-delimited list of Company properties to include in the
          response. (Fields such as `notes`, `fax_number` and `custom_fields` aren't
          included, by default.)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Company
      summary: Update a Company
      description: |-
        Updates a company with only the values provided in the request.

        You may opt-in or mark a Company as _Marketable_ by including the following field in the request JSON with an opt-in reason. (This field is also shown in the complete request body sample.) The reason you provide here will help with compliance. Example reasons: "Customer opted-in through webform", "Company gave explicit permission."

        ```json
        "opt_in_reason": "your reason for opt-in"
        ```
        Note that the email address status will only be updated to unconfirmed (marketable) for email addresses that are currently in the following states:
        Unengaged Marketable
        Unengaged Non-Marketable
        Non-Marketable
        Opt-Out: Manual
        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc will remain non-marketable and in their existing state.
      operationId: updateCompanies
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: company
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrPatchCompany'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: company
  /company/{companyId}:
    patch:
      tags:
      - Company
      summary: Update a Company
      description: |-
        Updates a company with only the values provided in the request.

        You may opt-in or mark a Company as _Marketable_ by including the following field in the request JSON with an opt-in reason. (This field is also shown in the complete request body sample.) The reason you provide here will help with compliance. Example reasons: "Customer opted-in through webform", "Company gave explicit permission."

        ```json
        "opt_in_reason": "your reason for opt-in"
        ```
        Note that the email address status will only be updated to unconfirmed (marketable) for email addresses that are currently in the following states:
        Unengaged Marketable
        Unengaged Non-Marketable
        Non-Marketable
        Opt-Out: Manual
        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc will remain non-marketable and in their existing state.
      operationId: updateCompany
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: company
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrPatchCompany'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: company
  /contacts:
    get:
      tags:
      - Contact
      summary: List Contacts
      description: Retrieves a list of all contacts
      operationId: listContacts
      parameters:
      - name: limit
        in: query
        description: Sets a total of items to return
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      - name: email
        in: query
        description: Optional email address to query on
        schema:
          type: string
      - name: given_name
        in: query
        description: Optional first name or forename to query on
        schema:
          type: string
      - name: family_name
        in: query
        description: Optional last name or surname to query on
        schema:
          type: string
      - name: order
        in: query
        description: Attribute to order items by
        schema:
          type: string
          enum:
          - id
          - date_created
          - name
          - firstName
          - email
      - name: order_direction
        in: query
        description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: since
        in: query
        description: Date to start searching from on LastUpdated ex. `2017-01-01T22:17:59.039Z`
        schema:
          type: string
      - name: until
        in: query
        description: Date to search to on LastUpdated ex. `2017-01-01T22:17:59.039Z`
        schema:
          type: string
      - name: optional_properties
        in: query
        description: Comma-delimited list of Contact properties to include in the
          response. (Some fields such as `lead_source_id`, `custom_fields`, and `job_title`
          aren't included, by default.)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Contact
      summary: Create or Update a Contact
      description: |-
        Creates a new contact or updates a contact as the authenticated user. NB: New Contacts must contain at least one item in `email_addresses` or `phone_numbers` and `country_code` is required if `region` is specified. Existing Contacts are updated with only the values provided in the request. Accepts a `duplicate_option` which performs duplicate checking by one of the following options: `Email`, `EmailAndName`, if a match is found using the option provided, the existing contact will be updated. If an existing contact was not found using the `duplicate_option` provided, a new contact record will be created.

        You may opt-in or mark a Contact as _Marketable_ by including the following field in the request JSON with an opt-in reason. (This field is also shown in the complete request body sample.) The reason you provide here will help with compliance. Example reasons: "Customer opted-in through webform", "Contact gave explicit permission."

        ```json
        "opt_in_reason": "your reason for opt-in"
        ```
        Note that the email address status will only be updated to unconfirmed (marketable) for email addresses that are currently in the following states:
        Unengaged Marketable
        Unengaged Non-Marketable
        Non-Marketable
        Opt-Out: Manual
        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc will remain non-marketable and in their existing state.

        This API only supports a subset of valid timezones. A list of the supported timezones can be found [here](https://developer.infusionsoft.com/faqs/what-timezones-do-contact-calls-accept/).
      operationId: createOrUpdateContact
      requestBody:
        description: contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertContact'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullContact'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: contact
    post:
      tags:
      - Contact
      summary: Create a Contact
      description: |-
        Creates a new contact as the authenticated user. NB: Contact must contain at least one item in `email_addresses` or `phone_numbers` and `country_code` is required if `region` is specified.

        Please see the body schema for updates to the postal code field.

        You may opt-in or mark a Contact as _Marketable_ by including the following field in the request JSON with an opt-in reason. (This field is also shown in the complete request body sample.) The reason you provide here will help with compliance. Example reasons: "Customer opted-in through webform", "Contact gave explicit permission."

        ```json
        "opt_in_reason": "your reason for opt-in"
        ```
        Note that the email address status will only be updated to unconfirmed (marketable) for email addresses that are currently in the following states:
        Unengaged Marketable
        Unengaged Non-Marketable
        Non-Marketable
        Opt-Out: Manual
        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc will remain non-marketable and in their existing state.

        This API only supports a subset of valid timezones. A list of the supported timezones can be found [here](https://developer.infusionsoft.com/faqs/what-timezones-do-contact-calls-accept/).
      operationId: createContact
      requestBody:
        description: contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrPatchContact'
        required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullContact'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: contact
  /contacts/model:
    get:
      tags:
      - Contact
      summary: Retrieve Contact Model
      description: Get the custom fields and optional properties for the Contact object
      operationId: retrieveContactModel
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectModel'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contacts/model/customFields:
    post:
      tags:
      - Contact
      summary: Create a Custom Field
      description: Adds a custom field of the specified type and options to the Contact
        object.
      operationId: createCustomField
      requestBody:
        description: customField
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRestCustomField'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldMetaData'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: customField
  /contacts/{contactId}:
    delete:
      tags:
      - Contact
      summary: Delete a Contact
      description: Deletes the specified contact.
      operationId: deleteContact
      parameters:
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Contact
      summary: Update a Contact
      description: |-
        Updates a contact with only the values provided in the request.

        You may opt-in or mark a Contact as _Marketable_ by including the following field in the request JSON with an opt-in reason. (This field is also shown in the complete request body sample.) The reason you provide here will help with compliance. Example reasons: "Customer opted-in through webform", "Contact gave explicit permission."

        ```json
        "opt_in_reason": "your reason for opt-in"
        ```
        Note that the email address status will only be updated to unconfirmed (marketable) for email addresses that are currently in the following states:
        Unengaged Marketable
        Unengaged Non-Marketable
        Non-Marketable
        Opt-Out: Manual
        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc will remain non-marketable and in their existing state.
      operationId: updatePropertiesOnContact
      parameters:
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      - name: update_mask
        in: query
        description: An optional list of properties to be updated. If set, only the
          provided properties will be updated and others will be skipped.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - addresses
          - anniversary
          - birthday
          - company
          - contact_type
          - custom_fields
          - email_addresses
          - family_name
          - fax_numbers
          - given_name
          - job_title
          - lead_source_id
          - middle_name
          - notes
          - opt_in_reason
          - origin
          - owner_id
          - phone_numbers
          - preferred_locale
          - preferred_name
          - prefix
          - social_accounts
          - source_type
          - spouse_name
          - suffix
          - time_zone
          - website
      requestBody:
        description: contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrPatchContact'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullContact'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: contact
  /contacts/{contactId}/creditCards:
    get:
      tags:
      - Contact
      summary: Retrieve Credit Cards
      description: List all Credit Cards on a contact
      operationId: listCreditCards
      parameters:
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactCreditCard'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Contact
      summary: Create a Credit Card
      description: Creates a new credit card associated to a contact
      operationId: createCreditCard
      parameters:
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: creditCard
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditCard'
        required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardAdded'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: creditCard
  /contacts/{contactId}/emails:
    get:
      tags:
      - Contact
      summary: List Emails
      description: List Emails that have been sent to a Contact
      operationId: listEmailsForContact
      parameters:
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Sets a total of items to return
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      - name: email
        in: query
        description: Optional email address to query on
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSentQueryResultList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Contact
      summary: Create an Email Record
      description: Create a record of an email sent to a contact
      operationId: createEmailForContact
      parameters:
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Email records to persist, with content.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSentCreate'
        required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSentCreate'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: emailWithContent
  /contacts/{contactId}/tags:
    get:
      tags:
      - Contact
      summary: List Applied Tags
      description: Retrieves a list of tags applied to a given contact
      operationId: listAppliedTags
      parameters:
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Sets a total of items to return
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactTagList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Contact
      summary: Apply Tags
      description: Apply a list of tags to a given contact record
      operationId: applyTagsToContactId
      parameters:
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: tagIds
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagId'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntryLongString'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: tagIds
    delete:
      tags:
      - Contact
      summary: Remove Applied Tags
      description: Removes a list of tags from the given contact. Provide one or more
        tag ids in the querystring as a comma-separated URIencoded list (%2C is a
        comma). E.g. DELETE /contacts/{contact_id}/tags?ids=1%2C2%2C3
      operationId: removeAppliedTagsFromContact
      parameters:
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      - name: ids
        in: query
        description: ids
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contacts/{contactId}/tags/{tagId}:
    delete:
      tags:
      - Contact
      summary: Remove Applied Tag
      description: Removes a tag from the given contact
      operationId: removeTagsFromContact
      parameters:
      - name: contactId
        in: path
        description: contactId
        required: true
        schema:
          type: integer
          format: int64
      - name: tagId
        in: path
        description: tagId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /emailAddresses/{email}:
    put:
      tags:
      - Email Address
      summary: Replace an Email Address
      description: |-
        Replaces all of the values of a given email address

        You may opt-in or mark an email address as _Marketable_ by including the following field in the request JSON with an opt-in reason. (This field is also shown in the complete request body sample.) The reason you provide here will help with compliance. Example reasons: "Customer opted-in through webform", "Company gave explicit permission."

        ```json
        "opt_in_reason": "your reason for opt-in"
        ```
        Note that the email address status will only be updated to unconfirmed (marketable) for email addresses that are currently in the following states:
        Unengaged Marketable
        Unengaged Non-Marketable
        Non-Marketable
        Opt-Out: Manual
        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc will remain non-marketable and in their existing state.
      operationId: replaceEmailAddress
      parameters:
      - name: email
        in: path
        description: email
        required: true
        schema:
          type: string
      requestBody:
        description: update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmailAddress'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestEmailAddress'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: update
  /emails:
    get:
      tags:
      - Email
      summary: List Emails
      description: |-
        Retrieve a list of emails that have been sent

        Keap is currently investigating an issue with degraded performance
        of this endpoint with very large (millions of records) record sets
      operationId: listEmails
      parameters:
      - name: limit
        in: query
        description: Sets a total of items to return
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      - name: contact_id
        in: query
        description: Optional Contact Id to find Emails for
        schema:
          type: integer
          format: int64
      - name: email
        in: query
        description: Optional email address to query on
        schema:
          type: string
      - name: since_sent_date
        in: query
        description: Optional date to query on, emails sent since the provided date,
          must be present if untilDate is provided
        schema:
          type: string
      - name: until_sent_date
        in: query
        description: Optional date to query on, email sent until the provided date
        schema:
          type: string
      - name: ordered
        in: query
        description: Optional boolean to turn off ORDER BY in SQL query
        schema:
          type: boolean
          default: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSentQueryResultList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Email
      summary: Create an Email Record
      description: Create a record of an email sent to a contact
      operationId: createEmail
      requestBody:
        description: Email records to persist, with content.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSentCreate'
        required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSentCreate'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: emailWithContent
  /emails/queue:
    post:
      tags:
      - Email
      summary: Send an Email
      description: Send an Email to a list of Contacts
      operationId: sendEmail
      requestBody:
        description: emailSendRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSendRequest'
        required: false
      responses:
        202:
          description: Accepted
          content: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: emailSendRequest
  /emails/sync:
    post:
      tags:
      - Email
      summary: Create a set of Email Records
      description: Create a set of records of emails sent to contacts, maximum 1000
        per transaction.
      operationId: createEmails
      requestBody:
        description: Email records to persist, with content.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSentCreateList'
        required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSentCreateList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: emailWithContent
  /emails/unsync:
    post:
      tags:
      - Email
      summary: Un-sync a batch of Email Records
      description: Un-syncs a batch of email records
      operationId: deleteEmails
      requestBody:
        description: emailIds
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOfIds'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: emailIds
  /emails/{id}:
    get:
      tags:
      - Email
      summary: Retrieve an Email
      description: Retrieves a single email that has been sent
      operationId: getEmail
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSentQueryResultWithContent'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Email
      summary: Update an Email Record
      description: Update a record of an email sent to a contact
      operationId: updateEmail
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Email records to persist, with content.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSentCreate'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSentCreate'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
      x-codegen-request-body-name: emailWithContent
    delete:
      tags:
      - Email
      summary: Delete an Email Record
      description: Delete a specific email record
      operationId: deleteEmail
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /files:
    get:
      tags:
      - File
      summary: List Files
      description: Retrieves a list of all files
      operationId: listFiles
      parameters:
      - name: limit
        in: query
        description: Sets a total of items to return
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
      - name: viewable
        in: query
        description: Include public or private files in response (PUBLIC or PRIVATE),
          defaults to BOTH.
        schema:
          type: string
          enum:
          - PUBLIC
          - PRIVATE
          - BOTH
      - name: permission
        in: query
        description: Filter based on the permission of files (USER or COMPANY), defaults
          to BOTH.
        schema:
          type: string
          enum:
          - USER
          - COMPANY
          - BOTH
      - name: type
        in: query
        description: Filter based on the type of file.
        schema:
          type: string
          enum:
          - Application
          - Image
          - Fax
          - Attachment
          - Ticket
          - Contact
          - DigitalProduct
          - Import
          - Hidden
          - WebForm
          - StyledCart
          - ReSampledImage
          - TemplateThumbnail
          - Funnel
          - LogoThumbnail
      - name: name
        in: query
        description: Filter files based on name, with '*' preceding or following to
          indicate LIKE queries.
        schema:
          type: string
      - name: contact_id
        in: query
        description: Filter based on Contact Id, if user has permission to see Contact
          files.
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - File
      summary: Upload File
      description: Upload a base64 encoded file. `contact_id` is required only when
        `file_association` is `CONTACT`.
      operationId: createFile
      requestBody:
        description: fileUpload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileUpload'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInformation'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: fileUpload
  /files/{fileId}:
    get:
      tags:
      - File
      summary: Retrieve File
      description: Retrieves metadata about a specific file. Optionally returns the
        base64 encoded file data.
      operationId: getFile
      parameters:
      - name: fileId
        in: path
        description: fileId
        required: true
        schema:
          type: integer
          format: int64
      - name: optional_properties
        in: query
        description: Comma-delimited list of File properties to include in the response.
          (Some fields such as `file_data` aren't included, by default.)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInformation'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - File
      summary: Replace File
      description: Upload a base64 encoded file to replace an existing one. `contact_id`
        is required only when `file_association` is `CONTACT`.
      operationId: updateFile
      parameters:
      - name: fileId
        in: path
        description: fileId
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: fileUpload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileUpload'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInformation'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: fileUpload
    delete:
      tags:
      - File
      summary: Delete File
      description: Deletes the specified file
      operationId: deleteFile
      parameters:
      - name: fileId
        in: path
        description: fileId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hooks:
    get:
      tags:
      - REST Hooks
      summary: List Stored Hook Subscriptions
      description: Lists your hook subscriptions.
      operationId: list_stored_hook_subscriptions
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RestHook'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - REST Hooks
      summary: Create a Hook Subscription
      description: |-
        To receive hooks, you'll first need to subscribe to events one at a time *and* individually verify each subscription.

        This operation is used to create hook subscriptions. During this process, Infusionsoft will attempt to verify your subscription. Continue reading to learn how that works.

        To verify or reactivate a hook subscription, Infusionsoft will make a `POST` request with a temporary secret to the `hookUrl` you provided during creation. The secret is passed as the value of a header named `X-Hook-Secret`. Your response to that `POST` *must* have a status code of `200` and return the same `X-Hook-Secret` header and value pair. Once you've done that, you'll begin receiving hooks. Don't worry if verification fails; you can always [request another verification attempt](#!/REST_Hooks/verify_a_hook_subscription).

        NB: You will not receive events until the subscription is verified.

        If the verification process seems confusing, head over to [RESTHooks.org](http://resthooks.org/docs/security/) for more on the concept.
      operationId: create_a_hook_subscription
      requestBody:
        description: restHookRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestHookRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestHook'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: restHookRequest
  /hooks/event_keys:
    get:
      tags:
      - REST Hooks
      summary: List Hook Event Types
      description: |-
        ### _What are REST Hooks?_

        _REST Hooks itself is not a specification, it is a collection of patterns that treat webhooks like subscriptions. These subscriptions are manipulated via a REST API just like any other resource._

        _With most modern REST APIs, polling is the only way to detect changes. But it doesn't have to be. On average, 98.5% of polls are wasted. There is a better way. REST Hooks enable real-time communication and eliminate polling._ -- [RESTHooks.org](http://RESTHooks.org)

        Infusionsoft offers a growing set of REST Hooks to keep you notified of changes in your data. To get started, use [List Hook Event Types](#!/REST_Hooks/list_hook_event_types) to discover event types. Event types are identified using _noun.verb dot syntax_, e.g.: `contact.add` or `invoice.delete`.

        After you’ve read this documentation, you might be interested in the [REST Hook Event and Retry policies](https://developer.infusionsoft.com/rest-hook-documentation/).

        NB: REST Hooks are **not** triggered by legacy action sets.

        Once you've chosen the events you're interested in, subscribe to them via [Create a Hook Subscription](#!/REST_Hooks/create_a_hook_subscription).
      operationId: list_hook_event_types
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hooks/{key}:
    get:
      tags:
      - REST Hooks
      summary: Retrieve a Hook Subscription
      description: |-
        Retrieves an existing hook subscription and its status.

        If your hook subscription becomes inactive, you may request an activation attempt via [Verify a Hook Subscription](#!/REST_Hooks/verify_a_hook_subscription).
      operationId: retrieve_a_hook_subscription
      parameters:
      - name: key
        in: path
        description: key
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestHook'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - REST Hooks
      summary: Update a Hook Subscription
      description: Modify an existing hook subscription using the provided values.
      operationId: update_a_hook_subscription
      parameters:
      - name: key
        in: path
        description: key
        required: true
        schema:
          type: string
      requestBody:
        description: restHookRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestHookRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestHook'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: restHookRequest
    delete:
      tags:
      - REST Hooks
      summary: Delete a Hook Subscription
      description: Stop receiving hooks by deleting an existing hook subscription.
      operationId: delete_a_hook_subscription
      parameters:
      - name: key
        in: path
        description: key
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hooks/{key}/delayedVerify:
    post:
      tags:
      - REST Hooks
      summary: Verify a Hook Subscription, Delayed
      description: |-
[...]
