openapi: 3.0.0
info:
  title: ShipStation Developer Portal
  x-ballerina-display:
    label: ShipStation
    iconPath: "icon.png"
  description: |
    This is [ShipStation API v1.0](https://www.shipstation.com/docs/api/) OpenAPI specification.
    ShipStation strives to streamline shipping for online sellers, no matter where they sell their products online.
  contact: {}
  x-ballerina-init-description: |
    Create a [ShipStation account](https://www.shipstation.com/step1/) and obtain tokens by following [this guide](https://www.shipstation.com/docs/api/requirements/#authentication).
  version: "1.0"
  
servers:
  - url: https://ssapi.shipstation.com/
    variables: {}
 
paths:
  /accounts/registeraccount:
    post:
      tags:
        - Accounts
      summary: Creates a new ShipStation account and generates an apiKey and apiSecret to be used by the newly created account.
      description: |-
        Creates a new ShipStation account and generates an apiKey and apiSecret to be used by the newly created account. PLEASE NOTE: This endpoint does not require API key and API Secret credentials.  The Authorization header can be left off. Use of this specific endpoint requires approval, and is meant only for direct partners of ShipStation. This is the only endpoint to require approval. All other endpoints listed in this document can be accessed by submitting proper authorization credentials in the header of the request. To become a direct partner of ShipStation, or to request more information on becoming a direct partner, we recommend reaching out to our Partners and Integrations team here: https://info.shipstation.com/become-a-partner-api-and-custom-store-integrations
        The body of this request has the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
        ``firstName``  | string, required | First Name
        ``lastName`` | string, required | Last Name
        ``email`` | string, required | Email address. This will also be the username of the account.
        ``password`` | string, required | Password to set for account access.
        ``companyName`` | string, optional | Name of Company.
        ``addr1`` | string, optional | Company Address - Street 1
        ``addr2`` | string, optional | Company Address - Street 2
        ``city`` | string, optional | Company Address - City
        ``state`` | string, optional | Company Address - State 
        ``zip`` | string, optional | Company Address - Zip Code
        ``countryCode`` |string, optional | Company Address - Country.  Please use a 2-character country code.
        ``phone`` | string, optional | Company Phone number.
      operationId: RegisterAccount
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterAccountrequest"
            example: |-
              {
                "firstName": "John",
                "lastName": "Smith",
                "email": "jsmithtest@gmail.com",
                "password": "testpw1234",
                "shippingOriginCountryCode": "US",
                "companyName": "Droid Repair LLC",
                "addr1": "542 Midichlorian Rd.",
                "addr2": "",
                "city": "Austin",
                "state": "TX",
                "zip": "78703",
                "countryCode": "US",
                "phone": "5124111234"
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterAccountresponse"
              example:
                message: ShipStation account created.
                sellerId: 123456
                success: true
                apiKey: abcdt9845hjmgfklj3498gkljdkuyekl
                apiSecret: 1234iou983lkj8mnxgfwu509hkhdy7u3
      deprecated: false
  /accounts/listtags:
    get:
      tags:
        - Accounts
      summary: Lists all tags defined for this account.
      operationId: ListTags
      parameters: []
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListTagsresponse"
                description: ""
              example:
                - tagId: 8362
                  name: Backorder
                  color: "#800080"
                - tagId: 8324
                  name: Canada
                  color: "#ff0000"
                - tagId: 8336
                  name: Fragile
                  color: "#33CCCC"
                - tagId: 8221
                  name: Repeat Buyer
                  color: "#CC99FF"
      deprecated: false
  /carriers:
    get:
      tags:
        - Carriers
      summary: Lists all shipping providers connected to this account.
      operationId: ListCarriers
      parameters: []
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListCarriersresponse"
                description: ""
              example:
                - name: Stamps.com
                  code: stamps_com
                  accountNumber: SS123
                  requiresFundedAccount: true
                  balance: 24.27
                  nickname: "null"
                  shippingProviderId: 12345
                  primary: true
                - name: Stamps.com
                  code: stamps_com
                  accountNumber: SS1234
                  requiresFundedAccount: true
                  balance: 2400.27
                  nickname: Stamps.com 2
                  shippingProviderId: 12346
                  primary: false
                - name: UPS
                  code: ups
                  accountNumber: ABCR80
                  requiresFundedAccount: false
                  balance: 0
                  nickname: "null"
                  shippingProviderId: 12347
                  primary: true
                - name: FedEx
                  code: fedex
                  accountNumber: "297929999"
                  requiresFundedAccount: false
                  balance: 0
                  nickname: SS
                  shippingProviderId: 12348
                  primary: true
                - name: Endicia
                  code: endicia
                  accountNumber: "913999"
                  requiresFundedAccount: true
                  balance: 0
                  nickname: "null"
                  shippingProviderId: 12349
                  primary: true
      deprecated: false
  /carriers/getcarrier:
    get:
      tags:
        - Carriers
      summary: Retrieves the shipping carrier account details for the specified carrierCode. Use this method to determine a carrier's account balance.
      operationId: GetCarrier
      parameters:
        - name: carrierCode
          in: query
          description: The code for the carrier account to retrieve.
          required: true
          schema:
            type: string
            example: stamps_com
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCarrierresponse"
              example:
                name: Stamps.com
                code: stamps_com
                accountNumber: SS123
                requiresFundedAccount: true
                balance: 24.27
                nickname: null
                shippingProviderId: 12345
                primary: true
      deprecated: false
  /carriers/addfunds:
    post:
      tags:
        - Carriers
      summary: Adds funds to a carrier account using the payment information on file.
      description: |-
        Adds funds to a carrier account using the payment information on file. The body of this request should specify the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
         ``carrierCode`` | string, required |  The carrier to add funds to.
         ``amount`` | number, required | The dollar amount to add to the account.  The minimum value that can be added is $10.00.  The maximum value is $10,000.00.
      operationId: AddFunds
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddFundsrequest"
            example: |-
              {
                "carrierCode": "fedex",
                "amount": 20.00
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddFundsresponse"
              example:
                name: Stamps.com
                code: stamps_com
                accountNumber: SS123
                requiresFundedAccount: true
                balance: 24.14
      deprecated: false
  /carriers/listpackages:
    get:
      tags:
        - Carriers
      summary: Retrieves a list of packages for the specified carrier
      operationId: ListPackages
      parameters:
        - name: carrierCode
          in: query
          description: The carrier's code
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListPackagesresponse"
                description: ""
              example:
                - carrierCode: express_1
                  code: cubic
                  name: Cubic
                  domestic: true
                  international: false
                - carrierCode: express_1
                  code: dvd_flat_rate_box
                  name: DVD Flat Rate Box
                  domestic: false
                  international: true
                - carrierCode: express_1
                  code: flat_rate_envelope
                  name: Flat Rate Envelope
                  domestic: true
                  international: true
                - carrierCode: express_1
                  code: flat_rate_legal_envelope
                  name: Flat Rate Legal Envelope
                  domestic: true
                  international: true
                - carrierCode: express_1
                  code: flat_rate_padded_envelope
                  name: Flat Rate Padded Envelope
                  domestic: true
                  international: true
                - carrierCode: express_1
                  code: large_envelope_or_flat
                  name: Large Envelope or Flat
                  domestic: true
                  international: true
                - carrierCode: express_1
                  code: large_flat_rate_box
                  name: Large Flat Rate Box
                  domestic: true
                  international: true
                - carrierCode: express_1
                  code: large_package
                  name: Large Package (any side > 12")
                  domestic: true
                  international: true
                - carrierCode: express_1
                  code: large_video_flat_rate_box
                  name: Large Video Flat Rate Box
                  domestic: false
                  international: true
                - carrierCode: express_1
                  code: letter
                  name: Letter
                  domestic: true
                  international: true
                - carrierCode: express_1
                  code: medium_flat_rate_box
                  name: Medium Flat Rate Box
                  domestic: true
                  international: true
                - carrierCode: express_1
                  code: package
                  name: Package
                  domestic: true
                  international: true
                - carrierCode: express_1
                  code: regional_rate_box_a
                  name: Regional Rate Box A
                  domestic: true
                  international: false
                - carrierCode: express_1
                  code: regional_rate_box_b
                  name: Regional Rate Box B
                  domestic: true
                  international: false
                - carrierCode: express_1
                  code: regional_rate_box_c
                  name: Regional Rate Box C
                  domestic: true
                  international: false
                - carrierCode: express_1
                  code: small_flat_rate_box
                  name: Small Flat Rate Box
                  domestic: true
                  international: true
                - carrierCode: express_1
                  code: thick_envelope
                  name: Thick Envelope
                  domestic: true
                  international: true
      deprecated: false
  /carriers/listservices:
    get:
      tags:
        - Carriers
      summary: Retrieves the list of available shipping services provided by the specified carrier
      operationId: ListServices
      parameters:
        - name: carrierCode
          in: query
          description: The carrier's code
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListServicesresponse"
                description: ""
              example:
                - carrierCode: fedex
                  code: fedex_ground
                  name: FedEx Ground®
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_home_delivery
                  name: FedEx Home Delivery®
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_2day
                  name: FedEx 2Day®
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_2day_am
                  name: FedEx 2Day® A.M.
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_express_saver
                  name: FedEx Express Saver®
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_standard_overnight
                  name: FedEx Standard Overnight®
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_priority_overnight
                  name: FedEx Priority Overnight®
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_first_overnight
                  name: FedEx First Overnight®
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_1_day_freight
                  name: FedEx 1 Day® Freight
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_2_day_freight
                  name: FedEx 2 Day® Freight
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_3_day_freight
                  name: FedEx 3 Day® Freight
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_first_overnight_freight
                  name: FedEx First Overnight® Freight
                  domestic: true
                  international: false
                - carrierCode: fedex
                  code: fedex_ground_international
                  name: FedEx Ground® International
                  domestic: false
                  international: true
                - carrierCode: fedex
                  code: fedex_international_economy
                  name: FedEx International Economy®
                  domestic: false
                  international: true
                - carrierCode: fedex
                  code: fedex_international_priority
                  name: FedEx International Priority®
                  domestic: false
                  international: true
                - carrierCode: fedex
                  code: fedex_international_first
                  name: FedEx International First®
                  domestic: false
                  international: true
                - carrierCode: fedex
                  code: fedex_europe_first
                  name: FedEx Europe First®
                  domestic: false
                  international: true
                - carrierCode: fedex
                  code: fedex_international_economy_freight
                  name: FedEx International Economy® Freight
                  domestic: false
                  international: true
                - carrierCode: fedex
                  code: fedex_international_priority_freight
                  name: FedEx International Priority® Freight
                  domestic: false
                  international: true
      deprecated: false
  /customers/{customerId}:
    get:
      tags:
        - Customers
      summary: Get Customer
      description: ""
      operationId: GetCustomer
      parameters:
        - name: customerId
          in: path
          description: The system generated identifier for the Customer.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 12345678
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCustomerresponse"
              example:
                customerId: 12345678
                createDate: '"2014-11-18T10:33:01.19"'
                modifyDate: '"2014-11-18T10:33:01.19"'
                name: Cam Newton
                company: Test Company
                street1: 123 War Eagle Lane
                street2: ""
                city: Auburn
                state: AL
                postalCode: "36830"
                countryCode: US
                phone: 555-555-5555
                email: supermancam@example.com
                addressVerified: Verified
                marketplaceUsernames:
                  - customerUserId: 67195020
                    customerId: 12345678
                    createDate: '"2015-04-27T12:35:03.83"'
                    modifyDate: '"2015-05-14T08:16:15.27"'
                    marketplaceId: 0
                    marketplace: ShipStation
                    username: camtheman@gmail.com
                  - customerUserId: 37568588
                    customerId: 12345678
                    createDate: '"2014-11-18T10:33:01.197"'
                    modifyDate: '"2014-11-18T10:33:01.197"'
                    marketplaceId: 36
                    marketplace: WooCommerce
                    username: supercam@example.com
                  - customerUserId: 46038940
                    customerId: 12345678
                    createDate: "null"
                    modifyDate: "null"
                    marketplaceId: 67
                    marketplace: TradeGecko
                    username: camtheman@gmail.com
                tags:
                  - tagId: 1234
                    name: Expedited
                  - tagId: 9725
                    name: 00 BULK ORDERED
      deprecated: false
  /customers:
    get:
      tags:
        - Customers
      summary: Obtains a list of customers that match the specified criteria.
      operationId: ListCustomers
      parameters:
        - name: stateCode
          in: query
          description: Returns customers that reside in the specified stateCode.
          schema:
            type: string
        - name: countryCode
          in: query
          description: Returns customers that reside in the specified countryCode.
          schema:
            type: string
        - name: marketplaceId
          in: query
          description: Returns customers that purchased items from the specified marketplaceId.
          schema:
            type: integer
        - name: tagId
          in: query
          description: Returns customers that have been tagged with the specified tagId.
          schema:
            type: integer
        - name: sortBy
          in: query
          description: Sorts the order of the response based off the specified value.
          schema:
            $ref: "#/components/schemas/sortBy"
        - name: sortDir
          in: query
          description: Sets the direction of the sort order.
          schema:
            $ref: "#/components/schemas/sortDir"
        - name: page
          in: query
          description: Page number.
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Requested page size. Max value is 500.
          schema:
            type: integer
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomersResponse"
              example:
                customers:
                  - customerId: 12345678
                    createDate: '"2014-11-18T10:33:01.19"'
                    modifyDate: '"2014-11-18T10:33:01.19"'
                    name: Cam Newton
                    company: Test Company
                    street1: 123 War Eagle Lane
                    street2: ""
                    city: Auburn
                    state: AL
                    postalCode: "36830"
                    countryCode: US
                    phone: 555-555-5555
                    email: supermancam@example.com
                    addressVerified: Verified
                    marketplaceUsernames:
                      - customerUserId: 67195020
                        customerId: 12345678
                        createDate: '"2015-04-27T12:35:03.83"'
                        modifyDate: '"2015-05-14T08:16:15.27"'
                        marketplaceId: 0
                        marketplace: ShipStation
                        username: camtheman@gmail.com
                      - customerUserId: 37568588
                        customerId: 12345678
                        createDate: '"2014-11-18T10:33:01.197"'
                        modifyDate: '"2014-11-18T10:33:01.197"'
                        marketplaceId: 36
                        marketplace: WooCommerce
                        username: supercam@example.com
                      - customerUserId: 46038940
                        customerId: 12345678
                        createDate: "null"
                        modifyDate: "null"
                        marketplaceId: 67
                        marketplace: TradeGecko
                        username: camtheman@gmail.com
                    tags:
                      - tagId: 1234
                        name: Expedited
                      - tagId: 9725
                        name: 00 BULK ORDERED
                  - customerId: 87654321
                    createDate: '"2015-06-21T12:48:07.54"'
                    name: Bo Jackson
                    company: Test Company
                    street1: 456 Heisman Ave
                    street2: ""
                    city: Auburn
                    state: AL
                    postalCode: "36830"
                    countryCode: US
                    phone: 555-555-5555
                    email: boknows@example.com
                    addressVerified: Verified
                    marketplaceUsernames:
                      - customerUserId: 77215410
                        customerId: 87654321
                        createDate: '"2015-08-27T14:36:05.75"'
                        modifyDate: '"2015-09-01T09:18:25.31"'
                        marketplaceId: 0
                        marketplace: ShipStation
                        username: boknows@gmail.com
                      - customerUserId: 43759100
                        customerId: 87654321
                        createDate: '"2015-07-05T11:38:01.197"'
                        modifyDate: '"2015-07-05T11:38:01.197"'
                        marketplaceId: 36
                        marketplace: WooCommerce
                        username: boknows@example.com
                      - customerUserId: 81565241
                        customerId: 87654321
                        createDate: "null"
                        modifyDate: "null"
                        marketplaceId: 67
                        marketplace: TradeGecko
                        username: bo@gmail.com
                    tags:
                      - tagId: 1234
                        name: Expedited
                      - tagId: 9725
                        name: 00 BULK ORDERED
                total: 2
                page: 1
                pages: 1
      deprecated: false
  /fulfillments:
    get:
      tags:
        - List Fulfillments with parameters
      description: |-
        Obtains a list of fulfillments that match the specified criteria.  Please note the following:
        - Orders that have been marked as shipped either through the UI or the API will appear in the response as they are considered fulfillments.
        All of the available filters are optional.  They do not need to be included in the URL.  If you do include them, here's what the URL may look like:
        Url format with filters:
        ```
        fulfillments?fulfillmentId={fulfillmentId}
        &orderId={orderId}
        &orderNumber={orderNumber}
        &trackingNumber={trackingNumber}
        &recipientName={recipientName}
        &createDateStart={createDateStart}
        &createDateEnd={createDateEnd}
        &shipDateStart={shipDateStart}
        &shipDateEnd={shipDateEnd}
        &sortBy={sortBy}
        &sortDir={sortDir}
        &page={page}
        &pageSize={pageSize}
        ```
      operationId: ListFulfillments
      parameters:
        - name: fulfillmentId
          in: query
          description: Returns the fulfillment with the specified fulfillment ID.
          schema:
            type: integer
        - name: orderId
          in: query
          description: Returns fulfillments whose orders have the specified order ID.
          schema:
            type: integer
        - name: orderNumber
          in: query
          description: Returns fulfillments whose orders have the specified order number.
          schema:
            type: string
        - name: trackingNumber
          in: query
          description: Returns fulfillments with the specified tracking number.
          schema:
            type: string
        - name: recipientName
          in: query
          description: Returns fulfillments shipped to the specified recipient name.
          schema:
            type: string
        - name: createDateStart
          in: query
          description: Returns fulfillments created on or after the specified ``createDate``
          schema:
            type: string
            example: "2015-01-01 00:00:00"
        - name: createDateEnd
          in: query
          description: Returns fulfillments created on or before the specified ``createDate``
          schema:
            type: string
            example: "2015-01-08 00:00:00"
        - name: shipDateStart
          in: query
          description: Returns fulfillments with the ``shipDate`` on or after the specified date
          schema:
            type: string
            example: "2015-01-01"
        - name: shipDateEnd
          in: query
          description: Returns fulfillments with the ``shipDate`` on or before the specified date
          schema:
            type: string
            example: "2015-01-08"
        - name: sortBy
          in: query
          description: Sort the responses by a set value.  The response will be sorted based off the ascending dates (oldest to most current.)  If left empty, the response will be sorted by ascending ``createDate``.
          schema:
            $ref: "#/components/schemas/sortBy1"
        - name: sortDir
          in: query
          description: Sets the direction of the sort order.
          schema:
            $ref: "#/components/schemas/sortDir"
        - name: page
          in: query
          description: page number.
          schema:
            type: integer
        - name: pageSize
          in: query
          description: page size.
          schema:
            type: integer
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFulfillmentsResponse"
              example:
                fulfillments:
                  - fulfillmentId: 33974374
                    orderId: 191759016
                    orderNumber: "101"
                    userId: c9f06d74-95de-4263-9b04-e87095cababf
                    customerEmail: apisupport@shipstation.com
                    trackingNumber: "783408231234"
                    createDate: "2016-06-07T08:50:50.067"
                    shipDate: "2016-06-07T00:00:00"
                    voidDate: null
                    deliveryDate: null
                    carrierCode: USPS
                    fulfillmentProviderCode: null
                    fulfillmentServiceCode: null
                    fulfillmentFee: 0
                    voidRequested: false
                    voided: false
                    marketplaceNotified: true
                    notifyErrorMessage: null
                    shipTo:
                      name: Yoda
                      company: null
                      street1: "3800 N Lamar Blvd # 220"
                      street2: null
                      street3: null
                      city: AUSTIN
                      state: TX
                      postalCode: "78756"
                      country: US
                      phone: 512-485-4282
                      residential: null
                      addressVerified: null
                  - fulfillmentId: 246310
                    orderId: 193699927
                    orderNumber: "101"
                    userId: c9f06d74-95de-4263-9b04-e87095cababf
                    customerEmail: apisupport@shipstation.com
                    trackingNumber: "664756278745"
                    createDate: "2016-06-08T12:54:53.347"
                    shipDate: "2016-06-08T00:00:00"
                    voidDate: null
                    deliveryDate: null
                    carrierCode: FedEx
                    fulfillmentProviderCode: null
                    fulfillmentServiceCode: null
                    fulfillmentFee: 0
                    voidRequested: false
                    voided: false
                    marketplaceNotified: true
                    notifyErrorMessage: null
                    shipTo:
                      name: Yoda
                      company: null
                      street1: "3800 N Lamar Blvd # 220"
                      street2: null
                      street3: null
                      city: AUSTIN
                      state: TX
                      postalCode: "78756"
                      country: US
                      phone: 512-485-4282
                      residential: null
                      addressVerified: null
                total: 2
                page: 1
                pages: 0
      deprecated: false
  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Retrieves a single order from the database.
      operationId: GetOrder
      parameters:
        - name: orderId
          in: path
          description: The system generated identifier for the order.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 123456789
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrderresponse"
      deprecated: false
    delete:
      tags:
        - Orders
      summary: Removes order from ShipStation's UI. Note this is a "soft" delete action so the order will still exist in the database, but will be set to ``inactive``
      operationId: DeleteOrder
      parameters:
        - name: orderId
          in: path
          description: The system generated identifier for the order.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 123456789
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteOrderresponse"
              example:
                success: true
                message: The requested order has been deleted.
      deprecated: false
  /orders/addtag:
    post:
      tags:
        - Orders
      summary: Adds a tag to an order
      description: |-
        Adds a tag to an order.  The body of this request should specify the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
        ``orderId`` | number, required | Identifies the order that will be tagged.
        ``tagId`` | number, required | Identifies the tag that will be applied to the order.
      operationId: AddTagToOrder
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddTagtoOrderrequest"
            example: |-
              {
                "orderId": 123456,
                "tagId": 1234
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddTagtoOrderresponse"
              example:
                success: true
                message: Tag added successfully.
      deprecated: false
  /orders/assignuser:
    post:
      tags:
        - Orders
      summary: Assigns a user to an order
      description: |-
        Assigns a user to an order.  The body of this request should specify the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
        ``orderIds`` | number, required | Identifies set of orders that will be assigned the user.  Please note that if ANY of the orders within the array are not found, no orders will have a user assigned to them.
        ``userId`` | number, required | Identifies the user that will be applied to the orders.  It should contain a GUID of the user to be assigned to the array of orders.
      operationId: AssignUserToOrder
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignUsertoOrderrequest"
            example: |-
              {
                "orderIds": [
                  123456789,
                  12345679
                  ],
                "userId": "123456AB-ab12-3c4d-5e67-89f1abc1defa"
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignUsertoOrderresponse"
              example:
                success: true
                message: User assigned successfully.
      deprecated: false
  /orders/createlabelfororder:
    post:
      tags:
        - Orders
      summary: Creates a shipping label for a given order.
      description: |-
        Creates a shipping label for a given order.  The ``labelData`` field returned in the response is a base64 encoded PDF value. Simply decode and save the output as a PDF file to retrieve a printable label.  The body of this request should specify the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
        ``orderId`` | number, required | Identifies the order that will be shipped.
        ``carrierCode`` | string, required | The code for the carrier that is to be used for the label.
        ``serviceCode`` | string, required | The code for the shipping service that is to be used for the label.
        ``confirmation`` | string, required | The type of delivery confirmation that is to be used once the shipment is created.  Possible values: ``none``, ``delivery``, ``signature``, ``adult_signature``, and ``direct_signature``.  ``direct_signature`` is available for FedEx only.
        ``shipDate`` | string, required | The date the order should be shipped.
        ``weight`` | Weight, optional | Weight of the order.  Use the [**Weight**](http://www.shipstation.com/developer-api/#/reference/model-weight) model.
        ``dimensions`` | Dimensions, optional | Dimensions of the order.  Use [**Dimensions**](http://www.shipstation.com/developer-api/#/reference/model-dimensions) model.
        ``insuranceOptions`` | InsuranceOptions, optional | The shipping insurance information associated with this label.  Use the [**InsuranceOptions**](http://www.shipstation.com/developer-api/#/reference/model-insuranceoptions) model.
        ``internationalOptions`` | InternationalOptions, optional | Customs information that can be used to generate customs documents for international orders.  Use the [**InternationalOptions**](http://www.shipstation.com/developer-api/#/reference/model-internationaloptions) model.
        ``advancedOptions`` | AdvancedOptions, optional | Various advanced options that may be available depending on the shipping carrier that is used to ship the order. Use the Customs information that can be used to generate customs documents for international orders.  Use the [**AdvancedOptions**](http://www.shipstation.com/developer-api/#/reference/model-advancedoptions) model.
        ``testLabel`` | boolean, required | Specifies whether a test label should be created.
      operationId: CreateLabelForOrder
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLabelforOrderrequest"
            example: |-
              {
                "orderId": 93348442,
                "carrierCode": "fedex",
                "serviceCode": "fedex_2day",
                "packageCode": "package",
                "confirmation": null,
                "shipDate": "2014-04-03",
                "weight": {
                  "value": 2,
                  "units": "pounds"
                },
                "dimensions": null,
                "insuranceOptions": null,
                "internationalOptions": null,
                "advancedOptions": null,
                "testLabel": false
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateLabelforOrderresponse"
              example:
                shipmentId: 72513480
                shipmentCost: 7.3
                insuranceCost: 0
                trackingNumber: "248201115029520"
                labelData: JVBERi0xLjQKJeLjz9MKMiAwIG9iago8PC9MZW5ndGggNjIvRmlsdGVyL0ZsYXRlRGVjb2RlPj5zdHJlYW0KeJwr5HIK4TI2UzC2NFMISeFyDeEK5CpUMFQwAEJDBV0jCz0LBV1jY0M9I4XkXAX9iDRDBZd8hUAuAEdGC7cKZW5kc3RyZWFtCmVuZG9iago0IDAgb2JqCjw8L1R5cGUvUGFnZS9NZWRpYUJveFswIDAgMjg4IDQzMl0vUmVzb3VyY2VzPDwvUHJvY1NldCBbL1BERiAvVGV4dCAvSW1hZ2VCIC9JbWFnZUMgL0ltYWdlSV0vWE9iamVjdDw8L1hmMSAxIDAgUj4+Pj4vQ29udGVudHMgMiAwIFIvUGFyZW50....
                formData: null
      deprecated: false
  /orders/createorder:
    post:
      tags:
        - Orders
      summary: Create a new order or update an existing order. If the orderKey is specified, ShipStation will attempt to locate the order with the specified orderKey. If found, the existing order with that key will be updated. If the orderKey is not found, a new order will be created with that orderKey.
      description: |-
        If the ``orderKey`` is specified, the method becomes idempotent and the existing order with that key will be updated. Note: Only orders in an open status in ShipStation (``awaiting_payment``,``awaiting_shipment``, and ``on_hold``) can be updated through this method. ``cancelled`` and ``shipped`` are locked from modification through the API.  The body of this request should specify an [**Order**](https://www.shipstation.com/developer-api/#/reference/model-order) object:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
        ``orderNumber`` | string, required | A user-defined order number used to identify an order.
        ``orderKey`` | string, optional | A user-provided key that should be unique to each order.  If an orderKey is not provided, ShipStation will create a new order and generate a unique orderKey for that order.  If the orderKey *is* provided, the **createorder** method will either: create a new order if the provided orderKey is not found, or, update the existing order if the orderKey is found.
        ``orderDate`` | string, required | The date the order was placed.
        ``paymentDate`` | string, optional | The date the order was paid for.
        ``shipByDate`` | string, optional | The date the order is to be shipped before or on. This field is a suggested value generated by the order source/platform/cart and passed to ShipStation.
        ``orderStatus`` | string, required | The order's status. Possible values: ``awaiting_payment``, ``awaiting_shipment``, ``shipped``, ``on_hold``, ``cancelled``
        ``customerUsername`` | string, optional | The customer's username.
        ``customerEmail`` | string, optional | The customer's email address.
        ``billTo`` | Address, required | The recipients billing address. Use the [**Address**](https://www.shipstation.com/developer-api/#/reference/model-address) model.
        ``shipTo`` | Address, required | The recipient's shipping address. Use the [**Address**](http://www.shipstation.com/developer-api/#/reference/model-address) model.
        ``items`` | OrderItem, optional | An array of item objects.  Use an array of [**OrderItem**](http://www.shipstation.com/developer-api/#/reference/model-orderitem) models.
        ``amountPaid`` | number, optional | The total amount paid for the Order.
        ``taxAmount`` | number, optional | The total tax amount for the Order.
        ``shippingAmount`` | number, optional | Shipping amount paid by the customer, if any.
        ``customerNotes`` | string, optional | Notes left by the customer when placing the order.
        ``internalNotes`` | string, optional | Private notes that are only visible to the seller.
        ``gift`` | boolean, optional | Specifies whether or not this Order is a gift
        ``giftMessage`` | string, optional | Gift message left by the customer when placing the order.
        ``paymentMethod`` | string, optional | Method of payment used by the customer.
        ``requestedShippingService`` | string, optional |Identifies the shipping service selected by the customer when placing this order. This value is given to ShipStation by the marketplace/cart and helps identify what shipping service the customer selected upon checkout.
        ``carrierCode`` | string, optional | The code for the carrier that is to be used(or was used) when this order is shipped(was shipped).
        ``serviceCode`` | string, optional | The code for the shipping service that is to be used(or was used) when this order is shipped(was shipped).
        ``packageCode`` | string, optional | The code for the package type that is to be used(or was used) when this order is shipped(was shipped).
        ``confirmation`` | string, optional | The type of delivery confirmation that is to be used(or was used) when this order is shipped(was shipped). Possible values: ``none``, ``delivery``, ``signature``, ``adult_signature``, and ``direct_signature``.  ``direct_signature`` is available for FedEx only.  
        ``shipDate`` | string, optional | The date the order was shipped.
        ``weight`` | Weight, optional | Weight of the order.  Use the [**Weight**](http://www.shipstation.com/developer-api/#/reference/model-weight) model.
        ``dimensions`` | Dimensions, optional | Dimensions of the order.  Use the [**Dimensions**](http://www.shipstation.com/developer-api/#/reference/model-dimensions) model.
        ``insuranceOptions`` | InsuranceOptions, optional | The shipping insurance information associated with this order.  Use the [**InsuranceOptions**](http://www.shipstation.com/developer-api/#/reference/model-insuranceoptions) model.
        ``internationalOptions`` | InternationalOptions, optional | Customs information that can be used to generate customs documents for international orders.  Use the [**InternationalOptions**](http://www.shipstation.com/developer-api/#/reference/model-internationaloptions) model.
        ``advancedOptions`` | AdvancedOptions, optional | Various advanced options that may be available depending on the shipping carrier that is used to ship the order. Use the [**AdvancedOptions**](http://www.shipstation.com/developer-api/#/reference/model-advancedoptions) model.
        ``tagIds``|number[]|Array of tagIds.  Each tagId identifies a tag that has been associated with this order.
      operationId: Create/updateOrder
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrUpdateOrderrequest"
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrUpdateOrderresponse"
      deprecated: false
  /orders/createorders:
    post:
      tags:
        - Orders
      summary: Create or update multiple orders in one request. If the orderKey is specified, ShipStation will attempt to locate the order with the specified orderKey. If found, the existing order with that key will be updated. If the orderKey is not found, a new order will be created with that orderKey.
      description: |-
        This endpoint can be used to create or update multiple orders in one request. If the ``orderKey`` is specified in an order, the existing order with that key will be updated. Note: Only orders in an open status in ShipStation (``awaiting_payment``,``awaiting_shipment``, and ``on_hold``) can be updated through this method. ``cancelled`` and ``shipped`` are locked from modification through the API.
        Data Type          |Description
        -------------------|-------------------
        Order, required | An array of [**Order**](http://www.shipstation.com/developer-api/#/reference/model-order) objects (maximum of 100 per request)
      operationId: Create/updateMultipleOrders
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/CreateOrUpdateMultipleOrdersrequest"
              description: ""
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrUpdateMultipleOrdersresponse"
              example:
                hasErrors: false
                results:
                  - orderId: 58345234
                    orderNumber: TEST-ORDER-API-DOCS
                    orderKey: 0f6bec18-3e89-4881-83aa-f392d84f4c74
                    success: true
                    errorMessage: null
      deprecated: false
  /orders/holduntil:
    post:
      tags:
        - Orders
      summary: Change the status of the given order to On Hold until the date specified, when the status will automatically change to Awaiting Shipment.
      description: |-
        This method will change the status of the given order to On Hold until the date specified, when the status will automatically change to Awaiting Shipment.
        The body of this request should specify the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
        ``orderId`` | number, required | Identifies the order that will be held.
        ``holdUntilDate`` | string, required | Date when order is moved from ``on_hold`` status to ``awaiting_shipment``.
      operationId: HoldOrderUntil
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HoldOrderUntilrequest"
            example: |-
              {
                "orderId": 1072467,
                "holdUntilDate": "2014-12-01"
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HoldOrderUntilresponse"
              example:
                success: true
                message: Order held successfully.
      deprecated: false
  /orders:
    get:
      tags:
        - Orders
      summary: List orders.
      description: |-
        Obtains a list of orders that match the specified criteria.  All of the available filters are optional.  They do not need to be included in the URL.  If you do include them, here's what the URL may look like:
        Url format with filters:
        ```
        /orders?customerName={customerName}
        &itemKeyword={itemKeyword}
        &createDateStart={createDateStart}
        &createDateEnd={createDateEnd}
        &modifyDateStart={modifyDateStart}
        &modifyDateEnd={modifyDateEnd}
        &orderDateStart={orderDateStart}
        &orderDateEnd={orderDateEnd}
        &orderNumber={orderNumber}
        &orderStatus={orderStatus}
        &paymentDateStart={paymentDateStart}
        &paymentDateEnd={paymentDateEnd}
        &storeId={storeId}
        &sortBy={sortBy}
        &sortDir={sortDir}
        &page={page}
        &pageSize={pageSize}
        ```
      operationId: ListOrders
      parameters:
        - name: customerName
          in: query
          description: Returns orders that match the specified name.
          schema:
            type: string
            example: Smith
        - name: itemKeyword
          in: query
          description: Returns orders that contain items that match the specified keyword. Fields searched are Sku, Description, and Options
          schema:
            type: string
            example: ABC123
        - name: createDateStart
          in: query
          description: Returns orders that were created in ShipStation after the specified date
          schema:
            type: string
            example: "2015-01-01 00:00:00"
        - name: createDateEnd
          in: query
          description: Returns orders that were created in ShipStation before the specified date
          schema:
            type: string
            example: "2015-01-08 00:00:00"
        - name: modifyDateStart
          in: query
          description: Returns orders that were modified after the specified date
          schema:
            type: string
            example: "2015-01-01 00:00:00"
        - name: modifyDateEnd
          in: query
          description: Returns orders that were modified before the specified date
          schema:
            type: string
            example: "2015-01-08 00:00:00"
        - name: orderDateStart
          in: query
          description: Returns orders greater than the specified date
          schema:
            type: string
            example: "2015-01-01 00:00:00"
        - name: orderDateEnd
          in: query
          description: Returns orders less than or equal to the specified date
          schema:
            type: string
            example: "2015-01-08 00:00:00"
        - name: orderNumber
          in: query
          description: Filter by order number, performs a "starts with" search.
          schema:
            type: string
            example: "12345"
        - name: orderStatus
          in: query
          description: Filter by order status.  If left empty, orders of all statuses are returned.
          schema:
            $ref: "#/components/schemas/orderStatus"
        - name: paymentDateStart
          in: query
          description: Returns orders that were paid after the specified date
          schema:
            type: string
            example: "2015-01-01"
        - name: paymentDateEnd
          in: query
          description: Returns orders that were paid before the specified date
          schema:
            type: string
            example: "2015-01-08"
        - name: storeId
          in: query
          description: Filters orders to a single store. Call List Stores to obtain a list of store Ids.
          schema:
            type: integer
            example: 123456
        - name: sortBy
          in: query
          description: Sort the responses by a set value.  The response will be sorted based off the ascending dates (oldest to most current.)  If left empty, the response will be sorted by ascending ``orderId``.
          schema:
            $ref: "#/components/schemas/sortBy2"
        - name: sortDir
          in: query
          description: Sets the direction of the sort order.
          schema:
            $ref: "#/components/schemas/sortDir"
        - name: page
          in: query
          description: Page number
          schema:
            type: string
        - name: pageSize
          in: query
          description: Requested page size. Max value is 500.
          schema:
            type: string
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrdersResponse"
      deprecated: false
  /orders/listbytag:
    get:
      tags:
        - Orders
      summary: Lists all orders that match the specified status and tag ID
      description: |-
        Lists all orders that match the specified status and tag ID.
        Url format with filters:
        ```
        /listbytag?orderStatus={orderStatus}
        &tagId={tagId}
        &page={page}
        &pageSize={pageSize}
        ```
      operationId: ListOrdersByTag
      parameters:
        - name: orderStatus
          in: query
          description: The order's status.
          schema:
            $ref: "#/components/schemas/orderStatus"
        - name: tagId
          in: query
          description: ID of the tag. Call Accounts/ListTags to obtain a list of tags for this account.
          schema:
            type: integer
        - name: page
          in: query
          description: Page number
          schema:
            type: string
        - name: pageSize
          in: query
          description: Requested page size. Max value is 500.
          schema:
            type: string
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrdersbyTagresponse"
      deprecated: false
  /orders/markasshipped:
    post:
      tags:
        - Orders
      summary: Marks an order as shipped without creating a label in ShipStation.
      description: |-
        Marks an order as shipped without creating a label in ShipStation. The body of this request has the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
         ``orderId`` | number, required | Identifies the order that will be marked as shipped.
         ``carrierCode`` | string, required | Code of the carrier that is marked as having shipped the order.
         ``shipDate`` | string, optional | Date order was shipped.
         ``trackingNumber`` | string, optional | Tracking number of shipment.
         ``notifyCustomer``  | boolean, optional | Specifies whether the customer should be notified of the shipment. Default value: false
         ``notifySalesChannel`` | boolean, optional | Specifies whether the sales channel should be notified of the shipment. Default value: false
      operationId: MarkAnOrderAsShipped
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarkanOrderasShippedrequest"
            example: |-
              {
                  "orderId": 93348442,
                  "carrierCode": "usps",
                  "shipDate": "2014-04-01",
                  "trackingNumber": "913492493294329421",
                  "notifyCustomer": true,
                  "notifySalesChannel": true
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarkanOrderasShippedresponse"
              example:
                orderId: 123456789
                orderNumber: ABC123
      deprecated: false
  /orders/removetag:
    post:
      tags:
        - Orders
      summary: Removes a tag from the specified order.
      description: |-
        Removes a tag from the specified order.  The body of this request has the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
        ``orderId`` | number, required | Identifies the order whose tag will be removed.
        ``tagId`` | number, required | Identifies the tag to remove.
      operationId: RemoveTagFromOrder
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveTagfromOrderrequest"
            example: |-
              {
                "orderId": 123456,
                "tagId": 1234
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveTagfromOrderresponse"
              example:
                success: true
                message: Tag removed successfully.
      deprecated: false
  /orders/restorefromhold:
    post:
      tags:
        - Orders
      summary: Change the status of the given order from On Hold to Awaiting Shipment
      description: |-
        This method will change the status of the given order from On Hold to Awaiting Shipment. This endpoint is used when a holdUntil Date is attached to an order.
        The body of this request should specify the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
        ``orderId`` | number, required | Identifies the order that will be restored to ``awaiting_shipment`` from ``on_hold``.
      operationId: RestoreOrderFromOnHold
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreOrderfromOnHoldrequest"
            example: |-
              {
                "orderId": 1234567
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreOrderfromOnHoldresponse"
              example:
                success: true
                message: The requested order has been restored
      deprecated: false
  /orders/unassignuser:
    post:
      tags:
        - Orders
      summary: Unassigns a user from an order.
      description: |-
        Unassigns a user from an order.  The body of this request should specify the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
        ``orderIds`` | number, required | Identifies set of orders that will have the user unassigned.  Please note that if ANY of the orders within the array are not found, then no orders will have their users unassigned.
      operationId: UnassignUserFromOrder
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnassignUserfromOrderrequest"
            example: |-
              {
                "orderIds": [
                  123456789,
                  12345679
                  ]
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnassignUserfromOrderresponse"
              example:
                success: true
                message: User unassigned successfully.
      deprecated: false
  /products/{productId}:
    get:
      tags:
        - Products
      summary: Get product
      description: ""
      operationId: GetProduct
      parameters:
        - name: productId
          in: path
          description: The system generated identifier for the Product.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 12345678
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProductresponse"
              example:
                aliases: null
                productId: 12345678
                sku: "1004"
                name: Coffee Mug
                price: 26
                defaultCost: 0
                length: 3
                width: 3
                height: 3
                weightOz: 26
                internalNotes: null
                fulfillmentSku: F1004
                createDate: "2014-09-04T09:18:01.293"
                modifyDate: "2014-09-18T12:38:43.893"
                active: true
                productCategory:
                  categoryId: 9999
                  name: Door Closers
                productType: null
                warehouseLocation: Bin 22
                defaultCarrierCode: fedex
                defaultServiceCode: fedex_home_delivery
                defaultPackageCode: package
                defaultIntlCarrierCode: ups
                defaultIntlServiceCode: ups_worldwide_saver
                defaultIntlPackageCode: package
                defaultConfirmation: direct_signature
                defaultIntlConfirmation: adult_signature
                customsDescription: null
                customsValue: null
                customsTariffNo: null
                customsCountryCode: null
                noCustoms: null
                tags:
                  - tagId: 9180
                    name: APItest
      deprecated: false
    put:
      tags:
        - Products
      summary: Updates an existing product.
      description: Updates an existing product. This call does not currently support partial updates. The entire resource must be provided in the body of the request.
      operationId: UpdateProduct
      parameters:
        - name: productId
          in: path
          description: The system generated identifier for the Product.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 12345678
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProductrequest"
            example: |-
              {
                      "aliases": null,
                      "productId": 123456789,
                      "sku": "",
                      "name": "Beautiful",
                      "price": 0,
                      "defaultCost": null,
                      "length": null,
                      "width": null,
                      "height": null,
                      "weightOz": null,
                      "internalNotes": null,
                      "fulfillmentSku": null,
                      "active": true,
                      "productCategory": null,
                      "productType": null,
                      "warehouseLocation": null,
                      "defaultCarrierCode": null,
                      "defaultServiceCode": null,
                      "defaultPackageCode": null,
                      "defaultIntlCarrierCode": null,
                      "defaultIntlServiceCode": null,
                      "defaultIntlPackageCode": null,
                      "defaultConfirmation": null,
                      "defaultIntlConfirmation": null,
                      "customsDescription": null,
                      "customsValue": null,
                      "customsTariffNo": null,
                      "customsCountryCode": null,
                      "noCustoms": null,
                      "tags": null
                  }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateProductresponse"
              example:
                success: true
                message: The requested product has been updated
      deprecated: false
  /products:
    get:
      tags:
        - Products
      summary: List products.
      description: |-
        Obtains a list of products that match the specified criteria.  All of the available filters are optional.  They do not need to be included in the URL.  If you do include them, here's what the URL may look like:
        Url format with filters:
        ```
        /products?sku={sku}
        &name={name}
        &productCategoryId={productCategoryId}
        &productTypeId={productTypeId}
        &tagId={tagId}
        &startDate={startDate}
        &endDate={endDate}
        &showInactive={showInactive}
        &sortBy={sortBy}
        &sortDir={sortDir}
        &page={page}
        &pageSize={pageSize}
        ```
      operationId: ListProducts
      parameters:
        - name: sku
          in: query
          description: Returns products that match the specified SKU.
          schema:
            type: string
        - name: name
          in: query
          description: Returns products that match the specified product name.
          schema:
            type: string
        - name: productCategoryId
          in: query
          description: Returns products that match the specified productCategoryId.
          schema:
            type: string
        - name: productTypeId
          in: query
          description: Returns products that match the specified productTypeId.
          schema:
            type: string
        - name: tagId
          in: query
          description: Returns products that match the specified tagId.
          schema:
            type: string
        - name: startDate
          in: query
          description: Returns products that were created after the specified date.
          schema:
            type: string
        - name: endDate
          in: query
          description: Returns products that were created before the specified date.
          schema:
            type: string
        - name: sortBy
          in: query
          description: Sorts the order of the response based off the specified value.
          schema:
            $ref: "#/components/schemas/sortBy3"
        - name: sortDir
          in: query
          description: Sets the direction of the sort order.
          schema:
            $ref: "#/components/schemas/sortDir"
        - name: page
          in: query
          description: Page number.
          schema:
            type: string
        - name: pageSize
          in: query
          description: Requested page size. Max value is 500.
          schema:
            type: string
        - name: showInactive
          in: query
          description: Specifies whether the list should include inactive products.
          schema:
            type: string
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProductsResponse"
      deprecated: false
  /shipments:
    get:
      tags:
        - Shipments
      summary: List shipments.
      description: |-
        Obtains a list of shipments that match the specified criteria.  Please note the following:
        - Only valid shipments with labels generated in ShipStation will be returned in the response. Orders that have been marked as shipped either through the UI or the API will not appear as they are considered external shipments.
        - To include every shipment's associated shipmentItems in the response, be sure to set the `includeShipmentItems` parameter to `true`.
        All of the available filters are optional.  They do not need to be included in the URL.  If you do include them, here's what the URL may look like:
        Url format with filters:
        ```
        shipments?recipientName={recipientName}
        &recipientCountryCode={recipientCountryCode}
        &orderNumber={orderNumber}
        &orderId={orderId}
        &carrierCode={carrierCode}
        &serviceCode={serviceCode}
        &trackingNumber={trackingNumber}
        &createDateStart={createDateStart}
        &createDateEnd={createDateEnd}
        &shipDateStart={shipDateStart}
        &shipDateEnd={shipDateEnd}
        &voidDateStart={voidDateStart}
        &voidDateEnd={voidDateEnd}
        &storeId={storeId}
        &includeShipmentItems={includeShipmentItems}
        &sortBy={sortBy}
        &sortDir={sortDir}
        &page={page}
        &pageSize={pageSize}
        ```
      operationId: ListShipments
      parameters:
        - name: recipientName
          in: query
          description: Returns shipments shipped to the specified recipient name.
          schema:
            type: string
        - name: recipientCountryCode
          in: query
          description: Returns shipments shipped to the specified country code.
          schema:
            type: string
        - name: orderNumber
          in: query
          description: Returns shipments whose orders have the specified order number.
          schema:
            type: string
        - name: orderId
          in: query
          description: Returns shipments whose orders have the specified order ID.
          schema:
            type: integer
        - name: carrierCode
          in: query
          description: Returns shipments shipped with the specified carrier.
          schema:
            type: string
        - name: serviceCode
          in: query
          description: Returns shipments shipped with the specified shipping service.
          schema:
            type: string
        - name: trackingNumber
          in: query
          description: Returns shipments with the specified tracking number.
          schema:
            type: string
        - name: createDateStart
          in: query
          description: Returns shipments created on or after the specified ``createDate``
          schema:
            type: string
            example: "2015-01-01 00:00:00"
        - name: createDateEnd
          in: query
          description: Returns shipments created on or before the specified ``createDate``
          schema:
            type: string
            example: "2015-01-08 00:00:00"
        - name: shipDateStart
          in: query
          description: Returns shipments with the ``shipDate`` on or after the specified date
          schema:
            type: string
            example: "2015-01-01"
        - name: shipDateEnd
          in: query
          description: Returns shipments with the ``shipDate`` on or before the specified date
          schema:
            type: string
            example: "2015-01-08"
        - name: voidDateStart
          in: query
          description: Returns shipments voided on or after the specified date
          schema:
            type: string
            example: "2015-01-01 00:00:00"
        - name: voidDateEnd
          in: query
          description: Returns shipments voided on or before the specified date
          schema:
            type: string
            example: "2015-01-08 00:00:00"
        - name: storeId
          in: query
          description: Returns shipments whose orders belong to the specified store ID.
          schema:
            type: integer
            example: 304352
        - name: includeShipmentItems
          in: query
          description: "Specifies whether to include shipment items with results Default value: false."
          schema:
            type: boolean
            example: false
        - name: sortBy
          in: query
          description: Sort the responses by a set value.  The response will be sorted based off the ascending dates (oldest to most current.)  If left empty, the response will be sorted by ascending ``createDate``.
          schema:
            $ref: "#/components/schemas/sortBy1"
        - name: sortDir
          in: query
          description: Sets the direction of the sort order.
          schema:
            $ref: "#/components/schemas/sortDir"
        - name: page
          in: query
          description: page number.
          schema:
            type: integer
        - name: pageSize
          in: query
          description: page size.
          schema:
            type: integer
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListShipmentsResponse"
              example:
                shipments:
                  - shipmentId: 33974374
                    orderId: 43945660
                    orderKey: 8061c220f0794a9b92460b8bae6837e4
                    userId: 123456AB-ab12-3c4d-5e67-89f1abc1defa
                    orderNumber: 100038-1
                    createDate: "2014-10-03T06:51:33.627"
                    shipDate: "2014-10-03"
                    shipmentCost: 1.93
                    insuranceCost: 0
                    trackingNumber: "9400111899561704681189"
                    isReturnLabel: false
                    batchNumber: "100301"
                    carrierCode: stamps_com
                    serviceCode: usps_first_class_mail
                    packageCode: package
                    confirmation: delivery
                    warehouseId: 16079
                    voided: false
                    voidDate: null
                    marketplaceNotified: true
                    notifyErrorMessage: null
                    shipTo:
                      name: Yoda
                      company: ""
                      street1: 12223 LOWDEN LN
                      street2: ""
                      street3: null
                      city: MANCHACA
                      state: TX
                      postalCode: 78652-3602
                      country: US
                      phone: "2101235544"
                      residential: null
                    weight:
                      value: 1
                      units: ounces
                    dimensions: null
                    insuranceOptions:
                      provider: null
                      insureShipment: false
                      insuredValue: 0
                    advancedOptions: null
                    shipmentItems:
                      - orderItemId: 56568665
                        lineItemKey: null
                        sku: SQ3785739
                        name: Potato Kitten -
                        imageUrl: null
                        weight: null
                        quantity: 1
                        unitPrice: 1
                        warehouseLocation: null
                        options: null
                        productId: 7565777
                        fulfillmentSku: null
                    labelData: null
                    formData: null
                  - shipmentId: 33974373
                    orderId: 43337328
                    userId: 123456AB-ab12-3c4d-5e67-89f1abc1defa
                    orderNumber: "100028"
                    createDate: "2014-10-03T06:51:59.943"
                    shipDate: "2014-10-03"
                    shipmentCost: 1.93
                    insuranceCost: 0
                    trackingNumber: "9400111899561704681196"
                    isReturnLabel: false
                    batchNumber: "100300"
                    carrierCode: stamps_com
                    serviceCode: usps_first_class_mail
                    packageCode: package
                    confirmation: delivery
                    warehouseId: 14265
                    voided: false
                    voidDate: null
                    marketplaceNotified: true
                    notifyErrorMessage: null
                    shipTo:
                      name: Luke Skywalker
                      company: SS
                      street1: 2815 EXPOSITION BLVD
                      street2: ""
                      street3: null
                      city: AUSTIN
                      state: TX
                      postalCode: 78703-1221
                      country: US
                      phone: ""
                      residential: null
                    weight:
                      value: 1
                      units: ounces
                    dimensions: null
                    insuranceOptions:
                      provider: null
                      insureShipment: false
                      insuredValue: 0
                    advancedOptions: null
                    shipmentItems:
                      - orderItemId: 55827278
                        lineItemKey: null
                        sku: test
                        name: test
                        imageUrl: null
                        weight: null
                        quantity: 1
                        unitPrice: 1
                        warehouseLocation: null
                        options: null
                        productId: 7541107
                        fulfillmentSku: null
                    labelData: null
                    formData: null
                total: 2
                page: 1
                pages: 0
      deprecated: false
  /shipments/createlabel:
    post:
      tags:
        - Shipments
      summary: Create a shipment label
      description: |-
        Creates a shipping label.  The ``labelData`` field returned in the response is a base64 encoded PDF value. Simply decode and save the output as a PDF file to retrieve a printable label.  The body of this request has the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
         ``carrierCode`` | string, required | Identifies the carrier to be used for this label.
         ``serviceCode`` | string, required | Identifies the shipping service to be used for this label.
         ``packageCode`` | string, required | Identifies the packing type that should be used for this label.
         ``confirmation`` | string, optional | The type of delivery confirmation that is to be used once the shipment is created.  Possible values: ``none``, ``delivery``, ``signature``, ``adult_signature``, and ``direct_signature``.  ``direct_signature`` is available for FedEx only.
         ``shipDate`` | string, required | The date the shipment will be shipped.
         ``weight`` | Weight, required | Shipment's weight.  Use the [**Weight**](https://www.shipstation.com/developer-api/#/reference/model-weight) model.
         ``dimensions`` | Dimensions, optional | Shipment's dimensions.  Use the [**Dimensions**](https://www.shipstation.com/developer-api/#/reference/model-dimensions) model.
         ``shipFrom`` | Address, required | Address indicating shipment's origin.  Use the [**Address**](https://www.shipstation.com/developer-api/#/reference/model-address) model.
         ``shipTo`` | Address, required | Address indicating shipment's destination.  Use the [**Address**](https://www.shipstation.com/developer-api/#/reference/model-address) model.
         ``returnTo`` | Address, optional | Address indicating return address displayed on the label.  Use the [**Address**](https://www.shipstation.com/developer-api/#/reference/model-address) model.
         ``insuranceOptions`` | InsuranceOptions, optional | The shipping insurance information associated with this order.  
         ``internationalOptions`` | InternationalOptions, optional | Customs information that can be used to generate customs documents for international orders.  Use the [**InternationalOptions**](https://www.shipstation.com/developer-api/#/reference/model-internationaloptions) model.
         ``advancedOptions`` | AdvancedOptions, optional | Various advanced options that may be available depending on the shipping carrier that is used to ship the order.  Use the [**AdvancedOptions**](https://www.shipstation.com/developer-api/#/reference/model-advancedoptions) model. 
         ``testLabel`` | boolean, optional | Specifies whether a test label should be created. Default value: false.
      operationId: CreateShipmentLabel
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateShipmentLabelrequest"
            example: |-
              {
                "carrierCode": "fedex",
                "serviceCode": "fedex_ground",
                "packageCode": "package",
                "confirmation": "delivery",
                "shipDate": "2014-04-03",
                "weight": {
                  "value": 3,
                  "units": "ounces"
                },
                "dimensions": {
                  "units": "inches",
                  "length": 7,
                  "width": 5,
                  "height": 6
                },
                "shipFrom": {
                  "name": "Jason Hodges",
                  "company": "ShipStation",
                  "street1": "2815 Exposition Blvd",
                  "street2": "Ste 2353242",
                  "street3": null,
                  "city": "Austin",
                  "state": "TX",
                  "postalCode": "78703",
                  "country": "US",
                  "phone": null,
                  "residential": false
                },
                "shipTo": {
                  "name": "The President",
                  "company": "US Govt",
                  "street1": "1600 Pennsylvania Ave",
                  "street2": "Oval Office",
                  "street3": null,
                  "city": "Washington",
                  "state": "DC",
                  "postalCode": "20500",
                  "country": "US",
                  "phone": null,
                  "residential": false
                },
                "insuranceOptions": null,
                "internationalOptions": null,
                "advancedOptions": null,
                "testLabel": false
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateShipmentLabelresponse"
              example:
                shipmentId: 123456789
                orderId: null
                userId: null
                customerEmail: null
                orderNumber: null
                createDate: "2016-04-03T12:11:36.863"
                shipDate: "2016-04-03"
                shipmentCost: 9.06
                insuranceCost: 0
                trackingNumber: "782390443992"
                isReturnLabel: false
                batchNumber: null
                carrierCode: fedex
                serviceCode: fedex_ground
                packageCode: package
                confirmation: delivery
                warehouseId: null
                voided: false
                voidDate: null
                marketplaceNotified: false
                notifyErrorMessage: null
                shipTo: null
                weight: null
                dimensions: null
                insuranceOptions: null
                advancedOptions: null
                shipmentItems: null
                labelData: JVBERi0xLjQKJeLjz9MKMiAwIG9iago8PC9MZW5ndGggNjIvRmlsdGVyL0ZsYXRlRGVjb2RlPj5zdHJlYW0KeJwr5HIK4TI2U...
                formData: null
      deprecated: false
  /shipments/getrates:
    post:
      tags:
        - Shipments
      summary: Retrieves shipping rates for the specified shipping details.
      description: |-
        Retrieves shipping rates for the specified shipping details.  The body of this request should specify the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
         ``carrierCode`` | string, required | Returns rates for the specified carrier.
         ``serviceCode`` | string, optional | Returns rates for the specified shipping service.
         ``packageCode`` | string, optional | Returns rates for the specified package type.
         ``fromPostalCode`` | string, required | Originating postal code.
         ``toState`` | string, optional | Destination State/Province. Please use two-character state/province abbreviation. Note this field is required for the following carriers: UPS
         ``toCountry`` | string, required | Destination Country.  Please use the two-character ISO country code.
         ``toPostalCode`` | string, required | Destination Postal Code.
         ``toCity`` | string, optional | Destination City.
         ``weight`` | Weight, required | Shipment's weight.  Use ``Weight`` object.
         ``dimensions`` | Dimensions, optional | Shipment's dimensions.  Use ``Dimensions`` object. 
         ``confirmation`` | string, optional | The type of delivery confirmation that is to be used once the shipment is created.  Possible values: ``none``, ``delivery``, ``signature``, ``adult_signature``, and ``direct_signature``.  ``direct_signature`` is available for FedEx only.
         ``residential`` | boolean, optional | Returns rates that account for the specified delivery confirmation type. Default value: false
      operationId: GetRates
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetRatesrequest"
            example: |-
              {
                "carrierCode": "fedex",
                "serviceCode": null,
                "packageCode": null,
                "fromPostalCode": "78703",
                "toState": "DC",
                "toCountry": "US",
                "toPostalCode": "20500",
                "toCity": "Washington",
                "weight": {
                  "value": 3,
                  "units": "ounces"
                },
                "dimensions": {
                  "units": "inches",
                  "length": 7,
                  "width": 5,
                  "height": 6
                },
                "confirmation": "delivery",
                "residential": false
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GetRatesresponse"
                description: ""
              example:
                - serviceName: FedEx First Overnight®
                  serviceCode: fedex_first_overnight
                  shipmentCost: 87.8
                  otherCost: 2.63
                - serviceName: FedEx Priority Overnight®
                  serviceCode: fedex_priority_overnight
                  shipmentCost: 50.23
                  otherCost: 1.51
                - serviceName: FedEx Standard Overnight®
                  serviceCode: fedex_standard_overnight
                  shipmentCost: 46.96
                  otherCost: 1.41
                - serviceName: FedEx 2Day® A.M.
                  serviceCode: fedex_2day_am
                  shipmentCost: 23.04
                  otherCost: 0.69
                - serviceName: FedEx 2Day®
                  serviceCode: fedex_2day
                  shipmentCost: 20.03
                  otherCost: 0.6
                - serviceName: FedEx Express Saver®
                  serviceCode: fedex_express_saver
                  shipmentCost: 14.28
                  otherCost: 0.43
                - serviceName: FedEx Ground®
                  serviceCode: fedex_ground
                  shipmentCost: 8.25
                  otherCost: 0.33
      deprecated: false
  /shipments/voidlabel:
    post:
      tags:
        - Shipments
      summary: Voids the specified label by shipmentId.
      description: |-
        Voids the specified label by shipmentId.  The body of this request should specify the following attributes:
        Name               |Data Type          |Description
        -------------------|-------------------|-------------------
         ``shipmentId`` | number, required | ID of the shipment to void.
      operationId: VoidLabel
      parameters:
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoidLabelrequest"
            example: |-
              {
                "shipmentId": 12345
              }
        required: true
      responses:
        "200":
          description: ""
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoidLabelresponse"
              example:
                approved: true
                message: Label voided successfully
      deprecated: false
  /stores/{storeId}:
    get:
      tags:
        - Stores
      summary: Get store
      description: ""
      operationId: GetStore
      parameters:
        - name: storeId
          in: path
          description: A unique ID generated by ShipStation and assigned to each store.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 12345
      responses:
        "200":
          description: ""
          headers:
            Authorization:
              content:
                text/plain:
                  schema:
                    type: string
                  example: < Enter your Basic Authorization string here >
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStoreresponse"
              example:
                storeId: 12345
                storeName: WooCommerce Store
                marketplaceId: 36
                marketplaceName: WooCommerce
                accountName: null
                email: null
                integrationUrl: http://shipstation-test.wpengine.com
                active: true
                companyName: ""
                phone: ""
                publicEmail: ""
                website: ""
                refreshDate: "2014-12-16T17:47:05.457"
                lastRefreshAttempt: "2014-12-16T09:47:05.457"
                createDate: "2014-11-06T15:21:13.223"
                modifyDate: "2014-11-10T08:02:19.117"
                autoRefresh: true
                statusMappings:
                  - orderStatus: awaiting_payment
                    statusKey: Pending
                  - orderStatus: awaiting_shipment
                    statusKey: Processing
                  - orderStatus: shipped
                    statusKey: Completed
                  - orderStatus: cancelled
                    statusKey: Cancelled
                  - orderStatus: on_hold
                    statusKey: On-hold
      deprecated: false
    put:
      tags:
        - Stores
      summary: Update store
      description: Updates an existing store. This call does not currently support partial updates. The entire resource must be provided in the body of the request.
      operationId: UpdateStore
      parameters:
        - name: storeId
          in: path
          description: A unique ID generated by ShipStation and assigned to each store.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 12345
        - name: Content-Type
          in: header
          description: ""
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: application/json
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStorerequest"
            example: |-
              {
                  "storeId": 12345,
                  "storeName": "WooCommerce Store",
                  "marketplaceId": 36,
                  "marketplaceName": "WooCommerce",
                  "accountName": null,
                  "email": null,
                  "integrationUrl": "http://shipstation-test.wpengine.com",
                  "active": true,
                  "companyName": "",
                  "phone": "",
                  "publicEmail": "",
                  "website": "",
                  "refreshDate": "2014-12-16T17:47:05.457",
                  "lastRefreshAttempt": "2014-12-16T09:47:05.457",
[...]
