openapi: 3.0.1
info:
  title: Facebook Marketing API
  version: v12.0
  description: >
    This is [Facebook Marketing API v12.0](https://developers.facebook.com/docs/marketing-apis) OpenAPI specification. 
    Facebook is an American online social media and social networking service owned by Facebook, Inc.Facebook Marketing 
    APIs are a collection of Graph API endpoints that can be used to help you advertise on Facebook.
  x-ballerina-init-description: 
    Create a [Facebook account](https://facebook.com/) and obtain tokens by following [this guide](https://developers.facebook.com/docs/marketing-apis/overview/authentication).
  x-ballerina-display:
    label: Facebook Ads
    iconPath: "icon.png" 
servers:
  - url: https://graph.facebook.com/v12.0
tags: 
- name: Campaign
  description: Represent a single objective for an advertiser, for example, to drive page post engagement.
- name: AdSet
  description: A group of ads that share the same daily or lifetime budget, schedule, bid type, bid info, and targeting data.
- name: Ad
  description: Contains information to display an ad and associate it with an ad set.
security:
  - ApiKeyAuth: []
paths:
  /act_{ad_account_id}/campaigns:
    get:
      tags:
        - "Campaign"
      description: Returns campaigns under this ad account.
      operationId: Get campaigns
      parameters:
        - in: path
          name: ad_account_id  
          description: ID of the ad account. 
          required: true
          schema:
            type: string
        - in: query
          name: date_preset
          description: Predefined date range used to aggregate insights metrics.
          schema:
            type: string
            enum:
              - today
              - yesterday
              - this_month
              - last_month
              - this_quarter
              - maximum
              - last_3d
              - last_7d
              - last_14d
              - last_28d
              - last_30d
              - last_90d
              - last_week_mon_sun
              - last_week_sun_sat
              - last_quarter
              - last_year
              - this_week_mon_today
              - this_week_sun_today
              - this_year
        - in: query
          name: effective_status
          description: Effective status for the campaigns
          schema:
            type: array
            items:
              type: string
              enum:
                - ACTIVE
                - PAUSED
                - DELETED
                - PENDING_REVIEW
                - DISAPPROVED
                - PREAPPROVED
                - PENDING_BILLING_INFO
                - CAMPAIGN_PAUSED
                - ARCHIVED
                - ADSET_PAUSED
                - IN_PROCESS
                - WITH_ISSUES
        - in: query
          name: is_completed
          description: If true, we return completed campaigns.
          schema:
            type: boolean
        - in: query
          name: time_range
          description: Date range used to aggregate insights metrics
          schema:              
            $ref: '#/components/schemas/TimeRange'
        - in: query
          name: fields
          description: Fields of the campaign
          style: form
          explode: false
          schema:
            type: array
            items: 
              type: string
              enum:
                - name
                - id
                ########## Add all fields (optional)
        - in: query
          name: summary
          description: Aggregated information about the edge, such as counts
          style: form
          explode: false
          schema:
            type: array
            items: 
              type: string
              enum:
                - insights
                - total_count
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignList'
    post:
      tags:
        - "Campaign"
      description: Cerates a campaign.
      operationId: Create campaign
      parameters:
        - in: path
          name: ad_account_id
          description: ID of the ad account.
          required: true
          schema:
            type: string
        - in: query
          name: properties
          style: form
          explode: true
          description: Campaign properties
          required: true
          schema:
            $ref: '#/components/schemas/Campaign'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
    delete:
      tags:
        - "Campaign"
      description: Dissociate a campaign from an AdAccount.
      operationId: Dissociate campaign
      parameters:
        - in: path
          name: ad_account_id
          description: ID of the ad account.
          required: true
          schema:
            type: string
        - in: query
          name: before_date
          description: Set a before date to delete campaigns before this date
          schema:
            type: string
        - in: query
          name: delete_strategy
          description: Delete strategy
          required: true
          schema:
            type: string
            enum:
              - DELETE_ANY
              - DELETE_OLDEST
              - DELETE_ARCHIVED_BEFORE
        - in: query
          name: object_count
          description: Object count
          schema:
            type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignDissociateResponse'  
  /{campaign_id}:  
    post:
      tags:
        - "Campaign"
      description: Updates a campaign.
      operationId: Update campaign
      parameters:
        - in: path
          name: campaign_id
          description: ID of the campaign.
          required: true
          schema:
            type: string
        - in: query
          name: properties
          style: form
          explode: true
          description: Campaign update properties
          required: true
          schema:
            $ref: '#/components/schemas/CampaignUpdate'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
    delete:
      tags:
        - "Campaign"
      description: Deletes a campaign.
      operationId: Delete campaign
      parameters:
        - in: path
          name: campaign_id
          description: ID of the campaign.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'              
  /act_{ad_account_id}/adsets:
    get: ######check this endpoint
      tags:
        - "AdSet"
      description: Returns all ad sets from one ad account
      operationId: Get Ad Sets
      parameters:
        - in: path
          name: ad_account_id  
          description: ID of the ad account. 
          required: true
          schema:
            type: string
        - in: query
          name: date_preset
          description: Predefined date range used to aggregate insights metrics.
          schema:
            type: string
            enum:
              - today
              - yesterday
              - this_month
              - last_month
              - this_quarter
              - maximum
              - last_3d
              - last_7d
              - last_14d
              - last_28d
              - last_30d
              - last_90d
              - last_week_mon_sun
              - last_week_sun_sat
              - last_quarter
              - last_year
              - this_week_mon_today
              - this_week_sun_today
              - this_year
        - in: query
          name: time_range
          description: Time Range. Note if time range is invalid, it will be ignored.
          schema:              
            $ref: '#/components/schemas/TimeRange'
        - in: query
          name: fields
          description: Fields of the ad set
          style: form
          explode: false
          schema:
            type: array
            items: 
              type: string
              enum:
                - name
                - id
                ########## Add all fields (optional)
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetList'
    post:
      tags:
        - "AdSet"
      description: Cerates an ad set.
      operationId: Create Ad Set
      parameters:
        - in: path
          name: ad_account_id
          description: ID of the ad account.
          required: true
          schema:
            type: string
        - in: query
          name: properties
          style: form
          explode: true
          description: Ad set properties
          required: true
          schema:
            $ref: '#/components/schemas/AdSet'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetResponse'
  /{ad_set_id}:  
    get: 
      tags:
        - "AdSet"
      description: Return date related to an ad set.
      operationId: Get Ad Set
      parameters:
        - in: path
          name: ad_set_id
          description: ID of the ad set.
          required: true
          schema:
            type: string
        - in: query
          name: date_preset
          description: Predefined date range used to aggregate insights metrics.
          schema:
            type: string
            enum:
              - today
              - yesterday
              - this_month
              - last_month
              - this_quarter
              - maximum
              - last_3d
              - last_7d
              - last_14d
              - last_28d
              - last_30d
              - last_90d
              - last_week_mon_sun
              - last_week_sun_sat
              - last_quarter
              - last_year
              - this_week_mon_today
              - this_week_sun_today
              - this_year
        - in: query
          name: time_range
          description: Time Range. Note if time range is invalid, it will be ignored.
          schema:              
            $ref: '#/components/schemas/TimeRange'
        - in: query
          name: fields
          description: Fields of the ad set
          style: form
          explode: false
          schema:
            type: array
            items: 
              type: string
              enum:
                - name
                - id
                ########## Add all fields (optional)
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSet'
    post:
      tags:
        - "AdSet"
      description: Updates an ad set.
      operationId: Update Ad Set
      parameters:
        - in: path
          name: ad_set_id
          description: ID of the ad set.
          required: true
          schema:
            type: string
        - in: query
          name: properties
          style: form
          explode: true
          description: Ad set update properties
          required: true
          schema:
            $ref: '#/components/schemas/AdSetUpdate'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetResponse'
    delete:
      tags:
        - "AdSet"
      description: Deletes a ad set.
      operationId: Delete Ad Set
      parameters:
        - in: path
          name: ad_set_id
          description: ID of the ad set.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetResponse'              
  /act_{ad_account_id}/ads:
    get:
      tags:
        - "Ad"
      description: Returns ads under this ad account.
      operationId: Get ads
      parameters:
        - in: path
          name: ad_account_id  
          description: ID of the ad account. 
          required: true
          schema:
            type: string
        - in: query
          name: date_preset
          description: Predefined date range used to aggregate insights metrics.
          schema:
            type: string
            enum:
              - today
              - yesterday
              - this_month
              - last_month
              - this_quarter
              - maximum
              - last_3d
              - last_7d
              - last_14d
              - last_28d
              - last_30d
              - last_90d
              - last_week_mon_sun
              - last_week_sun_sat
              - last_quarter
              - last_year
              - this_week_mon_today
              - this_week_sun_today
              - this_year
        - in: query
          name: effective_status
          description: Effective status for the ads
          schema:
            type: array
            items:
              type: string
              enum:
                - ACTIVE
                - PAUSED
                - DELETED
                - PENDING_REVIEW
                - DISAPPROVED
                - PREAPPROVED
                - PENDING_BILLING_INFO
                - CAMPAIGN_PAUSED
                - ARCHIVED
                - ADSET_PAUSED
                - IN_PROCESS
                - WITH_ISSUES
        - in: query
          name: time_range
          description: Date range used to aggregate insights metrics
          schema:              
            $ref: '#/components/schemas/TimeRange'
        - in: query
          name: updated_since
          description: Updated since.
          schema:
            type: integer
        - in: query
          name: fields
          description: Fields of the campaign
          style: form
          explode: false
          schema:
            type: array
            items: 
              type: string
              enum:
                - name
                - id
                ########## Add all fields (optional)
        - in: query
          name: summary
          description: Aggregated information about the edge, such as counts
          style: form
          explode: false
          schema:
            type: array
            items: 
              type: string
              enum:
                - insights
                - total_count
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdList'
    post:
      tags:
        - "Ad"
      description: Cerates an ad.
      operationId: Create Ad
      parameters:
        - in: path
          name: ad_account_id
          description: ID of the ad account.
          required: true
          schema:
            type: string
        - in: query
          name: properties
          style: form
          explode: true
          description: Ad properties
          required: true
          schema:
            $ref: '#/components/schemas/Ad'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
  /{ad_id}:  
    get:
      tags:
        - "Ad"
      description: Returns data of an ad.
      operationId: Get ad
      parameters:
        - in: path
          name: ad_id
          description: ID of the ad
          required: true
          schema:
            type: string
        - in: query
          name: date_preset
          description: Predefined date range used to aggregate insights metrics.
          schema:
            type: string
            enum:
              - today
              - yesterday
              - this_month
              - last_month
              - this_quarter
              - maximum
              - last_3d
              - last_7d
              - last_14d
              - last_28d
              - last_30d
              - last_90d
              - last_week_mon_sun
              - last_week_sun_sat
              - last_quarter
              - last_year
              - this_week_mon_today
              - this_week_sun_today
              - this_year
        - in: query
          name: time_range
          description: Date range used to aggregate insights metrics
          schema:              
            $ref: '#/components/schemas/TimeRange'
        - in: query
          name: updated_since
          description: Updated since.
          schema:
            type: integer
        - in: query
          name: fields
          description: Fields of the campaign
          style: form
          explode: false
          schema:
            type: array
            items: 
              type: string
              enum:
                - name
                - id
                ########## Add all fields (optional)
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'  
    post:
      tags:
        - "Ad"
      description: Updates an ad.
      operationId: Update Ad
      parameters:
        - in: path
          name: ad_id
          description: ID of the ad
          required: true
          schema:
            type: string
        - in: query
          name: properties
          style: form
          explode: true
          description: Ad set update properties
          required: true
          schema:
            $ref: '#/components/schemas/AdUpdate'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
    delete:
      tags:
        - "Ad"
      description: Deletes an ad.
      operationId: Delete Ad
      parameters:
        - in: path
          name: ad_id
          description: ID of the ad
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'              
components:
  schemas:
    AdList:
      type: object
      description: Ad list response
      properties:
        data:
          type: array
          description: An array of ads
          items:
            $ref: '#/components/schemas/Ad'              
        paging:
            $ref: '#/components/schemas/Paging'              
        summary:
            $ref: '#/components/schemas/ListSummary'      
    AdSetList:
      type: object
      description: Ad set list response
      properties:
        data:
          type: array
          description: An array of ad sets
          items:
            $ref: '#/components/schemas/AdSet'              
        paging:
            $ref: '#/components/schemas/Paging'              
        summary:
            $ref: '#/components/schemas/ListSummary'    
    CampaignList:
      type: object
      description: Campaign list response
      properties:
        data:
          type: array
          description: An array of campaigns
          items:
            $ref: '#/components/schemas/Campaign'              
        paging:
            $ref: '#/components/schemas/Paging'              
        summary:
            $ref: '#/components/schemas/ListSummary'       
    Paging:
      type: object
      properties:
        cursors:
          type: object
          description: Pagination cursor.
          properties:
            before:
              type: string
              description: This is the cursor that points to the start of the page of data that has been returned.
            after:
              type: string
              description: This is the cursor that points to the end of the page of data that has been returned.
        next:
          description: |
            The Graph API endpoint that will return the next page of data. If not included, this is the last page of data. 
            
            Due to how pagination works with visibility and privacy, it is possible that a page may be empty but contain 
            a next paging link. Stop paging when the next link no longer appears.
        previous:
          description: The Graph API endpoint that will return the previous page of data. If not included, this is the first page of data.
      description: A cursor-paginated edge.
    ListSummary:
      type: object
      description: List summary
      properties:
        insights:
          description: Analytics summary for all objects
          type: object
        total_count:
          description: Total number of objects
          type: integer      
    AdResponse:
      type: object
      description: Adgroup operation response
      properties:
        id:
          type: string
          description: Ad ID
        success:
          type: boolean
          description: Sucess status
    AdUpdate:
      type: object
      description: Ad update properties
      properties:       
        adlabels:
          description: Ad labels associated with this ad
          type: array
          items: 
            type: object   
        audience_id:
          description: The ID of the audience
          type: string
        bid_amount:
          description: |
            Bid amount for this ad which will be used in auction instead of the ad set bid_amount, if specified. 
            Any updates to the ad set bid_amount will overwrite this value with the new ad set value.
          type: integer       
        conversion_domain:
          description: The domain where conversions happen. Required to create or update an ad in a campaign that shares data with a pixel. 
          type: string     
        creative:
          description: This field is required for create. The ID or creative spec of the ad creative to be used by this ad.
          type: object
        display_sequence:
          description: The sequence of the ad within the same campaign
          type: integer   
        draft_adgroup_id:    
          description: The ID of the draft ad
          oneOf:
            - type: string
            - type: integer    
        engagement_audience:
          description: Flag to create a new audience based on users who engage with this ad
          type: string    
        execution_options:
          description: An execution setting     
          type: array
          items: 
            type: string
            enum:
              - validate_only
              - synchronous_ad_review
              - include_recommendations
        include_demolink_hashes:
          description: Include the demolink hashes
          type: boolean  
        name:
          description: Name of the ad
          type: string  
        status:
          description: Only ACTIVE and PAUSED are valid during creation. Other statuses can be used for update
          type: string
          enum:
            - ACTIVE
            - PAUSED
            - DELETED
            - ARCHIVED   
        tracking_specs:
          description: With Tracking Specs, you log actions taken by people on your ad.
          type: object            
      required:
        - creative
    Ad:
      type: object
      description: Ad properties
      properties:       
        adlabels:
          description: Ad labels associated with this ad
          type: array
          items: 
            type: object   
        adset_id:
          description: The ID of the ad set, required on creation
          type: integer
        adset_spec:
          description: The ad set spec for this ad. When the spec is provided, adset_id field is not required.
          type: object
        audience_id:
          description: The ID of the ad set, required on creation
          type: string
        bid_amount:
          description: Bid amount for this ad which will be used in auction instead of the ad set bid_amount, if specified.
          type: integer       
        conversion_domain:
          description: The domain where conversions happen. Required to create or update an ad in a campaign that shares data with a pixel. 
          type: string     
        creative:
          description: This field is required for create. The ID or creative spec of the ad creative to be used by this ad.
          type: object
        date_format:
          description: The format of the date.
          type: string
        display_sequence:
          description: The sequence of the ad within the same campaign
          type: integer   
        draft_adgroup_id:    
          description: The ID of the draft ad
          oneOf:
            - type: string
            - type: integer    
        engagement_audience:
          description: Flag to create a new audience based on users who engage with this ad
          type: string    
        execution_options:
          description: An execution setting     
          type: array
          items: 
            type: string
            enum:
              - validate_only
              - synchronous_ad_review
              - include_recommendations
        include_demolink_hashes:
          description: Include the demolink hashes
          type: boolean  
        name:
          description: Name of the ad
          type: string  
        priority:
          description: Priority
          type: integer   
        source_ad_id:    
          description: ID of the source Ad, if applicable
          oneOf:
            - type: string
            - type: integer  
        status:
          description: Only ACTIVE and PAUSED are valid during creation. Other statuses can be used for update
          type: string
          enum:
            - ACTIVE
            - PAUSED
            - DELETED
            - ARCHIVED   
        tracking_specs:
          description: With Tracking Specs, you log actions taken by people on your ad.
          type: object           
      required:
        - creative
        - name
    AdSetUpdate:
      type: object
      description: Ad set update properties
      properties:  
        account_id:
          description: Ad Account ID
          type: string       
        adlabels:
          description: Specifies list of labels to be associated with this object. This field is optional
          type: array
          items: 
            type: object        
        adset_schedule:
          description: Ad set schedule, representing a delivery schedule for a single day
          type: array
          items: 
            $ref: '#/components/schemas/AdSetSchedule'              
        attribution_spec:
          description: Array of attribution specs
          type: array
          items: 
            $ref: '#/components/schemas/AttributionSpec'            
        bid_amount:
          description: Bid cap or target cost for this ad set. The bid cap used in a lowest cost bid strategy is defined as the maximum bid you want to pay for a result based on your optimization_goal.
          type: integer       
        bid_strategy:
          description: Bid strategy for this campaign to suit your specific business goals
          type: string
          enum:
            - LOWEST_COST_WITHOUT_CAP
            - LOWEST_COST_WITH_BID_CAP
            - COST_CAP   
        billing_event:
          description: The billing event
          type: string
          enum:
            - APP_INSTALLS
            - CLICKS
            - IMPRESSIONS
            - LINK_CLICKS
            - NONE
            - OFFER_CLAIMS
            - PAGE_LIKES
            - POST_ENGAGEMENT
            - THRUPLAY
            - PURCHASE
            - LISTING_INTERACTION 
        contextual_bundling_spec:
          description: Settings of Contextual Bundle to support ads serving in Facebook contextual surfaces
          $ref: '#/components/schemas/ContextualBundlingSpec'  
        creative_sequence:    
          description: Order of the adgroup sequence to be shown to users
          type: array
          items: 
            oneOf:
              - type: string
              - type: integer   
        daily_budget:
          description: The daily budget defined in your account currency, allowed only for ad sets with a duration (difference between end_time and start_time) longer than 24 hours.
          type: integer
        daily_imps:
          description: Daily impressions. Available only for campaigns with buying_type=FIXED_CPM.
          type: integer
        daily_min_spend_target:
          description: Daily minimum spend target of the ad set defined in your account currency. To use this field, daily budget must be specified in the Campaign. 
          type: integer
        daily_spend_cap:
          description: Daily spend cap of the ad set defined in your account currency. To use this field, daily budget must be specified in the Campaign.
          type: integer
        destination_type:
          description: The billing event
          type: string
          enum:
            - UNDEFINED
            - WEBSITE
            - APP
            - MESSENGER
            - APPLINKS_AUTOMATIC
            - FACEBOOK  
        end_time:
          description: End time, required when lifetime_budget is specified
          type: string        
        execution_options:
          description: An execution setting     
          type: array
          items: 
            type: string
            enum:
              - validate_only
              - include_recommendations
        existing_customer_budget_percentage:
          description: Existing customer budget percentage
          type: integer
        is_dynamic_creative:
          description: Indicates the ad set must only be used for dynamic creatives. Dynamic creative ads can be created in this ad set. Defaults to false
          default: false
          type: boolean    
        lifetime_budget:
          description: |
            Lifetime budget of this campaign. All adsets under this campaign will share this budget. 
            You can either set budget at the campaign level or at the adset level, not both. 
          type: integer
        lifetime_imps:
          description: Lifetime impressions. Available only for campaigns with buying_type=FIXED_CPM
          type: integer
        lifetime_min_spend_target:
          description: Lifetime minimum spend target of the ad set defined in your account currency. To use this field, lifetime budget must be specified in the Campaign. 
          type: integer
        lifetime_spend_cap:
          description: Lifetime spend cap of the ad set defined in your account currency. To use this field, lifetime budget must be specified in the Campaign.
          type: integer  
        multi_optimization_goal_weight:
          description: Multi optimization goal weight
          type: string
          enum:
            - UNDEFINED
            - BALANCED
            - PREFER_INSTALL 
            - PREFER_EVENT
        name:
          description: Ad set name, max length of 400 characters.
          type: string
        optimization_goal:
          description: What the ad set is optimizing for. 
          type: string
          enum:
            - NONE
            - APP_INSTALLS
            - AD_RECALL_LIFT
            - ENGAGED_USERS
            - EVENT_RESPONSES
            - IMPRESSIONS
            - LEAD_GENERATION
            - QUALITY_LEAD
            - LINK_CLICKS
            - OFFSITE_CONVERSIONS
            - PAGE_LIKES
            - POST_ENGAGEMENT
            - QUALITY_CALL
            - REACH
            - LANDING_PAGE_VIEWS
            - VISIT_INSTAGRAM_PROFILE
            - VALUE
            - THRUPLAY
            - DERIVED_EVENTS
            - APP_INSTALLS_AND_OFFSITE_CONVERSIONS
            - CONVERSATIONS      
        optimization_sub_event:
          description: What the ad set is optimizing for. 
          type: string
          enum:
            - NONE 
            - VIDEO_SOUND_ON
            - TRIP_CONSIDERATION
            - TRAVEL_INTENT
            - TRAVEL_INTENT_NO_DESTINATION_INTENT
            - TRAVEL_INTENT_BUCKET_01
            - TRAVEL_INTENT_BUCKET_02
            - TRAVEL_INTENT_BUCKET_03
            - TRAVEL_INTENT_BUCKET_04
            - TRAVEL_INTENT_BUCKET_05       
        pacing_type:
          description: Defines the pacing type, standard by default or using ad scheduling
          type: array
          items: 
            type: string  
        rb_prediction_id:
          description: RB prediction ID
          oneOf:
            - type: string
            - type: integer             
        rf_prediction_id:
          description: Reach and frequency prediction ID
          oneOf:
            - type: string
            - type: integer            
        promoted_object:
          description: The object this campaign is promoting across all its ads.
          $ref: '#/components/schemas/PromotedObject'        
        start_time:
          description: The start time of the set
          type: string          
        status:
          description: Only ACTIVE and PAUSED are valid during creation. Other statuses can be used for update
          type: string
          enum:
            - ACTIVE
            - PAUSED
            - DELETED
            - ARCHIVED
        targeting:
         description: An ad set's targeting structure. "countries" is required. 
         type: object
        time_based_ad_rotation_id_blocks:
          description: Specify ad creative that displays at custom date ranges in a campaign as an array. A list of Adgroup IDs
          type: array
          items:
            type: array
            items:
              type: integer 
        time_based_ad_rotation_intervals:
          description: Date range when specific ad creative displays during a campaign. Provide date ranges in an array of UNIX timestamps where each timestamp represents the start time for each date range.
          type: array
          items:
            type: integer
        time_start:
          description: Time start
          type: string        
        time_stop:
          description: Time stop
          type: string
        tune_for_category:
          description: Tune for category
          type: string
          enum:
            - NONE
            - EMPLOYMENT
            - HOUSING
            - CREDIT
            - ISSUES_ELECTIONS_POLITICS
            - ONLINE_GAMBLING_AND_GAMING
    AdSet:
      type: object
      description: Ad set properties
      properties:  
        adlabels:
          description: Specifies list of labels to be associated with this object. This field is optional
          type: array
          items: 
            type: object        
        adset_schedule:
          description: Ad set schedule, representing a delivery schedule for a single day
          type: array
          items: 
            $ref: '#/components/schemas/AdSetSchedule'              
        attribution_spec:
          description: Array of attribution specs
          type: array
          items: 
            $ref: '#/components/schemas/AttributionSpec'            
        bid_amount:
          description: Bid cap or target cost for this ad set. The bid cap used in a lowest cost bid strategy is defined as the maximum bid you want to pay for a result based on your optimization_goal.
          type: integer       
        bid_strategy:
          description: Bid strategy for this campaign to suit your specific business goals
          type: string
          enum:
            - LOWEST_COST_WITHOUT_CAP
            - LOWEST_COST_WITH_BID_CAP
            - COST_CAP   
        billing_event:
          description: The billing event
          type: string
          enum:
            - APP_INSTALLS
            - CLICKS
            - IMPRESSIONS
            - LINK_CLICKS
            - NONE
            - OFFER_CLAIMS
            - PAGE_LIKES
            - POST_ENGAGEMENT
            - THRUPLAY
            - PURCHASE
            - LISTING_INTERACTION    
        campaign_id:
          description: The ad campaign you wish to add this ad set to.
          oneOf:
            - type: string
            - type: integer  
        campaign_spec:
          description: Provide name, objective and buying_type for a campaign you want to create. Otherwise you need to provide campaign_id for an existing ad campaign.
          $ref: '#/components/schemas/CampignSpec'            
        contextual_bundling_spec:
          description: Settings of Contextual Bundle to support ads serving in Facebook contextual surfaces
          $ref: '#/components/schemas/ContextualBundlingSpec'  
        creative_sequence:    
          description: Order of the adgroup sequence to be shown to users
          type: array
          items: 
            oneOf:
              - type: string
              - type: integer   
        daily_budget:
          description: The daily budget defined in your account currency, allowed only for ad sets with a duration (difference between end_time and start_time) longer than 24 hours.
          type: integer
        daily_imps:
          description: Daily impressions. Available only for campaigns with buying_type=FIXED_CPM.
          type: integer
        daily_min_spend_target:
          description: Daily minimum spend target of the ad set defined in your account currency. To use this field, daily budget must be specified in the Campaign. 
          type: integer
        daily_spend_cap:
          description: Daily spend cap of the ad set defined in your account currency. To use this field, daily budget must be specified in the Campaign.
          type: integer
        destination_type:
          description: The billing event
          type: string
          enum:
            - UNDEFINED
            - WEBSITE
            - APP
            - MESSENGER
            - APPLINKS_AUTOMATIC
            - FACEBOOK  
        end_time:
          description: End time, required when lifetime_budget is specified
          type: string        
        execution_options:
          description: An execution setting     
          type: array
          items: 
            type: string
            enum:
              - validate_only
              - include_recommendations
        existing_customer_budget_percentage:
          description: Existing customer budget percentage
          type: integer
        is_dynamic_creative:
          description: Indicates the ad set must only be used for dynamic creatives. Dynamic creative ads can be created in this ad set. Defaults to false
          default: false
          type: boolean    
        lifetime_budget:
          description: |
            Lifetime budget of this campaign. All adsets under this campaign will share this budget. 
            You can either set budget at the campaign level or at the adset level, not both. 
          type: integer
        lifetime_imps:
          description: Lifetime impressions. Available only for campaigns with buying_type=FIXED_CPM
          type: integer
        lifetime_min_spend_target:
          description: Lifetime minimum spend target of the ad set defined in your account currency. To use this field, lifetime budget must be specified in the Campaign. 
          type: integer
        lifetime_spend_cap:
          description: Lifetime spend cap of the ad set defined in your account currency. To use this field, lifetime budget must be specified in the Campaign.
          type: integer  
        multi_optimization_goal_weight:
          description: Multi optimization goal weight
          type: string
          enum:
            - UNDEFINED
            - BALANCED
            - PREFER_INSTALL 
            - PREFER_EVENT
        name:
          description: Ad set name, max length of 400 characters.
          type: string       
        optimization_goal:
          description: What the ad set is optimizing for. 
          type: string
          enum:
            - NONE
            - APP_INSTALLS
            - AD_RECALL_LIFT
            - ENGAGED_USERS
            - EVENT_RESPONSES
            - IMPRESSIONS
            - LEAD_GENERATION
            - QUALITY_LEAD
            - LINK_CLICKS
            - OFFSITE_CONVERSIONS
            - PAGE_LIKES
            - POST_ENGAGEMENT
            - QUALITY_CALL
            - REACH
            - LANDING_PAGE_VIEWS
            - VISIT_INSTAGRAM_PROFILE
            - VALUE
            - THRUPLAY
            - DERIVED_EVENTS
            - APP_INSTALLS_AND_OFFSITE_CONVERSIONS
            - CONVERSATIONS      
        optimization_sub_event:
          description: What the ad set is optimizing for. 
          type: string
          enum:
            - NONE 
            - VIDEO_SOUND_ON
            - TRIP_CONSIDERATION
            - TRAVEL_INTENT
            - TRAVEL_INTENT_NO_DESTINATION_INTENT
            - TRAVEL_INTENT_BUCKET_01
            - TRAVEL_INTENT_BUCKET_02
            - TRAVEL_INTENT_BUCKET_03
            - TRAVEL_INTENT_BUCKET_04
            - TRAVEL_INTENT_BUCKET_05       
        pacing_type:
          description: Defines the pacing type, standard by default or using ad scheduling
          type: array
          items: 
            type: string        
        rf_prediction_id:
          description: Reach and frequency prediction ID
          oneOf:
            - type: string
            - type: integer       
        source_adset_id:
          description: The source adset id that this ad is copied from (if applicable).
          oneOf:
            - type: string
            - type: integer       
        promoted_object:
          description: The object this campaign is promoting across all its ads.
          $ref: '#/components/schemas/PromotedObject'        
        start_time:
          description: The start time of the set
          type: string          
        status:
          description: Only ACTIVE and PAUSED are valid during creation. Other statuses can be used for update
          type: string
          enum:
            - ACTIVE
            - PAUSED
            - DELETED
            - ARCHIVED
        targeting:
         description: An ad set's targeting structure. "countries" is required. 
         type: object
        time_based_ad_rotation_id_blocks:
          description: Specify ad creative that displays at custom date ranges in a campaign as an array. A list of Adgroup IDs
          type: array
          items:
            type: array
            items:
              type: integer 
        time_based_ad_rotation_intervals:
          description: Date range when specific ad creative displays during a campaign. Provide date ranges in an array of UNIX timestamps where each timestamp represents the start time for each date range.
          type: array
          items:
            type: integer
        time_start:
          description: Time start
          type: string        
        time_stop:
          description: Time stop
          type: string
        tune_for_category:
          description: Tune for category
          type: string
          enum:
            - NONE
            - EMPLOYMENT
            - HOUSING
            - CREDIT
            - ISSUES_ELECTIONS_POLITICS
            - ONLINE_GAMBLING_AND_GAMING
      required:
        - name
    ContextualBundlingSpec:
      type: object
      description: Settings of Contextual Bundle to support ads serving in Facebook contextual surfaces
      properties:
        status:
          description: Status
          type: string
          enum:
            - OPT_OUT
            - OPT_IN   
    CampignSpec:
      type: object
      description: Campaign specifications
      properties:      
        name: 
          description: Name of the campaign
          type: string  
        objective: 
          description: Campaign's objective. If it is specified the API will validate that any ads created under the campaign match that objective.
          type: string
          enum:
            - APP_INSTALLS
            - BRAND_AWARENESS
            - CONVERSIONS
            - EVENT_RESPONSES
            - LEAD_GENERATION
            - LINK_CLICKS
            - LOCAL_AWARENESS
            - MESSAGES
            - OFFER_CLAIMS
            - PAGE_LIKES
            - POST_ENGAGEMENT
            - PRODUCT_CATALOG_SALES
            - REACH
            - STORE_VISITS
            - VIDEO_VIEWS      
        buying_type: 
          description: |
            This field will help Facebook make optimizations to delivery, pricing, and limits. All ad sets in this campaign must match the buying type. 
            Possible values are
              - AUCTION (default)
              - RESERVED (for reach and frequency ads)
          type: string
          enum:
            - AUCTION
            - RESERVED
    Campaign:
      type: object
      description: Campaign properties
      properties:
        adlabels: 
          description: Ad Labels associated with this campaign ###########
          type: array
          items: 
            type: object
        buying_type: 
          description: |
            This field will help Facebook make optimizations to delivery, pricing, and limits. All ad sets in this campaign must match the buying type. 
            Possible values are
              - AUCTION (default)
              - RESERVED (for reach and frequency ads)
          type: string
          enum:
            - AUCTION
            - RESERVED
        bid_strategy: 
          description: Bid strategy for this campaign to suit your specific business goals
          type: string
          enum:
            - LOWEST_COST_WITHOUT_CAP
            - LOWEST_COST_WITH_BID_CAP
            - COST_CAP
        campaign_optimization_type: 
          description: Campaign optimization type
          type: string
          enum:
            - NONE
            - ICO_ONLY
        daily_budget: 
          description: Daily budget of this campaign. All adsets under this campaign will share this budget. 
          type: integer
        execution_options: 
          description: An execution setting     
          type: array
          items: 
            type: string
            enum:
              - validate_only
              - include_recommendations
        is_skadnetwork_attribution: 
          description: To create an iOS 14 campaign, enable SKAdNetwork attribution for this campaign   
          type: boolean
        is_using_l3_schedule: 
          description: Is using l3 schedule 
          type: boolean
        iterative_split_test_configs: 
          description: Array of Iterative Split Test Configs created under this campaign ###########
          type: array
          items: 
            type: string
        lifetime_budget: 
          description: |
            Lifetime budget of this campaign. All adsets under this campaign will share this budget. 
            You can either set budget at the campaign level or at the adset level, not both. 
          type: integer
        name: 
          description: Name for this campaign
          type: string
        objective: 
          description: Campaign's objective. If it is specified the API will validate that any ads created under the campaign match that objective.
          type: string
          enum:
            - APP_INSTALLS
            - BRAND_AWARENESS
            - CONVERSIONS
            - EVENT_RESPONSES
            - LEAD_GENERATION
            - LINK_CLICKS
            - LOCAL_AWARENESS
            - MESSAGES
            - OFFER_CLAIMS
            - PAGE_LIKES
            - POST_ENGAGEMENT
            - PRODUCT_CATALOG_SALES
            - REACH
            - STORE_VISITS
            - VIDEO_VIEWS
        promoted_object: 
          description: The object this campaign is promoting across all its ads.
          $ref: '#/components/schemas/PromotedObject'
        source_campaign_id: 
          description: Used if a campaign has been copied. The ID from the original campaign that was copied.
          oneOf:
            - type: string
            - type: integer
        special_ad_categories: 
          description: Special ad categories
          type: array
          items:
            type: string
            enum:
              - NONE
              - EMPLOYMENT
              - HOUSING
              - CREDIT
              - ISSUES_ELECTIONS_POLITICS
              - ONLINE_GAMBLING_AND_GAMING
        special_ad_category_country: 
          type: string
          description: Special ad category country
        spend_cap: 
          description: |
            A spend cap for the campaign, such that it will not spend more than this cap. Defined as integer value of 
            subunit in your currency with a minimum value of $100 USD (or approximate local equivalent). 
          type: integer
        start_time: 
          description: Start time 
          type: string
        stop_time: 
          description: Stop time 
          type: string
        status: 
          description: Only ACTIVE and PAUSED are valid during creation. Other statuses can be used for update
          type: string
          enum:
            - ACTIVE
            - PAUSED
            - DELETED
            - ARCHIVED
        topline_id: 
          description: Topline ID
          oneOf:
            - type: string
            - type: integer
        upstream_events: 
          description: Upstream events
          type: object
      required:
        - special_ad_categories
    CampaignUpdate:
      type: object
      description: Campaign operationupdate properties
      properties:              
        adlabels: 
          description: Ad Labels associated with this campaign ###########        
          type: array
          items: 
            type: object
        adset_bid_amounts: 
          description: A map of child adset IDs to their respective bid amounts required in the process of toggling campaign from autobid to manual bid
          type: object     
        adset_budgets: 
          description: |
            An array of maps containing all the non-deleted child adset IDs and either daily_budget or 
            lifetime_budget, required in the process of toggling between campaign budget and adset budge
          
            type: array
            items: 
          $ref: '#/components/schemas/AdsetBudgets'       
        bid_strategy: 
          description: Bid strategy for this campaign to suit your specific business goals
          type: string
          enum:
            - LOWEST_COST_WITHOUT_CAP
            - LOWEST_COST_WITH_BID_CAP
            - COST_CAP        
        budget_rebalance_flag: 
          description: Whether to automatically rebalance budgets daily for all the adsets under this campaign
          type: boolean        
        campaign_optimization_type: 
          description: Campaign optimization type
          type: string
          enum:
            - NONE
            - ICO_ONLY     
        daily_budget: 
          description: Daily budget of this campaign. All adsets under this campaign will share this budget. 
          type: integer       
        execution_options: 
          description: An execution setting     
          type: array
          items: 
            type: string
            enum:
              - validate_only
              - include_recommendations         
        is_skadnetwork_attribution: 
          description: To create an iOS 14 campaign, enable SKAdNetwork attribution for this campaign   
          type: boolean       
        is_using_l3_schedule: 
          description: Is using l3 schedule 
          type: boolean
        iterative_split_test_configs: 
          description: An Array of Iterative Split Test Configs created under this campaign     
          type: array
          items: 
            type: string          
        lifetime_budget: 
          description: |
            Lifetime budget of this campaign. All adsets under this campaign will share this budget. 
            You can either set budget at the campaign level or at the adset level, not both. 
          type: integer          
        name:
          description: Name for this campaign
          type: string       
        objective: 
          description: Campaign's objective. If it is specified the API will validate that any ads created under the campaign match that objective.
          type: string
          enum:
            - APP_INSTALLS
            - BRAND_AWARENESS
            - CONVERSIONS
            - EVENT_RESPONSES
            - LEAD_GENERATION
            - LINK_CLICKS
            - LOCAL_AWARENESS
            - MESSAGES
            - OFFER_CLAIMS
            - PAGE_LIKES
            - POST_ENGAGEMENT
            - PRODUCT_CATALOG_SALES
            - REACH
            - STORE_VISITS
            - VIDEO_VIEWS        
        promoted_object: 
          description: The object this campaign is promoting across all its ads.
          $ref: '#/components/schemas/PromotedObject'       
        smart_promotion_type: 
          description: Samrt promotion type
          type: string
          enum:
            - GUIDED_CREATION
            - SMART_APP_PROMOTION       
        special_ad_categories: 
          description: Special ad categories
          type: array
          items:
            type: string
            enum:
              - NONE
              - EMPLOYMENT
              - HOUSING
              - CREDIT
              - ISSUES_ELECTIONS_POLITICS
              - ONLINE_GAMBLING_AND_GAMING     
        special_ad_category_country: 
          type: string
          description: Special ad category country        
        spend_cap: 
          description: |
            A spend cap for the campaign, such that it will not spend more than this cap. Defined as integer value of 
            subunit in your currency with a minimum value of $100 USD (or approximate local equivalent). 
          type: integer       
        start_time: 
          description: Start time 
          type: string       
        stop_time: 
          description: Stop time 
          type: string
        status: 
          description: Only ACTIVE and PAUSED are valid during creation. Other statuses can be used for update
          type: string
          enum:
            - ACTIVE
            - PAUSED
            - DELETED
            - ARCHIVED
        upstream_events: 
          description: Upstream events
          type: object
      required:
        - special_ad_categories
    CampaignResponse:
      type: object
      description: Campaign operation response
      properties:
        id:
          type: string
          description: Campaign ID
        success:
          type: boolean
          description: Sucess status
    AdSetResponse:
      type: object
      description: Ad set operation response
      properties:
        id:
          type: string
          description: Ad set  ID
        success:
          type: boolean
          description: Sucess status
    AttributionSpec:
      type: object
      description: Conversion attribution spec used for attributing conversions for optimization. Supported window lengths differ by optimization goal and campaign objective.
      properties:
        event_type:
          type: string
          description: Event type
          enum:
           - CLICK_THROUGH
           - VIEW_THROUGH
        window_days:
          type: integer
          description: Window days
    AdSetSchedule:
      type: object
      description: Ad set schedule, representing a delivery schedule for a single day
      properties:
        start_minute:
          type: integer
          description: A 0 based minute of the day representing when the schedule starts
        end_minute:
          type: integer
          description: A 0 based minute of the day representing when the schedule ends
        days:
          type: array
          items:
            type: integer
          description: |
            Array of ints representing which days the schedule is active. Valid values are 0-6 with 0 representing Sunday, 
            1 representing Monday, ... and 6 representing Saturday.
        timezone_type:
          type: string
          description: Timezone type
          default: USER
          enum:
            - USER
            - ADVERTISER
      required:
        - start_minutes
        - end_minute
        - days
    CampaignDissociateResponse:
      type: object
      description: Campaign dissociate operation response
      properties:
        objects_left_to_delete_count:
          type: integer
          description: Count of objects left to delete
        deleted_object_ids:
          type: array
          items:
            type: string
          description: Deleted object IDs
    PromotedObject:
      type: object
      description: The object this campaign is promoting across all its ads
      properties:
        application_id:
          type: integer
          description: The ID of a Facebook Application. Usually related to mobile or canvas games being promoted on Facebook for installs or engagement
        pixel_id:
          oneOf:
            - type: string
            - type: integer
          description: The ID of a Facebook conversion pixel. Used with offsite conversion campaigns
        custom_event_type:
          type: string
          description: The event from an App Event of a mobile app, not in the standard event list 
          enum:
            - RATE
            - TUTORIAL_COMPLETION
            - CONTACT
            - CUSTOMIZE_PRODUCT
            - DONATE
            - FIND_LOCATION
            - SCHEDULE
            - START_TRIAL
            - SUBMIT_APPLICATION
            - SUBSCRIBE
            - ADD_TO_CART
            - ADD_TO_WISHLIST
            - INITIATED_CHECKOUT
            - ADD_PAYMENT_INFO
            - PURCHASE
            - LEAD
            - COMPLETE_REGISTRATION
            - CONTENT_VIEW
            - SEARCH
            - SERVICE_BOOKING_REQUEST
            - MESSAGING_CONVERSATION_STARTED_7D
            - LEVEL_ACHIEVED
            - ACHIEVEMENT_UNLOCKED
            - SPENT_CREDITS
            - LISTING_INTERACTION
            - D2_RETENTION
            - D7_RETENTION
            - OTHER
        object_store_url:
          type: string
          description: The uri of the mobile / digital store where an application can be bought / downloaded
        offer_id: 
          oneOf:
            - type: string
            - type: integer      
          description: The ID of an Offer from a Facebook Page
        page_id:
          type: string
          description: The ID of a Facebook Page
        product_catalog_id:
          oneOf:
            - type: string
            - type: integer      
          description: The ID of a Product Catalog. Used with Dynamic Product Ads
        product_item_id:
          oneOf:
            - type: string
            - type: integer      
          description: The ID of the product item
        instagram_profile_id:
          oneOf:
            - type: string
            - type: integer      
          description: The ID of the instagram profile id
        product_set_id:
          oneOf:
            - type: string
            - type: integer      
          description: The ID of a Product Set within an Ad Set level Product Catalog. Used with Dynamic Product Ads.
        event_id:
          oneOf:
            - type: string
            - type: integer      
          description: The ID of a Facebook Event
        offline_conversion_data_set_id:
          oneOf:
            - type: string
            - type: integer      
          description: The ID of the offline dataset
        fundraiser_campaign_id:
          oneOf:
            - type: string
            - type: integer      
          description: The ID of the fundraiser campaign
        custom_event_str:
          type: string
          description: The event from an App Event of a mobile app, not in the standard event list.
        omnichannel_object:
          $ref: '#/components/schemas/OmnichannelObject'
        post_conversions:
          type: array
          description: Post conversions
          items:
            type: array
            items: 
              type: object ################
    OmnichannelObject: #############
      type: object
      description: Omnichannel object
      properties:
        app:
          type: array
          description: App objects
          items:
            type: object
        pixel:
          type: array
          description: Pixel objects
          items:
            type: object
        onsite:
          type: array
          description: Onsite objects
          items:
            type: object
    TimeRange:
      type: object
      description: Date range used to aggregate insights metrics
      properties:
        since:
          type: string
          description: A date in the format of "YYYY-MM-DD", which means from the beginning midnight of that day
        until:
          type: string
          description: A date in the format of "YYYY-MM-DD", which means to the beginning midnight of the following day 
    AdsetBudgets:
      type: object
      description: Adset Budgets
      properties:
        adset_id:
          type: string
          description: Adset ID
        daily_budget:
          type: integer
          description: Daily budget
        lifetime_budget:
          type: integer
          description: Lifetime budget
  securitySchemes:
    ApiKeyAuth:      
      type: apiKey
      in: query
      name: access_token
      description: "Represents Access Token  `access_token`"