{
    "openapi": "3.0.1",
    "info": {
        "title": "Public App Crm Cards",
        "description": "Allows an app to extend the CRM UI by surfacing custom cards in the sidebar of record pages. These cards are defined up-front as part of app configuration, then populated by external data fetch requests when the record page is accessed by a user.",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "Add a custom card to contact records that displays data from your external bug tracking software.",
        "x-hubspot-related-documentation": [
            {
                "name": "Custom Cards Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/extensions/crm-cards"
            }
        ],
        "x-hubspot-introduction": "Create custom cards to data from external systems on CRM records. Requires a public public app. These CRM cards are different from the UI extensions you can create with projects."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "SampleResponse"
        },
        {
            "name": "Cards"
        }
    ],
    "paths": {
        "/crm/v3/extensions/cards-dev/sample-response": {
            "get": {
                "tags": ["SampleResponse"],
                "summary": "Get sample card detail response",
                "description": "Returns an example card detail response. This is the payload with displayed details for a card that will be shown to a user. An app should send this in response to the data fetch request.",
                "operationId": "get-/crm/v3/extensions/cards-dev/sample-response_getCardsSampleResponse",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IntegratorCardPayloadResponse"
                                },
                                "example": {
                                    "totalCount": 1,
                                    "allItemsLinkUrl": "https://example.com/all-items-link-url",
                                    "cardLabel": "Tickets",
                                    "topLevelActions": {
                                        "settings": {
                                            "type": "IFRAME",
                                            "width": 640,
                                            "height": 480,
                                            "url": "https://example.com/iframe-contents",
                                            "label": "Edit",
                                            "propertyNamesIncluded": [
                                                "some_crm_property"
                                            ]
                                        },
                                        "primary": {
                                            "type": "IFRAME",
                                            "width": 640,
                                            "height": 480,
                                            "url": "https://example.com/primary-iframe",
                                            "label": "test_label_primary",
                                            "propertyNamesIncluded": []
                                        },
                                        "secondary": [
                                            {
                                                "type": "IFRAME",
                                                "width": 640,
                                                "height": 480,
                                                "url": "https://example.com/secondary-iframe",
                                                "label": "test_label_secondary",
                                                "propertyNamesIncluded": []
                                            }
                                        ]
                                    },
                                    "sections": [
                                        {
                                            "id": "123",
                                            "title": "API-22: APIs working too fast",
                                            "linkUrl": "http://example.com/1",
                                            "tokens": [
                                                {
                                                    "name": "created",
                                                    "label": "test_label",
                                                    "dataType": "DATE",
                                                    "value": "2016-08-04"
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "type": "ACTION_HOOK",
                                                    "httpMethod": "POST",
                                                    "url": "https://example.com/action-hook-frame",
                                                    "label": "action-hook-label",
                                                    "propertyNamesIncluded": [
                                                        "email",
                                                        "firstName"
                                                    ]
                                                },
                                                {
                                                    "type": "ACTION_HOOK",
                                                    "confirmation": {
                                                        "prompt": "action-confirmation-body-prompt",
                                                        "confirmButtonLabel": "Continue",
                                                        "cancelButtonLabel": "Cancel"
                                                    },
                                                    "httpMethod": "POST",
                                                    "url": "https://example.com/confirmation-action-hook",
                                                    "label": "confirmation-hook-label",
                                                    "propertyNamesIncluded": []
                                                },
                                                {
                                                    "type": "IFRAME",
                                                    "width": 640,
                                                    "height": 480,
                                                    "url": "https://example.com/iframe-action-label",
                                                    "label": "iframe-action-label",
                                                    "propertyNamesIncluded": [
                                                        "property1",
                                                        "property2",
                                                        "property3"
                                                    ]
                                                }
                                            ]
                                        }
                                    ],
                                    "responseVersion": "v3"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": []
            }
        },
        "/crm/v3/extensions/cards-dev/{appId}": {
            "get": {
                "tags": ["Cards"],
                "summary": "Get all cards",
                "description": "Returns a list of cards for a given app.",
                "operationId": "get-/crm/v3/extensions/cards-dev/{appId}_getAll",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "description": "The ID of the target app.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicCardListResponse"
                                },
                                "example": {
                                    "results": [
                                        {
                                            "id": "123",
                                            "createdAt": "2020-02-26T18:30:53.451Z",
                                            "updatedAt": "2020-02-26T18:30:53.451Z",
                                            "title": "PetSpot",
                                            "fetch": {
                                                "targetUrl": "https://www.example.com/hubspot/target",
                                                "objectTypes": [
                                                    {
                                                        "name": "contacts",
                                                        "propertiesToSend": [
                                                            "email",
                                                            "firstname"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "display": {
                                                "properties": [
                                                    {
                                                        "name": "pet_name",
                                                        "label": "Pets Name",
                                                        "dataType": "STRING"
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "baseUrls": [
                                                    "https://www.example.com/hubspot"
                                                ]
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "developer_hapikey": []
                    }
                ]
            },
            "post": {
                "tags": ["Cards"],
                "summary": "Create a new card",
                "description": "Defines a new card that will become active on an account when this app is installed.",
                "operationId": "post-/crm/v3/extensions/cards-dev/{appId}_create",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "description": "The ID of the target app.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The new card definition.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CardCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicCardResponse"
                                },
                                "example": {
                                    "createdAt": "2019-10-30T03:30:17.883Z",
                                    "updatedAt": "2019-11-30T03:30:17.883Z",
                                    "title": "PetSpot",
                                    "fetch": {
                                        "targetUrl": "https://www.example.com/hubspot/target",
                                        "objectTypes": [
                                            {
                                                "name": "contacts",
                                                "propertiesToSend": [
                                                    "email",
                                                    "firstname"
                                                ]
                                            }
                                        ]
                                    },
                                    "display": {
                                        "properties": [
                                            {
                                                "name": "pet_name",
                                                "label": "Pet's Name",
                                                "dataType": "STRING"
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "baseUrls": [
                                            "https://www.example.com/hubspot"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "developer_hapikey": []
                    }
                ]
            }
        },
        "/crm/v3/extensions/cards-dev/{appId}/{cardId}": {
            "get": {
                "tags": ["Cards"],
                "summary": "Get a card.",
                "description": "Returns the definition for a card with the given ID.",
                "operationId": "get-/crm/v3/extensions/cards-dev/{appId}/{cardId}_getById",
                "parameters": [
                    {
                        "name": "cardId",
                        "in": "path",
                        "description": "The ID of the target card.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "appId",
                        "in": "path",
                        "description": "The ID of the target app.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicCardResponse"
                                },
                                "example": {
                                    "createdAt": "2019-10-30T03:30:17.883Z",
                                    "updatedAt": "2019-11-30T03:30:17.883Z",
                                    "title": "PetSpot",
                                    "fetch": {
                                        "targetUrl": "https://www.example.com/hubspot/target",
                                        "objectTypes": [
                                            {
                                                "name": "contacts",
                                                "propertiesToSend": [
                                                    "email",
                                                    "firstname"
                                                ]
                                            }
                                        ]
                                    },
                                    "display": {
                                        "properties": [
                                            {
                                                "name": "pet_name",
                                                "label": "Pets Name",
                                                "dataType": "STRING"
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "baseUrls": [
                                            "https://www.example.com/hubspot"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "developer_hapikey": []
                    }
                ]
            },
            "delete": {
                "tags": ["Cards"],
                "summary": "Delete a card",
                "description": "Permanently deletes a card definition with the given ID. Once deleted, data fetch requests for this card will no longer be sent to your service. This can't be undone.",
                "operationId": "delete-/crm/v3/extensions/cards-dev/{appId}/{cardId}_archive",
                "parameters": [
                    {
                        "name": "cardId",
                        "in": "path",
                        "description": "The ID of the card to delete.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "appId",
                        "in": "path",
                        "description": "The ID of the target app.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "developer_hapikey": []
                    }
                ]
            },
            "patch": {
                "tags": ["Cards"],
                "summary": "Update a card",
                "description": "Update a card definition with new details.",
                "operationId": "patch-/crm/v3/extensions/cards-dev/{appId}/{cardId}_update",
                "parameters": [
                    {
                        "name": "cardId",
                        "in": "path",
                        "description": "The ID of the card to update.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "appId",
                        "in": "path",
                        "description": "The ID of the target app.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Card definition fields to be updated.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CardPatchRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicCardResponse"
                                },
                                "example": {
                                    "createdAt": "2019-10-30T03:30:17.883Z",
                                    "updatedAt": "2019-11-30T03:30:17.883Z",
                                    "title": "PetSpot",
                                    "fetch": {
                                        "targetUrl": "https://www.example.com/hubspot/target",
                                        "objectTypes": [
                                            {
                                                "name": "contacts",
                                                "propertiesToSend": [
                                                    "email",
                                                    "firstname"
                                                ]
                                            }
                                        ]
                                    },
                                    "display": {
                                        "properties": [
                                            {
                                                "name": "pet_name",
                                                "label": "Pets Name",
                                                "dataType": "STRING"
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "baseUrls": [
                                            "https://www.example.com/hubspot"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "developer_hapikey": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "CardCreateRequest": {
                "required": ["actions", "display", "fetch", "title"],
                "type": "object",
                "properties": {
                    "fetch": {
                        "$ref": "#/components/schemas/CardFetchBody"
                    },
                    "display": {
                        "$ref": "#/components/schemas/CardDisplayBody"
                    },
                    "title": {
                        "type": "string",
                        "description": "The top-level title for this card. Displayed to users in the CRM UI.",
                        "example": "PetSpot"
                    },
                    "actions": {
                        "$ref": "#/components/schemas/CardActions"
                    }
                },
                "description": "State of card definition to be created",
                "example": {
                    "title": "PetSpot",
                    "fetch": {
                        "targetUrl": "https://www.example.com/hubspot/target",
                        "objectTypes": [
                            {
                                "name": "contacts",
                                "propertiesToSend": ["email", "firstname"]
                            }
                        ]
                    },
                    "display": {
                        "properties": [
                            {
                                "name": "pet_name",
                                "label": "Pets Name",
                                "dataType": "STRING"
                            }
                        ]
                    },
                    "actions": {
                        "baseUrls": ["https://www.example.com/hubspot"]
                    }
                }
            },
            "CardFetchBodyPatch": {
                "required": ["objectTypes"],
                "type": "object",
                "properties": {
                    "serverlessFunction": {
                        "type": "string"
                    },
                    "cardType": {
                        "type": "string",
                        "enum": ["EXTERNAL", "SERVERLESS"]
                    },
                    "objectTypes": {
                        "type": "array",
                        "description": "An array of CRM object types where this card should be displayed. HubSpot will call your target URL whenever a user visits a record page of the types defined here.",
                        "items": {
                            "$ref": "#/components/schemas/CardObjectTypeBody"
                        }
                    },
                    "targetUrl": {
                        "type": "string",
                        "description": "URL to a service endpoint that will respond with details for this card. HubSpot will call this endpoint each time a user visits a CRM record page where this card should be displayed."
                    }
                },
                "description": "Variant of CardFetchBody with fields as optional for patches"
            },
            "CardDisplayProperty": {
                "required": ["dataType", "label", "name", "options"],
                "type": "object",
                "properties": {
                    "dataType": {
                        "type": "string",
                        "description": "Type of data represented by this property.",
                        "enum": [
                            "BOOLEAN",
                            "CURRENCY",
                            "DATE",
                            "DATETIME",
                            "EMAIL",
                            "LINK",
                            "NUMERIC",
                            "STRING",
                            "STATUS"
                        ]
                    },
                    "name": {
                        "type": "string",
                        "description": "An internal identifier for this property. This value must be unique TODO."
                    },
                    "options": {
                        "type": "array",
                        "description": "An array of available options that can be displayed. Only used in when `dataType` is `STATUS`.",
                        "items": {
                            "$ref": "#/components/schemas/DisplayOption"
                        }
                    },
                    "label": {
                        "type": "string",
                        "description": "The label for this property as you'd like it displayed to users."
                    }
                },
                "description": "Definition for a card display property."
            },
            "IntegratorObjectResult": {
                "required": ["actions", "id", "title", "tokens"],
                "type": "object",
                "properties": {
                    "linkUrl": {
                        "type": "string"
                    },
                    "tokens": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ObjectToken"
                        }
                    },
                    "id": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "actions": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActionHookActionBody"
                                },
                                {
                                    "$ref": "#/components/schemas/IFrameActionBody"
                                }
                            ]
                        }
                    }
                }
            },
            "CardFetchBody": {
                "required": ["objectTypes", "targetUrl"],
                "type": "object",
                "properties": {
                    "serverlessFunction": {
                        "type": "string"
                    },
                    "cardType": {
                        "type": "string",
                        "enum": ["EXTERNAL", "SERVERLESS"]
                    },
                    "objectTypes": {
                        "type": "array",
                        "description": "An array of CRM object types where this card should be displayed. HubSpot will call your data fetch URL whenever a user visits a record page of the types defined here.",
                        "items": {
                            "$ref": "#/components/schemas/CardObjectTypeBody"
                        }
                    },
                    "targetUrl": {
                        "type": "string",
                        "description": "URL to a service endpoints that will respond with card details. HubSpot will call this endpoint each time a user visits a CRM record page where this card should be displayed."
                    }
                },
                "description": "Configuration for this card's data fetch request."
            },
            "CardObjectTypeBody": {
                "required": ["name", "propertiesToSend"],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "A CRM object type where this card should be displayed.",
                        "enum": [
                            "contacts",
                            "deals",
                            "companies",
                            "tickets",
                            "marketing_events"
                        ]
                    },
                    "propertiesToSend": {
                        "type": "array",
                        "description": "An array of properties that should be sent to this card's target URL when the data fetch request is made. Must be valid properties for the corresponding CRM object type.",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "Error": {
                "required": ["category", "correlationId", "message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"],
                            "invalidPropertyName": ["propertyValue"]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": {
                            "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "Invalid input (details will vary based on the error)"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": "VALIDATION_ERROR"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                }
            },
            "PublicCardFetchBody": {
                "required": ["objectTypes", "targetUrl"],
                "type": "object",
                "properties": {
                    "objectTypes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CardObjectTypeBody"
                        }
                    },
                    "targetUrl": {
                        "type": "string"
                    }
                }
            },
            "TopLevelActions": {
                "required": ["secondary"],
                "type": "object",
                "properties": {
                    "secondary": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActionHookActionBody"
                                },
                                {
                                    "$ref": "#/components/schemas/IFrameActionBody"
                                }
                            ]
                        }
                    },
                    "settings": {
                        "$ref": "#/components/schemas/IFrameActionBody"
                    },
                    "primary": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/ActionHookActionBody"
                            },
                            {
                                "$ref": "#/components/schemas/IFrameActionBody"
                            }
                        ]
                    }
                }
            },
            "DisplayOption": {
                "required": ["label", "name", "type"],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "JSON-friendly unique name for option."
                    },
                    "label": {
                        "type": "string",
                        "description": "The text that will be displayed to users for this option."
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of status.",
                        "enum": [
                            "DEFAULT",
                            "SUCCESS",
                            "WARNING",
                            "DANGER",
                            "INFO"
                        ]
                    }
                },
                "description": "Option definition for STATUS dataTypes."
            },
            "ActionHookActionBody": {
                "title": "ACTION_HOOK",
                "required": [
                    "httpMethod",
                    "propertyNamesIncluded",
                    "type",
                    "url"
                ],
                "type": "object",
                "properties": {
                    "propertyNamesIncluded": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "confirmation": {
                        "$ref": "#/components/schemas/ActionConfirmationBody"
                    },
                    "label": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": ["ACTION_HOOK"],
                        "default": "ACTION_HOOK"
                    },
                    "httpMethod": {
                        "type": "string",
                        "enum": [
                            "CONNECT",
                            "DELETE",
                            "GET",
                            "HEAD",
                            "OPTIONS",
                            "PATCH",
                            "POST",
                            "PUT",
                            "TRACE"
                        ]
                    },
                    "url": {
                        "type": "string"
                    }
                }
            },
            "ErrorDetail": {
                "required": ["message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                }
            },
            "ObjectToken": {
                "required": ["value"],
                "type": "object",
                "properties": {
                    "dataType": {
                        "type": "string",
                        "enum": [
                            "BOOLEAN",
                            "CURRENCY",
                            "DATE",
                            "DATETIME",
                            "EMAIL",
                            "LINK",
                            "NUMERIC",
                            "STRING",
                            "STATUS"
                        ]
                    },
                    "name": {
                        "type": "string"
                    },
                    "label": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    }
                }
            },
            "PublicCardResponse": {
                "required": [
                    "actions",
                    "auditHistory",
                    "display",
                    "fetch",
                    "id",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "fetch": {
                        "$ref": "#/components/schemas/PublicCardFetchBody"
                    },
                    "display": {
                        "$ref": "#/components/schemas/CardDisplayBody"
                    },
                    "id": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "actions": {
                        "$ref": "#/components/schemas/CardActions"
                    },
                    "auditHistory": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CardAuditResponse"
                        }
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ActionConfirmationBody": {
                "required": [
                    "cancelButtonLabel",
                    "confirmButtonLabel",
                    "prompt"
                ],
                "type": "object",
                "properties": {
                    "confirmButtonLabel": {
                        "type": "string"
                    },
                    "cancelButtonLabel": {
                        "type": "string"
                    },
                    "prompt": {
                        "type": "string"
                    }
                }
            },
            "IFrameActionBody": {
                "title": "IFRAME",
                "required": [
                    "height",
                    "propertyNamesIncluded",
                    "type",
                    "url",
                    "width"
                ],
                "type": "object",
                "properties": {
                    "propertyNamesIncluded": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "width": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "label": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": ["IFRAME"],
                        "default": "IFRAME"
                    },
                    "url": {
                        "type": "string"
                    },
                    "height": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "IntegratorCardPayloadResponse": {
                "required": ["totalCount"],
                "type": "object",
                "properties": {
                    "responseVersion": {
                        "type": "string",
                        "enum": ["v1", "v3"]
                    },
                    "cardLabel": {
                        "type": "string",
                        "description": "The label to be used for the `allItemsLinkUrl` link (e.g. 'See more tickets'). If not provided, this falls back to the card's title."
                    },
                    "allItemsLinkUrl": {
                        "type": "string",
                        "description": "URL to a page the integrator has built that displays all details for this card. This URL will be displayed to users under a `See more [x]` link if there are more than five items in your response, where `[x]` is the value of `itemLabel`."
                    },
                    "totalCount": {
                        "type": "integer",
                        "description": "The total number of card properties that will be sent in this response.",
                        "format": "int32"
                    },
                    "topLevelActions": {
                        "$ref": "#/components/schemas/TopLevelActions"
                    },
                    "sections": {
                        "type": "array",
                        "description": "A list of up to five valid card sub categories.",
                        "items": {
                            "$ref": "#/components/schemas/IntegratorObjectResult"
                        }
                    }
                },
                "description": "The card details payload, sent to HubSpot by an app in response to a data fetch request when a user visits a CRM record page."
            },
            "PublicCardListResponse": {
                "required": ["results"],
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicCardResponse"
                        }
                    }
                }
            },
            "CardDisplayBody": {
                "required": ["properties"],
                "type": "object",
                "properties": {
                    "properties": {
                        "type": "array",
                        "description": "Card display properties. These will will be rendered as \"label : value\" pairs in the card UI. See the [example card](#) in the overview docs for more details.",
                        "items": {
                            "$ref": "#/components/schemas/CardDisplayProperty"
                        }
                    }
                },
                "description": "Configuration for displayed info on a card"
            },
            "CardPatchRequest": {
                "type": "object",
                "properties": {
                    "fetch": {
                        "$ref": "#/components/schemas/CardFetchBodyPatch"
                    },
                    "display": {
                        "$ref": "#/components/schemas/CardDisplayBody"
                    },
                    "title": {
                        "type": "string",
                        "description": "The top-level title for this card. Displayed to users in the CRM UI.",
                        "example": "PetSpot"
                    },
                    "actions": {
                        "$ref": "#/components/schemas/CardActions"
                    }
                },
                "description": "Body for a patch with optional fields",
                "example": {
                    "title": "PetSpot",
                    "fetch": {
                        "targetUrl": "https://www.example.com/hubspot/target",
                        "objectTypes": [
                            {
                                "name": "contacts",
                                "propertiesToSend": ["email", "firstname"]
                            }
                        ]
                    },
                    "display": {
                        "properties": [
                            {
                                "name": "pet_name",
                                "label": "Pets Name",
                                "dataType": "STRING"
                            }
                        ]
                    },
                    "actions": {
                        "baseUrls": ["https://www.example.com/hubspot"]
                    }
                }
            },
            "CardActions": {
                "required": ["baseUrls"],
                "type": "object",
                "properties": {
                    "baseUrls": {
                        "type": "array",
                        "description": "A list of URL prefixes that will be accepted for card action URLs. If your data fetch response includes an action URL that doesn't begin with one of these values, it will result in an error and the card will not be displayed.",
                        "example": ["https://www.example.com/hubspot"],
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "description": "Configuration for custom user actions on cards.",
                "example": {
                    "baseUrls": ["https://www.example.com/hubspot"]
                }
            },
            "CardAuditResponse": {
                "required": [
                    "actionType",
                    "applicationId",
                    "authSource",
                    "changedAt",
                    "initiatingUserId",
                    "objectTypeId"
                ],
                "type": "object",
                "properties": {
                    "actionType": {
                        "type": "string",
                        "enum": ["CREATE", "UPDATE", "DELETE"]
                    },
                    "objectTypeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "authSource": {
                        "type": "string",
                        "enum": ["INTERNAL", "APP", "EXTERNAL"]
                    },
                    "changedAt": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "applicationId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "initiatingUserId": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "developer_hapikey": {
                "type": "apiKey",
                "name": "hapikey",
                "in": "query"
            }
        }
    },
    "x-hubspot-available-client-libraries": ["PHP", "Node", "Ruby", "Python"],
    "x-hubspot-product-tier-requirements": {
        "marketing": "FREE",
        "sales": "FREE",
        "service": "FREE",
        "cms": "FREE"
    },
    "x-hubspot-documentation-banner": "NONE"
}
