{
    "openapi": "3.0.1",
    "info": {
        "title": "Exports",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "To perform an audit of your CRM, export all CRM records with specific properties to review any redundancies or inconsistencies.",
        "x-hubspot-related-documentation": [
            {
                "name": "Export CRM Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/exports"
            }
        ],
        "x-hubspot-introduction": "Use the exports API to export CRM records and property data from your HubSpot account."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com"
        }
    ],
    "tags": [
        {
            "name": "Public_Exports"
        }
    ],
    "paths": {
        "/crm/v3/exports/export/async/tasks/{taskId}/status": {
            "get": {
                "tags": ["Public_Exports"],
                "summary": "Get the status of the export including the URL to download the file",
                "description": "Returns the status of the export with taskId, including the URL of the resulting file if the export status is COMPLETE",
                "operationId": "get-/crm/v3/exports/export/async/tasks/{taskId}/status_getStatus",
                "parameters": [
                    {
                        "name": "taskId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResponseWithSingleResultURI"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["crm.export"]
                    },
                    {
                        "oauth2_legacy": ["crm.export"]
                    }
                ]
            }
        },
        "/crm/v3/exports/export/async": {
            "post": {
                "tags": ["Public_Exports"],
                "summary": "Start an export",
                "description": "Begins exporting CRM data for the portal as specified in the request body",
                "operationId": "post-/crm/v3/exports/export/async_start",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicExportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskLocator"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": ["crm.export"]
                    },
                    {
                        "oauth2_legacy": ["crm.export"]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorDetail": {
                "required": ["message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found."
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                }
            },
            "ActionResponseWithSingleResultURI": {
                "required": ["completedAt", "startedAt", "status"],
                "type": "object",
                "properties": {
                    "result": {
                        "type": "string"
                    },
                    "completedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        }
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ]
                    }
                }
            },
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {}
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "id": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    },
                    "status": {
                        "type": "string"
                    }
                }
            },
            "PublicExportViewRequest": {
                "properties": {},
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PublicExportRequest"
                    },
                    {
                        "required": [
                            "exportInternalValuesOptions",
                            "exportName",
                            "exportType",
                            "format",
                            "language",
                            "objectProperties",
                            "objectType",
                            "overrideAssociatedObjectsPerDefinitionPerRowLimit"
                        ],
                        "type": "object",
                        "properties": {
                            "exportType": {
                                "type": "string",
                                "enum": ["VIEW"],
                                "default": "VIEW"
                            },
                            "format": {
                                "type": "string",
                                "enum": ["XLS", "XLSX", "CSV"]
                            },
                            "exportName": {
                                "type": "string"
                            },
                            "objectProperties": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "associatedObjectType": {
                                "type": "string"
                            },
                            "objectType": {
                                "type": "string"
                            },
                            "language": {
                                "type": "string",
                                "enum": [
                                    "EN",
                                    "DE",
                                    "ES",
                                    "FR",
                                    "JA",
                                    "NL",
                                    "PT_BR",
                                    "IT",
                                    "PL",
                                    "SV",
                                    "FI",
                                    "ZH_TW",
                                    "DA_DK",
                                    "NO"
                                ]
                            },
                            "exportInternalValuesOptions": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "enum": ["NAMES", "VALUES"]
                                }
                            },
                            "overrideAssociatedObjectsPerDefinitionPerRowLimit": {
                                "type": "boolean"
                            },
                            "publicCrmSearchRequest": {
                                "$ref": "#/components/schemas/PublicCrmSearchRequest"
                            }
                        },
                        "x-hubspot-sub-type-impl": true
                    }
                ]
            },
            "Filter": {
                "required": ["operator", "propertyName"],
                "type": "object",
                "properties": {
                    "highValue": {
                        "type": "string"
                    },
                    "propertyName": {
                        "type": "string"
                    },
                    "values": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "value": {
                        "type": "string"
                    },
                    "operator": {
                        "type": "string",
                        "enum": [
                            "EQ",
                            "NEQ",
                            "LT",
                            "LTE",
                            "GT",
                            "GTE",
                            "BETWEEN",
                            "IN",
                            "NOT_IN",
                            "HAS_PROPERTY",
                            "NOT_HAS_PROPERTY"
                        ]
                    }
                }
            },
            "PublicExportRequest": {
                "properties": {},
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/PublicExportViewRequest"
                    },
                    {
                        "$ref": "#/components/schemas/PublicExportListRequest"
                    }
                ]
            },
            "PublicCrmSearchRequest": {
                "required": ["filters", "query", "sorts"],
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string"
                    },
                    "filters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Filter"
                        }
                    },
                    "sorts": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "Error": {
                "required": ["category", "correlationId", "message"],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": ["scope1", "scope2"],
                            "invalidPropertyName": ["propertyValue"]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": {
                            "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "Invalid input (details will vary based on the error)"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": "VALIDATION_ERROR"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                }
            },
            "PublicExportListRequest": {
                "properties": {},
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PublicExportRequest"
                    },
                    {
                        "required": [
                            "exportInternalValuesOptions",
                            "exportName",
                            "exportType",
                            "format",
                            "language",
                            "listId",
                            "objectProperties",
                            "objectType",
                            "overrideAssociatedObjectsPerDefinitionPerRowLimit"
                        ],
                        "type": "object",
                        "properties": {
                            "exportType": {
                                "type": "string",
                                "enum": ["LIST"],
                                "default": "LIST"
                            },
                            "format": {
                                "type": "string",
                                "enum": ["XLS", "XLSX", "CSV"]
                            },
                            "exportName": {
                                "type": "string"
                            },
                            "objectProperties": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "associatedObjectType": {
                                "type": "string"
                            },
                            "objectType": {
                                "type": "string"
                            },
                            "language": {
                                "type": "string",
                                "enum": [
                                    "EN",
                                    "DE",
                                    "ES",
                                    "FR",
                                    "JA",
                                    "NL",
                                    "PT_BR",
                                    "IT",
                                    "PL",
                                    "SV",
                                    "FI",
                                    "ZH_TW",
                                    "DA_DK",
                                    "NO"
                                ]
                            },
                            "exportInternalValuesOptions": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "enum": ["NAMES", "VALUES"]
                                }
                            },
                            "overrideAssociatedObjectsPerDefinitionPerRowLimit": {
                                "type": "boolean"
                            },
                            "listId": {
                                "type": "string"
                            }
                        },
                        "x-hubspot-sub-type-impl": true
                    }
                ]
            },
            "TaskLocator": {
                "required": ["id"],
                "type": "object",
                "properties": {
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "id": {
                        "type": "string"
                    }
                }
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth2_legacy": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm.export": "Export CRM data through bulk exports"
                        }
                    }
                }
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header"
            }
        }
    },
    "x-hubspot-available-client-libraries": ["PHP", "Node", "Ruby", "Python"],
    "x-hubspot-product-tier-requirements": {
        "marketing": "FREE",
        "sales": "FREE",
        "service": "FREE",
        "cms": "FREE"
    },
    "x-hubspot-documentation-banner": "NONE"
}
