openapi: 3.0.1
info:
  x-ballerina-display:
    label: Pipedrive
    iconPath: "icon.png"
  title: Pipedrive API v1
  version: 1.0.0
  description: |
    This is [Pipedrive API v1](https://developers.pipedrive.com/docs/api/v1) OpenAPI specification.
    Pipedrive is a sales CRM and pipeline management solution that enables businesses to plan their sales activities and monitor deals. 
    Built using activity-based selling methodology, Pipedrive streamlines every action involved in converting a potential deal into a successful sale.
  x-ballerina-init-description: >
    Create a [Pipedrive account](https://www.pipedrive.com) and obtain tokens by following [this guide](https://pipedrive.readme.io/docs/core-api-concepts-authentication).
servers:
  - url: 'https://api.pipedrive.com/v1'
tags:
  - name: Activities
    description: |
      Activities are appointments/tasks/events on a calendar that can be associated with a Deal, a Person and an Organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular User. Note that activities can also be created without a specific date/time.
  - name: ActivityFields
    description: |
      ActivityFields represent different fields that Activity has.
  - name: ActivityTypes
    description: |
      ActivityTypes represent different kinds of activities that can be stored. Each ActivityType is presented to the user with an icon and a name. Additionally, a color can be defined (not implemented in the Pipedrive app as of today). ActivityTypes are linked to Activities via `ActivityType.key_string = Activity.type`. The `key_string` will be generated by the API based on the given name of the ActivityType upon creation, and cannot be changed. ActivityTypes should be presented to the user in an ordered manner, using the `ActivityType.order_nr` value.
  - name: CallLogs
    description: |
      Call logs describe the outcome of a phone call managed by an integrated provider. Since these logs are also considered activities, they can be associated with a Deal, a Person and/or an Organization. Call logs do differ from other activities, as they only receive the information needed to describe the phone call.
  - name: Currencies
    description: |
      Supported currencies which can be used to represent the monetary value of a Deal, or a value of any monetary type custom field. The `Currency.code` field must be used to point to a currency. `Currency.code` is the ISO-4217 format currency code for non-custom currencies. You can differentiate custom and non-custom currencies using the `is_custom_flag` property. For custom currencies, it is intended that the formatted sums are displayed in the UI using the following format: [sum][non-breaking space character][currency.symbol], for example: 500 users. Custom currencies cannot be added or removed via the API yet — rather the admin users of the account must configure them from the Pipedrive app.
  - name: DealFields
    description: |
      DealFields represent the near-complete schema for a Deal in the context of the company of the authorized user. Each company can have a different schema for their Deals, with various custom fields. In the context of using DealFields as a schema for defining the data fields of a Deal, it must be kept in mind that some types of custom fields can have additional data fields which are not separate DealFields per se. Such is the case with monetary, daterange and timerange fields – each of these fields will have one additional data field in addition to the one presented in the context of DealFields. For example, if there is a monetary field with the key `ffk9s9` stored on the account, `ffk9s9` would hold the numeric value of the field, and `ffk9s9_currency` would hold the ISO currency code that goes along with the numeric value. To find out which data fields are available, fetch one Deal and list its keys."
  - name: Deals
    description: |
      Deals represent ongoing, lost or won sales to an Organization or to a Person. Each deal has a monetary value and must be placed in a Stage. Deals can be owned by a User, and followed by one or many Users. Each Deal consists of standard data fields but can also contain a number of custom fields. The custom fields can be recognized by long hashes as keys. These hashes can be mapped against `DealField.key`. The corresponding label for each such custom field can be obtained from `DealField.name`.
  - name: Files
    description: |
      Files are documents of any kind (images, spreadsheets, text files, etc.) that are uploaded to Pipedrive, and usually associated with a particular Deal, Person, Organization, Product, Note or Activity. Remote files can only be associated with a particular Deal, Person or Organization. Note that the API currently does not support downloading files although it lets you retrieve a file’s meta-info along with a URL which can be used to download the file by using a standard HTTP GET request.
  - name: Filters
    description: |
      Each filter is essentially a set of data validation conditions. A filter of the same kind can be applied when fetching list of Deals, Persons, Organizations, Products or Deals in the context of a Pipeline. When applied, only items matching the conditions of the filter are returned. Detailed definitions of filter conditions and additional functionality is not yet available.
  - name: GlobalMessages
    description: |
      Get or dismiss global messages
  - name: Goals
    description: |
      Goals help your team meet your sales targets. There are three types of goals - company, team and user.
  - name: ItemSearch
    description: |
      Ordered reference objects, pointing to either Deals, Persons, Organizations, Leads, Products, Files or Mail Attachments.
  - name: LeadLabels
    description: |
      Lead labels allow you to visually categorize your leads. There are three default lead labels: hot, cold, and warm, but you can add as many new custom labels as you want.
  - name: LeadSources
    description: |
      Lead source indicates, where you lead came from. Currently, these are the possible lead sources: `Manually created`, `Deal`, `Web Forms`, `Prospector`, `Chatbot`, `Live Chat`, `Import`, `Web Visitors`, `Workflow Automation`, and `API`. Lead sources are pre-defined and cannot be edited.
  - name: Leads
    description: |
      Leads are potential deals stored in Leads Inbox before they are archived or converted to a Deal. Each Lead needs to be named (using the `title` field) and be linked to a Person or an Organization. In addition to that, a Lead can contain most of the fields a Deal can (such as `value` or `expected_close_date`).
  - name: Mailbox
    description: |
      Mailbox was designed to be the email control hub inside Pipedrive. Pipedrive supports all major providers (including Gmail, Outlook and also custom IMAP/SMTP). There are 2 options for syncing user emails: 2-way sync: Mail Connection is established with the mail provider (example Gmail). There can be only 1 active Mail Connection per user in company. 1-way sync: SmartBCC feature which stores the copies of email messages to Pipedrive by adding the SmartBCC specific address to mail recipients.
  - name: NoteFields
    description: |
      NoteFields represent different fields that Note has.
  - name: Notes
    description: |
      Notes are pieces of textual (HTML-formatted) information that can be attached to Deals, Persons and Organizations. Notes are usually displayed in the UI in chronological order – newest first – and in context with other updates regarding the item they are attached to. The maximum note size is approximately 3,000,000 characters (or 3MB per note).
  - name: OrganizationFields
    description: |
      OrganizationFields represent the near-complete schema for an Organization in the context of the company of the authorized user. Each company can have a different schema for their Organizations, with various custom fields. In the context of using OrganizationFields as a schema for defining the data fields of an Organization, it must be kept in mind that some types of custom fields can have additional data fields which are not separate OrganizationFields per se. Such is the case with monetary, daterange and timerange fields – each of these fields will have one additional data field in addition to the one presented in the context of OrganizationFields. For example, if there is a monetary field with the key 'ffk9s9' stored on the account, 'ffk9s9' would hold the numeric value of the field, and 'ffk9s9_currency' would hold the ISO currency code that goes along with the numeric value. To find out which data fields are available, fetch one Organization and list its keys.
  - name: OrganizationRelationships
  - name: Organizations
    description: |
      Organizations are companies and other kinds of organizations you are making Deals with. Persons can be associated with organizations so that each organization can contain one or more Persons.
  - name: PermissionSets
  - name: PersonFields
    description: |
      PersonFields represent the near-complete schema for a Person in the context of the company of the authorized user. Each company can have a different schema for their Persons, with various custom fields. In the context of using PersonFields as a schema for defining the data fields of a Person, it must be kept in mind that some types of custom fields can have additional data fields which are not separate PersonFields per se. Such is the case with monetary, daterange and timerange fields – each of these fields will have one additional data field in addition to the one presented in the context of PersonFields. For example, if there is a monetary field with the key `ffk9s9` stored on the account, `ffk9s9` would hold the numeric value of the field, and `ffk9s9_currency` would hold the ISO currency code that goes along with the numeric value. To find out which data fields are available, fetch one Person and list its keys.
  - name: Persons
    description: |
      Persons are your contacts, the customers you are doing Deals with. Each Person can belong to an Organization. Persons should not be confused with Users.
  - name: Pipelines
    description: |
      Pipelines are essentially ordered collections of Stages.
  - name: ProductFields
    description: |
      ProductFields represent the near-complete schema for a Product in the context of the company of the authorized user. Each company can have a different schema for their Products, with various custom fields. In the context of using ProductFields as a schema for defining the data fields of a Product, it must be kept in mind that some types of custom fields can have additional data fields which are not separate ProductFields per se. Such is the case with monetary, daterange and timerange fields – each of these fields will have one additional data field in addition to the one presented in the context of ProductFields. For example, if there is a monetary field with the key `ffk9s9` stored on the account, `ffk9s9` would hold the numeric value of the field, and `ffk9s9_currency` would hold the ISO currency code that goes along with the numeric value. To find out which data fields are available, fetch one Product and list its keys.
  - name: Products
    description: |
      Products are the goods or services you are dealing with. Each product can have N different price points - first, each Product can have a price in N different currencies, and secondly, each Product can have N variations of itself, each having N prices different currencies. Note that only one price per variation per currency is supported. Products can be instantiated to Deals. In the context of instatiation, a custom price, quantity, duration and discount can be applied.
  - name: Recents
    description: |
      Recent changes across all item types in Pipedrive (deals, persons, etc).
  - name: Roles
    description: |
      Roles are a part of the Visibility groups’ feature that allow the Admin user to categorize other users and dictate what items they will be allowed access to see.
  - name: SearchResults
    description: |
      Ordered reference objects, pointing to either Deals, Persons, Organizations, Files or Products.
  - name: Stages
    description: |
      Stage is a logical component of a Pipeline, and essentially a bucket that can hold a number of Deals. In the context of the Pipeline a stage belongs to, it has an order number which defines the order of stages in that Pipeline.
  - name: Subscriptions
    description: |
      Subscriptions represent the revenue that is occurring over time with payments of varying amounts and payment dates (installment subscription) or over fixed intervals of time with payments of the same amount (recurring subscription).
  - name: Teams
    description: |
      Teams allow you to form groups of users withing the organization for more efficient management.
  - name: UserConnections
    description: |
      Manage user connections.
  - name: UserSettings
    description: |
      User settings
  - name: Users
    description: |
      Users are people with access to your Pipedrive account. A user may belong to one or many Pipedrive accounts, so deleting a user from one Pipedrive account will not remove the user from the data store if he/she is connected to multiple accounts. Users should not be confused with Persons.
  - name: Webhooks
    description: 'See <a href="https://pipedrive.readme.io/docs/guide-for-webhooks?ref=api_reference">https://pipedrive.readme.io/docs/guide-for-webhooks</a> for more info about webhooks.'
paths:
  /activities:
    delete:
      summary: Delete multiple Activities in bulk
      description: Marks multiple Activities as deleted
      operationId: deleteActivities
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - 'activities:full'
      parameters:
        - in: query
          name: ids
          required: true
          description: Comma-separated IDs of Activities that will be deleted
          schema:
            type: string
      responses:
        '200':
          description: The Activities were successfully deleted
          content:
            application/json:
              schema:
                title: deleteActivitiesResponse200
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: array
                        description: An array of IDs of Activities that were deleted
                        items:
                          type: integer
              example:
                success: true
                data:
                  id:
                    - 625
                    - 627
    get:
      summary: Get all Activities assigned to a particular User
      description: Returns all Activities assigned to a particular User.
      operationId: getActivities
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - 'activities:read'
            - 'activities:full'
      parameters:
        - in: query
          name: user_id
          required: false
          schema:
            type: integer
          description: 'The ID of the User whose Activities will be fetched. If omitted, the User associated with the API token will be used. If 0, Activities for all company Users will be fetched based on the permission sets.'
        - in: query
          name: filter_id
          required: false
          schema:
            type: integer
          description: The ID of the Filter to use (will narrow down results if used together with `user_id` parameter)
        - in: query
          name: type
          required: false
          schema:
            type: string
          description: 'Type of the Activity, can be one type or multiple types separated by a comma. This is in correlation with the `key_string` parameter of ActivityTypes.'
        - in: query
          name: limit
          description: 'For pagination, the limit of entries to be returned. If not provided, 100 items will be returned.'
          schema:
            type: integer
            example: 100
        - in: query
          name: start
          description: 'For pagination, the position that represents the first result for the page'
          schema:
            type: integer
            example: 0
        - in: query
          name: start_date
          required: false
          schema:
            type: string
            format: date
          description: Use the Activity due date where you wish to begin fetching Activities from. Insert due date in YYYY-MM-DD format.
        - in: query
          name: end_date
          required: false
          schema:
            type: string
            format: date
          description: Use the Activity due date where you wish to stop fetching Activities from. Insert due date in YYYY-MM-DD format.
        - in: query
          name: done
          schema:
            title: numberBoolean
            type: number
            enum:
              - 0
              - 1
          description: 'Whether the Activity is done or not. 0 = Not done, 1 = Done. If omitted returns both Done and Not done activities.'
      responses:
        '200':
          description: A list of Activities
          content:
            application/json:
              schema:
                title: getActivitiesResponse200
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ActivityResponseObjectData"                  
                  additional_data:
                    type: object
                    properties:
                      pagination:
                        description: Pagination details of the list
                        type: object
                        properties:
                          start:
                            type: integer
                            description: Pagination start
                          limit:
                            type: integer
                            description: Items shown per page
                          more_items_in_collection:
                            type: boolean
                            description: Whether there are more list items in the collection than displayed
                          next_start:
                            type: integer
                            description: Next pagination start
                  related_objects:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          USER_ID:
                            type: object
                            title: userDataWithId
                            allOf:
                              - properties:
                                  id:
                                    type: integer
                                    description: The ID of the User
                                  name:
                                    type: string
                                    description: The name of the User
                                  email:
                                    type: string
                                    description: The email of the User
                                  has_pic:
                                    type: integer
                                    description: 'Whether the User has picture or not. 0 = No picture, 1 = Has picture.'
                                  pic_hash:
                                    type: string
                                    nullable: true
                                    description: The User picture hash
                                  active_flag:
                                    type: boolean
                                    description: If the User is activated or not
                              - type: object
                                description: The ID of the User
                      deal:
                        type: object
                        properties:
                          DEAL_ID:
                            type: object
                            description: The ID of the Deal which is associated with the item
                            properties:
                              id:
                                type: integer
                                description: The ID of the Deal associated with the item
                              title:
                                type: string
                                description: The title of the Deal associated with the item
                              status:
                                type: string
                                description: The status of the Deal associated with the item
                              value:
                                type: number
                                description: The value of the Deal that is associated with the item
                              currency:
                                type: string
                                description: The currency of the Deal value
                              stage_id:
                                type: integer
                                description: The ID of the stage the Deal is currently at
                              pipeline_id:
                                type: integer
                                description: The ID of the pipeline the Deal is in
                      person:
                        type: object
                        properties:
                          PERSON_ID:
                            type: object
                            description: The ID of the Person associated with the item
                            allOf:
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the Person associated with the item
                                  name:
                                    type: string
                                    description: The name of the Person associated with the item
                                  email:
                                    type: array
                                    description: The emails of the Person associated with the item
                                    items:
                                      type: object
                                      properties:
                                        label:
                                          type: string
                                          description: The type of the email
                                        value:
                                          type: string
                                          description: The email of the associated Person
                                        primary:
                                          type: boolean
                                          description: If this is the primary email or not
                                  phone:
                                    type: array
                                    description: The phone numbers of the Person associated with the item
                                    items:
                                      type: object
                                      properties:
                                        label:
                                          type: string
                                          description: The type of the phone number
                                        value:
                                          type: string
                                          description: The phone number of the Person associated with the item
                                        primary:
                                          type: boolean
                                          description: If this is the primary phone number or not
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the Person that is associated with the item
                      organization:
                        type: object
                        properties:
                          ORGANIZATION_ID:
                            type: object
                            description: The ID of the Organization associated with the item
                            allOf:
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the Organization associated with the item
                              - type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the Organization associated with the item
                                  people_count:
                                    type: integer
                                    description: The number of people connected with the Organization that is associated with the item
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the Organization that is associated with the item
                                  address:
                                    type: string
                                    description: The address of the Organization
                                  cc_email:
                                    type: string
                                    description: The CC email of the Organization associated with the item
              example:
                success: true
                data:
                  - id: 8
                    company_id: 22122
                    user_id: 1234
                    done: false
                    type: deadline
                    reference_type: scheduler-service
                    reference_id: 7
                    conference_meeting_client: 871b8bc88d3a1202
                    conference_meeting_url: 'https://pipedrive.zoom.us/link'
                    conference_meeting_id: 01758746701
                    due_date: '2020-06-09'
                    due_time: '10:00'
                    duration: '01:00'
                    busy_flag: true
                    add_time: '2020-06-08 12:37:56'
                    marked_as_done_time: '2020-08-08 08:08:38'
                    last_notification_time: '2020-08-08 12:37:56'
                    last_notification_user_id: 7655
                    notification_language_id: 1
                    subject: Deadline
                    public_description: This is a description
                    calendar_sync_include_context: null
                    location: 'Mustamäe tee 3, Tallinn, Estonia'
                    org_id: 5
                    person_id: 1101
                    deal_id: 300
                    lead_id: null
                    active_flag: true
                    update_time: '2020-08-08 12:37:56'
                    update_user_id: 5596
                    gcal_event_id: null
                    google_calendar_id: null
                    google_calendar_etag: null
                    source_timezone: null
                    rec_rule: 'RRULE:FREQ=WEEKLY;BYDAY=WE'
                    rec_rule_extension: null
                    rec_master_activity_id: null
                    series: null
                    note: A note for the activity
                    created_by_user_id: 1234
                    location_subpremise: ''
                    location_street_number: '3'
                    location_route: Mustamäe tee
                    location_sublocality: Kristiine
                    location_locality: Tallinn
                    location_lat: 59.4281884
                    location_long: 24.7041378
                    location_admin_area_level_1: Harju maakond
                    location_admin_area_level_2: ''
                    location_country: Estonia
                    location_postal_code: '10616'
                    location_formatted_address: 'Mustamäe tee 3, 10616 Tallinn, Estonia'
                    attendees:
                      - email_address: attendee@pipedrivemail.com
                        is_organizer: 0
                        name: Attendee
                        person_id: 25312
                        status: noreply
                        user_id: null
                    participants:
                      - person_id: 17985
                        primary_flag: false
                      - person_id: '1101,'
                        primary_flag: true
                    org_name: Organization
                    person_name: Person
                    deal_title: Deal
                    owner_name: Creator
                    person_dropbox_bcc: company@pipedrivemail.com
                    deal_dropbox_bcc: company+deal300@pipedrivemail.com
                    assigned_to_user_id: 1235
                    file:
                      id: '376892,'
                      clean_name: 'Audio 10:55:07.m4a'
                      url: 'https://pipedrive-files.s3-eu-west-1.amazonaws.com/Audio-recording.m4a'
                related_objects:
                  user:
                    '1234':
                      id: 1234
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '5':
                      id: 5
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: 'Mustamäe tee 3a, 10615 Tallinn'
                      cc_email: org@pipedrivemail.com
                  person:
                    '1101':
                      id: 1101
                      name: Person
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '3421787767'
                          primary: true
                      owner_id: 8877
                  deal:
                    '300':
                      id: 300
                      title: Deal
                      status: open
                      value: 856
                      currency: EUR
                      stage_id: 1
                      pipeline_id: 1
                additional_data:
                  pagination:
                    start: 0
                    limit: 100
                    more_items_in_collection: false
                    next_start: 1
    post:
      summary: Add an Activity
      description: 'Adds a new Activity. Includes `more_activities_scheduled_in_context` property in response''s `additional_data` which indicates whether there are more undone Activities scheduled with the same Deal, Person or Organization (depending on the supplied data). For more information on how to add an Activity, see <a href="https://pipedrive.readme.io/docs/adding-an-activity" target="_blank" rel="noopener noreferrer">this tutorial</a>.'
      operationId: addActivity
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - 'activities:full'
      requestBody:
        description: AddActivity request
        content:
          application/json:
            schema:
              title: addActivityRequest
              allOf:
                - type: object
                  properties:
                    due_date:
                      description: 'Due date of the Activity. Format: YYYY-MM-DD'
                      type: string
                      format: date
                    due_time:
                      description: 'Due time of the Activity in UTC. Format: HH:MM'
                      type: string
                    duration:
                      description: 'Duration of the Activity. Format: HH:MM'
                      type: string
                    deal_id:
                      description: The ID of the Deal this Activity is associated with
                      type: integer
                    person_id:
                      description: The ID of the Person this Activity is associated with
                      type: integer
                    org_id:
                      description: The ID of the Organization this Activity is associated with
                      type: integer
                    note:
                      description: Note of the Activity (HTML format)
                      type: string
                    location:
                      description: The address of the Activity. Pipedrive will automatically check if the location matches a geo-location on Google maps.
                      type: string
                    public_description:
                      description: 'Additional details about the Activity that is synced to your external calendar. Unlike the note added to the Activity, the description is publicly visible to any guests added to the Activity.'
                      type: string
                - type: object
                  properties:
                    subject:
                      description: 'Subject of the Activity. When value for subject is not set, it will be given a default value `Call`.'
                      type: string
                    type:
                      description: 'Type of the Activity. This is in correlation with the `key_string` parameter of ActivityTypes. When value for type is not set, it will be given a default value `Call`.'
                      type: string
                    user_id:
                      description: 'The ID of the User whom the Activity is assigned to. If omitted, the Activity is assigned to the authorized User.'
                      type: integer
                    participants:
                      description: 'List of multiple Persons (participants) this Activity is associated with. If omitted, single participant from `person_id` field is used. It requires a structure as follows: `[{"person_id":1,"primary_flag":true}]`'
                      type: array
                      items:
                        type: object
                    busy_flag:
                      description: 'Set the Activity as ''Busy'' or ''Free''. If the flag is set to `true`, your customers will not be able to book that time slot through any Scheduler links. The flag can also be unset by never setting it or overriding it with `null`. When the value of the flag is unset (`null`), the flag defaults to ''Busy'' if it has a time set, and ''Free'' if it is an all-day event without specified time.'
                      type: boolean
                      enum:
                        - true
                        - false
                    attendees:
                      description: 'Attendees of the Activity. This can be either your existing Pipedrive contacts or an external email address. It requires a structure as follows: `[{"email_address":"mail@example.org"}]` or `[{"person_id":1, "email_address":"mail@example.org"}]`'
                      type: array
                      items:
                        type: object
                    done:
                      allOf:
                        - title: numberBoolean
                          type: number
                          enum:
                            - 0
                            - 1
                      description: 'Whether the Activity is done or not. 0 = Not done, 1 = Done'
      responses:
        '200':
          description: The Activity was successfully added
          content:
            application/json:
              schema:
                title: addActivityResponse200
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/ActivityResponseObjectData"
                  additional_data:
                    type: object
                    properties:
                      updates_story_id:
                        type: integer
                        description: This field will be deprecated
                  related_objects:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          USER_ID:
                            type: object
                            title: userDataWithId
                            allOf:
                              - properties:
                                  id:
                                    type: integer
                                    description: The ID of the User
                                  name:
                                    type: string
                                    description: The name of the User
                                  email:
                                    type: string
                                    description: The email of the User
                                  has_pic:
                                    type: integer
                                    description: 'Whether the User has picture or not. 0 = No picture, 1 = Has picture.'
                                  pic_hash:
                                    type: string
                                    nullable: true
                                    description: The User picture hash
                                  active_flag:
                                    type: boolean
                                    description: If the User is activated or not
                              - type: object
                                description: The ID of the User
                      deal:
                        type: object
                        properties:
                          DEAL_ID:
                            type: object
                            description: The ID of the Deal which is associated with the item
                            properties:
                              id:
                                type: integer
                                description: The ID of the Deal associated with the item
                              title:
                                type: string
                                description: The title of the Deal associated with the item
                              status:
                                type: string
                                description: The status of the Deal associated with the item
                              value:
                                type: number
                                description: The value of the Deal that is associated with the item
                              currency:
                                type: string
                                description: The currency of the Deal value
                              stage_id:
                                type: integer
                                description: The ID of the stage the Deal is currently at
                              pipeline_id:
                                type: integer
                                description: The ID of the pipeline the Deal is in
                      person:
                        type: object
                        properties:
                          PERSON_ID:
                            type: object
                            description: The ID of the Person associated with the item
                            allOf:
                              - type: object
                                properties:
                                  active_flag:
                                    type: boolean
                                    description: If the associated Person is active or not
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the Person associated with the item
                                  name:
                                    type: string
                                    description: The name of the Person associated with the item
                                  email:
                                    type: array
                                    description: The emails of the Person associated with the item
                                    items:
                                      type: object
                                      properties:
                                        label:
                                          type: string
                                          description: The type of the email
                                        value:
                                          type: string
                                          description: The email of the associated Person
                                        primary:
                                          type: boolean
                                          description: If this is the primary email or not
                                  phone:
                                    type: array
                                    description: The phone numbers of the Person associated with the item
                                    items:
                                      type: object
                                      properties:
                                        label:
                                          type: string
                                          description: The type of the phone number
                                        value:
                                          type: string
                                          description: The phone number of the Person associated with the item
                                        primary:
                                          type: boolean
                                          description: If this is the primary phone number or not
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the Person that is associated with the item
                      organization:
                        type: object
                        properties:
                          ORGANIZATION_ID:
                            type: object
                            description: The ID of the Organization associated with the item
                            allOf:
                              - type: object
                                properties:
                                  active_flag:
                                    type: boolean
                                    description: If the associated Organization is active or not
                              - type: object
                                description: The ID of the Organization associated with the item
                                allOf:
                                  - type: object
                                    properties:
                                      id:
                                        type: integer
                                        description: The ID of the Organization associated with the item
                                  - type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the Organization associated with the item
                                      people_count:
                                        type: integer
                                        description: The number of people connected with the Organization that is associated with the item
                                      owner_id:
                                        type: integer
                                        description: The ID of the owner of the Organization that is associated with the item
                                      address:
                                        type: string
                                        description: The address of the Organization
                                      cc_email:
                                        type: string
                                        description: The CC email of the Organization associated with the item
              example:
                success: true
                data:
                  id: 8
                  company_id: 22122
                  user_id: 1234
                  done: false
                  type: deadline
                  reference_type: scheduler-service
                  reference_id: 7
                  conference_meeting_client: 871b8bc88d3a1202
                  conference_meeting_url: 'https://pipedrive.zoom.us/link'
                  conference_meeting_id: 01758746701
                  due_date: '2020-06-09'
                  due_time: '10:00'
                  duration: '01:00'
                  busy_flag: true
                  add_time: '2020-06-08 12:37:56'
                  marked_as_done_time: '2020-08-08 08:08:38'
                  last_notification_time: '2020-08-08 12:37:56'
                  last_notification_user_id: 7655
                  notification_language_id: 1
                  subject: Deadline
                  public_description: This is a description
                  calendar_sync_include_context: null
                  location: 'Mustamäe tee 3, Tallinn, Estonia'
                  org_id: 5
                  person_id: 1101
                  deal_id: 300
                  lead_id: null
                  active_flag: true
                  update_time: '2020-08-08 12:37:56'
                  update_user_id: 5596
                  gcal_event_id: null
                  google_calendar_id: null
                  google_calendar_etag: null
                  source_timezone: null
                  rec_rule: 'RRULE:FREQ=WEEKLY;BYDAY=WE'
                  rec_rule_extension: null
                  rec_master_activity_id: null
                  series: null
                  note: A note for the activity
                  created_by_user_id: 1234
                  location_subpremise: ''
                  location_street_number: '3'
                  location_route: Mustamäe tee
                  location_sublocality: Kristiine
                  location_locality: Tallinn
                  location_lat: 59.4281884
                  location_long: 24.7041378
                  location_admin_area_level_1: Harju maakond
                  location_admin_area_level_2: ''
                  location_country: Estonia
                  location_postal_code: '10616'
                  location_formatted_address: 'Mustamäe tee 3, 10616 Tallinn, Estonia'
                  attendees:
                    - email_address: attendee@pipedrivemail.com
                      is_organizer: 0
                      name: Attendee
                      person_id: 25312
                      status: noreply
                      user_id: null
                  participants:
                    - person_id: 17985
                      primary_flag: false
                    - person_id: '1101,'
                      primary_flag: true
                  org_name: Organization
                  person_name: Person
                  deal_title: Deal
                  owner_name: Creator
                  person_dropbox_bcc: company@pipedrivemail.com
                  deal_dropbox_bcc: company+deal300@pipedrivemail.com
                  assigned_to_user_id: 1235
                  file:
                    id: '376892,'
                    clean_name: 'Audio 10:55:07.m4a'
                    url: 'https://pipedrive-files.s3-eu-west-1.amazonaws.com/Audio-recording.m4a'
                related_objects:
                  user:
                    '1234':
                      id: 1234
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '5':
                      id: 5
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: 'Mustamäe tee 3a, 10615 Tallinn'
                      cc_email: org@pipedrivemail.com
                      active_flag: true
                  person:
                    '1101':
                      id: 1101
                      name: Person
                      active_flag: true
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '3421787767'
                          primary: true
                      owner_id: 8877
                  deal:
                    '300':
                      id: 300
                      title: Deal
                      status: open
                      value: 856
                      currency: EUR
                      stage_id: 1
                      pipeline_id: 1
                additional_data:
                  updates_story_id: 2039
  '/activities/{id}':
    delete:
      summary: Delete an Activity
      description: Deletes an Activity
      operationId: deleteActivity
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - 'activities:full'
      parameters:
        - in: path
          name: id
          description: The ID of the Activity
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The Activity was successfully deleted
          content:
            application/json:
              schema:
                title: deleteActivityResponse200
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: The ID of the Activity that was deleted
              example:
                success: true
                data:
                  id: 624
    get:
      summary: Get details of an Activity
      description: Returns details of a specific Activity
      operationId: getActivity
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - 'activities:read'
            - 'activities:full'
      parameters:
        - in: path
          name: id
          description: The ID of the Activity
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The request was successful
          content:
            application/json:
              schema:
                title: getActivityResponse200
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/ActivityResponseObjectData"
                  related_objects:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          USER_ID:
                            type: object
                            title: userDataWithId
                            allOf:
                              - properties:
                                  id:
                                    type: integer
                                    description: The ID of the User
                                  name:
                                    type: string
                                    description: The name of the User
                                  email:
                                    type: string
                                    description: The email of the User
                                  has_pic:
                                    type: integer
                                    description: 'Whether the User has picture or not. 0 = No picture, 1 = Has picture.'
                                  pic_hash:
                                    type: string
                                    nullable: true
                                    description: The User picture hash
                                  active_flag:
                                    type: boolean
                                    description: If the User is activated or not
                              - type: object
                                description: The ID of the User
                      deal:
                        type: object
                        properties:
                          DEAL_ID:
                            type: object
                            description: The ID of the Deal which is associated with the item
                            properties:
                              id:
                                type: integer
                                description: The ID of the Deal associated with the item
                              title:
                                type: string
                                description: The title of the Deal associated with the item
                              status:
                                type: string
                                description: The status of the Deal associated with the item
                              value:
                                type: number
                                description: The value of the Deal that is associated with the item
                              currency:
                                type: string
                                description: The currency of the Deal value
                              stage_id:
                                type: integer
                                description: The ID of the stage the Deal is currently at
                              pipeline_id:
                                type: integer
                                description: The ID of the pipeline the Deal is in
                      person:
                        type: object
                        properties:
                          PERSON_ID:
                            type: object
                            description: The ID of the Person associated with the item
                            allOf:
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the Person associated with the item
                                  name:
                                    type: string
                                    description: The name of the Person associated with the item
                                  email:
                                    type: array
                                    description: The emails of the Person associated with the item
                                    items:
                                      type: object
                                      properties:
                                        label:
                                          type: string
                                          description: The type of the email
                                        value:
                                          type: string
                                          description: The email of the associated Person
                                        primary:
                                          type: boolean
                                          description: If this is the primary email or not
                                  phone:
                                    type: array
                                    description: The phone numbers of the Person associated with the item
                                    items:
                                      type: object
                                      properties:
                                        label:
                                          type: string
                                          description: The type of the phone number
                                        value:
                                          type: string
                                          description: The phone number of the Person associated with the item
                                        primary:
                                          type: boolean
                                          description: If this is the primary phone number or not
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the Person that is associated with the item
                      organization:
                        type: object
                        properties:
                          ORGANIZATION_ID:
                            type: object
                            description: The ID of the Organization associated with the item
                            allOf:
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the Organization associated with the item
                              - type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the Organization associated with the item
                                  people_count:
                                    type: integer
                                    description: The number of people connected with the Organization that is associated with the item
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the Organization that is associated with the item
                                  address:
                                    type: string
                                    description: The address of the Organization
                                  cc_email:
                                    type: string
                                    description: The CC email of the Organization associated with the item
              example:
                success: true
                data:
                  id: 8
                  company_id: 22122
                  user_id: 1234
                  done: false
                  type: deadline
                  reference_type: scheduler-service
                  reference_id: 7
                  conference_meeting_client: 871b8bc88d3a1202
                  conference_meeting_url: 'https://pipedrive.zoom.us/link'
                  conference_meeting_id: 01758746701
                  due_date: '2020-06-09'
                  due_time: '10:00'
                  duration: '01:00'
                  busy_flag: true
                  add_time: '2020-06-08 12:37:56'
                  marked_as_done_time: '2020-08-08 08:08:38'
                  last_notification_time: '2020-08-08 12:37:56'
                  last_notification_user_id: 7655
                  notification_language_id: 1
                  subject: Deadline
                  public_description: This is a description
                  calendar_sync_include_context: null
                  location: 'Mustamäe tee 3, Tallinn, Estonia'
                  org_id: 5
                  person_id: 1101
                  deal_id: 300
                  lead_id: null
                  active_flag: true
                  update_time: '2020-08-08 12:37:56'
                  update_user_id: 5596
                  gcal_event_id: null
                  google_calendar_id: null
                  google_calendar_etag: null
                  source_timezone: null
                  rec_rule: 'RRULE:FREQ=WEEKLY;BYDAY=WE'
                  rec_rule_extension: null
                  rec_master_activity_id: null
                  series: null
                  note: A note for the activity
                  created_by_user_id: 1234
                  location_subpremise: ''
                  location_street_number: '3'
                  location_route: Mustamäe tee
                  location_sublocality: Kristiine
                  location_locality: Tallinn
                  location_lat: 59.4281884
                  location_long: 24.7041378
                  location_admin_area_level_1: Harju maakond
                  location_admin_area_level_2: ''
                  location_country: Estonia
                  location_postal_code: '10616'
                  location_formatted_address: 'Mustamäe tee 3, 10616 Tallinn, Estonia'
                  attendees:
                    - email_address: attendee@pipedrivemail.com
                      is_organizer: 0
                      name: Attendee
                      person_id: 25312
                      status: noreply
                      user_id: null
                  participants:
                    - person_id: 17985
                      primary_flag: false
                    - person_id: '1101,'
                      primary_flag: true
                  org_name: Organization
                  person_name: Person
                  deal_title: Deal
                  owner_name: Creator
                  person_dropbox_bcc: company@pipedrivemail.com
                  deal_dropbox_bcc: company+deal300@pipedrivemail.com
                  assigned_to_user_id: 1235
                  file:
                    id: '376892,'
                    clean_name: 'Audio 10:55:07.m4a'
                    url: 'https://pipedrive-files.s3-eu-west-1.amazonaws.com/Audio-recording.m4a'
                related_objects:
                  user:
                    '1234':
                      id: 1234
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '5':
                      id: 5
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: 'Mustamäe tee 3a, 10615 Tallinn'
                      cc_email: org@pipedrivemail.com
                  person:
                    '1101':
                      id: 1101
                      name: Person
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '3421787767'
                          primary: true
                      owner_id: 8877
                  deal:
                    '300':
                      id: 300
                      title: Deal
                      status: open
                      value: 856
                      currency: EUR
                      stage_id: 1
                      pipeline_id: 1
    put:
      summary: Edit an Activity
      description: 'Modifies an Activity. Includes `more_activities_scheduled_in_context` property in response''s `additional_data` which indicates whether there are more undone activities scheduled with the same Deal, Person or Organization (depending on the supplied data).'
      operationId: updateActivity
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - 'activities:full'
      parameters:
        - in: path
          name: id
          description: The ID of the Activity
          required: true
          schema:
            type: integer
      requestBody:
        description: UpdateActivity request
        content:
          application/json:
            schema:
              title: updateActivityRequest
              allOf:
                - type: object
                  properties:
                    due_date:
                      description: 'Due date of the Activity. Format: YYYY-MM-DD'
                      type: string
                      format: date
                    due_time:
                      description: 'Due time of the Activity in UTC. Format: HH:MM'
                      type: string
                    duration:
                      description: 'Duration of the Activity. Format: HH:MM'
                      type: string
                    deal_id:
                      description: The ID of the Deal this Activity is associated with
                      type: integer
                    person_id:
                      description: The ID of the Person this Activity is associated with
                      type: integer
                    org_id:
                      description: The ID of the Organization this Activity is associated with
                      type: integer
                    note:
                      description: Note of the Activity (HTML format)
                      type: string
                    location:
                      description: The address of the Activity. Pipedrive will automatically check if the location matches a geo-location on Google maps.
                      type: string
                    public_description:
                      description: 'Additional details about the Activity that is synced to your external calendar. Unlike the note added to the Activity, the description is publicly visible to any guests added to the Activity.'
                      type: string
                - type: object
                  properties:
                    subject:
                      description: Subject of the Activity
                      type: string
                    type:
                      description: Type of the Activity. This is in correlation with the `key_string` parameter of ActivityTypes.
                      type: string
                    user_id:
                      description: The ID of the User whom the Activity is assigned to
                      type: integer
                    participants:
                      description: 'List of multiple Persons (participants) this Activity is associated with. It requires a structure as follows: `[{"person_id":1,"primary_flag":true}]`'
                      type: array
                      items:
                        type: object
                    busy_flag:
                      description: 'Set the Activity as ''Busy'' or ''Free''. If the flag is set to `true`, your customers will not be able to book that time slot through any Scheduler links. The flag can also be unset by never setting it or overriding it with `null`. When the value of the flag is unset (`null`), the flag defaults to ''Busy'' if it has a time set, and ''Free'' if it is an all-day event without specified time.'
                      type: boolean
                      enum:
                        - true
                        - false
                    attendees:
                      description: 'Attendees of the Activity. This can be either your existing Pipedrive contacts or an external email address. It requires a structure as follows: `[{"email_address":"mail@example.org"}]` or `[{"person_id":1, "email_address":"mail@example.org"}]`'
                      type: array
                      items:
                        type: object
                    done:
                      allOf:
                        - title: numberBoolean
                          type: number
                          enum:
                            - 0
                            - 1
                      description: 'Whether the Activity is done or not. 0 = Not done, 1 = Done'
      responses:
        '200':
          description: The request was successful
          content:
            application/json:
              schema:
                title: updateActivityResponse200
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/ActivityResponseObjectData"
                  related_objects:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          USER_ID:
                            type: object
                            title: userDataWithId
                            allOf:
                              - properties:
                                  id:
                                    type: integer
                                    description: The ID of the User
                                  name:
                                    type: string
                                    description: The name of the User
                                  email:
                                    type: string
                                    description: The email of the User
                                  has_pic:
                                    type: integer
                                    description: 'Whether the User has picture or not. 0 = No picture, 1 = Has picture.'
                                  pic_hash:
                                    type: string
                                    nullable: true
                                    description: The User picture hash
                                  active_flag:
                                    type: boolean
                                    description: If the User is activated or not
                              - type: object
                                description: The ID of the User
                      deal:
                        type: object
                        properties:
                          DEAL_ID:
                            type: object
                            description: The ID of the Deal which is associated with the item
                            properties:
                              id:
                                type: integer
                                description: The ID of the Deal associated with the item
                              title:
                                type: string
                                description: The title of the Deal associated with the item
                              status:
                                type: string
                                description: The status of the Deal associated with the item
                              value:
                                type: number
                                description: The value of the Deal that is associated with the item
                              currency:
                                type: string
                                description: The currency of the Deal value
                              stage_id:
                                type: integer
                                description: The ID of the stage the Deal is currently at
                              pipeline_id:
                                type: integer
                                description: The ID of the pipeline the Deal is in
                      person:
                        type: object
                        properties:
                          PERSON_ID:
                            type: object
                            description: The ID of the Person associated with the item
                            allOf:
                              - type: object
                                properties:
                                  active_flag:
                                    type: boolean
                                    description: If the associated Person is active or not
                              - type: object
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the Person associated with the item
                                  name:
                                    type: string
                                    description: The name of the Person associated with the item
                                  email:
                                    type: array
                                    description: The emails of the Person associated with the item
                                    items:
                                      type: object
                                      properties:
                                        label:
                                          type: string
                                          description: The type of the email
                                        value:
                                          type: string
                                          description: The email of the associated Person
                                        primary:
                                          type: boolean
                                          description: If this is the primary email or not
                                  phone:
                                    type: array
                                    description: The phone numbers of the Person associated with the item
                                    items:
                                      type: object
                                      properties:
                                        label:
                                          type: string
                                          description: The type of the phone number
                                        value:
                                          type: string
                                          description: The phone number of the Person associated with the item
                                        primary:
                                          type: boolean
                                          description: If this is the primary phone number or not
                                  owner_id:
                                    type: integer
                                    description: The ID of the owner of the Person that is associated with the item
                      organization:
                        type: object
                        properties:
                          ORGANIZATION_ID:
                            type: object
                            description: The ID of the Organization associated with the item
                            allOf:
                              - type: object
                                properties:
                                  active_flag:
                                    type: boolean
                                    description: If the associated Organization is active or not
                              - type: object
                                description: The ID of the Organization associated with the item
                                allOf:
                                  - type: object
                                    properties:
                                      id:
                                        type: integer
                                        description: The ID of the Organization associated with the item
                                  - type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the Organization associated with the item
                                      people_count:
                                        type: integer
                                        description: The number of people connected with the Organization that is associated with the item
                                      owner_id:
                                        type: integer
                                        description: The ID of the owner of the Organization that is associated with the item
                                      address:
                                        type: string
                                        description: The address of the Organization
                                      cc_email:
                                        type: string
                                        description: The CC email of the Organization associated with the item
              example:
                success: true
                data:
                  id: 8
                  company_id: 22122
                  user_id: 1234
                  done: false
                  type: deadline
                  reference_type: scheduler-service
                  reference_id: 7
                  conference_meeting_client: 871b8bc88d3a1202
                  conference_meeting_url: 'https://pipedrive.zoom.us/link'
                  conference_meeting_id: 01758746701
                  due_date: '2020-06-09'
                  due_time: '10:00'
                  duration: '01:00'
                  busy_flag: true
                  add_time: '2020-06-08 12:37:56'
                  marked_as_done_time: '2020-08-08 08:08:38'
                  last_notification_time: '2020-08-08 12:37:56'
                  last_notification_user_id: 7655
                  notification_language_id: 1
                  subject: Deadline
                  public_description: This is a description
                  calendar_sync_include_context: null
                  location: 'Mustamäe tee 3, Tallinn, Estonia'
                  org_id: 5
                  person_id: 1101
                  deal_id: 300
                  lead_id: null
                  active_flag: true
                  update_time: '2020-08-08 12:37:56'
                  update_user_id: 5596
                  gcal_event_id: null
                  google_calendar_id: null
                  google_calendar_etag: null
                  source_timezone: null
                  rec_rule: 'RRULE:FREQ=WEEKLY;BYDAY=WE'
                  rec_rule_extension: null
                  rec_master_activity_id: null
                  series: null
                  note: A note for the activity
                  created_by_user_id: 1234
                  location_subpremise: ''
                  location_street_number: '3'
                  location_route: Mustamäe tee
                  location_sublocality: Kristiine
                  location_locality: Tallinn
                  location_lat: 59.4281884
                  location_long: 24.7041378
                  location_admin_area_level_1: Harju maakond
                  location_admin_area_level_2: ''
                  location_country: Estonia
                  location_postal_code: '10616'
                  location_formatted_address: 'Mustamäe tee 3, 10616 Tallinn, Estonia'
                  attendees:
                    - email_address: attendee@pipedrivemail.com
                      is_organizer: 0
                      name: Attendee
                      person_id: 25312
                      status: noreply
                      user_id: null
                  participants:
                    - person_id: 17985
                      primary_flag: false
                    - person_id: '1101,'
                      primary_flag: true
                  org_name: Organization
                  person_name: Person
                  deal_title: Deal
                  owner_name: Creator
                  person_dropbox_bcc: company@pipedrivemail.com
                  deal_dropbox_bcc: company+deal300@pipedrivemail.com
                  assigned_to_user_id: 1235
                  file:
                    id: '376892,'
                    clean_name: 'Audio 10:55:07.m4a'
                    url: 'https://pipedrive-files.s3-eu-west-1.amazonaws.com/Audio-recording.m4a'
                related_objects:
                  user:
                    '1234':
                      id: 1234
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '5':
                      id: 5
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: 'Mustamäe tee 3a, 10615 Tallinn'
                      cc_email: org@pipedrivemail.com
                      active_flag: true
                  person:
                    '1101':
                      id: 1101
                      name: Person
                      active_flag: true
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '3421787767'
                          primary: true
                      owner_id: 8877
                  deal:
                    '300':
                      id: 300
                      title: Deal
                      status: open
                      value: 856
                      currency: EUR
                      stage_id: 1
                      pipeline_id: 1
  /activityFields:
    get:
      summary: Get all activity fields
      description: Returns all activity fields.
      operationId: getActivityFields
      tags:
        - ActivityFields
      security:
        - api_key: []
        - oauth2:
            - 'activities:read'
            - 'activities:full'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                title: fieldsResponse200
                allOf:
                  - title: baseResponse
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: If the response is successful or not
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: The ID of the Field. Value is `null` in case of subfields.
                            key:
                              type: string
                              description: The key of the Field. For custom fields this is generated upon creation.
                            name:
                              type: string
                              description: The name of the Field
                            order_nr:
                              type: integer
                              description: The order number of the Field
                            field_type:
                              allOf:
                                - type: string
                                  enum:
                                    - address
                                    - date
                                    - daterange
                                    - double
                                    - enum
                                    - int
                                    - monetary
                                    - org
                                    - people
                                    - phone
                                    - set
                                    - text
                                    - time
                                    - timerange
                                    - user
                                    - varchar
                                    - varchar_auto
                                    - visible_to
                                  description: 'Type of the field<table><tr><th>Value</th><th>Description</th></tr><tr><td>`address`</td><td>Address field (has multiple subfields, autocompleted by Google Maps)</td></tr><tr><td>`date`</td><td>Date (format YYYY-MM-DD)</td></tr><tr><td>`daterange`</td><td>Date-range field (has a start date and end date value, both YYYY-MM-DD)</td></tr><tr><td>`double`</td><td>Numeric value</td></tr><tr><td>`enum`</td><td>Options field with a single possible chosen option</td></tr><tr><td>`int`</td><td>Integer value</td></tr><tr><td>`monetary`</td><td>Monetary field (has a numeric value and a currency value)</td></tr><tr><td>`org`</td><td>Organization field (contains an organization ID which is stored on the same account)</td></tr><tr><td>`people`</td><td>Person field (contains a person ID which is stored on the same account)</td></tr><tr><td>`phone`</td><td>Phone field (up to 255 numbers and/or characters)</td></tr><tr><td>`set`</td><td>Options field with a possibility of having multiple chosen options</td></tr><tr><td>`text`</td><td>Long text (up to 65k characters)</td></tr><tr><td>`time`</td><td>Time field (format HH:MM:SS)</td></tr><tr><td>`timerange`</td><td>Time-range field (has a start time and end time value, both HH:MM:SS)</td></tr><tr><td>`user`</td><td>User field (contains a user ID of another Pipedrive user)</td></tr><tr><td>`varchar`</td><td>Text (up to 255 characters)</td></tr><tr><td>`varchar_auto`</td><td>Autocomplete text (up to 255 characters)</td></tr><tr><td>`visible_to`</td><td>System field that keeps item''s visibility setting</td></tr></table>'
                            add_time:
                              type: string
                              format: datetime
                              description: The creation time of the Field
                            update_time:
                              type: string
                              format: datetime
                              description: The update time of the Field
                            last_updated_by_user_id:
                              type: integer
                              description: 'The ID of the user who created or most recently updated the Field, only applicable for custom fields'
                            active_flag:
                              type: boolean
                              description: The active flag of the Field
                            edit_flag:
                              type: boolean
                              description: The edit flag of the Field
                            index_visible_flag:
                              type: boolean
                              description: Not used
                            details_visible_flag:
                              type: boolean
                              description: Not used
                            add_visible_flag:
                              type: boolean
                              description: Not used
                            important_flag:
                              type: boolean
                              description: Not used
                            bulk_edit_allowed:
                              type: boolean
                              description: Whether or not the Field of an Item can be edited in bulk
                            searchable_flag:
                              type: boolean
                              description: Whether ot not Items can be searched by this Field
                            filtering_allowed:
                              type: boolean
                              description: Whether or not Items can be filtered by this Field
                            sortable_flag:
                              type: boolean
                              description: Whether or not Items can be sorted by this Field
                            mandatory_flag:
                              type: boolean
                              description: Whether or not the Field is mandatory
                            options:
                              type: array
                              items:
                                type: object
                              description: 'The options of the Field. When there are no options, `null` is returned.'
                            options_deleted:
                              type: array
                              items:
                                type: object
                              description: The deleted options of the Field. Only present when there is at least 1 deleted option.
                            is_subfield:
                              type: boolean
                              description: Whether or not the Field is a subfield of another Field. Only present if Field is subfield.
                            subfields:
                              type: array
                              items:
                                type: object
                              description: Subfields of the Field. Only present when Field has subfields.
                      additional_data:
                        description: The additional data of the list
                        type: object
                        properties:
                          start:
                            type: integer
                            description: Pagination start
                          limit:
                            type: integer
                            description: Items shown per page
                          more_items_in_collection:
                            type: boolean
                            description: If there are more list items in the collection than displayed or not
              example:
                success: true
                data:
                  - id: 1
                    key: title
                    name: Title
                    order_nr: 2
                    field_type: varchar
                    add_time: '2019-02-04 13:58:03'
                    update_time: '2019-02-04 13:58:03'
                    last_updated_by_user_id: null
                    active_flag: true
                    edit_flag: false
                    index_visible_flag: true
                    details_visible_flag: true
                    add_visible_flag: true
                    important_flag: false
                    bulk_edit_allowed: true
                    searchable_flag: false
                    filtering_allowed: true
                    sortable_flag: true
                    options: null
                    mandatory_flag: true
                  - id: 2
                    key: 9dc80c50d78a15643bfc4ca79d76156a73a1ca0e
                    name: Customer Type
                    order_nr: 1
                    field_type: enum
                    add_time: '2019-02-04 13:58:03'
                    update_time: '2019-02-04 13:58:03'
                    last_updated_by_user_id: null
                    active_flag: true
                    edit_flag: true
                    index_visible_flag: true
                    details_visible_flag: true
                    add_visible_flag: false
                    important_flag: false
                    bulk_edit_allowed: true
                    searchable_flag: false
                    filtering_allowed: true
                    sortable_flag: true
                    options:
                      - id: 190
                        label: Private person
                      - id: 191
                        label: Company
                      - id: 192
                        label: Government
                    mandatory_flag: true
                additional_data:
                  pagination:
                    start: 0
                    limit: 100
                    more_items_in_collection: false
  /activityTypes:
    delete:
      summary: Delete multiple ActivityTypes in bulk
      description: Marks multiple ActivityTypes as deleted.
      operationId: deleteActivityTypes
      tags:
        - ActivityTypes
      security:
        - api_key: []
        - oauth2:
            - admin
      parameters:
        - in: query
          name: ids
          description: Comma-separated ActivityType IDs
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The ActivityTypes were successfully deleted
          content:
            application/json:
              schema:
                title: deleteActivityTypesResponse200
                allOf:
                  - title: baseResponse
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: If the response is successful or not
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: array
                            items:
                              type: integer
                            description: The IDs of deleted ActivityTypes
              example:
                success: true
                data:
                  id:
                    - 1
                    - 2
                    - 3
    get:
      summary: Get all ActivityTypes
      description: Returns all ActivityTypes.
      operationId: getActivityTypes
      tags:
        - ActivityTypes
      security:
        - api_key: []
        - oauth2:
            - 'activities:read'
            - 'activities:full'
            - admin
      responses:
        '200':
          description: A list of ActivityTypes
          content:
            application/json:
              schema:
                title: getActivityTypesResponse200
                allOf:
                  - title: baseResponse
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: If the response is successful or not
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: The ID of the ActivityType
                            name:
                              type: string
                              description: The name of the ActivityType
                            icon_key:
                              type: string
                              description: Icon graphic to use for representing this activity type.
                              enum:
                                - task
                                - email
                                - meeting
                                - deadline
                                - call
                                - lunch
                                - calendar
                                - downarrow
                                - document
                                - smartphone
                                - camera
                                - scissors
                                - cogs
                                - bubble
                                - uparrow
                                - checkbox
                                - signpost
                                - shuffle
                                - addressbook
                                - linegraph
                                - picture
                                - car
                                - world
                                - search
                                - clip
                                - sound
                                - brush
                                - key
                                - padlock
                                - pricetag
                                - suitcase
                                - finish
                                - plane
                                - loop
                                - wifi
                                - truck
                                - cart
                                - bulb
                                - bell
                                - presentation
                            color:
                              type: string
                              description: 'A designated color for the ActivityType in 6-character HEX format (e.g. `FFFFFF` for white, `000000` for black)'
                            order_nr:
                              type: integer
                              description: An order number for this ActivityType. Order numbers should be used to order the types in the ActivityType selections.
                            key_string:
                              type: string
                              description: A string that is generated by the API based on the given name of the ActivityType upon creation
                            active_flag:
                              type: boolean
                              description: The active flag of the ActivityType
                            is_custom_flag:
                              type: boolean
[...]
